
@using NeoErp.Core.Models;

@{
    ViewBag.Title = "Index";
    // Layout = "~/Views/Shared/_LayoutNew.cshtml";
    //var ItemCharges = ViewBag.itemCharges as List<NeoErp.Sales.Modules.Services.Models.ChargesTitle>;
}
<style type="text/css">
    /*.page-content {
        padding: 15px;
    }*/

    .btn-group {
        margin-right: 7px;
    }

    a#RunQuery {
        margin-right: 5px;
    }

    div.k-grid-header th.k-header, tr.k-filter-row > th {
        text-align: center;
    }

    /*.page-content-wrapper .page-content {
        margin-left: 99px;
        padding: 2px 8px 10px 20px !important;
    }*/

    .page-bar {
        margin-bottom: 0px !important;
    }

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }

    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-footer {
        font-size: 10px;
    }


    .search {
        padding: 5px 0;
        width: 230px;
        /*height: 30px;*/
        position: relative;
        top: -3px;
        left: -2px;
        float: left;
        line-height: 22px;
    }

        .search input {
            position: absolute;
            width: 0px;
            float: Left;
            margin-left: 196px;
            -webkit-transition: all 0.7s ease-in-out;
            -moz-transition: all 0.7s ease-in-out;
            -o-transition: all 0.7s ease-in-out;
            transition: all 0.7s ease-in-out;
            height: 27px;
            line-height: 18px;
            padding: 0 2px 0 2px;
            background-color: transparent;
            color: black;
            border-radius: 1px;
            border-right: none;
            border-left: none;
            border-left: solid 1px #c5c5c5 !important;
        }

        .search:hover input {
            width: 200px;
            /*margin-left:0px;
            border-left: solid 1px #c5c5c5 !important;*/
            /*border: 1px solid #c5c5c5;*/
            height: 26px;
            margin-left: -9px;
            width: 200px;
        }

    .search-btn {
        background-color: transparent;
        /*background-color: white;*/
        height: 17px;
        position: absolute;
        right: 0;
        top: 4px;
        border-radius: 1px;
    }

        .search-btn:hover {
            background-color: transparent;
            color: black;
            border: solid 1px #c5c5c5;
            border-left: none;
        }

    .k-header a.k-button {
        float: right;
        margin: 2px !important;
    }

    .search-btn:hover input .form-control, input .form-control:hover {
        border-color: #c5c5c5 !important;
    }

    .btn-group {
        margin-right: 0px !important;
    }

    .page-toolbar .btn-icon-only {
        margin: 2px 1px !important;
    }

    .page-toolbar .btn-group > .btn:first-child {
        margin-left: 2px !important;
    }

    .k-grid-content {
        font-size: 10px;
        max-height: 500px;
        min-height: 500px;
        /*overflow: auto;*/
    }
</style>



<div class="page-content1">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#!Loc/Index">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#!Loc/LcStatusReport">Lc Status Report</a>
                <i class="fa fa-angle-right"></i>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">

                <div class="actions">

                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/DateFieldWithWeek.cshtml", false)

                    </div>
                   
                    @*@Html.Partial("~/Views/Shared/Controls/ConsolidateFilter.cshtml", true)*@
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                   {
                       ShowCurrencyFilter = false,
                       ShowProductFilter = false,
                       ShowPartyTypeFilter = false,
                       ShowCategoryFilter = false,
                       ShowLocationFilter = false,
                       ShowDocumentFilter = false,
                       ShowCompanyFilter = false,
                       ShowBranchFilter = false,
                       ShowBrandFilter = false,
                       ShowLcStatusFilter = true,
                       ShowLcNumberFilter = true,
                      
                       ShowExpiryDateFilter = true,
                       ShowShipmentDateFilter = true,
                   })

                    
                    </div>
                    <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="#">
                        <i class="icon-control-play"></i>
                    </a>


                </div>
            </div>
        </div>

    </div>

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row collapse in" id="demo">
        <div class="col-md-12">
            <div class="portlet light bordered">

                <div class="portlet-body form">
                    <div class="row">


                        <div id="grid"></div>
                        <div id='menu' />
                        @Html.Partial("~/Views/Shared/Controls/_GridToolbar.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>

<script type="text/x-kendo-template" id="template">
    <div class="tabstrip">
        <ul>
            <li class="k-state-active">

            </li>

        </ul>
        <div>
            <div class="orders"></div>
        </div>

    </div>

</script>

<script src="@Scripts.Url("~/Areas/NeoERP.LOC/JS/Reports/LcStatusReport.js")"></script>
<script>
    $('.nav-tabs a').on('click', function (e) {

        e.preventDefault();

    });

</script>