<div ng-controller="currencyCtrl" id="currencyCtrl">
    
        <label for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" style="display:none;" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i><span style="color:red">{{currencyrerror}}</span></label>
    
    <input id="currency" ng-model="masterModels[element.COLUMN_NAME]" name="currency" class="currency mcurrency c w-100" kendo-drop-down-list
           k-placeholder="'Select Currency'"
           k-data-text-field="'CURRENCY_EDESC'"
           k-data-value-field="'CURRENCY_CODE'"
           k-option-label="'Select Currency'"
           k-filter="'contains'"
           k-suggest="true"
           k-on-change="CurrencyCodeOnChange(kendoEvent)"
           k-on-select="CurrencyCodeOnSelect(kendoEvent)"
           k-data-source="currencyDataSource" />
</div>


