<div ng-controller="documentTypeCtrl" id="documentTypeCtrl">
   
        <label for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i><span style="color:red">{{documenttypeerror}}</span></label>
    
    <input id="documenttype" ng-model="masterModels[element.COLUMN_NAME]" name="documenttype" class="documenttype mdocumenttype w-100" kendo-combo-box
           k-placeholder="'Select document type'"
           k-data-text-field="'TYPE_EDESC'"
           k-data-value-field="'TYPE_CODE'"
           k-option-label="'Select  document type'"
           k-filter="'contains'"
           k-auto-bind="true"
           k-suggest="false"
           k-options="documentTypeOption"
           k-on-change="documentTypeCodeOnChange(kendoEvent)"
           k-min-length="3"
           @*k-data-source="documentTypeDataSource"*@ />
</div>



