<div ng-controller="saleTypeCtrl" id="saleTypeCtrl">
    
        <label for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" style="display:none;" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i><span style="color:red">{{salestypeerror}}</span></label>
    
   
    <input id="salestype" ng-model="masterModels[element.COLUMN_NAME]" name="salestype" class="salestype msalestype w-100" kendo-drop-down-list
           k-placeholder="'Select Sales Type'"
           k-data-text-field="'SALES_TYPE_EDESC'"
           k-data-value-field="'SALES_TYPE_CODE'"
           k-option-label="'Select Sales Type'"
           k-suggest="false"
           k-options="SalesTypeCodeOption"
           k-on-change="salestypeCodeOnChange(kendoEvent)"
           k-min-length="3"
           @*k-data-source="salesTypeSetupDataSource"*@ />
</div>