<p> form template page {{FormCode}}</p>
@*<p>Form detail {{formDetail}}</p>*@
@*<div class="form-elements">
    <div ng-repeat="element in formSetupDetail">
        <div class="col-md-4 form-group">
            <label for="element">{{element.FORM_EDESC}}</label>
        <input type="text" id="element__{{element.COLUMN_NAME}}" class="form-control" />
        </div>

    </div>

</div>*@

<li ng-repeat="element in formSetupDetail" class="start active open">
    <a href="/DocumentTemplate/Home/Index#!DT/formtemplate/"{{element.FormCode}}>
        <i class="icon-home"></i>
        <span class="title">{{element.FORM_EDESC}}</span>
        <span class="selected"></span>
    </a>
</li>