
@{
    Layout = null;
}

<style>


    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }

    .k-splitbar.k-splitbar-horizontal {
        width: 5px;
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }


    .bodyController {
        margin-top: 4px;
    }



    .main .k-widget.k-dropdown.k-header {
        min-height: 22px !important;
    }

    .main .k-dropdown-wrap.k-state-default {
        min-height: 24px !important;
        font-size: 11px;
    }



    .k-splitter .k-scrollable {
        overflow-y: hidden !important;
    }

    .k-scrollable .k-widget.k-treeview {
        max-height: 444px;
        overflow: auto !important;
    }

    .k-i-calendar {
        margin-top: -10px;
    }

    span.k-icon.k-i-warning {
        display: none;
    }

    .calendar-icon-2 {
        top: 24px !important;
    }
</style>

<div class="row" id="bankReconcilationCtrl">

    <div class="col-md-12">

        <div class="portlet light form-fit bordered bottomspance">
            <div class="portlet mingap">

                <div class="portlet-title">

                    <div class="caption caption-title ng-binding">
                        <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        <i class="fa fa-gift font-green-haze"></i>
                        <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
                    </div>

                    <div class="actions">

                        <a class="btn btn-green" data-toggle="tooltip" data-placement="top" href="javascript:;" title="Cancel">
                            <i class="fa fa-close"></i>
                        </a>

                        @*<a class="btn btn-green" data-toggle="tooltip" data-placement="top" href="javascript:;" title="New">
            <i class="fa fa-plus-circle"></i>
        </a>*@

                        <a class="btn btn-green" data-toggle="tooltip" data-placement="top" href="javascript:;" title="Print">
                            <i class="fa fa-print"></i>
                        </a>

                        <a class="btn btn-green" data-toggle="tooltip" data-placement="top" href="javascript:;" title="Excel">
                            <i class="fa fa-file-excel-o"></i>
                        </a>

                        @Html.Partial("~/Views/Shared/Controls/ConsolidateFilter.cshtml", true)

                        <a class="btn btn-green" data-toggle="tooltip" data-placement="top" href="javascript:;">
                            <i class="fa fa-youtube-play red-color" style="color:darkred;"></i>
                        </a>

                        <a class="btn btn-green" data-toggle="tooltip" data-placement="top" title="Reconcile Update" ng-click="UpdateReconsileGrid()" href="javascript:;">
                            <i class="fa fa-check-square-o"></i>
                        </a>
                        @*<label class="btn btn-green" style="line-height:0 !important;">
            Reconcile From XL   <input type="file" hidden style="visibility:hidden;" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </label>*@
                        <div class="btn-group" style="margin-top:5px;">
                            <input id="avatar" type="file" name="avatar" style="width:185px;" />
                        </div>
                        <input type="checkbox" title="Hide Reconcled Voucher" />
                        <a class="btn btn-green" data-toggle="tooltip" data-placement="top" title="Tips" href="javascript:;">
                            <i class="fa fa-bullhorn"></i>
                        </a>
                        <input type="checkbox" title="Only Reconcled Voucher" />
                    </div>

                </div>
                <div class="portlet-body">

                    <div class="row">

                        <div class="col-md-12 col-sm-12 form-group">

                            <div class="col-md-5">
                                @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)

                            </div>

                            <div class="col-md-7">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="input-group input-medium">
                                            @*<select class="input-small form-control" ng-model="bankReconcilationObj.BANK_ACCOUNT_FILTER" name="selectedBank" id="selectedBank"
                                                    ng-options="id.ACC_EDESC for id in AllBankDetail">
                                                <option value="">Filter Bank A/C</option>
                                            </select>*@
                                            <div ng-dropdown-multiselect="" options="AllBankDetail" selected-model="bankReconcilationObj.BANK_ACCOUNT_FILTER" extra-settings="bankFilterControl"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-7">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="input-group input-medium ">
                                            <select class="input-small form-control" ng-model="bankReconcilationObj.BANK_ACCOUNT_FILTER" name="selectedBank" id="selectedBank"
                                                    ng-options="id.ACC_EDESC for id in GENERIC_FILTER">
                                                <option value="">Generic/Posted</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="divider" style="border-top: 3px dotted #bbb;"></div>
                    <div class="row">

                        <div class="tabbable">
                            <br />

                            <div class="" style="overflow:auto">

                                <kendo-grid id="bankReconcilatonGrid" options="bankReconcilatonGridOptions" k-rebind="bankReconcilatonGridOptions" class="kendo_gride_table" style="width:100%;">
                                </kendo-grid>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>

    </div>
</div>
<script src="@Scripts.Url("~/JS/DateFilter.js?V9")" type="text/javascript"></script>
<script>

    $(function () {

        DateFilter.init();
        consolidate.init();
        window.scrollTo(0, 0);
        $("#ShowConsolidateModal").children().addClass("btn-green");
    });
</script>
<script type="text/x-kendo-template" id="toolbar-template">
    <div class="col-md-12">
        <div class="col-md-11">#= OFFICE_NAME #</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-11">#= OFFICE_ADDRESS #</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-11">#= OFFICE_ADDRESS1 #</div>
        
    </div>
    <div class="col-md-12">
        <div class="col-md-11 align-right">Accounting Period</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-11">#= FORM_NAME#</div>
        
    </div>
    <div class="col-md-12">
        <div class="col-md-11 align-right">@DateTime.Now.ToLongDateString()</div>
    </div>
</script>
