
@{
    Layout = null;
}

<style>

    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }

    .k-splitbar.k-splitbar-horizontal {
        width: 5px;
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }


    .bodyController {
        margin-top: 4px;
    }



    .main .k-widget.k-dropdown.k-header {
        min-height: 22px !important;
    }

    .main .k-dropdown-wrap.k-state-default {
        min-height: 24px !important;
        font-size: 11px;
    }



    .k-splitter .k-scrollable {
        overflow-y: hidden !important;
    }

    .k-scrollable .k-widget.k-treeview {
        max-height: 444px;
        overflow: auto !important;
    }

    .k-i-calendar {
        margin-top: -10px;
    }

    span.k-icon.k-i-warning {
        display: none;
    }

    .calendar-icon-2 {
        top: 24px !important;
    }
</style>

<div class="row" id="bankGuranteeCtrl">

    <div class="col-md-12">

        <div class="portlet light form-fit bordered bottomspance">
            <div class="portlet mingap">

                <div class="portlet-title">

                    <div class="caption caption-title ng-binding">
                        <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        <i class="fa fa-gift font-green-haze"></i>
                        <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
                    </div>

                    <div class="actions">
                        @*<input type="text"  class="input-small form-control" placeholder="Search New..." />*@
                        <a class="btn btn-green-light" data-toggle="tooltip" data-placement="top" ng-click="newBankGurantee()" href="javascript:;" title="New">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a class="btn btn-green-light" data-toggle="tooltip" data-placement="top" href="javascript:;" title="Edit">
                            <i class="fa fa-edit"></i>
                        </a>

                        <a class="btn btn-green-light" data-toggle="tooltip" data-placement="top" href="javascript:;" title="Cancel">
                            <i class="fa fa-close"></i>
                        </a>

                        <a class="btn btn-green-light" data-toggle="tooltip" data-placement="top" href="javascript:;" title="Print">
                            <i class="fa fa-print"></i>
                        </a>

                        <input type="text" placeholder="Search New...." />
                        <a class="btn btn-green-light" data-toggle="tooltip" data-placement="top" href="javascript:;">
                            <i class="fa fa-youtube-play red-color" style="color:darkred;"></i>
                        </a>

                        @Html.Partial("~/Views/Shared/Controls/ConsolidateFilter.cshtml", true)

                        <a class="btn btn-green-light" data-toggle="tooltip" data-placement="top" href="javascript:;">
                            <i class="fa fa-search-plus"></i>
                        </a>

                        <a class="btn btn-green-light" data-toggle="tooltip" data-placement="top" href="javascript:;">
                            <i class="fa fa-file-excel-o"></i>
                        </a>

                    </div>

                </div>

                <div class="portlet-body">

                    <div class="row">

                        <div class="col-md-12 col-sm-12 form-group">

                            <div class="col-md-5">
                                @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)

                            </div>
                                                       
                            <div class="col-md-7">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="input-group input-medium ">
                                            @*<label>Expiry</label>*@
                                            <select class="input-small form-control" ng-model="bankGuranteeObj.EXPIRY" name="partyName" id="partyName"
                                                    @*ng-options="id.PARTY_TYPE_EDESC for id in AllPartyType track by id.PARTY_TYPE_CODE"*@>
                                                <option value="">Expiry</option>
                                                <option value="All">All Records</option>
                                                <option value="EO">Expiry Only</option>
                                                <option value="AO">Active Only</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-7">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="input-group input-medium ">
                                            @*<label>Filter</label>*@
                                            <select class="input-small form-control" ng-model="bankGuranteeObj.FILTERS" name="partyName" id="partyName"
                                                    @*ng-options="id.PARTY_TYPE_EDESC for id in AllPartyType track by id.PARTY_TYPE_CODE"*@>
                                                <option value="">Filters:</option>
                                                <option value="All">All Records</option>
                                                <option value="PA">Prior Alert</option>
                                                <option value="POA">Post Alert</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="divider" style="border-top: 3px dotted #bbb;"></div>

                    <div class="row">

                        <div class="tabbable">
                            <br />

                            <div class="" style="overflow:auto">

                                <kendo-grid id="bankGuranteeGrid" options="bankGuranteeGridOptions" k-rebind="bankGuranteeGridOptions" class="kendo_gride_table" style="width:100%;">
                                </kendo-grid>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="modal fade-out" id="bankGuranteeModal" data-backdrop="static" tabindex="-1" data-width="700">
                    <div class="modal-dialog" style="width:830px !important;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeBankGuranteeDialog()" next-on-tab>&times;</div>
                                <h4 class="modal-title">
                                    <span class="fa fa-file"></span>
                                    Bank Gurantee
                                </h4>
                            </div>
                            <div class="modal-body mb--8">
                                <div class="tab-content d-tab-content">
                                    <div class="tab-pane active" id="tab_15_1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>Bank Gurante Voucher</p>
                                                <p style="float:right;">Current Date: @DateTime.Now.ToLongDateString()</p>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <lable>Voucher No</lable>
                                                    <input type="text" placeholder="Voucher No" name="receiptNo" class="form-control" id="voucherNo" ng-model="bankGuranteeObj.VOUCHER_NO" />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Log Date</label>
                                                    <div class="input-group  date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                        <input type="text" id="logDateEnglish" class="dateEnglish form-control" ng-model="bankGuranteeObj.LOG_DATE_ENGLISH" placeholder="From Date" />
                                                        @*<i class="fa fa-calendar form-control-feedback calendar-icon-2" data-toggle="tooltip" title="Select date" style="top:5px !important;"></i>*@
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar" data-toggle="tooltip" title="Select date" style="top:5px !important;"></i>
                                                        </span>
                                                        <input type="text" class="dateNepali form-control" id="logDateNepali" ng-model="bankGuranteeObj.LOG_DATE_NEPALI" placeholder="To Date" />
                                                        @*<i class="fa fa-calendar form-control-feedback calendar-icon-2" data-toggle="tooltip" title="Select date" style="top:5px !important;"></i>*@
                                                    </div>
                                                </div>
                                               
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label>Customer Name:</label>
                                                    <select class="input-small form-control" ng-model="bankGuranteeObj.CUSTOMER_NAME" name="CustName" id="CustName" required
                                                            ng-options="id.CUSTOMER_EDESC for id in allCustomer track by id.CUSTOMER_CODE" ng-change="customerChanged()">
                                                        <option value="">Select Customer</option>
                                                    </select>

                                                </div>
                                                <div class="col-md-3">
                                                    <label>Supplier Name:</label>
                                                    <select class="input-small form-control" ng-model="bankGuranteeObj.SUPPLIER_NAME" name="SupName" id="SupName" 
                                                            ng-options="id.SUPPLIER_EDESC for id in allSupplier track by id.SUPPLIER_CODE" ng-change="supplierChanged()">
                                                        <option value="">Select Supplier</option>
                                                    </select>

                                                </div>
                                                <div class="col-md-6">
                                                    <label>Issuing Bank Account:</label>
                                                    <input type="text" placeholder="Issuing Bank Account" name="issuingBankAc" class="form-control" id="issuingBankAc" ng-model="bankGuranteeObj.ISSUING_BANK_ACCOUNT" />
                                                </div>

                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <label>Address:</label>
                                                    <input type="text" placeholder="Issuing Bank Account" name="address" class="form-control" id="address" ng-model="bankGuranteeObj.ADDRESS" />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Bank Gurantee No:</label>
                                                    <input type="text" placeholder="Bank Gurantee No" name="bankGuranteeNo" class="form-control" id="bankGuranteeNo" ng-model="bankGuranteeObj.BANK_GURANTEE_NO" />
                                                </div>
                                                @*
                                                *@

                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <label>Dealer:</label>
                                                    <select class="input-small form-control" ng-model="bankGuranteeObj.DEALER" name="dealer" id="dealer"
                                                            ng-options="id.PARTY_TYPE_EDESC for id in AllDealerType">
                                                        <option value="">Select Dealer</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>BG Amount:</label>
                                                    <input type="text" placeholder="BG Amount"  name="bgAmount" class="form-control" id="bgAmount" ng-model="bankGuranteeObj.BG_AMOUNT" />
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                 <div class="col-md-6">
                                                    <label>Start Date:</label>
                                                    <div class="input-group  date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="dateEnglish form-control" ng-model="bankGuranteeObj.START_DATE_ENGLISH" placeholder="From Date" />
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar" data-toggle="tooltip" title="Select date" style="top:5px !important;"></i>
                                                        </span>
                                                        <input type="text" class="dateNepali form-control" id="startDate" ng-model="bankGuranteeObj.START_DATE_NEPALI" placeholder="To Date" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Expiry Date:</label>
                                                    <div class="input-group  date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                        <input type="text" class="dateEnglish form-control" ng-model="bankGuranteeObj.EXPIRY_DATE_ENGLISH" placeholder="From Date" />
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar" data-toggle="tooltip" title="Select date" style="top:5px !important;"></i>
                                                        </span>
                                                        <input type="text" class="dateNepali form-control" ng-model="bankGuranteeObj.EXPIRY_DATE_NEPALI" id="expiryDate" placeholder="To Date" />
                                                    </div>
                                                </div>
                                               
                                                @**@
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <label>Remarks:</label>
                                                    <textarea class="form-control" placeholder="Remarks" name="moneyReceiptIssuedBy" id="moneyReceiptIssuedBy" ng-model="bankGuranteeObj.REMARKS" />
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Alert Prior Days</label>
                                                    <input class="input-small form-control" type="number" min="1" max="100" name="reminderPriorDays" id="reminderPriorDays" ng-model="PDCFormObject.REMINDER_PRIOR_DAYS">
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Expire Yes/No:</label>
                                                    <input type="checkbox" name="moneyReceiptIssuedBy" id="moneyReceiptIssuedBy" ng-model="bankGuranteeObj.EXPIRE" />
                                                </div>
                                            </div>

                                        </div>
                                        <hr />
                                         <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Sr.No</th>
                                                                <th scope="col">Amendment Date</th>
                                                                <th scope="col">Expiry Date</th>
                                                                <th scope="col">Remark</th>
                                                                <th scope="col">Change By</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <th scope="row">no</th>
                                                                <th>Date</th>
                                                                <th>Expiry</th>
                                                                <th>Remark</th>
                                                                <th>Change</th>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="modal-footer">
                                <button class="btn btn-green-light" id="btnConfirmToTag" ng-click="saveBankGurantee()">Save</button>
                                <button class="btn btn-green-light" id="btnConfirmToTag" ng-click="closeBankGuranteeDialog()" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-green-light" id="btnConfirmToTag" ng-click="closeBankGuranteeDialog()" data-dismiss="modal">Exit</button>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    </div> 
</div>
<script src="@Scripts.Url("~/JS/DateFilter.js?V9")" type="text/javascript"></script>
<script>
    $(function () {
        DateFilter.init();
    });


    $('.dateNepali').nepaliDatePicker({
                ndpEnglishInput: 'ToDateVoucher',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                onChange: function () {
                    $('#ddlDateFilterVoucher').val("Custom");
                    $("#ToDateVoucher").val(moment(BS2AD($("#toInputDateVoucher").val())).format("YYYY-MMM-DD"));
                }
      });


    $(".dateEnglish").datepicker({
                dateFormat: 'yy-M-d', changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
    });

    function ConvertNepToEng(e) {
            var date = BS2AD($("#nepaliDate5").val());
            var date1 = BS2AD($("#nepaliDate51").val());
            var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
            var FormattedEngDate1 = moment(date1).format('DD-MMM-YYYY');
            $("#englishdatedocument").val(FormattedEngDate);
            $("#englishdatedocument1").val(FormattedEngDate1);
        }

      function ConvertEngDateToNep(eng) {

            if (eng === undefined)
                return;
            var engmonthreq = "";
            var arr = eng.split('-');
            var day = (arr[0]);
            var month = (arr[1]);
            var year = (arr[2]);
            if (month == "Jan") { engmonthreq = "01" }
            else if (month == "Feb") { engmonthreq = "02" }
            else if (month == "Mar") { engmonthreq = "03" }
            else if (month == "Apr") { engmonthreq = "04" }
            else if (month == "May") { engmonthreq = "05" }
            else if (month == "Jun") { engmonthreq = "06" }
            else if (month == "Jul") { engmonthreq = "07" }
            else if (month == "Aug") { engmonthreq = "08" }
            else if (month == "Sep") { engmonthreq = "09" }
            else if (month == "Oct") { engmonthreq = "10" }
            else if (month == "Nov") { engmonthreq = "11" }
            else if (month == "Dec") { engmonthreq = "12" }
            engdatereq = year + '-' + engmonthreq + '-' + day;
            return convertednepdate = AD2BS(engdatereq);
        }
</script>