
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CashBankSetupHtml</title>

    <style>

        .demo-section label {
            margin-bottom: 5px !important;
            font-weight: bold !important;
            display: inline-block !important;
        }

        #example .demo-section {
            max-width: none !important;
            width: 515px !important;
        }

        #example .k-listbox {
            width: 236px !important;
            height: 300px !important;
            overflow: auto !important;
        }

        .k-list-scroller {
            height: 300px !important;
            overflow: auto !important;
        }

        #example .k-listbox:first-of-type {
            width: 333px !important;
            margin-right: 1px !important;
        }
        .borderedTreeList{
            border:1px solid gray;
        }

        fieldset.scheduler-border {
            /*border: 1px groove #ddd !important;*/
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.scheduler-border {
            font-size: 0.9em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }
        .k-grid-header{
            display:block !important;
            border-top-width :1px !important;
        }

        .k-splitbar.k-splitbar-horizontal {
            width: 5px; /*specify the width of the horizontal splitbar*/
        }


        .k-splitter {
            height: 490px !important;
        }

        .portlet-title.mingap {
            min-height: auto !important;
        }

        .bottomspance {
            padding: 2px 15px !important;
        }

        .portlet-title.mingap {
            min-height: auto !important;
        }

        .bottomspance .portlet-body {
            padding-top: 2px !important;
        }

        .portlet {
            margin-top: 0px;
            margin-bottom: 7px !important;
        }


        .bodyController {
            margin-top: 4px;
        }

        .green-box .k-grid-header {
            display: none;
        }

        table.k-selectable tbody td {
            font-size: 11px;
        }

        .green-box .k-grid {
            height: 447px !important;
            border: none !important;
        }

        .k-splitter .k-scrollable {
            overflow: hidden !important;
        }



        .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
            height: auto !important;
        }

        .k-virtual-scrollable-wrap {
            height: 454px !important;
        }
        /*abc*/
        .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget *:before, .k-animation-container *:after, .k-block .k-header, .k-list-container {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        #customerType_listbox {
            height: 80px !important;
        }

        .fieldset-box {
            margin-bottom: 8px;
        }


        .document_child_table tbody.table_body {
            min-height: 86px !important;
        }

        div#ndp-nepali-box {
            z-index: 10076 !important;
        }

        div#ndp-nepali-box {
            font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
            border: 1px solid #CCC;
            background-color: #FFF;
            position: absolute;
            z-index: 9999;
            padding: 1px;
            margin-top: 1px;
        }

        .k-select {
            display: none;
        }

        .requiredAsterik {
            position: absolute;
            top: 0px;
            right: 5px;
        }

        .k-list-container {
            width: 250px !important;
        }

        table {
            table-layout: fixed;
        }

            table th, table td {
                overflow: hidden;
            }

        .k-grid-content {
            height: 367px !important;
        }

        #kGrid {
            height: 427px !important;
        }

        .borderRed {
            border: solid red 1px !important;
        }

        .addcolor {
            color: #ffffff;
        }

        .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
            height: auto !important;
        }

        .k-virtual-scrollable-wrap {
            height: 454px !important;
        }

        #createContractForm .k-multiselect-wrap ul li {
            font-size: 10px !important;
        }

        #createContractForm .k-multiselect-wrap .k-input {
            color: hsl(0, 0%, 80%);
        }

        #multiselect-wrap.k-floatwrap {
            max-height: 101px;
            overflow-y: auto;
        }
    </style>

</head>
<body>
    <div class="row">


        <div class="col-md-12">
            <div class="portlet light form-fit bordered bottomspance">
                <div class="portlet mingap">

                    <div class="portlet-title">
                        <div class="caption caption-title ng-binding">
                            <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                                <i class="fa fa-arrow-circle-left"></i>
                            </a>
                            <i class="fa fa-gift font-green-haze"></i>
                            <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
                        </div>
                    </div>

                    <div class="portlet-body">

                        <div class="row">

                            <div id="splitter">
                                <div id="pane1">
                                    <div class="portlet box green-box">

                                        <div class="portlet-title">

                                            <div class="caption">
                                                <i class="icon-pin"></i>
                                                <span class="caption-subject bold uppercase">Cash Bank List</span>
                                            </div>
                                        </div>

                                        <div class="portlet-body">
                                            <div class="row">

                                                <div class="topsearch">

                                                    <input class="k-textbox txtSearchString" type="text" id="citySearchString" ng-model="txtSearchString" name="search" placeholder="Enter Search Text Here..." />

                                                </div>

                                            </div>
                                            <kendo-grid id="cashBankGrid" options="cashBankGridOptions" k-rebind="cashBankGridOptions" style="width:92%;"></kendo-grid>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <form id="CashBankSetupForm" name="CashBankSetupForm" novalidate>

                                        <div class="portlet box green-box main">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list-alt"></i>
                                                    <span class="caption-subject  bold uppercase">
                                                        Detail Information
                                                    </span>
                                                </div>
                                                <div class="actions pull-right">

                                                    <button type="button" id="deleteTransporter" name="deleteTransporter" ng-model="btnDelete" ng-disabled="!btnDelete" ng-click="DeleteCashBank(CashBankSetupForm.$valid)" class="btn btn-danger btn-sm">Delete</button>
                                                    <button type="button" id="saveTransporter" name="saveTransporter" ng-click="SaveCashBankSetup(CashBankSetupForm.$valid)" class="btn dark-green btn-sm">{{saveAction}}</button>
                                                    <button type="button" id="cancelTransporter" name="cancelTransporter" ng-click="Cancel()" class="btn btn-default btn-sm">New</button>

                                                </div>
                                            </div>

                                            <div class="portlet-body form-horizontal">

                                                <div class="row">

                                                    <div class="col-md-12 col-sm-12 col-lg-12">

                                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                                                    Shortcut<span style="color:red" ng-show="CashBankSetupForm.short_cut.$invalid">
                                                                        <span ng-show="CashBankSetupForm.short_cut.$error.required">*</span>
                                                                    </span>
                                                                </label>
                                                                <div class="col-sm-9 col-md-8 col-lg-7">
                                                                    <input class="form-control" type="text" name="short_cut" ng-model="CashBankSetupObj.SHORT_CUT" id="short_cut" placeholder="type short cut" required>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                                                    In English<span style="color:red" ng-show="CashBankSetupForm.in_english.$invalid">
                                                                        <span ng-show="CashBankSetupForm.in_english.$error.required">*</span>
                                                                    </span>
                                                                </label>
                                                                <div class="col-sm-9 col-md-8 col-lg-7">
                                                                    <input class="form-control" type="text" name="in_english" ng-model="CashBankSetupObj.IN_ENGLISH" id="in_english" placeholder="name in english" required>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                                                    In Nepali
                                                                </label>
                                                                <div class="col-sm-9 col-md-8 col-lg-7">
                                                                    <input class="form-control" type="text" name="in_nepali" ng-model="CashBankSetupObj.IN_NEPALI" id="in_nepali" placeholder="name in nepali">
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <button disabled class="btn btn-green-light" id="btnAddNewCB" ng-click="addCashBankAccountDetail()">Add</button>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div style="clear:both;"></div>
                                                <hr />
                                                <div class="row">
                                                    <div id="selectedAccountGrid"></div>
                                                </div>

                                            </div>
                                        </div>


                                    </form>


                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </div>


        <div id="addCashBankAccountModal" class="modal fade-out" data-backdrop="static" tabindex="-1">
            <div class="modal-dialog" style="width:800px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div type="button" class="close" aria-hidden="true" ng-click="closeCashBankAccoutModal()">&times;</div>
                        <h4 class="modal-title">
                            <span class="fa fa-file"></span>
                            Cash Bank Detail Setup
                        </h4>
                    </div>
                    <div class="modal-body">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Element Type</legend>
                            <div class="control-group">
                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                                     
                                        <input type="radio" name="CB_FLAG"  ng-model="CashBankSetupObj.ACC_TYPE_FLAG" value="L" /> Loan Account
                                        <hr style="height:1px;border:none;color:#333;background-color:#333;margin-top:0px;" />
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            
                                            <input type="radio" name="CB_FLAG"  ng-model="CashBankSetupObj.ACC_TYPE_FLAG" value="C" /> Cash Account
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                           
                                            <input type="radio" name="CB_FLAG"  ng-model="CashBankSetupObj.ACC_TYPE_FLAG" value="B" /> Bank Account
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <div class="tabbable">

                                            <div class="col-md-5 col-sm-5 col-lg-5">
                                                <div class="accountTreeBoxDiv borderedTreeList">
                                                    <div id="accountTreeBox"></div>
                                                </div>
                                            </div>

                                            <div class="col-md-2 col-sm-2 col-lg-2">
                                                <input type="button" value=">" style="margin-top:130px;" ng-click="MapAccountDetailTreeToList()" />
                                            </div>

                                            <div class="col-md-5 col-sm-5 col-lg-5">

                                                <div class="accountListBox borderedTreeList" id="example" style="margin-left:-61px;">
                                                    <input type="checkbox" id="selectAllListItem" disabled class="click" /> Select All
                                                    <select id="accountListBox" kendo-list-box k-options="accountListBoxOptions"></select>
                                                </div>
                                            </div>

                                         </div>
                                       </div>

                                    </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-sm btn-green" ng-click="closeCashBankAccoutModal()" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Processing..." href="javascript:;">
                            <i class="fa fa-floppy-o"></i> Cancel
                        </a>
                        <a class="btn btn-sm btn-green">Ok</a>
                        <a class="btn btn-sm btn-green" ng-click="SaveCashBankAccountDetail()">Apply</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>


        $("#splitter").kendoSplitter()
        var splitter = $("#splitter").data("kendoSplitter");
        splitter.size(".k-pane:first", "29%");
        //new
        splitter.max("#pane1", "700px");


        $('.tblresponsive').slimScroll({
            height: '150px',
        });

        function selectCheckBoxRow(element) {
            console.log("check box is checked" + element.checked);
            if (element.checked) {
                // element.parent().parent().addClass('k-state-selected');
                $(element).closest('div').parent().addClass('k-state-selected');
            } else {
                //$('.item.click').parent().removeClass('k-state-selected');
                $(element).closest('div').parent().removeClass('k-state-selected');
            }
        }

    </script>

    <script type="text/javascript">
        //$(document).ready(function () {

        //    $("#citySearchString").keyup(function () {
        //        var val = $('#citySearchString').val();
        //        $("#cGrid").data("kendoGrid").dataSource.filter({
        //            logic: "or",
        //            filters: [
        //                {
        //                    field: "CITY_EDESC",
        //                    operator: "contains",
        //                    value: val
        //                },

        //            ]
        //        });


        //    });
        //});

    </script>

    <script type="text/x-kendo-tmpl" id="checkBoxInListBoxTemplate">
        <div class="item click" data="${ACC_CODE}">
            <input type="checkbox" class="click" onchange="selectCheckBoxRow(this)" />
            <span class="checkbox" style="display:inline">#:ACC_EDESC#</span>
            @*<input type="hidden" value="${LINK_SUB_CODE}" />*@
        </div>
    </script>
</body>
</html>
