
@{
    Layout = null;
}
<style>

    .multiselect-parent .dropdown-toggle {
        width: 150px;
    }

    .multiselect-parent .dropdown-menu {
        width: 200px;
    }

    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }

    .k-splitbar.k-splitbar-horizontal {
        width: 5px;
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }


    .bodyController {
        margin-top: 4px;
    }



    .main .k-widget.k-dropdown.k-header {
        min-height: 22px !important;
    }

    .main .k-dropdown-wrap.k-state-default {
        min-height: 24px !important;
        font-size: 11px;
    }



    .k-splitter .k-scrollable {
        overflow-y: hidden !important;
    }

    .k-scrollable .k-widget.k-treeview {
        max-height: 444px;
        overflow: auto !important;
    }

    .k-i-calendar {
        margin-top: -10px;
    }

    span.k-icon.k-i-warning {
        display: none;
    }

    .calendar-icon-2 {
        top: 24px !important;
    }


    #grid .k-grid-toolbar {
        padding: .6em 1.3em .6em .4em;
    }

    .category-label {
        vertical-align: middle;
        padding-right: .5em;
    }

    #category {
        vertical-align: middle;
    }

    .refreshBtnContainer {
        display: inline-block;
    }

    .toolbar {
        float: right;
    }
</style>

<div class="row" id="postDataCheckCtrl">

    <div class="col-md-12">

        <div class="portlet light form-fit bordered bottomspance">
            <div class="portlet mingap">

                <div class="portlet-title">

                    <div class="caption caption-title ng-binding">
                        <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        <i class="fa fa-gift font-green-haze"></i>
                        <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
                    </div>

                    <div class="actions">

                        <a class="btn btn-green" data-toggle="tooltip" data-placement="top" ng-click="createNewPDCForm()" href="javascript:;">
                            <i class="fa fa-plus-circle"></i> New
                        </a>

                        <a class="btn btn-green" data-toggle="tooltip" data-placement="top" ng-click="printNewPDCForm()" href="javascript:;">
                            <i class="fa fa-print"></i> Print
                        </a>

                    </div>

                </div>

                <div class="portlet-body">

                    <div class="row">

                        <div class="col-md-12 col-sm-12 form-group">

                            <div class="col-md-5 col-sm-5">
                                @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)

                            </div>

                            <div class="col-md-3 col-sm-3">
                                <label for="element">Customer:</label>
                                <div class="btn-group">
                                    <div ng-dropdown-multiselect="" options="AllCustomer" selected-model="multiSelectedCustomer" extra-settings="customerControl"></div>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <label for="element">PDC Type:</label>
                                <div class="btn-group">
                                    <div ng-dropdown-multiselect="" options="PdcTypeList" selected-model="multiSelectedPDCType" extra-settings="pdcTypeControl"></div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <label for="element">Dealer:</label>
                                <div class="btn-group">
                                    <div ng-dropdown-multiselect="" options="AllDealerType" selected-model="multiSelectedDealer" extra-settings="dealerControl" onselect=""></div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <label for="element">PDC AMT:</label>
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <input type="text" name="txtPdcAmt" id="txtPdcAmt" ng-model="PDCFilter.PDCAmount" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="radio">Receipt Date:</label>
                                <div>
                                    <input type="radio" name="PDCFilter" id="receiptDate" ng-change="FilterPDC('receiptDate');" ng-model="rdoPdcFilter" value="receiptDate" />
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="radio">Cheque Date:</label>
                                <div>
                                    <input type="radio" name="PDCFilter" id="chequeDate" ng-change="FilterPDC('chequeDate');" ng-model="rdoPdcFilter" value="chequeDate" />
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="radio">Encash Date:</label>
                                <div>
                                    <input type="radio" name="PDCFilter" id="rdoEncashDate" ng-change="FilterPDC('ENCASH');" ng-model="rdoPdcFilter" value="ENCASH" />
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="radio">Bounce Date:</label>
                                <div>
                                    <input type="radio" name="PDCFilter" id="rdoBounceDate" ng-change="FilterPDC('BOUNCE');" ng-model="rdoPdcFilter" value="BOUNCE"/>
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="radio">Return Date:</label>
                                <div>
                                    <input type="radio" name="PDCFilter" id="returnDate" ng-change="FilterPDC('RETURN');" ng-model="rdoPdcFilter" value="RETURN" />
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="radio">All:</label>
                                <div>
                                    <input type="radio" name="PDCFilter" id="allFilter" ng-change="FilterPDC('ALL');" ng-model="rdoPdcFilter" value="ALL"/>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button class="btn btn-green-light" ng-click="rebindPDCODCGrid()" style="float:right;">Search</button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">

                        <div class="tabbable"> 
                            <div class="" style="overflow:auto">

                                <div id="CreditLimitmsg">
                                    @*ng-show='showHideInfo'*@
                                    <div class="alert alert-success">
                                        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>Cheque In Hand:</strong> {{chequeInHandCount}}
                                        <br />
                                        <strong>Encash:</strong> {{encashCount}}
                                        <br />
                                        <strong>Bounce:</strong> {{bounceCount}}
                                        <br />
                                    </div>
                                </div>
                                @*k-rebind="postDataCheckGridOptions"*@
                                <kendo-grid id="postDataCheckGrid" #target options="postDataCheckGridOptions" class="kendo_gride_table" style="width:100%;">
                                </kendo-grid>
                                <ul kendo-context-menu k-on-select="contextSelect(kendoEvent)" k-filter="'tr[data-uid]'">
                                    <li id="new">New</li>
                                    <li id="edit">Edit</li>
                                    <li id="delete">Delete</li>
                                    <li id="duplicate">Duplicate</li>
                                    <li id="chequeInTransit">Cheque in Transit</li>
                                    <li id="encash">Encash</li>
                                    <li id="generateVoucher">Generate Voucher</li>
                                    <li id="bounceEncashPDC">Bounce Encash PDC</li>
                                    <li id="rejected" style="pointer-events:none;">Cheque Reject</li>
                                    <li id="returnToParty">Return To Party</li>
                                </ul>
                                @*<div id="dialog"></div>*@
                            </div>
                        </div>

                    </div>


                </div>


                <div class="modal fade-out" id="postDataCheckModal" data-backdrop="static" tabindex="-1" data-width="700">
                    <div class="modal-dialog" style="width:830px !important;">
                        <div class="modal-content">

                            <div class="modal-header">
                                <div type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeNewPDCFormDialog()" next-on-tab>&times;</div>
                                <h4 class="modal-title">
                                    @*<span class="fa fa-file"></span>*@
                                    Post Data Cheque Entry (PDC Entry Detail...)
                                </h4>
                            </div>

                            <div class="modal-body mb--8">
                                <div class="tab-content d-tab-content">
                                    <div class="tab-pane active" id="tab_15_1">

                                        <div class="row">

                                                <div class="col-md-12">
                                                    <div class="form-group align-right">
                                                        <label>Is ODC</label>
                                                        <input type="checkbox" ng-change="toggleChequeDate()" ng-model="ISODCChecked" />
                                                    </div>
                                                </div>

                                                <div class="col-md-12">

                                                    <div class="col-md-3">
                                                        <lable>Receipt No</lable>
                                                        <input type="text" name="receiptNo" id="receiptNo" ng-model="PDCFormObject.RECEIPT_NO" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Receipt Date</label>
                                                        <input type="text" name="receiptDate" id="receiptDate" ng-model="PDCFormObject.RECEIPT_DATE" kendo-date-picker placeholder="10/11/2012" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Cheque Date</label>
                                                        <div ng-if="ISODC">
                                                            <input type="text" name="chequeDate" id="chequeDate" ng-model="PDCFormObject.CHEQUE_DATE" kendo-date-picker disabled placeholder="10/11/2012"/>
                                                        </div>
                                                        <div ng-if="!ISODC">
                                                            <input type="text" name="chequeDate" id="chequeDate" ng-model="PDCFormObject.CHEQUE_DATE" kendo-date-picker placeholder="10/11/2012" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Bounce Date</label>
                                                        <input type="text" name="bounceDate" id="bounceDate" ng-model="PDCFormObject.BOUNCE_DATE" kendo-date-picker placeholder="10/11/2012" disabled/>
                                                    </div>

                                                </div>

                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <label>Customer Name<span style="color:red">*</span></label>
                                                        <select class="input-small form-control" ng-model="PDCFormObject.CUSTOMER_CODE" name="customer" id="customer"
                                                                ng-options="id.TYPE_EDESC for id in AllCustomer track by id.TYPE_CODE" ng-change="customerChanged()">
                                                            <option value="">Select Customer</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Party Type: </label> <spam id="custAccount" class="mightOverflow" style="color:red;font-size:xx-small;"></spam>
                                                        <select class="input-small form-control" ng-model="PDCFormObject.PARTY_TYPE" name="partyType" id="partyType"
                                                                ng-options="id.PARTY_TYPE_EDESC for id in AllPartyType track by id.PARTY_TYPE_CODE">
                                                            <option value="">Select Party Type</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>PDC Amount</label>
                                                        <input type="text" name="PDCAmount" id="PDCAmount" ng-model="PDCFormObject.PDC_AMOUNT" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>PDC Detail<span style="color:red">*</span></label>
                                                        <input type="text" name="PDCDetail" id="PDCDetail" ng-model="PDCFormObject.PDC_DETAILS" />
                                                    </div>
                                                </div>

                                                <div class="col-md-12">

                                                    <div class="col-md-3">
                                                        <label>Party Bank Name</label>
                                                        <input type="text" name="partyBankName" id="partyBankName" ng-model="PDCFormObject.PARTY_BANK_NAME" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Cheque No</label>
                                                        <input type="text" name="chequeNo" id="chequeNo" ng-model="PDCFormObject.CHEQUE_NO" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Remark</label>
                                                        <input type="text" name="remark" id="remark" ng-model="PDCFormObject.REMARKS" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Reminder Prior Days</label>
                                                        <input class="input-small form-control" type="number" min="1" max="100" name="reminderPriorDays" id="reminderPriorDays" ng-model="PDCFormObject.REMINDER_PRIOR_DAYS">
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <label>Chq. Recpt. By</label>
                                                        <select class="input-small form-control" ng-model="PDCFormObject.MONEY_RECEIPT_ISSUED_BY" name="moneyReceiptIssuedBy" id="moneyReceiptIssuedBy"
                                                                ng-options="id.TYPE_EDESC for id in AllEmpCheckReceipt track by id.TYPE_CODE">
                                                            <option value="">Select Receiver</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Money Recpt. No</label>
                                                        <input class="input-small form-control" type="number" min="1" max="100" name="moneyReceiptNo" id="moneyReceiptNoN" ng-model="PDCFormObject.MONEY_RECEIPT_NO" placeholder="Increase number">
                                                    </div>
                                                    @*<div class="col-md-8">*@
                                                    <fieldset class="col-md-12">
                                                        <legend style="margin-bottom:5px !important;font-size:14px;">Encash Update</legend>
                                                        <div class="col-md-4">
                                                            <label>Encash Date</label>
                                                            <input type="text"  name="encashDate" id="encashDate" ng-model="PDCFormObject.ENCASH_DATE" kendo-date-picker disabled placeholder="10/11/2012" />
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label>Days</label>
                                                            <input type="text" class="input-small form-control disabled" name="encashDays" id="encashDays" ng-model="PDCFormObject.DAYS" />
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label>Encash Remark</label>
                                                            <input type="text" class="input-small form-control disabled" name="encashRemark" id="encashRemark" ng-model="PDCFormObject.ENCASH_REMARK" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="button" id="btnUpdateEncash" value="Update Encash" class="btn btn-green-light disabled" ng-click="UpdateEncash()" style="margin-top:23px;" />
                                                        </div>
                                                    </fieldset>
                                                    @*</div>*@
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                        <label>Created By &nbsp;</label>
                                                        <input type="text" name="createdBy" id="createdBy" ng-model="PDCFormObject.CREATED_BY" readonly />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Bounce By &nbsp;&nbsp;</label>
                                                        <input type="text" name="bounceBy" id="bounceBy" ng-model="PDCFormObject.BOUNCE_BY" readonly />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>InTransit By</label>
                                                        <input type="text" name="inTransitBy" id="inTransitBy" ng-model="PDCFormObject.IN_TRANSIT_BY" readonly/>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                        <label>Created Date &nbsp;</label>
                                                        <input type="text" name="createdDate" id="createdDate" ng-model="PDCFormObject.CREATED_DATE" kendo-date-picker readonly placeholder="10/11/2012"/>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Bounce Date &nbsp;</label>
                                                        <input type="text" name="bounceDateInfo" id="bounceDateInfo" ng-model="PDCFormObject.BOUNCE_DATE_INFO" kendo-date-picker disabled placeholder="10/11/2012"/>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>InTransit Date</label>
                                                        <input type="text" name="inTransitDate" id="inTransitDate" ng-model="PDCFormObject.IN_TRANSIT_DATE" kendo-date-picker readonly placeholder="10/11/2012"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div ng-if="IscheckInHand">
                                                            <div class="form-control">
                                                                <input type="checkbox" ng-model="PDCFormObject.CHEQUE_IN_HAND" ng-checked="true" /> Cheque In Hand
                                                            </div>
                                                        </div>
                                                        <div ng-if="!IscheckInHand">
                                                            <div class="form-control">
                                                                <input type="checkbox" ng-model="PDCFormObject.CHEQUE_IN_HAND" /> Cheque In Hand
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div ng-if="IsCheckInTransit">
                                                            <div class="form-control">
                                                                <input type="checkbox" ng-model="PDCFormObject.CHEQUE_IN_TRANSIT" ng-checked="true" /> Cheque In Transit
                                                            </div>
                                                        </div>
                                                        <div ng-if="!IsCheckInTransit">
                                                            <div class="form-control">
                                                                <input type="checkbox" ng-model="PDCFormObject.CHEQUE_IN_TRANSIT"  /> Cheque In Transit
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div ng-if="DirectBounce">
                                                            <div class="form-control">
                                                                <input type="checkbox" ng-model="PDCFormObject.DIRECT_BOUNCE" ng-checked="true" name="chkDirectBounce"/> Direct Bounce
                                                            </div>
                                                        </div>
                                                        <div ng-if="!DirectBounce">
                                                            <div class="form-control">
                                                                <input type="checkbox" ng-model="PDCFormObject.DIRECT_BOUNCE" name="chkDirectBounce"/> Direct Bounce
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div ng-if="ReturnToParty">
                                                            <div class="form-control">
                                                                <input type="checkbox" ng-model="PDCFormObject.CHEQUE_RETURN" ng-checked="true" name="chkChequeReturn" /> Cheque Return
                                                            </div>
                                                        </div>
                                                        <div ng-if="!ReturnToParty">
                                                            <div class="form-control">
                                                                <input type="checkbox" ng-model="PDCFormObject.CHEQUE_RETURN" name="chkChequeReturn" /> Cheque Return
                                                            </div>
                                                        </div>
                                                        <div class="form-control">
                                                            <input type="text" name="chequeReturnDate" id="chequeReturnDate" kendo-date-picker disabled placeholder="10/11/2012" ng-model="PDCFormObject.CHEQUE_RETURN_DATE" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div class="divider"></div>

                            <div class="modal-footer" style="text-align:left;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label>Import Acc Code</label>
                                            <select class="input-small" ng-model="PDCFormObject.SELECTED_ACCOUNT" name="chartOfAccount" id="chartOfAccount"
                                                    ng-options="id.ACC_EDESC for id in AllChartOfAccount">
                                                <option value="">Select Account</option>
                                            </select>
                                            <input type="checkbox" name="chkAccountConfirm" id="chkAccountConfirm" ng-model="PDCFormObject.ACCOUNT_CONFIRM" /> Account Confirm
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <button class="btn btn-green-light" id="btnGenerateVoucher" disabled ng-click="generatePdcOdcVoucher()">Generate Voucher</button>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="padding-left:30px;">
                                            <div class="form-group">
                                                <button class="btn btn-green-light" id="btnConfirmToTag" ng-click="saveNewPDCForm()">{{PDCAction}}</button>
                                                <button class="btn btn-green-light" id="btnConfirmToTag" ng-click="closeNewPDCFormDialog()" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>
<script src="@Scripts.Url("~/JS/reportFilter.js?V1")"></script>
<script src="@Scripts.Url("~/JS/DateFilter.js?V9")" type="text/javascript"></script>
@*<script src="@Scripts.Url("~/Scripts/ngScript/angular ui select/select2.js")"></script>*@
<script>
    $(function () {
        var showHideInfo = true;
        window.scrollTo(0, 0);
        DateFilter.init();
       // consolidate.init();
        $("#ShowConsolidateModal").children().addClass("btn-green");


        //var grid = $("#postDataCheckGrid").data("kendoGrid");
        //grid.hideColumn("VOUCHER_NO");
       
    });

    //function openPopUp() {
    //    $("#dialog").kendoDialog({
    //        width: "450px",
    //        title: "Summary Info",
    //        closable: false,
    //        modal: false,
    //        content: "...",
    //        actions: [
    //            { text: 'Check In Hand:' },
    //            { text: 'Encash:' },
    //            { text: 'Bounce:' },
    //            { text: 'Close', primary: true }
    //        ],
    //        // close: onClose
    //    });


    //    var dialog = $("#dialog").data("kendoDialog");
    //    dialog.open();
    //};

    function showHideInfo() {
        var checked = document.getElementById('customSwitch1').checked;
        if (checked) {
            $("#CreditLimitmsg").show();
        } else {
            $("#CreditLimitmsg").hide();
        }
    };
</script>
<script id="template" type="text/x-kendo-template">
    # var showHideInfo = true; #
    # var checkedVal = '' #
    @*<div class="col-md-2">
            <a class="k-button k-button-icontext k-grid-excel btn-green" href="\#">
                <i class="k-icon k-i-excel"></i>
                Export to Excel
            </a>
        </div>


        <div class="refreshBtnContainer">
            <a href="\\#" class="k-pager-refresh k-link k-button k-button-icon" title="Refresh" ><span class="k-icon k-i-reload"></span></a>
        </div>*@

    <div class="refreshBtnContainer">
        @*<a href="\\#" class="k-pager-refresh k-link k-button k-button-icon" title="Refresh"><span class="k-icon k-i-reload"></span></a>*@
        @*<input type="checkbox" checked data-toggle="toggle" data-onstyle="success">*@
        <div class="custom-control custom-switch">
            #if(showHideInfo){#
            <input type="checkbox" class="custom-control-input" id="customSwitch1"  checked onchange="showHideInfo()">
            #}else{#
            <input type="checkbox" class="custom-control-input" id="customSwitch1"  onchange="showHideInfo()">
            #}#
            <label class="custom-control-label" for="customSwitch1">Show/Hide Info</label>
        </div>
    </div>
    <div class="toolbar">
        <a class="k-button k-button-icontext k-grid-excel btn-green" href="\#">
            <i class="k-icon k-i-excel"></i>
            Export to Excel
        </a>
    </div>


</script>




<script type="text/x-kendo-template" id="toolbar-template">
    <div class="k-header k-grid-toolbar">
        @*<div class="col-md-2">
            <a class="k-button" href="javascript:;" id="showInfo" onclick="return openPopUp();">
                <i class="fa fa-info-circle"></i>
                Info
            </a>
        </div>*@
        <div class="col-md-2">
            <a class="k-button k-button-icontext k-grid-excel btn-green" href="\#">
                <i class="k-icon k-i-excel"></i>
                Export to Excel
            </a>
        </div>

        @*<div class="col-md-2">
            <strong>Cheque In Hand: #= 0 #</strong>
        </div>
        <div class="col-md-2">
            <strong> Encash: #= 0 #</strong>
        </div>
        <div class="col-md-2">
            <strong>Bounce: #= 0 #</strong>
        </div>*@

    </div>
</script>

