
@{
    Layout = null;
}
<style>

    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }

    .k-splitbar.k-splitbar-horizontal {
        width: 5px;
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }


    .bodyController {
        margin-top: 4px;
    }



    .main .k-widget.k-dropdown.k-header {
        min-height: 22px !important;
    }

    .main .k-dropdown-wrap.k-state-default {
        min-height: 24px !important;
        font-size: 11px;
    }



    .k-splitter .k-scrollable {
        overflow-y: hidden !important;
    }

    .k-scrollable .k-widget.k-treeview {
        max-height: 444px;
        overflow: auto !important;
    }

    .k-i-calendar {
        margin-top: -10px;
    }

    span.k-icon.k-i-warning {
        display: none;
    }

    .calendar-icon-2 {
        top: 24px !important;
    }
</style>

<div class="row" id="postDataCheckCtrl">

    <div class="col-md-12">

        <div class="portlet light form-fit bordered bottomspance">
            <div class="portlet mingap">

                <div class="portlet-title">

                    <div class="caption caption-title ng-binding">
                        <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        <i class="fa fa-gift font-green-haze"></i>
                        <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
                    </div>

                    <div class="actions">

                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top" ng-click="createNewPDCForm()" href="javascript:;">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top" ng-click="saveNewPDCForm()" href="javascript:;">
                            <i class="fa fa-check-circle"></i> Ok
                        </a>

                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top" ng-click="cancelNewPDCForm()" href="javascript:;">
                            <i class="fa fa-close"></i> Cancel
                        </a>

                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top" ng-click="printNewPDCForm()" href="javascript:;">
                            <i class="fa fa-print"></i> Print
                        </a>

                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top" ng-click="viewNewPDCForm()" href="javascript:;">
                            <i class="fa fa-maxcdn"></i>
                        </a>

                    </div>

                </div>

                <div class="portlet-body">

                    <div class="row">

                        <div class="col-md-12 col-sm-12 form-group">

                            <div class="col-md-5">
                                @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)

                            </div>

                            <div class="col-md-2 col-sm-2">
                                <label for="element">Customer:</label>
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <select class="input-small" ng-model="PDCFormObject.CUSTOMER_CODE_DDL" name="ddlCustomer" id="ddlCustomer"
                                                ng-options="id.TYPE_EDESC for id in AllCustomer">
                                            <option value="">Select Customer</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <label for="element">PDC Type:</label>
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <select class="input-small" ng-model="PDCFormObject.PARTY_TYPE" name="PDCType" id="PDCType"
                                                ng-options="id.FORM_EDESC for id in indentDocument">
                                            <option value="">Select PDC Type</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <label for="element">PDC AMT:</label>
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <input type="text" name="txtPdcAmt" id="txtPdcAmt" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <label for="element">Dealer:</label>
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <select class="input-small" ng-model="PDCFormObject.PARTY_TYPE_DDL" name="partyTypeDDL" id="partyTypeDDL"
                                                ng-options="id.PARTY_TYPE_EDESC for id in AllPartyType">
                                            <option value="">Select Dealer</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 col-sm-12 form-group">
                            <div class="col-md-10 col-sm-10 form-group">

                                <div class="form-group col-md-2">
                                    <label for="radio">Receipt Date:</label>
                                    <div>
                                        <input type="radio" name="PDCFilter" id="receiptDate" />

                                    </div>
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="radio">Cheque Date:</label>
                                    <div>
                                        <input type="radio" name="PDCFilter" id="receiptDate" />
                                    </div>
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="radio">Encash Date:</label>
                                    <div>
                                        <input type="radio" name="PDCFilter" id="encashDate" />
                                    </div>
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="radio">Bounce Date:</label>
                                    <div>
                                        <input type="radio" name="PDCFilter" id="bounceDate" />
                                    </div>
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="radio">Return Date:</label>
                                    <div>
                                        <input type="radio" name="PDCFilter" id="returnDate" />
                                    </div>
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="radio">All:</label>
                                    <div>
                                        <input type="radio" name="PDCFilter" id="allFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button class="btn btn-green-light" ng-click="searchPDFToView()">Search</button>
                            </div>
                        </div>

                    </div>


                    <div class="divider"></div>


                    <div class="row">

                        <div class="tabbable">
                            <br />
                           
                            <div class="" style="overflow:auto">
                               
                                <kendo-grid id="postDataCheckGrid" options="postDataCheckGridOptions" k-rebind="postDataCheckGridOptions" class="kendo_gride_table" style="width:100%;">
                                </kendo-grid>
                            </div>
                        </div>

                    </div>


                </div>


                <div class="modal fade-out" id="postDataCheckModal" data-backdrop="static" tabindex="-1" data-width="700">
                    <div class="modal-dialog" style="width:830px !important;">
                        <div class="modal-content">

                            <div class="modal-header">
                                <div type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeNewPDCFormDialog()" next-on-tab>&times;</div>
                                <h4 class="modal-title">
                                    <span class="fa fa-file"></span>
                                    Post Data Cheque Entry (PDC Entry Detail...)
                                </h4>
                            </div>

                            <div class="modal-body mb--8">
                                <div class="tab-content d-tab-content">
                                    <div class="tab-pane active" id="tab_15_1">

                                          <div class="row">

                                              <div class="col-md-12">

                                                  <div class="col-md-3">
                                                      <lable>Receipt No</lable>
                                                      <input type="text" name="receiptNo" id="receiptNo" ng-model="PDCFormObject.RECEIPT_NO"/>
                                                  </div>

                                                  <div class="col-md-3">
                                                      <label>Receipt Date</label>
                                                      <input type="text" name="receiptDate" id="receiptDate" ng-model="PDCFormObject.RECEIPT_DATE"/>
                                                  </div>

                                                  <div class="col-md-3">
                                                      <label>Cheque Date</label>
                                                      <input type="text" name="chequeDate" id="chequeDate" ng-model="PDCFormObject.CHEQUE_DATE"/>
                                                  </div>

                                                  <div class="col-md-3">
                                                      <label>Bounce Date</label>
                                                      <input type="text" name="bounceDate" id="bounceDate" ng-model="PDCFormObject.BOUNCE_DATE"/>
                                                  </div>     
                                                     
                                              </div>

                                              <div class="col-md-12">
                                                  <div class="col-md-3">
                                                      <label>Customer Code</label>
                                                      <select class="input-small" ng-model="PDCFormObject.CUSTOMER_CODE" name="customer" id="customer"
                                                              ng-options="id.TYPE_EDESC for id in AllCustomer">
                                                          <option value="">Select Customer</option>
                                                      </select>
                                                  </div>
                                                  <div class="col-md-3">
                                                      <label>Party Type</label>
                                                      <select class="input-small" ng-model="PDCFormObject.PARTY_TYPE" name="partyType" id="partyType"
                                                              ng-options="id.PARTY_TYPE_EDESC for id in AllPartyType">
                                                          <option value="">Select Party Type</option>
                                                      </select>
                                                  </div>
                                                  <div class="col-md-3">
                                                      <label>PDC Amount</label>
                                                      <input type="text" name="PDCAmount" id="PDCAmount" ng-model="PDCFormObject.PDC_AMOUNT"/>
                                                  </div>
                                                  <div class="col-md-3">
                                                      <label>PDC Detail</label>
                                                      <input type="text" name="PDCDetail" id="PDCDetail" ng-model="PDCFormObject.PDC_DETAIL"/>
                                                  </div>
                                              </div>

                                              <div class="col-md-12">
                                                  <div class="col-md-3">
                                                      <label>Party Bank Name</label>
                                                      <input type="text" name="partyBankName" id="partyBankName" ng-model="PDCFormObject.PARTY_BANK_NAME" />
                                                  </div>
                                                  <div class="col-md-3">
                                                      <label>Cheque No</label>
                                                      <input type="text" name="chequeNo" id="chequeNo" ng-model="PDCFormObject.CHEQUE_NO" />
                                                  </div>
                                                  <div class="col-md-3">
                                                      <label>Remark</label>
                                                      <input type="text" name="remark" id="remark" ng-model="PDCFormObject.REMARK" />
                                                  </div>
                                                  <div class="col-md-3">
                                                      <label>Reminder Prior Days</label>
                                                      <input type="text" name="reminderPriorDays" id="reminderPriorDays" ng-model="PDCFormObject.REMINDER_PRIOR_DAYS" />
                                                  </div>
                                                  <div class="col-md-3">
                                                      <label>Money Receipt Issued By</label>
                                                      <input type="text" name="moneyReceiptIssuedBy" id="moneyReceiptIssuedBy" ng-model="PDCFormObject.MONEY_RECEIPT_ISSUED_BY" />
                                                  </div>
                                              </div>

                                              <div class="col-md-12">
                                                  <div class="col-md-3">
                                                      <label>Money Receipt No</label>
                                                      <input type="text" name="moneyReceiptNo" id="moneyReceiptNo" ng-model="PDCFormObject.MONEY_RECEIPT_NO"/>
                                                  </div>
                                                  <div class="col-md-9">
                                                      <div class="row">
                                                           <fieldset>
                                                              <legend style="margin-bottom:5px !important;font-size:14px;">Encash Update</legend>
                                                              <div class="col-md-4">
                                                                  <label>Encash Date</label>
                                                                  <input type="text" name="encashDate" id="encashDate" ng-model="UpdateEncashObj.ENCASH_DATE"/>
                                                              </div>
                                                              <div class="col-md-4">
                                                                  <label>Days</label>
                                                                  <input type="text" name="encashDays" id="encashDays" ng-model="UpdateEncashObj.DAYS"/>
                                                              </div>
                                                              <div class="col-md-4">
                                                                  <label>Encash Remark</label>
                                                                  <input type="text" name="encashRemark" id="encashRemark" ng-model="UpdateEncashObj.ENCASH_REMARK"/>
                                                              </div>
                                                              <div class="col-md-4" style="padding-top:2px;float:right;">
                                                                  <button class="btn btn-green-light">Update Encash History</button>
                                                              </div>
                                                         
                                                          </fieldset>
                                                          
                                                      </div>
                                                     
                                                  </div>
                                                 
                                              </div>
                                          </div>

                                          <hr/>

                                          <div class="row">
                                              <div class="col-md-12">

                                                <div class="col-md-4">
                                                    <label>Created By &nbsp;</label>
                                                    <input type="text" name="createdBy" id="createdBy" ng-model="PDCFormObject.CREATED_BY"/>
                                                 </div>

                                                <div class="col-md-4">
                                                    <label>Bounce By &nbsp;&nbsp;</label>
                                                    <input type="text" name="bounceBy" id="bounceBy" ng-model="PDCFormObject.BOUNCE_BY" />
                                                </div>

                                                <div class="col-md-4">
                                                    <label>InTransit By</label>
                                                    <input type="text" name="inTransitBy" id="inTransitBy" ng-model="PDCFormObject.IN_TRANSIT_BY"/>
                                                </div>

                                              </div>
                                              <div class="col-md-12">

                                                  <div class="col-md-4">
                                                      <label>Created Date &nbsp;</label>
                                                      <input type="text" name="createdDate" id="createdDate" ng-model="PDCFormObject.CREATED_DATE"/>
                                                  </div>

                                                  <div class="col-md-4">
                                                      <label>Bounce Date &nbsp;</label>
                                                      <input type="text" name="bounceDate" id="bounceDate" ng-model="PDCFormObject.BOUNCE_DATE"/>
                                                  </div>

                                                  <div class="col-md-4">
                                                      <label>InTransit Date</label>
                                                      <input type="text" name="inTransitDate" id="inTransitDate" ng-model="PDCFormObject.IN_TRANSIT_DATE"/>
                                                  </div>

                                              </div>
                                           </div>

                                          <hr/>

                                          <div class="row">
                                              <div class="col-md-3">
                                                  <div class="form-group">
                                                      <div class="form-control">
                                                          <input type="checkbox" name="chkChequeInHand" id="chkChequeInHand" ng-model="PDCFormObject.CHEQUE_IN_HAND" /> Cheque In Hand
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-md-3">
                                                  <div class="form-group">
                                                      <div class="form-control">
                                                          <input type="checkbox" name="chkChequeInTransit" id="chkChequeInTransit" ng-model="PDCFormObject.CHECK_IN_TRANSIT" /> Cheque In Transit
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-md-3">
                                                  <div class="form-group">
                                                      <div class="form-control">
                                                          <input type="checkbox" name="chkDirectBounce" id="chkDirectBounce" ng-model="PDCFormObject.DIRECT_BOUNCE"/> Direct Bounce
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-md-3">
                                                  <div class="form-group">
                                                      <div class="form-control">
                                                          <input type="checkbox" name="chkChequeReturn" id="chkChequeReturn" ng-model="PDCFormObject.CHEQUE_RETURN" /> Cheque Return
                                                      </div>
                                                      <div class="form-control">
                                                          <input type="text" name="chequeReturnDate" id="chequeReturnDate" ng-model="PDCFormObject.CHEQUE_RETURN_DATE" />
                                                      </div>
                                                  </div>
                                              </div>

                                          </div>
                                    </div>
                                </div>
                            </div>

                            <div class="divider"></div>

                            <div class="modal-footer" style="text-align:left;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label>Import Acc Code</label>
                                            <select class="input-small" ng-model="PDCFormObject.SELECTED_ACCOUNT" name="chartOfAccount" id="chartOfAccount"
                                                    ng-options="id.ACC_EDESC for id in AllChartOfAccount">
                                                <option value="">Select Account</option>
                                            </select>
                                            <input type="checkbox" name="chkAccountConfirm" id="chkAccountConfirm" ng-model="PDCFormObject.ACCOUNT_CONFIRM" /> Account Confirm
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <button class="btn btn-green-light">Generate Voucher</button>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="padding-left:30px;">
                                            <div class="form-group">
                                                <button class="btn btn-green-light" id="btnConfirmToTag">Ok</button>
                                                <button class="btn btn-green-light" id="btnConfirmToTag" ng-click="closeNewPDCFormDialog()" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="col-md-12 col-sm-12">
                                    <div class="form-group" style="float:left;">
                                        <lable>Import Acc Code:</lable>
                                        <select class="input-small" ng-model="selectedIndentDoc" name="document" id="document"
                                                ng-options="id.FORM_EDESC for id in indentDocument">
                                            <option value="">Select Dealer</option>
                                        </select>
                                       
                                        <div>
                                           
                                        </div>
                                    </div>
                                    
                                </div>*@

                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>
<script src="@Scripts.Url("~/JS/DateFilter.js?V9")" type="text/javascript"></script>
<script>
    $(function () {
        DateFilter.init();
    });
</script>

