@model List<NeoErp.Distribution.Service.Model.CustomerModel>
@{
    ViewBag.Title = "Competitor field Setup";
    Layout = null;
}

<style>
    #CompFieldForm h4 {
        margin-top: 0px !important;
    }

    #NotificationSetup .k-auto-scrollable {
        overflow: hidden !important;
    }

    .k-splitter {
        min-height: 404px;
    }

    .form-control {
        width: 97% !important;
    }

    .custom-panel-body {
        padding: 7px 30px 0px 10px !important;
        height: 182px;
    }

        .custom-panel-body .caption {
            font-size: 12px !important;
            padding: 5px 0 6px 0 !important;
        }

        .custom-panel-body .portlet-title {
            min-height: auto !important;
        }

    .tblresponsive {
        border: 1px solid #e1e1e1 !important;
    }

    .table thead tr th {
        font-size: 12px;
        font-weight: 600;
    }

    input#NotificationCode {
        font-size: 12px;
    }

    input#NotificationName {
        font-size: 12px;
    }

    #NotificationSetup .k-grid-header {
        padding-right: 0px !important
    }

    .titleheading {
        padding: 5px 0px 5px !important
    }
</style>

<div class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb"></ul>
        @*<div class="btn-group pull-right">
            @Html.Partial("~/Views/Shared/Controls/_SetupConfig.cshtml", "GetCompFields")
        </div>*@
    </div>
</div>


<div class="panel-body custom-panel-body clearfix">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-sm-6">
                @Html.Partial("_ItemwiseCompetitorChartPartial", item)
            </div>
        }
    </div>
</div>
<script>
        var a = location.hash;
        var b = location.pathname;
        var url = (b + a);
        $(".active").removeClass();
        $("a[href='" + url + "']").parent().addClass("active");
        $("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>
<script src="@Scripts.Url("~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>