<style>
    .list-group {
        width: 328px;
    }
    .nav nav-tabs
    {
        width:100%
    }
    .nav-tabs {
        border-bottom: 1px solid grey;
    }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }
        .nav-tabs > li > a {
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
        }
    .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
</style>


<div ng-controller="SchemeWiseReportCtrl">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/sales/SalesHome/Dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Scheme Wise Report</a>
                <i class="fa fa-angle-right"></i>
            </li>
        </ul>


    </div>
    <ul class="nav nav-tabs" style="width: 100%;">
        <li ng-repeat="scheme in allSchemes" ng-click="showRule(scheme.SchemeID, event)" id="scheme{{scheme.SchemeID}}"><a>{{scheme.SchemeName}}</a></li>
        @*<li class="active"><a href="#">Menu 1</a></li>*@

    </ul>
    <div class="row" ng-hide="showRow" style="margin-top: 30px;">
        <div class="col-md-4">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{schemeRule.SchemeName}}</div>

                <!-- List group -->
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="rule in schemeRule.SchemeDetails" ng-click="showDetails(schemeRule.SchemeID, rule.Min_Value, rule.Max_Value,schemeRule.StartDate, schemeRule.EndDate )">Minimum Quantity:{{rule.Min_Value}}<span style="float: right;">Discount:{{rule.Discount}} ({{rule.DiscountType}})</span></br> Maximum Quantity: {{rule.Max_Value}} </a>
                    @*<a href="#" class="list-group-item">Morbi leo risus</a>
                        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item">Vestibulum at eros</a>*@
                </div>
            </div>

            <!--<div class="list-group">
            <a class="list-group-item " ng-repeat="scheme in allSchemes" ng-click="showDetails(scheme.SchemeID)" id="scheme{{scheme.SchemeID}}">
                {{scheme.SchemeName}}
            </a>-->
            @*<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>*@
            <!--</div>-->
        </div>
        <div class="col-md-8" ng-hide="showDetail" style="overflow: scroll; height: 500px;">
            <div class="panel panel-default">
                <div class="panel-heading">Details</div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Miti</th>
                                <th>Cutsomer</th>
                                <th>Reseller</th>
                                <th>Items</th>
                                <th>Rate</th>
                                <th>Request Quantity</th>
                                <th>Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detail in details">
                                <td>{{detail.ORDER_NO}}</td>
                                <td>{{detail.MITI}}</td>
                                <td>{{detail.CUSTOMER_EDESC}}</td>
                                <td>{{detail.RESELLER_NAME}}</td>
                                <td>{{detail.ITEM_EDESC}}</td>
                                <td>{{detail.UNIT_PRICE}}</td>
                                <td>{{detail.QUANTITY}}</td>
                                <td>{{detail.NET_TOTAL}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

