@{
    ViewBag.Title = "Scheme Report";
    Layout = null;
}
<div ng-controller="SchemeReportCtrl">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/sales/SalesHome/Dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Scheme Report</a>
                <i class="fa fa-angle-right"></i>
            </li>
        </ul>


    </div>
    <div class="col-sm-4 col-md-4">
        <div class="form-group">
            <label class="control-label">
                Scheme Name 
            </label>
            <select id="distSchemeMultiSelect" name="distSchemeMultiSelect" kendo-multi-select k-options="distSchemeSelectOptions" slim-scroll ng-model="selecteddistScheme" style="width:100%;" required></select>
            

        </div>
    </div>

    <div class="row collapse in" id="demo" ng-hide="showGrid">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body form">
                    <div class="row kendo_table">
                        <kendo-grid options="grid" id="grid">
                          
                        </kendo-grid>
                        @Html.Partial("~/Views/Shared/Controls/_GridToolbar.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
