@using NeoErp.Core.Models;
@{
    ViewBag.Title = "Web Questionaire Setup";
}
<style>
    /*.radio_select {
        padding-right: 30px;
    }*/

    /*input.form-control {
        height: 24px;
        padding: 0px 6px;
    }*/

    .heading {
        margin-bottom: 15px;
    }

    .commonlbl {
        padding-left: 10px;
    }

    .wrapper {
        width: 100% !important;
    }
</style>

<div class="row">
    <div class="col-md-12 common">
        <div class="page-bar">
            <ul class="page-breadcrumb"></ul>

        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="portlet light bordered bg-inverse main">
                    <div class="portlet-title">
                        <div class="caption" style="color:forestgreen">
                            <i class="fa fa-question-circle" style="color:forestgreen"></i>
                            <span class="caption-subject bold uppercase">Question</span>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-group"><label class="control-label lbltxt">Customer Name :</label></div>
                            <div class="col-xs-12 col-sm-5 col-md-5 form-group">
                                <select id="customers" kendo-combo-box style="width: 100%" k-options="distCustomerOptions"></select>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 form-group"><input id="customername" type="text" name="customername" placeholder="Enter customer name" class="form-control txt" /></div>
                        </div>
                        <div class="row heading">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                        <strong>S.N.</strong>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <strong>Question</strong>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5">
                                        <strong>Answer</strong>
                                    </div>
                                </div>
                                <hr />
                            </div>
                            @*<div class="col-sm-4 col-md-4 col-lg-4">

                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <form class="row" id="webqaForm" name="webqaForm">
                                    <div ng-repeat="(key,x) in webQA">
                                        <div class="col-xs-2 col-sm-2 col-md-2">
                                            <label class="control-label">{{key+1}}.</label>
                                        </div>
                                        <div ng-if="x.QA_TYPE.indexOf('TXT') !== -1">
                                            <div class="row form-group">
                                                <div class="col-xs-4 col-sm-4 col-md-4"><label class="control-label lbltxt">{{x.QUESTION}}</label></div>
                                                <div class="col-xs-4 col-sm-5 col-md-5"><input type="text" ng-model="x.ANSWERS" name="{{x.QUESTION}}" class="form-control txt" /></div>
                                            </div>
                                            <hr />
                                        </div>
                                        <div ng-if="x.QA_TYPE.indexOf('MCR') !== -1">
                                            <div class="row form-group">
                                                <div class="col-xs-4 col-sm-4 col-md-4"><label class="control-label lblmcr">{{x.QUESTION}}</label></div>
                                                <div class="col-xs-5 col-sm-5 col-md-5">
                                                    <div ng-repeat="ans in x.MCR_ARR">
                                                        <input id="radiomcr_{{key}}" type="radio" name="radio*webque_MCR_{{key}}" value="{{x.QUESTION}}:{{ans}}">
                                                        <label class="commonlbl">{{ans}}</label>
                                                        @*<input class="mcr" name="{{x.QUESTION}}" type="checkbox" value="{{ans}}" />*@
                                                        @*<label for="radioyes_{{key}}">Yes</label>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                        <div ng-if="x.QA_TYPE.indexOf('MCC') !== -1">
                                            <div class="row form-group">
                                                <div class="col-xs-4 col-sm-4 col-md-4"><label class="control-label" lblmcc>{{x.QUESTION}}</label></div>
                                                <div class="col-xs-5 col-sm-5 col-md-5">
                                                    <div ng-repeat="ans in x.MCC_ARR">
                                                        <input class="mcc" name="{{x.QUESTION}}" type="checkbox" value="{{ans}}" />
                                                        <label class="commonlbl">{{ans}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                        <div ng-if="x.QA_TYPE.indexOf('BOL')!== -1">
                                            <div class="row form-group">
                                                <span class="col-xs-4 col-sm-4 col-md-4">
                                                    <label for="element">
                                                        {{x.QUESTION}}
                                                    </label>
                                                </span>
                                                <div class="col-xs-5 col-sm-5 col-md-5">
                                                    <input id="radioyes_{{key}}" type="radio" name="radio*webque_yesno_{{key}}" value="{{x.QUESTION}}:yes" checked>
                                                    <label for="radioyes_{{key}}">Yes</label>
                                                    <input id="radiono_{{key}}" type="radio" name="radio*webque_yesno_{{key}}" value="{{x.QUESTION}}:no">
                                                    <label for="radiono{{key}}">No</label>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                    </div>

                                </form>
                                <div>
                                    <button type="button" id="btnsavewqa" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="portlet light bordered bg-inverse main">
                    <div class="portlet-title">
                        <div class="caption" style="color:forestgreen">
                            <i class="fa fa-question-circle" style="color:forestgreen"></i>
                            <span class="caption-subject bold uppercase">Template Preview</span>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 form-group">
                                <label class="control-label">
                                    Template: <span></span>
                                </label>
                            </div>
                            <div class="col-xs-5 col-sm-5 col-md-5 form-group">
                                <select name="MessageTemplate" id="templateDDL" kendo-drop-down-list k-options="messagetemplateOptions" style="width:100%;"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-offset-7 col-md-offset-7 col-md-5 col-sm-5">
                                        @*<input type="text" class="form-control table-search" id="searchTemplateContent" placeholder="Search here" />*@
                                    </div>
                                </div>
                                <div id="result">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $("#btnsavewqa").on('click', function () {
            var data = $("form#webqaForm").serialize()
            if (!$("#customers").data("kendoComboBox").value())
                return displayPopupNotification("Please choose customer", "error");
            data = data + "&customer_code=" + $("#customers").data("kendoComboBox").value() + "&customer_name=" + $("#customername").val();
            var webUrl = window.location.protocol + "//" + window.location.host + "/Branding/saveUserWebQA";
            $.ajax({
                url: webUrl,
                type: "POST",
                data: data,
                success: function (result) {
                    $("#webqaForm").trigger("reset");
                    displayPopupNotification(result, "success");
                },
                error: function (xhr, resp, text) {
                    displayPopupNotification(resp, "error");
                }
            })
        })

        $("#_load").on('click', function () {
            if (localStorage['form_data']) {
                console.log("Loading form data...")
                console.log(JSON.parse(localStorage['form_data']))
                $("form#myForm").fromJSON(localStorage['form_data'])
            } else {
                console.log("Error: Save some data first")
            }

            return false;
        })
    });

    $("#searchTemplateContent").keyup(function () {
        debugger;
        var $this = $(this);
        var searchText = $this.val();
        var content = $("table");
        content.filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1)
        });
        //content.find("td").hide();
        //content.find("td:contains('" + searchText + "')").show();
    });

</script>
<script src="@Scripts.Url(" ~/Areas/NeoErp.Distribution/js/MenuNavigation.js")"></script>

