@model HtmlString

@{
    ViewBag.Title = "Reports";
    Layout = null;
    string repName = ViewBag.ReportName;
    if (repName == null)
    {
        repName = ViewContext.RouteData.Values["action"].ToString();
    }
}
<style>
    html, body {
        height: 96.5%;
        margin: 0px;
        padding: 0px;
    }
</style>

<html>
<head>
    <title>@repName</title>
    @Html.Partial("_LayoutHeader")
  
    <script src="~/Content/plugins/floatThead/jquery.floatThead.min.js"></script>
    <link href="~/Content/css/tablestyle.css" rel="stylesheet" />

</head>
<body>
   
    <article>
        <div id="header">

            <div class="seperator"></div>
            <div class="clear spacer"></div>
            <a id="dlink" style="display:none;"></a>

            <div id="compile" style="float: left; padding: 0px 5px 0 10px;">
                <input name="b_print" type="button" class="btn btn-primary" onclick="printdiv('div_print')" value=" Print " />
                <input name="b_export" type="button" class="btn btn-primary" onclick="RemoveThead(); tableToExcel('div_print', 'Inventory Report','@repName');" value=" Export " />

            </div>
            <div style="float:right; padding-right:10px; margin-bottom:0px;">
                <input type="checkbox" id="AddHead" onclick="ToogleHead();" /> <label for="AddHead" class="infosys">Freeze</label>                
            </div>
            <div class="clear spacer"></div>
            <div class="seperator"></div>
        </div>

        <div id="div_print" class="scrollRep" style="min-height:95%;width:100%; overflow:auto;margin:0px;">
            @Html.Raw(ViewBag.data)
        </div>
        
    </article>

    <script src="~/Content/js/NeoErpJS.js"></script>
    
    @*@Html.Partial("_LayoutFooter")*@

    <script>        
        $('#div_print').height($(window).height() - $('#header').height()-50);

        $('.TableStyle tr').click(function () {
            $(this).addClass("clicked").siblings().removeClass("clicked");
        });
       
    </script>
</body>
</html>
