

<select id="PartyTypeMultiSelect" name="PartyTypeMultiSelect" data-bind="DEALER_CODE" style="width:320px;"></select>

<script>

    $(document).ready(function () {
        var autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/UserSetup/GetPartyType";
        var autoCompletedataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: autoCompleteurl,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                }
            }
        });


        $('#PartyTypeMultiSelect').kendoMultiSelect({
            dataSource: autoCompletedataSource,
            dataTextField: "PARTY_TYPE_EDESC",
            dataValueField: "PARTY_TYPE_CODE",
            height: 600,
            headerTemplate: '<div class="col-md-offset-4"><strong>..Select party..</strong></div>',
            placeholder: "Select party type...",
            autoClose: false,
            dataBound: function () {
                var current = this.value();
                this._savedOld = current.slice(0);
            }
        });
    });
    $("#PartyTypeMultiSelect").data("kendoMultiSelect").options.maxSelectedItems = 1;
</script>