

<select id="ResellerMultiSelect" data-bind="SP_CODE" style="width:400px;"></select>

<script>

    $(document).ready(function () {
        var autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/UserSetup/GetReseller";
        var autoCompletedataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: autoCompleteurl,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                }
            }
        });


        $('#ResellerMultiSelect').kendoMultiSelect({
            dataSource: autoCompletedataSource,
            dataTextField: "RESELLER_NAME",
            dataValueField: "RESELLER_CODE",
            height: 600,
            headerTemplate: '<div class="col-md-offset-4"><strong>..Reseller..</strong></div>',
            placeholder: "Select Reseller...",
            autoClose: false,
            dataBound: function () {
                var current = this.value();
                this._savedOld = current.slice(0);
            }
        });
    });
    //$("#ResellerMultiSelect").data("kendoMultiSelect").options.maxSelectedItems = 1;
</script>