@{
    Layout = null;
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
}
<style>
    .form_tree {
        margin-top: 30px;
    }

        .form_tree .k-group.k-treeview-lines, .form_tree #formTreeView {
            max-height: 1500px !important;
            height: auto !important;
            overflow-x: hidden;
        }

    .page-sidebar.navbar-collapse {
        margin-top: 2px;
    }

    .page-sidebar .form_tree .k-treeview-lines li span {
        font-size: 12px !important;
    }


    .container-2 {
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }

        .container-2 input.Tree_search {
            width: 17px;
            height: 24px;
            border: none;
            font-size: 12px;
            float: left;
            color: #262626;
            padding-left: 26px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            color: #fff;
            border: solid #ddd 1px;
            margin-left: 10px;
            color: #2e2e2e;
            -webkit-transition: width .55s ease;
            -moz-transition: width .55s ease;
            -ms-transition: width .55s ease;
            -o-transition: width .55s ease;
            transition: width .55s ease;
        }

            .container-2 input.Tree_search::-webkit-input-placeholder {
                color: #65737e;
            }

            .container-2 input.Tree_search:-moz-placeholder { /* Firefox 18- */
                color: #65737e;
            }

            .container-2 input.Tree_search::-moz-placeholder { /* Firefox 19+ */
                color: #65737e;
            }

            .container-2 input.Tree_search:-ms-input-placeholder {
                color: #65737e;
            }

        .container-2 .icon {
            position: absolute;
            top: 50%;
            margin-left: 18px;
            margin-top: 7px;
            z-index: 1;
            color: #999;
        }

        .container-2 input.Tree_search:focus, .container-2 input.Tree_search:active {
            outline: none;
            width: 300px;
        }

        .container-2:hover input.Tree_search {
            width: 222px;
        }

        .container-2:hover .icon {
            color: #93a2ad;
        }

    #formContextMenu {
        font-size: 11px !important;
    }
</style>

<input type="hidden" value="normal" class="menudraf" />
<div>
    <div class="page-sidebar navbar-collapse collapse" ng-controller="MenuCtrl">
        <ul class="page-sidebar-menu page-sidebar-menu-light" data-keep-expanded="true" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-search-wrapper">
                <form class="sidebar-search" action="" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group search-input">
                        <a href="#search">
                            <input type="text" class="form-control swith" placeholder="Search..." ng-model="searchText1">
                            <span class="input-group-btn search-icon">
                                <i class="icon-magnifier"></i>
                            </span>
                        </a>
                    </div>
                </form>
            </li>
            <li class="nav-item" ng-repeat="abc in menuList| filter:searchText1" ng-include="'categoryTree'">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="{{abc.iconPath}}" aria-hidden="true"></i>
                    <span class="title">{{abc.formName}}</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="nav-item" ng-repeat="cf in CustomMenu" ng-include="'categoryTree'">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="{{cf.iconPath}}" aria-hidden="true"></i>
                    <span class="selected"></span>
                </a>
            </li>

            <li class="nav-item">

                <a href="" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <span class="title ng-binding"> Document Finder </span>
                    <span class="selected"></span>
                    <span class="arrow"></span>
                </a>

                <ul class="sub-menu">

                    <li class="start ng-scope">

                        <ul class="sub-menu ng-scope"></ul>
                        <a href="/DocumentTemplate/Template/SplitterIndex#!DT/MenuSplitter/04" class="nav-link nav-toggle ng-scope" style="display: block;">

                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span class="title ng-binding"> Sales</span>
                        </a>
                    </li>
                    <li class="start ng-scope">

                        <ul class="sub-menu ng-scope"></ul>
                        <a href="/DocumentTemplate/Template/SplitterIndex#!DT/MenuSplitter/03" class="nav-link nav-toggle ng-scope" style="display: block;">

                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span class="title ng-binding"> Production</span>
                        </a>
                    </li>
                    <li class="start ng-scope">

                        <ul class="sub-menu ng-scope"></ul>
                        <a href="/DocumentTemplate/Template/SplitterIndex#!DT/MenuSplitter/02" class="nav-link nav-toggle ng-scope" style="display: block;">

                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span class="title ng-binding"> Inventory N Purcurement</span>
                        </a>
                    </li>
                    <li class="start ng-scope">

                        <ul class="sub-menu ng-scope"></ul>
                        <a href="/DocumentTemplate/Template/SplitterIndex#!DT/MenuSplitter/01" class="nav-link nav-toggle ng-scope" style="display: block;">

                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span class="title ng-binding"> Financial</span>
                        </a>
                    </li>
                </ul><!-- end ngIf: abc.formName -->
                <!-- ngIf: abc.groupSkuFlag=='I' -->
                <!-- ngIf: abc.groupSkuFlag=='G' && abc.urlForSetup!=null -->
            </li>
            @*<li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/ThirdPartyPreferenceSetup" class="nav-link nav-toggle">
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class="title">Third Party Preference Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/PreferenceSetup" class="nav-link nav-toggle">
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class="title">Preference Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/BranchSetup" class="nav-link nav-toggle">
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class="title">Branch Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/DivisionSetup" class="nav-link nav-toggle">
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class="title">Division Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/CompanySetup" class="nav-link nav-toggle">
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class="title">Company Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>*@
            @*<li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/VehicleSetup" class="nav-link nav-toggle">
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class="title">Vehicle Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>*@
            <li class="nav-item">
                <a href="/DocumentTemplate/Home/Index#!DT/VehicleRegistration" class="nav-link nav-toggle">
                    <i class="fa fa-server" aria-hidden="true"></i>
                    <span class="title">Vehicle Registration Setup</span>
                    <span class="selected"></span>
                </a>
            </li>
            @*<li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/CurrencySetup" class="nav-link nav-toggle">
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class="title">Currency Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>*@
            @*<li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/CategorySetup" class="nav-link nav-toggle">
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class="title">Category Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>*@
            @*<li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/RejectableItemSetup" class="nav-link nav-toggle">
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class="title">Rejectable Item Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>*@
            @*<li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/PrioritySetup" class="nav-link nav-toggle">
                        <i class="fa fa-server" aria-hidden="true"></i>
                        <span class="title">Priority Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>*@

            <li class="nav-item">
                <a href="/DocumentTemplate/Home/Index#!DT/OrderDispatchmanagement" class="nav-link nav-toggle">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="title">Order Dispatch Setup</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/DocumentTemplate/Home/Index#!DT/PurchaseIndentAdjustment" class="nav-link nav-toggle">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="title">Purchase Indent Adjustment</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/DocumentTemplate/Home/Index#!DT/PurchaseOrderAdjustment" class="nav-link nav-toggle">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="title">Purchase Order Adjustment</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/DocumentTemplate/Home/Index#!DT/SalesOrderAdjustment" class="nav-link nav-toggle">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="title">Sales Order Adjustment</span>
                    <span class="selected"></span>
                </a>
            </li>

            @*  old    *@
            @*<li class="nam-item" id="lstSalesCheck">
                    <a href="/DocumentTemplate/Template/SplitterIndex#!DT/VerifySplitter/04" class="nav-link nav-toggle">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="title">Sales Check</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nam-item" id="lstSalesAuthorize">
                    <a href="/DocumentTemplate/Template/SplitterIndex#!DT/VerifySplitter/05" class="nav-link nav-toggle">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="title">Sales Authorize</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nam-item" id="lstSalesPost">
                    <a href="/DocumentTemplate/Template/SplitterIndex#!DT/VerifySplitter/06" class="nav-link nav-toggle">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="title">Sales Post</span>
                        <span class="selected"></span>
                    </a>
                </li>*@


            @*<li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/issueTypeSetup" class="nav-link nav-toggle">
                        <i class="fa fa-bug" aria-hidden="true"></i>
                        <span class="title">Issue Type Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>*@
            @*<li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/citySetup" class="nav-link nav-toggle">
                        <i class="fa fa-cab" aria-hidden="true"></i>
                        <span class="title">City Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>*@

            @*<li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/PartyTypeSetup" class="nav-link nav-toggle">
                        <i class="fa fa-cab" aria-hidden="true"></i>
                        <span class="title">PartyType Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>*@

            @*<li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/unitOfMeasurement" class="nav-link nav-toggle">
                        <i class="fa fa-balance-scale" aria-hidden="true"></i>
                        <span class="title">Unit Of Measurement </span>
                        <span class="selected"></span>
                    </a>
                </li>*@

            @*<li class="nav-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/chargeTypeDefinition" class="nav-link nav-toggle">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <span class="title">Charge Type Definition </span>
                        <span class="selected"></span>
                    </a>
                </li>*@

            <li class="nav-item">
                <a href="/DocumentTemplate/Home/Index#!DT/LoadingSlipGenerator" class="nav-link nav-toggle">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <span class="title">Loading Slip Generator </span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/DocumentTemplate/Home/Index#!DT/LoadingSlipPrinter" class="nav-link nav-toggle">
                    <i class="fa fa-print" aria-hidden="true" style="color:red"></i>
                    <span class="title">Loading Slip Printer </span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/DocumentTemplate/Home/Index#!DT/processSetupBom" class="nav-link nav-toggle">
                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                    <span class="title">Process Setup Bom</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/DocumentTemplate/Home/Index#!DT/SubLedgerMgmt" class="nav-link nav-toggle">
                    <i class="fa fa-superscript" aria-hidden="true"></i>
                    <span class="title">Sub Leger Management</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/DocumentTemplate/Home/Index#!DT/CostCenterMgmt" class="nav-link nav-toggle">
                    <i class="fa fa-superscript" aria-hidden="true"></i>
                    <span class="title">Cost Center Management</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nam-item">
                <a href="/DocumentTemplate/Home/Index#!DT/PriceSetup" class="nav-link nav-toggle">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    <span class="title">Price Setup</span>
                    <span class="selected"></span>
                </a>
            </li>

            @*For scheme setup*@
            <li class="nav-item">

                <a href="" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <span class="title ng-binding"> Scheme </span>
                    <span class="selected"></span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">

                    <li class="start ng-scope">

                        <ul class="sub-menu ng-scope"></ul>
                        <a href="/DocumentTemplate/Home/Index#!DT/SchemeSetup" class="nav-link nav-toggle ng-scope" style="display: block;">

                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span class="title ng-binding">Setup</span>
                        </a>
                    </li>
                    <li class="start ng-scope">

                        <ul class="sub-menu ng-scope"></ul>
                        <a href="/DocumentTemplate/Home/Index#!DT/SchemeRun" class="nav-link nav-toggle ng-scope" style="display: block;">

                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span class="title ng-binding">Run</span>
                        </a>
                    </li>

                    <li class="start ng-scope">

                        <ul class="sub-menu ng-scope"></ul>
                        <a href="/DocumentTemplate/Home/Index#!DT/SchemeImplement" class="nav-link nav-toggle ng-scope" style="display: block;">

                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span class="title ng-binding">Impact</span>
                        </a>
                    </li>
                    <li class="start ng-scope">

                        <ul class="sub-menu ng-scope"></ul>
                        <a href="/DocumentTemplate/Home/Index#!DT/SchemeTransaction" class="nav-link nav-toggle ng-scope" style="display: block;">

                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span class="title ng-binding">Report</span>
                        </a>
                    </li>

                </ul>
            </li>

            @*For interest calculator*@
            @*<li class="nam-item">
                    <a href="/DocumentTemplate/Home/Index#!DT/InterestCalc" class="nav-link nav-toggle">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <span class="title">Interest Calculation</span>
                        <span class="selected"></span>
                    </a>
                </li>*@


            <li class="nav-item">

                <a href="" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <span class="title ng-binding">Interest Calculation</span>
                    <span class="selected"></span>
                    <span class="arrow"></span>
                </a>

                <ul class="sub-menu">

                    <li class="start ng-scope">

                        <ul class="sub-menu ng-scope"></ul>
                        <a href="/DocumentTemplate/Home/Index#!DT/InterestCalc" class="nav-link nav-toggle ng-scope" style="display: block;">

                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span class="title ng-binding">Impact</span>
                        </a>
                    </li>
                    <li class="start ng-scope">

                        <ul class="sub-menu ng-scope"></ul>
                        <a href="/DocumentTemplate/Home/Index#!DT/InterestLog" class="nav-link nav-toggle ng-scope" style="display: block;">

                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span class="title ng-binding">Log</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="sidebar-context-menu" style="display:none">
            <li><a id="AddToFolder" name="AddToFolder" ng-click="AddToFolder()">Add To Folder</a></li>
        </ul>
    </div>
</div>
<script type="text/ng-template" id="categoryTree">
    <a href="{{abc.urlForSetup}}" class="nav-link nav-toggle" ng-if="abc.groupSkuFlag=='G' && abc.urlForSetup==null">
        <i class="{{abc.iconPath}}" aria-hidden="true"></i>
        <span class="title"> {{ abc.formName }}</span>
        <span class="selected"></span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu" ng-if="abc.formName" style="display:none;">
        <li class="start" ng-repeat="abc in abc.Items| filter:searchText1" ng-include="'categoryTree'">
        </li>
    </ul>
    <a href="{{abc.urlForSetup}}" class="nav-link nav-toggle" id="mymenuarea_{{25000 | randomize}}" ng-mousedown="Menuclick($event)" ng-if="abc.groupSkuFlag=='I'">
        <span style="display:none">{{abc.urlForSetup}} &  {{abc.formId}} & {{abc.iconPath}} &  {{ abc.formName }}</span>
        <i class="{{abc.iconPath}}" aria-hidden="true"></i>
        <span class="title"> {{ abc.formName }} </span>
    </a>
    <a href="{{abc.urlForSetup}}" class="nav-link nav-toggle" id="mymenuarea_{{25000 | randomize}}" ng-mousedown="Menuclick($event)" ng-if="abc.groupSkuFlag=='G' && abc.urlForSetup!=null">
        <span style="display:none">{{abc.urlForSetup}} &  {{abc.formId}} & {{abc.iconPath}} &  {{ abc.formName }}</span>
        <i class="{{abc.iconPath}}" aria-hidden="true"></i>
        <span class="title"> {{ abc.formName }}</span>
    </a>

</script>
<script>
    $("#AddToFolder").click(function () {
        var MenuId = window.menutarget;
        var WebDesktopManagement = {};
        WebDesktopManagement = {
            FORM_CODE: "",
            HREF: $($($(MenuId)[0]).find("span")[0]).text().split("&")[0],
            COLOR: "#929292",
            ICON_PATH: $($($(MenuId)[0]).find("span")[0]).text().split("&")[2],
            FORM_TYPE: "",
            ABBR: "",
            FORM_DESC: "",
            PREV_FOLDER_NAME: "Menu",
            NEW_FOLDER_NAME: "Menu",
            FUNCTION_LINK: "",
            TEMPLATE_CODE: "",
            MENU_EDESC: $($($(MenuId)[0]).find("span")[0]).text().split("&")[3],
            MENU_NO: "",
            SideBarMenu: true
        };
        $.ajax({
            type: "POST",
            url: "/Template/AddMenuFolderTemplate",
            data: { webDesktopManagement: WebDesktopManagement },// now data come in this function
            dataType: "html",
            success: function (response) {

                $("#FolderTemplate").html("");
                $("#FolderTemplate").html(response);
                window.menutarget = "";
                RESET();
            },
            error: function (response) {
            }
        });
    });
    $(function () {
        $(".page-sidebar-menu1").slimScroll({
            position: 'left',
            alwaysVisible: false,
            height: window.innerHeight - 35,
        });
        $(".sub-menu > li").on('click', function () {
            $('.page-sidebar-menu').find('li').removeClass('active');
            $(this).parent().parent().addClass('active')
            $(this).addClass('active');
        });
        $(".page-sidebar-menu > li").on('click', function () {
            if (!$(this).hasClass('nav-item')) {
                $('.page-sidebar-menu').find('li').removeClass('active');
                $(this).addClass('active');
            }
        });
        $('a[href="#search"]').on('click', function (event) {

            event.preventDefault();
            $('#search').addClass('open');
            $('#search > form > input[type="search"]').focus();
        });
        $('#search, #search button.search-close').on('click keyup', function (event) {
            if (event.target == this || event.target.className == 'search-close' || event.keyCode == 27) {
                $(this).removeClass('open');
            }
        });
        $('form').submit(function (event) {
            event.preventDefault();
            return false;
        })
    });
</script>