@*@model bool*@
<style>
    .selectbox {
        cursor: pointer;
        color: #337ab7;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    .ui-datepicker {
        z-index: 10076 !important;
    }


    .input-medium {
        width: 90% !important;
    }
</style>


@*@if (NeoErp.Core.Integration._Settings._S.setting.PrimaryDateType == HRM.Enums.PrimaryDateType.EnglishDate)*@
@{
    {
        // Model==True means display date fields in same line with floating left
        // Model == False means display date fields in seperate line
        if (Model == true)
        {
            @*<br />*@
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4">Date Filter &nbsp;&nbsp;</label>
                    <div class="col-md-8">
                        <select class="dateFilterSelect form-control" id="ddlDateFilterVoucher" name="DateStep"></select>
                    </div>
                </div>
                @*<div class="br"></div>*@
                <div class="form-group">
                    <label class="control-label col-md-4">BS Date Range</label>
                    <div class="col-md-8">
                        <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                            <input type="text" id="fromInputDateVoucher" class="frmDataInput form-control" placeholder="From Date" />

                            <span class="input-group-addon">
                                to
                            </span>
                            <input type="text" class="frmDataInput form-control" id="toInputDateVoucher" placeholder="To Date">
                        </div>
                    </div>
                    <!-- /input-group -->

                </div>
                @*<div class="br"></div>*@
                <div class="form-group">
                    <label class="control-label col-md-4">AD Date Range</label>
                    <div class="col-md-8">
                        <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                            <input type="text" name="FromDateVoucher" id="FromDateVoucher" class="form-control frmDataInput" readonly="readonly" placeholder="From Date" />

                            <span class="input-group-addon">
                                to
                            </span>
                            <input type="text" name="ToDateVoucher" class="form-control frmDataInput" readonly="readonly" id="ToDateVoucher" placeholder="To Date">
                        </div>
                    </div>
                    <!-- /input-group -->

                </div>
            </div>
                @*<br />*@
            }
            else
            {
                <span id="spandate" class="thin uppercase hidden-xs color-view bg-default bg-font-default bold uppercase sr-only" style="display:none"></span>
                <a data-toggle="modal" data-target="#form_modal2">                    
                    <div class="pull-right tooltips-date btn btn-circle btn-icon-only btn-default datepicker-gap date-tooltip" data-placement="left" data-html="true" data-container="body" data-toggle="tooltip">
                        <i class="icon-calendar"></i>
                    </div>
                </a>
                <div id="form_modal2" class="modal fade" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-custom">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Filter Date & Time</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Date Filter</label>
                                        <div class="col-md-8">
                                            <select class="dateFilterSelect form-control" id="ddlDateFilterVoucher" name="DateStep" style="width: 50%;">
                                                @*<option value="CT" selected="selected">Custom</option>
                                                    <option value="TD">Today</option>
                                                    <option value="TM">This Month</option>
                                                    <option value="LM">Last Month</option>
                                                    <option value="TQ">This Quater</option>
                                                    <option value="LQ">Last Quarter</option>
                                                    <option value="TH">This Half Year</option>
                                                    <option value="LH">Last Half Year</option>
                                                    <option value="TY">This Year</option>
                                                    <option value="LY">Last Year</option>*@
                                            </select>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="control-label col-md-4">BS Date Range</label>
                                        <div class="col-md-8">
                                            <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                <input type="text" id="fromInputDateVoucher" class="frmDataInput form-control" placeholder="From Date" />

                                                <span class="input-group-addon">
                                                    to
                                                </span>
                                                <input type="text" class="frmDataInput form-control" id="toInputDateVoucher" placeholder="To Date">
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">AD Date Range</label>
                                        <div class="col-md-8">
                                            <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                <input type="text" name="FromDateVoucher" id="FromDateVoucher" class="form-control frmDataInput" readonly="readonly" placeholder="From Date" />

                                                <span class="input-group-addon">
                                                    to
                                                </span>
                                                <input type="text" name="ToDateVoucher" class="form-control frmDataInput" readonly="readonly" id="ToDateVoucher" placeholder="To Date">
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                <button type="button" class="btn green applydp" id="applydp">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>


        }
    }


}
@*else
    {
        {
        if (Model == true)
        {
            <div class="caption">
                <div class="left">

                    <div class="left caption">
                        Date From
                    </div>
                    <div class="right">
                        <input type="text" id="txtDateFrom" class="nepali-calendar smallbox" />
                    </div>
                </div>

                <div class="left">
                    <div class="left caption">
                        Date To
                    </div>
                    <div class="right">
                        <input type="text" id="txtDateTo" class="nepali-calendar smallbox" />
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.Label("Date From", new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    <input type="text" id="DateFrom" name="DateFrom" class="nepali-calendar smallbox" />
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Date To", new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    <input type="text" id="DateTo" name="DateTo" class="nepali-calendar smallbox" />
                </div>
            </div>

        }

        }
    }*@

<script>
    //$('.modal-content').resizable({
    //    //alsoResize: ".modal-dialog",
    //    minHeight: 300,
    //    minWidth: 300
    //});
    // $('.modal-dialog.modal-custom').draggable();

    $('#myModal').on('show.bs.modal', function () {
        $(this).find('.modal-body').css({
            'max-height': '100%'
        });
    });

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

       
    });
</script>