@model bool
<style>
    .selectbox {
        cursor: pointer;
        color: #337ab7;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    .ui-datepicker {
        z-index: 10076 !important;
    }


    .input-medium {
        width: 100% !important;
    }

    .form-horizontal .control-label {
        padding-top: 0px !important;
        margin-bottom: 5px;
        text-align: right;
    }

    .gapline {
        margin-bottom: 10px;
    }
</style>
@*
<link href="~/Areas/NeoErp.Planning/Content/nepali.datepicker.v2.1.min.css" rel="stylesheet" />*@
<link href="@Styles.Url(" ~ /Content/nepali.datepicker.v2.1.min.css")" rel="stylesheet" type="text/css" />
@*@if (NeoErp.Core.Integration._Settings._S.setting.PrimaryDateType == HRM.Enums.PrimaryDateType.EnglishDate)*@
@{
    {
        // Model==True means display date fields in same line with floating left
        // Model == False means display date fields in seperate line
        if (Model == true)
        {

<div class="form-group">
    <div class="col-md-2">

        <label class="control-label" style="padding-bottom: 0px !important;">Date Filter @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Date Filter"></i>*@&nbsp;&nbsp;</label>
        <select class="dateFilterSelect form-control" id="ddlDateFilterVoucher" name="DateStep" ngSelected="onDateChange()"></select>
    </div>

    <div class="col-md-4">

        <label class="control-label"  style="padding-bottom: 0px !important;">BS Date Range @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="BS Date Range"></i>*@</label>
        <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
            <input type="text" id="fromInputDateVoucher" ng-model="startdate" name="startdate" class="frmDataInput form-control" placeholder="From Date" />
            <span class="input-group-addon"> to </span>
            <input type="text" class="frmDataInput form-control" id="toInputDateVoucher" placeholder="To Date">
        </div>
    </div>

    <div class="col-md-4">

        <label class="control-label" style="padding-bottom: 0px !important;">AD Date Range @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="AD Date Range"></i>*@</label>
        <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
            <input type="text" name="FromDateVoucher" id="FromDateVoucher" ng-model="PES.FROM_DATE" class="form-control frmDataInput" readonly="readonly" placeholder="From Date" />
            <span class="input-group-addon"> to </span>
            <input type="text" name="ToDateVoucher" class="form-control frmDataInput" ng-model="PES.TO_DATE" readonly="readonly" id="ToDateVoucher" placeholder="To Date">
        </div>

    </div>
    <!--decimal-->
    <div class="col-md-2">
        <div class="form-group">
            <label for="element" class="control-label col-md-12" style="padding-bottom: 0px !important;">
                Decimal
            </label>
            <div class="col-md-12">
                <select class="form-control" name="template" id="TemplateTypeMultiSelect" ng-model="PES.TEMPLATE" required>
                    <option>Nill</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                </select>
            </div>
        </div>
    </div>
    <!--decimal-->
</div>

            @*<div class="col-md-6">
    <div class="form-horizontal" style="margin-top: 15px;">
        <label class="control-label">
            Date Format :
        </label>

        <input type="radio" id="dateFormatAD" name="dateFormat" value="AD"
               ng-model="dateFormat" ng-change="DateFormatChange()" class="">
        <label for="dateFormatAD"> AD</label>
        <input type="radio" id="dateFormatBS" name="dateFormat" value="BS"
               ng-model="dateFormat" ng-change="DateFormatChange()" class="">
        <label for="dateFormatBS"> BS </label>
    </div>
</div>*@
        }
    }
}




<script>
    $('#myModal').on('show.bs.modal', function () {
        $(this).find('.modal-body').css({
            'max-height': '100%'
        });
    });

    //$(document).ready(function () {
    //    $('[data-toggle="tooltip"]').tooltip();
    //});
</script>
