@{
    Layout = null;
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
}
<style>
    .form_tree {
        margin-top: 30px;
    }

        .form_tree .k-group.k-treeview-lines, .form_tree #formTreeView {
            max-height: 1500px !important;
            height: auto !important;
            overflow-x: hidden;
        }

    .page-sidebar.navbar-collapse {
        margin-top: 2px;
    }

    .page-sidebar .form_tree .k-treeview-lines li span {
        font-size: 12px !important;
    }


    .container-2 {
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }

        .container-2 input.Tree_search {
            width: 17px;
            height: 24px;
            border: none;
            font-size: 12px;
            float: left;
            color: #262626;
            padding-left: 26px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            color: #fff;
            border: solid #ddd 1px;
            margin-left: 10px;
            color: #2e2e2e;
            -webkit-transition: width .55s ease;
            -moz-transition: width .55s ease;
            -ms-transition: width .55s ease;
            -o-transition: width .55s ease;
            transition: width .55s ease;
        }

            .container-2 input.Tree_search::-webkit-input-placeholder {
                color: #65737e;
            }

            .container-2 input.Tree_search:-moz-placeholder { /* Firefox 18- */
                color: #65737e;
            }

            .container-2 input.Tree_search::-moz-placeholder { /* Firefox 19+ */
                color: #65737e;
            }

            .container-2 input.Tree_search:-ms-input-placeholder {
                color: #65737e;
            }

        .container-2 .icon {
            position: absolute;
            top: 50%;
            margin-left: 18px;
            margin-top: 7px;
            z-index: 1;
            color: #999;
        }

        .container-2 input.Tree_search:focus, .container-2 input.Tree_search:active {
            outline: none;
            width: 300px;
        }

        .container-2:hover input.Tree_search {
            width: 222px;
        }

        .container-2:hover .icon {
            color: #93a2ad;
        }

    #formContextMenu {
        font-size: 11px !important;
    }
</style>

<input type="hidden" value="normal" class="menudraf" />
<div>
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-sidebar-menu-light" data-keep-expanded="true" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-search-wrapper">
                <form class="sidebar-search" action="" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group search-input">
                        <a href="#search">
                            <input type="text" class="form-control swith" placeholder="Search..." ng-model="searchText1">
                            <span class="input-group-btn search-icon">
                                <i class="icon-magnifier"></i>
                            </span>
                        </a>
                    </div>
                </form>
            </li>

            <li class="start ng-scope">
                <a href="/QuotationManagement/Home/Index#!QM/QuotationSetup" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span class="title ng-binding">Quotation Setup</span>
                </a>
            </li>
            <li class="start ng-scope">
                <a href="/QuotationManagement/Home/Index#!QM/QuotationDetails" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span class="title ng-binding">Quotation Details</span>
                </a>
            </li>
            <li class="start ng-scope">
                <a href="/QuotationManagement/Home/Index#!QM/SummaryReport" class="nav-link nav-toggle ng-scope">
                    <i class="fa fa-registered" aria-hidden="true"></i>
                    <span class="title ng-binding">Summary Report</span>
                </a>
            </li>
            @*<li class="nav-item">
            <a href="" class="nav-link nav-toggle">
                <i class="fa fa-building" aria-hidden="true"></i>
                <span class="title ng-binding"> Setup</span>
                <span class="selected"></span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="start">
                    <a href="/QuotationManagement/Home/Index#!QM/ProjectSetup" class="nav-link nav-toggle ng-scope">
                        <i class="fa fa-paypal" aria-hidden="true"></i>
                        <span class="title ng-binding">Project</span>
                    </a>
                </li>
                <li class="start">
                    <a href="/QuotationManagement/Home/Index#!QM/Project" class="nav-link nav-toggle ng-scope">
                        <i class="fa fa-paypal" aria-hidden="true"></i>
                        <span class="title ng-binding">Sub Project</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link nav-toggle ng-scope">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <span class="title ng-binding"> Entry Screen</span>
                <span class="selected"></span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="start ng-scope">
                    <a href="/QuotationManagement/Home/Index#!QM/ConsumptionEntry?formcode=649" class="nav-link nav-toggle ng-scope">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <span class="title ng-binding">Daily Consumption Entry</span>
                    </a>
                </li>
                <li class="start ng-scope">
                    <a href="/QuotationManagement/Home/Index#!QM/RequisitionEntry?formcode=160" class="nav-link nav-toggle ng-scope">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        <span class="title ng-binding">Goods Requisition Entry</span>
                    </a>
                </li>
                <li class="start ng-scope">
                    <a href="/QuotationManagement/Home/Index#!QM/AuxiliaryEntry?formcode=649" class="nav-link nav-toggle ng-scope">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <span class="title ng-binding">Daily Auxiliary Item Entry </span>
                    </a>
                </li>
                <li class="start ng-scope">
                    <a href="/QuotationManagement/Home/Index#!QM/PurchaseEntry?formcode=1282" class="nav-link nav-toggle ng-scope">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <span class="title ng-binding">Purchase Entry Screen</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link nav-toggle ng-scope">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span class="title ng-binding"> Report</span>
                <span class="selected"></span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="start ng-scope">
                    <a href="/QuotationManagement/Home/Index#!QM/ConsumptionReport" class="nav-link nav-toggle ng-scope">
                        <i class="fa fa-files-o" aria-hidden="true"></i>
                        <span class="title ng-binding">Daily Consumption Report</span>
                    </a>
                </li>
                <li class="start ng-scope">
                    <a href="/QuotationManagement/Home/Index#!QM/RequisitionReport" class="nav-link nav-toggle ng-scope">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        <span class="title ng-binding">Daily Requisition Report</span>
                    </a>
                </li>
                <li class="start ng-scope">
                    <a href="/QuotationManagement/Home/Index#!QM/RequisitionPendingReport" class="nav-link nav-toggle ng-scope">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <span class="title ng-binding">Daily Requisition Pending Report</span>
                    </a>
                </li>

                <li class="start ng-scope">
                    <a href="/QuotationManagement/Home/Index#!QM/PurchaseReport" class="nav-link nav-toggle ng-scope">
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        <span class="title ng-binding">Daily Purchase Report</span>
                    </a>
                </li>
            </ul>
        </li>*@
        </ul>
    </div>
</div>
