

<style>
    /*.btnadd {
        margin-top: 2px;
        float: right;
        margin-right: 5px !important;
    }*/

    div.k-treeview {
        overflow: unset !important;
    }

    .k-grid-content {
        height: 358px !important;
    }
    .portlet > .portlet-title > .actions .btn-icon-only {
        padding: 9px 7px 3px 7px !important;
    }
    .addcolor {
    color:#ffffff;
    }
    .k-splitter .k-scrollable {
        overflow-y: hidden !important;
    }

    .k-scrollable .k-widget.k-treeview {
        max-height: 444px;
        overflow: auto !important;
    }
    
</style>
@*<div ng-controller="accountSetupTreeCtrl">*@

<div class="portlet box green-box">
    <account></account>
    <div class="portlet-title">
        <div class="caption ">
            <i class="icon-pin"></i>
            <span class="caption-subject bold uppercase"> CHART OF ACCOUNT</span>
        </div>
        <div class="actions">

            <div class="btn-group">
                <a class="btn dark-green btn-sm" id="adddocumentformdata" @*ng-disabled="newrootinsertFlag!= 'Y'"*@ ng-click="addNewAccount(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                    <i class="fa fa-plus addcolor"></i>
                </a>
                @*<a class="btn btn-sm green-meadow" id="adddocumentformdata" @*ng-disabled="newrootinsertFlag!= 'Y'" ng-click="addNewAccount(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                    <i class="fa fa-plus"></i> NEW ROOT
                </a>*@
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div id="accounttree" class="disableLeftClickOnTree" kendo-tree-view="tree"
             k-data-source="acctreeData"
             k-options="accoptions"
             k-data-bound="acconDataBound">
            <span k-template ng-click="BindGrid(dataItem.masterAccountCode)">
                {{dataItem.AccountName}}
            </span>
        </div>
        <ul kendo-context-menu
            k-filter="'.hasTreeCustomMenu'"
            k-on-open="menuOpen = menuOpen + 1"
            k-on-close="menuOpen = menuOpen - 1"
            k-on-select="onContextSelect(kendoEvent)">
            <li>Add</li>
            <li>Update</li>
            <li>Delete</li>
        </ul>
        <ul kendo-context-menu k-filter="'.disableLeftClickOnTree'"></ul>
        </div>
    </div>

        
       
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $('.treeviewspliter .k-widget.k-treeview').slimScroll({
                        height: '250px'
                    });
                }, 10);

              
            });
     

        </script>
