
<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }

    .k-virtual-scrollable-wrap {
        height: 454px !important;
    }
</style>

<form id="AgentForm" name="AgentsForm" novalidate>


    <div class="portlet box green-box main">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-plus-square"></i>
                <span class="caption-subject bold uppercase">
                    {{AgentHeader}}
                </span>
            </div>
            <div class="actions pull-right">

                <button type="button" id="deleteAgent" name="deleteAgent" ng-model="btnDelete" ng-disabled="!btnDelete" ng-click="deleteAgent(AgentsForm.$valid)" class="btn btn-danger btn-sm">Delete</button>
                <button type="button" id="saveAgent" name="saveAgent" ng-click="SaveAgent(AgentsForm.$valid)" class="btn dark-green btn-sm">{{saveAction}}</button>
                <button type="button" id="cancelAgent" name="cancelAgent" ng-click="Cancel()" class="btn btn-default btn-sm">New</button>

            </div>
        </div>

        <div class="portlet-body form-horizontal">

            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                            Shortcut<span style="color:red" ng-show="AgentsForm.AgentCode.$invalid">
                                <span ng-show="AgentsForm.AgentCode.$error.required">*</span>
                            </span>
                        </label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control" type="text" name="AgentCode" ng-model="Agent.AGENT_CODE" id="AgentCode" placeholder="Agent Code" required readonly>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                            Agent Id@*<span style="color:red" ng-show="AgentsForm.Agentid.$invalid">
                                <span ng-show="AgentsForm.Agentid.$error.required">*</span>
                            </span>*@
                        </label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control" type="text" name="Agentid" ng-model="Agent.AGENT_ID" id="Agentid" placeholder="Agent ID" >
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                            Agent Name<span style="color:red" ng-show="AgentsForm.AgentName.$invalid">
                                <span ng-show="AgentsForm.AgentName.$error.required">*</span>
                            </span>
                        </label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control" type="text" name="AgentName" ng-model="Agent.AGENT_EDESC" id="AgentName" placeholder="Agent name" required>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4  col-lg-4">
                            Agent Type<span style="color:red" ng-show="AgentsForm.agentName.$invalid">
                                <span ng-show="AgentsForm.agentName.$error.required">*</span>
                            </span>
                        </label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <select ng-model="Agent.AGENT_TYPE" id="agentName" class="form-control" name="agentName" style="width:100%" >
                                <option value="">-- Select Agent Type--</option>
                                <option value="SA">CUSTOMER</option>
                                <option value="IP">SUPPLIER</option>
                            </select>
                        </div>
                    </div>

                </div>
                @*<div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                Address<span style="color:red" ng-show="AgentsForm.address.$invalid">
                                    <span ng-show="AgentsForm.address.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-9 col-md-9 col-lg-9">
                                <input class="form-control" type="text" name="address" ng-model="Agent.ADDRESS" id="address" placeholder="Address">
                            </div>
                        </div>

                    </div>*@
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                            Credit Limit
                        </label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control" type="number" name="creditlimit" ng-model="Agent.CREDIT_LIMIT" id="creditlimit" ng-change="creditLimitChecker()" placeholder="Credit Limit" >
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                            Pan No  <span style="color:red" ng-show="AgentsForm.panno.$error.pattern">*</span>

                        </label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control" type="text" name="panno" ng-model="Agent.PAN_NO" maxlength="9" id="panno" ng-pattern="/^[0-9]{1,9}$/" placeholder="Pan No" >
                        </div>
                    </div>

                </div>


                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                            Credit Days

                        </label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control" type="number" name="creditdays" ng-model="Agent.CREDIT_DAYS" id="creditdays" ng-change="creditLimitChecker()" placeholder="Credit Days">
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                            Remarks
                        </label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <textarea class="form-control" type="text" name="AgentRemarks" ng-model="Agent.REMARKS" id="AgentRemarks" placeholder="some text"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</form>
<script>

    $(document).ready(function () {

        setTimeout(function () {

            $('.k-list').slimScroll({
                height: '250px'
            });
        }, 100)

        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            //if ($(this).attr('href') == '#tab_1') {
            //    $('#tab_1').tab('show')
            //}
            if ($(this).attr('href') == '#tab_2') {
                $('#tab_2').tab('show')
            }
        });
    });




</script>
<script>
    $("#creditdays").on("keypress keyup blur", function (event) {
        $(this).val($(this).val().replace(/[^\d].+/, ""));
        if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
</script>
