
<style>
    .btnadd {
       
        margin-top: 2px;
        float:right;
        margin-right:5px !important;
    }
    div.k-treeview
    {
        overflow:unset !important;
    }
    #accounttree
    {
        margin-top:30px;
    }
</style>
@*<div ng-controller="agentSetupTreeCtrl">*@


<div class="btn-group btnadd">
    
</div>
    
    <div class="row1 portletspace">
        <kendo-grid k-options="areaGridOptions" id="grid"></kendo-grid>
    </div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.treeviewspliter .k-widget.k-treeview').slimScroll({
                height: '250px'
            });
        }, 10);
    });
    
</script>