
<style>
    .btnadd {
        margin-top: 2px;
        float: right;
        margin-right: 5px !important;
    }

    div.k-treeview {
        overflow: unset !important;
    }

    #accounttree {
        margin-top: 30px;
    }
     .addcolor {
    color:#ffffff;
    }
</style>
@*<div ng-controller="accountSetupTreeCtrl">*@

<div class="portlet box green-box main">
    <budget></budget>
    <div class="portlet-title">
        <div class="caption ">
            <i class="icon-pin"></i>
            <span class="caption-subject bold uppercase">Branch Setup</span>
        </div>
        <div class="actions">

            <a class="btn dark-green btn-sm" id="adddocumentformdata" ng-click="addnewaccount(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> processing..." href="javascript:;">
                <i class="fa fa-plus addcolor"></i>
            </a>

        </div>
    </div>
    <div class="portlet-body">
        <div id="branchParenttree" class="disableLeftClickOnTree" kendo-tree-view="tree"
             k-data-source="branchtreeData"
             k-options="bcoptions"
             k-data-bound="bconDataBound">
            <span k-template ng-click="BindGrid(dataItem.BRANCH_CODE)">
                {{dataItem.BRANCH_EDESC}}
            </span>
        </div>
        <ul kendo-context-menu
            k-filter="'.hasTreeCustomMenu'"
            k-on-open="menuOpen = menuOpen + 1"
            k-on-close="menuOpen = menuOpen - 1"
            k-on-select="onContextSelect(kendoEvent)">
            <li>Add</li>
            <li>Update</li>
            <li>Delete</li>
        </ul>
        <ul kendo-context-menu k-filter="'.disableLeftClickOnTree'"></ul>
    </div>

</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.treeviewspliter .k-widget.k-treeview').slimScroll({
                height: '250px'
            });
        }, 10);
    })

</script>
