<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .k-grid-content {
        height: 367px !important;
    }

    #kGrid {
        height: 427px !important;
    }

    .addcolor {
        color: #ffffff;
    }

    .mb-10 {
        margin-bottom: 10px !important;
    }

    .ml--30 {
        margin-left: -30px;
    }

    .ta-c {
        text-align: center !important;
    }

    .mb-5 {
        margin-bottom: 5px !important;
    }

    .mr-15 {
        margin-right: 15px !important;
    }

    .pt-15 {
        padding-top: 15px !important;
    }

    .mb-0 {
        margin-bottom: 0px !important;
    }
</style>
<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /*.k-grid-content {
        height: 335px !important;
    }
    #kGrid {
        height: 395px !important;
    }*/
    .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }

    .k-virtual-scrollable-wrap {
        height: 454px !important;
    }

    #createContractForm .k-multiselect-wrap ul li {
        font-size: 10px !important;
    }

    #createContractForm .k-multiselect-wrap .k-input {
        color: hsl(0, 0%, 80%);
    }

    multiselect-wrap.k-floatwrap {
        max-height: 101px;
        overflow-y: auto;
    }
</style>

<div class="portlet box green-box main">

    <div class="portlet-title">
        <div class="caption caption-title ng-binding">
            <i class="fa fa-list-alt"></i><span class="caption-subject bold uppercase">Budget Center</span>
        </div>
        <div class="actions">
            <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-disabled="treenodeselected!= 'Y'" ng-click="showModalForNew(event)">
                <i class="fa fa-plus"></i> NEW
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-offset-8 col-md-4 search_box">
                <div class="topsearch" style="display:block;">
                    <a class="btn-linkicon fa fa-search" style="margin-right: -13px;" ng-click="BindGrid('All')"></a>
                    <input class="k-textbox txtSearchString" type="text" id="bgttxtSearchString" ng-model="txtSearchString" name="search" placeholder="enter search text..." style="margin-left: 13px;" />
                </div>
            </div>
        </div>
        <kendo-grid id="kGrid" options="budgetCenterChildGridOptions" k-rebind="budgetCenterChildGridOptions">
        </kendo-grid>
    </div>

    <div class="modal fade-out" id="groupBudgetCenterModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog modal-medium-large">
            <div class="modal-content">
                <div class="modal-header">
                    <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Group Budget Center Model
                    </h4>
                </div>
                <div class="modal-body form-horizontal pt-15">
                    <form name="budgetCenterArrform">
                        <div class="row">
                            @*new  design*@

                            <div class="col-md-6">
                                <div class="row">

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group mb-10">
                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">Under Group:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8 ml--30">
                                                <select id="masterbudgetcode" kendo-drop-down-list
                                                        k-options="budgetGroupOptions"
                                                        style="width: 100%" disabled></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group mb-10">

                                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">Budget Code:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8 ml--30">
                                                <input type="text" id="budgetcode" name="budgetcode" ng-model="budgetcenterArr.BUDGET_CODE" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group mb-10">
                                            <input type="hidden" id="budgetcode" name="BUDGET_CODE" ng-model="budgetcenterArr.BUDGET_CODE" class="form-control" />
                                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">
                                                In English:<span style="color:red" ng-show="budgetCenterArrform.budgetname.$invalid">
                                                    <span ng-show="budgetCenterArrform.budgetname.$error.required">*</span>
                                                </span>
                                            </label>
                                            <div class="col-sm-8 col-md-8 col-lg-8 ml--30">
                                                <input type="text" id="budgetname" name="budgetname" ng-model="budgetcenterArr.BUDGET_EDESC" class="form-control" required />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group mb-10">

                                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">In Nepali:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8 ml--30">
                                                <input type="text" id="budgetnname" name="budgetnname" ng-model="budgetcenterArr.BUDGET_NDESC" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group mb-0">

                                            <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">
                                                Asign To:
                                            </label>
                                            <div class="col-sm-8 col-md-8 col-lg-8 ml--30">
                                                <input type="text" id="asignto" name="asignto" ng-model="budgetcenterArr.ASSIGN_TO" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <fieldset class="mr-15">
                                                <legend class="ta-c mb-5">Record type</legend>

                                                @*<label class="control-label col-md-3 col-lg-3"></label>*@
                                                <div class=" radio_select">

                                                    <span>
                                                        <input type="radio" name="locationType" ng-model="budgetcenterArr.GROUP_SKU_FLAG" value="G" ng-disabled="true" /> Group
                                                    </span>
                                                    <span>
                                                        <input type="radio" name="locationType" ng-model="budgetcenterArr.GROUP_SKU_FLAG" value="I" ng-disabled="true" /> Individual
                                                    </span>

                                                    <span>
                                                        <input id="freezeflag" type="checkbox" ng-model="budgetcenterArr.FREEZE_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Freeze Flag
                                                    </span>
                                                </div>


                                            </fieldset>
                                        </div>
                                    </div>






                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">

                                            <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">
                                                Accounts:
                                            </label>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <select id="custaccountMultiSelect" ng-model="budgetcenterArr.ACC_CODE" k-value-primitive="true" k-ng-model="budgetcenterArr.ACC_CODE" name="custaccountMultiSelect" kendo-drop-down-list
                                                        k-options="custaccountOptions" k-on-change="onChangecustaccount(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">

                                            <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Remarks:</label>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <textarea rows="2" class="form-control" id="remarks" name="REMARKS" ng-model="budgetcenterArr.REMARKS"></textarea>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>





                    </form>
                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewBudgetCenter(budgetCenterArrform.$valid)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                    </button>

                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel($index)">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $(".topsearch").hide();
        $('.k-list').slimScroll({
            height: '250px'
        });
        $("#bgttxtSearchString").keyup(function () {
            var val = $('#bgttxtSearchString').val();
            $("#kGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "BUDGET_EDESC",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "FREEZE_FLAG",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "CREATED_BY",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "CREATED_DATE",
                        operator: "contains",
                        value: val
                    }
                ]
            });
        });
    });
</script>