<style>
    .mb-0 {
        margin-bottom: 0px !important;
    }

    .ta-c {
        text-align: center !important;
    }

    .mb--8 {
        margin-bottom: -8px !important;
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .k-grid-content {
        height: 367px !important;
    }

    #kGrid {
        height: 427px !important;
    }
          .addcolor {
    color:#ffffff;
    }
</style> 
    <div class="portlet box green-box main">
       
            <div class="portlet-title">
                <div class="caption caption-title ng-binding">
                    <i class="fa fa-list-alt"></i><span class="caption-subject bold uppercase">Division Setup</span>
                </div>
                <div class="actions">
                    <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-disabled="treenodeselected!= 'Y'" ng-click="showModalForNew(event)">
                        <i class="fa fa-plus"></i> NEW
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-offset-8 col-md-4 search_box">
                        <div class="topsearch" style="display:block;">
                            <a class="btn-linkicon fa fa-search" style="margin-right: -13px;" ng-click="BindGrid('All')"></a>
                            <input class="k-textbox txtSearchString" type="text" id="divtxtSearchString" ng-model="txtSearchString" name="search" placeholder="enter search text..." style="margin-left: 13px;" />
                        </div>
                    </div>
                </div>
                <kendo-grid id="kGrid" options="divisionChildGridOptions" k-rebind="divisionChildGridOptions">
                </kendo-grid>
            </div>

            <div class="modal fade-out" id="divisionSetupModal" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog modal-medium-large">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                division Setup Model
                            </h4>
                        </div>
                        <div class="modal-body mb--8">

                            <form name="divisionArrform" class="form-horizontal" novalidate>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">

                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">Under Group:</label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <select id="masterdivisioncode" kendo-drop-down-list
                                                                ng-disabled="true"
                                                                k-options="divisionGroupOptions"
                                                                style="width: 100%"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">Division  Code:</label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <input type="text" id="newbranchcode" name="newbranchcode" ng-model="divisionArr.DIVISION_CODE" class="form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>

                                          
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <input type="hidden" id="branchcode" name="branchcode" ng-model="divisionArr.DIVISION_CODE" class="form-control" />
                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">
                                                        In English:<span style="color:red" ng-show="divisionArrform.divisionname.$invalid">
                                                            <span ng-show="divisionArrform.divisionname.$error.required">*</span>
                                                        </span>
                                                    </label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <input type="text" id="divisionname" name="divisionname" ng-model="divisionArr.DIVISION_EDESC" class="form-control" required />
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">In Nepali:</label>
                                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                                        <input type="text" id="branchnepname" name="branchnepname" ng-model="branchgArr.BRANCH_NDESC" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>*@

                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">
                                                        Telephone No:<span style="color:red" ng-show="divisionArrform.telephone.$invalid || divisionArrform.telephone.$error.pattern">
                                                            <span ng-show="divisionArrform.telephone.$error.required || divisionArrform.telephone.$error.pattern">*</span>
                                                        </span>
                                                    </label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <input type="text" id="telephone" name="telephone" maxlength="10" ng-model="divisionArr.TELEPHONE_NO" class="form-control" ng-pattern="phoneNumbr" required />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">
                                                        Email:<span style="color:red" ng-show="divisionArrform.email.$invalid">
                                                            <span ng-show="divisionArrform.email.$error.required">*</span>
                                                        </span>
                                                    </label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <input type="text" id="email" name="email" ng-model="divisionArr.EMAIL" class="form-control" required />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <fieldset>
                                                        <legend class="ta-c mb-0">Record type</legend>

                                                        @*<label class="control-label col-md-3 col-lg-3"></label>*@
                                                        <div class=" radio_select">

                                                            <span>
                                                                <input type="radio" name="locationType" ng-model="divisionArr.GROUP_SKU_FLAG" value="G" ng-disabled="true"/>Group
                                                            </span>
                                                            <span>
                                                            <input type="radio" name="locationType" ng-model="divisionArr.GROUP_SKU_FLAG" value="I" ng-disabled="true"/> Individual
                                                            </span>
                                                           

                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">
                                                        Address:<span style="color:red" ng-show="divisionArrform.address.$invalid">
                                                            <span ng-show="divisionArrform.address.$error.required">*</span>
                                                        </span>
                                                    </label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <input type="text" id="address" name="address" ng-model="divisionArr.ADDRESS"   class="form-control" required />
                                                    </div>
                                                </div>
                                            </div>


                                     


                                         

                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">Remarks:</label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <textarea rows="2" class="form-control" id="remarks" name="REMARKS" ng-model="divisionArr.REMARKS"></textarea>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                </div>









                            </form>

                        </div>
                        <div class="modal-footer">
                             
                                <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewDivision(divisionArrform.$valid)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                    <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                                </button>
                      
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
     
    </div>
 
<script>
    $(document).ready(function () {
        $('.k-list').slimScroll({
            height: '250px'
        });
         $(".topsearch").hide();
            $("#divtxtSearchString").keyup(function () {
                var val = $('#divtxtSearchString').val();
                $("#kGrid").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "DIVISION_EDESC",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "ADDRESS",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "EMAIL",
                            operator: "contains",
                            value: val
                        },
                        {
                            field: "REMARKS",
                            operator: "contains",
                            value: val
                        }
                    ]                
                });
            });
    });
</script>