
<style>
    .heightforfile {
        height: 14px;
    }

    .modal-dialogbox-body {
        min-height: 450px !important;
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .document_child_table td {
        /*border: 1px solid #ddd;*/
        font-size: 9px !important;
        border-top: none !important;
    }

    .document_child_table th {
        padding: 5px;
    }

    .buttonadd {
        padding-right: 3px;
        padding-left: 2px;
        /* padding-top: 2px; */
        margin-left: 3px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }

    .buttonadd, .buttondelete {
        font-size: 11px;
    }

    .buttondelete {
        padding-right: 2px;
        padding-left: 3px;
        /* padding-top: 2px; */
        margin-left: 2px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }

    .dynamic-table input {
        border: none !important;
        /* text-align: right; */
    }

    .dynamic-table input {
        font-size: 10px !important;
        height: 21px !important;
        padding: 0px 3px;
    }

    .document_child_table .table_body.min-body {
        max-height: 69px !important;
        display: block !important;
        overflow-y: auto;
        /* overflow: auto !important; */
    }

    .top-gap {
        margin-top: 5px;
    }

    .document_child_table td {
        /*border: 1px solid #ddd;*/
        font-size: 9px !important;
        border-top: none !important;
    }

    .dynamic-table input {
        border: none !important;
    }

    .k-grid-content {
        height: 367px !important;
    }

    #kGrid {
        height: 427px !important;
    }

    .main input.form-control, .main select {
        /*font-size:10px !important;*/
    }

    .chargerequiredAsterik {
        padding-left: 4px;
    }

    .borderRed {
        border: solid red 1px !important;
    }

    .addcolor {
        color: #ffffff;
    }
</style>



<div class="portlet box green-box main">

    <div class="portlet-title">
        <div class="caption ng-binding">
            <i class="fa fa-list-alt"></i>
            <span class="caption-subject bold uppercase">
                Item
            </span>
        </div>
        <div class="actions">
            <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-disabled="treenodeselected" ng-click="showModalForNew(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                <i class="fa fa-plus"></i> NEW
            </a>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <div class="col-md-offset-8 col-md-4 search_box">
                <div class="topsearch" style="display:block;">
                    <a class="btn-linkicon fa fa-search" style="margin-right: -13px;"  ng-click="BindGrid('All')"></a>
                    <input class="k-textbox txtSearchString" type="text" id="itemtxtSearchString" ng-model="txtSearchString" name="search" placeholder="enter search text..." style="margin-left: 13px;"/>
                </div>
            </div>
        </div>
        <kendo-grid id="kGrid" options="ItemChildGridOptions" k-rebind="ItemChildGridOptions">
        </kendo-grid>
    </div>

    <div class="modal fade-out" id="itemGroupModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog  modal-dialog-box1 modal-medium-large">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Item Group Setup
                    </h4>

                </div>

                <div class="modal-body">

                    <form name="itemsetupforms" class="form-horizontal" novalidate>
                        <!--tab start-->

                        <ul id="myTab1" class="nav nav-tabs responsive_tab">
                            <li class="active">
                                <a href="#tab_1" data-toggle="tab">
                                    General
                                </a>
                            </li>
                            <li>
                                <a href="#tab_2" ng-click="tabcharge()" data-toggle="tab">
                                    Charge
                                </a>
                            </li>
                            <li>
                                <a href="#tab_3" data-toggle="tab">
                                    Specification
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content responsive_tab_content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">

                                            @*<div class="col-sm-6 col-md-6 col-lg-6">

            <div class="form-group">
                <label class="control-label col-sm-4 col-md-4 col-lg-4">Group Code</label>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input type="text" id="Document" name="Document" ng-model="itemArr.GROUP_CODE" class="form-control fixedsize" readonly />
                </div>
            </div>
        </div>*@

                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">Parent</label>

                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <select id="itemGroupCode" name="itemGroupCode"
                                                                ng-disabled="true"
                                                                k-options="itemGroupOptions" kendo-drop-down-list
                                                                style="width:100%"></select>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                                        Group Name
                                                        <span style="color:red" ng-show="!itemsetupforms.groupname.$valid">*</span>
                                                    </label>


                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <input type="text" id="groupname" name="groupname" class="form-control" ng-model="itemArr.ITEM_EDESC" required />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">Costing Method</label>

                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <select id="costingmethod" name="costingmethod" ng-model="itemArr.COSTING_METHOD_FLAG" style="width:100%">
                                                            <option value="">--Select Costing Method--</option>
                                                            <option value="L">LIFO</option>
                                                            <option value="F">FIFO</option>
                                                            <option value="A">AVG</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">Remarks</label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <textarea type="text" id="Charge" name="Charge" ng-model="itemArr.REMARKS" class="form-control fixedsize" />
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <span style="color:red">{{mucodeerror}}</span>
                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                                        Index Units
                                                        <span style="color:red" ng-show="itemsetupforms.MU_CODE.$invalid">
                                                            <span ng-show="!itemsetupforms.MU_CODE.$valid">*</span>
                                                        </span>

                                                    </label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <select id="itemMuCode" ng-model="itemArr.INDEX_MU_CODE" k-value-primitive="true" k-ng-model="itemArr.INDEX_MU_CODE" name="MU_CODE" kendo-drop-down-list
                                                                k-options="muCodeOptions" k-on-change="muCodeOnChange(kendoEvent)"
                                                                style="width: 100%"></select>

                                                        @*<select id="itemMuCode" name="MU_CODE" ng-model="itemArr.INDEX_MU_CODE"
                    k-on-change="muCodeOnChange(kendoEvent)" k-options="muCodeOptions" kendo-combo-box
                    style="width:100%" required></select>*@
                                                    </div>

                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                                        Catagory<span style="color:red" ng-show="itemsetupform.categorycode.$invalid">
                                                            <span ng-show="!itemsetupform.categorycode.$valid">*</span>
                                                        </span>
                                                    </label>

                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        @*<select id="categorycode" name="categorycode" k-options="categoryOptions" kendo-drop-down-list
        ng-model="itemArr.CATEGORY_CODE" style="width:100%" required></select>*@
                                                        <input  id="categorycode" ng-model="itemArr.CATEGORY_CODE" name="acccode" class="acccode accmaster macccode c w-100" kendo-combo-box
                                                               k-placeholder="'Select Category'"
                                                               k-data-text-field="'CATEGORY_EDESC'"
                                                               k-data-value-field="'CATEGORY_CODE'"
                                                               k-filter="'contains'"
                                                               k-auto-bind="true"
                                                               k-suggest="false"
                                                               k-options="categoryOptions"
                                                               k-min-length="3" required/>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <fieldset class="fieldset-box">
                                            <legend>

                                                <input type="checkbox">
                                                <label class="control-label">Item Association (Integration) </label>
                                            </legend>

                                            <div class="table-responsive">
                                                <table class="table table-bordered table-responsive popuptbl">
                                                    <thead>
                                                        <tr>
                                                            <th>Document </th>

                                                            <th>Account </th>

                                                            <th style="width:20%;">&nbsp;</th>
                                                        </tr>

                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="inte in integrationArr track by $index">
                                                            <td>
                                                                <input kendo-combo-box
                                                                       id="charge_document"
                                                                       class="chargeDocument_{{$index}}"
                                                                       k-value-primitive="true"
                                                                       k-placeholder="'Select'"
                                                                       k-data-text-field="'FORM_EDESC'"
                                                                       k-data-value-field="'FORM_CODE'"
                                                                       k-filter="'contains'"
                                                                       k-data-source="chargeformSetupDataSource"
                                                                       @*K-options="formSetupOptions"*@
                                                                       ng-model="inte.FORM_CODE"
                                                                       document-index="{{$index}}"
                                                                       style="width:100%" />

                                                                @*<select id="int_document" name="int_document" k-ng-model="inte.FORM_CODE" k-value-primitive="primitive_value"
                                                                    k-options="formSetupOptions" kendo-combo-box
                                                                    style="width:100%"></select>*@
                                                            </td>
                                                            <td>
                                                                <input kendo-combo-box
                                                                       id="int_accountcode"
                                                                       k-value-primitive="true"
                                                                       k-placeholder="'Select'"
                                                                       k-data-text-field="'ACC_EDESC'"
                                                                       k-data-value-field="'ACC_CODE'"
                                                                       k-filter="'contains'"
                                                                       k-data-source="chargeaccountsDataSource"
                                                                       ng-model="inte.ACC_CODE"
                                                                       account-index="{{$index}}"
                                                                       style="width:100%" />

                                                                @*<select id="int_accountcode" name="int_accountcode"   k-ng-model="inte.ACC_CODE" k-value-primitive="primitive_value"
                                                                                k-options="accountsOptions" kendo-combo-box
                                                                                style="width:100%"></select>
                                                                    </td>*@
                                                            <td class="btn-action" style="width:20%;">
                                                                <a href="" id="add_child_integration" name="add_child_integration" class="buttonadd" ng-click="add_group_integration($index,this)" data-original-title="" title=""><i class="fa fa-plus"></i></a>

                                                                <a class="buttonedit">
                                                                    <i class="fa fa-trash deleteAction" data-tooltip="Remove item" ng-click="remove_group_integration($index)"></i>
                                                                </a>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <fieldset class="fieldset-box">
                                            <legend>
                                                <input type="checkbox" ng-model="multiMuArr" id="multiMuArr">
                                                <label class="control-label">Unit Conversion </label>
                                            </legend>
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-responsive popuptbl">
                                                    <thead>
                                                        <tr>
                                                            <th>MU Code </th>
                                                            <th>Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <select id="itemmucode" name="mucode" k-ng-model="GroupMU.MU_CODE" k-value-primitive="true" k-placeholder="'Select'"
                                                                        k-options="UCmuCodeOptions" kendo-combo-box
                                                                        style="width:100%"></select>
                                                            </td>
                                                            <td>
                                                                <select id="itemmudescription" name="itemmudescription" k-placeholder="'Select'" k-ng-model="GroupMU.MU_CODE" k-value-primitive="true"
                                                                        k-options="UCmuDescOptions" kendo-combo-box
                                                                        style="width:100%"></select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </fieldset>
                                    </div>

                                </div>
                            </div>



                            <div class="tab-pane" id="tab_2">
                                @*<div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">Document:</label>
                                                        @*<div class="col-sm-8 col-md-8 col-lg-8">
                                                            <input type="text" id="Document" name="Document" ng-model="itemArr.Document" ng-disabled="parentchangenew" class="form-control" />
                                                        </div>
                                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                                            <select id="ChargeDocument" name="ChargeDocument" ng-model="itemArr.Document" ng-disabled="parentchangenew"
                                                                    k-options="formSetupOptions" kendo-combo-box
                                                                    k-placeholder="'Select'"
                                                                    style="width:100%"></select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">Charge:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                                            <select id="ChargeCharge" name="ChargeCharge" ng-model="itemArr.Charge" ng-disabled="parentchangenew"
                                                                    k-options="ChargeSetupOptions" kendo-combo-box
                                                                    k-placeholder="'Select'"
                                                                    style="width:100%"></select>

                                                            @*<div><input type="text" id="Charge" name="Charge" ng-model="itemArr.Charge" ng-disabled="parentchangenew" class="form-control" /> </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">Type:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                                            <select id="Type" name="Type" ng-model="itemArr.Type" class="form-control">
                                                                <option value="" selected>--Select Type--</option>
                                                                <option value="A">Addition</option>
                                                                <option value="D">Deduction</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-6 col-md-6 col-lg-6">Calculation Basis:</label>
                                                        <div class="radiobox">
                                                            <span class="">
                                                                <input type="radio" name="accountType" ng-disabled="parentchangenew" ng-model="itemArr.CALCULATION_BASIS" value="A"> Amount
                                                            </span>

                                                            <span>
                                                                <input type="radio" name="accountType" ng-disabled="parentchangenew" ng-model="itemArr.CALCULATION_BASIS" value="Q"> Quality
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-6 col-md-6 col-lg-6">As:</label>
                                                        <div class="radiobox">
                                                            <span class="">
                                                                <input type="radio" name="As" ng-disabled="parentchangenew" ng-model="itemArr.VALUE_PERCENT" value="V"> Value
                                                            </span>

                                                            <span>
                                                                <input type="radio" name="As" ng-disabled="parentchangenew" ng-model="itemArr.VALUE_PERCENT" value="P"> Percentage
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-6 col-md-6 col-lg-6">Impact On:</label>
                                                        <div class="radiobox">
                                                            <span class="">
                                                                <input type="radio" name="Impact" ng-disabled="parentchangenew" ng-model="itemArr.Impact" value="R"> Rate
                                                            </span>

                                                            <span>
                                                                <input type="radio" name="Impact" ng-disabled="parentchangenew" ng-model="itemArr.Impact" value="Q"> Quality
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">

                                                        <label class="col-sm-6 col-md-6 col-lg-6">Take Quantity:</label>
                                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                                            <select id="takequantity" name="TAKE_QUANTITY" ng-model="itemArr.TAKE_QUANTITY" class="form-control">
                                                                <option value="" selected>--Select Type--</option>
                                                                <option value="D">Document</option>
                                                                <option value="C">Cumulative</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <div class="col-sm-6 col-md-6 col-lg-6" ">
                                                            <input type="text" id="Document" name="Document" ng-model="itemArr.Document" class="form-control" />
                                                        </div>
                                                        <label class="control-label col-sm-6 col-md-6 col-lg-6">  Per unit of -> Unit</label>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">Account:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                                            <select id="accounts" name="accounts" k-options="accountsOptions" k-placeholder="'Select'" kendo-combo-box ng-disabled="parentchangenew">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">Subledger:</label>
                                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                                            <select id="subledger" name="subledger" ng-disabled="parentaccountcodechange"

                                                                    k-options="subLedgerOptions" kendo-combo-box>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <a class="btn btn-sm btnsoft-green" id="savedocumentformdata" ng-show="chargehideshow" ng-click="newParentCharge(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                                <i class="fa fa-plus"></i> New
                                            </a>
                                            <a class="btn btn-sm btn-green" id="savedocumentformdata" ng-show="chargehideshow" ng-click="editParentCharge(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                                <i class="fa fa-pencil-square-o"></i> Edit
                                            </a>
                                            <a class="btn btn-sm green-meadow" id="savedocumentformdata" ng-show="chargehideshow" ng-click="removeParentCharge(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                                <i class="fa fa-trash"></i> Remove
                                            </a>
                                            <a class="btn btn-sm btnsoft-green" id="savedocumentformdata" ng-hide="chargehideshow"  ng-click="ApplyParentCharge(event)"  data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                                <i class="fa fa-plus"></i> Apply
                                            </a>
                                            <a class="btn btn-sm btn-green" id="savedocumentformdata" ng-hide="chargehideshow" ng-click="CancelParentCharge(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                                <i class="fa fa-pencil-square-o"></i> Cancel
                                            </a>
                                        </div>
                                    </div>*@
                                <div class="table-responsive">
                                    <table class="document_child_table popuptbl table-fixed dynamic_child_table">
                                        <thead class="child-table-head">
                                            <tr>
                                                <th style="width:150px">Document@*<span style="color:red" class="chargerequiredAsterik">*</span>"*@</th>
                                                <th style="width:100px">Charge@*<span style="color:red" ng-show="ChargeShowRequired" class="chargerequiredAsterik">*</span>*@</th>
                                                <th style="width:100px">Charge Type</th>
                                                <th style="width:100px">Based On@*<span style="color:red"  ng-show="ChargeShowRequired" class="chargerequiredAsterik">*</span>*@</th>
                                                <th style="width:100px">Value/Percent@*<span style="color:red"  ng-show="ChargeShowRequired" class="chargerequiredAsterik">*</span>*@</th>
                                                <th style="width:100px">Value/Rate</th>
                                                <th style="width:100px">Take Quantity</th>
                                                <th style="width:100px">Impact On</th>
                                                <th style="width:150px">Account</th>
                                                <th style="width:150px">Sub Ledger</th>
                                                <th style="width:100px" class="btn-action">
                                                    &nbsp;
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="table_body" style="overflow:initial">
                                            <tr ng-repeat="status in charges track by $index">
                                                <td style="width:150px">
                                                    <input kendo-combo-box
                                                           id="charge_document"
                                                           class="chargeDocument_{{$index}}"
                                                           k-value-primitive="true"
                                                           k-placeholder="'Select'"
                                                           k-data-text-field="'FORM_EDESC'"
                                                           k-data-value-field="'FORM_CODE'"
                                                           k-filter="'contains'"
                                                           k-data-source="chargeformSetupDataSource"
                                                           ng-model="status.FORM_CODE"
                                                           k-on-change="changechargecodebyformcode(kendoEvent)"
                                                           document-index="{{$index}}"
                                                           @*k-type="'G'"*@
                                                           style="width:100%" />
                                                          
                                                    @*<select id="charge_document" name="FORM_CODE" ng-model="status.FORM_CODE" k-value-primitive="true"
                                                        k-options="chargeformSetupOptions" kendo-combo-box
                                                        k-placeholder="'Select'"
                                                        document-index="{{$index}}"
                                                        type="C"
                                                        style="width:100%"></select>*@

                                                </td>
                                                <td style="width:100px">

                                                    <select id="CHARGE_CHARGE_{{$index}}" name="CHARGE_CODE" ng-model="status.CHARGE_CODE"
                                                            k-options="ChargeSetupOptions" kendo-combo-box
                                                            k-placeholder="'Select'"
                                                            style="width:100%"></select>
                                                    @*<input type="text" id="charge" ng-model="status.CHARGE" class="form-control" />*@

                                                </td>

                                                <td style="width:100px">
                                                    @*<select id="Type" name="Type" ng-model="status.CHARGE_TYPE"
                                                        k-options="chargetypeOptions" kendo-combo-box
                                                        k-placeholder="'Select'"
                                                        style="width:100%"></select>*@

                                                    <select id="Type" name="Type" ng-model="status.CHARGE_TYPE" class="form-control">
                                                        <option value="" selected>Select</option>
                                                        <option value="A">Addition</option>
                                                        <option value="D">Deduction</option>
                                                    </select>

                                                </td>


                                                <td style="width:100px">
                                                    @*<select id="BASED_ON" name="BASED_ON" ng-model="status.VALUE_QUANTITY_BASED"
                                                        k-options="valuequantityOptions" kendo-combo-box
                                                        k-placeholder="'Select'"
                                                        style="width:100%"></select>*@

                                                    <select name="BASED_ON" id="BASED_ON" ng-model="status.VALUE_QUANTITY_BASED" class="form-control">
                                                        <option value="" selected>Select</option>
                                                        <option value="V">Amount</option>
                                                        <option value="P">Quantity</option>
                                                    </select>
                                                    @*<input type="text" id="BASED_ON" ng-model="status.BASED_ON" class="form-control" />*@

                                                </td>
                                                <td style="width:100px">
                                                    @* <select id="VALUE_PERCENT" name="VALUE_PERCENT" ng-model="status.VALUE_PERCENT_FLAG"
                                                        k-options="valuepercentageOptions" kendo-combo-box
                                                        k-placeholder="'Select'"
                                                        style="width:100%"></select>*@

                                                    <select id="VALUE_PERCENT" name="VALUE_PERCENT" ng-model="status.VALUE_PERCENT_FLAG" class="form-control">
                                                        <option value="" selected>Select</option>
                                                        <option value="V">Value</option>
                                                        <option value="P">Percentage</option>
                                                    </select>
                                                    @*<input type="text" id="VALUE_PERCENT" ng-model="status.VALUE_PERCENT" class="form-control" />*@

                                                </td>
                                                <td style="width:100px">

                                                    <input type="number" id="VALUE_RATE" min="0" ng-model="status.VALUE_PERCENT_AMOUNT" class="form-control" />

                                                </td>
                                                <td style="width:100px">
                                                    @*<select id="TAKE_QUANTITY" name="TAKE_QUANTITY" ng-model="status.APPLY_QUANTITY"
                                                        k-options="applyquantityOptions" kendo-combo-box
                                                        k-placeholder="'Select'"
                                                        style="width:100%"></select>*@
                                                    <select id="TAKE_QUANTITY" name="TAKE_QUANTITY" ng-model="status.APPLY_QUANTITY" class="form-control">
                                                        <option value="" selected>Select</option>
                                                        <option value="D">Document</option>
                                                        <option value="C">Cumulative</option>
                                                    </select>
                                                    @*<input type="text" id="TAKE_QUANTITY" ng-model="status.TAKE_QUANTITY" class="form-control" />*@

                                                </td>
                                                <td style="width:100px">
                                                    @*<select id="IMPACT_ON" name="IMPACT_ON" ng-model="status.IMPACT_ON"
                                                        k-options="impactonOptions" kendo-combo-box
                                                        k-placeholder="'Select'"
                                                        style="width:100%"></select>*@
                                                    <select id="IMPACT_ON" name="IMPACT_ON" ng-model="status.IMPACT_ON" class="form-control">
                                                        <option value="" selected>Select</option>
                                                        <option value="R">Rate</option>
                                                        <option value="Q">Quality</option>
                                                    </select>
                                                    @*<input type="text" id="IMPACT_ON" ng-model="status.IMPACT_ON" class="form-control" />*@

                                                </td>
                                                <td style="width:150px">

                                                    @*<select id="CHARGE_ACC_CODE_{{$index}}" name="ACC_CODE" ng-model="status.ACC_CODE" k-value-primitive="true"
                                                        class="CHARGE_ACC_CODE_{{$index}}"
                                                        k-options="chargeaccountsOptions" kendo-combo-box
                                                        k-placeholder="'Select'"
                                                        account-index="{{$index}}"
                                                        type="G"
                                                        style="width:100%"></select>*@

                                                    <input kendo-combo-box
                                                           id="CHARGE_ACC_CODE_{{$index}}"
                                                           k-value-primitive="true"
                                                           k-placeholder="'Select'"
                                                           k-data-text-field="'ACC_EDESC'"
                                                           k-data-value-field="'ACC_CODE'"
                                                           k-filter="'contains'"
                                                           k-data-source="chargeaccountsDataSource"
                                                           ng-model="status.ACC_CODE"
                                                           k-on-change="ChangeSubCodeByAccountCode(kendoEvent)"
                                                           account-index="{{$index}}"
                                                           @*k-type="'G'"*@
                                                           style="width:100%" />

                                                    @*<input type="text" id="CHARGE_ACC_CODE" ng-model="status.CHARGE_ACC_CODE" class="form-control" />*@

                                                </td>
                                                <td style="width:150px">

                                                    <select id="CHARGE_SUB_CODE_{{$index}}" name="SUB_CODE"
                                                            k-options="subLedgerOptions" kendo-combo-box
                                                            class="CHARGE_SUB_CODE_{{$index}}"
                                                            ng-model="status.SUB_CODE"
                                                            k-placeholder="'Select'"
                                                            style="width:100%"></select>


                                                    @*<select id="CHARGE_SUB_CODE_{{$index}}" name="SUB_CODE" k-ng-model="status.SUB_CODE" k-value-primitive="true"
                                                        k-options="subLedgerOptions" kendo-combo-box
                                                        class="CHARGE_SUB_CODE_{{$index}}"
                                                        k-placeholder="'Select'"
                                                        style="width:100%"></select>*@

                                                    @*<input type="text" id="CHARGE_SUB_CODE" ng-model="status.CHARGE_SUB_CODE" class="form-control" />*@

                                                </td>
                                                <td style="width:100px" class="btn-action">
                                                    <a href="" id="add_charges" name="add_charges" class="buttonadd" ng-click="add_charges(status)"><i class="fa fa-plus"></i></a>

                                                    <a href="javascript:void(0)" class="buttondelete">
                                                        <i class="fa fa-trash text-danger" data-tooltip="Remove distribution status" ng-click="remove_charges($index)"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab_3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4  col-md-4 col-lg-4">Description:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="Document" name="Document" ng-model="itemArr.ITEM_EDESC" class="form-control fixedsize" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4  col-md-4 col-lg-4">Apply on:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="ITEM_APPLY_ON" name="ITEM_APPLY_ON" ng-model="itemSpecification.ITEM_APPLY_ON" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4  col-md-4 col-lg-4">
                                                Part Number:

                                            </label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="PART_NUMBER" name="PART_NUMBER" ng-model="itemSpecification.PART_NUMBER" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4  col-md-4 col-lg-4">Brand Name:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="BRAND_NAME" name="BRAND_NAME" ng-model="itemSpecification.BRAND_NAME" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 col-lg-4">Specification:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="ITEM_SPECIFICATION" name="ITEM_SPECIFICATION" ng-model="itemSpecification.ITEM_SPECIFICATION" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 col-lg-4">Item Size:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="ITEM_SIZE" name="ITEM_SIZE" ng-model="itemSpecification.ITEM_SIZE" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 col-lg-4">Interface:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="INTERFACE" name="INTERFACE" ng-model="itemSpecification.INTERFACE" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">Thickness:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="THICKNESS" name="THICKNESS" ng-model="itemSpecification.THICKNESS" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">Type:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="TYPE" name="TYPE" ng-model="itemSpecification.TYPE" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">Color:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="COLOR" name="COLOR" ng-model="itemSpecification.COLOR" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-lg-4">Lamination:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="LAMINATION" name="LAMINATION" ng-model="itemSpecification.LAMINATION" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">Grade:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="GRADE" name="GRADE" ng-model="itemSpecification.GRADE" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">GSM:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <input type="text" id="GSM" name="GSM" ng-model="itemSpecification.GSM" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">Remarks:</label>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <textarea type="text" id="REMARKS" name="REMARKS" ng-model="itemSpecification.REMARKS" class="form-control fixedsize" />
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!--tab end-->
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-disabled="!itemsetupforms.$valid" ng-click="saveNewitem(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                    </button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="ItemCancel(event)" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade-out" id="itemModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog  modal-dialog-box">
            <div class="modal-content">
                <div class="modal-header">
                    <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Item Model
                    </h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_itemSetupChildModalPartial.cshtml")
                </div>
                <div class="modal-footer">

                    <a class="btn btn-sm btn-green" id="savedocumentformdata" ng-disabled="!itemsetupform.$valid" ng-click="saveNewitem(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                    </a>

                    @*<a href="" type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="reset()">Cancel</a>*@
                    <a href="" type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="ItemCancel()">Cancel</a>

                </div>
            </div>
        </div>
    </div>



</div>

<script>
    $(document).ready(function () {
        $("#createnewitems").on('click', function () {
            $("#itemModal").modal();
        });

        $('#itemGroupModal, #itemModal').on('shown.bs.modal', function () {
            $(document).off('focusin.modal');
        });

        setTimeout(function () {
            $('.k-list').slimScroll({
                height: '250px'
            });
        }, 100);

        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();


            //var $thisHref = $(this).attr('href');
            //if ($thisHref != null && $thisHref != "" && $thisHref != undefined)
            //    $($thisHref).tab('show');

        });
    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
     $(".topsearch").hide();
        $("#itemtxtSearchString").keyup(function () {
            var val = $('#itemtxtSearchString').val();
            $("#kGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "ITEM_EDESC",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "MU_EDESC",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "CATEGORY_EDESC",
                        operator: "contains",
                        value: val
                    },
                 
                ]
            });


        });
    });

</script>