<style>
    .document_child_table tbody.table_body {
        min-height: 85px !important;
    }

    .controlflag .form-group {
        margin-bottom: 5px !important;
    }

    .fieldsetbox-batch {
        min-height: 100px;
    }

    .requiredAsterik {
        position: absolute;
        top: 0px;
        right: 5px;
    }

    .chargerequiredAsterik {
        padding-left: 4px;
    }
 
</style>

<form name="itemsetupform" class="form-horizontal" novalidate>

    <div class="row" style="scrollbar-base-color:yellow">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">

                <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">Item Code</label>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.ITEM_CODE" class="form-control" readonly />
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">

                <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">Group Code</label>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.GROUP_CODE" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3">Parent</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <select id="childmasteritemcode" kendo-drop-down-list
                            k-options="itemGroupOptions"
                            ng-scope="itemsetup.MASTER_ITEM_CODE"
                            ng-disabled="true"
                            style="width: 100%"></select>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">
                    In English:
                    <span style="color:red" ng-show="itemsetupform.itemengname.$invalid">
                             <span ng-show="!itemsetupform.itemengname.$valid">*</span>
                            </span>
                </label>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <input type="text" id="itemengname" name="itemengname" ng-model="itemArr.ITEM_EDESC" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">

                <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">In Nepali :</label>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <input type="text" id="itemnname" name="ITEM_NDESC" ng-model="itemArr.ITEM_NDESC" class="form-control" />
                </div>
            </div>
        </div>

    </div>
    <ul id="myTab2" class="nav nav-tabs responsive_tab">
        <li class="active">
            <a href="#child_tab_1" data-toggle="tab">
                General
            </a>
        </li>
        <li>
            <a href="#child_tab_2" data-toggle="tab">
                Management
            </a>
        </li>
        <li>
            <a href="#child_tab_3" data-toggle="tab">
                Quality Control
            </a>
        </li>
        <li>
            <a href="#child_tab_4" data-toggle="tab">
                Stock Level
            </a>
        </li>
        <li>
            <a href="#child_tab_5" data-toggle="tab">
                Storage
            </a>
        </li>
        <li>
            <a href="#child_tab_6"  ng-click="tabcharge()"  data-toggle="tab">
                Charge
            </a>
        </li>
        <li>
            <a href="#child_tab_7" data-toggle="tab">
                Customize
            </a>
        </li>
        <li>
            <a href="#child_tab_8" data-toggle="tab">
                Price History
            </a>
        </li>
        <li>
            <a href="#child_tab_9" data-toggle="tab">
                Current Stock
            </a>
        </li>
        <li>
            <a href="#child_tab_10" data-toggle="tab">
                Specification
            </a>
        </li>
        <li>
            <a href="#child_tab_11" data-toggle="tab">
                Info
            </a>
        </li>
    </ul>
    <div class="tab-content responsive_tab_content">
        <div class="tab-pane active" id="child_tab_1">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <div class="row">

                        <div class="col-sm-12 col-md-12 col-lg-12">

                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                Catagory<span style="color:red" ng-show="itemsetupform.categorycode.$invalid">
                                         <span ng-show="!itemsetupform.categorycode.$valid">*</span>
                                         </span>
                                </label>

                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <select id="categorycode" name="categorycode" k-options="categoryOptions"kendo-drop-down-list
                                            ng-model="itemArr.CATEGORY_CODE" style="width:100%" required></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                Index Units <span style="color:red" ng-show="itemsetupform.childitemmucode.$invalid">
                                               <span ng-show="!itemsetupform.childitemmucode.$valid">*</span>
                                                </span>
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <select id="childitemmucode" name="childitemmucode" ng-model="itemArr.INDEX_MU_CODE" k-value-primitive="true"
                                            k-options="UCmuDescOptions" kendo-drop-down-list  k-on-change="onChangeIndexUnitType(kendoEvent)"
                                            style="width:100%" required></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">

                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4">Tran Unit</label>

                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    @*<select id="costingmethodflag" name="costingmethodflag" k-ng-model="itemArr.COSTING_METHOD_FLAG" ng-model="itemArr.COSTING_METHOD_FLAG" kendo-drop-down-list style="width:100%">*@

                                        <select id="costingmethodflag" name="costingmethodflag" ng-model="itemArr.MULTI_MU_CODE" k-value-primitive="true"
                                        k-options="UCmuDescOptions" kendo-drop-down-list  k-on-change="onChangeIndexUnitType1(kendoEvent)"
                                        style="width:100%" disabled></select>
                                    
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <fieldset class="fieldset-box fieldsetbox-batch">
                        <legend>
                            Batch Control Flag
                        </legend>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="mt-checkbox-list checkboxlist">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" ng-model="itemArr.BATCH_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Batch Control
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" ng-model="itemArr.SERIAL_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Serial Flag
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" ng-model="itemArr.SERVICE_ITEM_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Service item
                                        <span></span>
                                    </label>

                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" ng-model="itemArr.BATCH_SERIAL_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Batch Serial Flag
                                        <span></span>
                                    </label>

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 controlflag">
                                <div ng-show="itemArr.BATCH_SERIAL_FLAG=='Y'">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-5 col-lg-5">
                                            Serial Prefix
                                        </label>
                                        <div class="col-sm-7 col-md-7 col-lg-7">
                                            <input type="text" ng-model="itemArr.SERIAL_PREFIX_TEXT" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-5 col-lg-5">
                                            Body Length
                                        </label>
                                        <div class="col-sm-7 col-md-7 col-lg-7">
                                            <input type="number" ng-model="itemArr.SERIAL_PREFIX_LENGTH" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <fieldset class="fieldset-box">
                        <legend>

                            <label class="control-label"> Multi Unit Conversion</label>
                        </legend>
                        <div class="table-responsive">
                            <table class="document_child_table dynamic-table table-fixed">
                                <thead class="child-table-head">
                                    <tr>
                                        <th>Serial No.</th>
                                        <th>
                                            UOM Name
                                            @*<span style="color:red">*</span>*@
                                        </th>
                                        <th>
                                            Conversion Factor
                                            @*<span style="color:red">*</span>*@
                                        </th>
                                        <th>Fraction</th>
                                        <th>Remarks</th>
                                        <th style="width:8%;">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody class="table_body">
                                    <tr ng-repeat="ma in multiMuArr track by $index">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            <select id="childitemmucode" name="MU_CODE"
                                                    k-ng-model="ma.MU_CODE" 
                                                    k-options="muCodeOptions" kendo-combo-box
                                                    k-value-primitive="true"
                                                    k-placeholder="'Select Item Code'"
                                                    style="width:100%"></select>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="CONVERSION_FACTOR" ng-model="ma.CONVERSION_FACTOR">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" ng-model="ma.FRACTION">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="ma.REMARKS">
                                        </td>
                                        <td class="btn-action" style="width:8%;">
                                            <a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_multi_mu_conversion($index,this)" data-original-title="" title=""><i class="fa fa-plus"></i></a>

                                            <a class="buttonedit">
                                                <i class="fa fa-trash deleteAction" data-tooltip="Remove item" ng-click="remove_mu_conversion($index)"></i>
                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row sectiongap">

                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="form-group">

                        <label class="control-label col-sm-6 col-md-6 col-lg-6" for="element">Purchase Price</label>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.PURCHASE_PRICE" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2 col-lg-2">
                    <div class="form-group">

                        <label class="control-label col-sm-5 col-md-6 col-lg-6" for="element">Sales Price</label>
                        <div class="col-sm-7  col-md-6 col-lg-6">
                            <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.SALES_PRICE" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2 col-lg-2">
                    <div class="form-group">

                        <label class="control-label col-sm-6 col-md-6 col-lg-6" for="element">Min Value</label>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.MIN_VALUE" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="form-group">

                        <label class="control-label col-sm-4 col-md-6 col-lg-6" for="element">Max Value</label>
                        <div class="col-sm-8 col-md-6 col-lg-6">
                            <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.MAX_VALUE" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-6 col-md-3 col-lg-3">
            <div class="form-group">

                <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">Image Path</label>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <input type="file" name="pic" accept="image/*" class="form-control" ng-model="itemArr.IMAGE_FILE_NAME">
                </div>
            </div>
        </div>*@
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                            <img id="blah" ng-src="{{imageurledit}}" />
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                        </div>
                        <div>
                            <span class="btn default btn-file">
                                <span class="fileinput-new">
                                    Select image
                                </span>
                                <span class="fileinput-exists">
                                    Change
                                </span>
                                <input type="file" id="txtFile" name="..." ng-model="itemArr.IMAGE_FILE_NAME">
                            </span>
                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
                                Remove
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">

                        <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">1St Billing Name</label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.BILING_NAME" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">

                        <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">2nd Billing Name</label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.SECOND_BILLING_NAME" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <fieldset class="fieldset-box">
                        <legend>
                            <label class="control-label">Item Association(Integration)</label>
                        </legend>
                        <div class="table-responsive">
                            <table class="document_child_table dynamic-table table-fixed">
                                <thead class="child-table-head">
                                    <tr>
                                        <th>
                                            Document
                                        </th>


                                        <th>
                                            Account
                                        </th>

                                        <th style="width:8%;">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody class="table_body">


                                    <tr ng-repeat="inte in inteArr track by $index">
                                        
                                        <td>
                                            <input kendo-combo-box
                                                   id="int_document"
                                                   k-value-primitive="true"
                                                   k-placeholder="'Select'"
                                                   k-data-text-field="'FORM_EDESC'"
                                                   k-data-value-field="'FORM_CODE'"
                                                   k-data-source="chargeformSetupDataSource"
                                                   @*K-options="formSetupOptions"*@
                                                   ng-model="inte.FORM_CODE"
                                                   style="width:100%" />

                                         
                                        </td>
                                        @*<td>
                                            <select id="int_document" name="FORM_CODE" ng-model="inte.FORM_CODE" k-ng-model="inte.FORM_CODE" k-value-primitive="true" k-placeholder="'Select Form Code'"
                                                    k-options="formSetupOptions" kendo-combo-box
                                                    style="width:100%"></select>

                                        </td>*@
                                        <td>
                                            <input kendo-combo-box
                                                   id="int_accountcode"
                                                   k-value-primitive="true"
                                                   k-placeholder="'Select'"
                                                   k-options="accountsOptions"
                                                   k-data-source="chargeaccountsDataSource"
                                                   ng-model="inte.ACC_CODE"
                                                   style="width:100%" />


                                            @*<select id="int_accountcode" name="ACC_CODE" ng-model="inte.ACC_CODE" k-ng-model="inte.ACC_CODE" k-value-primitive="true" k-placeholder="'Select Account Code'"
                                                    k-options="accountsOptions" kendo-combo-box
                                                    style="width:100%"></select>*@

                                        </td>


                                        <td class="btn-action" style="width:8%;">
                                            <a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_integration($index,this)" data-original-title="" title=""><i class="fa fa-plus"></i></a>
                                            <a class="buttonedit">
                                                <i class="fa fa-trash deleteAction" data-tooltip="Remove item" ng-click="remove_child_integration($index)"></i>
                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">

                                <label class="control-label col-sm-6 col-md-4 col-lg-4" for="element">Master Code</label>
                                <div class="col-sm-6 col-md-8 col-lg-8">
                                    <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.MASTER_ITEM_CODE" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">

                                <label class="control-label col-sm-6 col-md-4 col-lg-4" for="element">Pre Master Code</label>
                                <div class="col-sm-6 col-md-8 col-lg-8">
                                    <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.PRE_ITEM_CODE" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="tab-pane" id="child_tab_2">
            <fieldset class="fieldset-box">
                <legend>Stock Level Management</legend>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">

                        <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">Reorder</label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" id="reorderlevel" name="REORDER_LEVEL" ng-model="itemArr.REORDER_LEVEL" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">

                        <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Danger</label>
                        <div class="col-sm-7 col-md-7 col-lg-7">
                            <input type="text" id="dangerlevel" name="DANGER_LEVEL" ng-model="itemArr.DANGER_LEVEL" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">

                        <label class="control-label col-sm-8 col-md-5 col-lg-5" for="element">Eco. Order Quantity</label>
                        <div class="col-sm-4 col-md-7 col-lg-7">
                            <input type="text" id="ecoorderquantity" name="ECO_ORDER_QUANTITY" ng-model="itemArr.ECO_ORDER_QUANTITY" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <fieldset class="fieldset-box top-gap">
                            <legend>Level</legend>
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Max</label>
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <input type="text" id="maxlevel" name="MAX_LEVEL" ng-model="itemArr.MAX_LEVEL" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Min</label>
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <input type="text" id="minlevel" name="MIN_LEVEL" ng-model="itemArr.MIN_LEVEL" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Preferred</label>
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <input type="text" id="preferred" name="PREFERRED_LEVEL" ng-model="itemArr.PREFERRED_LEVEL" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <fieldset class="fieldset-box top-gap">
                            <legend>Usages</legend>
                            <div class="form-group">

                                <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Max</label>
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <input type="text" id="maxusage" name="MAX_USAGE" ng-model="itemArr.MAX_USAGE" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Min</label>
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <input type="text" id="minusage" name="MIN_USAGE" ng-model="itemArr.MIN_USAGE" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Normal</label>
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <input type="text" id="normalusage" name="NORMAL_USAGE" ng-model="itemArr.NORMAL_USAGE" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <fieldset class="fieldset-box top-gap">
                            <legend>Others</legend>
                            <div class="row">
                                <div class="col-sm-12 col-md-7 col-lg-7">
                                    <div class="form-group">

                                        <label class="control-label col-sm-6 col-md-47 col-lg-7" for="element">Lead Time</label>
                                        <div class="col-sm-6 col-md-5 col-lg-5">
                                            <input type="text" id="leadtime" name="LEAD_TIME" ng-model="itemArr.LEAD_TIME" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-5 col-lg-5">
                                    <div class="form-group">

                                        <label class="control-label col-sm-6 col-md-4 col-lg-4" for="element">WIP</label>
                                        <div class="col-sm-6 col-md-8 col-lg-8">
                                            <input type="text" id="defaultwipstock" name="DEFAULT_WIP_STOCK" ng-model="itemArr.DEFAULT_WIP_STOCK" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="control-label col-sm-6 col-md-4 col-lg-4" for="element">Pref. Supplier</label>
                                <div class="col-sm-6 col-md-8 col-lg-8">
                                    <div ng-controller="supplierCtrl" id="supplierCtrl">
                                        
                                        <div class="input-group">
                                            <input id="supplier" ng-model="itemArr.PREFERRED_SUPPLIER_CODE" name="supplier" class="supplier msupplier" style="width: 98%;" kendo-combo-box
                                                   k-placeholder="'Select Supplier Code'"
                                                   k-data-text-field="'SUPPLIER_EDESC'"
                                                   k-data-value-field="'SUPPLIER_CODE'"
                                                   k-filter="'contains'"
                                                   k-auto-bind="true"
                                                   k-suggest="false"
                                                   k-options="supplierCodeOption"
                                                   k-on-change="supplierCodeOnChange(kendoEvent)"
                                                   k-min-length="3" />
                                        
                                        </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label col-sm-6 col-md-4 col-lg-4" for="element">Shelf Life</label>
                                <div class="col-sm-6 col-md-8 col-lg-8">
                                    <input type="text" id="creditdays" name="CREDIT_DAYS" ng-model="itemArr.SHELF_LIFE_DAYS" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                    </div>


                </div>
            </fieldset>
        </div>
        <div class="tab-pane" id="child_tab_3">
            <fieldset class="fieldset-box">
                <legend>Parameter Specification</legend>
                <table class="document_child_table dynamic-table  table-fixed dynamic_child_table">
                    <thead class="child-table-head">
                        <tr>
                            <th>Parameter Name</th>
                            <th>(In Nepali)</th>
                            <th>Ideal Values</th>
                            <th>Max Value</th>
                            <th>Min Value</th>
                            <th>Remarks</th>
                            <th style="width:6%" class="btn-action">
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table_body">
                        <tr ng-repeat="term in parameterSpecification">
                            <td>
                                <div>
                                    <input type="text" id="ITEM_NAME" ng-model="term.PARAMETER_EDESC" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="MAX_LEAD_TIME" ng-model="term.PARAMETER_NDESC" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="MIN_LEAD_TIME" ng-model="term.IDEAL_VALUE" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="IDEAL_LEAD_TIME" ng-model="term.MAX_VALUE" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="MAX_ORDER_QTY" ng-model="term.MIN_VALUE" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="MIN_ORDER_QTY" ng-model="term.REMARKS" class="form-control" />

                                </div>
                            </td>
                            <td class="btn-action">
                                <a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_item_supply_terms(itemsupplyterms)"><i class="fa fa-plus"></i></a>

                                <a href="javascript:void(0)" class="buttondelete">
                                    <i class="fa fa-trash text-danger" data-tooltip="Remove item" ng-click="remove_item_supply_terms($index)"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset class="fieldset-box  top-gap">
                <legend>QC Parameter</legend>
                <table class="document_child_table dynamic-table  table-fixed dynamic_child_table">
                    <thead class="child-table-head">
                        <tr>
                            <th>Parameter Name</th>
                            <th>Percentage</th>
                            <th>Remarks</th>
                            <th class="btn-action">
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table_body">
                        <tr ng-repeat="qcinfo in qcParameter">
                            <td>
                                <div>
                                    <input type="text" id="CUSTOM_FIELD" ng-model="qcinfo.PARAMETER_NAME" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="VALUE" ng-model="qcinfo.PERCENTAGE" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="SUPPLY_REMARKS" ng-model="qcinfo.SUPPLY_REMARKS" class="form-control" />

                                </div>
                            </td>

                            <td class="btn-action">
                                <a href="" id="add_child_element" name="add_supllier_supply_other_info" class="buttonadd" ng-click="add_supllier_supply_other_info(itemsupplyotherinfo)"><i class="fa fa-plus"></i></a>

                                <a href="javascript:void(0)" class="buttondelete">
                                    <i class="fa fa-trash text-danger" data-tooltip="Remove other info" ng-click="remove_supllier_supply_other_info($index)"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
        <div class="tab-pane" id="child_tab_4">
            <fieldset class="fieldset-box">
                <legend>Item</legend>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">

                        <label class="control-label col-sm-5 col-md-5 col-lg-5" for="element">Credit Limit In NRs.</label>
                        <div class="col-sm-7 col-md-7 col-lg-7">
                            <input type="text" id="creditlimit" name="CREDIT_LIMIT" ng-model="itemaccount.CREDIT_LIMIT" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">

                        <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Remarks</label>
                        <div class="col-sm-7 col-md-7 col-lg-7">
                            <input type="text" id="creditdays" name="CREDIT_DAYS" ng-model="itemaccount.CREDIT_DAYS" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">

                        <label class="control-label col-sm-5 col-md-5 col-lg-5" for="element">Current Balance</label>
                        <div class="col-sm-7 col-md-7 col-lg-7">
                            <input type="text" id="currentbalance" name="CURRENT_BALANCE" ng-model="itemaccount.CURRENT_BALANCE" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                        <input id="isactiveflag" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-checked="itemaccount.IS_ACTIVE_ITEM=='Y'" ng-model="itemaccount.IS_ACTIVE_ITEM">

                        <label class="control-label">Active Item ?</label>

                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset-box top-gap">
                <legend>Opening Balance(Invoices)</legend>

                <table class="document_child_table dynamic-table  table-fixed dynamic_child_table">
                    <thead class="child-table-head">
                        <tr>
                            <th>Ref. No.</th>
                            <th>invoice Date</th>
                            <th>Due Date</th>
                            <th>Dr/Cr</th>
                            <th>Balance</th>
                            <th>Remarks</th>
                            <th class="btn-action">
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table_body">
                        <tr ng-repeat="invoice in iteminvoices">
                            <td>
                                <div>
                                    <input type="text" id="REF_NO" ng-model="invoice.REF_NO" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="INVOICE_DATE" ng-model="invoice.INVOICE_DATE" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="DUE_DATE" ng-model="invoice.DUE_DATE" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="DR_CR" ng-model="invoice.DR_CR" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="SUPPLY_EMAIL" ng-model="invoice.BALANCE" class="form-control" />

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" id="IVOICE_REMARKS" ng-model="invoice.IVOICE_REMARKS" class="form-control" />

                                </div>
                            </td>
                            <td class="btn-action">
                                <a href="" id="add_child_element" name="add_sister_concern" class="buttonadd" ng-click="add_item_invoice(iteminvoices)"><i class="fa fa-plus"></i></a>

                                <a href="javascript:void(0)" class="buttondelete">
                                    <i class="fa fa-trash text-danger" data-tooltip="Remove sister concern" ng-click="remove_item_invoice($index)"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <button type="button" class="btn btn-sm btn-green" data-dismiss="modal" ng-click="agewisebalance(event)">Click here to see agewise balance</button>
            <button type="button" class="btn btn-sm green-meadow" data-dismiss="modal" ng-click="lastactive(event)">Click here to see account statement</button>
        </div>
        <div class="tab-pane" id="child_tab_5">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">

                    <div class="table-responsive">
                        <table class="document_child_table dynamic-table  table-fixed dynamic_child_table">
                            <thead class="child-table-head">
                                <tr>
                                    <th>Location</th>
                                    <th>Storage Capacity</th>
                                    <th>Remark</th>

                                    <th style="width:8%;">
                                        &nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table_body">
                                <tr>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control" />

                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" id="CONDITIONS_VALUE" ng-model="condition.CONDITIONS_VALUE" class="form-control" />

                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" id="CONDITIONS_REMARKS" ng-model="condition.CONDITIONS_REMARKS" class="form-control" />

                                        </div>
                                    </td>


                                    <td class="btn-action" style="width:8%">
                                        <a href="" id="add_child_element" name="add_sister_concern" class="buttonadd" ng-click="add_terms(itemtermsandconditions)"><i class="fa fa-plus"></i></a>

                                        <a href="javascript:void(0)" class="buttondelete">
                                            <i class="fa fa-trash text-danger" data-tooltip="Remove sister concern" ng-click="remove_terms($index)"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <fieldset class="fieldset-box">
                        <legend>Item Assocation</legend>
                        <div class="table-responsive">
                            <table class="document_child_table dynamic-table  table-fixed dynamic_child_table">
                                <thead class="child-table-head">
                                    <tr>
                                        <th>Document</th>
                                        <th>Account</th>


                                        <th style="width:12%;">
                                            &nbsp;
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="table_body">
                                    <tr>

                                        <td>
                                            <input type="text" id="CONDITIONS_VALUE" ng-model="condition.CONDITIONS_VALUE" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" id="CONDITIONS_REMARKS" ng-model="condition.CONDITIONS_REMARKS" class="form-control" />
                                        </td>
                                        <td class="btn-action" style="width:12%">
                                            <a href="" id="add_child_element" name="add_sister_concern" class="buttonadd" ng-click="add_terms(itemtermsandconditions)"><i class="fa fa-plus"></i></a>

                                            <a href="javascript:void(0)" class="buttondelete">
                                                <i class="fa fa-trash text-danger" data-tooltip="Remove sister concern" ng-click="remove_terms($index)"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </fieldset>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <fieldset class="fieldset-box">
                        <legend>Item Opening</legend>
                        <div class="col-sm-12 col-md-12 cik-lg-12">
                            <div class="form-group">
                                <label class="control-label col-sm-5 col-md-5 col-lg-5" for="element">Open Quantity</label>
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 cik-lg-12">
                            <div class="form-group">
                                <label class="control-label col-sm-5 col-md-5 col-lg-5" for="element">Open Value</label>
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row topmargin">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">

                                <label class="control-label col-sm-ofset-1 col-md-offset-1 col-lg-offset-1 col-sm-4 col-md-4 col-lg-4" for="element">Master Code</label>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.ITEM_CODE" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">

                                <label class="control-label col-lg-offset-1 col-sm-4 col-md-4 col-lg-4" for="element">Pre Master Code</label>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.ITEM_CODE" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="child_tab_6">
            @*<div class="row">
                    <div class="col-md-4">
                        <div class="row">

                            <div class="col-sm-12 col-md-12 col-lg-12">

                                <div class="form-group">

                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">Document:</label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <input type="text" id="Document" name="Document" ng-model="itemArr.Document" class="form-control fixedsize" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">

                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">Charge:</label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <input type="text" id="Charge" name="Charge" ng-model="itemArr.Charge" class="form-control fixedsize" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">

                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">ChargeType</label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <input type="text" id="Charge" name="Charge" ng-model="itemArr.Charge" class="form-control fixedsize" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">Calculation Basis:</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 radiobox input_radio">
                                        <span>
                                            <input type="radio" name="accountType" disabled ng-model="accountsArr.ACC_TYPE_FLAG" value="N"> Amount
                                        </span>

                                        <span>
                                            <input type="radio" name="accountType" disabled ng-model="accountsArr.ACC_TYPE_FLAG" value="T"> Quality
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">As:</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 radiobox input_radio">
                                        <span>
                                            <input type="radio" name="As" disabled ng-model="accountsArr.Impact" value="N"> Value
                                        </span>

                                        <span>
                                            <input type="radio" name="As" disabled ng-model="accountsArr.Impact" value="T"> Percentage
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">Impact On:</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8 radiobox input_radio">
                                        <span class="">
                                            <input type="radio" name="Impact" disabled ng-model="accountsArr.Impact" value="N"> Rate
                                        </span>

                                        <span>
                                            <input type="radio" name="Impact" disabled ng-model="accountsArr.Impact" value="T"> Quality
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-lg-4">Apply on</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <select id="Type" name="Type" ng-model="itemArr.Type" class="form-control">
                                    <option value="" selected>--Select Type--</option>
                                    <option value="BP">BP</option>
                                    <option value="SP">SP</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <input type="text" id="Document" name="Document" ng-model="itemArr.Document" class="form-control" />
                            </div>
                            <label class="control-label col-sm-8 col-md-8 col-lg-8">Per unit of -> Unit</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4">Index Units</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" id="INDEX_MU_CODE" name="INDEX_MU_CODE" ng-model="itemArr.INDEX_MU_CODE" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">

                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">Account:</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <select id="Type" name="Type" ng-model="itemArr.Type" class="form-control">
                                            <option value="" selected>--Select Type--</option>
                                            <option value="BP">BP</option>
                                            <option value="SP">SP</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <div class="form-group">

                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">Subledger:</label>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <select id="Type" name="Type" ng-model="itemArr.Type" class="form-control">
                                            <option value="" selected>--Select Type--</option>
                                            <option value="BP">BP</option>
                                            <option value="SP">SP</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6 align-right">
                        <div class="btn-group">
                            <a class="btn btn-sm btnsoft-green" id="savedocumentformdata" ng-click="saveNewitem(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-plus"></i> New
                            </a>

                        </div>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewitem(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-pencil-square-o"></i> Edit
                            </a>

                        </div>
                        <div class="btn-group">
                            <a class="btn btn-sm green-meadow" id="savedocumentformdata" ng-click="saveNewitem(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-trash"></i> Remove
                            </a>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive">
                            <table class="document_child_table dynamic-table table-fixed">
                                <thead class="child-table-head">
                                    <tr>
                                        <th>Charge</th>
                                        <th>Document</th>
                                        <th>Base on</th>
                                        <th>Value/Percent</th>
                                        <th>Take Quantity</th>
                                        <th>Impact on</th>
                                        <th>Account</th>
                                        <th style="width:8%;">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody class="table_body">
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>

                                        <td class="btn-action" style="width:8%;">
                                            <a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_element($index,this)" data-original-title="" title=""><i class="fa fa-plus"></i></a>

                                            <a href="" class="buttonedit">
                                                <i class="fa fa-pencil-square-o " data-tooltip="Remove item"></i>
                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>*@

            <div class="table-responsive">
                <table class="document_child_table  popuptbl table-fixed dynamic_child_table">
                    <thead class="child-table-head">
                        <tr>
                            <th style="width:180px">Document@*<span style="color:red" class="chargerequiredAsterik">*</span>*@</th>
                            <th style="width:100px">Charge@*<span style="color:red" class="chargerequiredAsterik">*</span>*@</th>
                            <th style="width:100px">Charge Type</th>
                            <th style="width:100px">Calculation Basis@*<span style="color:red" class="chargerequiredAsterik">*</span>*@</th>
                            <th style="width:100px">As@*<span style="color:red" class="chargerequiredAsterik">*</span>*@</th>
                            <th style="width:100px">Impact On</th>
                            <th style="width:100px">Per Unit Of</th>
                            <th style="width:100px">Apply On</th>
                            <th style="width:120px">Charge Index Units</th>
                            <th style="width:150px">Account</th>
                            <th style="width:150px">Sub Ledger</th>

                            <th style="width:100px" class="btn-action">
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table_body" style="overflow:initial">

                        <tr ng-repeat="status in charges track by $index">


                            <td style="width:180px">
                                <input kendo-combo-box
                                       id="charge_document"
                                       k-value-primitive="true"
                                       k-placeholder="'Select'"
                                       k-data-text-field="'FORM_EDESC'"
                                       k-data-value-field="'FORM_CODE'"
                                       k-filter="'contains'"
                                       k-data-source="chargeformSetupDataSource"
                                       ng-model="status.FORM_CODE"
                                       k-on-change="changechargecodebyformcode(kendoEvent)"
                                       document-index="{{$index}}"
                                       @*k-type="'G'"*@
                                       style="width:100%" />



                                @*<select id="charge_document_{{$index}}" name="FORM_CODE" @*k-ng-model="status.FORM_CODE"*@ @*k-primitive-value="true"
                        k-options="chargeformSetupOptions" kendo-drop-down-list
                        k-placeholder="'Select'"
                        document-index="{{$index}}"
                        type="C"
                        style="width:100%"></select>*@

                            </td>
                            <td style="width:100px">
                                @*<select id="CHILD_CHARGE_CHARGE_{{$index}}" name="charge" ng-model="status.CHARGE_CODE" class="form-control">
                            <option value="" selected>Select</option>

                        </select>*@
                                <select id="CHILD_CHARGE_CHARGE_{{$index}}" name="charge" ng-model="status.CHARGE_CODE"
                                        k-options="ChargeSetupOptions" kendo-combo-box
                                        k-placeholder="'Select'"
                                        style="width:100%"></select>
                                @*<input type="text" id="charge" ng-model="status.CHARGE" class="form-control" />*@

                            </td>

                            <td style="width:100px">
                                @*<select id="Type" name="Type" ng-model="status.CHARGE_TYPE"
                        k-options="chargetypeOptions" kendo-combo-box
                        k-placeholder="'Select'"
                        style="width:100%"></select>*@
                                <select id="Type" name="Type" ng-model="status.CHARGE_TYPE" class="form-control">
                                    <option value="" selected>Select</option>
                                    <option value="A">Addition</option>
                                    <option value="D">Deduction</option>
                                </select>

                            </td>


                            <td style="width:100px">
                                @*<select id="BASED_ON" name="BASED_ON" ng-model="status.VALUE_QUANTITY_BASED"
                        k-options="valuequantityOptions" kendo-combo-box
                        k-placeholder="'Select'"
                        style="width:100%"></select>*@

                                <select name="BASED_ON" id="BASED_ON" ng-model="status.VALUE_QUANTITY_BASED" class="form-control">
                                    <option value="" selected>Select</option>
                                    <option value="V">Amount</option>
                                    <option value="Q">Quantity</option>
                                </select>
                                @*<input type="text" id="BASED_ON" ng-model="status.BASED_ON" class="form-control" />*@

                            </td>
                            <td style="width:100px">
                                @*<select id="VALUE_PERCENT" name="VALUE_PERCENT" ng-model="status.VALUE_PERCENT_FLAG"
                        k-options="valuepercentageOptions" kendo-combo-box
                        k-placeholder="'Select'"
                        style="width:100%"></select>*@
                                <select id="VALUE_PERCENT" name="VALUE_PERCENT" ng-model="status.VALUE_PERCENT_FLAG" class="form-control">
                                    <option value="" selected>Select</option>
                                    <option value="V">Value</option>
                                    <option value="P">Percentage</option>
                                </select>
                                @*<input type="text" id="VALUE_PERCENT" ng-model="status.VALUE_PERCENT" class="form-control" />*@

                            </td>
                            <td style="width:100px">
                                @*<select id="IMPACT_ON" name="IMPACT_ON" ng-model="status.IMPACT_ON"
                        k-options="impactonOptions" kendo-combo-box
                            k-placeholder="'Select'"
                                 style="width:100%"></select>*@
                                <select id="IMPACT_ON" name="IMPACT_ON" ng-model="status.IMPACT_ON" class="form-control">
                                    <option value="" selected>Select</option>
                                    <option value="R">Rate</option>
                                    <option value="Q">Quality</option>
                                </select>
                                @*<input type="text" id="IMPACT_ON" ng-model="status.IMPACT_ON" class="form-control" />*@

                            </td>
                            <td style="width:100px">

                                <input type="number" id="VALUE_RATE" min="0" ng-model="status.VALUE_PERCENT_AMOUNT" class="form-control" />

                            </td>
                            <td style="width:100px">
                                @*<select id="TAKE_QUANTITY" name="TAKE_QUANTITY" ng-model="status.APPLY_QUANTITY"
                        k-options="applyquantityOptions" kendo-combo-box
                        k-placeholder="'Select'"
                        style="width:100%"></select>*@
                                <select id="TAKE_QUANTITY" name="TAKE_QUANTITY" ng-model="status.APPLY_QUANTITY" class="form-control">
                                    <option value="" selected>Select</option>
                                    <option value="D">Document</option>
                                    <option value="C">Cumulative</option>
                                </select>
                                @*<input type="text" id="TAKE_QUANTITY" ng-model="status.TAKE_QUANTITY" class="form-control" />*@

                            </td>

                            <td style="width:120px">
                                <select id="CHARGE_INDEX_UNIT_{{$index}}" class="CHARGE_INDEX_UNIT" name="CHARGE_INDEX_UNIT" ng-model="status.CHARGE_INDEX_UNIT"
                                        k-options="chargeindexunitOptions" kendo-combo-box
                                        k-placeholder="'Select'" disabled
                                        style="width:100%"></select>


                                @*<input type="text" id="VALUE_PERCENT" ng-model="status.VALUE_PERCENT" class="form-control" />*@

                            </td>
                            <td style="width:150px">

                                @*<select id="CHARGE_ACC_CODE_{{$index}}" name="ACC_CODE" @*ng-model="status.ACC_CODE" k-primitive-value="true"
                        class="CHARGE_ACC_CODE_{{$index}}"
                        k-options="chargeaccountsOptions" kendo-drop-down-list
                        k-placeholder="'Select'"
                        account-index="{{$index}}"
                        type="C"
                        style="width:100%"></select>*@
                                <input kendo-combo-box
                                       id="CHARGE_ACC_CODE_{{$index}}"
                                       k-value-primitive="true"
                                       k-placeholder="'Select'"
                                       k-data-text-field="'ACC_EDESC'"
                                       k-data-value-field="'ACC_CODE'"
                                       k-filter="'contains'"
                                       k-data-source="chargeaccountsDataSource"
                                       ng-model="status.ACC_CODE"
                                       k-on-change="ChangeSubCodeByAccountCode(kendoEvent)"
                                       account-index="{{$index}}"
                                       @*k-type="'G'"*@
                                       style="width:100%" />
                                @*<input type="text" id="CHARGE_ACC_CODE" ng-model="status.CHARGE_ACC_CODE" class="form-control" />*@

                            </td>
                            <td style="width:150px">
                                <select id="CHILD_CHARGE_SUB_CODE_{{$index}}" name="SUB_CODE" @*k-primitive-value="true" @*ng-disabled="parentaccountcodechange"*@
                                        k-options="subLedgerOptions" kendo-combo-box
                                        class="CHARGE_SUB_CODE_{{$index}}"
                                        ng-model="status.SUB_CODE"
                                        k-placeholder="'Select'"
                                        style="width:100%"></select>
                                @*<input type="text" id="CHARGE_SUB_CODE" ng-model="status.CHARGE_SUB_CODE" class="form-control" />*@

                            </td>
                            <td style="width:100px" class="btn-action">
                                <a href="" id="add_charges" name="add_charges" class="buttonadd" ng-click="add_charges(status)"><i class="fa fa-plus"></i></a>

                                <a href="javascript:void(0)" class="buttondelete">
                                    <i class="fa fa-trash text-danger" data-tooltip="Remove distribution status" ng-click="remove_charges($index)"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="mt-checkbox-list checkboxlist  radio_select">


                    <span>
                        <input id="cogsvlaue" type="checkbox" ng-model="status.CHARGE_ACTIVE_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Charge Active Flag 
                    </span>

                </div>
                </div>
            </div>

        <div id="child_tab_7" class="tab-pane">

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="table-responsive">
                        <table class="document_child_table dynamic-table table-fixed">
                            <thead class="child-table-head">
                                <tr>
                                    <th>Charge</th>
                                    <th>Document</th>
                                    <th>Base on</th>
                                    <th>Value/Percent</th>
                                    <th>Take Quantity</th>
                                    <th>Impact on</th>
                                    <th>Account</th>
                                    <th style="width:8%;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody class="table_body">
                                <tr>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>

                                    <td class="btn-action" style="width:8%;">
                                        <a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_element($index,this)" data-original-title="" title=""><i class="fa fa-plus"></i></a>

                                        <a href="" class="buttonedit">
                                            <i class="fa fa-pencil-square-o " data-tooltip="Remove item"></i>
                                        </a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div id="child_tab_8" class="tab-pane">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Calculation Basis:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9 radiobox input_radio_group">
                            <span>
                                <input type="radio" name="accountType" disabled="" ng-model="accountsArr.ACC_TYPE_FLAG" value="N" class="ng-pristine ng-untouched ng-valid ng-empty"> Amount
                            </span>

                            <span>
                                <input type="radio" name="accountType" disabled="" ng-model="accountsArr.ACC_TYPE_FLAG" value="T" class="ng-pristine ng-untouched ng-valid ng-empty"> Quality
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">

                        <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Effectie from Date</label>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.ITEM_CODE" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <input type="text" id="itemcode" name="ITEM_CODE" ng-model="itemArr.ITEM_CODE" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="table-responsive">
                        <table class="document_child_table  dynamic-table table-fixed">
                            <thead class="child-table-head">
                                <tr>
                                    <th>Charge</th>
                                    <th>Document</th>
                                    <th>Base on</th>
                                    <th>Value/Percent</th>
                                    <th>Take Quantity</th>
                                    <th>Impact on</th>
                                    <th>Account</th>
                                    <th style="width:8%;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody class="table_body">
                                <tr>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>

                                    <td class="btn-action" style="width:8%;">
                                        <a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_element($index,this)" data-original-title="" title=""><i class="fa fa-plus"></i></a>

                                        <a href="" class="buttonedit">
                                            <i class="fa fa-pencil-square-o " data-tooltip="Remove item"></i>
                                        </a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="child_tab_9" class="tab-pane">

        </div>
        <div id="child_tab_10" class="tab-pane">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Description:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="Document" name="Document" ng-model="itemArr.ITEM_EDESC" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty" readonly="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Apply on:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="ITEM_APPLY_ON" name="ITEM_APPLY_ON" ng-model="itemSpecification.ITEM_APPLY_ON" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">
                            Part Number:
                            @*<span style="color:red" class="requiredAsterik">*</span>*@
                        </label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="PART_NUMBER" name="PART_NUMBER" ng-model="itemSpecification.PART_NUMBER" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Brand Name:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="BRAND_NAME" name="BRAND_NAME" ng-model="itemSpecification.BRAND_NAME" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Specification:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="ITEM_SPECIFICATION" name="ITEM_SPECIFICATION" ng-model="itemSpecification.ITEM_SPECIFICATION" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-lg-3">Item Size:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="ITEM_SIZE" name="ITEM_SIZE" ng-model="itemSpecification.ITEM_SIZE" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Interface:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="INTERFACE" name="INTERFACE" ng-model="itemSpecification.INTERFACE" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Thickness:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="THICKNESS" name="THICKNESS" ng-model="itemSpecification.THICKNESS" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Type:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="TYPE" name="TYPE" ng-model="itemSpecification.TYPE" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Color:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="COLOR" name="COLOR" ng-model="itemSpecification.COLOR" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Lamination:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="LAMINATION" name="LAMINATION" ng-model="itemSpecification.LAMINATION" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Grade:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="GRADE" name="GRADE" ng-model="itemSpecification.GRADE" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">GSM:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input type="text" id="GSM" name="GSM" ng-model="itemSpecification.GSM" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Remarks:</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <textarea type="text" id="REMARKS" name="REMARKS" ng-model="itemSpecification.REMARKS" class="form-control fixedsize ng-pristine ng-untouched ng-valid ng-empty"></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="child_tab_11" class="tab-pane">

        </div>
    </div>
</form>


@*<script>

    function uploadFile(target) {
        document.getElementById("file-name").innerHTML = target.files[0].name;
    }
</script>*@
<script>
    $(function () {

        var $txtFile = $('#txtFile'),
            files;
        var data = new FormData();


        document.uploadFile = function () {
            debugger;
            if ($txtFile.length) {
                files = $txtFile[0].files;
                if (files.length > 0) {
                    data.append("UploadedImage", files[0]);
                    data.append("ImageName", files[0].name);
                }
            }
            var fileUrl = window.location.protocol + "//" + window.location.host + "/api/SetupApi/ItemPostUserImage?id=" + $('#itemcode').val();
            $.ajax({
                type: "POST",
                url: fileUrl,
                contentType: false,
                processData: false,
                data: data
            }).then(function successCallback(response) {

                if (response.MESSAGE == "OK") {


                }
            });
        }


    });

</script>