
<style>
    .btnadd {
        margin-top: 2px;
        float: right;
        margin-right: 5px !important;
    }

    div.k-treeview {
        overflow: unset !important;
    }
       .addcolor {
    color:#ffffff;
    }
   
</style>
@*<div ng-controller="locationSetupTreeCtrl">*@

<div class="portlet box green-box">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-pin"></i>
            <span class="caption-subject bold uppercase">Location</span>
        </div>
        <div class="actions">
            <a class="btn dark-green btn-sm" id="adddocumentformdata" ng-click="addNewLocation(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                <i class="fa fa-plus addcolor"></i>
            </a>
        </div>
    </div>

    <div class="portlet-body">
        <div id="locationtree" class="disableLeftClickOnTree" kendo-tree-view="tree"
             k-data-source="locationtreeData"
             k-options="locationoptions"
             k-data-bound="locationOnDataBound">
            <span k-template ng-click="BindGrid(dataItem.LocationId)">
                {{dataItem.LocationName}}
            </span>
        </div>
        <ul kendo-context-menu
            k-filter="'.hasTreeCustomMenu'"
            k-on-open="menuOpen = menuOpen + 1"
            k-on-close="menuOpen = menuOpen - 1"
            k-on-select="onContextSelect(kendoEvent)">
            <li>Add</li>
            <li>Update</li>
            <li>Delete</li>
        </ul>
        <ul kendo-context-menu k-filter="'.disableLeftClickOnTree'"></ul>
    </div>
</div>
            <script>
                $(document).ready(function () {
                    setTimeout(function () {
                        $('.treeviewspliter .k-widget.k-treeview').slimScroll({
                            height: '250px'
                        });
                    }, 10);
                });

            </script>
