
<style>
    .mb--8 {
        margin-bottom: -8px !important;
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .k-grid-content {
        height: 367px !important;
    }

    #kGrid {
        height: 427px !important;
    }
          .addcolor {
    color:#ffffff;
    }
</style>
<style>
    .mb-0 {
        margin-bottom: 0px !important;
    }

    .fixedsize {
        height: 14px !important;
    }

    .heightforfile {
        height: 14px;
    }

    .modal-dialogbox-body {
        min-height: 450px !important;
    }

    .main textarea {
        /*border: solid #ddd 1px;*/
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .english {
        width: 27.5% !important;
    }

    .document_child_table td {
        /*border: 1px solid #ddd;*/
        font-size: 9px !important;
        border-top: none !important;
    }

    .document_child_table th {
        padding: 5px;
    }

    .buttonadd {
        padding-right: 3px;
        padding-left: 2px;
        /* padding-top: 2px; */
        margin-left: 3px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }

    .buttonadd, .buttondelete {
        font-size: 11px;
    }

    .buttondelete {
        padding-right: 2px;
        padding-left: 3px;
        /* padding-top: 2px; */
        margin-left: 2px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }

    .dynamic-table input {
        border: none !important;
        /* text-align: right; */
    }

    .dynamic-table input {
        font-size: 10px !important;
        height: 21px !important;
        padding: 0px 3px;
    }

    .document_child_table .table_body.min-body {
        max-height: 69px !important;
        display: block !important;
        overflow-y: auto;
        /* overflow: auto !important; */
    }

    .top-gap {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .image_size {
        height: 180px;
        width: 140px;
        margin-bottom: 5px;
    }

    .file_input {
        margin-top: 14px;
    }

    .center {
        text-align: center;
    }

    .paddingright {
        padding-right: 0px;
    }

    .main .k-picker-wrap {
        font-size: 11px;
        min-height: 22px;
    }

    .english_date {
        width: 33%;
    }

    .nepali_date {
        width: 33%;
    }

        .english_date .k-i-warning, .nepali_date .k-i-warning {
            display: none;
        }

    .english_date .k-select {
        border: none;
        top: 3px;
    }

    .main .k-picker-wrap {
        padding-right: 0px;
    }

    .calendar-icon-2 {
        top: 3px !important;
        color: #666;
    }

    .fieldset-box .k-picker-wrap {
        padding-right: 0px;
    }

    .fieldset-box .k-select {
        border: none;
        /*top: 3px;*/
    }

    .fieldset-box .k-i-warning {
        display: none;
    }

    .fieldset-box .k-picker-wrap.k-state-default {
        border: none !important;
    }

    .fieldset-box select {
        border: none !important;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    div#ndp-nepali-box {
        font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
        border: 1px solid #CCC;
        background-color: #FFF;
        position: absolute;
        z-index: 9999;
        padding: 1px;
        margin-top: 1px;
    }

    .borderRed {
        border: solid red 1px !important;
    }

    .k-grid-content {
        height: 367px !important;
    }

    #kGrid {
        height: 427px !important;
    }

    .requiredAsterik {
        position: absolute;
        top: 0px;
        right: 5px;
    }

    textarea {
        resize: none;
    }

    .addcolor {
        color: #ffffff;
    }

    .k-list.k-reset {
        max-height: 250px !important;
        overflow: hidden !important;
    }
</style>
 
    <div class="portlet box green-box main">
       
            <div class="portlet-title">
                <div class="caption caption-title ng-binding">
                    <i class="fa fa-list-alt"></i><span class="caption-subject bold uppercase">Order dispatch Setup</span>
                </div>
                <div class="actions">
                    <a class="btn dark-green btn-sm addcolor" id="createbtn"  ng-click="showModalForNew(event)">
                        <i class="fa fa-plus"></i> NEW
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <kendo-grid id="kGrid" options="OrderdispatchGridOptions" k-rebind="OrderdispatchGridOptions">
                </kendo-grid>
            </div>

            <div class="modal fade-out" id="OrderdispatchModal" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog modal-medium-large">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                              <b>  Order  Dispatch   Model </b>
                                  </h4>
                        </div>
                        <div class="modal-body mb--8">

                            <form name="dispatchform" class="form-horizontal" novalidate>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">

                                          
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">Dispatch Log No:</label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <input type="text" id="dispatchlog" name="dispatchlog" ng-model="dispatchArr.Dispatch_no" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">
                                                        Dispatch From:
                                                    </label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <input type="text" id="dispatchfrom" name="dispatchfrom" ng-model="dispatchArr.Dispatch_from" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">Dealer/Party:</label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <select id="dealermultiselect" ng-model="dispatchArr.Dealer_Code" k-value-primitive="true" k-ng-model="dispatchArr.Dealer_Code" name="dealermultiselect" kendo-drop-down-list
                                                                k-options="delearOptions" k-on-change="onChangeDealer(kendoEvent)"
                                                                style="width: 100%"></select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">
                                                        Document:
                                                    </label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <select id="documentmultiselect" ng-model="dispatchArr.document" k-value-primitive="true" k-ng-model="dispatchArr.document" name="documentmultiselect" kendo-drop-down-list
                                                                k-options="documentOptions" k-on-change="onChangeDocument(kendoEvent)"
                                                                style="width: 100%" required></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">
                                                        Order By:
                                                    </label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <select id="orderby" ng-model="dispatchArr.Order_by" k-value-primitive="true" k-ng-model="dispatchArr.Order_by" name="orderby" kendo-drop-down-list
                                                                k-options="orderbyOptions" k-on-change="onChangeOrderby(kendoEvent)"
                                                                style="width: 100%" required></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            

                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">
                                                        Decimal:
                                                    </label>
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <select id="decimal" ng-model="dispatchArr.Decimal" k-value-primitive="true" k-ng-model="dispatchArr.Decimal" name="decimal" kendo-drop-down-list
                                                                k-options="decimalOptions" k-on-change="onChangeDecimalType(kendoEvent)"
                                                                style="width: 100%">
                                                            <option value="" selected>--Select Decimal Type--</option>
                                                            <option value="Nill">Nill</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">
                                                        From Date
                                                    </label>
                                                  

                                                    <input type="text" id="dispatchfrom" name="dispatchfrom" ng-model="dispatchArr.Dispatch_from" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">

                                                    <label class="control-label col-sm-4 col-md-4 col-lg-4" for="element">Planing as on Date</label>
                                                    <div class="col-sm-3 col-md-3 col-lg-3 english_date">
                                                        <input type="text" id="dispatchfrom" name="dispatchfrom" ng-model="dispatchArr.Dispatch_from" class="form-control" />
                                                    </div>

                                                   
                                                </div>
                                            </div>


                                           
                                        </div>

                                    </div>



                                </div>

                            </form>

                        </div>
                        <div class="modal-footer">
                             
                                <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveDispatch(dispatchform.$valid)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                    <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                                </button>
                      
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel($index)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
     
    </div>
 

    


