
<html>
<head>
    <style>
        .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        /*.k-grid-content {
            height: 335px !important;
        }
        #kGrid {
            height: 395px !important;
        }*/
        .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
            height: auto !important;
        }

        .k-virtual-scrollable-wrap {
            height: 454px !important;
        }

        #createContractForm .k-multiselect-wrap ul li {
            font-size: 10px !important;
        }

        #createContractForm .k-multiselect-wrap .k-input {
            color: hsl(0, 0%, 80%);
        }

        #multiselect-wrap.k-floatwrap {
            max-height: 101px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <form id="PriorityForm" name="PriorityForm" novalidate>


        <div class="portlet box green-box main">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-alt"></i>
                    <span class="caption-subject  bold uppercase">
                        Priority  Information
                    </span>
                </div>
                <div class="actions pull-right">

                    <button type="button" id="deleteTransporter" name="deleteTransporter" ng-model="btnDelete" ng-disabled="!btnDelete" ng-click="deletePriority(PriorityForm.$valid)" class="btn btn-danger btn-sm">Delete</button>
                    <button type="button" id="saveTransporter" name="saveTransporter" ng-click="SavePriority(PriorityForm.$valid)" class="btn dark-green btn-sm">{{saveAction}}</button>
                    <button type="button" id="cancelTransporter" name="cancelTransporter" ng-click="Cancel()" class="btn btn-default btn-sm">New</button>

                </div>
            </div>

            <div class="portlet-body form-horizontal">

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">

                                Shortcut<span style="color:red" ng-show="PriorityForm.prioritycode.$invalid">
                                    <span ng-show="PriorityForm.prioritycode.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="prioritycode" ng-model="PrioritySetup.PRIORITY_CODE" id="prioritycode" required>
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                In English<span style="color:red" ng-show="PriorityForm.priorityename.$invalid">
                                    <span ng-show="PriorityForm.priorityename.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="priorityename" ng-model="PrioritySetup.PRIORITY_EDESC" id="priorityename" required>
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                In Nepali
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="prioritynname" ng-model="PrioritySetup.PRIORITY_NDESC" id="prioritynname">
                            </div>
                        </div>

                    </div>



                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4 col-lg-5">
                                Remarks
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <textarea class="form-control" type="text" rows="4" name="remarks" ng-model="PrioritySetup.REMARKS" id="remarks"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </form>

</body>
</html>
<script>

    $(document).ready(function () {

        setTimeout(function () {

            $('.k-list').slimScroll({
                height: '250px'
            });
        }, 100)

        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            //if ($(this).attr('href') == '#tab_1') {
            //    $('#tab_1').tab('show')
            //}
            if ($(this).attr('href') == '#tab_2') {
                $('#tab_2').tab('show')
            }
        });
    });




</script>
