
<style>
    .requiredAsterik {
        position: absolute;
        top: 0px;
        right: 5px;
    }
    .k-list.k-reset {
        max-height: 400px !important;
    }
    .modalgap
    {
        padding-top:10px !important;
    }
</style>
    <div class="modal fade-out" id="CustomerQuickSetupModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog modal-medium-large popup modal-theme-bg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Customer Quick Setup
                    </h4>
                </div>

                <div class="modal-body main modalgap">
                    <form name="customersArrform" class="form-horizontal">
                        <div class="row" style="scrollbar-base-color:yellow">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div class="form-group"  ng-controller="customerSetupTreeCtrl">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">Under Group:<span style="color:red" class="requiredAsterik">*</span></label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <select id="mastercustomercode" ng-model="CUSTOMERArr.PARENT_CODE" kendo-drop-down-list ng-
                                                k-options="customerGroupOptions"
                                                style="width: 100%" required></select>
                                    </div>
                                </div>
                            </div>
                 
                        </div>
                        <!-- rendering master elements -->

                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">

                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">In English:
                                        <span style="color:red" class="requiredAsterik">*</span>
                                     
                                    </label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="customerEnglishName" name="CUSTOMER_EDESC" ng-model="CUSTOMERArr.CUSTOMER_EDESC" class="form-control" required />

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">

                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">In Nepali:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="customerNepaliName" name="CUSTOMER_NDESC" ng-model="CUSTOMERArr.CUSTOMER_NDESC" class="form-control" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                   
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                        Address:
                                        <span style="color:red" class="requiredAsterik">*</span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="customerAddress" name="REGD_OFFICE_EADDRESS" ng-model="CUSTOMERArr.REGD_OFFICE_EADDRESS" class="form-control" required/>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                        Mobile:
                                        <span style="color:red" class="requiredAsterik">*</span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="customerTelephone" name="TEL_MOBILE_NO1" ng-model="CUSTOMERArr.TEL_MOBILE_NO1" class="form-control" required/>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                        Email:
                                        <span style="color:red" class="requiredAsterik">*</span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="customerEmail" name="EMAIL" ng-model="CUSTOMERArr.EMAIL" class="form-control" required/>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Remarks:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="customerRemarks" name="REMARKS" ng-model="CUSTOMERArr.REMARKS" class="form-control" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm btn-green" id="savedocumentformdata" ng-disabled="!customersArrform.$valid" ng-click="quickSave('customer')" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> Save
                    </button>

                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="refreshquick()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade-out" id="ItemQuickSetupModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog modal-medium-large popup modal-theme-bg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Item Quick Setup
                    </h4>
                </div>

                <div class="modal-body main modalgap">
                    <form name="ItemArrform" class="form-horizontal">
                        <div class="row" style="scrollbar-base-color:yellow">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div class="form-group" ng-controller="itemSetupTreeCtrl">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">Under Group:<span style="color:red" class="requiredAsterik">*</span></label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <select id="itemGroupCode" name="itemGroupCode" ng-model="ITEMArr.PARENT_CODE"
                                                k-options="itemGroupOptions" kendo-drop-down-list
                                                style="width:100%" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- rendering master elements -->

                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">

                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">In English:
                                        <span style="color:red" class="requiredAsterik">*</span>
                                      
                                    </label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="itemEnglishName" name="ITEM_EDESC" ng-model="ITEMArr.ITEM_EDESC" class="form-control" required/>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">

                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">In Nepali:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="itemNepaliName" name="ITEM_NDESC" ng-model="ITEMArr.ITEM_NDESC" class="form-control" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">

                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Category:<span style="color:red" class="requiredAsterik">*</span></label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8" ng-controller="itemCategoryGroup">
                                        <select id="categoryGroup" name="CATEGORY_CODE" ng-model="ITEMArr.CATEGORY_CODE"
                                                k-options="categoryGroupOptions" kendo-drop-down-list
                                                style="width:100%" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">

                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Index MU Code:<span style="color:red" class="requiredAsterik">*</span></label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8" ng-controller="indexMuCtrl">
                                        <select id="INDEX_MU_CODE" name="INDEX_MU_CODE" ng-model="ITEMArr.INDEX_MU_CODE"
                                                k-options="indexMuOptions" kendo-drop-down-list
                                                style="width:100%" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">

                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Remarks:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="itemRemarks" name="REMARKS" ng-model="ITEMArr.REMARKS" class="form-control" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm btn-green" id="savedocumentformdata" ng-disabled="!ItemArrform.$valid" ng-click="quickSave('item')" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> Save
                    </button>

                    <button type="button" class="btn btn-sm btn-default" ng-click="refreshquick()" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade-out" id="SupplierQuickSetupModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog modal-medium-large popup modal-theme-bg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Supplier Quick Setup
                    </h4>
                </div>

                <div class="modal-body main modalgap">
                    <form name="supplierArrform" class="form-horizontal">
                        <div class="row" style="scrollbar-base-color:yellow">
                           
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div class="form-group" ng-controller="supplierSetupTreeCtrl">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">Under Group:<span style="color:red" class="requiredAsterik">*</span></label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <select id="supplierGroupCode" name="supplierGroupCode"  ng-model="SUPPLIERArr.PARENT_CODE"
                                                k-options="supplierGroupOptions" kendo-drop-down-list
                                                style="width:100%" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- rendering master elements -->

                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">

                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">In English:
                                        <span style="color:red" class="requiredAsterik">*</span>
                                        
                                    </label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="supplierEnglishName" name="SUPPLIER_EDESC" ng-model="SUPPLIERArr.SUPPLIER_EDESC" class="form-control" required/>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">In Nepali:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="supplierNepaliName" name="SUPPLIER_NDESC" ng-model="SUPPLIERArr.SUPPLIER_NDESC" class="form-control" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">
                                        Address:
                                        <span style="color:red" class="requiredAsterik">*</span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="supplierAddress" name="REGD_OFFICE_EADDRESS" ng-model="SUPPLIERArr.REGD_OFFICE_EADDRESS" class="form-control" required/>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">
                                        Mobile:
                                        <span style="color:red" class="requiredAsterik">*</span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="supplierTelephone" name="TEL_MOBILE_NO1" ng-model="SUPPLIERArr.TEL_MOBILE_NO1" class="form-control" required/>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Email:<span style="color:red" class="requiredAsterik">*</span></label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="supplierEmail" name="EMAIL" ng-model="SUPPLIERArr.EMAIL" class="form-control" required/>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">

                                    <label class="control-label  col-sm-4 col-md-4 col-lg-4">Remarks:</label>
                                    <div class=" col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="supplierRemarks" name="REMARKS" ng-model="SUPPLIERArr.REMARKS" class="form-control" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm btn-green" id="savedocumentformdata" ng-disabled="!supplierArrform.$valid" ng-click="quickSave('supplier')" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> Save
                    </button>

                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" @*ng-click="SubLedger_Cancel($index)"*@ ng-click="refreshquick()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

<script>
    $('#ItemQuickSetupModal, #CustomerQuickSetupModal, #SupplierQuickSetupModal').on('shown.bs.modal', function () {
        $(document).off('focusin.modal');
    });
</script>