<style>
    .mb-0 {
        margin-bottom: 0px !important;
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
          .addcolor {
    color:#ffffff;
    }
</style> 
    <div class="portlet box green-box main">
       
            <div class="portlet-title">
                <div class="caption ng-binding">
                    <i class="fa fa-list-alt"></i>
                    <span class="caption-subject bold uppercase">
                        Regional  List
                    </span>
                </div>
                <div class="actions">
                    <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-click="showModalForNew(event)" ng-disabled="treenodeselected!= 'Y'">
                        <i class="fa fa-plus"></i> NEW
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-offset-8 col-md-4 search_box">
                        <div class="topsearch" style="display:block;">
                            <a class="btn-linkicon fa fa-search" style="margin-right: -13px;" ng-click="BindGrid('All')"></a>
                            <input class="k-textbox txtSearchString" type="text" id="regtxtSearchString" ng-model="txtSearchString" name="search" placeholder="enter search text..." style="margin-left: 13px;" />

                        </div>
                    </div>
                </div>
                <kendo-grid id="kGrid" options="regionalChildGridOptions" k-rebind="regionalChildGridOptions">
                </kendo-grid>
            </div>
            <div class="modal fade-out" id="regionalModal" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog  modal-dialog-box popup">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Regional Setup
                            </h4>
                        </div>

                        <div class="modal-body">

                            <form id="regionalsArrform" name="regionalsArrform" class="form-horizontal" novalidate>
                                <div class="row" style="scrollbar-base-color:yellow">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-3 col-lg-3">Under Group:</label>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <select id="masterregionalcode"  kendo-drop-down-list
                                                        k-options="regionalGroupOptions"
                                                        style="width: 100%" disabled></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 col-md-4">Type flag:</label>
                                            <div class="col-sm-7 col-md-7 radiobox">
                                                <span class="radio_btn">
                                                    <input type="radio" name="regionType" ng-model="regionalsArr.GROUP_SKU_FLAG" value="G" ng-disabled="groupschilddisabled"> Group
                                                </span>

                                                <span>
                                                    <input type="radio" name="regionType" ng-model="regionalsArr.GROUP_SKU_FLAG" value="I" ng-disabled="groupschilddisabled"> Individual
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                
                                </div>
                                <!-- rendering master elements -->
                               
                                        

                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <div class="form-group">

                                                        <label class="control-label col-sm-3 col-md-3 col-lg-3">Shortcut:</label>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <input type="text" id="shortcut" name="shortcut" ng-model="regionalsArr.REGION_CODE" class="form-control" readonly />
                                                        </div>
                                                    </div>
                                                </div>
                                              
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <div class="form-group">

                                                        <label class="control-label  col-sm-3 col-md-3 col-lg-3">
                                                            English Name:<span style="color:red" ng-show="regionalsArrform.regionEnglishName.$invalid">
                                                                <span ng-show="regionalsArrform.regionEnglishName.$error.required">*</span>
                                                            </span>
                                                        </label>
                                                        <div class=" col-sm-9 col-md-9 col-lg-9">
                                                            <input type="text" id="regionEnglishName" name="regionEnglishName" ng-model="regionalsArr.REGION_EDESC" class="form-control" required />

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                <div class="row">
                                 
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">

                                            <label class="control-label  col-sm-3 col-md-3 col-lg-3">Nepali Name:</label>
                                            <div class=" col-sm-9 col-md-9 col-lg-9">
                                                <input type="text" id="regionNepaliName" name="REGION_NDESC" ng-model="regionalsArr.REGION_NDESC" class="form-control" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group mb-0">
                                            <label class="control-label col-md-3 col-lg-3">Remarks:</label>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <input type="text" id="remarks" name="REMARKS" ng-model="regionalsArr.REMARKS" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel($index)">Cancel</button>

                            <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewRegional((regionalsArrform.$valid))" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                            </button>
                        </div>
                    </div>
                </div>
            </div> 
    </div>
 
<script>
    $(document).ready(function () {
         $(".topsearch").hide();
         $("#regtxtSearchString").keyup(function () {
            var val = $('#regtxtSearchString').val();
            $("#kGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "REGION_CODE",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "REGION_EDESC",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "REMARKS",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "CREATED_BY",
                        operator: "contains",
                        value: val
                    }
                ]
            });
        });
        setTimeout(function () {
            $('.k-list').slimScroll({
                height: '250px'
            });
        }, 100);
        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            //if ($(this).attr('href') == '#tab_1') {
            //    $('#tab_1').tab('show')
            //}
            if ($(this).attr('href') == '#tab_2') {
                $('#tab_2').tab('show')
            }
        });
    });
</script>
