
<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }

    .k-virtual-scrollable-wrap {
        height: 454px !important;
    }
</style>
<style>
    .fieldset-box {
        border: solid #ddd 1px;
        width: 96%;
        margin-left: 17px;
        margin-bottom: 10px;
    }

        .fieldset-box legend {
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
            padding-left: 5px;
            font-size: 12px;
            border-bottom: none;
            font-weight: 600;
            margin: 0px;
        }
</style>

<form id="SchemeForm" name="SchemeForm" novalidate>


    <div class="portlet box green-box main">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-plus-square"></i>
                <span class="caption-subject bold uppercase">
                    {{SchemeHeader}}
                </span>
            </div>
            <div class="actions pull-right">

                <button type="button" id="deleteScheme" name="deleteScheme" ng-model="btnDelete" ng-disabled="!btnDelete" ng-click="deleteScheme(SchemeForm.$valid)" class="btn btn-danger btn-sm">Delete</button>
                <button type="button" id="saveScheme" name="saveScheme" ng-click="SaveScheme(SchemeForm.$valid)" class="btn dark-green btn-sm">{{saveAction}}</button>
                <button type="button" id="cancelScheme" name="cancelScheme" ng-click="Cancel()" class="btn btn-default btn-sm">New</button>

            </div>
        </div>

        <div class="portlet-body form-horizontal">

            <div class="row">

                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                            Scheme Name<span style="color:red" ng-show="SchemeForm.SchemeName.$invalid">
                                <span ng-show="SchemeForm.SchemeName.$error.required">*</span>
                            </span>
                        </label>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control" type="text" name="SchemeName" ng-model="Scheme.SCHEME_EDESC" id="SchemeName" placeholder="Scheme name" required>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-4  col-lg-4">
                            Status:@*<span style="color:red" ng-show="SchemeForm.Status.$invalid">
                                    <span ng-show="SchemeForm.Status.$error.required">*</span>
                                </span>*@
                        </label>
                        <div class="col-sm-8 col-md-8 col-lg-8">

                            <input type="radio" id="auto" name="schemestatus" ng-model="Scheme.STATUS" value="A"> Auto

                            <input type="radio" id="manual" name="schemestatus" ng-model="Scheme.STATUS" value="M"> Manual
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <fieldset class="fieldset-box">
                    <legend>Effective</legend>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                From:
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input id="englishdatedocument5" class="englishdate" kendo-date-picker
                                       ng-model="Scheme.EFFECTIVE_FROM"
                                       k-options="monthSelectorOptions" />
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                To:
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input id="englishdatedocument5" class="englishdate" kendo-date-picker
                                       ng-model="Scheme.EFFECTIVE_TO"
                                       k-options="monthSelectorOptions" />
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="fieldset-box">
                    <legend>Include</legend>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                Item<span style="color:red" ng-show="SchemeForm.item.$invalid">
                                    <span ng-show="SchemeForm.item.$error.required">*</span>
                                </span>
                            </label>

                            <div class="col-sm-8 col-md-8 col-lg-8">

                                <select id="item" name="item" kendo-multi-select k-options="itemOptions" k-ng-model="bulkItemModel" class="acccode accmaster macccode c w-100" required></select>
                            </div>
                        </div>

                    </div>
                    @*<div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Dealer<span style="color:red" ng-show="SchemeForm.dealer.$invalid">
                                        <span ng-show="SchemeForm.dealer.$error.required">*</span>
                                    </span>
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <select id="dealer" name="dealer" kendo-multi-select k-options="dealerOptions" k-ng-model="bulkPartyTypeModel" class="acccode accmaster macccode c w-100"></select>
                                </div>
                            </div>

                        </div>*@
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                Dealer<span style="color:red" ng-show="SchemeForm.dealer.$invalid">
                                    <span ng-show="SchemeForm.dealer.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div id="dealer" ng-dropdown-multiselect="" options="AllDealerType" selected-model="multiSelectedDealer" extra-settings="dealerControl" onselect=""></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                Area<span style="color:red" ng-show="SchemeForm.area.$invalid">
                                    <span ng-show="SchemeForm.area.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <select id="areasetup" name="areasetup" kendo-multi-select k-options="AreaSetupOption" k-ng-model="bulkAreaTypeModel" class="acccode accmaster macccode c w-100"></select>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                Branch<span style="color:red" ng-show="SchemeForm.branch.$invalid">
                                    <span ng-show="SchemeForm.branch.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <select id="branch" name="branch" kendo-multi-select k-options="branchOptions" k-ng-model="bulkBranchTypeModel" class="acccode accmaster macccode c w-100"></select>
                            </div>
                        </div>

                    </div>
                    @*<div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Customer
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <select id="customerMultiSelect" kendo-multi-select name="customer" k-ng-model="bulkCustomerModel" class="acccode accmaster macccode c w-100" k-options="customerOptions"></select>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                Customer
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div id="customerMultiSelect" ng-dropdown-multiselect="" options="AllCustomer" selected-model="multiSelectedCustomer" extra-settings="customerControl"></div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="element" class="control-label col-sm-4 col-md-4  col-lg-4">Customer:</label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <div id="customerMultiSelect" ng-dropdown-multiselect="" options="AllCustomer" selected-model="multiSelectedCustomer" extra-settings="customerControl"></div>
                                </div>
                            </div>
                        </div>*@
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="fieldset-box">
                    <legend>Type</legend>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                Scheme Type<span style="color:red" ng-show="SchemeForm.SchemeType.$invalid">
                                    <span ng-show="SchemeForm.SchemeType.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <select ng-model="Scheme.SCHEME_TYPE" id="SchemeType" class="form-control" name="SchemeType" style="width:100%">
                                    <option value="">-- Select Scheme Type--</option>
                                    <option value="CD">Cash On Discount</option>
                                    <option value="BS">Bonous</option>
                                    <option value="SC">Scheme</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                Type<span style="color:red" ng-show="SchemeForm.Type.$invalid">
                                    <span ng-show="SchemeForm.Type.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <select ng-model="Scheme.TYPE" id="Type" class="form-control" name="Type" style="width:100%">
                                    <option value="">-- Select Type--</option>
                                    <option value="V">Value</option>
                                    <option value="I">Item</option>
                                    @*<option value="SC">Scheme</option>*@
                                </select>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="fieldset-box">
                    <legend>Impact</legend>


                    @*<div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Charge<span style="color:red" ng-show="SchemeForm.charge.$invalid">
                                        <span ng-show="SchemeForm.charge.$error.required">*</span>
                                    </span>
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <input id="charge" ng-model="Scheme.CHARGE_CODE" name="charge" class="charge area mareasetup w-100" kendo-combo-box
                                           k-placeholder="'Enter Branch'"
                                           k-data-text-field="'CHARGE_EDESC'"
                                           k-data-value-field="'CHARGE_CODE'"
                                           k-filter="'contains'"
                                           k-auto-bind="true"
                                           k-options="chargeOptions"
                                           k-suggest="false"
                                           k-data-source="chargeDataSource" />
                                </div>
                            </div>

                        </div>*@
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                Charge ledger<span style="color:red" ng-show="SchemeForm.chargeledger.$invalid">
                                    <span ng-show="SchemeForm.chargeledger.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                @*@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/ddl/_ddlChargeAccPartial.cshtml")*@
                                <input id="chargeledger" ng-model="Scheme.CHARGE_ACCOUNT_CODE" name="chargeledger" class="acccode accmaster macccode c w-100" kendo-combo-box
                                       k-placeholder="'Select Account'"
                                       k-data-text-field="'ACC_EDESC'"
                                       k-data-value-field="'ACC_CODE'"
                                       k-filter="'contains'"
                                       k-auto-bind="true"
                                       k-suggest="false"
                                       k-options="ChargeAccOptions"
                                       @*k-min-length="3" required*@ />
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                Charge Rate
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input class="form-control" type="number" name="chargeRate" ng-model="Scheme.CHARGE_RATE" id="chargeRate" placeholder="Charge Rate">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                Calculation Days:@*<span style="color:red" ng-show="SchemeForm.Status.$invalid">
                                        <span ng-show="SchemeForm.Status.$error.required">*</span>
                                    </span>*@
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input style="width:100%;" id="englishdatecalcdate" class="englishdate" kendo-date-picker
                                       ng-model="Scheme.CALCULATION_DAYS"
                                       k-options="monthSelectorOptionscalcdays" @*ng-change="OnOpeningDateChange()"*@ />
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                Document<span style="color:red" ng-show="SchemeForm.document.$invalid">
                                    <span ng-show="SchemeForm.document.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                @*<input id="document" ng-model="Scheme.FORM_CODE" name="document" class="acccode accmaster macccode c w-100" kendo-combo-box
                                    k-placeholder="'Select Document'"
                                    k-data-text-field="'FORM_EDESC'"
                                    k-data-value-field="'FORM_CODE'"
                                    k-filter="'contains'"
                                    k-auto-bind="true"
                                    k-suggest="false"
                                    k-options="documentOptions"
                                    k-min-length="3" required />*@
                                <select id="document" name="document" kendo-multi-select k-options="documentOptions" k-ng-model="bulkDocumentTypeModel" class="acccode accmaster macccode c w-100"></select>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                Account<span style="color:red" ng-show="SchemeForm.account.$invalid">
                                    <span ng-show="SchemeForm.account.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                @*@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/ddl/_ddlAccPartial.cshtml")*@
                                <input id="account" ng-model="Scheme.ACCOUNT_CODE" name="account" class="acccode accmaster macccode c w-100" kendo-combo-box
                                       k-placeholder="'Select Account'"
                                       k-data-text-field="'ACC_EDESC'"
                                       k-data-value-field="'ACC_CODE'"
                                       k-filter="'contains'"
                                       k-auto-bind="true"
                                       k-suggest="false"
                                       k-options="accOptions" />
                            </div>
                        </div>

                    </div>

                </fieldset>
            </div>
            <div class="row" style="margin-top:15px">



                <div @*ng-if="userRole.indexOf('Admin') !== -1 || userRole.indexOf('Administrator') !== -1"*@ class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2 col-lg-2">
                            Rule Query
                        </label>
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <span style="color:red" ng-show="SchemeForm.rulequery.$invalid">
                                <span ng-show="SchemeForm.rulequery.$error.required">*</span>
                            </span>
                            <textarea style="height: 100px;" class="form-control" type="text" name="rulequery" ng-model="Scheme.QUERY_STRING" id="rulequery" placeholder="Enter Query" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:15px">



                <div @*ng-if="userRole.indexOf('Admin') !== -1 || userRole.indexOf('Administrator') !== -1"*@ class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2 col-lg-2">
                            REMARKS
                        </label>
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <input class="form-control" type="text" name="REMARKS" ng-model="Scheme.REMARKS" id="REMARKS" placeholder="REMARKS">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</form>
<script>

    $(document).ready(function () {

        setTimeout(function () {

            $('.k-list').slimScroll({
                height: '250px'
            });
        }, 100)

        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            //if ($(this).attr('href') == '#tab_1') {
            //    $('#tab_1').tab('show')
            //}
            if ($(this).attr('href') == '#tab_2') {
                $('#tab_2').tab('show')
            }
        });

        //function activateTab(tab) {
        //    $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        //};
        //$("#customerToggle").click(function () {
        //    $(".customerSlidebox").slideToggle();
        //    activateTab('customerTab');
        //    $("#customerTreeView").data("kendoTreeView").dataSource.bind("change",
        //        $("#customerTreeView").data("kendoTreeView").dataSource.read()
        //    );
        //    toggleIcon($(this));
        //});
    });



    //function toggleIcon(elem) {
    //    var icon = elem.find("i");
    //    if (icon.hasClass("fa-chevron-down")) {
    //        icon.removeClass("fa-chevron-down")
    //        icon.addClass("fa-chevron-up")
    //    }
    //    else if (icon.hasClass("fa-chevron-up")) {
    //        icon.removeClass("fa-chevron-up")
    //        icon.addClass("fa-chevron-down")
    //    }
    //}
</script>


