
<style>

    #createContractForm .k-multiselect-wrap ul li {
        font-size: 10px !important;
    }

    #createContractForm .k-multiselect-wrap .k-input {
        color: hsl(0, 0%, 80%);
    }

    multiselect-wrap.k-floatwrap {
        max-height: 101px;
        overflow-y: auto;
    }

    .modal-lg {
        width: 1093px !important;
    }

    .mb--8 {
        margin-bottom: -8px !important;
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .k-grid-content {
        height: 160px !important;
    }

    /*#kGrid {
        height: 427px !important;
    }*/

    .addcolor {
        color: #ffffff;
    }

    fieldset {
        border: solid #ddd 1px;
        margin-left: 15px;
        margin-right: 15px;
    }

        fieldset legend {
            width: auto;
            border-bottom: none;
            width: auto !important;
            font-size: 12px;
            font-weight: 600;
            padding: 5px;
            margin-bottom: 0px;
        }
</style>
<style>
    .htwt {
        height: 300px !important;
        width: 500px !important;
    }

    .mb-0 {
        margin-bottom: 0px !important;
    }

    .ta-c {
        text-align: center !important;
    }

    .mb--8 {
        margin-bottom: -8px !important;
    }

    .gheight {
        height: 290px !important;
    }


    .fieldset-box .k-picker-wrap {
        padding-right: 0px;
    }

    .fieldset-box .k-select {
        border: none;
        /*top: 3px;*/
    }

    .fieldset-box .k-i-warning {
        display: none;
    }

    .fieldset-box .k-picker-wrap.k-state-default {
        border: none !important;
    }

    .fieldset-box select {
        border: none !important;
    }
</style>

<div class="portlet box green-box main">

    <div class="portlet-title">
        <div class="caption ng-binding">
            <i class="fa fa-list-alt"></i>
            <span class="caption-subject bold uppercase">
                Routine
            </span>
        </div>
        <div class="actions">
            <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-click="showModalForNew(event)" ng-disabled="treenodeselected!= 'Y'">
                <i class="fa fa-plus"></i> NEW
            </a>

        </div>
    </div>


    <div class="portlet-body">
        <kendo-grid id="kGrid" options="processChildGridOptions" k-rebind="processChildGridOptions">
        </kendo-grid>
    </div>


    <div class="modal fade-out" id="processModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog  modal-dialog-box popup">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        Process Model
                    </h4>
                </div>

                <div class="modal-body mb--8">

                    <form name="processsArrform" class="form-horizontal" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-3 col-lg-3">Under Group:</label>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <select id="masterprocesscode" kendo-drop-down-list
                                                        ng-disabled="true"
                                                        k-options="processGroupOptions"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">

                                            <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Process Code:</label>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <input type="text" id="newprocesscode" name="NEW_PROCESS_CODE" ng-model="processsArr.PROCESS_CODE" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">
                                                Process Type:<span style="color:red" ng-show="processsArrform.processType.$invalid">
                                                    <span ng-show="processsArrform.processType.$error.required">*</span>
                                                </span>
                                            </label>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <select id="processType" name="processType" k-ng-model="processsArr.PROCESS_TYPE_CODE" ng-model="processsArr.PROCESS_TYPE_CODE" style="width: 100%" required>
                                                    <option value="" selected>--Select Process type--</option>
                                                    <option value="BP">BP</option>
                                                    <option value="CP">CP</option>

                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <input type="hidden" id="budgetcode" name="BUDGET_CODE" ng-model="processsArr.PROCESS_CODE" class="form-control" />
                                            <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">
                                                In English:<span style="color:red" ng-show="processsArrform.processengname.$invalid">
                                                    <span ng-show="processsArrform.processengname.$error.required">*</span>
                                                </span>
                                            </label>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <input type="text" id="processengname" name="processengname" ng-model="processsArr.PROCESS_EDESC" class="form-control" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">

                                            <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">In Nepali:</label>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <input type="text" id="processnepname" name="PROCESS_NDESC" ng-model="processsArr.PROCESS_NDESC" class="form-control" />
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <fieldset>
                                                <legend>Process Code</legend>

                                                @*<label class="control-label col-md-3 col-lg-3"></label>*@
                                                <div class=" radio_select">

                                                    <span>
                                                        <input type="radio" id="category" name="processflag" ng-model="processsArr.PROCESS_FLAG" value="C"> Category
                                                    </span>
                                                    <span><input type="radio" id="process" name="processflag" ng-model="processsArr.PROCESS_FLAG" value="P"> Process</span>

                                                    <span><input type="radio" id="Routine" name="processflag" ng-model="processsArr.PROCESS_FLAG" value="R">Routine</span>

                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">

                                            <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">
                                                Priority:
                                            </label>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <input type="number" id="priority" name="priority" ng-model="processsArr.PRIORITY_ORDER_NO" ng-change="limitPriorityDigit()" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="result">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">
                                                    Location:<span style="color:red" ng-show="processsArrform.masterlocationcode.$invalid">
                                                        <span ng-show="processsArrform.masterlocationcode.$error.required">*</span>
                                                    </span>
                                                </label>
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <select id="masterlocationcode" name="masterlocationcode" ng-model="processsArr.LOCATION_CODE" kendo-drop-down-list
                                                            k-options="locationGroupOptions"
                                                            style="width: 100%"></select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">

                                            <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">Remarks:</label>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <textarea rows="2" class="form-control" id="remarks" name="REMARKS" ng-model="processsArr.REMARKS"></textarea>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>









                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel()">Cancel</button>

                    <button class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewProcess(processsArrform.$valid)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}

                    </button>
                </div>
            </div>
        </div>
    </div>

    @*new modal*@



</div>

<script>

    $(document).ready(function () {

        setTimeout(function () {

            $('.k-list').slimScroll({
                height: '250px'
            });
        }, 100)

        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            //if ($(this).attr('href') == '#tab_1') {
            //    $('#tab_1').tab('show')
            //}
            if ($(this).attr('href') == '#tab_2') {
                $('#tab_2').tab('show')
            }
        });
    });




</script>

<script>
    $("#priority").on("keypress keyup blur", function (event) {
        $(this).val($(this).val().replace(/[^\d].+/, ""));
        if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
</script>




