
<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /*.k-grid-content {
        height: 335px !important;
    }
    #kGrid {
        height: 395px !important;
    }*/
    .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }

    .k-virtual-scrollable-wrap {
        height: 454px !important;
    }

    #createContractForm .k-multiselect-wrap ul li {
        font-size: 10px !important;
    }

    #createContractForm .k-multiselect-wrap .k-input {
        color: hsl(0, 0%, 80%);
    }

    #multiselect-wrap.k-floatwrap {
        max-height: 101px;
        overflow-y: auto;
       
    }
    .portlet.box > .portlet-body {
        padding:4px !important;
    }

</style>

<form id="VehicleForm" name="VehicleForm" novalidate>
 
    
        <div class="portlet box green-box main">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-alt"></i>
                    <span class="caption-subject  bold uppercase">
                        Vehicle / Airlines  Information
                    </span>
                </div>
                <div class="actions pull-right">

                    <button type="button" id="deleteTransporter" name="deleteTransporter" ng-model="btnDelete" ng-disabled="!btnDelete" ng-click="deleteTransporter(VehicleForm.$valid)"  class="btn btn-danger btn-sm">Delete</button>
                    <button type="button" id="saveTransporter" name="saveTransporter" ng-click="SaveTransporter(VehicleForm.$valid)" class="btn dark-green btn-sm">{{saveAction}}</button>
                    <button type="button" id="cancelTransporter" name="cancelTransporter" ng-click="Cancel()" class="btn btn-default btn-sm">New</button>

                </div>
            </div>

            <div class="portlet-body form-horizontal">

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                <input type="hidden" ng-model="VehicleForm.TRANSPORTERID" id="TransporterId" name="TransporterId">
                               Vehicle/Airlines Code
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="vehicleCode" ng-model="VehicleSetup.VEHICLE_CODE" id="vehicleCode" placeholder="Vehicle Code"readonly>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                Vehicle Type<span style="color:red" ng-show="VehicleForm.vehicletype.$invalid">
                                    <span ng-show="VehicleForm.vehicletype.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                @*<select id="vehicletype" name="vehicletype" kendo-multi-select k-options="VehicleType" slim-scroll ng-model="VehicleSetup.VEHICLE_TYPE" style="width:100%;" onchange="">*@

                                    <select id="vehicletype" ng-model="VehicleSetup.VEHICLE_TYPE" k-value-primitive="true" k-ng-model="VehicleSetup.VEHICLE_TYPE" name="vehicletype" kendo-drop-down-list
                                            k-options="VehicleType" k-on-change="onChangePartyType(kendoEvent)"
                                            style="width: 100%" required>

                                        <option value="" selected>--Select Vehicle Type--</option>
                                        <option value="TK">Truck</option>
                                        <option value="TR">Tipper</option>
                                        <option value="TT">Tractor</option>
                                        <option value="RS">Ricksha</option>
                                        <option value="TH">Thela</option>
                                        <option value="SV">Excavator</option>
                                        <option value="MT">Motorcycle</option>
                                        <option value="CR">Car</option>
                                        <option value="VN">Van</option>
                                        <option value="OT">Others</option>
                                    </select>

                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                Vehicle/Airlines NO<span style="color:red" ng-show="VehicleForm.vehiclename.$invalid">
                                    <span ng-show="VehicleForm.vehiclename.$error.required">*</span>
                                </span>
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="vehiclename" ng-model="VehicleSetup.VEHICLE_EDESC" id="vehiclename" placeholder="Vehicle  english name"required >
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                               Vehicle Id
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="vehicleid" ng-model="VehicleSetup.VEHICLE_ID" id="vehicleid" min="0" placeholder="Vehicle Id"readonly>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                Owner Name
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="ownername" ng-model="VehicleSetup.OWNER_NAME" id="ownername" placeholder="Owner  name">
                            </div>
                        </div>

                    </div>
                   
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                Owner Contact No<span style="color:red" ng-show="VehicleForm.ownercontact.$error.pattern">*</span>

                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="ownercontact" ng-model="VehicleSetup.OWNER_MOBILE_NO" maxlength="10" id="ownercontact" placeholder="Owner Contact No."ng-pattern="/^[7-9][0-9]{9}$/" >
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                Driver/Pilot Name
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="drivername" ng-model="VehicleSetup.DRIVER_NAME" id="drivername"  placeholder="Driver Name">
                            </div>
                        </div>

                    </div>
                   
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                Driver Licence No
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="driverlicence" ng-model="VehicleSetup.DRIVER_LICENCE_NO" id="driverlicence" placeholder="Driver Licence">
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                Driver Contact No<span style="color:red" ng-show="VehicleForm.drivercontact.$error.pattern">*</span>
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" maxlength="10" name="drivercontact" ng-model="VehicleSetup.DRIVER_MOBILE_NO" id="drivercontact" placeholder="Driver Contact" ng-pattern="/^[7-9][0-9]{9}$/">
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                Group Allocate
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="groupallocate" ng-model="VehicleSetup.GROUP_EDESC" id="groupallocate" placeholder="Driver Contact">
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 " >
                        <div class="form-group" id="accMasterCtrl" ng-controller="accMasterCtrl">
                            @*<label class="control-label col-sm-3 col-md-4 col-lg-5">
            Account
        </label>
        <div class="col-sm-9 col-md-8 col-lg-7">
            <select id="accountMultiSelect" ng-model="VehicleSetup.ACC_CODE" k-value-primitive="true" k-ng-model="VehicleSetup.ACC_CODE" name="accountMultiSelect" kendo-drop-down-list
                    k-options="accountpeOptions" k-on-change="onChangePartyType(kendoEvent)"
                    style="width: 100%"></select>


        </div>*@
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                Account
                            </label>

                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input id="masteracccode" ng-model="VehicleSetup.ACC_CODE" name="acccode" class="acccode accmaster macccode c w-100" kendo-combo-box
                                       k-placeholder="'Select Account'"
                                       k-data-text-field="'ACC_EDESC'"
                                       k-data-value-field="'ACC_CODE'"
                                       k-filter="'contains'"
                                       k-auto-bind="true"
                                       k-suggest="false"
                                       k-options="accountpeOptions"                                   
                                       k-min-length="3" />
                               
                            </div>
                        </div>

                    </div>
             
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                Vehicle Labour
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <input class="form-control" type="text" name="vehiclelabour" ng-model="VehicleSetup.VEHICLE_LABOUR_EDESC" id="vehiclelabour" placeholder="Vehicle Labour">
                            </div>
                        </div>

                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4 col-lg-5">
                                Remarks
                            </label>
                            <div class="col-sm-9 col-md-8 col-lg-7">
                                <textarea class="form-control" type="text" rows="4" name="remarks" ng-model="VehicleSetup.REMARKS" id="remarks" placeholder="some text"></textarea>
                            </div>
                        </div>
                    </div>
                  
                </div>

            </div>
        </div>
   

</form>
<script>

    $(document).ready(function () {

        setTimeout(function () {

            $('.k-list').slimScroll({
                height: '250px'
            });
        }, 100)

        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            //if ($(this).attr('href') == '#tab_1') {
            //    $('#tab_1').tab('show')
            //}
            if ($(this).attr('href') == '#tab_2') {
                $('#tab_2').tab('show')
            }
        });
    });




</script>
