
<style>
   
.modal-lg {
    width: 1093px !important;
}

    .mb--8 {
        margin-bottom: -8px !important;
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .k-grid-content {
        height: 367px !important;
    }

    #kGrid {
        height: 427px !important;
    }

    .addcolor {
        color: #ffffff;
    }

    label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
    }

    input,
    label {
        margin: .4rem 0;
    }

    .note {
        font-size: .8em;
    }
</style>
<style>
    .mb-12 {
        margin-bottom: 8px !important;
    }

    .mb-6 {
        margin-bottom: 4px !important;
    }

    hr {
        margin: 0px !important;
    }

    /*.modal-content {
        height: 580px !important;
    }*/

    .mb--8 {
        margin-bottom: -8px !important;
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .k-grid-content {
        height: 367px !important;
    }

    #kGrid {
        height: 427px !important;
    }

    .addcolor {
        color: #ffffff;
    }

    label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
    }

    input,
    label {
        margin: .4rem 0;
    }

    .note {
        font-size: .8em;
    }
</style>
<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /*.k-grid-content {
        height: 335px !important;
    }
    #kGrid {
        height: 395px !important;
    }*/
    .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }

    .k-virtual-scrollable-wrap {
        height: 454px !important;
    }

    #createContractForm .k-multiselect-wrap ul li {
        font-size: 10px !important;
    }

    #createContractForm .k-multiselect-wrap .k-input {
        color: hsl(0, 0%, 80%);
    }

    multiselect-wrap.k-floatwrap {
        max-height: 101px;
        overflow-y: auto;
    }
</style>

<div class="portlet box green-box main" style="    background-color: white;">

    <div class="portlet-title">
        <div class="caption caption-title ng-binding">
            <i class="fa fa-list-alt"></i><span class="caption-subject bold uppercase">Vehicle  Registration </span>
        </div>
        <div class="actions">
            <a class="btn dark-green btn-sm" href="/DocumentTemplate/Home/Index#!DT/LoadingSlipGenerator">
                <i class="fa fa-plus"></i> Go To LoadinSlip
            </a>
            <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-click="showModalForNew(event)">
                <i class="fa fa-plus"></i> NEW
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">

            <div class="topsearch"  style="width:300px;margin-left:740px; display:block;">

                <input class="k-textbox txtSearchString" type="text" id="vehicleSearchString" ng-model="txtSearchString" name="search" placeholder="Enter Search Text Here..." />

            </div>

        </div>
        <kendo-grid id="kGrid" options="vehicleCenterChildGridOptions" k-rebind="vehicleCenterChildGridOptions">
        </kendo-grid>
    </div>

    <div class="modal fade-out" id="CompanyModal" data-backdrop="static" tabindex="-1" data-width="860" style="background-color:white;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                    <h4 class="modal-title">
                        <span class="fa fa-file"></span>
                        <b> Vehicle  Registration  Model</b>
                    </h4>
                </div>
                <div class="modal-body mb--8" style="    background-color: white;">

                    <form name="VehicleRegistrationform" id="VehicleRegistrationform" class="form-horizontal" novalidate>
                        <div class="portlet-body form-horizontal">

                            <div class="row" style=" background-color: white;">

                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            TCW No
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="tcwno" ng-model="VehicleSetup.TRANSACTION_NO" id="tcwno" >
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Loading Slip No
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="slipname" ng-model="VehicleSetup.WB_SLIP_NO" id="slipname" placeholder="Loading Slip No">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Transaction Date@*<span style="color:red" ng-show="VehicleRegistrationform.transactiondate.$invalid">
                                                <span ng-show="VehicleRegistrationform.transactiondate.$error.required">*</span>
                                            </span>*@
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="transactiondate" ng-model="VehicleSetup.TRANSACTION_DATE" value ="today()" id="transactiondate" placeholder="Transaction Date" >
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Vehicle No<span style="color:red" ng-show="VehicleRegistrationform.vehiclename.$invalid">
                                                <span ng-show="VehicleRegistrationform.vehiclename.$error.required">*</span>
                                            </span>
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <select id="vehiclename" name="vehiclename" kendo-multi-select k-options="vechOption" slim-scroll ng-model="VehicleSetup.VEHICLE_NAME" required></select>
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            To Destination
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="destination" ng-model="VehicleSetup.DESTINATION" id="destination" placeholder="Destination">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Vehicle Agent Name
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="agentname" ng-model="VehicleSetup.BROKER_NAME" id="agentname" placeholder="Agent Name">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Owner Name
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="ownername" ng-model="VehicleSetup.VEHICLE_OWNER_NAME" id="ownername" placeholder="Owner  name">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Owner Contact No

                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="ownercontact" ng-model="VehicleSetup.VEHICLE_OWNER_NO" id="ownercontact" placeholder="Owner Contact No.">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Transport Name
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="transportname" ng-model="VehicleSetup.TRANSPORT_NAME" id="transportname" placeholder="Transport  name">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Driver Name
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="drivername" ng-model="VehicleSetup.DRIVER_NAME" id="drivername" placeholder="Driver Name" >
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Driver Licence No
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="driverlicence" ng-model="VehicleSetup.DRIVER_LICENCE_NO" id="driverlicence" placeholder="Driver Licence">
                                        </div>
                                    </div>

                                </div>


                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Driver Contact No
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="drivercontact" ng-model="VehicleSetup.DRIVER_MOBILE_NO" id="drivercontact" placeholder="Driver Contact">
                                        </div>
                                    </div>

                                </div>



                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Gross Weight
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="number" name="grossweight" ng-model="VehicleSetup.GROSS_WT" id="grossweight" placeholder="Gross Weight" ng-mouseleave="calculateNetWeight()">


                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Tear Weight
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="number" name="tearweight" ng-model="VehicleSetup.TEAR_WT" id="tearweight" placeholder="Tear Weight" ng-mouseleave="calculateNetWeight()">
                                        </div>
                                    </div>

                                </div>



                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                            Net Weight
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="number" name="netweight" ng-model="VehicleSetup.NET_WT" id="netweight" placeholder="Net Weight">
                                        </div>
                                    </div>

                                </div>




                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                            Vehicle In Date<span style="color:red" ng-show="VehicleRegistrationform.vehicleindate.$invalid">
                                                <span ng-show="VehicleRegistrationform.vehicleindate.$error.required">*</span>
                                            </span>
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="vehicleindate" ng-model="VehicleSetup.VEHICLE_IN_DATE" id="vehicleindate" placeholder="Vehicle In Date" required>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                            Vehicle Out Date@*<span style="color:red" ng-show="VehicleRegistrationform.vehicleoutdate.$invalid">
                                                <span ng-show="VehicleRegistrationform.vehicleoutdate.$error.required">*</span>
                                            </span>*@
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="vehicleoutdate" ng-model="VehicleSetup.VEHICLE_OUT_DATE" id="vehicleoutdate" placeholder="Vehicle Out Date">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                            Vehicle In Time<span style="color:red" ng-show="VehicleRegistrationform.vehicleintime.$invalid">
                                                <span ng-show="VehicleRegistrationform.vehicleintime.$error.required">*</span>
                                            </span>
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="time" name="vehicleintime" ng-model="VehicleSetup.IN_TIME" id="vehicleintime" required>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                            Vehicle Out Time@*<span style="color:red" ng-show="VehicleRegistrationform.outtime.$invalid">
                                                <span ng-show="VehicleRegistrationform.outtime.$error.required">*</span>
                                            </span>*@
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="time" name="outtime" ng-model="VehicleSetup.OUT_TIME" id="outtime">

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                            Load In Time<span style="color:red" ng-show="VehicleRegistrationform.loadintime.$invalid">
                                                <span ng-show="VehicleRegistrationform.loadintime.$error.required">*</span>
                                            </span>
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="time" name="loadintime" ng-model="VehicleSetup.LOAD_IN_TIME" id="loadintime" required>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                            Load Out Time@*<span style="color:red" ng-show="VehicleRegistrationform.loadouttime.$invalid">
                                                <span ng-show="VehicleRegistrationform.loadouttime.$error.required">*</span>
                                            </span>*@
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="time" name="loadouttime" ng-model="VehicleSetup.LOAD_OUT_TIME" id="loadouttime" min="9:00" max="18:00">

                                        </div>
                                    </div>
                                </div>



                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                            Load Quantity
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="text" name="loadquantity" ng-model="VehicleSetup.QUANTITY" id="loadquantity" placeholder="Laod Quantuity">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                            Total Vehicle Hour
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <input class="form-control" type="number" name="vihiclehr" ng-model="VehicleSetup.TOTAL_VEHICLE_HR" id="vihiclehr" placeholder="Total Vehicle Hour">
                                        </div>
                                    </div>
                                </div>



                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                            Remarks
                                        </label>
                                        <div class="col-sm-9 col-md-8 col-lg-8">
                                            <textarea class="form-control" type="text" rows="4" name="remarks" ng-model="VehicleSetup.REMARKS" id="remarks" placeholder="some text"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </form>

                </div>
                <div class="modal-footer" style= background-color: white;">

                    <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewVehicleReg(VehicleRegistrationform.$valid)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                    </button>

                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel($index)">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('.k-list').slimScroll({
            height: '250px'
        });
    });

</script>

<script>
    $(function () {
        $("#vehicleindate").datepicker({
          
            changeMonth: true,
            changeYear: true,
        });

    });


</script>

<script>
    $(function () {
        $("#vehicleoutdate").datepicker({
            changeMonth: true,
            changeYear: true,
        });

    });


</script>



<script>
    $(function () {
        $("#transactiondate").datepicker({
           
       
            changeMonth: true,
            changeYear: true,
           
        })
    });


    //$(function () {
    //    $("transactiondate").datepicker({
    //    dateFormate:'dd-MM-yy',
    //    changeMonth:true,
    //    changeYear:true,
    //}).datepicker('setDate','0');

    //});
</script>


<script type="text/javascript">
        $(document).ready(function () {

            $("#vehicleSearchString").keyup(function () {
                var val = $('#vehicleSearchString').val();
                $("#kGrid").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "VEHICLE_NAME",
                            operator: "contains",
                            value: val
                        },
                         {
                             field: "TRANSACTION_NO",
                             operator: "contains",
                             value: val
                         },
                           {
                               field: "DRIVER_NAME",
                               operator: "contains",
                               value: val
                           },
                            {
                                field: "DESTINATION",
                                operator: "contains",
                                value: val
                            },

                    ]
                });


            });
        });

</script>

