@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();   
 }

    <link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" media="print" />
    <link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/saleschalanpra.css")" rel="stylesheet" />


    <div class="printable-modal">

        <header class="p_header">

            <div class="info">
                <h4> {{printCompanyInfo.companyName}}<br>{{printCompanyInfo.form_edesc}}</h4>
                <p>{{printCompanyInfo.address}}</p>
                <p>Phone : {{printCompanyInfo.phoneNo}}</p>
                @*<p>Mobile : 9854035126,9854035122</p>*@
                <p ng-if="printCompanyInfo.email!=null">E-Mail : {{printCompanyInfo.email}}</p>
                <p>PAN: {{printCompanyInfo.tPinVatNo}}</p>

            </div>
            <div class="print_document_title">
                <h3 style="text-decoration-line:underline">Sales Chalan</h3>

            </div>

        </header>

        <div class="left-side">

            <table class="print_table consignee" style="width:100%;margin-bottom:10px;">
                <thead>
                    <tr>
                        <td style="width:35%;text-align:left;">Chalan No :</td>
                        <td style="width:20%;text-align:left;">{{OrderNo}}</td>
                    </tr>
                    <tr>
                        <td style="width:35%;text-align:left;">Order No :</td>
                        <td style="width:20%;text-align:left;">{{refordernoP}}</td>
                    </tr>
                    <tr>



                        <td style=" text-align:left;">
                            Customer Name
                        </td>
                        <td style="text-align:left; width:50%;">
                            : {{masterModels.CUSTOMER_CODE}}
                        </td>

                    </tr>
                    <tr>
                        <td style=" text-align:left;">
                            Address
                        </td>
                        <td style="text-align:left;">
                            : {{masterModels.REGD_OFFICE_EADDRESS}}
                        </td>

                    </tr>

                    <tr>
                        <td style=" text-align:left;">
                            PAN
                        </td>
                        <td style="text-align:left;">
                            : {{TPIN_VAT_NO}}
                        </td>

                    </tr>
                    <tr>
                        <td style="text-align:left">
                            Party Contact
                        </td>
                        <td style="text-align:left;">
                            : {{TEL_MOBILE_NO1}}
                        </td>
                    </tr>
                </thead>
            </table>

        </div>

        <div class="right-side">
            <table class="print_table meta">

                <tr>
                    <td style="width:35%;text-align:right;">Chalan Miti :</td>
                    <td style="width:20%;text-align:left;">{{TodayDate}}</td>
                </tr>
                <tr>
                    <td style="width:35%;text-align:right;">Date : </td>
                    <td style="width:20%;text-align:left;">{{reforderdateP}}</td>
                </tr>
                <tr>
                    <td style="width:35%;text-align:right;">LS No: </td>
                    <td style="width:20%;text-align:left;">{{SDModel.LOADING_SLIP_NO}}</td>
                </tr>
              

                <tr>
                    <td style="width:35%;text-align:right;">Destination: </td>
                    <td style="width:20%;text-align:left;">{{SDModel.DESTINATION}}</td>
                </tr>
            </table>
        </div>

        <table class="print_table fnce" style="width:100%;border:1px solid black;">
            <thead>
                <tr>

                    <th style="width:5%;" class="abc">S.No.</th>
                    <th style="width:48.5%;" class="abc">Description of Goods</th>
                    <th style="width:7%;" class="abc">Unit</th>
                    <th style="width:20%;" class="abc">Bundle</th>
                    <th style="width:20%;" class="abc">Quantity</th>


                </tr>
            </thead>
            <tbody>
                <tr class="border-top-bottom" ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:20px">

                    <td class="abc"><p style="text-align:right !important">{{$index+1}}<p></td>
                    <td class="abc" ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <div ng-if="item.COLUMN_NAME==='ITEM_CODE'">
                            <span class="jumbo">{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                        <div ng-if="item.COLUMN_NAME==='MU_CODE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                        <div ng-if="item.COLUMN_NAME==='SECOND_QUANTITY'" style="text-align:right;">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                        <div ng-if="item.COLUMN_NAME==='QUANTITY'" style="text-align:right;">
                            <span>{{childModels[key][item.COLUMN_NAME] | number}}</span>
                        </div>



                    </td>

                </tr>

                <tr>
                   
                    <td class="abc" colspan="4" style="border-top:1px solid black !important"></td>
                    <td style="border-top:1px solid black !important" class="abc">{{TOTAL_QUANTITY | number }} {{childModels[0].MU_CODE}}</td>
               
                </tr>
            </tbody>
        </table>

        <br />
        <br />
        <div style="border:1px solid black; height:130px">
            <div class="left-side">

                <table class="print_table consignee" style="width:100%;margin-bottom:10px;">
                    <thead>
                        <tr>
                            <td class="abc" style="width:35%;text-align:left;">Vechile No. :</td>
                            <td style="width:20%;text-align:left;">{{SDModel.VEHICLE_EDESC}} </td>
                        </tr>
                        <tr>
                            <td style="width:35%;text-align:left;">Transport Name :</td>
                            <td style="width:20%;text-align:left;">{{SDModel.TRANSPORTER_EDESC}} </td>
                        </tr>
                        <tr>
                            <td style="width:35%;text-align:left;">Driver Name :</td>
                            <td style="width:20%;text-align:left;">{{SDModel.DRIVER_NAME}} </td>
                        </tr>
                        <tr>
                            <td style="width:35%;text-align:left;">Moblie No :</td>
                            <td style="width:20%;text-align:left;"> {{SDModel.DRIVER_MOBILE_NO}}</td>
                        </tr>
                        <tr>
                            <td style="width:35%;text-align:left;">Licence name :</td>
                            <td style="width:20%;text-align:left;">{{SDModel.DRIVER_LICENCE_NO}} </td>
                        </tr>
                    </thead>
                </table>

            </div>

            <div class="right-side">
                <table class="print_table meta">

                    <tr>
                        <td style="width:35%;text-align:right;">Owner Name :</td>
                        <td style="width:20%;text-align:left;">{{SDModel.VEHICLE_OWNER_NAME}} </td>
                    </tr>
                    <tr>
                        <td style="width:35%;text-align:right;">Owner No : </td>
                        <td style="width:20%;text-align:left;">{{SDModel.VEHICLE_OWNER_NO}} </td>
                    </tr>
                    <tr>
                        <td style="width:35%;text-align:right;">Fright Rate : </td>
                        <td style="width:20%;text-align:left;"> {{SDModel.FREIGHT_RATE}} </td>
                    </tr>
                    <tr>
                        <td style="width:35%;text-align:right;">Total Frieght: </td>
                        <td style="width:20%;text-align:left;">{{SDModel.FREGHT_AMOUNT}} </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="border:1px solid black; height:220px">
            <h5><strong><u>Terms & Condition :</u></strong></h5>
            <ul>
                <li>I have properly checked the material as per above list and accept to transport the material.</li>
                <li>If material is not unloaded due to holiday or any whatsoever the reason, company will not paid any kinds of     detentation.</li>
                <li>We, truck owner or driver are signing in this    challan accepting that if any other material except according to this challan is loaded in this vehicle which is band by nepal government then we are responsible for that.</li>
                <li>After unloading don't forget to stamp in the receipt.</li>
            </ul>
        </div>

        <div class="invoice_footer" style="border:1px solid black; height:72px;">
            <div class="narration">
            </div>

            <div class="invoice_footer_details">
                <ul>
                    <li>
                        <div class="by">@workingContent.CurrentUserinformation.login_code</div>
                        Prepared By
                    </li>
                    <li>
                        <div class="by"> </div>
                        Driver's Signature
                    </li>
                    <li>
                        <div class="by"> </div>
                        Checked By
                    </li>
                    <li>
                        <div class="by"> </div>
                        ( Authorised Signatory )
                    </li>
                </ul>
            </div>
        </div>
    </div>



