@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}

<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/salesinvoicepra.css?v652dw3d")" rel="stylesheet" media="print" />
<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/salesinvoicepra.css?v652dds3")" rel="stylesheet" />


<div class="printable-modal">

    <header class="p_header">

        @*<div class="info">
                <h4> {{printCompanyInfo.companyName}}<br>{{printCompanyInfo.form_edesc}}</h4>
                <p>{{printCompanyInfo.address}}</p>
                <p>Ph.No. : {{printComnayInfo.TELEPHONE}}</p>
                <p>Mobile : 9854035126,9854035122</p>
                <p>E-Mail : {{printCompanyInfo.email}}</p>
                <p>TPIN No.: {{printCompanyInfo.tPinVatNo}}</p>

            </div>*@
        <div class="print_document_title">
            <div style="float:left">
                <h2 style="text-align:right">{{TPIN_VAT_NO}}</h2>
            </div>
            <h3 id="TaxINvoiceTest">{{taxinvoice}}</h3>
            <div  class="printcountclass" style="float:right">
                <h2 style="text-align:right">{{printcounttext}}</h2>
            </div>
           
        </div>

    </header>

  

    <div class="sfsdf">
        <table class="print_table meta">
            @*<tr>
                <td style="text-decoration-line:underline"></td>
                <td style="text-align:right;"></td>
                <td style="text-align:left;"></td>
                <td style="text-align:right;"></td>
                <td style="text-align:left;">{{printcounttext}}</td>
            </tr>
            <tr>
                <td style="text-decoration-line:underline"></td>
                <td style="text-align:right;"></td>
                <td style="text-align:left;"></td>
                <td style="text-align:right;"></td>
                <td id="TaxInvoiceCopy" style="text-align:left;">{{taxinvoice1}}</td>
            </tr>*@
            <tr>
                <td style="text-decoration-line:underline">Invoice Detail :</td>
                <td style="text-align:right;">Invoice No :</td>
                <td style="text-align:left;">{{OrderNo}}</td>
                <td style="text-align:right;">Invoice Date : </td>
                <td style="text-align:left;">{{TodayDate}}</td>
            </tr>

            <tr>
                <td></td>
                <td style="text-align:right;">Order No :</td>
                <td style="text-align:left;">{{refordernoP}}</td>
                <td style="text-align:right;">Order Date : </td>
                <td style="text-align:left;">{{reforderdateP}}</td>
            </tr>
        </table>
    </div>
    <div class="left-side">

        <table class="print_table consignee" style="width:100%;margin-bottom:10px;">
            <thead>
                <tr>
                    <td style="text-decoration-line:underline;font-style:italic">
                        <strong>Bill To :</strong>
                    </td>
                </tr>
                <tr>

                    <td style=" text-align:left;">
                        Customer
                    </td>
                    <td style="text-align:left;">
                        : {{masterModels.CUSTOMER_CODE}}
                    </td>

                </tr>
                <tr>
                    <td style=" text-align:left;">
                        Address
                    </td>
                    <td style="text-align:left;">
                        : {{masterModels.REGD_OFFICE_EADDRESS}}
                    </td>

                </tr>

                <tr>
                    <td style=" text-align:left;">
                        pan No
                    </td>
                    <td style="text-align:left;">
                        : {{TPIN_VAT_NO}}
                    </td>

                </tr>


            </thead>
        </table>

    </div>

    <div class="left-side">

        <table class="print_table consignee" style="width:100%;margin-bottom:10px;">
            <thead>
                <tr>
                    <td style="text-decoration-line:underline;font-style:italic;width:60px;">
                        Ship To:
                    </td>
                </tr>
                <tr>

                    <td style=" text-align:left;">
                        Destination
                    </td>
                    <td style="text-align:left;">
                        : 0
                    </td>

                </tr>
                <tr>
                    <td style=" text-align:left;">
                        Vehcile No
                    </td>
                    <td style="text-align:left;">
                        :
                    </td>

                </tr>
            </thead>
        </table>

    </div>











    <table class="print_table fnce" style="width:100%;border:1px solid black;">
        <thead>
            <tr>
                <td colspan="7" class="brdbuttom">
                    Mode of Payment :   [   ] Cash / [   ] Credit / [    ] LC.
                </td>
            </tr>
            <tr class="bdrfull">

                <th class="abc">S.N.</th>
                <th class="abc" style="width:48.5%;">Description of Goods</th>
                <th class="abc" style="width:7%;">Bundle</th>
                <th class="abc" style="width:7%;">Unit</th>
                <th class="abc" style="width:10%;">Quantity</th>
                <th class="abc" style="width:10%;">Rate/Unit</th>
                <th class="abc" style="width:10%;">Values NRs</th>
      
            </tr>
        </thead>
        <tbody>

            <tr class="border-top-bottom bdrfull" ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:20px">

                <td class="abc">{{$index+1}}</td>
                <td class="abc" ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                    <div ng-if="item.COLUMN_NAME==='ITEM_CODE'">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                    <div ng-if="item.COLUMN_NAME==='SECOND_QUANTITY'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                   
                    <div ng-if="item.COLUMN_NAME==='MU_CODE'">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                    @*<div ng-if="item.COLUMN_NAME==='PRODUCT_CODE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>*@
                    <div ng-if="item.COLUMN_NAME==='QUANTITY'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                    <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME] | number }}</span>
                    </div>

                    <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME] | number }}</span>
                    </div>
                 
                </td>
                @*
                    <td></td>*@
            </tr>

            <tr class="border-top-bottom bdrfull">
                <td class="abc" colspan="4"></td>

                <td class="abc" style="text-align:right">{{TOTAL_QUANTITY | number }} {{childModels[0].MU_CODE}}</td>
                <td class="abc" style="text-align:right" width:50px>Sub Total</td>
                <td style="text-align:right">{{SUB_TOTAL | number }}</td>

                @*<td></td>*@
                @*
                    <td style="text-align:right">{{summary.grandTotal| number }}</td>*@

            </tr>






            @* Discount *@
            @*<tr ng-show="PrintDiscountShow">
                <td style="text-align:right;border-right:1px solid black !important;" colspan="5"></td>

                <td style="width:28%; border:1px solid black;">
                    <div>
                        <div><span>Discount</span></div>
                    </div>
                </td>
             
                <td style="width:100px;text-align:right; border:1px solid black;">
                    <div>
                        <div><span>{{PrintDiscount}}</span></div>
                    </div>
                </td>
             


            </tr>*@

            @* For VAT *@
            <tr ng-repeat="(key, value) in ChargeList">
                <td style="text-align:right;border-right:1px solid black" colspan="5"></td>

                <td style="border:1px solid black !important">
                    <div ng-if="ChargeList[key]['CHARGE_EDESC']!=''">
                        <div><span>{{value.CHARGE_EDESC}}</span></div>
                    </div>
                </td>
             
                <td class="abc" style="width:100px;border:1px solid black !important; text-align:right;">
                    <div ng-if="ChargeList[key]['CHARGE_AMOUNT']!=''">
                        <div><span>{{value.CHARGE_AMOUNT}}</span></div>
                    </div>
                </td>

                @*
                    <td></td>*@
            </tr>
            <tr>
                <td style="text-align:right;border-right:0px;" colspan="5"></td>


                
                <td colspan="1" style="border-left:1px solid black !important;">Grand Total</td>

                <td style="width:100px; text-align:right;border:1px solid black !important;">{{adtotal| number }}</td>
                @*
                    <td style="border-right:0px;"></td>*@
            </tr>
            <tr style="border:1px solid black !important">
                <td style="border-right:1px solid black !important" colspan="7">
                    <p style="padding-top:8px;"><span><strong>Amount in words :</strong></span> {{amountinword}} Only.</p>
                </td>
            </tr>



        </tbody>
    </table>





    @*  *@

    <div style="border:1px solid black; height:200px;font-size:13px;">
        <h4><strong>Terms & Condition :</strong></h4>
        <p> 1. The Seller's </p>
        <p>  2)	If material is not unloaded due to holiday or any whatsoever the reason, company will not paid any kinds of     detentation.</p>
        <p> 3)	We, truck owner or driver are signing in this    challan accepting that if any other material except according to this challan is loaded in this vehicle which is band by nepal government then we are responsible for that.</p>
        <p> 4)	After unloading don't forget to stamp in the receipt.</p>

    </div>
    <div style="border:1px solid black; height:70px;font-size:11px;">
        <strong>Declaration:</strong><p>  Declaration : We declare that this invoice show the actual price of the goods described and that all particulars are true and correct.</p>
    </div>

    <div class="invoice_footer" style="border:1px solid black; height:72px;">
        <div class="narration">
        </div>

        <div class="invoice_footer_details">
            <ul style="margin-top:-51px">
                <li>
                    <div class="by">@workingContent.CurrentUserinformation.login_code </div>
                    Prepared By:
                </li>
                <li>
                    <div class="by"> </div>
                    Driver's Signature :
                </li>
                <li>
                    <div class="by"> </div>
                    Checked By :
                </li>
                <li>
                    <div class="by"> </div>
                    ( Authorised Signatory )
                </li>
            </ul>
        </div>
    </div>
</div>
