<div id="customerCtrl" ng-controller="customerCtrl">
   <input id="customer" ng-model="childModels[key][item.COLUMN_NAME]" name="customer" class="ccustumer cust custumer ccustomer_{{key}}" style="width: 98%;" kendo-combo-box
           k-placeholder="'Select Name'"
           k-data-text-field="'CustomerName'"
           k-data-value-field="'CustomerCode'"
           k-filter="'contains'"
           k-auto-bind="false"
           k-suggest="false"
           customer-index="{{key}}"
           k-options="customerCodeOption"
           K-on-change="checkValidation(kendoEvent)"
           k-min-length="3"
          @*k-data-source="customerDataSource"*@  
          />
    </div>
