
<div id="supplierCtrl" ng-controller="supplierCtrl">

    <input id="supplier" ng-model="childModels[key][item.COLUMN_NAME]" name="supplier" class="csupplier supplier c csupplier_{{key}}" style="width: 98%;" kendo-combo-box
           k-placeholder="'Select Supplier'"
           k-data-text-field="'SUPPLIER_EDESC'"
           k-data-value-field="'SUPPLIER_CODE'"
           k-filter="'contains'"
           k-auto-bind="true"
           k-suggest="false"
           supplier-index="{{key}}"
           K-on-change="checkValidation(kendoEvent)"
           k-options="supplierCodeOption"
           k-min-length="3"
          />
</div>
