
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NeoERP.Planning/Views/Shared/_Layout.cshtml";
}
<style>
    .portlet.portlet-sortable {
        min-height: 0px !important;
    }

    .page-content {
        padding: 7px 20px 10px !important;
    }

    .DistMenuHeight {
        height: 1400px !important;
    }

    .portlet > .portlet-title > .caption > i {
        float: left;
        margin-top: 1px !important;
    }

    .material_opt span {
        float: left;
        padding-right: 20px;
        margin-left: 12px;
    }

    .material_opt .md-radio-inline {
        margin: 0px 0;
    }

    .material_opt .checkbox, .radio {
        position: relative;
        display: block;
        margin-top: 0;
        margin-bottom: 0;
    }

    .material_opt div.radio, div.checker {
        margin-right: 0;
        margin-left: -10px;
    }

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }

    .radio .cr {
        border-radius: 50%;
    }

        .checkbox .cr .cr-icon,
        .radio .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
        }

        .radio .cr .cr-icon {
            margin-left: 0.04em;
        }

    .checkbox label input[type="checkbox"],
    .radio label input[type="radio"] {
        display: none;
    }

        .checkbox label input[type="checkbox"] + .cr > .cr-icon,
        .radio label input[type="radio"] + .cr > .cr-icon {
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in;
        }

        .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
        .radio label input[type="radio"]:checked + .cr > .cr-icon {
            transform: scale(1) rotateZ(0deg);
            opacity: 1;
        }

        .checkbox label input[type="checkbox"]:disabled + .cr,
        .radio label input[type="radio"]:disabled + .cr {
            opacity: .5;
        }

    .common_form input.form-control {
        height: 26px;
    }

    .mt-radio-inline label {
        float: left;
        margin-left:10px;
        margin-top: 25px;
    }

    .calendar-icon-2 {
        position: absolute;
        right: 10px;
        top: 26px;
        color: #bdb5b5;
    }
    /*.mt-radio-inline {
        margin-top:12px;
    }*/
    .portlet.light.border {
        border: solid #ddd 1px;
    }

    .fieldset_div {
        box-shadow: 2px 2px 2px -1px #ddd;
        border-radius: 0px !important;
        background-color: #f5f3f3;
    }
</style>
<div ng-controller="aggregateScreenCtrl">
    <div class="page-content1">
        <div class="page-bar">
            <ul class="page-breadcrumb"></ul>
        </div>
        <div class="portlet light border" style="display: block;" stop-digest>
            <div class="portlet-body common_form">
                <fieldset class="fieldset_div">
                    <div class="row">
                        @*<div class="col-md-3">
                                <label class="control-label">
                                    Plan Type
                                </label>
                                <select name="plan_type" multiple="" id="plan_type" class="form-control">
                                    <option value="SALES" selected>SALES</option>
                                    <option value="PROCUREMENT">PROCUREMENT</option>
                                    <option value="PRODUCTION">PRODUCTION</option>
                                    <option value="MATERIAL">MATERIAL</option>
                                    <option value="BUDGET">BUDGET</option>
                                    <option value="LEDGER">LEDGER</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">
                                    Manual/Referential
                                </label>
                                <select name="manual_referential" multiple="" id="manual_referential" class="form-control">
                                    <option value="Manual" selected>MANUAL</option>
                                    <option value="Referential">REFERENTIAL</option>
                                </select>
                            </div>*@
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Plan Type
                                </label>
                                <select id="planType"
                                        kendo-drop-down-list style="width: 100%"
                                        k-options="planTypeOptions"></select>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">
                                    Plan Name <span style="color:red" ng-show="generateplan.PLAN_EDESC.$invalid">
                                        <span ng-show="generateplan.PLAN_EDESC.$error.required">*</span>
                                    </span>
                                </label>
                                <input type="text" id="PLAN_CODE" name="PLAN_CODE" class="form-control" style="width: 100%; text-align:right; display:none;" />
                                <input type="text" id="PLAN_EDESC" name="PLAN_EDESC" class="form-control" ng-model="materialPlan.PLAN_EDESC" placeholder="Name" style="width: 100%;" required />
                            </div>
                        </div>*@
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label">
                                    Plan Date
                                </label>
                                <input type="text" id="nepaliDate5" data-checkfor="englishdatedocument" name="PLAN_DATE" autocomplete="off" class="nepali-calendar form-control" required />
                                <i class="fa fa-calendar form-control-feedback calendar-icon-2"></i>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 radio_btn_custom">
                            <div class="form-group clearfix">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio" for="Manual">
                                        <input type="radio" name="MANUAL_REFERENTIAL" id="Manual" value="Manual" checked> Manual
                                    </label>
                                    <label class="mt-radio" for="Refrential" style="float:right !important;">
                                        <input type="radio" name="MANUAL_REFERENTIAL" id="Refrential" value="Refrential"> Refrential
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <button type="button" id="RedirectPlan" ng-click="redirectTo()" name="next" class="btn btn-green btn-circle btn-sm" style="margin-top:17px;">
                                <i class="fa fa-caret-right"></i> New Plan
                            </button>
                        </div>
                    </div>
                </fieldset>
                <div id="grid" class="tablegride" style="margin-top:15px;"></div>
            </div>
            @*<div class="row">
                    <div ng-repeat="menu in menuList | orderBy:'MENU_EDESC'">
                        <ul class="menu-icon-ui sub-menu">
                            <li class="bordericon" ng-repeat="child in menu.Items| filter:  { MENU_EDESC: searchBox } |filter:{ DASHBOARD_FLAG :'Y' }">
                                <a ng-href="{{child.FULL_PATH}}" data-abbr="{{child.MODULE_ABBR}}">
                                    <div class="circle" style="background-color:{{child.COLOR}}">
                                        <i class="{{child.ICON_PATH}}" aria-hidden="true"></i>
                                        <div class="icondescription">
                                            {{child.MODULE_ABBR}}
                                            <span class="fa fa-times"></span>
                                        </div>
                                    </div>
                                    <h6 class="title ">{{child.MENU_EDESC}}</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>*@
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".nepali-calendar").nepaliDatePicker({
            npdMonth: true,
            onFocus: true,
            npdYear: true,
            npdYearCount: 10,
            altFormat: "dd-MMM-YYYY",
            dateFormat: "dd-MMM-YYYY",
            onChange: function (evt) {
                var nepalidate = $("#nepaliDate5").val();
                var Engdate = BS2AD(nepalidate);
                var FormattedEngDate = moment(Engdate).format('DD-MMM-YYYY');
                // $("#englishdatedocument").val(FormattedEngDate);
            }
        });
    });



    var getLink = function (plan_type, ref) {
        var switch_on = plan_type;
        var link = "";
        switch (switch_on) {
            case "SALES":
                link = "/Planning/Home/Index#!Planning/CreatePlan";
                break;
            case "PROCUREMENT":
                link = "/Planning/Home/Index#!Planning/ProcureFromMaterial";
                break;
            case "PRODUCTION":
                link = "/Planning/Home/Index#!Planning/CreateProductionPlan";
                break;
            case "MATERIAL":
                link = "/Planning/Home/Index#!Planning/MaterialFromProduction";
                break;
            case "LEDGER":
                link = "/Planning/Home/Index#!Planning/CreateLedgerBudgetPlan";
                break;
            case "BUDGET":
                link = "/Planning/Home/Index#!Planning/CreateBudgetPlan";
                break;
            default:
        }
    }
    function setAction(plancode, planType,planName,ref) {
        var link = "";
        var param = "?planName=" + planName + "&ref=" + ref;
        if (planType === "SALES") {
            link = "/Planning/Home/Index#!Planning/CreatePlan";
        }
        if (planType === "MATERIAL") {
            link = "/Planning/Home/Index#!Planning/MaterialFromProduction";
        }
        if (planType === "PROCUREMENT") {
            link = "/Planning/Home/Index#!Planning/CreateProcurementPlan";
        }
        if (planType === "PRODUCTION") {
            link = "/Planning/Home/Index#!Planning/CreateProductionPlan";
        }
        if (planType === "LEDGER") {
            link = "/Planning/Home/Setup#!Planning/CreateBudgetPlan";
        }
        if (planType === "BUDGET") {
            link = "/Planning/Home/Setup#!Planning/CreateLedgerBudgetPlan";
        }
        var html = '';
        //html += '<a data-toggle="modal" style="color:green;" data-id="' + plancode + '" onclick="copySalesPlanModal(this)" class="copy_salesplan planCode_' + plancode + ' fa fa-copy" title="clone this plan"><span class="sr-only"></span></a>&nbsp;&nbsp;';
        html += '<a href="' + link + '/' + plancode + param + '" data-toggle="modal" style="color:orange;" data-id="' + plancode + '" class="copy_salesplan planCode_' + plancode + ' fa fa-edit" title="Edit this plan"><span class="sr-only"></span></a>&nbsp;&nbsp;';
        //html += '<a style="color:red;" data-id="' + plancode + '" onclick="deleteSalesPlan(' + plancode + ')" class="delete_salesplan planCode_' + plancode + ' icon icon-trash" title="Delete this plan"><span class="sr-only"></span></a>&nbsp;&nbsp;';
        //html += '<a href="/Planning/Home/Index#!Planning/CopyPlan/' + plancode + '" style="color:green;" data-id="' + plancode + '" onclick="copySalesPlan(' + plancode + ')" class="copy_salesplan planCode_' + plancode + ' fa fa-copy" title="clone this plan"><span class="sr-only"></span></a>';
        return html;
    }

</script>