@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Center the message horizontally and vertically */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            background-color:forestgreen
        }

        /* Style the thank you message */
        h2 {
            text-align: center;
            margin-top: 1rem;
            padding: 1rem; /* Add padding to create space around the message */
            /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/ /* Add a subtle shadow for depth */
            transition: transform 0.3s ease-in-out; /* Smooth transition for pop-out effect */
        }
            h2:hover {
                transform: scale(1.1); /* Scale the message slightly on hover */
            }
    </style>
</head>
<body>
    <h2>Thank you!! Your data has been submitted successfully.</h2>
</body>
</html>
