/* Large desktops and laptops */
@media (min-width: 1200px) {

}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 1024px) {
	.ReportTitleWiseTreeListView {
    margin-top: 36px;
}
    .k-input.k-readonly
    {
width: 130px;
        
    }
.AccountFixTreeView
{
    width:354px !important;
}	
.DrOpeningFixTreeView
{
    width:67px !important;
}	
.CrOpeningFixTreeView
{
    width:67px !important;
}
.DrTrasactionFixTreeView
{
    width:67px !important;
}
.CrTrasactionFixTreeView
{
    width:67px !important;
}
.DrclosingFixTreeView
{
    width:67px !important;
}
/*.CrclosingFixTreeView
{
    width:67px !important;
}
    */
.AccountFixTreeView2
{
    width:320px !important;
}
.DrOpeningFixTreeView2
{
    width:67px !important;
}
.CrOpeningFixTreeView2
{
    width:67px !important;
}
.DrTrasactionFixTreeView2
{
    width:67px !important;
}
.CrTrasactionFixTreeView2
{
    width:67px !important;
}
.DrclosingFixTreeView2
{
    width:80px !important;
}
.AccountFixTreeView3
{
    width:286px !important;
}
.DrOpeningFixTreeView3,.CrOpeningFixTreeView3,.DrTrasactionFixTreeView3,.CrTrasactionFixTreeView3
{
    width:67px !important;
}
.DrclosingFixTreeView
{
    width:80px !important;
}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 479px) 
{
    .AccountFixTreeView {
        width:354px !important;
    }
    .DrOpeningFixTreeView
    {
        width:67px !important;

    }
    .CrOpeningFixTreeView
    {
        width:67px !important;

    }

 .DrTrasactionFixTreeView
    {
        width:67px !important;

    }
    .CrTrasactionFixTreeView
    {width:67px !important;

    }
    .DrclosingFixTreeView
    {
     width:67px !important;

    }

    .AccountFixTreeView2
    {
    width:320px !important;
    }
    .DrOpeningFixTreeView2
    {
        width:67px !important;
    }
    .CrOpeningFixTreeView2
    {
        width:67px !important;

    }
    .DrTrasactionFixTreeView2
    {
        width:67px !important;
    }
    .CrTrasactionFixTreeView2
    {
        width:67px !important;
    }
    .DrclosingFixTreeView2
    {
        width:67px !important;
    }
  .btn.green {

    margin-left:5px !important;

    }
}


