
@{
    ViewBag.Title = "Finance Draft Splitter";
    Layout = null;
}

<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }
    /*.portlet > .portlet-title > .caption > i
    {
        margin-top:1px;
    }*/
   


</style>
<div class="col-md-12 bodyController" id="draftCtrl">
    <div class="portlet light form-fit bordered bottomspance">

        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze">{{modulename}} Module</span>
                </div>
                <div class="actions pull-right">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-green pull-right" id="savedocumentformdata" ng-click="BackFromMenu()">
                            <i class="fa fa-arrow-left"></i> Back
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="splitter" kendo-splitter
                     k-panes="[{ collapsible: true, size: '20%' },{ collapsible: true, size: '80%'}]"
                     k-orientation="orientation"
                     k-rebind="orientation">
                    <div>
                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/Draft/_draftList.cshtml")
                    </div>
                    <div>
                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/Draft/_draftDetail.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.k-i-arrow-60-right').on('click', function () {
        });

    });
</script>


