
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoadingSlipGenerator</title>
    <style>
        .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
            height: auto !important;
        }

        .not-active {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
            /*color: black;*/
        }
    </style>
</head>

<body>

    <div class="row" ng-controller="LoadingSlipCtrl">

        <div class="col-md-12">

            <div class="portlet light form-fit bordered bottomspance">
                <div class="portlet mingap">

                    <div class="portlet-title">
                        <div class="caption caption-title ng-binding">
                            <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                                <i class="fa fa-arrow-circle-left"></i>
                            </a>
                            <i class="fa fa-gift font-green-haze"></i>
                            <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
                        </div>
                     </div>

                    <div class="portlet-body">

                            <div class="row">
                                <form id="registeredVehicle" name="registeredVehicle">

                                    <div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform" style="margin-bottom:-15px !important;">
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="element">Trans. No.</label>
                                            <div>
                                                <input type="text" name="TRANSACTION_NO" id="transactionNo" ng-model="loadingVehicleObj.TRANSACTION_NO" />
                                            </div>

                                        </div>
                                        <div class="form-group  col-md-3 col-sm-3">
                                            <label for="element">Loading Slip No.</label>
                                            <div>
                                                <input type="text" name="WB_SLIP_NO" id="loadingSlipNo" ng-model="loadingVehicleObj.WB_SLIP_NO" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="element">Date/Miti</label>
                                            <div>
                                                <input type="text" id="TRANSACTION_DATE" name="TRANSACTION_DATE" ng-model="loadingVehicleObj.TRANSACTION_DATE" kendo-date-picker />
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-3 col-sm-3">
                                            <label for="element">Vechicle No.</label>
                                            <div>
                                                <input type="text" name="VEHICLE_NAME" ng-model="loadingVehicleObj.VEHICLE_NAME" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform" style="margin-bottom:-15px !important;">
                                        <div class="form-group  col-md-3 col-sm-3">
                                            <label for="Name">To Destination</label>
                                            <div><input type="text" id="destination" ng-model="loadingVehicleObj.DESTINATION" /></div>
                                        </div>
                                        <div class="form-group  col-md-3 col-sm-3">
                                            <label for="Name">Vechicle Agent Name</label>
                                            <div><input type="text" id="vehicleAgentName" ng-model="loadingVehicleObj.VEHICLE_OWNER_NAME" /></div>
                                        </div>
                                        <div class="form-group  col-md-3 col-sm-3">
                                            <label for="Name">Driver Name</label>
                                            <div><input type="text" id="driverName" ng-model="loadingVehicleObj.DRIVER_NAME" /></div>
                                        </div>
                                        <div class="form-group  col-md-3 col-sm-3">
                                            <label for="Name">Driver Licence No.</label>
                                            <div><input type="text" id="driverLicenceNo" ng-model="loadingVehicleObj.DRIVER_LICENCE_NO" /></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform" style="margin-bottom:-15px !important;">
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Driver Contact No.</label>
                                            <div><input type="text" id="driverContactNo" ng-model="loadingVehicleObj.DRIVER_MOBILE_NO" /></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Owner Name</label>
                                            <div><input type="text" id="ownerName" ng-model="loadingVehicleObj.VEHICLE_OWNER_NAME" /></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Owner Contact No.</label>
                                            <div><input type="text" id="ownerContactNo" ng-model="loadingVehicleObj.VEHICLE_OWNER_NO" /></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Transport Name</label>
                                            <div><input type="text" id="transportName" ng-model="loadingVehicleObj.TRANSPORT_NAME" /></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform" style="margin-bottom:-15px !important;">
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Vehicle In Time</label>
                                            <div><input type="text" id="vehicleInTime"  ng-model="loadingVehicleObj.IN_TIME" /></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Vehicle Out Time</label>
                                            <div><input type="text" id="vehicleOutTime" ng-model="loadingVehicleObj.OUT_TIME" /></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Load In Time</label>
                                            <div><input type="text" id="loadInTime" ng-model="loadingVehicleObj.LOAD_IN_TIME" /></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Tear Weight</label>
                                            <div><input type="text" id="tearWeight" ng-model="loadingVehicleObj.TEAR_WT" /></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform" style="margin-bottom:-15px !important;">
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Vechicle In Date</label>
                                            <div><input type="datetime" id="vehicleInDate" ng-model="loadingVehicleObj.VEHICLE_IN_DATE" kendo-date-picker/></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Load Out Time</label>
                                            <div><input type="text" id="loadOutTime" ng-model="loadingVehicleObj.LOAD_OUT_TIME" /></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Gross Weight</label>
                                            <div><input type="text" id="grossWeight" ng-model="loadingVehicleObj.GROSS_WT" /></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Remarks</label>
                                            <div><input type="text" id="remarks" ng-model="loadingVehicleObj.REMARKS" /></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform" style="margin-bottom:2px !important">
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Vehicle Out Date</label>
                                            <div><input type="text" id="vehicleOutDate" ng-model="loadingVehicleObj.VEHICLE_OUT_DATE" kendo-date-picker /></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Net Weight</label>
                                            <div><input type="text" id="netWeight" ng-model="loadingVehicleObj.NET_WT" /></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Total Vehicle Hour.</label>
                                            <div><input type="text" id="totalVehicleHour" ng-model="loadingVehicleObj.TOTAL_VEHICLE_HR" /></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-3">
                                            <label for="Name">Load Quantity</label>
                                            <div><input type="text" id="loadQuantity" ng-model="loadingVehicleObj.QUANTITY" /></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform" style="margin-bottom:-15px !important;">

                                        <div class="form-group col-md-2">
                                            <label for="Name">Acknowledge Flag</label>
                                            <div><input type="checkbox" id="acknowledgeFlag" name="acknowledgeFlag" onclick="acknowledgeVechicle(this)" hidden /></div>
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label for="Name">Vehicle Dispatch(Y/N)</label>
                                            <div><input type="checkbox" name="vehicleDispatchFlag" id="vehicleDispatchFlag" disabled /></div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <div class="form-group  hidden dButton">
                                                <button class="btn btn-green-light" ng-click="showDispatchGrid(event)">Tag Dispatch Order No.</button>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-3">
                                            <button class="btn btn-green-light" ng-click="checkSelectedData()">update</button>
                                          
                                            <a href="/DocumentTemplate/Home/Index#!DT/VehicleRegistration" class="btn btn-green-light">Go To Vehicle Reg</a>

                                        </div>
                                        @*<div class="form-group col-md-2">
                                           
                                        </div>

                                        <div class="form-group col-md-2">
                                           
                                        </div>

                                        <div class="form-group col-md-2">
                                          
                                        </div>*@
                                    </div>
                                </form>
                            </div>


                            <div class="divider"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <kendo-grid id="vGrid" options="vehicleCenterChildGridOptions" k-rebind="vehicleCenterChildGridOptions">

                                    </kendo-grid>
                                </div>
                             
                                <div class="divider"></div>

                                <div class="col-md-12">

                                    <kendo-grid id="lGrid" options="loadingSlipPrintGridOptions" k-rebind="loadingSlipPrintGridOptions">
                                    </kendo-grid>
                                </div>
                            </div>

                        </div>

                </div>
            </div>
        </div>


        <div class="modal fade-out" id="dispatchTagModal" data-backdrop="static" tabindex="-1" data-width="760">
            <div class="modal-dialog modal-medium-large">
                <div class="modal-content">
                    <div class="modal-header">
                        <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                        <h4 class="modal-title">
                            <span class="fa fa-file"></span>
                            Tag Dispatch Number To Vehicle
                        </h4>
                    </div>
                    <div class="modal-body mb--8">

                        <div class="row">
                            <div class="col-md-12">
                                <kendo-grid id="dGrid" options="dispatchTagGridOptions" k-rebind="dispatchTagGridOptions">
                                </kendo-grid>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group col-md-3">
                                    <label for="radio">Today</label>
                                    <div>
                                        <input type="radio" name="dispatchFilter" ng-change="FilterDispatch('TODAY');" ng-model="DispatchFilter" value="TODAY" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="radio">Yesterday</label>
                                    <div>
                                        <input type="radio" name="dispatchFilter" ng-change="FilterDispatch('YESTERDAY');" ng-model="DispatchFilter" value="YESTERDAY" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="radio">Last Seven Days</label>
                                    <div>
                                        <input type="radio" name="dispatchFilter" ng-change="FilterDispatch('LASTSEVENDAYS');" ng-model="DispatchFilter" value="LASTSEVENDAYS" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="radio">Custom</label>
                                    <div>
                                        <input type="radio" name="dispatchFilter" ng-change="FilterDispatch('CUSTOM');" ng-model="DispatchFilter" value="CUSTOM" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">

                        <div class="form-group col-md-12">
                            <button class="btn btn-green-light" id="btnConfirmToTag" ng-click="ConfirmToTag()" disabled>Confirm To Tag</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade-out" id="LoadingSlipPrintModal" data-backdrop="static" tabindex="-1" data-width="760">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">
                            <span class="fa fa-print"></span>

                        </h4>
                    </div>

                    <div id="PrintModalFor" class="modal-body OperaPrintModal main">
                        <form name="Print" class="form-horizontal">

                             @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PrintTemplate/Sales/_loadingSlipPrintTemplate.cshtml")


                        </form>
                    </div>

                    <div class="modal-footer">

                        <a ng-click="printLoadingSlip('PrintModalFor')" class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                            <i class="fa fa-floppy-o"></i> Print
                        </a>
                        <a class="btn btn-sm btn-default" id="cancelPrint" ng-click="cnlPrint()" data-dismiss="modal">Cancel Print</a>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <script>

        $(document).ready(function () {
            window.scrollTo(0, 0);
        });

        function acknowledgeVechicle() {
            var checkBox = document.getElementById("acknowledgeFlag");
            var editFlag = angular.element(document.querySelector('[ng-controller="LoadingSlipCtrl"]')).scope().vehicleRegEdit;
            console.log("editFlag==============>>" + editFlag);
            if (checkBox.checked == true) {
                $(".dButton").removeClass("hidden");
                if (editFlag == true) {
                    $("#vehicleDispatchFlag").removeProp("disabled");
                }
            } else {
                $(".dButton").addClass("hidden");
            }
        }
       
    </script>
</body>
</html>
