@{
                 Layout = null;
}
<style>

    .form-horizontal .control-label {
        font-size: 11px !important;
    }

    .mb-12 {
        margin-bottom: 12px !important;
    }

    .mb-20 {
        margin-bottom: -20px !important;
    }

    hr {
        margin: 0px !important;
    }

    .checkboxlist label {
        width: 64% !important;
    }

    .pl-0 {
        padding-left: 0px !important;
    }

    .pr-0 {
        padding-right: 0px !important;
    }

    .fixedsize {
        height: 14px !important;
    }

    .heightforfile {
        height: 14px;
    }

    .modal-dialogbox-body {
        min-height: 450px !important;
    }

    .main textarea {
        /*border: solid #ddd 1px;*/
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .english {
        width: 27.5% !important;
    }

    .document_child_table td {
        /*border: 1px solid #ddd;*/
        font-size: 9px !important;
        border-top: none !important;
    }

    .document_child_table th {
        padding: 5px;
    }

    .buttonadd {
        padding-right: 3px;
        padding-left: 2px;
        /* padding-top: 2px; */
        margin-left: 3px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }

    .buttonadd, .buttondelete {
        font-size: 11px;
    }

    .buttondelete {
        padding-right: 2px;
        padding-left: 3px;
        /* padding-top: 2px; */
        margin-left: 2px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }

    .dynamic-table input {
        border: none !important;
        /* text-align: right; */
    }

    .dynamic-table input {
        font-size: 10px !important;
        height: 21px !important;
        padding: 0px 3px;
    }

    .document_child_table .table_body.min-body {
        max-height: 69px !important;
        display: block !important;
        overflow-y: auto;
        /* overflow: auto !important; */
    }

    .top-gap {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .image_size {
        height: 180px;
        width: 140px;
        margin-bottom: 5px;
    }

    .file_input {
        margin-top: 14px;
    }

    .center {
        text-align: center;
    }

    .paddingright {
        padding-right: 0px;
    }

    .main .k-picker-wrap {
        font-size: 11px;
        min-height: 22px;
    }

    .english_date {
        width: 25%;
    }


    .nepali_date {
        width: 25%;
    }

        .english_date .k-i-warning, .nepali_date .k-i-warning {
            display: none;
        }

    .english_date .k-select {
        border: none;
        top: 3px;
    }

    .main .k-picker-wrap {
        padding-right: 0px;
    }

    .calendar-icon-2 {
        top: 3px !important;
        color: #666;
    }

    .fieldset-box .k-picker-wrap {
        padding-right: 0px;
    }

    .fieldset-box .k-select {
        border: none;
        /*top: 3px;*/
    }

    .fieldset-box .k-i-warning {
        display: none;
    }

    .fieldset-box .k-picker-wrap.k-state-default {
        border: none !important;
    }

    .fieldset-box select {
        border: none !important;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    div#ndp-nepali-box {
        font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
        border: 1px solid #CCC;
        background-color: #FFF;
        position: absolute;
        z-index: 9999;
        padding: 1px;
        margin-top: 1px;
    }

    .borderRed {
        border: solid red 1px !important;
    }

    /*.k-grid-content {
        height: 470px !important;
    }*/

    #kGrid {
        height: 530px !important;
    }

    .requiredAsterik {
        position: absolute;
        top: 0px;
        right: 5px;
    }

    textarea {
        resize: none;
    }

    .addcolor {
        color: #ffffff;
    }

    .k-list.k-reset {
        max-height: 250px !important;
        overflow: hidden !important;
    }

    .fixedsize {
        height: 14px !important;
    }

    .heightforfile {
        height: 14px;
    }

    .modal-dialogbox-body {
        min-height: 450px !important;
    }

    .main textarea {
        /*border: solid #ddd 1px;*/
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .english {
        width: 27.5% !important;
    }

    .document_child_table td {
        /*border: 1px solid #ddd;*/
        font-size: 9px !important;
        border-top: none !important;
    }

    .document_child_table th {
        padding: 5px;
    }

    .buttonadd {
        padding-right: 3px;
        padding-left: 2px;
        /* padding-top: 2px; */
        margin-left: 3px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }

    .buttonadd, .buttondelete {
        font-size: 11px;
    }

    .buttondelete {
        padding-right: 2px;
        padding-left: 3px;
        /* padding-top: 2px; */
        margin-left: 2px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }

    .dynamic-table input {
        border: none !important;
        /* text-align: right; */
    }

    .dynamic-table input {
        font-size: 10px !important;
        height: 21px !important;
        padding: 0px 3px;
    }

    .document_child_table .table_body.min-body {
        max-height: 69px !important;
        display: block !important;
        overflow-y: auto;
        /* overflow: auto !important; */
    }

    .top-gap {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .image_size {
        height: 180px;
        width: 140px;
        margin-bottom: 5px;
    }

    .file_input {
        margin-top: 14px;
    }

    .center {
        text-align: center;
    }

    .paddingright {
        padding-right: 0px;
    }

    .main .k-picker-wrap {
        font-size: 11px;
        min-height: 22px;
    }

    .english_date {
        width: 25%;
    }

    .nepali_date {
        width: 25%;
    }

        .english_date .k-i-warning, .nepali_date .k-i-warning {
            display: none;
        }

    .english_date .k-select {
        border: none;
        top: 3px;
    }

    .main .k-picker-wrap {
        padding-right: 0px;
    }

    .calendar-icon-2 {
        top: 3px !important;
        color: #666;
    }

    .fieldset-box .k-picker-wrap {
        padding-right: 0px;
    }

    .fieldset-box .k-select {
        border: none;
        /*top: 3px;*/
    }

    .fieldset-box .k-i-warning {
        display: none;
    }

    .fieldset-box .k-picker-wrap.k-state-default {
        border: none !important;
    }

    .fieldset-box select {
        border: none !important;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    div#ndp-nepali-box {
        font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
        border: 1px solid #CCC;
        background-color: #FFF;
        position: absolute;
        z-index: 9999;
        padding: 1px;
        margin-top: 1px;
    }

    .borderRed {
        border: solid red 1px !important;
    }

    /*.k-grid-content {
        height: 367px !important;
    }

    #kGrid {
        height: 427px !important;
    }*/

    .requiredAsterik {
        position: absolute;
        top: 0px;
        right: 5px;
    }

    textarea {
        resize: none;
    }

    .addcolor {
        color: #ffffff;
    }

    .k-list.k-reset {
        max-height: 250px !important;
        overflow: hidden !important;
    }
</style>
<style>
    .fixedsize {
        height: 14px !important;
    }

    .heightforfile {
        height: 14px
    }

    .modal-dialog {
        min-width: 80% !important;
    }

    .btnadd {
        margin-top: 2px;
        float: right;
        margin-right: 5px !important;
    }

    div.k-grid-header th.k-header, tr.k-filter-row > th {
        text-align: center;
    }

    /*.page-bar {
        margin-bottom: 0px !important;
    }*/

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    /*#grid thead{
              font-size:11px;
         }*/
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    .floatright {
        float: right;
        margin-top: 2px !important;
    }

    a.k-button.k-button-icontext.k-grid-excel {
        float: right;
    }

    .Reseller-map-fullscreen {
        display: none;
        background-color: #fff;
        text-align: center;
        height: 35px;
        width: 24px;
        cursor: pointer;
        background: url() -52px -86px no-repeat;
        background-image: url('../../Content/map/asset/img/sv5.png');
        margin-top: 12px;
        margin-left: 20px;
    }

    #map-canvas {
        height: 100%;
        width: 100%;
        background: #fff;
    }

    #Reseller-map-panel {
        width: 100%;
        height: 430px;
        margin: 0 auto;
        border: solid;
        padding: 10px;
    }

    .number {
        text-align: right;
    }

    .text {
        text-align: left;
    }

    .date {
        text-align: center;
    }

    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        width: 200px;
    }

    #DistAdd {
        display: none;
    }

    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #mapSearchBox {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
    }

        #mapSearchBox:focus {
            border-color: #4d90fe;
        }
    /*.k-list-container
           {
               max-height:150px !important;
               overflow-y:auto !important;
           }*/




    .material-switch > input[type="checkbox"] {
        display: none;
    }

    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

        .material-switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 31px;
        }

    .material-switch {
        margin-top: 1px !important;
    }

        .material-switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 19px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -1.5px;
            transition: all 0.3s ease-in-out;
            width: 19px;
        }

        .material-switch > input[type="checkbox"]:checked + label::before {
            background: inherit;
            opacity: 0.5;
        }

        .material-switch > input[type="checkbox"]:checked + label::after {
            background: inherit;
            left: 12px;
        }


    /*#AreaCreateForm input#AreaName {
        height: 25px !important;
        font-size: 11px !important;
    }*/

    /*select#vdcAreaMultiSelect {
        height: 25px;
        border: 1px solid #e5e5e5 !important;
    }*/

    /*select#zoneAreaMultiSelect {
        height: 25px;
    }*/

    /*select#regionAreaMultiSelect {
        height: 25px;
    }*/
    select#distCustomerMultiSelect {
        height: 25px;
        border: 1px solid #e5e5e5 !important;
    }

    .ui-widget-header {
        background: none !important;
        border: none !important
    }
    /*.ui-tabs .ui-tabs-panel
    {
        width:86%
    }
    .modal-footer
    {
        width:70%
    }*/

    }
    /*.modal-dialogbox-body {
        min-height: 500px !important;
        min-width:900px !important;
    }*/

    .my-dropdown {
        width: 45%;
        margin-top: -9px;
        height: 35px !important;
    }

    .my-input {
        width: 20%;
        height: 25px !important;
        margin-top: -3px;
        .TriSea-technologies-Switch > input[type="checkbox"]

    {
        display: none;
    }

    .TriSea-technologies-Switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }



        .TriSea-technologies-Switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }

        .TriSea-technologies-Switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }
</style>
<div ng-controller="PreferenceSetupCtrl" data-ng-init="init()" style="font-size: 12px !important;">
    <div class="portlet box green-box main">

        <div class="portlet-title">
            <div class="caption caption-title ng-binding">
                <i class="fa fa-list-alt"></i><span class="caption-subject bold uppercase">Preference Setup</span>
            </div>
            <div class="actions">
                <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-click="showModalForNew(event)">
                    <i class="fa fa-plus"></i> NEW
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <kendo-grid id="kGrid" options="companyCenterChildGridOptions" k-rebind="branchCenterChildGridOptions">
            </kendo-grid>
        </div>

        <div class="modal fade-out" id="CompanyModal" data-backdrop="static" tabindex="-1" data-width="760">
            <div class="modal-dialog modal-medium-large">
                <div class="modal-content">
                    <div class="modal-header">
                        <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                        <h4 class="modal-title">
                            <span class="fa fa-file"></span>
                            Preference Setup Model
                        </h4>
                    </div>
                    <div class="modal-body">

                        <form name="preferencesetupform" id="preferencesetupform" class="form-horizontal" novalidate>

                            <div id="preferencesetp" class="qtab">
                                <div>
                                    <ul>
                                        <li><a href="#preferences">preferences</a></li>
                                        <li><a href="#Documentsetup">Document Setup</a></li>
                                        <li><a href="#Master">Master preferences </a></li>
                                        <li><a href="#Control">Control</a></li>
                                    </ul>

                                    <div id="preferences">

                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <div class="row">

                                                        <div class="col-sm-12 col-md-12 col-lg-12">

                                                            <div class="form-group">
                                                                <label class="control-label col-sm-4 col-md-3 col-lg-3">
                                                                    Company Name <span style="color:red" ng-show="preferencesetupform.distCompanySelect.$invalid">
                                                                        <span ng-show="!preferencesetupform.distCompanySelect.$valid">*</span>
                                                                    </span>
                                                                </label>

                                                                <div class="col-sm-8 col-md-9 col-lg-9">


                                                                    <select id="distCompanySelect" name="distCompanySelect" kendo-multi-select k-options="distCompanySelectOptions" slim-scroll ng-model="preffArr.COMPANY_CODE" required></select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-4 col-md-3 col-lg-3">
                                                                    Branch Name <span style="color:red" ng-show="preferencesetupform.distBranchSelect.$invalid">
                                                                        <span ng-show="!preferencesetupform.distBranchSelect.$valid">*</span>
                                                                    </span>
                                                                </label>
                                                                <div class="col-sm-8 col-md-9 col-lg-9">

                                                                    <select id="distBranchSelect" name="distBranchSelect" kendo-multi-select k-options="distBranchSelectOptions" slim-scroll ng-model="preffArr.BRANCH_CODE" required></select>
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">

                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">Default Currency</label>

                                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                                <select id="currencyMultiSelect" ng-model="preffArr.DEFAULT_CURRENCY_CODE" k-value-primitive="true" k-ng-model="preffArr.DEFAULT_CURRENCY_CODE" name="currencyMultiSelect" kendo-drop-down-list
                                                                        k-options="currencyMultiSelect" k-on-change="onChangePartyType(kendoEvent)"
                                                                        style="width: 100%"></select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12">

                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">Exchange Rate</label>

                                                            <div class="col-sm-8 col-md-8 col-lg-8">

                                                                <select id="exchangerate" ng-model="preffArr.EXCHANGE_RATE" k-value-primitive="true" k-ng-model="preffArr.EXCHANGE_RATE" name="exchangerate" kendo-drop-down-list
                                                                        k-options="exchangerate" k-on-change="onChangePartyType(kendoEvent)"
                                                                        style="width: 100%" ng-disabled="true">
                                                                    <option value="NRS">1</option>
                                                                    <option value="IRS">1.6015</option>
                                                                    <option value="USD">107.39</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <hr />
                                            <br />
                                            <div class="row" style="padding-left:4px;">
                                                @*custom code*@
                                                <div class="col-lg-12" style="display:flex">
                                                    <div class="form-group" style="display:inline-flex;width:20%;">
                                                        <label class="control-label" style="padding-right: 5px;padding-left:12px;">
                                                            Frequenty Used Task
                                                        </label>


                                                        <input type="number" id="frequently" name="frequently" string-to-number ng-model="preffArr.FREQUENT_NO" class="form-control" style="width: 45px !important;" required />

                                                    </div>
                                                    <div class="form-group" style="display:inline-flex;width:20%;">
                                                        <label class="control-label" style="padding-right: 5px; padding-left:12px;">
                                                            Alert Refresh
                                                        </label>


                                                        <input type="number" id="alterrate" name="alterrate" string-to-number ng-model="preffArr.ALERT_REFRESH_RATE" class="form-control" style="width: 45px !important;" required />

                                                    </div>
                                                    <div class="form-group" style="display:inline-flex;width:20%;">
                                                        <label class="control-label" style="padding-right: 5px;padding-left:12px;">
                                                            Freeze Back Days
                                                        </label>


                                                        <input type="number" id="freezabackdays" name="freezabackdays" string-to-number ng-model="preffArr.SECURED_BACK_DAYS" class="form-control" style="width: 45px !important;" required />

                                                    </div>
                                                    <div class="form-group" style="display:inline-flex;width:20%;">
                                                        <label class="control-label" style="padding-right: 5px; padding-left:12px;">
                                                            Used Decimal
                                                        </label>


                                                        <input type="number" id="decimal" name="decimal" string-to-number ng-model="preffArr.DECIMAL_PLACE" class="form-control" style="width: 45px !important;" required />

                                                    </div>
                                                    <div class="form-group" style="display:inline-flex;width:20%;">
                                                        <label class="control-label" style="padding-right: 5px;padding-left:12px;">
                                                            Password Expiry days
                                                        </label>


                                                        <input type="number" id="passwordexp" name="passwordexp" string-to-number ng-model="preffArr.PASS_EXPIRY_DAYS" class="form-control" style="width: 45px !important;" required />

                                                    </div>
                                                    <div class="form-group" style="display:inline-flex;width:20%;">
                                                        <label class="control-label" style="padding-right: 5px; padding-left:12px;">
                                                            Fiscal Year <span style="color:red" ng-show="preferencesetupform.fysicalyear.$invalid">
                                                                <span ng-show="preferencesetupform.fysicalyear.$error.required">*</span>
                                                            </span>
                                                        </label>
                                                        <input type="text" id="fysicalyear" name="fysicalyear" ng-model="preffArr.FISCAL_YEAR" class="form-control" style="width: 90px !important;" required />

                                                    </div>

                                                </div>
                                            </div>
                                            <hr />
                                            <br />

                                            <div class="row mb-12">

                                                <div class="col-sm-6 col-md-6 col-lg-6 pl-0">
                                                    <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">
                                                        Start Date <span style="color:red" ng-show="preferencesetupform.englishdatedocument5.$invalid">
                                                            <span ng-show="preferencesetupform.englishdatedocument5.$error.required">*</span>
                                                        </span>
                                                    </label>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 english_date">
                                                        <input style="width:100%;" id="englishdatedocument5" name="englishdatedocument5" class="englishdate" kendo-date-picker
                                                               ng-model="preffArr.FY_START_DATE"
                                                               k-options="monthSelectorOptions" ng-change="OnOpeningDateChange()" required />

                                                    </div>


                                                    <div class="col-sm-4 col-md-4 col-lg-4 nepali_date">

                                                        <input type="text" id="nepaliDate5" name="nepaliDate5" data-checkfor="englishdatedocument5" onchange="ConvertNepToEng(this)" class="nepali-calendar5 form-control" next-on-tab />
                                                        <i class="fa fa-calendar form-control-feedback calendar-icon-2"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <label class="control-label col-sm-3 col-md-3 col-lg-3" for="element">
                                                        End Date <span style="color:red" ng-show="preferencesetupform.englishdatedocument6.$invalid">
                                                            <span ng-show="preferencesetupform.englishdatedocument6.$error.required">*</span>
                                                        </span>
                                                    </label>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 english_date">
                                                        <input style="width:100%;" type="text" id="englishdatedocument6" class="englishdate" name="englishdatedocument6" ng-model="preffArr.FY_END_DATE" kendo-date-picker k-options="monthSelectorOptions" ng-change="OnMaturityDateChange()" required />
                                                    </div>

                                                    <div class="col-sm-4 col-md-4 col-lg-4 nepali_date">
                                                        <input type="text" id="nepaliDate6" data-checkfor="englishdatedocument6" onchange="ConvertNepToEng(this)" name="EXCISE_NO" class="nepali-calendar6 form-control" />
                                                        <i class="fa fa-calendar form-control-feedback calendar-icon-2"></i>
                                                    </div>
                                                </div>







                                            </div>
                                            <hr class="mb-12" />

                                            <script>
                                                $(".nepali-calendar5").nepaliDatePicker({

                                                    npdMonth: true,
                                                    onFocus: true,
                                                    npdYear: true,
                                                    npdYearCount: 10,
                                                    altFormat: "dd-MMM-YYYY",
                                                    dateFormat: "dd-MMM-YYYY",
                                                    onChange: function (evt) {


                                                        var nepalidate = $("#nepaliDate5").val();
                                                        var Engdate = BS2AD(nepalidate);
                                                        var FormattedEngDate = moment(Engdate).format('DD-MMM-YYYY');

                                                        $("#englishdatedocument5").val(FormattedEngDate);



                                                        var openingDate = $('#nepaliDate5').val();
                                                        var maturityDate = $('#nepaliDate6').val();
                                                        var oDate = moment(openingDate).format("MM-DD-YYYY");
                                                        var mDate = moment(maturityDate).format("MM-DD-YYYY");
                                                        if (maturityDate != "") {
                                                            if (mDate < oDate) {
                                                                $('#nepaliDate5').val("");
                                                                $("#savedocumentformdata").prop("disabled", true);
                                                                displayPopupNotification("Start  date must be less than End Date!", "warning");
                                                                return;
                                                            }
                                                            else {
                                                                $("#savedocumentformdata").prop("disabled", false);
                                                            }

                                                        }
                                                    }
                                                });

                                            </script>
                                            <script>
                                                $(".nepali-calendar6").nepaliDatePicker({
                                                    ndpEnglishInput: 'englishdatedocument6',
                                                    npdMonth: true,
                                                    onFocus: true,
                                                    npdYear: true,
                                                    npdYearCount: 10,
                                                    altFormat: "dd-MMM-YYYY",
                                                    dateFormat: "dd-MMM-YYYY",
                                                    onChange: function (evt) {

                                                        var nepalidate = $("#nepaliDate6").val();
                                                        var Engdate = BS2AD(nepalidate);
                                                        var FormattedEngDate = moment(Engdate).format('DD-MMM-YYYY');
                                                        $("#englishdatedocument6").val(FormattedEngDate);


                                                        var openingDate = $('#nepaliDate5').val();
                                                        var maturityDate = $('#nepaliDate6').val();
                                                        // var date1 = moment(maturityDate).format("DD-MM-YYYY")


                                                        var oDate = moment(openingDate).format("MM-DD-YYYY");
                                                        var mDate = moment(maturityDate).format("MM-DD-YYYY");
                                                        if (mDate < oDate) {
                                                            $('#nepaliDate6').val("");
                                                            $("#savedocumentformdata").prop("disabled", true);
                                                            displayPopupNotification("End  date must be greater than Start Date!", "warning");
                                                            return;
                                                        }
                                                        else {
                                                            $("#savedocumentformdata").prop("disabled", false);
                                                        }
                                                    }
                                                });
                                            </script>


                                            <div class="row">
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                                            Cash Account
                                                        </label>

                                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                                            <select id="accountMultiSelect" ng-model="preffArr.CASH_ACC_CODE" k-value-primitive="true" k-ng-model="preffArr.CASH_ACC_CODE" name="accountMultiSelect" kendo-drop-down-list
                                                                    k-options="accountMultiSelect" k-on-change="onChangePartyType(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-5 col-md-5 col-lg-5">
                                                            Costing Method
                                                        </label>

                                                        <div class="col-sm-7 col-md-7 col-lg-7">
                                                            <select id="costingmethod" ng-model="preffArr.METHOD" k-value-primitive="true" k-ng-model="preffArr.METHOD" name="costingmethod" kendo-drop-down-list
                                                                    k-options="costingmethod" k-on-change="onChangePartyType(kendoEvent)"
                                                                    style="width: 100%">
                                                                <option value="" selected>--Select Method --</option>
                                                                <option value="Average">Average</option>
                                                                <option value="Wt.Avg">Wt.Average</option>
                                                                <option value="FIFO">FIFO</option>
                                                                <option value="Market Pr">Market Price</option>
                                                                <option value="STD Price">STD Price</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-5 col-md-5 col-lg-5">
                                                            Tax Invoice Print Type
                                                        </label>

                                                        <div class="col-sm-7 col-md-7 col-lg-7">
                                                            <select id="printType" ng-model="preffArr.PRINT_TYPE" k-value-primitive="true" k-ng-model="preffArr.PRINT_TYPE" name="printType" kendo-drop-down-list
                                                                    k-options="printType" k-on-change="onChangePartyType(kendoEvent)"
                                                                    style="width: 100%">
                                                                <option value="" selected>--Select Print type --</option>
                                                                <option value="TI">Continuous Tax Invoice</option>
                                                                <option value="A4">A4 Paper Tax Invoice</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>



                                            </div>


                                            <hr />


                                            <br />
                                            @*lksdjgjds*@
                                            <div class="row">

                                                <fieldset class="fieldset-box fieldsetbox-batch">
                                                    <legend>
                                                        Preference Control
                                                    </legend>

                                                    <div class="mt-checkbox-list checkboxlist  radio_select">


                                                        <span>
                                                            <input id="cogsvlaue" type="checkbox" ng-model="preffArr.DEFAULT_COGS_VALUE" ng-true-value="'Y'" ng-false-value="'N'"> COGS Value in Group
                                                        </span>
                                                        <span>
                                                            <input id="negativestock" type="checkbox" ng-model="preffArr.NEGATIVE_STOCK_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Negative Stock Control
                                                        </span>
                                                        <span>
                                                            <input id="itemlast3rate" type="checkbox" ng-model="preffArr.RATE3_INFO_FLAG" ng-true-value="'Y'" ng-false-value="'N'">  Item Last 3 Rate Info
                                                        </span>
                                                        <span>
                                                            <input id="freezecost" type="checkbox" ng-model="preffArr.FREEZE_PUR_EXP_OPTION" ng-true-value="'Y'" ng-false-value="'N'">Freeze Cost Capitalization
                                                        </span>
                                                        <span>
                                                            <input id="subledgernarration" type="checkbox" ng-model="preffArr.SUB_NARRATION_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Sub Ledger Narration Flag
                                                        </span>
                                                        <span>
                                                            <input id="billwiseadjust" type="checkbox" ng-model="preffArr.SUBLEDGER_BILL_ADJUST_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Subledger Bill wise Adjust
                                                        </span>

                                                    </div>
                                                    <hr />

                                                    <div class="mt-checkbox-list checkboxlist  radio_select">

                                                        <span>
                                                            <input id="preeditflg" type="checkbox" ng-model="preffArr.REFERENCE_EDIT_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Reference Edit Flag
                                                        </span>
                                                        <span>
                                                            <input id="custaprflg" type="checkbox" ng-model="preffArr.CUSTOMER_APPROVAL_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Customer Approval Flag
                                                        </span>
                                                        <span>
                                                            <input id="supplierflg" type="checkbox" ng-model="preffArr.SUPPLIER_APPROVAL_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Supplier Approval Flag
                                                        </span>
                                                        <span>
                                                            <input id="mastermodifyflg" type="checkbox" ng-model="preffArr.MASTER_MODIFY" ng-true-value="'Y'" ng-false-value="'N'">Modify Master Setup
                                                        </span>
                                                        <span>
                                                            <input id="Tbgeneric" type="checkbox" ng-model="preffArr.TB_GENERIC_FLAG" ng-true-value="'Y'" ng-false-value="'N'">GL/ SL/ TB in Generic
                                                        </span>

                                                    </div>
                                                    <hr />


                                                    <div class="mt-checkbox-list checkboxlist  radio_select">

                                                        @*<span>
                                                                <input id="bwsmf" type="checkbox" ng-model="preffArr.BRANCH_SCMAP_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Branch wise Subledger Map flag
                                                            </span>*@
                                                        <span>
                                                            <input id="sublbr" type="checkbox" ng-model="preffArr.REFERENCE_TRAN_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Subledger Bill Reference
                                                        </span>

                                                        <span>
                                                            <input id="bwbmf" type="checkbox" ng-model="preffArr.BRANCH_BCMAP_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Branch wise Budget Map Flag
                                                        </span>
                                                        <span>
                                                            <input id="pslg" type="checkbox" ng-model="preffArr.STOCK_GENERIC_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Physical Stock Ledger Generic
                                                        </span>
                                                        <span>
                                                            <input id="gid" type="checkbox" ng-model="preffArr.GB_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Global/Individual Database
                                                        </span>

                                                    </div>
                                                    <hr />

                                                </fieldset>
                                            </div>

                                            <br />
                                            @*<div class="row">
                                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-7 col-md-7 col-lg-7">
                                                                Audit Lock (Freeze entry as on Date)
                                                            </label>
                                                            <div class="col-sm-5 col-md-5 col-lg-5">
                                                                <input class="form-control" type="text" name="freezeEntryDate" ng-model="VehicleSetup.FREEZE_ENTRY_DATE" id="freezeEntryDate">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>*@


                                        </div>
                                    </div>

                                    <div id="Documentsetup">
                                        <div class="portlet-body">
                                            <div class="row">

                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Purchage Invoice Is To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Purchage Is Return To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Purchage GRNI Is To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Purchage Expenses Is To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Sales Invoice Is To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Sales Return Is To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            GL Reconciliation To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Inv Others Trans Is To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Cons Others Trans Is To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Asset Depriciation Is To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Weigh Bridge Is To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Freight Voucher To be Mapped
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                                    k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                                    style="width: 100%"></select>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                    <div id="Master">

                                        <div class="portlet-body">
                                            <div class="row">
                                                <fieldset class="fieldset-box fieldsetbox-batch">
                                                    <legend>
                                                        Ledger Control
                                                    </legend>
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                                            <div class="mt-checkbox-list checkboxlist">
                                                                <label class="mt-checkbox mt-checkbox-outline">
                                                                    <input type="checkbox" id="generalledger" ng-model="preffArr.GL_FLAG" ng-true-value="'Y'" ng-false-value="'N'">General  Ledger
                                                                    <span></span>
                                                                </label>
                                                                <label class="mt-checkbox mt-checkbox-outline">
                                                                    <input type="checkbox" id="stockledger" ng-model="preffArr.SL_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Stock Ledger
                                                                </label>


                                                            </div>
                                                        </div>

                                                    </div>
                                                </fieldset>

                                            </div>
                                            <br />
                                            <div class="row">

                                                <fieldset class="fieldset-box fieldsetbox-batch">
                                                    <legend>
                                                        Master Auto Control
                                                    </legend>

                                                    <div class="mt-checkbox-list checkboxlist  radio_select">


                                                        <span>
                                                            <input id="ledger" type="checkbox" ng-model="preffArr.AUTO_LEDGER_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Ledger
                                                        </span>
                                                        <span>
                                                            <input id="customer" type="checkbox" ng-model="preffArr.AUTO_CUSTOMER_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Customer
                                                        </span>
                                                        <span>
                                                            <input id="supplier" type="checkbox" ng-model="preffArr.AUTO_SUPPLIER_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Supplier
                                                        </span>
                                                        <span>
                                                            <input id="item" type="checkbox" ng-model="preffArr.AUTO_ITEM_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Item
                                                        </span>


                                                    </div>

                                                </fieldset>
                                            </div>
                                            <br />
                                            @*<div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-6">

                                                        <div class="form-group">
                                                            <label class="control-label col-sm-6 col-md-6 col-lg-6">
                                                                Link Database Name
                                                            </label>

                                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                                <select id="distCompanySelect" name="distCompanySelect" kendo-multi-select k-options="distCompanySelectOptions" slim-scroll ng-model="preffArr.LINK_DATABASE"></select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>*@



                                        </div>

                                    </div>


                                    <div id="Control">

                                        <div class="portlet-body">

                                            <div class="row">
                                                <fieldset class="fieldset-box fieldsetbox-batch">
                                                    <legend>
                                                        Other's Transaction Integretiuon Setup
                                                    </legend>
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                                            <div class="mt-checkbox-list checkboxlist">
                                                                <label class="mt-checkbox mt-checkbox-outline">
                                                                    <input type="checkbox" id="fnc" ng-model="preffArr.FREIGHT_NEGATIVE_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Freight Negative Control
                                                                    <span></span>
                                                                </label>
                                                                <label class="mt-checkbox mt-checkbox-outline">
                                                                    <input type="checkbox" id="frc" ng-model="preffArr.FREIGHT_RATE_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Freight Rate Control
                                                                </label>


                                                            </div>
                                                        </div>

                                                    </div>
                                                </fieldset>

                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <fieldset>
                                                            <legend class="mb-0 ta-c">Credit Control System</legend>


                                                            <div class=" radio_select">

                                                                <span>
                                                                    <input type="radio" id="ccc" name="ccc" ng-model="preffArr.CREDIT_CONTROL_FLAG" value="CC" />Customer Credit Control
                                                                </span>
                                                                <span>
                                                                    <input type="radio" id="cdcc" name="cdcc" ng-model="preffArr.CREDIT_CONTROL_FLAG" value="CD" /> Customer/Dealer Credit Control
                                                                </span>
                                                                <span>
                                                                    <input type="radio" id="dcc" name="dcc" ng-model="preffArr.CREDIT_CONTROL_FLAG" value="DC" /> Dealer Credit Control
                                                                </span>
                                                                <span>
                                                                    <input type="radio" id="none" name="none" ng-model="preffArr.CREDIT_CONTROL_FLAG" value="NN" /> None
                                                                </span>
                                                                @*<span>
                                                                        <input id="pdc" name="pdc" type="checkbox" ng-model="preffArr.DEFAULT_COGS_VALUE" ng-true-value="'Y'" ng-false-value="'N'"> PDC & BG
                                                                    </span>*@

                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <fieldset>
                                                            <legend class="mb-0 ta-c">Rate Schedule Apply</legend>


                                                            <div class=" radio_select">

                                                                <span>
                                                                    <input type="radio" name="csr" id="csr" ng-model="preffArr.RATE_SCHEDULE_TYPE" value="C" />Customer/Supplier Rate
                                                                </span>
                                                                <span>
                                                                    <input type="radio" name="dptr" id="dptr" ng-model="preffArr.RATE_SCHEDULE_TYPE" value="P" /> Dealer/Party Type Rate
                                                                </span>
                                                                <span>
                                                                    <input type="radio" name="dar" id="dar" ng-model="preffArr.RATE_SCHEDULE_TYPE" value="D" /> Dealer/Area Rate
                                                                </span>
                                                                <span>
                                                                    <input type="radio" name="urd" id="urd" ng-model="preffArr.RATE_SCHEDULE_TYPE" value="U" /> User Rate/Discount
                                                                </span>

                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">

                                                <fieldset class="fieldset-box fieldsetbox-batch">
                                                    <legend>
                                                        Preference Sub Control
                                                    </legend>

                                                    <div class="mt-checkbox-list checkboxlist  radio_select">


                                                        @*<span>
                                                                <input id="budgetctrl" type="checkbox" ng-model="preffArr.BUDGET_CONTROL_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Budget Control
                                                            </span>*@
                                                        <span>
                                                            <input id="budgetinfo" type="checkbox" ng-model="preffArr.COST_BUDGET_INFO_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Budget Information
                                                        </span>
                                                        <span>
                                                            <input id="ledgerbgtctrl" type="checkbox" ng-model="preffArr.COA_BUDGET_CONTROL_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Ledger  Budget Control
                                                        </span>
                                                        <span>
                                                            <input id="ledgerbgtinfo" type="checkbox" ng-model="preffArr.COA_BUDGET_INFO_FLAG" ng-true-value="'Y'" ng-false-value="'N'"> Ledger  Budget Information
                                                        </span>
                                                        <span>
                                                            <input id="usertrgctrl" type="checkbox" ng-model="preffArr.USER_TARGET_CONTROL_FLAG" ng-true-value="'Y'" ng-false-value="'N'">User Target Control
                                                        </span>
                                                        <span>
                                                            <input id="tac" type="checkbox" ng-model="preffArr.TRANS_ALERT_CAPTURE_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Transactional Alerts Capture
                                                        </span>

                                                        @*abc*@



                                                    </div>
                                                    <hr />

                                                    <div class="mt-checkbox-list checkboxlist  radio_select">
                                                        <span>
                                                            <input id="spina" type="checkbox" ng-model="preffArr.PARTY_ACTIVE_INFO_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Show Party Information in Activity
                                                        </span>
                                                        <span>
                                                            <input id="elvt" type="checkbox" ng-model="preffArr.LEDGER_VAT_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Enable Ledger VAT Transaction
                                                        </span>
                                                        <span>
                                                            <input id="ecct" type="checkbox" ng-model="preffArr.COST_CATEGORY_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Enable Cost Category Transaction
                                                        </span>
                                                        <span>
                                                            <input id="sobnt" type="checkbox" ng-model="preffArr.SUBLEDGER_ORDER_FLAG" ng-true-value="'Y'" ng-false-value="'N'">SubLedger Order By Name/Transaction
                                                        </span>

                                                    </div>
                                                    <hr />


                                                    <div class="mt-checkbox-list checkboxlist  radio_select">

                                                        <span>
                                                            <input id="lsag" type="checkbox" ng-model="preffArr.AUTO_GENERATE_LS_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Loading Slip Auto Generate
                                                        </span>
                                                        <span>
                                                            <input id="ssontb" type="checkbox" ng-model="preffArr.TB_SUB_LEDGER_LOAD" ng-true-value="'Y'" ng-false-value="'N'">Show SubLedger in Trial Balance
                                                        </span>

                                                        <span>
                                                            <input id="ivvp" type="checkbox" ng-model="preffArr.IND_VOUCHER_VERIFY" ng-true-value="'Y'" ng-false-value="'N'">Individual Voucher Verification Process
                                                        </span>
                                                        <span>
                                                            <input id="pdts" type="checkbox" ng-model="preffArr.PRINT_DATE_TIME" ng-true-value="'Y'" ng-false-value="'N'">Print Date Time Stamp
                                                        </span>
                                                        <span>
                                                            <input id="stnu" type="checkbox" ng-model="preffArr.TABLE_NOT_UNPOST_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Selected Table Not Unpost
                                                        </span>

                                                    </div>
                                                    <hr />


                                                    <div class="mt-checkbox-list checkboxlist  radio_select">

                                                        <span>
                                                            <input id="edcve" type="checkbox" ng-model="preffArr.VAT_DR_CR_ENTRY" ng-true-value="'Y'" ng-false-value="'N'">Enable Dr/Cr VAT Entry
                                                        </span>
                                                        <span>
                                                            <input id="eppde" type="checkbox" ng-model="preffArr.PP_DETAIL_ENTRY" ng-true-value="'Y'" ng-false-value="'N'">Enable PP Detail Entry
                                                        </span>

                                                        <span>
                                                            <input id="vchi" type="checkbox" ng-model="preffArr.DOCUMENT_HISTORY_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Voucher Current/History Info
                                                        </span>
                                                        <span>
                                                            <input id="ded" type="checkbox" ng-model="preffArr.DIVISION_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Division Enable Disable
                                                        </span>
                                                        <span>
                                                            <input id="sibq" type="checkbox" ng-model="preffArr.BILL_QTY_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Stock in Bill Quantity
                                                        </span>
                                                        <span>
                                                            <input id="erc" type="checkbox" ng-model="preffArr.EXCHANGE_RATE_EDITABLE_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Exchange Rate Control
                                                        </span>

                                                    </div>
                                                    <hr />


                                                    <div class="mt-checkbox-list checkboxlist  radio_select">

                                                        <span>
                                                            <input id="otrc" type="checkbox" ng-model="preffArr.ORDER_TAXABLE_RATE" ng-true-value="'Y'" ng-false-value="'N'">Order Taxable Rate Calculate
                                                        </span>
                                                        <span>
                                                            <input id="vngasid" type="checkbox" ng-model="preffArr.VNO_AS_SESSION_ID_CONTROL" ng-true-value="'Y'" ng-false-value="'N'">Voucher No. Generate as Session ID
                                                        </span>

                                                        <span>
                                                            <input id="eds" type="checkbox" ng-model="preffArr.DEALER_SYSTEM_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Enable Dealer System
                                                        </span>
                                                        <span>
                                                            <input id="dd" type="checkbox" ng-model="preffArr.DEFAULT_DIVISION" ng-true-value="'Y'" ng-false-value="'N'">Default Division
                                                        </span>
                                                        <span>
                                                            <input id="dbc" type="checkbox" ng-model="preffArr.DEFAULT_BRANCH_CONSOLE" ng-true-value="'Y'" ng-false-value="'N'">Default Branch Consolidation
                                                        </span>


                                                    </div>
                                                    <hr />

                                                    <div class="mt-checkbox-list checkboxlist  radio_select">

                                                        <span>
                                                            <input id="prv" type="checkbox" ng-model="preffArr.PUR_RATE_VERIANCE_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Purchase Rate Veriance %eg
                                                        </span>
                                                        <span>
                                                            <input id="cbnc" type="checkbox" ng-model="preffArr.CASH_BANK_NEGATIVE_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Cash/Bank Negative Control
                                                        </span>

                                                        <span>
                                                            <input id="salescs" type="checkbox" ng-model="preffArr.SALES_CUPON_SCHEME_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Sales Coupon Scheme
                                                        </span>
                                                        <span>
                                                            <input id="afp" type="checkbox" ng-model="preffArr.AFP_BUDGET_CONTROL_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Approval for Purchase (AFP)
                                                        </span>
                                                        <span>
                                                            <input id="emfm" type="checkbox" ng-model="preffArr.MASTER_FIELD_MANDATORY_FLAG" ng-true-value="'Y'" ng-false-value="'N'">Extra Master Field Mandatory
                                                        </span>


                                                    </div>
                                                    <hr />


                                                    <div class="mt-checkbox-list checkboxlist  radio_select">

                                                        <span>
                                                            <input id="pandc" type="checkbox" ng-model="preffArr.PAN_VAT_CONTROL_FLAG" ng-true-value="'Y'" ng-false-value="'N'">PAN No. Duplicate Control
                                                        </span>
                                                        <span>
                                                            <input id="ird" type="checkbox" ng-model="preffArr.SYNC_WITH_IRD" ng-true-value="'Y'" ng-false-value="'N'">Enable Sync With IRD
                                                        </span>

                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3 col-md-6 col-lg-6">
                                                            Loading Slip Back Days Access
                                                        </label>
                                                        <div class="col-sm-9 col-md-6 col-lg-6">
                                                            <input class="form-control" type="number" min="1" name="loadingslip" ng-model="preffArr.LS_BACK_ACCESS_DAYS" id="loadingslip">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>




                        </form>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewPreferencesetup(preferencesetupform.$valid)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                            <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                        </button>

                        <button type="button" class="btn btn-sm btn-green" id="updatedocumentformdata" ng-click="editPreferenceSetup($index)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                            <i class="fa fa-floppy-o"></i> edit
                        </button>

                        <button type="button" class="btn btn-sm btn-red" data-dismiss="modal" ng-click="Disable($index)">Cancel</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






<script>
    $(function () {
        $("#enddate").datepicker({
            changeMonth: true,
            changeYear: true,
        });

    });


</script>

<script>
    $(function () {
        $("#preferencesetp").tabs({
        });
    });


</script>

<script>

    function ConvertNepToEng(e) {
        var date = BS2AD($("#nepaliDate5").val());
        var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
        $("#englishdatedocument").val(FormattedEngDate);
    }

</script>




<script>
    $(function () {
        $("#freezeEntryDate").datepicker({
            changeMonth: true,
            changeYear: true,
        });

    });


</script>


