@{
    Layout = null;
    ViewBag.Title = "ThirdParty Prefference Setup";
}

<style>
    .mb-12 {
        margin-bottom: 8px !important;
    }
    .mb-6 {
        margin-bottom: 4px !important;
    }
    hr {
        margin: 0px !important;
    }
    .modal-content{
        height:675px !important;
    } .mb--8 {
        margin-bottom: -8px !important;
    }

    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .k-grid-content {
        height: 367px !important;
    }

    #kGrid {
        height: 427px !important;
    }

    .addcolor {
        color: #ffffff;
    }
    label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
    }

    input,
    label {
        margin: .4rem 0;
    }

    .note {
        font-size: .8em;
    }
</style>
<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /*.k-grid-content {
        height: 335px !important;
    }
    #kGrid {
        height: 395px !important;
    }*/
    .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }

    .k-virtual-scrollable-wrap {
        height: 454px !important;
    }

    #createContractForm .k-multiselect-wrap ul li {
        font-size: 10px !important;
    }

    #createContractForm .k-multiselect-wrap .k-input {
        color: hsl(0, 0%, 80%);
    }

    multiselect-wrap.k-floatwrap {
        max-height: 101px;
        overflow-y: auto;
    }
</style>

<div ng-controller="ThirdPartyPreferenceSetupCtrl" class="content">
    <div class="portlet box green-box main">

        <div class="portlet-title">
            <div class="caption caption-title ng-binding">
                <i class="fa fa-list-alt"></i><span class="caption-subject bold uppercase">Third Party Prefference Setup</span>
            </div>
            <div class="actions">
                <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-click="showModalForNew(event)">
                    <i class="fa fa-plus"></i> NEW
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <kendo-grid id="kGrid" options="PreffdGridOptions" k-rebind="PreffdGridOptions">
            </kendo-grid>
        </div>

        <div class="modal fade-out" id="preffModal" data-backdrop="static" tabindex="-1" data-width="760">
            <div class="modal-dialog modal-medium-large">
                <div class="modal-content">
                    <div class="modal-header">
                        <div type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</div>
                        <h4 class="modal-title">
                            <span class="fa fa-file"></span>
                            Third Party Prefference Setup
                        </h4>
                    </div>
                    <div class="modal-body mb--8">

                        <form name="OSform" class="form-horizontal" novalidate>
                            <div class="portlet-body form-horizontal">

                                <div class="row">

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Symphony Formcode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <select id="SformCodeMultiSelect" ng-model="OSArr.SFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.SFORM_CODE" name="SformCodeMultiSelect" kendo-drop-down-list
                                                        k-options="SformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                STable Name:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <input type="text" id="stablename" name="stablename" ng-model="OSArr.STABLE_NAME" class="form-control" style="width:100%;" readonly />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Symphony Customer AccountCode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">


                                                <select id="custaccountMultiSelect" ng-model="OSArr.SCUS_ACC_CODE" k-value-primitive="true" k-ng-model="OSArr.SCUS_ACC_CODE" name="custaccountMultiSelect" kendo-drop-down-list
                                                        k-options="custaccountOptions" k-on-change="onChangecustaccount(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Symphony item AccountCode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <select id="itemaccountMultiSelect" ng-model="OSArr.SITEM_ACC_CODE" k-value-primitive="true" k-ng-model="OSArr.SITEM_ACC_CODE" name="itemaccountMultiSelect" kendo-drop-down-list
                                                        k-options="itemaccountOptions" k-on-change="onChangeitemaccount(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                SVat charge AccountCode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <select id="SVataccMultiSelect" ng-model="OSArr.SVAT_CHARGE_ACC_CODE" k-value-primitive="true" k-ng-model="OSArr.SVAT_CHARGE_ACC_CODE" name="SVataccMultiSelect" kendo-drop-down-list
                                                        k-options="itemaccountOptions" k-on-change="onChangeitemaccount(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                SDiscount AccountCode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <select id="SdiscountaccMultiSelect" ng-model="OSArr.SDISCOUNT_ACC_CODE" k-value-primitive="true" k-ng-model="OSArr.SDISCOUNT_ACC_CODE" name="SdiscountaccMultiSelect" kendo-drop-down-list
                                                        k-options="itemaccountOptions" k-on-change="onChangeitemaccount(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Sservice AccountCode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <select id="SserviceaccMultiSelect" ng-model="OSArr.SSERCIVE_ACC_CODE" k-value-primitive="true" k-ng-model="OSArr.SSERCIVE_ACC_CODE" name="SserviceaccMultiSelect" kendo-drop-down-list
                                                        k-options="itemaccountOptions" k-on-change="onChangeitemaccount(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Show Symphony
                                            </label>
                                            <div class="col-sm-2 col-md-2 col-lg-2">

                                                <input class="form-control" type="checkbox" name="symphony" ng-model="OSArr.S_DISPLAY_FLAG" id="symphony">


                                            </div>



                                            <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                SMerge Item Quantity:
                                            </label>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <input class="form-control" type="checkbox" name="smergeitem" ng-model="OSArr.SMERGE_ITEM_FLAG" id="smergeitem">
                                            </div>
                                        </div>

                                    </div>



                                </div>

                                <hr />
                                <div class="row mb-8">


                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Opera Formcode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <select id="OformCodeMultiSelect" ng-model="OSArr.OFORM_CODE" k-value-primitive="true" k-ng-model="OSArr.OFORM_CODE" name="OformCodeMultiSelect" kendo-drop-down-list
                                                        k-options="OformCodeOptions" k-on-change="onChangeFormcode(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                OTable Name:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <input type="text" id="otablename" name="otablename" ng-model="OSArr.OTABLE_NAME" class="form-control" style="width:100%;" readonly />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Opera Customer AccountCode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">


                                                <select id="oustaccountMultiSelect" ng-model="OSArr.OCUS_ACC_CODE" k-value-primitive="true" k-ng-model="OSArr.OCUS_ACC_CODE" name="oustaccountMultiSelect" kendo-drop-down-list
                                                        k-options="custaccountOptions" k-on-change="onChangecustaccount(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Opera item AccountCode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <select id="itemaccountMultiSelect" ng-model="OSArr.OITEM_ACC_CODE" k-value-primitive="true" k-ng-model="OSArr.OITEM_ACC_CODE" name="itemaccountMultiSelect" kendo-drop-down-list
                                                        k-options="itemaccountOptions" k-on-change="onChangeitemaccount(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                OVat charge AccountCode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <select id="OVataccMultiSelect" ng-model="OSArr.OVAT_CHARGE_ACC_CODE" k-value-primitive="true" k-ng-model="OSArr.OVAT_CHARGE_ACC_CODE" name="OVataccMultiSelect" kendo-drop-down-list
                                                        k-options="itemaccountOptions" k-on-change="onChangeitemaccount(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                ODiscount AccountCode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <select id="OdiscountaccMultiSelect" ng-model="OSArr.ODISCOUNT_ACC_CODE" k-value-primitive="true" k-ng-model="OSArr.ODISCOUNT_ACC_CODE" name="OdiscountaccMultiSelect" kendo-drop-down-list
                                                        k-options="itemaccountOptions" k-on-change="onChangeitemaccount(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                ODiscount AccountCode:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <select id="OserviceaccMultiSelect" ng-model="OSArr.OSERCIVE_ACC_CODE" k-value-primitive="true" k-ng-model="OSArr.OSERCIVE_ACC_CODE" name="OserviceaccMultiSelect" kendo-drop-down-list
                                                        k-options="itemaccountOptions" k-on-change="onChangeitemaccount(kendoEvent)"
                                                        style="width: 100%"></select>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Show Opera
                                            </label>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <input class="form-control" type="checkbox" name="opera" ng-model="OSArr.O_DISPLAY_FLAG" id="opera">

                                            </div>
                                            <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                OMerge Item Quantity:
                                            </label>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <input class="form-control" type="checkbox" name="omergeitem" ng-model="OSArr.OMERGE_ITEM_FLAG" id="omergeitem">
                                            </div>

                                        </div>

                                    </div>

                                    <hr />

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Item:
                                            </label>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewitem()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                                    <i class="fa fa-floppy-o"></i> Item
                                                </button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Customer:
                                            </label>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <button class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewCustomer()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                                    <i class="fa fa-floppy-o"></i> Customer
                                                </button>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                                <hr />
                                <div class="row mb-6">

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Ird Url:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <input type="text" id="irdurl" name="irdurl" ng-model="OSArr.IRD_URL" class="form-control" style="width:100%;" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Ird User:
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <input type="text" id="irdname" name="irdname" ng-model="OSArr.IRD_USER" class="form-control" style="width:100%;" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Ird Password
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">

                                                <input type="text" id="irdpassword" name="irdpassword" ng-model="OSArr.IRD_PASSWORD" class="form-control" style="width:100%;" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Ird Pan No
                                            </label>
                                            <div class="col-sm-9 col-md-8 col-lg-8">
                                                <input type="text" id="irdpanNo" name="irdpanNo" ng-model="OSArr.IRD_PAN_NO" class="form-control" style="width:100%;" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4 col-lg-4">
                                                Enable Ird
                                            </label>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <input class="form-control" type="checkbox" name="symphony" ng-model="OSArr.ENABLE_IRD" id="symphony">

                                            </div>
                                            <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                Enable Real Time
                                            </label>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <input class="form-control" type="checkbox" name="symphony" ng-model="OSArr.ENABLE_REALTIME" id="symphony">
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                                Enable Syn
                                            </label>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <input class="form-control" type="checkbox" name="smergeitem" ng-model="OSArr.ENABLE_SYN" id="smergeitem">
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="saveNewOS(OSform.$valid)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                            <i class="fa fa-floppy-o"></i> {{saveupdatebtn}}
                        </button>

                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel($index)">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



