<style>
    .document-tab {
        width: 100% !important;
    }

    .w-100 {
        width: 100% !important;
    }

    .h-20 {
        height: 20px !important;
    }



    .d-tab-content {
        border: solid #ddd 1px;
        border-top: none !important;
        margin-top: -10px !important;
    }



    .no_gap input {
        margin-top: 1px !important;
    }


    .document-tab li {
        float: left !important;
        border-right: solid #ddd 1px;
    }

    .document-tab {
        background-color: #eee;
        border-bottom: solid #ddd 1px;
    }

        .document-tab li a {
            color: #333;
            font-size: 11px;
            margin-right: 0px !important;
        }


        .document-tab li.active a {
            color: forestgreen;
            Background-color: #fff;
            margin-right: 0px !important;
            border-top: solid #43A12E 2px;
            border-bottom: none !important;
            border-right: none;
        }

        .document-tab li a:hover {
            background-color: #fff;
            border-top: solid #43A12E 2px;
            border-bottom: none !important;
            border-right: none;
        }

        .document-tab li.active a:hover {
            background-color: #fff;
            border-top: solid #43A12E 2px;
            border-right: none;
        }



    .form-control.ng-pristine {
        /*text-align:left !important;*/
    }

    .dynamicform .k-dropdown-wrap.k-state-default input {
        border: none !important;
        /*height:22px !important;*/
    }

    .dynamic-table .k-dropdown-wrap, .dynamic-table .k-input.products {
        border: none !important;
        box-shadow: none !important;
    }

        .dynamic-table .k-dropdown-wrap .k-state-focused, .dynamic-table .k-dropdown-wrap.k-state-default.k-state-focused {
            border: solid green 1px;
        }

    .dynamic-table .k-icon, .dynamicform .k-icon {
        display: none;
    }

    .autocomplete-text, .mutextbox {
        text-align: left !important;
    }

    .textbox {
        text-align: right !important;
    }

    .texttextbox {
        text-align: left !important;
    }
    /*.d-tab-content .tab-pane.active
    {
        max-height:171px;
        overflow-y:auto;
    }*/
    .documentform .tabbable {
        width: 101.5%;
    }

    .dynamic-table tbody {
        /*display: block;*/
        max-height: 140px !important;
        /*overflow:auto !important;*/
    }

        .dynamic-table thead, .dynamic-table tbody tr {
            /*display: table;
            width: 100% ;
            table-layout: fixed;*/
        }

    /*.dynamic-table tbody.child-table-body {
        display: block;
        max-height: 140px;
    }
        .dynamic-table thead .child-table-head, .dynamic-table tbody .child-table-body tr {
            display: table;
            width: 99%;
            table-layout: fixed;
        }*/

    .autocomplete-text, .mutextbox {
        width: 100%;
    }

    .dynamic-table td {
        border-top: none !important;
    }

    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .dynamicform .k-dropdown-wrap.k-state-default input {
        border: none !important;
    }

    .dynamic-table .k-dropdown-wrap, .dynamic-table .k-input.productItemCodeOption {
        border: none !important;
        box-shadow: none !important;
    }

        .dynamic-table .k-dropdown-wrap .k-state-focused, .dynamic-table .k-dropdown-wrap.k-state-default.k-state-focused {
            border: solid green 1px;
        }

    .dynamic-table .k-widget {
        width: 100%;
    }

    .dropzone {
        width: 100%;
        height: 300px;
        max-height: 500px !important;
    }
    .MU_CODE, .MU_CODE_div{
        width:55px;
    }
    .CALC_TOTAL_PRICE, .CALC_TOTAL_PRICE_div{
        width:98px;
    }
    .ALT1_MU_CODE, .ALT1_MU_CODE_div{
        width:92px;
    }
    .ALT1_QUANTITY, .ALT1_QUANTITY_div{
         width:93px;
    }
</style>


<div class="tabbable">
    
    <ul id="myTab" class="document-tab nav nav-tabs ">
        <li class="active">
            <a href="#tab_15_1" data-toggle="tab">
                Transaction  @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Transaction"></i>*@                
            </a>
        </li>
        <li>
            <a href="#tab_15_2" data-toggle="tab">
                Reference  @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Reference"></i>*@                
            </a>
        </li>
        <li>
            <a href="#tab_15_3" data-toggle="tab">
                Custom  @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Custom"></i>*@
            </a>
        </li>
        <li>
            <a href="#tab_15_4" data-toggle="tab">
                Document  @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Document"></i>*@
            </a>
        </li>
        @*<li>
            <a href="#tab_15_5" data-toggle="tab">
                Charge
            </a>
        </li>*@
        <li>
            <a href="#tab_15_6" data-toggle="tab">
                Shipping Details  @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Shipping Details"></i>*@
            </a>
        </li>
        @*<li>
            <a href="#tab_15_7" data-toggle="tab">
                Resource
            </a>
        </li>*@
    </ul>

    <div class="tab-content d-tab-content">

        <div class="tab-pane active" id="tab_15_1">
            @*<div class="portlet light nogap_bottom">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Transation</span>

                        </div>

                    </div>
                </div>*@

            <div class="table-responsive">
                <table class="document_child_table dynamic-table  table-fixed">
                    <thead class="child-table-head">
                        <tr>
                            <th ng-repeat="item in ChildFormElement[0].element | orderBy: 'SERIAL_NO*1'" class="{{item.COLUMN_NAME}} {{item.COLUMN_NAME}}-child ">{{item.COLUMN_HEADER}}  
                                 <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{item.HELP_DESCRIPTION}}"></i>                              
                            <th class="btn-action" style="width:10%;">
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_SaleschildFieldPartial.cshtml")
                </table>
            </div>

        </div>

        <div class="tab-pane" id="tab_15_2">
            <kendo-grid id="refBgrid" options="refBGridOptions" k-rebind="grid"></kendo-grid>
            <!--
            @*<div class="table-responsive gap">
            <table class="document_child_table dynamic-table  table-fixed reference_tab" ng-if="showRefTab">
                <thead class="child-table-head">
                    <tr>
                        <th ng-repeat="item in ChildFormElement[0].element | orderBy: 'SERIAL_NO*1'" class="{{item.COLUMN_NAME}} {{item.COLUMN_NAME}}-child ">{{item.COLUMN_HEADER}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,row) in ChildFormElement">
                        <td ng-repeat="item in row.element | orderBy: 'SERIAL_NO'" class="{{item.COLUMN_NAME}}_div">

                            <div ng-if="item.COLUMN_NAME.indexOf('CODE') !== -1">
                                <div ng-if="item.COLUMN_NAME.indexOf('DIVISION') !== -1">
                                    <div ng-controller="divisionCtrl" id="divisionCtrl">
                                        <div class="input-group">
                                            <input ng-model="childModels[key][item.COLUMN_NAME]" name="division" class="division cdivision_{{key}}" style="width: 98%;"
                                                   kendo-combo-box readonly
                                                   k-data-text-field="'DIVISION_EDESC'"
                                                   k-data-value-field="'DIVISION_CODE'"
                                                   division-index="{{key}}"
                                                   k-options="divisionCodeOption" />
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="item.COLUMN_NAME.indexOf('ITEM') !== -1">
                                    <div ng-controller="itemCtrl" id="itemCtrl">
                                        <div class="input-group">
                                            <input ng-model="childModels[key][item.COLUMN_NAME]" name="products" class="cproducts  products c cproduct_{{key}} " style="width:100%;"
                                                   readonly kendo-combo-box
                                                   k-data-text-field="'ItemDescription'"
                                                   k-data-value-field="'ItemCode'"
                                                   product-index="{{key}}"
                                                   k-options="ItemCodeOption" />
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="item.COLUMN_NAME.indexOf('LOCATION') !== -1">
                                    <div id="locationCtrl" ng-controller="locationCtrl">
                                        <div class="input-group">
                                            <input ng-model="childModels[key][item.COLUMN_NAME]" name="location" class="clocation location c  clocation_{{key}}" style="width:100%;"
                                                   kendo-combo-box readonly
                                                   k-data-text-field="'LocationName'"
                                                   k-data-value-field="'LocationCode'"
                                                   k-options="locationCodeOption" />
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="item.COLUMN_NAME.indexOf('SUPPLIER') !== -1">
                                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_supplierCodeChildPartial.cshtml")
                                </div>
                                <div ng-if="item.COLUMN_NAME.indexOf('CUSTOMER') !== -1">
                                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_customerCodeChildPartial.cshtml")
                                </div>
                                <div ng-if="item.COLUMN_NAME.indexOf('ACC') !== -1">
                                    <div id="accChildCtrl" ng-controller="accChildCtrl">
                                        <div class="input-group" style="width: 100%;">
                                            <input kendo-combo-box ng-model="childModels[key][item.COLUMN_NAME]"
                                                   class="accCodeAutoComplete cacccode caccount_{{key}}"
                                                   k-options="accountCodeAutocomplete"
                                                   acc-data-index="{{key}}" />
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="item.COLUMN_NAME.indexOf('MU') !== -1">
                                    <input type="text" id="item.COLUMN_NAME" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control mutextbox" disabled />
                                </div>
                            </div>
                            <div ng-if="item.COLUMN_NAME.indexOf('CODE') === -1">
                                <input type="text" id="item.COLUMN_NAME" name="item.COLUMN_NAME" class="form-control mutextbox" value="{{childModels[key][item.COLUMN_NAME]}}" disabled />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>*@

            -->

        </div>

        <div class="tab-pane" id="tab_15_3">
            <div class="gap">
                <div class="form-horizontal">
                    <div ng-repeat="element in CustomFormElement" class="dynamicform ">
                        <div ng-if="element.FIELD_MANDATORY=='Y'">
                            <div class="form-group">
                                <label for="element" class="col-md-3 col-xs-12 col-sm-3 nogap-right ">{{element.FIELD_NAME}} @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i>*@<span style="color:red">*</span></label>

                                <div class="col-md-4 col-xs-12 col-sm-5 col-input-gride">
                                    <input type="text" id="element__{{element.FIELD_NAME}}" ng-model="customModels[element.FIELD_NAME]" class="inCustomFormElement form-control" required />
                                </div>
                            </div>
                        </div>
                        <div ng-if="element.FIELD_MANDATORY=='N'">

                            <div class="form-group">
                                <label for="element" class="col-md-3 col-xs-12 col-sm-3 nogap-right ">{{element.FIELD_NAME}} @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i>*@</label>

                                <div class="col-md-4 col-xs-12 col-sm-5 col-input-gride">
                                    <input type="text" id="element__{{element.FIELD_NAME}}" ng-model="customModels[element.FIELD_NAME]" class="inCustomFormElement form-control" maxlength="20" onkeypress="return checkSpcialChar(event)" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab_15_4">
            <div id="dZSalesUpload" class="dropzone">
                <div class="dz-default dz-message"></div>
            </div>

        </div>

        <div class="tab-pane" id="tab_15_5">

        </div>

        <div class="tab-pane" id="tab_15_6">
            <div class="gap">
                <div class="form-horizontal">
                    <div class="dynamicform row">

                        <div class="form-group col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right">Vehicle No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Vehicle No"></i>*@<span style="color:red">*</span></label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                @*<input type="text" id="VehicleNo" ng-model="SDModel.VEHICLE_CODE" class="form-control" />*@
                                <input kendo-combo-box ng-model="SDModel.VEHICLE_CODE" class="vechCodeAutoComplete cvechcode w-100" k-options="vechOption" k-placeholder="'Select Vechile Code'" required />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Vehicle Owner Name @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Vehicle Owner Name"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="VehicleOwnerName" ng-model="SDModel.VEHICLE_OWNER_NO" class="  form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Vehicle Owner No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Vehicle Owner No"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="VehicleOwnerNo" ng-model="SDModel.VEHICLE_OWNER_NO" class=" form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Driver Name @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Driver Name"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="DriverName" ng-model="SDModel.DRIVER_NAME" class="t form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Driver License No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Driver License No"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="DriverLicenseNo" ng-model="SDModel.DRIVER_LICENCE_NO" class=" form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Driver Mobile No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Driver Mobile No"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="Driver_Mobile_No" ng-model="SDModel.DRIVER_MOBILE_NO" class=" form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Transporter Name @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Transporter Name"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride h-20">
                                @*<input type="text" id="TransporterName" ng-model="SDModel.TRANSPORTER_CODE" class="form-control" />*@
                                <input kendo-combo-box ng-model="SDModel.TRANSPORTER_CODE" class="transCodeAutoComplete ctranscode w-100" k-options="transporterOption" k-placeholder="'Select Transporter Code'" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Terms of Shipment @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Terms of Shipment"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                @*<input type="text" id="TermsofShipment" ng-model="SDModel.SHIPPING_TERMS" class="form-control" />*@
                                <select ng-model="SDModel.SHIPPING_TERMS" id="shippingterms" class="w-100">
                                    <option value="">Select Shipment Terms</option>
                                    <option value="FOB">FOB</option>
                                    <option value="CNF">CNF</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group  col-md-6" id="freghtrate">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Freight Rate @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Freight Rate"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="number" id="FreightRatetxt" ng-model="SDModel.FREIGHT_RATE" ng-change="changeFreghtAmount()" class=" form-control" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6" id="freghtamount">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Freight Amount @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Freight Amount"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="FreightAmounttxt"  ng-model="SDModel.FREGHT_AMOUNT" class=" form-control" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Start From @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Start From"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                @*<input type="text" id="StartFrom" ng-model="SDModel.START_FORM" class="form-control" />*@
                                @*<input kendo-combo-box ng-model="SDModel.START_FORM" class="citysodeAutoComplete ccitycode w-100" k-options="cityOption" k-placeholder="'Select Start From'" />*@
                                <input type="text" id="StartFrom" ng-model="SDModel.START_FORM" class=" form-control" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Destination @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Destination"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                @*<input type="text" id="Destination" ng-model="SDModel.DESTINATION" class="form-control" />*@
                                @*<input kendo-combo-box ng-model="SDModel.DESTINATION" class="cityCodeAutoComplete ccitydescode w-100" k-options="cityOption" k-placeholder="'Select Destination'" />*@
                                <input type="text" id="Destination" ng-model="SDModel.DESTINATION" class=" form-control" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">CN No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="CN No"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="CNNo" ng-model="SDModel.CN_NO" class=" form-control" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Transport Invoice No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Transport Invoice No."></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="TransportInvoiceNo" ng-model="SDModel.TRANSPORT_INVOICE_NO" class=" form-control" maxlength="20" onkeypress="return checkSpcialChar(event)" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Transport Invoice Date @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Transport Invoice Date"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="TransportInvoiceDate" ng-model="SDModel.TRANSPORT_INVOICE_DATE" kendo-date-picker k-options="monthSOshipingdetails" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Delivery Date @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Delivery Date"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="DeliveryDate" ng-model="SDModel.DELIVERY_INVOICE_DATE" kendo-date-picker k-options="monthSOshipingdetails" onchange="CompareWithOrderDate(this)" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Weigh Bridge Weight @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Weigh Bridge Weight"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="WeighBridgeWeight" ng-model="SDModel.WB_WEIGHT" class=" form-control" maxlength="20" onkeypress="return checkSpcialChar(event)" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Weigh Bridge No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Weigh Bridge No."></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="WeighBridgeNo " ng-model="SDModel.WB_NO " class=" form-control" maxlength="20" onkeypress="return checkSpcialChar(event)" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Weigh Bridge Date @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Weigh Bridge Date"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="WeighBridgeDate" ng-model="SDModel.WB_DATE" kendo-date-picker k-options="monthSOshipingdetails" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Gate Entry No. @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Gate Entry No."></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="GateEntryNo" ng-model="SDModel.GATE_ENTRY_NO" class=" form-control" maxlength="20" onkeypress="return checkSpcialChar(event)" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Gate Entry Date @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Gate Entry Date"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="GateEntryDate" ng-model="SDModel.GATE_ENTRY_DATE" kendo-date-picker k-options="monthSOshipingdetails" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Loading Slip No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Loading Slip No"></i>*@ </label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="LoadingSlipNo " ng-model="SDModel.LOADING_SLIP_NO" class=" form-control" maxlength="20" onkeypress="return checkSpcialChar(event)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@*<script>
        $("#insert-more").click(function () {
            $("#mytable").each(function () {
                var tds = '<tr>';
                jQuery.each($('tr:last td', this), function () {
                    tds += '<td>' + $(this).html() + '</td>';
                });
                tds += '</tr>';
                if ($('tbody', this).length > 0) {
                    $('tbody', this).append(tds);
                } else {
                    $(this).append(tds);
                }
            });
        });
    </script>*@

<script>
    var mySalesDropzone;
    $(document).ready(function () {
        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            if ($(this).attr('href') == '#tab_15_2') {
             
                $('#tab_15_2').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_3') {
                $('#tab_15_3').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_4') {
                $('#tab_15_4').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_5') {
                $('#tab_15_5').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_6') {
                $('#tab_15_6').tab('show')
            }
        });

        mySalesDropzone = new Dropzone('#dZSalesUpload', { // Make the whole body a dropzone
            url: "/Template/SalesFileUpload/",
            thumbnailWidth: 200,
            thumbnailHeight: 75,
            autoDiscover: false,
            autoProcessQueue: false,
            addRemoveLinks: true,
            paramName: "inputFiles",
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            maxFileSize: 10,
        });

        mySalesDropzone.on('sending', function (file, xhr, formData) {

            var voucherno = angular.element('#FormTemplateCtrl').scope().dzvouchernumber;
            var voucherdate = angular.element('#FormTemplateCtrl').scope().dzvoucherdate;
            var formcode = angular.element('#FormTemplateCtrl').scope().dzformcode;
            formData.append('VoucherNo', voucherno);
            formData.append('VoucherDate', voucherdate);
            formData.append('FormCode', formcode);
        });

        mySalesDropzone.on("success", function (file, responseText) {

            if (responseText.status == "Error") {
                displayPopupNotification("File upload does not success. Please update.", "error");
            }
            else {
                mySalesDropzone.removeFile(file);
            }

        });

        mySalesDropzone.on("addedFile", function (file, responseText) {
            //alert('hit');
            if (responseText.status == "Error") {
                displayPopupNotification("File upload does not success. Please update.", "error");
            }
            else {
                mySalesDropzone.removeFile(file);
            }

        });
        mySalesDropzone.on("removedfile", function (file, xhr, formData) {

            //alert('File will be permanently deleted.');
            var filename = file.name;
            var voucherno = angular.element('#FormTemplateCtrl').scope().OrderNo;
            var formcode = angular.element('#FormTemplateCtrl').scope().FormCode;
            var model = {
                FILE_NAME: filename,
                FORM_CODE: formcode,
                VOUCHER_NO: voucherno
            };
            var staturl = window.location.protocol + "//" + window.location.host + "/api/TemplateApi/deleteUploadedFile";
            $.ajax({
                type: 'POST',
                url: staturl,
                data: model,
                dataType: "json",
                success: function (data) {


                }
            });

        });
    });


    $('#shippingterms').on('change', function () {
        // if (this.value == '1'); { No semicolon and I used === instead of ==
        if (this.value === 'FOB') {
            $("#freghtrate").show();
            $("#freghtamount").show();
        } else {
            $("#freghtrate").hide();
            $("#freghtamount").hide();
            $("#FreightRatetxt").val("");
            $("#FreightAmounttxt").val("");
        }
    });

    $("#CNNo").keyup(function (e) {
        if (/\D/g.test(this.value)) {
            // Filter non-digits from input value.
            this.value = this.value.replace(/\D/g, '');
        }
    });
    function CompareWithOrderDate(e) {

        var orderDate = $("#englishdatedocument").val();
        var deliverydate = $("#DeliveryDate").val();
        if (deliverydate < orderDate) {
            alert("Delivery date should not be prior to order date.");
            $("#DeliveryDate").focus();
            $("#DeliveryDate").val('');
        }
    }
</script>







