
@{
    ViewBag.Title = "Calendar Route Setup";
    //Layout = "~/Areas/NeoERP.Planning/Views/Shared/_Layout.cshtml";
}
<style>

    .k-splitter{
        height:460px !important;
    }


    #external-events {
        /*float: left !important;*/
        padding: 0 10px;
        border: 1px solid #ccc;
        /*background: #eee;*/
        /*text-align: left;*/
        /*width: 14%;*/
        /*height: 450px;*/
    }

        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }

        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            /*color: #666;*/
        }

    .calendar-sliim
    {
        /*max-height:900px;
        overflow-y:auto;*/
    }
    
    
    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar {
        float: left;
        width: 81%;
        padding-left: 1%;
        position: absolute;
        left: 15%;
    }

    .md-radio-inline div {
        display: inline-block;
    }

    .md-radio-inline .has-error {
        margin-right: 10px;
    }

    .TriSea-technologies-Switch > input[type="checkbox"] {
        display: none;
    }

    .TriSea-technologies-Switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

        .TriSea-technologies-Switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }

        .TriSea-technologies-Switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }

    .dateFilterSelect.form-control {
        font-size: 11px !important;
        height: 24px !important;
        padding: 0 5px !important;
    }

    .form-horizontal .control-label {
        padding-top: 3px !important;
    }

    .slimScrollDiv {
        width: 14%;
    }
    .sidebar-route
    {
        max-height:500px;
        overflow-y:auto;
    }
    
    
    #external-events1 {
        /*max-height: 450px;*/
        overflow: hidden;
    }

    input.input_search {
        width: 130px !important;
        font-size: 11px !important;
        margin-top: 5px;
        margin-left: -5px;
    }

    .fc-today {
        background: #FFBF00 !important;
    }
</style>
<div class="row">
    <div class="col-md-12 common" id="calendarRouteCtrl">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">{{add_edit_option == "New" ? "Edit" : "New"}} Calendar  Route Plan </span>
                    <span class="caption-helper"></span>
                </div>
                @*<div class="actions">
            <button type="button" ng-click="addEditCalendarWiseRoute()" class="btn btn-circle btn-default btn-sm"><i class="fa fa-times"></i> {{addEditBtn}}</button>
        </div>*@
            
                
            <div class="actions pull-right">
                <div class="btn-group" style="margin-top:10px;">
                    <input id="avatar" type="file" name="avatar" style="width:185px;" />
                </div>
                <div class="btn-group">
                    <a href="javascript:void(0)" id="uploadExcel" class="pull-right btn btn-circle btn-icon-only btn-default">
                        <i class="fa fa-upload"></i>
                    </a>
                </div>
                
                <a href="~/PlanExcell/CalendarRouteSetup/RouteSetupTemplate.xlsx" download>
                   <i class="fa fa-file-excel-o"></i>
                </a>

                @*<input type="text" name="routeEndDate" class="form-control frmDataInput" readonly="readonly" id="routeEndDate" placeholder="To Date">*@
                <button type="button" ng-click="cancelCalendarWiseRoute()" class="btn btn-circle btn-default btn-sm"><i class="fa fa-times"></i> Cancel</button>
                <button type="submit" ng-click="saveCalendarWiseRoute()" class="btn btn-circle btn-green btn-sm"><i class="fa fa-save"></i> Save</button>
                <button type="submit" ng-click="AddEditOption()" class="btn btn-circle btn-green-light btn-sm"><i class="fa fa-edit"></i> Go To {{add_edit_option}}</button>
            </div>
            </div>
            <div class="portlet-body clearfix">

                <div class="route_plan">
                    <form id="calendarForm" name="calendarForm">
                        <div class="row">
                            <div ng-show="IsEdit" class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Route Plan Name<span style="color:red" ng-show="calendarForm.planName.$invalid">
                                                    <span ng-show="calendarForm.planName.$error.required">*</span>
                                                </span>
                                            </label>
                                            <input type="text" name="planName" class="form-control input-sm" ng-model="planName" readonly required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Route Plan List
                                            </label>
                                            <select id="routeList" kendo-drop-down-list style="width: 100%" k-options="routeListOptions"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div ng-show="!IsEdit">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Route Plan Name<span style="color:red" ng-show="calendarForm.planName.$invalid">
                                                        <span ng-show="calendarForm.planName.$error.required">*</span>
                                                    </span>
                                                </label>
                                                <input type="text" name="planName" class="form-control input-sm" ng-model="planName" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Employees List<span style="color:red" ng-show="calendarForm.employee.$invalid">
                                                    <span ng-show="calendarForm.employee.$error.required">*</span>
                                                </span>
                                            </label>
                                            <select id="employees" name="employee" ng-model="employees" kendo-drop-down-list style="width: 100%" k-options="employeeOptions" required></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="customday">Freq In Days</label>
                                            <div>
                                                <input type="number" id="customday" name="customday" min="1" ng-model="customfrequencyday" class="form-control input-sm" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-3">
                                        <div class="form-group">
                                            <label for="frequencyWiseRouteAssign">Auto-fill Frequency</label>
                                            <div class="TriSea-technologies-Switch">
                                                <input id="frequencyWiseRouteAssign" name="frequencyWiseRouteAssign" type="checkbox" ng-model="frequencyWiseRouteAssign" value="yes" />
                                                <label for="frequencyWiseRouteAssign" class="label-primary"></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div ng-show="!IsEdit" class="col-md-4">
                                <div class="form-group">
                                    <div class="btn-group">
                                        @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div style="border-bottom:solid 1px #eeeeee;margin-bottom:7px;">
                        <div ng-if="IsEdit" class = "form-inline">
                            <label>
                                Start Date : <strong>{{startdate |date}}</strong>,
                                End Date: <a ng-click="editEndDate()" title="Click to edit end date" style="text-decoration:none;"><strong>{{enddate |date}}</strong></a> ,
                               
                            </label>
                            @*<input type="text" name="routeEndDate" readonly="readonly" id="routeEndDate" placeholder="To Date" hidden ng-model="endDateToEdit">*@

                            <div class="input-group mb-3" id="editDiv" style="display:none;">
                                <input type="text" name="routeEndDate" readonly="readonly" id="routeEndDate" placeholder="To Date" ng-model="endDateToEdit">
                                <button class="btn btn-outline-secondary" type="button" ng-click="updateEndDate()">Update</button>
                            </div>

                        </div>
                        <div ng-if="notFromCalendar" style="color:#af4141;">
                            <label>
                                <strong>  Selected route is not set from calendar route.</strong>
                            </label>
                        </div>

                        @*<div class="col-md-4">
            <div ng-if="IsEdit">
                <label>
                    Start Date : <strong>{{startdate |date}}</strong>,
                    End Date: <a ng-click="editEndDate()" title="Click to edit end date"><strong>{{enddate |date}}</strong></a> ,
                </label>

            </div>
        </div>
        <div class="col-md-4">
            <input type="text" name="routeEndDate" readonly="readonly" id="routeEndDate" placeholder="To Date" hidden ng-model="endDateToEdit">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <input type="text" name="routeEndDate" readonly="readonly" id="routeEndDate" placeholder="To Date" hidden ng-model="endDateToEdit">
            </div>
        </div>
        <div class="col-md-4">
            <div ng-if="notFromCalendar" style="color:#af4141;">
                <label>
                    <strong>  Selected route is not set from calendar route.</strong>
                </label>
            </div>
        </div>*@

                    </div>

                    @*<div id='external-events1' >
                                <div ng-show="showroutelistdiv" id='external-events' style="float:left;">
                                    <div class="sidebar-route">
                                        <input type="text" name="search" ng-model="search.$" class="input_search" ng-change="
                    refreshCalender()" placeholder="Search sales route list" />
                                        <h4>Sales Route List</h4><hr style="margin:10px 0;" />
                                        <div ng-show="routeList.length > 0" class='event fc-event' value="{{item.ROUTE_CODE}}" ng-repeat="item in routeList | filter:search">{{item.ROUTE_NAME}}-({{item.ROUTE_CODE}})</div>
                                        <div ng-show="routeList.length <= 0">
                                            <label style="opacity: 0.5;">there is no any route</label>
                                        </div>
                                    </div>

                                </div>

                                <div id="calendar" class="span8 calendar calendar-sliim" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar"></div>
                            </div>*@



                    <div class="row">

                        <div id="splitter">
                            <div id="pane1">
                                <div class="portlet box green-box">
                                    <div class="portlet-title">


                                    </div>
                                    <div class="portlet-body">
                                        <div class="row">
                                            <div id='external-events1'>
                                                <div ng-show="showroutelistdiv" id='external-events'>
                                                    <div class="sidebar-route">
                                                        <input type="text" name="search" ng-model="search.$" class="form-control input_search" style="margin-left:0px !important;width: 90% !important" ng-change="refreshCalender()" placeholder="Search sales route list" />
                                                        <h4>Sales Route List</h4><hr style="margin:10px 0;" />
                                                        <div ng-show="routeList.length > 0" class='event fc-event' value="{{item.ROUTE_CODE}}" ng-repeat="item in routeList | filter:search">
                                                            {{item.ROUTE_NAME}}-({{item.ROUTE_CODE}})
                                                        </div>
                                                        <div ng-show="routeList.length <= 0">
                                                            <label style="opacity: 0.5;">there is no any route</label>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div>
                                <div id="calendar" class="span8 calendar calendar-sliim" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




    </div>
</div>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/Scripts/DateFilter.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/JS/ReportFilter.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            DateFilter.init();
            //$scope.calendar.fullCalendar('refetchEvents');
            $("#ddlDateFilterVoucher, #ToDateVoucher, #FromDateVoucher").on('change', function () {
                //$("#calendar").fullCalendar('destroy');
                angular.element(document.getElementById('calendarRouteCtrl')).scope().clearEventOfCalendar();
                angular.element(document.getElementById('calendarRouteCtrl')).scope().initCalendar();
            });
            //setTimeout(function () {
            //    $("#calendar").fullCalendar('destroy');
            //}, 100);

            //$("#external-events").slimScroll({
            //    height: 450,

            //});
            //$("#ToDateVoucher").datepicker({
            //    dateFormat: 'yy-M-d', changeMonth: true,
            //    changeYear: true,
            //    showButtonPanel: true,
            //});

            //$("#routeEndDate").datepicker({
            //    orientation: "top auto",
            //    startDate: '-3d'
            //});
        });
    </script>
    <script>


        $("#splitter").kendoSplitter()
        var splitter = $("#splitter").data("kendoSplitter");
        splitter.size(".k-pane:first", "25%");
       
        splitter.max("#pane1", "700px");
        


        $('.tblresponsive').slimScroll({
            height: '150px',
        });

    </script>
