
@{
    ViewBag.Title = "Create Target Setup";
    //Layout = "~/Areas/NeoERP.Planning/Views/Shared/_Layout.cshtml";
}
<style>

    .k-splitter {
        height: 460px !important;
    }
    .k-dropdown {
        position: relative; /* Ensure the Kendo dropdown is positioned */
        z-index: 1000; /* Set the desired z-index value */
    }
    #external-events {
        /*float: left !important;*/
        padding: 0 10px;
        border: 1px solid #ccc;
        /*background: #eee;*/
        /*text-align: left;*/
        /*width: 14%;*/
        /*height: 450px;*/
    }
    .target-type-container {
        display: flex;
        flex-wrap: wrap;
    }

    .radio-option {
        display: flex;
        align-items: center; 
        margin-right: 15px; 
    }

        .radio-option label {
            margin-left: 5px; 
        }

        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }

        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            /*color: #666;*/
        }

    .calendar-sliim {
        /*max-height:900px;
        overflow-y:auto;*/
    }


    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar {
        float: left;
        width: 81%;
        padding-left: 1%;
        position: absolute;
        left: 15%;
    }

    .md-radio-inline div {
        display: inline-block;
    }
    input[type=checkbox], input[type=radio] {
        margin: -5px 0 0;
        line-height: normal;
    }
    .md-radio-inline .has-error {
        margin-right: 10px;
    }

    .TriSea-technologies-Switch > input[type="checkbox"] {
        display: none;
    }

    .TriSea-technologies-Switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

        .TriSea-technologies-Switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }

        .TriSea-technologies-Switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }

    .dateFilterSelect.form-control {
        font-size: 11px !important;
        height: 24px !important;
        padding: 0 5px !important;
    }

    .form-horizontal .control-label {
        padding-top: 3px !important;
    }

    .slimScrollDiv {
        width: 14%;
    }

    .sidebar-route {
        max-height: 500px;
        overflow-y: auto;
    }


    #external-events1 {
        /*max-height: 450px;*/
        overflow: hidden;
    }

    input.input_search {
        width: 130px !important;
        font-size: 11px !important;
        margin-top: 5px;
        margin-left: -5px;
    }

    .fc-today {
        background: #FFBF00 !important;
    }
</style>
<div class="row">
    <div class="col-md-12 common" id="TargetSetup">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">{{add_edit_option == "New" ? "Edit" : "New"}} Target Setup</span>
                    <span class="caption-helper"></span>
                </div>
                <div class="actions pull-right">
                    <div class="btn-group" style="margin-top:10px;">
                        <input id="avatar" type="file" name="avatar" style="width:185px;" />
                    </div>
                    <div class="btn-group">
                        <a href="javascript:void(0)" id="uploadExcel" class="pull-right btn btn-circle btn-icon-only btn-default">
                            <i class="fa fa-upload"></i>
                        </a>
                    </div>

                    <a href="~/PlanExcell/CalendarRouteSetup/RouteSetupTemplate.xlsx" download>
                        <i class="fa fa-file-excel-o"></i>
                    </a>

                    @*<input type="text" name="routeEndDate" class="form-control frmDataInput" readonly="readonly" id="routeEndDate" placeholder="To Date">*@
                    <button type="button" ng-click="cancelCalendarWiseRoute()" class="btn btn-circle btn-default btn-sm"><i class="fa fa-times"></i> Cancel</button>
                    <button type="submit" ng-click="saveCalendarWiseRoute()" class="btn btn-circle btn-green btn-sm"><i class="fa fa-save"></i> Save</button>
                    <button type="submit" ng-click="AddEditOption()" class="btn btn-circle btn-green-light btn-sm"><i class="fa fa-edit"></i> Go To {{add_edit_option}}</button>
                </div>
            </div>
            <div class="portlet-body clearfix">

                <div class="route_plan">
                    <form id="targetForm" name="targetForm">
                        <div class="row">
                            <div ng-show="IsEdit" class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Route Plan Name<span style="color:red" ng-show="targetForm.planName.$invalid">
                                                    <span ng-show="targetForm.planName.$error.required">*</span>
                                                </span>
                                            </label>
                                            <input type="text" name="planName" class="form-control input-sm" ng-model="planName" readonly required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Route Plan List
                                            </label>
                                            <select id="routeList" kendo-drop-down-list style="width: 100%" k-options="routeListOptions"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Target Type
                                            </label>
                                            <div class="target-type-container">
                                                <div class="radio-option" ng-repeat="type in targetTypes">
                                                    <input type="radio" id="targetType" name="targetType" ng-model="selectedTarget" ng-value="type" ng-click="onTargetTypeChange(type)" required />
                                                    <label for="targetType_{{type.value}}">{{type.text}}</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-show="shouldShowSubTargetType">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Sub Target Type<span style="color:red" ng-show="targetForm.subTarget.$invalid">*</span>
                                            </label>
                                            <select id="subTargetType" k-ng-model="selectedSubTarget" kendo-drop-down-list k-options="subTargetTypeOptions" style="width: 100%">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6" ng-show="showIndividualType">
                                        <div class="form-group">
                                            <label class="control-label">Group<span style="color:red" ng-show="targetForm.group.$invalid">*</span></label>
                                            <select id="itemGroup" k-ng-model="selectedItmGroup" k-options="itemGroupOptions" kendo-multi-select style="width: 100%"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-show="showEmpType">
                                        <div class="form-group">
                                            <label class="control-label">Group<span style="color:red" ng-show="targetForm.group.$invalid">*</span></label>
                                            <select id="empGroup" k-ng-model="selectedEmpGroup" k-options="employeeGroupOptions" kendo-multi-select style="width: 100%"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-show="showIndividualType">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Individual<span style="color:red" ng-show="targetForm.individual.$invalid">*</span>
                                            </label>
                                            <select id="individual" k-ng-model="selectedIndividual" kendo-multi-select k-options="individualOptions" style="width: 100%">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Employees List<span style="color:red" ng-show="targetForm.employee.$invalid">*</span>
                                            </label>
                                            <select id="employees" name="employee" ng-model="employees" kendo-multi-select k-options="employeeOptions" style="width: 100%" required>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label for="customday">Freq In Days</label>
                                            <input type="number" id="customday" name="customday" min="1" ng-model="customfrequencyday" class="form-control input-sm" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-3">
                                        <div class="form-group">
                                            <label for="frequencyWiseRouteAssign">Auto-fill Frequency</label>
                                            <div class="TriSea-technologies-Switch">
                                                <input id="frequencyWiseRouteAssign" name="frequencyWiseRouteAssign" type="checkbox" ng-model="frequencyWiseRouteAssign" value="yes" />
                                                <label for="frequencyWiseRouteAssign" class="label-primary"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="!IsEdit" class="col-md-4">
                                <div class="form-group">
                                    <div class="btn-group">
                                        @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>


                    <!--<div style="border-bottom:solid 1px #eeeeee;margin-bottom:7px;">
                        <div ng-if="IsEdit" class="form-inline">
                            <label>
                                Start Date : <strong>{{startdate |date}}</strong>,
                                End Date: <a ng-click="editEndDate()" title="Click to edit end date" style="text-decoration:none;"><strong>{{enddate |date}}</strong></a> ,

                            </label>-->
                            @*<input type="text" name="routeEndDate" readonly="readonly" id="routeEndDate" placeholder="To Date" hidden ng-model="endDateToEdit">*@

                            <!--<div class="input-group mb-3" id="editDiv" style="display:none;">
                                <input type="text" name="routeEndDate" readonly="readonly" id="routeEndDate" placeholder="To Date" ng-model="endDateToEdit">
                                <button class="btn btn-outline-secondary" type="button" ng-click="updateEndDate()">Update</button>
                            </div>

                        </div>
                        <div ng-if="notFromCalendar" style="color:#af4141;">
                            <label>
                                <strong>  Selected route is not set from calendar route.</strong>
                            </label>
                        </div>

                    </div>-->
                    <div class="row">

                    </div>
                </div>

            </div>
        </div>




    </div>
</div>
<script src="@Scripts.Url("~/Areas/NeoERP.Planning/Scripts/DateFilter.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/JS/ReportFilter.js")" type="text/javascript"></script>

<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            DateFilter.init();
            //$scope.calendar.fullCalendar('refetchEvents');
            $("#ddlDateFilterVoucher, #ToDateVoucher, #FromDateVoucher").on('change', function () {
                //$("#calendar").fullCalendar('destroy');
                angular.element(document.getElementById('calendarRouteCtrl')).scope().clearEventOfCalendar();
                angular.element(document.getElementById('calendarRouteCtrl')).scope().initCalendar();
            });
        });
</script>

