@{
    var myAreaName = string.Empty;
    object areaObj;
    Layout = null;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
}
<style>
    legend {
        width: 17%;
    }

    .btn-xs {
        padding: 0px 5px;
    }

    .portlet.light.bordered.main {
        min-height: 550px !important;
    }

    a.btn.btn-xs {
        color: grey;
    }

    #GRNCtrl input[type="text"] {
        font-size: 11px !important;
    }

    #GRNCtrl input [type="checkbox"] {
        height: auto !important;
    }

    div#grid {
        height: 500px;
    }

    .required {
        color: #b94a48;
    }

    i.fa.fa-file-image-o.image {
        margin: 1px;
    }

    .image-placeholder > img {
        display: inline;
        margin: 1px;
        height: 40px;
        width: 40px;
    }

    .form-group.image-placeholder > div {
        display: inline-block;
        float: left;
        width: 78px;
    }

    .k-grid-content.k-auto-scrollable {
        height: 400px !important;
    }

    .main .k-dropdown-wrap {
        height: 21px;
        font-size: 12px;
    }

    .actionbutton i {
        color: #666;
        border: solid #ddd 1px;
        padding: 0px 3px;
        font-size: 10px;
        margin-right: 2px;
    }

    .k-clear-value {
        display: none;
    }

    span.k-icon.k-i-loading {
        display: none;
    }

    .reload {
        margin-top: 30px;
    }

    .tooltip {
        font-size: 9px !important;
        color: red;
    }

    .shipmet_details {
        background-color: #ded9d9;
        margin: 0px 0px 8px 0px;
        padding-top: 5px;
        box-shadow: 2px 2px 2px #c5bebe;
        -moz-box-shadow: 2px 2px 2px #c5bebe;
        -o-box-shadow: 2px 2px 2px #c5bebe;
        -webkit-box-shadow: 2px 2px 2px #c5bebe;
    }

        .shipmet_details .form-group {
            padding-bottom: 5px !important;
            margin-bottom: 0px !important;
        }

    .legend_head {
        font-size: 16px;
        width: auto;
        padding-left: 4px;
        padding-right: 4px;
        font-weight: 600;
    }

    .main_div .k-picker-wrap.k-state-default {
        height: 22px;
    }

    .main_div .k-icon.k-i-warning {
        display: none;
    }

    .main_div .k-icon.k-i-calendar {
        margin-top: -5px !important;
        display: inline-block;
    }

    .main_div input.form-control {
        height: 24px;
    }

    .main_div .k-widget.k-datepicker.k-header {
        width: 100%;
    }

    .buttonbox {
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin: 0px;
        padding: 0px 5px;
    }

    .diviberbox {
        box-shadow: 5px 5px 5px -2px #ddd;
        margin-bottom: 30px;
        border: solid 1px #ddd;
        padding: 8px;
        background-color: #f5f4f4;
    }
</style>
<div ng-app="myApp">
    <div ng-controller="GrnCtrl" id="GrnCtrl">
        <div class="portlet light bordered main">
            <div class="portlet-title titleheading">
                <i class="fa fa-list-alt fontgreen"></i>
                <span class="caption-subject fontgreen bold uppercase">
                  GRN
                </span>
                <span class="pull-right" ng-show="!showFormPanel">
                  <button type="button" id="addTarget" name="addTarget" ng-click="ADDGRN()" class="btn buttongreen btn-sm">[+] Add</button>
                </span>

                <span class="pull-right" ng-show="showFormPanel">
                    <button type="submit" id="EditContent" name="EditContent" ng-hide="ContentModal" ng-click="EditContent()" class="btn btn-default btn-sm" data-toggle="modal" data-target="#ContentModal"> Edit Content</button>
                    <button type="button" id="cancelci" name="cancelci" class="btn btn-default btn-sm" ng-click="cancelGRN();">Cancel</button>
                    <button type="reset" id="saveandcontinue" name="saveandcontinue" class="btn btn-success btn-sm" ng-disabled="disablesave" ng-click="AddUpdateGRN(GRNForm.$valid,'saveandcontinue')">{{scAction}}</button>
                    <button type="submit" id="saveshipment" name="saveshipment" ng-disabled="disablesave" ng-click="AddUpdateGRN(GRNForm.$valid,'save')" class="btn buttongreen btn-sm">{{saveAction}}</button>
                </span>

            </div><!-- /portlet-title-->





            <div class="portlet-body main_div">
                <form id="GRNForm" name="GRNForm" novalidate>
                  <div ng-show="showFormPanel">
                      <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label">
                                    Invoice Number<span style="color:red" ng-show="GRNForm.cinvoiceno.$invalid">
                                        <span ng-show="GRNForm.cinvoiceno.$error.required">*</span>
                                    </span>
                                </label>
                                <input id="invoiceNumber" ng-model="GRN.INVOICE_CODE" name="cinvoiceno" kendo-auto-complete
                                       k-data-text-field="'INVOICE_NUMBER'"
                                       k-data-value-field="'INVOICE_CODE'"
                                       k-data-source="ipPurchaseOrder"
                                       k-min-length="1"
                                       k-on-change="InvoiceNoOnChange(kendoEvent)"
                                       k-value-primitive="true"
                                       k-placeholder="'Select Commercial Number...'"
                                       k-ng-disabled="disableCI"
                                       style="width: 100%" required />

                            </div>
                        </div>
                     
                      </div>
                      <div class="row" ng-show="showForm">
                            
                 
                          <div class="col-sm-6 col-md-3">
                              <div class="form-group">
                                  <label class="control-label">
                                      PP Number
                                      <span style="color:red" ng-show="GRNForm.PP_NO.$invalid">
                                          <span ng-show="GRNForm.PP_NO.$error.required">*</span>
                                      </span>
                                  </label>
                                  <input type="text" id="PP_NO" name="PP_NO" ng-model="GRN.PP_NO" ng-disabled="!check_PP_NO" class="form-control input-sm" required />

                              </div>
                          </div>
                          <div class="col-sm-6 col-md-3">
                              <div class="form-group">
                                  <label class="control-label">
                                      PP Recieve Date
                                      <span style="color:red" ng-show="GRNForm.PP_RECEIEVE_DATE.$invalid">
                                          <span ng-show="GRNForm.PP_RECEIEVE_DATE.$error.required">*</span>
                                      </span>
                                  </label>
                                  <input type="text" id="PP_RECEIEVE_DATE" name="PP_RECEIEVE_DATE" autocomplete="off" class="form-control maskdate" ng-disabled="!check_PP_RECEIEVE_DATE" ng-model="GRN.PP_RECEIEVE_DATE" @*ng-change="LoadCIInfo()"*@ required />

                              </div>
                          </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        GRN Number<span style="color:red" ng-show="GRNForm.GRN_NO.$invalid">
                                            <span ng-show="GRNForm.GRN_NO.$error.required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" id="GRN_NO" name="GRN_NO" ng-model="GRN.GRN_NO" ng-disabled="!check_GRN_NO"  class="form-control input-sm" required />

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        GRN Date
                                        <span style="color:red" ng-show="GRNForm.GRN_DATE.$invalid">
                                            <span ng-show="GRNForm.GRN_DATE.$error.required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" id="GRN_DATE" name="GRN_DATE" autocomplete="off" class="form-control maskdate" ng-disabled="!check_GRN_DATE"  ng-model="GRN.GRN_DATE" required />

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Commercial Amount   <span style="color:red" ng-show="GRNForm.CI_AMOUNT.$invalid">
                                            <span ng-show="GRNForm.CI_AMOUNT.$error.required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" id="CI_AMOUNT" name="CI_AMOUNT" ng-model="GRN.CI_AMOUNT" ng-change="GETOTALAMOUNT()"  ng-disabled="!check_CI_AMOUNT" class="form-control input-sm" required />

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Currency<span style="color:red" ng-show="GRNForm.CURRENCY.$invalid">
                                            <span ng-show="GRNForm.CURRENCY.$error.required">*</span>
                                        </span>
                                    </label>
                                    <select id="CURRENCY" k-value-primitive="true" k-ng-model="GRN.CURRENCY" ng-model="GRN.CURRENCY" ng-disabled="!check_CURRENCY" name="CURRENCY" kendo-drop-down-list style="width: 100%"
                                            k-options="currencylist" required></select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Exchange Rate<span style="color:red" ng-show="GRNForm.EXCHANGE_RATE.$invalid">
                                            <span ng-show="GRNForm.EXCHANGE_RATE.$error.required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" id="EXCHANGE_RATE" name="EXCHANGE_RATE" ng-model="GRN.EXCHANGE_RATE" ng-change="GETOTALAMOUNT()" ng-disabled="!check_EXCHANGE_RATE"  class="form-control input-sm" required />

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Total Amount<span style="color:red" ng-show="GRNForm.DERIVED_TOTAL_AMOUNT.$invalid">
                                            <span ng-show="GRNForm.DERIVED_TOTAL_AMOUNT.$error.required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" id="DERIVED_TOTAL_AMOUNT" name="DERIVED_TOTAL_AMOUNT" ng-model="GRN.DERIVED_TOTAL_AMOUNT" ng-disabled="!check_DERIVED_TOTAL_AMOUNT" class="form-control input-sm" required />

                                </div>
                            </div>
                        </div>
                    </div>
                </form>



               
                <div class="clearfix">
                </div>
                <kendo-grid id="grid" class="commercialgrid" options="mainGridOptions" k-rebind="mainGridOptions" style="margin-top:10px;">
                </kendo-grid>
                @Html.Partial("~/Views/Shared/Controls/_GridToolbar.cshtml")


            </div>
        </div><!--/portlet-body-->
        <div class="modal fade" id="ContentModal" role="dialog">
            <div class="modal-dialog inputcontent">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Enable/Disable</h4>
                    </div>
                    <div class="modal-body">
                        <!------------------------------------------For All Enable/Disable------------------------------------>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="checkbox" ng-change='AllcheckboxEnableDisable()' id="Allcheckbox" ng-model="Allcheckbox" />
                                All
                            </div>
                        </div>
                        <!------------------------------------------For Plan shippment-------------------------------------->
                        <div>

                            <input type="checkbox" ng-model="check_PP_RECEIEVE_DATE" class="enabledisable" />
                            PP Recieved Date <br>

                            <input type="checkbox" ng-model="check_PP_NO" class="enabledisable" />
                            PP Number <br>

                            <input type="checkbox" ng-model="check_GRN_NO" class="enabledisable" />
                            GRN Number <br>

                            <input type="checkbox" ng-model="check_GRN_DATE" class="enabledisable" />
                            GRN Date <br>

                            <input type="checkbox" ng-model="check_CI_AMOUNT" class="enabledisable" />
                            CI Amount <br>

                            <input type="checkbox" ng-model="check_CURRENCY" class="enabledisable" />
                            Currency<br>
                            <input type="checkbox" ng-model="check_EXCHANGE_RATE" class="enabledisable" />
                            Exchange Rate <br>

                            <input type="checkbox" ng-model="check_DERIVED_TOTAL_AMOUNT" class="enabledisable" />
                            Total Amount <br>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                        </div>
                    </div>

                </div>
            </div>
            <!--container end -->
        </div>
    </div><!-- /portlet-->
   
</div>


<script>
    $('.nav-tabs a').on('click', function (e) {
        e.preventDefault();
    });
  

  

</script>



<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>

