@{
    var actionPageId = "VisitMapDetailHeatmaptest";
    var myAreaName = "NeoErp.Distribution";

}

        <div class="col-md-12 column sortable">
            <div class="portlet portlet-sortable  light bordered" id="@actionPageId">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-haze"></i>
                        <span class="caption-subject bold uppercase font-green-haze custom-modal">Sales HeatMap</span>
                    </div>
                    <div class="tools">
                    
                        <a data-target="#Model_@actionPageId" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body-1">
                    <div class="k-content wide">
                        <div class="panel-body1">
                            <div id="map-canvas" style="width:100%; height:500px;" > </div>

                            <!-- the draggable input and display controls -->
                            <div id="draggable">
                                <div id="project"></div>
                                <input type="file" id="csv-file" name="files" style="display:none" />

                                <div id="radius-label">radius: 20</div>
                                <div id="radius-slider"></div>

                                <div id="opacity-label">opacity: 0.5</div>
                                <div id="opacity-slider"></div>

                                <div id="max-label">max: -</div>
                                <div id="max-slider"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="portlet portlet-sortable-empty"> </div>
        </div>
        @*@Html.Partial("_PartialDashboard.cshtml", new DashboardViewModel()
    {
        AllchartList = ViewBag.widgetsAll as List<string>,
        chartList= ViewBag.widgets as List<string>
    })*@
  

<link href='http://fonts.googleapis.com/css?family=Open+Sans|Raleway' rel='stylesheet' type='text/css'>
<style>
    #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
        font-family: 'Raleway', sans-serif;
        z-index: 1;
    }

    #draggable {
        z-index: 100;
        background-color: rgba(200,200,255,.7);
        width: 250px;
        padding: 20px;
        position: absolute;
          top: 247px;
    left: 60px;
        cursor: move;
        border: black 1px solid;
    }

    #radius-label, #opacity-label, #max-label {
        margin-top: 10px;
    }

    #radius-slider, #opacity-slider, #max-slider {
        /*width: 250px;*/
        margin-top: 10px;
    }

    #project {
        font-size: 10pt;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #radius-slider .ui-slider-handle,
    #opacity-slider .ui-slider-handle,
    #max-slider .ui-slider-handle {
        cursor: pointer;
    }
</style>
@*<script defer src='@Scripts.Url("~/Areas/"+myAreaName+"/js/papaparse.min.js")'></script>*@
@*<script src="./papaparse.min.js"></script>*@
@*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>*@



<script>
		var map, pointarray, heatmap;
		var csv = [];
		handleFileSelect();
		//$("#csv-file").change(handleFileSelectCSV);
		$("#draggable").draggable();
		initialize();
		//google.maps.event.addDomListener(window, 'load', initialize);
		$("#radius-slider").slider({
		    orientation: "horizontal",
		    range: "min",
		    min: 1,
		    max: 50,
		    value: 20,
		    slide: function (event, ui) {
		        $("#radius-label").html("radius: " + ui.value);
		        if (heatmap == null) return;
		        heatmap.set('radius', ui.value);
		    }
		});

		$("#opacity-slider").slider({
		    orientation: "horizontal",
		    range: "min",
		    min: 0,
		    max: 100,
		    value: 50,
		    slide: function (event, ui) {
		        $("#opacity-label").html("opacity: " + ui.value / 100);
		        if (heatmap == null) return;
		        heatmap.set('opacity', ui.value / 100);
		    }
		});

		$("#max-slider").slider({
		    orientation: "horizontal",
		    range: "min",
		    min: 0,
		    max: 1,
		    value: 0,
		    slide: function (event, ui) {
		        $("#max-label").html("max: " + numberWithCommas(ui.value));
		        if (heatmap == null) return;
		        heatmap.set('maxIntensity', ui.value);
		    }
		});
		function numberWithCommas(x) {
				return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}

		function handleFileSelect(evt) {

		    $.ajax({
		        url: window.location.protocol + "//" + window.location.host + "/api/Distribution/GetCustomerSales",
		        type: "POST",
		       // data: JSON.stringify(report),
		        dataType: "json",
		        traditional: true,
		        contentType: "application/json; charset=utf-8",
                success: function (response) {
                    console.log("visitHeatmap",csv);
		            var max = 0;
		            csv = [];
                    for (var i = 0; i < response.length; i++) {
                        if (response[i].LATITUDE != null) {
                            max = Math.max(max, response[i].sales);
                            csv.push({
                                location: new google.maps.LatLng(response[i].LATITUDE, response[i].LONGITUDE),
                                weight: response[i].sales
                            });
                        }
		              
		            }
                    console.log("visitHeatmapcr",csv);
		            loadHeatmap(csv);

		                $("#max-label").html("max: "+numberWithCommas(max));
		                $("#max-slider").slider("option","max",max);
		                $("#max-slider").slider("option","value",max);
		        },
		        error: function () {

		        }
		    });

			//var file = evt.target.files[0];

			//Papa.parse(file, {
			//	header: true,
			//	dynamicTyping: true,
			//	complete: function(results) {
			//		csv = [];

			//		if(results.meta.fields.indexOf("weight") == -1) {
			//			for(idx in results["data"]) {
			//				var row = results["data"][idx];
			//				csv.push(new google.maps.LatLng(row["lat"], row["lon"]))
			//			}
			//		} else {
			//			var max = results["data"][0]["weight"];

			//			for(idx in results["data"]) {
			//				var row = results["data"][idx];

			//				max = Math.max(max, row["weight"]);

			//				csv.push({
			//					location: new google.maps.LatLng(row["lat"], row["lon"]),
			//					weight: row["weight"]
			//				});
			//			}

			//			$("#max-label").html("max: "+numberWithCommas(max));
			//			$("#max-slider").slider("option","max",max);
			//			$("#max-slider").slider("option","value",max);
			//		}

			//		console.log(results);

			//		loadHeatmap(csv);
			//	}
			//});
		}

		function handleFileSelectCSV(evt) {

		  
		    var file = evt.target.files[0];

		    Papa.parse(file, {
		    	header: true,
		    	dynamicTyping: true,
		    	complete: function(results) {
		    		csv = [];

		    		if(results.meta.fields.indexOf("weight") == -1) {
		    			for(idx in results["data"]) {
		    				var row = results["data"][idx];
		    				csv.push(new google.maps.LatLng(row["lat"], row["lon"]))
		    			}
		    		} else {
		    			var max = results["data"][0]["weight"];

		    			for(idx in results["data"]) {
		    				var row = results["data"][idx];

		    				max = Math.max(max, row["weight"]);

		    				csv.push({
		    					location: new google.maps.LatLng(row["lat"], row["lon"]),
		    					weight: row["weight"]
		    				});
		    			}

		    			$("#max-label").html("max: "+numberWithCommas(max));
		    			$("#max-slider").slider("option","max",max);
		    			$("#max-slider").slider("option","value",max);
		    		}

		    		console.log(results);

		    		loadHeatmap(csv);
		    	}
		    });
		}

		function initialize() {
		  var mapOptions = {
		      zoom: 7,
		      fullscreenControl: true,
		      //minZoom: 7,
		      //maxZoom: 25 ,
			center: new google.maps.LatLng(28.43443095421775, 84.20351049414055),
            mapTypeId: google.maps.MapTypeId.satellite
		  };

		  map = new google.maps.Map(document.getElementById('map-canvas'),
			  mapOptions);
		}

		function loadHeatmap(csv) {
			var pointArray = new google.maps.MVCArray(csv);

			if(heatmap) heatmap.setMap(null);

			heatmap = new google.maps.visualization.HeatmapLayer({
				data: pointArray,
				radius: $("#radius-slider").slider("value"),
				opacity: $("#opacity-slider").slider("value")
			});

			heatmap.setMap(map);
		}

		//$(document).ready(function(){
		//	$("#csv-file").change(handleFileSelect);

		//	google.maps.event.addDomListener(window, 'load', initialize);

		//	$(function() {
		//		$( "#draggable" ).draggable();
		//	});

		//	$(function() {
		//		$( "#radius-slider" ).slider({
		//			orientation: "horizontal",
		//			range: "min",
		//			min: 1,
		//			max: 50,
		//			value: 20,
		//			slide: function(event, ui) {
		//				$("#radius-label").html("radius: " + ui.value);
		//				if(heatmap == null) return;
		//				heatmap.set('radius', ui.value);
		//			}
		//		});

		//		$( "#opacity-slider" ).slider({
		//			orientation: "horizontal",
		//			range: "min",
		//			min: 0,
		//			max: 100,
		//			value: 50,
		//			slide: function(event, ui) {
		//				$("#opacity-label").html("opacity: " + ui.value/100);
		//				if(heatmap == null) return;
		//				heatmap.set('opacity', ui.value/100);
		//			}
		//		});

		//		$( "#max-slider" ).slider({
		//			orientation: "horizontal",
		//			range: "min",
		//			min: 0,
		//			max: 1,
		//			value: 0,
		//			slide: function(event, ui) {
		//				$("#max-label").html("max: " + numberWithCommas(ui.value));
		//				if(heatmap == null) return;
		//				heatmap.set('maxIntensity', ui.value);
		//			}
		//		});
		//	});
		//});
</script>