
@{
    ViewBag.Title = "Index";
    Layout = "_LayoutNew.cshtml";
}
<style>
    .page-bar {margin-bottom: 0px !important;
    }
</style>
<div class="page-content">
   
    
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/sales/SalesHome/Dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Sales Report</a>
                <i class="fa fa-angle-right"></i>
            </li>
          
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                @*@Html.Partial("~/Views/Shared/Controls/DateField.cshtml",false)*@
              
                @*<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    Actions <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Another action</a>
                    </li>
                    <li>
                        <a href="#">Something else here</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                </ul>*@
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-pin font-green"></i>
                        <span class="caption-subject bold uppercase">Sales Report</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)
                        </div>

                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                        </a>


                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                       

                        <div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
@section Scripts{
    <script>
         // DOM ready handler if needed
         $(function(){
              // Your Javascript/jQuery code here
         });
    </script>
}
