
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<script src="@Scripts.Url("~/Scripts/ngScript/Module.js")"></script>
<script src="@Scripts.Url("~/Scripts/ngScript/Service.js")"></script>
<script src="@Scripts.Url("~/Scripts/ngScript/Controller.js")"></script>
<script src="@Scripts.Url("~/Content/MainTheme/NotifyBar/jquery.notifyBar.js")"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="~/Scripts/ngScript/ui-bootstrap-tpls-2.1.3.min.js"></script>
<script src="~/Content/Kendo/kendoAllNew.js"></script>
<script src="~/Scripts/ngScript/angular ui select/select2.js"></script>
<style>
    div#changePasswordCtrl {
        margin-top: 15px;
    }
</style>

<div ng-app="erpApp">
    <div class="page-content-wrapper" id="changePasswordCtrl" ng-controller="changePasswordCtrl">
        <div class="col-md-12">
            <div class="main-contain-box">
                <div class="contain-title">
                    <h5>
                        <i class="fa fa-ticket ticketicon" aria-hidden="true"></i>
                        Password
                    </h5>
                </div>
                <div class="form-box">
                    <form name="ChangeUserPassword" novalidate ng-submit="SaveChangeUserPassword(UserViewModel,ChangeUserPassword.$valid)">
                        <div class="portlet light form-fit bordered11">
                            <div class="row">
                                <div class="col-md-offset-9 col-md-3">
                                    <div class="cancel-save pull-right">
                                        <button type="submit" id="SaveloginEntry" class="btn btn-d"> <i class="fa fa-floppy-o"></i>{{save}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">

                                <div class="row margin_gap">
                                    <div class="col-md-3 space" ng-class="{ 'has-error': ChangeUserPassword.username.$touched && ChangeUserPassword.username.$invalid}">
                                        <label for="username" class="col-md-3 control-label">
                                            User Name
                                            <span class="Mandatory" ng-messages="ChangeUserPassword.username.$error"
                                                  ng-if="ChangeUserPassword.username.$invalid">

                                                <span ng-message="required">*</span>

                                            </span>
                                        </label>
                                        <div class="col-md-9">
                                            <input type="text" id="username" name="username" ng-model="UserViewModel.username" class="form-control" style="width:100%;" ng-disabled="!(UserViewModel.username_disabled)" required />
                                        </div>

                                    </div>
                                    <div class="col-md-3 space" ng-class="{ 'has-error': ChangeUserPassword.password.$touched && ChangeUserPassword.password.$invalid}">

                                        <label for="password" class="col-md-3 control-label">
                                            Password
                                            <span class="Mandatory" ng-messages="ChangeUserPassword.password.$error"
                                                  ng-if="ChangeUserPassword.password.$invalid">
                                                <span ng-message="required">*</span>
                                            </span>
                                        </label>
                                        <div class="col-md-9">
                                            <input type="text" id="password" name="password" ng-model="UserViewModel.password" class="form-control" style="width:100%;" ng-disabled="!(UserViewModel.password_disabled)" required />
                                        </div>

                                    </div>
                                    <div class="col-md-3 space" ng-class="{ 'has-error': ChangeUserPassword.usertype.$touched && ChangeUserPassword.usertype.$invalid}">
                                        <label for="usertype" class="col-md-3 control-label">
                                            User Type
                                            <span class="Mandatory" ng-messages="ChangeUserPassword.usertype.$error"
                                                  ng-if="ChangeUserPassword.usertype.$invalid">

                                                <span ng-message="required">*</span>
                                            </span>
                                        </label>
                                        <div class="col-md-9">
                                            <input type="text" id="usertype" name="usertype" ng-model="UserViewModel.usertype" class="form-control" ng-disabled="!(UserViewModel.usertype_disabled)" required />
                                        </div>

                                    </div>
                                    <div class="col-md-3 space" ng-class="{ 'has-error': ChangeUserPassword.fullname.$touched && ChangeUserPassword.fullname.$invalid}">
                                        <label for="usertype" class="col-md-3 control-label">
                                            Full Name
                                            <span class="Mandatory" ng-messages="ChangeUserPassword.fullname.$error"
                                                  ng-if="ChangeUserPassword.fullname.$invalid">

                                                <span ng-message="required">*</span>
                                            </span>
                                        </label>
                                        <div class="col-md-9">
                                            <input type="text" id="fullname" name="fullname" ng-model="UserViewModel.fullname" class="form-control" ng-disabled="!(UserViewModel.fullname_disabled)" required />
                                        </div>

                                    </div>
                                </div>
                                <div class="row margin_gap">

                                    <div class="col-md-3 space ng-hide">
                                        <label for="usertype" class="col-md-3 control-label">
                                            User Number
                                            @*<span class="Mandatory" ng-messages="ChangeUserPassword.userno.$error"
                                                      ng-if="ChangeUserPassword.userno.$invalid">

                                                    <span ng-message="required">*</span>
                                                </span>*@
                                        </label>
                                        <div class="col-md-9">
                                            <input id="userno" name="userno" ng-model="UserViewModel.userno" />
                                        </div>

                                    </div>
                                    @*<div class="col-md-6 space" ng-class="{ 'has-error': ChangeUserPassword.usertypelist.$touched && ChangeUserPassword.usertypelist.$invalid}">
                                            <label for="usertypelist" class="col-md-3 control-label">
                                                User Code
                                                <span class="Mandatory" ng-messages="ChangeUserPassword.usertypelist.$error"
                                                      ng-if="ChangeUserPassword.usertypelist.$invalid">

                                                    <span ng-message="required">*</span>

                                                </span>
                                            </label>
                                            <div class="col-md-9">
                                                <input id="usertypelist" ng-model="crmloginentry.usertypelist" name="usertypelist" class="usertypelist musertypelist m" style="width: 98%;" kendo-drop-down-list
                                                       k-placeholder="'Select Customer Code'"
                                                       k-data-text-field="'USER_TYPE'"
                                                       k-data-value-field="'USER_NO'"
                                                       k-option-label="'Select User Type'"
                                                       k-filter="'contains'"
                                                       k-suggest="true"
                                                       k-data-source="UserTypeDataSource" required />
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12 dataserarch-input">
                    <input class=k-textbox type=text id="txtSearchString" ng-keyup="onSearch(this)" placeholder="enter search text..." />
                </div>
            </div>
            <div class="col-md-12">
                <kendo-grid id="kGrid" options="UserDetailsGridOptions">

                </kendo-grid>
            </div>
        </div>

    </div>
</div>


<style>
    .k-list.k-reset {
        max-height: 400px;
        overflow-y: auto;
    }

    .k-widget {
        padding-left: 0px !important;
    }
</style>


