@model NeoErp.Models.Common.DashboardViewModel
    @{ 
        Layout = null;
    }


    @{
        List<string>
   listChartAvailable_TD = new List<string>
       ();
        bool UserChartSettingAvailable = false;
        string fullWidth = string.Empty;
        if (TempData["AvailableChart"] != null)
        {
            listChartAvailable_TD = (List<string>)TempData["AvailableChart"];
            UserChartSettingAvailable = true;
            fullWidth = "full-width";
        }
        var list = Model.chartList;
        var allchartlist = Model.AllchartList;
        if (list != null && list.Count > 0)
        {
            foreach (var itemlist in list)
            {
                //if (listChartAvailable_TD.Contains(itemlist))
                //{
                string fullName = string.Empty;
                fullName = "~/Areas/NeoErp.sales.Module/Views/SalesHome/_" + itemlist + ".cshtml";
                    <div class="col-md-6 col-sm-6 col-lg-4 column sortable">
                        @try
                        {
                            @Html.Partial(fullName)
                            <div class="portlet portlet-sortable-empty"> </div>
                        }
                        catch { }
                    </div>
                //}
            }
            @*foreach (var item in listChartAvailable_TD)
            {
                if (!list.Contains(item))
                {
                    string fullName = string.Empty;
                    fullName = "~/Areas/NeoErp.sales.Module/Views/SalesHome/_" + item + ".cshtml";
                    <div class="col-md-6 col-sm-6 column sortable">
                        @try
                        {
                            @Html.Partial(fullName)
                            <div class="portlet portlet-sortable-empty"> </div>
                        }
                        catch { }
                    </div>
                }
            }*@
        }
        else if ((allchartlist != null && allchartlist.Count > 0))
        {
            foreach (var item in allchartlist)
            {
                string fullName = "~/Areas/NeoErp.sales.Module/Views/SalesHome/_" + item + ".cshtml";
                <div class="col-md-6 col-sm-6 col-lg-4 column sortable">
                    @try
                    {
                        @Html.Partial(fullName)
                        <div class="portlet portlet-sortable-empty"> </div>
                    }
                    catch { }
                </div>
            }
        }
        else
        {
            <script>
                $('div#divLoading').hide();
                $('#loadMore').hide();

            </script>
        }
    }
    @*}*@



