@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<style>
    body {
        background-color: #eef;
    }

    .Button {
        margin-top: 20px;
    }

    .md-radio-inline div {
        display: inline-block;
    }

    .md-radio-inline .has-error {
        margin-right: 10px;
    }

    .TriSea-technologies-Switch > input[type="checkbox"] {
        display: none;
    }

    .TriSea-technologies-Switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

        .TriSea-technologies-Switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }

        .TriSea-technologies-Switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }

    .PreferenceTab {
        margin-left: 0px;
        width: 70%;
    }

    .modal-footer {
        width: 70%
    }

    .ui-widget-header {
        background: none !important;
        border: none !important
    }

    .ui-tabs .ui-tabs-panel {
        width: 70%
    }

    .modal-footer {
        width: 70%
    }

    .green-box {
        background-color: #44A12F;
    }

    .portlet > .portlet-title > .caption > i {
        color: #fff;
    }

    .full-tab .ui-tabs-nav li.ui-tabs-active {
        background-color: #44A12F !important;
        border: 1px solid #44A12F !important;
    }

    .full-tab.ui-tabs .ui-tabs-nav li {
        min-height: 30px !important;
    }

    .full-tab.ui-tabs .ui-tabs-panel {
        padding: 5px 2px !important;
    }

    #PreferenceTab {
        padding: 10px 5px !important;
        border: solid #ddd 1px;
        margin-left: 3px;
    }

    .btn-green {
        background-color: #44A12F;
        color: #fff;
    }

    .label-success-green {
        background-color: #44A12F;
    }

    .label-success-light {
        background-color: #008000 !important;
    }

    .green-box .modal-footer {
        padding: 10px 0px !important;
    }

    .tab-box {
        margin-bottom: 0px !important;
    }

    .full-tab ul li a, .list-group ul li {
        font-size: 12px !important;
    }

    .full-tab .list-group-item {
        padding: 10px 10px !important;
        font-size: 12px !important;
    }

    .full-tab .list-group {
        margin-bottom: 5px
    }
</style>
<div ng-app="entitiesAapp">
    <div class="page-sidebar-wrapper" ng-controller="EntitiesCtrl">
        <div class="page-content DistMenuHeight">
            <div class="page-bar">
                <div class="row">
                    <div class="col-md-3 pull-right">
                        @*<div class="form-group has-feedback">
                            <input type="search" placeholder="Search..." ng-model="searchBox" class="search1 form-control">
                            <span class="search-icon glyphicon glyphicon-search form-control-feedback"></span>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="main-contain-box clearfix collapse in" id="demo">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet">
                            <div id="tabs" class="full-tab">
                                <ul>
                                    <li>
                                        <a href="#tabs-1">Module List</a>
                                    </li>
                                </ul>
                                <div id="tabs-1">
                                    <div class="portlet box green-box">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-equalizer"></i>
                                                <span class="caption-subject bold uppercase">Entities Setup</span>
                                            </div>
                                        </div>
                                        <div >
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="entity in entities" style="background-color:#eee;">
                                                    {{entity.FriendlyName}}
                                                    <div class="TriSea-technologies-Switch pull-right">
                                                        <button class="btn btn-green btn-sm" ng-click="addDefaultValue(entity.RouteName)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." type="submit" style="margin-top:-4px;">Set Default Value</button>
                                                    </div>
                                                    <div class="TriSea-technologies-Switch pull-right" style="margin-right: 3px;">
                                                        <button class="btn btn-green btn-sm" ng-click="createEntities($event,entity.RouteName)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." type="submit" style="margin-top:-4px;">Create</button>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#tabs").tabs({
        activate: function (event, ui) {
            var active = $('#tabs').tabs('option', 'active');
        }
    });
    var module = angular.module('entitiesAapp', []);
    module.service('EntitiesService', ['$http', function ($http) {
        var urlBase = window.location.protocol + "//" + window.location.host + "/api/QueryBuilder/GetModuleList";
        //simply returns the entities list
        this.list = function () {
            return $http.get(urlBase);
        }
    }]);

    module.controller('EntitiesCtrl', function ($scope, EntitiesService) {
        $scope.entities;
        EntitiesService.list().then(function (result) {
            $scope.entities = result.data.data;
        });;
        var createAllTableAjaxCall = function (systemName,$this) {
            var url = window.location.protocol + "//" + window.location.host + "/api/Main/CreateEntities?systemName=" + systemName;
            $.ajax({
                url: url,
                type: "GET",
                dataType: 'html',
                async: false,
                contentType: "application/json; charset=utf-8",
                beforeSend: function (xhr, opts) {
                    $($this).button('loading');
                    $(".portlet-title .btn").attr("disabled", "disabled");
                },
                success: function (data) {
                    if (JSON.parse(data).COUNT > 0)
                        displayPopupNotification(JSON.parse(data).MESSAGE, "success");
                    else {
                        displayPopupNotification("All the entities are already created.", "success");
                    }
                    $($this).button('reset');
                    $(".portlet-title .btn").attr("disabled", false);
                },
                error: function (jqxhr) {
                    displayPopupNotification("There is an Server Error", "error");
                    $($this).button('reset');
                    $(".portlet-title .btn").attr("disabled", false);
                }
            });
        }
        $scope.createEntities = function ($event,systemName) {
            $($event.target).button('loading');
            setTimeout(function () {
                createAllTableAjaxCall(systemName, $event.target);
            }, 100);
        }
        $scope.addDefaultValue = function (systemName) {
            displayPopupNotification("Not implemented yet.", "warning");
        }

    });


</script>


