

<style>
    .page-content-wrapper .page-content {
        padding: 7px 20px 10px 20px !important;
    }

    a.k-button.k-button-icontext.k-grid-excel {
        float: right;
    }

    a.k-button.k-button-icontext.k-grid-pdf {
        float: right;
    }

    /*.page-bar {
        margin-bottom: 0px !important;
    }*/

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    /*#grid thead{
         font-size:11px;
    }*/
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    [data-toggle=buttons] > .btn .radio {
        display: none;
    }

    .AmountFigureType {
        position: absolute;
        bottom: 103px;
        right: 32px;
        font-weight: 600;
        font-family: sans-serif;
        font-size: 12px;
    }

    .DisplayFilterContent {
        position: absolute;
        bottom: 120px;
        right: 32px;
        font-weight: 400;
        font-family: sans-serif;
        font-size: 11px;
    }

    .column {
        margin-bottom: -68px;
    }
</style>
<div class="page-content-wrapper">
    <div class="page-content full-width">
        <div class="row">
            <div class="col-md-12">
                @Html.Action("InstalledPluginList")
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
@section Scripts{
    <script src='@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery-mixitup/jquery.mixitup.min.js")'></script>
    <script src='@Scripts.Url("~/Content/MainTheme/assets/admin/pages/scripts/portfolio.js")'></script>
    <script type="text/javascript">

    $(document).ready(function () {
        Portfolio.init();

        $('[data-toggle="tooltip"]').tooltip({ html: true });
    });
    </script>
}

@section Styles{
    <link href='@Styles.Url("~/Content/MainTheme/assets/admin/pages/css/portfolio.css")' rel="stylesheet" />
}