<style>
    .fontWeight {
        font-weight: 500 !important;
    }

    #BrandingActivityForm input.k-input.k-readonly {
        color: hsl(0, 0%, 70%) !important;
        font-size:11px !important
    }
    .tree_search {
        position: absolute;
        right: 8px;
        top: 9px;
        color: #ccc;
    }

    .treegroup_search input.form-control {
        height: 28px !important;
        margin-top: 4px;
        margin-left: -3px;
        font-size: 11px !important;
        padding: 0px 6px;
        border: solid #ddd 1px !important;
    }

    .treegroup_search {
        position: relative;
        margin-top: 2px;
    }
</style>

<script>
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>

<div class="content" ng-controller="BrandingActivityCtrl">
    <div class="page-bar">
        <ul class="page-breadcrumb"></ul>

        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <div class="actions">
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/_SetupConfig.cshtml", "BrandingActivity")
                    </div>
                    <div class="btn-group">
                        <div class="pull-right btn btn-circle btn-icon-only btn-default" title="Add Activity" id="saveClosingStockCreate" name="saveClosingStockCreate" ng-click="openModal();">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="treegroup_search search pull-right">
                <input type="text" class="form-control  grid-search" maxlength="64" placeholder="Search..." onkeyup="TreelistSearch()" />
                <i class=" fa fa-search tree_search"></i>
            </div>

            <div class="btn-group" style="margin-right:7px !important; display:none;">
                <div class="btn-group" style="margin-top:10px;">
                    <input id="avatar" type="file" name="avatar" style="width:185px;" />
                </div>
                <a href="javascript:void(0)" id="uploadExcel" class="pull-right btn btn-circle btn-icon-only btn-default">
                    <i class="fa fa-upload"></i>
                </a>
                <a target="_self" class="pull-right btn btn-circle btn-icon-only btn-default" href="~/Pictures/Distribution/Format/BrandingActivityFormat.xlsx" data-toggle="tooltip" title="Download Excel Format.." download>
                    <i class='fa fa-file-excel-o excelfile fontgreen' />
                </a>
            </div>
        </div>
    </div>

    <div id="brandingActivityCreateModel" class="modal modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="fa fa-list-alt"></span>
                        {{pageName }}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <form id="BrandingActivityForm" name="BrandingActivityForm" novalidate>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label fontWeight">
                                                Name<span style="color:red" ng-show="BrandingActivityForm.Activity.$invalid">
                                                    <span ng-show="BrandingActivityForm.Activity.$error.required">*</span>
                                                </span>
                                            </label>
                                            <input id="Activity" ng-model="Activity" name="Activity" class="form-control input-sm" placeholder="Activity name" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label fontWeight">
                                                Activity Type <span style="color:red" ng-show="BrandingActivityForm.barndingActivityType.$invalid">
                                                    <span ng-show="BrandingActivityForm.barndingActivityType.$error.required">*</span>
                                                </span>
                                            </label>
                                            <select id="barndingActivityType" name="barndingActivityType" ng-model="barndingActivityType" multiple="multiple" class="multiselect-drop" required>
                                                <option value="BTL">BTL</option>
                                                <option value="ATL">ATL</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group Custom_District">
                                            <div class="form-group">
                                                <label class="control-label fontWeight">
                                                    Group Flag<span style="color:red" ng-show="BrandingActivityForm.groupActivityFlag.$invalid">
                                                        <span ng-show="BrandingActivityForm.groupActivityFlag.$error.required">*</span>
                                                    </span>
                                                </label>
                                                <select name="groupActivityFlag" id="groupActivityFlag" ng-model="groupActivityFlag" multiple="multiple" class="multiselect-drop" required>
                                                    <option value="Y">True</option>
                                                    <option value="N">False</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label fontWeight">
                                                Parent Code <span style="color:red" ng-show="BrandingActivityForm.ParentMultiSelect.$invalid">
                                                    <span ng-show="BrandingActivityForm.ParentMultiSelect.$error.required">*</span>
                                                </span>
                                            </label>
                                            <select class="form-control input-sm input-select2me" name="ParentMultiSelect" id="ParentMultiSelect" style="width:100%;" required ng-disabled="makeItDisabled">
                                                <option ng-selected="true" value="">---/ Root---</option>
                                                <option value="{{item.ACTIVITY_CODE}}" ng-repeat="item in preMenuItem">{{item.ACTIVITY_EDESC}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label fontWeight">
                                                Remarks
                                            </label>
                                            <input id="text" type="text" ng-model="Remarks" name="Remarks" class="form-control input-sm" placeholder="Specify..." />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-green" ng-click="saveActivity(BrandingActivityForm.$valid)">{{saveButtonText}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse in" id="demo">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body form">
                    <div class="row">
                        <div id="treelist"></div>
                        <ul id="menu" style="width:80px !important">
                            <li><span class='k-icon k-add'></span>Add</li>
                            <li><span class='k-icon k-update'></span>Update</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Scripts.Url(" ~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>

<script>

    $('#uploadExcel').click(function () {
        if (window.FormData !== undefined) {
            //showloader();
            var file_data = $("#avatar").prop("files")[0];   // Getting the properties of file from file field
            if (!file_data) {
                displayPopupNotification("Please select a file", "error");
                setTimeout(function () {
                    $("#avatar").trigger("click");
                }, 500);
                return;
            }
            var format = file_data.name.substr(file_data.name.lastIndexOf('.'), file_data.name.length)
            if (![".xls", ".xlsx"].includes(format)) {
                displayPopupNotification("Invalid file format", "error");
                return;
            }
            var form_data = new FormData();                  // Creating object of FormData class
            form_data.append("file", file_data);

            $.ajax({
                url: '/Branding/ImportBrdActivity',
                type: "POST",
                contentType: false,
                processData: false,
                data: form_data,
                success: function (result) {
                    displayPopupNotification(result.MESSAGE, result.TYPE);
                    if (result.TYPE == "success") {
                        $('#avatar').val("");
                        $('#treelist').data("kendoTreeList").dataSource.read();
                    }
                },
                error: function (err) {
                    displayPopupNotification(err.statusText, "error");
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });

</script>
