@using NeoErp.Core.Models;
@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>
    ();
    ViewBag.Title = "UserSetup";
    Layout = null;
}


<style>
    div.k-grid-header th.k-header, tr.k-filter-row > th {
        text-align: center;
    }

    /*.page-bar {
        margin-bottom: 0px !important;
    }*/

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    /*#grid thead{
              font-size:11px;
         }*/
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    .floatright {
        float: right;
        margin-top: 2px !important;
    }

    a.k-button.k-button-icontext.k-grid-excel {
        float: right;
    }

    .Reseller-map-fullscreen {
        display: none;
        background-color: #fff;
        text-align: center;
        height: 35px;
        width: 24px;
        cursor: pointer;
        background: url() -52px -86px no-repeat;
        background-image: url('../../Content/map/asset/img/sv5.png');
        margin-top: 12px;
        margin-left: 20px;
    }

    #map-canvas {
        height: 100%;
        width: 100%;
        background: #fff;
    }

    #Reseller-map-panel {
        width: 100%;
        height: 430px;
        margin: 0 auto;
        border: solid;
        padding: 10px;
    }

    .number {
        text-align: right;
    }

    .text {
        text-align: left;
    }

    .date {
        text-align: center;
    }

    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        width: 200px;
    }

    #DistAdd {
        display: none;
    }

    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #mapSearchBox {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
    }

        #mapSearchBox:focus {
            border-color: #4d90fe;
        }
    /*.k-list-container
           {
               max-height:150px !important;
               overflow-y:auto !important;
           }*/




    .material-switch > input[type="checkbox"] {
        display: none;
    }

    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

        .material-switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 31px;
        }

    .material-switch {
        margin-top: 1px !important;
    }

        .material-switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 19px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -1.5px;
            transition: all 0.3s ease-in-out;
            width: 19px;
        }

        .material-switch > input[type="checkbox"]:checked + label::before {
            background: inherit;
            opacity: 0.5;
        }

        .material-switch > input[type="checkbox"]:checked + label::after {
            background: inherit;
            left: 12px;
        }

  
    /*#AreaCreateForm input#AreaName {
        height: 25px !important;
        font-size: 11px !important;
    }*/

    /*select#vdcAreaMultiSelect {
        height: 25px;
        border: 1px solid #e5e5e5 !important;
    }*/

    /*select#zoneAreaMultiSelect {
        height: 25px;
    }*/

    /*select#regionAreaMultiSelect {
        height: 25px;
    }*/
    select#distCustomerMultiSelect{
          height: 25px;
        border: 1px solid #e5e5e5 !important;
    }


</style>
<div ng-app="myApp" class="content">
    <div ng-controller="CompItemCtrl">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                @*<li>
                    <i class="fa fa-home"></i>
                    <a href="/sales/SalesHome/Dashboard">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Area Setup</a>
                    <i class="fa fa-angle-right"></i>
                </li>*@
            </ul>
            <div class="actions pull-right actionbutton" ng-hide="createPanel">
                <div class="btn-group" style="margin-top:10px;">
                    <input id="avatar" type="file" name="avatar" style="width:185px;" />
                </div>
                <div class="btn-group">
                    <a href="javascript:void(0)" id="uploadExcel" class="pull-right btn btn-circle btn-icon-only btn-default">
                        <i class="fa fa-upload"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a target="_self" class="pull-right btn btn-circle btn-icon-only btn-default" href="~/Pictures/Distribution/Format/CompetitorSetupFormat.xlsx" data-toggle="tooltip" title="Download Excel Format.." download>
                        <i class='fa fa-file-excel-o excelfile fontgreen' />
                    </a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-circle btn-icon-only btn-default " ng-click="AddButtonClickEvent()">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="btn-group">
                    @Html.Partial("~/Views/Shared/Controls/_SetupConfig.cshtml", "CompItemSetup")
                </div>
            </div>
        </div>


        <div class="portlet light bordered main createPanel" ng-show="createPanel">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-alt font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase pull-left">
                      {{pageName }}
                    </span>
                </div>
                <div class="actions">
                    <span class="pull-right">
                        <button type="button" id="cancelTarget" name="cancelTarget" class="btn btn-default btn-sm" ng-click="Cancel();">Cancel</button>

                        <button type="submit" id="SaveItem" name="SaveItem" ng-click="SaveItem(CompItemForm.$valid)" class="btn btn-green btn-sm">{{saveAction}}</button>
                    </span>
                </div>
            </div><!-- /portlet-title-->
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <form id="CompItemForm" name="CompItemForm" novalidate>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <input id="Reseller_CODE" type="hidden" ng-model="ITEM_ID" />
                                    <input type="hidden" id="ItemHidden" ng-model="ItemHidden" name="ItemHidden" class="form-control input-sm" />
                                    <div class="form-group">
                                        <label class="control-label">
                                            Item Name <span style="color:red" ng-show="CompItemForm.ItemName.$invalid">
                                                <span ng-show="CompItemForm.ItemName.$error.required">*</span>
                                            </span>
                                        </label>
                                        <input id="ItemName" ng-model="CompItemSetup.ITEM_EDESC" name="ItemName" class="form-control input-sm" placeholder="Item Name" required />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label class="control-label">
                                        Rate <span style="color:red" ng-show="CompItemForm.rate.$invalid">
                                            <span ng-show="CompItemForm.rate.$error.required">*</span>
                                        </span>
                                    </label>
                                    <input type="number" id="rate" ng-model="CompItemSetup.RATE" name="rate" class="form-control input-sm" placeholder="Rate" />
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Unit <span style="color:red" ng-show="CompItemForm.unit.$invalid">
                                                <span ng-show="CompItemForm.unit.$error.required">*</span>
                                            </span>
                                        </label>
                                        <input id="unit" ng-model="CompItemSetup.UNIT" name="unit" class="form-control input-sm" placeholder="Unit" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Category <span style="color:red" ng-show="CompItemForm.category.$invalid">
                                                <span ng-show="CompItemForm.category.$error.required">*</span>
                                            </span>
                                        </label>
                                        <input id="category" ng-model="CompItemSetup.CATEGORY" name="category" class="form-control input-sm" placeholder="Category" style="width:100%" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row collapse in" id="demo">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row kendo_table">
                            <kendo-grid options="grid" id="grid"></kendo-grid>
                            @Html.Partial("~/Views/Shared/Controls/_GridToolbar.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $("#category").kendoAutoComplete({
        dataSource: {
            type: "json",
            transport: {
                read: {
                    url: window.location.protocol + "//" + window.location.host + "/api/Setup/GetCompCategories",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                },
            },
        },
        filter: "contains",
    });
</script>
<script>
    $('#uploadExcel').click(function () {
        if (window.FormData !== undefined) {
            //showloader();
            var file_data = $("#avatar").prop("files")[0];   // Getting the properties of file from file field
            if (!file_data) {
                displayPopupNotification("Please select a file", "error");
                setTimeout(function () {
                    $("#avatar").trigger("click");
                }, 500);
                return;
            }
            var format = file_data.name.substr(file_data.name.lastIndexOf('.'), file_data.name.length)
            if (![".xls", ".xlsx"].includes(format)) {
                displayPopupNotification("Invalid file format", "error");
                return;
            }
            var form_data = new FormData();                  // Creating object of FormData class
            form_data.append("file", file_data);

            $.ajax({
                url: '/Distribution/Setup/ImportCompetitorItemSetup',
                type: "POST",
                contentType: false,
                processData: false,
                data: form_data,
                success: function (result) {
                    displayPopupNotification(result.MESSAGE, result.TYPE);
                    if (result.TYPE == "success") {
                        $('#avatar').val("");
                        $('#grid').data("kendoGrid").dataSource.read();
                    }
                },
                error: function (err) {
                    displayPopupNotification(err.statusText, "error");
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>
<script src="@Scripts.Url(" ~/JS/reportFilter.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>