

@{
    ViewBag.Title = "ImageCategorySetup";
    Layout = null;
}
<style>
    #GroupsForm h4 {
        margin-top: 0px !important;
    }

    #GroupSetup .k-auto-scrollable {
        overflow: hidden !important;
    }

    .k-splitter {
        min-height: 404px;
    }

    .form-control {
        width: 97% !important;
    }

    .custom-panel-body {
        /*padding: 7px 30px 0px 10px !important;*/
        height: 182px;
    }


        .custom-panel-body .caption {
            font-size: 12px !important;
            padding: 5px 0 6px 0 !important;
        }

        .custom-panel-body .portlet-title {
            min-height: auto !important;
        }

    /*.control-label {
        font-size: 12px !important;
    }*/

    .tblresponsive {
        border: 1px solid #e1e1e1 !important;
    }

    .table thead tr th {
        font-size: 12px;
        font-weight: 600;
    }

    /*button#cancelImage {
        padding-bottom: 3px !important;
        margin-right: 12px !important;
    }*/

    input#ImageCode {
        font-size: 12px;
    }

    input#ImageName {
        font-size: 12px;
    }

    #GroupSetup .k-grid-header {
        padding-right: 0px !important;
    }
    /*input.ng-invalid {
        border-color: red;
    }*/
</style>

<div class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb"></ul>
        <div class="pull-right">
            <div class="btn-group" style="margin-top:10px;">
                <input id="avatar" type="file" name="avatar" style="width:185px;" />
            </div>
            <div class="btn-group">
                <a href="javascript:void(0)" id="uploadExcel" class="pull-right btn btn-circle btn-icon-only btn-default">
                    <i class="fa fa-upload"></i>
                </a>
            </div>
            <div class="btn-group">
                <a target="_self" class="pull-right btn btn-circle btn-icon-only btn-default" href="~/Pictures/Distribution/Format/ImageSetupFormat.xlsx" data-toggle="tooltip" title="Download Excel Format.." download>
                    <i class='fa fa-file-excel-o excelfile fontgreen' />
                </a>
            </div>
            <div class="btn-group">
                @Html.Partial("~/Views/Shared/Controls/_SetupConfig.cshtml", "ImageCategorySetup")
            </div>
        </div>
    </div>
</div>

<body>

    <div id="splitter" ng-controller="ImageCategoryCtrl">
        <div id="pane1">
            <div id="ImageCategorySetup">
                <kendo-grid options="grid" id="grid"></kendo-grid>
            </div>
        </div>
        <div>
            <form id="ImageForm" name="ImageForm" novalidate>
                <div class="panel-body custom-panel-body clearfix form-horizontal main">
                    <div class="portlet box box-green">
                        <div class="portlet-title">
                            <div class="caption adduser">
                                <i class="fa fa-plus-square"></i>{{ImageCategoryHeader}}
                            </div>
                            @*<div class="pull-right">
                                    <button class="btn-primary" ng-click="addItem(GroupsForm.$valid)">Submit</button>
                                </div>*@
                        </div>
                        <div class="portlet-body form">
                        </div>
                    </div>


                    <div class="portlet light bordered main">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-list-alt font-green-haze"></i>
                                <span class="caption-subject font-green-haze bold uppercase">
                                    Image Category
                                </span>
                            </div>

                            <div class="actions pull-right">
                                <button type="button" id="deleteImage" name="deleteImage" ng-click="deleteImage(ImageForm.$valid)" ng-disabled="ImageForm.CategoryCode.$error.required||ImageForm.CategoryName.$error.required||ImageForm.MaxItems.$error.required" class="btn btn-danger btn-sm">Delete</button>
                                <button type="button" id="SaveImage" name="SaveImage" ng-click="SaveImageCategory(ImageForm.$valid)" ng-disabled="ImageForm.CategoryCode.$error.required||ImageForm.CategoryName.$error.required||ImageForm.MaxItems.$error.required" class="btn btn-green btn-sm">{{saveAction}}</button>
                                <button type="button" id="cancelImage" name="cancelImage" ng-click="Cancel()" class="btn btn-default btn-sm">Cancel</button>
                            </div>
                        </div>
                  
                      
                          
                                <div class="row">
                                    <div class="col-md-6 col-sm-9">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-3">
                                                <input type="hidden" ng-model="Image.CATEGORYID" id="ImageCategoryID" name="ImageCategoryID">
                                                Category Code<span style="color:red" ng-show="ImageForm.CategoryCode.$invalid">
                                                    <span ng-show="ImageForm.CategoryCode.$error.required">*    </span>
                                                </span>
                                            </label>
                                            <div class="col-sm-7 col-md-7">
                                                <input class="form-control" type="text" name="CategoryCode" ng-model="ImageCategory.CATEGORY_CODE" id="CategoryCode" placeholder="Category Code" required>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-5 col-sm-9">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4">
                                                Category Name<span style="color:red" ng-show="ImageForm.CategoryName.$invalid">
                                                    <span ng-show="ImageForm.CategoryName.$error.required">*</span>
                                                </span>
                                            </label>
                                            <div class="col-sm-7 col-md-6">
                                                <input class="form-control" type="text" name="CategoryName" ng-model="ImageCategory.CATEGORY_EDESC" id="CategoryName" placeholder="Category name" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-9">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-3">
                                                Max Items<span style="color:red" ng-show="ImageForm.MaxItems.$invalid">
                                                    <span ng-show="ImageForm.MaxItems.$error.required">*</span>
                                                </span>
                                            </label>
                                            <div class="col-sm-7 col-md-7">
                                                <input class="form-control" type="number" name="MaxItems" ng-model="ImageCategory.Max_Items" id="MaxItems" placeholder="Maximum items" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-9">
                                        <div class="form-group">
                                            <label class="control-label col-sm-3 col-md-4">
                                                Types<span style="color:red" ng-show="ImageForm.Types.$invalid">
                                                    <span ng-show="ImageForm.Types.$error.required">*</span>
                                                </span>
                                            </label>
                                            <div class="col-sm-7 col-md-6">
                                                @*<input class="form-control" type="text" name="types" ng-model="ImageCategory.selectedType" k-options="typesOptions" id="distTypeSelect" placeholder="Choose Types" required>*@
                                                <select name="types" k-ng-model="ImageCategory.selectedType" k-value-primitive="true"
                                                        kendo-drop-down-list k-options="typesOptions" style="width:100%;"   id="distTypeSelect" placeholder="Choose Types" required></select>
                                            </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                          
                     
                    </div>
                    </div>
            </form>
        </div>
    </div>
    <script>
        $('#uploadExcel').click(function () {
            if (window.FormData !== undefined) {
                //showloader();
                var file_data = $("#avatar").prop("files")[0];   // Getting the properties of file from file field
                if (!file_data) {
                    displayPopupNotification("Please select a file", "error");
                    setTimeout(function () {
                        $("#avatar").trigger("click");
                    }, 500);
                    return;
                }
                var format = file_data.name.substr(file_data.name.lastIndexOf('.'), file_data.name.length)
                if (![".xls", ".xlsx"].includes(format)) {
                    displayPopupNotification("Invalid file format", "error");
                    return;
                }
                var form_data = new FormData();                  // Creating object of FormData class
                form_data.append("file", file_data);

                $.ajax({
                    url: '/Distribution/Setup/ImageCategory',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: form_data,
                    success: function (result) {
                        displayPopupNotification(result.MESSAGE, result.TYPE);
                        if (result.TYPE == "success") {
                            $('#avatar').val("");
                            $('#grid').data("kendoGrid").dataSource.read();
                        }
                    },
                    error: function (err) {
                        displayPopupNotification(err.statusText, "error");
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
        var a = location.hash;
        var b = location.pathname;
        var url = (b + a);
        $(".active").removeClass();
        $("a[href='" + url + "']").parent().addClass("active");
        $("a[href='" + url + "']").parent().parent().slideDown("slow");
    </script>
    <script>
        $("#splitter").kendoSplitter();
        var splitter = $("#splitter").data("kendoSplitter");
        splitter.size(".k-pane:first", "20%");
        splitter.max("#pane1", "550px");
        splitter.min("#pane1", "200px");

        $('.tblresponsive').slimScroll({
            height: '150px',
        });

    </script>

</body>
<script src="@Scripts.Url(" ~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>