
@{
    ViewBag.Title = "NotificationSetup";
    Layout = null;
}
<style>
    #NotificationsForm h4 {
        margin-top: 0px !important;
    }



    .splitter {
        border: 1px solid #e1e1e1 !important;
    }

    #NotificationSetup .k-auto-scrollable {
        overflow: hidden !important;
    }

    .k-splitter {
        min-height: 404px;
    }

    .form-control {
        width: 97% !important;
    }

    .custom-panel-body {
        padding: 7px 30px 0px 10px !important;
        height: 182px;
    }

    .custom-panel-body .caption {
        font-size: 12px !important;
        padding: 5px 0 6px 0 !important;
    }

    .custom-panel-body .portlet-title {
        min-height: auto !important;
    }

    .tblresponsive {
        border: 1px solid #e1e1e1 !important;
    }

    .table thead tr th {
        font-size: 12px;
        font-weight: 600;
    }

    input#NotificationCode {
        font-size: 12px;
    }

    input#NotificationName {
        font-size: 12px;
    }

    #NotificationSetup .k-grid-header {
        padding-right: 0px !important
    }

    .titleheading {
        padding: 5px 0px 5px !important
    }
</style>

<div class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb"></ul>
        <div class="btn-group pull-right">
            @Html.Partial("~/Views/Shared/Controls/_SetupConfig.cshtml", "GetNotification")
        </div>
    </div>
</div>

<div id="splitter" ng-controller="NotificationCtrl">
    <div id="pane1">
        <div id="NotificationSetup">
            <kendo-grid options="grid" id="grid"></kendo-grid>
        </div>
    </div>
    <div>
        <form id="NotificationsForm" name="NotificationsForm" novalidate>
            <div class="panel-body custom-panel-body clearfix">
                <div class="portlet box box-green">
                    <div class="portlet-title">
                        <div class="caption adduser">
                            <i class="fa fa-plus-square"></i>{{HeadText}}
                        </div>
                    </div>
                    <div class="portlet-body form">
                    </div>
                </div>


                <div class="portlet light bordered main">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-green-haze"></i>
                            <span class="caption-subject font-green-haze bold uppercase text-center" style="text-align: center">
                                Notification setup
                            </span>
                        </div>
                        <div class="actions pull-right">
                            <button type="button" id="deleteNotification" name="deleteNotification" ng-click="Delete(Notification.NOTIFICATION_ID)" ng-disabled="!Notification.NOTIFICATION_ID" class="btn btn-danger btn-sm">Delete</button>
                            <button type="button" id="saveNotification" name="saveNotification" ng-click="Save(NotificationsForm.$valid)" ng-disabled="!NotificationsForm.$valid || Notification.NOTIFICATION_ID" class="btn btn-green btn-sm">Save</button>
                            <button type="button" id="cancelNotification" name="cancelNotification" ng-click="Cancel()" class="btn btn-default btn-sm">Reset</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Notification Title<span style="color:red" ng-show="NotificationsForm.NOTIFICATION_TITLE.$invalid">
                                                <span ng-show="NotificationsForm.NOTIFICATION_TITLE.$error.required">*</span>
                                            </span>
                                        </label>
                                        <input class="form-control" type="text" name="NOTIFICATION_TITLE" ng-model="Notification.NOTIFICATION_TITLE" id="NOTIFICATION_TITLE" placeholder="Notification Title" required>
                                    </div>

                                </div>
                                @*<div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Notification Type<span style="color:red" ng-show="NotificationsForm.NOTIFICATION_TYPE.$invalid">
                                                    <span ng-show="NotificationsForm.NOTIFICATION_TYPE.$error.required">*</span>
                                                </span>
                                            </label>
                                            <input type="text" class="form-control" name="NOTIFICATION_TYPE" ng-model="Notification.NOTIFICATION_TYPE" id="NOTIFICATION_TYPE" placeholder="Notification Message" required />
                                        </div>
                                    </div>*@
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Employees<span style="color:red" ng-show="NotificationsForm.SP_CODES.$invalid">
                                                <span ng-show="NotificationsForm.SP_CODES.$error.required">*</span>
                                            </span>
                                        </label>
                                        <select id="SP_CODES" name="SP_CODES" k-options="EmpSelectOptions" kendo-multi-select ng-model="Notification.SP_CODES" required></select>
                                        @*<input type="text" rows="10" class="form-control" name="SP_CODES" ng-model="Notification.SP_CODES" id="SP_CODES" />*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Notification Message<span style="color:red" ng-show="NotificationsForm.NOTIFICATION_TEXT.$invalid">
                                                <span ng-show="NotificationsForm.NOTIFICATION_TEXT.$error.required">*</span>
                                            </span>
                                        </label>
                                        <textarea rows="5" class="form-control" name="NOTIFICATION_TEXT" ng-model="Notification.NOTIFICATION_TEXT" id="NOTIFICATION_TEXT" placeholder="Notification Message" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");

    $("#splitter").kendoSplitter();
    var splitter = $("#splitter").data("kendoSplitter");
    splitter.size(".k-pane:first", "20%");
    splitter.max("#pane1", "550px");
    splitter.min("#pane1", "200px");
    //setTimeout(function () {
    //    $('#grid').slimScroll({
    //        height: '340px',
    //    });
    //}, 100)


</script>
<script src="@Scripts.Url("~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>