<style>
    div.k-grid-header th.k-header, tr.k-filter-row > th {
        text-align: center;
    }
    /*.page-bar {
        margin-bottom: 0px !important;
    }*/

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    .floatright {
        float: right;
        margin-top: 2px !important;
    }
    a.k-button.k-button-icontext.k-grid-excel {
        float: right;
    }
    input[disabled] {
        cursor: no-drop !important;
    }
</style>
<div class="content">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                <i class="fa fa-home"></i>
                <a href="/sales/SalesHome/Dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/Distribution/Home/Dashboard#!Distribution/QuestionList">Questions List</a>
                <i class="fa fa-angle-right"></i>
            </li>*@

        </ul>
        <div class="page-toolbar">
            <div class="btn-group">
                <div class="actions pull-right actionbutton">
                    <a href="/Distribution/Home/Dashboard#!Distribution/QuestionSetup" class="btn btn-green btn-sm">[+] Add</a>
                </div>
            </div>
            <div class="btn-group">
                @Html.Partial("~/Views/Shared/Controls/_SetupConfig.cshtml", "QuestionList")
            </div>
        </div>
    </div>

    <!--Kendo Row Template-->
    <script id="row-template" type="text/x-kendo-template">
        
    </script>
    <!--Kendo Row Template-->

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row collapse in">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row">
                        <script id="action-template" type="text/x-kendo-template">
                            <a href='/Distribution/Home/Dashboard/\\#!Distribution/QuestionSetup?setId=#:SetId#&type=#:Type#' class="k-button k-button-icontext text-center">
                                <span class="fa fa-pencil-square-o" style="padding-left:10px;font-size:12px;"></span> Edit
                            </a>
                        </script>
                        <kendo-grid options="mainGridOptions">
                            <div k-detail-template>
                                <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
                            </div>
                        </kendo-grid>
                        @Html.Partial("~/Views/Shared/Controls/_GridToolbar.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<script>
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>
<script src="@Scripts.Url(" ~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>