@{
    ViewBag.Title = "UserSetup";
    Layout = null;
}


<style>
    div.k-grid-header th.k-header, tr.k-filter-row > th {
        text-align: center;
        /*width: 183px !important;*/
    }

    /*.page-bar {
        margin-bottom: 0px !important;
    }*/

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    /*#grid thead{
              font-size:11px;
         }*/
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    .floatright {
        float: right;
        margin-top: 2px !important;
    }

    a.k-button.k-button-icontext.k-grid-excel {
        float: right;
    }
    .ui-widget-header{
        background:none !important;
        border:none !important;
    }
    #question-tabs{
        padding: 0px;
    }
    .titleheading {
        padding: 5px 0px 5px !important;
    }
    /*.ui-tabs .ui-tabs-panel {
        padding: 1em 0em !important;
    }*/
    .btn-danger{
        margin-left: 25% !important;
    }
    .radio-label {
        margin-top: 1px;
        margin-left: 10px;
    }
    .k-window-title:hover,.k-window-titlebar.k-header:hover{
        cursor:move;
    }
    .inp-ans-type {
        width: 90%;
        float: left;
        margin: 0 !important;
        padding: 3px !important;
    }
    .btn-ans-type {
        line-height: 28px;
        width: 5%;
        margin-right: 1%;
    }
    .btn-danger {
        margin-left: 0% !important;
    }
    .k-window-titlebar .k-button {
        border:none !important;
    }
    .modalbody
    {
        border-bottom:solid #ddd 1px;
        margin-bottom:10px;
    }
    .createPanel table td
    {
        padding:4px !important;
    }
    .k-window-title {
        color: #43a32e !important;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div kendo-window="dlgTabularWindow" k-visible="false" k-modal="true">
    @*<input type="text" id="tempRow" ng-model="tempRow" style="display:none;" />
    <input type="text" id="tempCol" ng-model="tempRow" style="display:none;" />*@
    <div class="popup">
        <h4>Select any one of the following:</h4>
        <div class=" modalbody">
            <div class="fields">
                <input type="radio" name="cellType" id="type-lbl" ng-model="tabType" value="LBL" /><label for="type-lbl" class="control-label radio-label">Label</label><br />
                <input type="radio" name="cellType" id="type-txt" ng-model="tabType" value="TXT" /><label for="type-txt" class="control-label radio-label">Text Field</label><br />
                <input type="radio" name="cellType" id="type-ddl" ng-model="tabType" value="DDL" /><label for="type-ddl" class="control-label radio-label">Dropdown List</label><br />
                <input type="radio" name="cellType" id="type-rdb" ng-model="tabType" value="RDB" /><label for="type-rdb" class="control-label radio-label">Radio button</label><br />
                <input type="radio" name="cellType" id="type-num" ng-model="tabType" value="NUM" /><label for="type-num" class="control-label radio-label">Numeric Field</label><br />
                <input type="radio" name="cellType" id="type-cbox" ng-model="tabType" value="CHK" /><label for="type-cbox" class="control-label radio-label">Checkbox</label><br />
                <input type="radio" name="cellType" id="type-file" ng-model="tabType" value="FILE" /><label for="type-file" class="control-label radio-label">File</label><br />
            </div>
        </div>

    </div>

    <div class="modal_footer_button">
        <input type="button" value="Cancel" ng-click="dlgTabularWindow.close()" class="btn btn-default pull-right" style="margin-left:10px;" />
        <input type="button" value="Select" ng-click="SetTabularType(tabType)" class="btn btn-green pull-right" />
    </div>
</div>

<div class="content">

    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                <i class="fa fa-home"></i>
                <a href="/sales/SalesHome/Dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Question Setup</a>
                <i class="fa fa-angle-right"></i>
            </li>*@
        </ul>
        <ul class="pull-right list-unstyled" style="margin:4px 5px;">
            <li>
                <a href="/Distribution/Home/Dashboard#!Distribution/QuestionList" class="btn btn-danger btn-sm">Cancel</a>
            </li>
        </ul>
    </div>

    <div id="question-tabs" class="qtab">
        <ul>
            <li><a href="#general-tab">General Question Set</a></li>
            <li><a href="#tabular-tab">Tabular Question</a></li>
        </ul>

        <div id="general-tab">
            <form name="generalForm" novalidate>
                <div class="portlet light bordered main">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list-alt font-green-haze"></i>
                            <span class="caption-subject font-green-haze bold uppercase">
                                Add Question Set
                            </span>
                        </div>
                        <span class="actions pull-right">
                            <button type="button" class="btn btn-default btn-sm" ng-click="ResetGeneral(generalForm);">Reset</button>
                            <button type="submit" ng-click="SaveGeneral();" id="general-save-btn"
                                    class="btn btn-green btn-sm"
                                    ng-disabled="loadingBtn">
                                <i ng-show="loadingBtn" class='fa fa-spinner fa-spin '></i>
                                <span ng-hide="loadingBtn">Save</span><span ng-show="loadingBtn">Processing</span>
                            </button>
                        </span>
                    </div><!-- /portlet-title-->
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="col-md-4" ng-class="{ 'has-error': generalForm.SetTitle.$touched && generalForm.SetTitle.$invalid}">
                                    <label class="control-label">
                                        Question set title: <span style="color:red">*</span>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" ng-model="GeneralSet.SetTitle" name="SetTitle" class="form-control input-sm" placeholder="Enter set title" required />
                                    <div class="help-block" ng-messages="generalForm.SetTitle.$error"
                                         ng-if="generalForm.SetTitle.$touched">
                                        <p ng-message="required">Set title is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="col-md-6">
                                    <label class="control-label">
                                        Set Type: <span style="color:red">*</span>
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <select name="SetType" k-ng-model="GeneralSet.SetType" k-value-primitive="true"
                                            kendo-drop-down-list k-options="TypeDDL" style="width:100%;"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="col-md-6">
                                    <label class="control-label">
                                        Is Active: <span style="color:red">*</span>
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <select name="SetType" k-ng-model="GeneralSet.IsActive" k-value-primitive="true"
                                            kendo-drop-down-list k-options="StatusDDl" style="width:100%;"></select>
                                </div>
                               
                            </div>
                         

                            </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12 col-sm-12 info_table">
                                <table class="table table-hover table-bordered">
                                    <thead class="table-info">
                                        <tr>
                                            <th class="col-md-2">Question type</th>
                                            <th class="col-md-5">Question</th>
                                            <th class="col-md-4">Answer</th>
                                            <th class="col-md-1">
                                                <button href="javascript:void(0)" ng-click="AddGeneralQuestion()" class="btn btn-xs btn-green">
                                                    [<i class="fa fa-plus"></i>] Add
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="Q in GeneralSet.Questions">
                                            <td>
                                                <select name="GeneralType" k-ng-model="Q.Type" k-value-primitive="true"
                                                        kendo-drop-down-list k-options="GeneralTypeDDL" k-on-change="GeneralTypeChange(Q.Type,$index)"
                                                        style="width:100%;"></select>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="Q.Question" placeholder="Enter question here" style="width: 100%;" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" ng-model="Q.Answer" ng-Placeholder="Q.Placeholder" style="width:100%;" ng-disabled="Q.Disabled" />
                                            </td>
                                            <td>
                                                <button href="javascript:void(0)" class="btn btn-xs btn-danger" ng-click="RemoveGeneralQuestion($index)" ng-disabled="GeneralSet.Questions.length==1"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="tabular-tab">
            <form name="TabularForm" novalidate>
                <div class="portlet light bordered main createPanel">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list-alt font-green-haze"></i>
                            <span class="caption-subject font-green-haze bold uppercase">
                                Add Tabular Question
                            </span>
                        </div>
                        <span class="actions pull-right">
                            <button type="button" class="btn btn-green btn-sm" ng-click="AddTabularQuestion()">[+]Add Table</button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="ResetTabular(TabularForm)">Reset</button>
                            <button type="button" ng-click="SaveTabular();" id="tabular-save-btn"
                                    class="btn btn-green btn-sm"
                                    ng-disabled="loadingBtn">
                                <i ng-show="loadingBtn" class='fa fa-spinner fa-spin '></i>
                                <span ng-hide="loadingBtn">Save</span><span ng-show="loadingBtn">Processing</span>
                            </button>
                        </span>

                    </div><!-- /portlet-title-->
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div ng-repeat="Tab in TabularSet">
                                    <div class="row clearfix">
                                        <div class="col-md-4 col-sm-4 form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Table Title:<span style="color:red">*</span>
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Tab.SetTitle" class="form-control input-sm" placeholder="Enter table title" style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2 form-group">
                                            <div class="col-md-6">
                                                <label class="control-label">
                                                    Rows:<span style="color:red">*</span>
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="number" min="1" step="1" ng-model="Tab.Rows" ng-blur="UpdateWidth(Tab)" class="form-control input-sm" style="width:100%" />
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-2 form-group">
                                            <div class="col-md-6">
                                                <label class="control-label">
                                                    Columns:<span style="color:red">*</span>
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="number" min="1" step="1" ng-model="Tab.Cols" ng-blur="UpdateWidth(Tab)" class="form-control input-sm" style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Set Type: <span style="color:red">*</span>
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                <select name="SetType" k-ng-model="Tab.SetType" k-value-primitive="true"
                                                        kendo-drop-down-list k-options="TypeDDL" style="width:100%;"></select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Is Active: <span style="color:red">*</span>
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                <select name="SetType" k-ng-model="Tab.IsActive" k-value-primitive="true"
                                                        kendo-drop-down-list k-options="StatusDDl" style="width:100%;"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <table class="table table-hover table-striped table-bordered table-responsive tabularGrid">
                                        <tbody>
                                            <tr ng-repeat="Row in Tab.Cells track by $index">
                                                <td ng-repeat="Col in Row track by $index" style="width:{{Tab.WidthPer}}%">
                                                    @*<span class="text-muted label-ans-type">{{Col.Desc}}</span>*@
                                                    <input type="text" ng-show="Col.Type=='LBL' || Col.Type=='TXT' || Col.Type=='NUM' || Col.Type=='DDL' || Col.Type=='RDB'"
                                                           class="form-control input-sm inp-ans-type"
                                                           ng-disabled="Col.Type=='TXT' || Col.Type=='NUM'"
                                                           ng-Placeholder="Col.Desc"
                                                           ng-model="Col.Label" />
                                                    <input type="checkbox" ng-show="Col.Type=='CHK'" class="inp-ans-type" disabled="disabled" style="margin-top:6px !important;" />
                                                    <input type="file" ng-show="Col.Type=='FILE'" class="inp-ans-type" disabled="disabled" style="margin-top:6px !important;" />
                                                    @*<input type="text" ng-show="Col.Type=='DDL'" class="inp-ans-type" ng-Placeholder="Col.Desc" ng-model="Col.Label" />*@
                                                    <a ng-click="SelectTabularType(Col)" class="pull-right btn-ans-type"><span class="fa fa-pencil"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-default btn-sm pull-right" ng-click="RemoveTable($index)" ng-disabled="TabularSet.length==1">
                                                <span class="fa fa-trash"></span> Remove Table
                                            </button>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script src="@Scripts.Url(" ~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>
<script>
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");

    $("#group").html("Setup");
    //$("#group").trigger('click');
    $("#submenu").html("Questionnaire Setup");
    $("#group").next().find("select").val('Setup').trigger('change')
</script>
<script src="@Scripts.Url(" ~/JS/reportFilter.js")"></script>
<script>
    $("#question-tabs").tabs();
</script>
