<style>
    div.k-grid-header th.k-header, tr.k-filter-row > th {
        text-align: center;
    }

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }

    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    .floatright {
        float: right;
        margin-top: 2px !important;
    }

    a.k-button.k-button-icontext.k-grid-excel {
        float: right;
    }

    .number {
        text-align: right;
    }

    .text {
        text-align: left;
    }

    .date {
        text-align: center;
    }

    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        width: 200px;
    }

    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
</style>

<div ng-controller="SurveySetupCtrl" class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb"></ul>
        <div class="actions pull-right actionbutton">
            <div class="btn-group">
                <a class="btn btn-circle btn-icon-only btn-default" ng-click="AddClickEvent()">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="btn-group">
                @Html.Partial("~/Views/Shared/Controls/_SetupConfig.cshtml", "SurveySetup")
            </div>
        </div>
    </div>
    <div class="portlet light bordered main" ng-show="showForm">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list-alt font-green-haze"></i>
                <span class="caption-subject font-green-haze bold uppercase">
                    Survey Setup
                </span>
            </div>
            <span class="actions pull-right">
                <button type="button" id="cancelTarget" name="cancelTarget" class="btn btn-default btn-sm" ng-click="Cancel();">Cancel</button>
                <button type="submit" id="CreateSurvey" name="CreateSurvey" ng-click="CreateSurvey()" class="btn btn-green btn-sm">Save</button>
            </span>
        </div><!-- /portlet-title-->
        <div class="portlet-body">
            <div class="row">
                <form id="SurveyForm" name="SurveyForm" novalidate>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="GroupCode" class="control-label"> Group </label>
                                <select id="GroupCode" name="GroupCode" kendo-multi-select k-options="GroupOptions" slim-scroll ng-model="Survey.GROUP_CODES" style="width:100%;"></select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="AreaCode" class="control-label"> Area </label>
                                <select id="AreaCode" name="AreaCode" kendo-multi-select k-options="AreaOptions" slim-scroll ng-model="Survey.AREA_CODES" style="width:100%;"></select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Sales person <span style="color:red" ng-show="SurveyForm.spCode.$invalid">
                                        <span ng-show="SurveyForm.spCode.$error.required">*</span>
                                    </span>
                                </label>
                                <select id="spCode" name="spCode" kendo-multi-select k-options="SPOptions" slim-scroll ng-model="Survey.SP_CODES" style="width:100%;" required></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group ">
                                <label class="control-label">
                                    Survey Name<span style="color:red" ng-show="SurveyForm.SurveyName.$invalid">
                                        <span ng-show="SurveyForm.SurveyName.$error.required">*</span>
                                    </span>
                                </label>
                                <input type="text" id="SurveyName" name="SurveyName" ng-model="Survey.SURVEY_EDESC" class="form-control" placeholder="Survey name" style="width:100%;" required />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Questions Set <span style="color:red" ng-show="!Survey.QUESTIONS||Survey.QUESTION_CODES.length<1">*</span>
                                </label>
                                <select id="question" name="question" kendo-multi-select k-options="QuestionOptions" slim-scroll k-ng-model="Survey.QUESTIONS" style="width:100%;" required></select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label"> Expiry Date </label>
                                <input class="form-control" type="text" name="ExpDatePicker" ng-model="Survey.EXPIRY_DATE" id="ExpDatePicker" placeholder="Select Date...">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row collapse in" id="demo">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body form">
                    <div class="row">
                        <kendo-grid options="grid" id="grid"></kendo-grid>
                        @Html.Partial("~/Views/Shared/Controls/_GridToolbar.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");

    $("#ExpDatePicker").datepicker({
        changeMonth: true,
        changeYear: true,
    });

</script>

<script src="@Scripts.Url("~/JS/reportFilter.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoErp.Distribution/js/MenuNavigation.js")"></script>