
@{
    ViewBag.Title = "QuickCapSetting";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<style>
    .dropdown-header {
        border-width: 0 0 1px 0;
        text-transform: uppercase;
    }

        .dropdown-header > span {
            display: inline-block;
            padding: 10px;
        }

            .dropdown-header > span:first-child {
                width: 50px;
            }

    .selected-value {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        background-size: 100%;
        margin-right: 5px;
        border-radius: 50%;
    }

    #customers-list .k-item {
        line-height: 1em;
        min-width: 300px;
    }

    /* Material Theme padding adjustment*/

    .k-material #customers-list .k-item,
    .k-material #customers-list .k-item.k-state-hover,
    .k-materialblack #customers-list .k-item,
    .k-materialblack #customers-list .k-item.k-state-hover {
        padding-left: 5px;
        border-left: 0;
    }

    #customers-list .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px 10px 5px;
    }

        #customers-list .k-item > span:first-child {
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }

    #customers-list h3 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }

    #customers-list p {
        margin: 0;
        padding: 0;
        font-size: .8em;
    }

    .hideShow .btn {
        padding: 5px 16px;
    }
</style>

<h2>QuickCap Userwise Permission</h2>

<div class="divList" ng-app="bulkApp">
    <div class="row" ng-controller="bulkCtrl">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Menu Control
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="javascript:;" class="reload" ng-click="ReloadGrid()">
                        </a>
                        
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-hover datatable ">
                        <thead>
                            <tr>
                                <th style="width:200px;"><b>Metric Title</b></th>
                                <th style="width:200px;"><b>Metric Name</b></th>
                                <th style="width:200px;"><b>Module name</b></th>
                                <th><b>User Name</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(i, menuPermission) in permissionList track by $index   ">

                                <td>
                                    {{menuPermission.QUICKCAP_TITLE}}
                                </td>
                                <td>
                                    {{menuPermission.QUICKCAP_EDESC}}
                                </td>
                                <td>
                                    {{menuPermission.ModuleName}}
                                </td>
                                <td style="width:430px">
                                    @{

                                        @Html.Partial("~/Views/Shared/_BulkQuickCap.cshtml")
                                    }

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>




