@model bool
    
<style>
    .selectbox {
        cursor: pointer;
        color: #337ab7;
    }
   div#ndp-nepali-box {
  
    z-index: 10076 !important;
   
}
   .ui-datepicker {   z-index: 10076 !important;}
</style>

@{ 
    var pageid = ViewData["ActionPageId"];
}

    @{
        {
            // Model==True means display date fields in same line with floating left
            // Model == False means display date fields in seperate line
            if (Model == true)
            {
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label">Date Filter abc</label>                      
                            <select class="dateFilterSelect form-control" id="ddlDateFilterVoucher_@pageid" name="DateStep"></select>                      
                    </div>

                    <div class="form-group">
                        <label class="control-label">BS Date Range</label>
                       
                            <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                <input type="text" id="fromInputDateVoucher_@pageid" class="frmDataInput form-control" placeholder="From Date" />

                                <span class="input-group-addon">
                                    to
                                </span>
                                <input type="text" class="frmDataInput form-control" id="toInputDateVoucher_@pageid" placeholder="To Date">
                            </div>
                            <!-- /input-group -->
                      
                    </div>
                    <div class="form-group">
                        <label class="control-label">AD Date Range</label>
                       
                            <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                <input type="text" name="FromDateVoucher" id="FromDateVoucher_@pageid" class="form-control frmDataInput" readonly="readonly" placeholder="From Date" />

                                <span class="input-group-addon">
                                    to
                                </span>
                                <input type="text" name="ToDateVoucher" class="form-control frmDataInput" readonly="readonly" id="ToDateVoucher_@pageid" placeholder="To Date">
                            </div>
                            <!-- /input-group -->
                       
                    </div>
                </div>
            }
            else
            {
                <a href="#form_modal2_@pageid" data-toggle="modal">
                    <div class="pull-right tooltips-date btn btn-sm datepicker-gap" data-container="body" data-placement="bottom" data-original-title="Click To Filter Date Range"style="width:auto"id="Asis_@pageid">
                        <i class="icon-calendar"></i>&nbsp;
                      
                        
                        <span id="spandate_@pageid" class="thin uppercase hidden-xs color-view bg-default bg-font-default bold uppercase"></span>&nbsp;
                        
                        <i class="fa fa-angle-down"></i>
                    </div>
                </a>
                <div id="form_modal2_@pageid" class="modal fade" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-custom">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Filter Date Time</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Date Filter</label>
                                        <div class="col-md-8">
                                            <select class="dateFilterSelect form-control" id="ddlDateFilterVoucher_@pageid" name="DateStep" style="width: 50%;"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">BS Date Range</label>
                                        <div class="col-md-8">
                                            <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                <input type="text" id="fromInputDateVoucher_@pageid" class="frmDataInput form-control" placeholder="From Date" />

                                                <span class="input-group-addon">
                                                    to
                                                </span>
                                                <input type="text" class="frmDataInput form-control" id="toInputDateVoucher_@pageid" placeholder="To Date">
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">AD Date Range</label>
                                        <div class="col-md-8">
                                            <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                                <input type="text" name="FromDateVoucher" id="FromDateVoucher_@pageid" class="form-control frmDataInput" readonly="readonly" placeholder="From Date" />

                                                <span class="input-group-addon">
                                                    to
                                                </span>
                                                <input type="text" name="ToDateVoucher" class="form-control frmDataInput" readonly="readonly" id="ToDateVoucher_@pageid" placeholder="To Date">
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn green applydp_@pageid" id="applydp_@pageid">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
<script src="@Scripts.Url("~/JS/DateFilter.js?v3")" type="text/javascript"></script>
<script>
  
    $(document).ready(function () {
        DateFilter.init('@pageid');
      
    });


</script>