@using NeoErp.Core.Models;
@{
    var actionPageId = "MonthlyTargetGoalRuslanDivision";
    var companyCode = "06";
    var branchCode = "06.01";
    var branchName = "Ruslan";
}
<style>
    .slimScrollBar {
        border-radius: 5px !important;
        background-color: #333 !important;
    }

    .slimScrollDiv, #customerMultiSelect {
        height: auto !important;
    }

    ul.dropdown-menu.custom {
        margin-top: 8px !important;
        border: none;
        box-shadow: none !important;
    }

    .dropdown-menu.custom:before {
        left: 58px !important;
    }

    .download-btn {
        margin: 0px !important;
        padding-top: -2px !important;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -5px !important;
        margin-left: 5px !important;
    }

    .dropdown-menu.custom {
        left: -27px !important;
        top: 20px !important;
    }

    .dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 30px;
        right: auto;
        display: inline-block !important;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        border-left: 8px solid transparent;
        content: '';
    }

    i.icon-arrow-down {
        color: #acacac;
    }

    .btn-group-custom button.btn {
        padding: 7px 7px !important;
        float: left;
    }

    .dropdown-menu.custom {
        left: -55px !important;
    }

    a.btnCategoryDatagrid {
        color: #acacac !important;
    }
</style>


<!-- /.modal-dialog -->
<div class="portlet portlet-sortable light bordered" id="@actionPageId">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green-haze"></i>
            <span class="caption-subject bold uppercase font-green-haze custom-modal"> Goal Of The Year(@branchName)</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            @*<a class="btnCategoryDatagrid" href="javascript:;" onclick="GenerateDataGrid_Category();" data-grid="Chart" title="Data grid">*@


            <a href="javascript:;" class="fullscreen"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                    <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:23pt;">
                            <span data-counter="counterup" id="goal_@actionPageId">549</span>
                        </div>
                        <div class="desc"> Goal</div>
                    </div>

                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                    <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number" style="font-size:23pt;">
                            <span data-counter="counterup" id="goalacchived_@actionPageId">549</span>%
                        </div>
                        <div class="desc">Achived</div>
                    </div>

                </a>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="demo-section k-content wide">
                <div id="chart_@actionPageId"></div>
            </div>
        </div>
    </div>
</div>
<script>
        var pageId_CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL = '@actionPageId';
        var companyCode_CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL = '@companyCode';
        var branchCode_CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL = '@branchCode';
        var branchName_CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL = '@branchName';
        var CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL = (function () {
            //initialize variables
            var config = {
                url: window.location.protocol + "//" + window.location.host + "/api/SalesSummaryReportApi/GetSalesAchieveDivisionMonth",
                series: [{
                    field: "Amount",
                    name: "#= group.value #"
                }],
                color: ["#0000FF", "#7FFF00", "#006400", "#9932CC", "#C71585", "#FF0000", "#FFFF00"],
                categoryField: "DisplayMonth",
                categoryTitle: branchName_CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL,
                group: { field: "FiscalYear" },
                sortField: "MonthInt",

                isStack: false,
                fieldValue: $("input[name=fieldType_CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL]:checked").val(),
                showLabel: $("#showLabel_CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL").prop("checked"),
                seriesType: $("input[name=seriesType_CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL]:checked").val(),



            };
            var _oldConfig = JSON.stringify(config);


            function loadDataSource() {

                reportFilter = reportFilter == undefined ? ReportFilter.filterAdditionalData() : reportFilter;
                var filter = $.extend(true, {}, reportFilter);
                filter.ReportFilters.DivisionFilter = [branchCode_CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL];
                filter.ReportFilters.CompanyFilter = [companyCode_CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL];
                console.log("test");
                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: Arg.url(config.url, { duration: "This Year" }),
                            dataType: "json", // <-- The default was "jsonp".
                            type: "POST",
                            contentType: "application/json; charset=utf-8"
                        },
                        parameterMap: function (options, type) {
                            var paramMap = JSON.stringify($.extend(options, filter));
                            delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                            delete paramMap.$format; // <-- remove format parameter.
                            return paramMap;
                        }
                    },
                    sort: {
                        field: "order",
                        dir: "asc"
                    },
                    group: {
                        field: "MONTH"
                    }
                });


                CreateChart(dataSource);
            }
            function CreateChart(dataSource) {
                $("#chart_@actionPageId").kendoChart({
                    dataSource: dataSource,
                    chartArea: {
                        height: ($("#chart_@actionPageId").hasClass("portlet-fullscreen")) ? 550 : 300,
                    },
                    legend: {
                        position: "top",
                        visible: false,
                    },
                    title: {
                        text: "Month Wise Of " + '@branchName'+" Division",
                    },
                    seriesDefaults: {
                        type: "donut",
                        startAngle: 270
                    },
                    dataBound: function (e) {
                        var data = e.sender.dataSource.data();
                        if (data.length > 0)
                        {
                            $("#goal_@actionPageId").html(data[0].TARGETAMOUNT);
                            $("#goalacchived_@actionPageId").html(data[0].achivedPercentage.toFixed(2));
                        }


                    },
                    series: [{
                        field: "SalesAchived",
                        categoryField: "reportType",
                        visibleInLegend : false,
                        padding: 10
                    }],
                    tooltip: {
                        visible: true,
                        template: "#= dataItem.reportType #: #= value #% (#= dataItem.MONTH #)"
                    }
                });

            }

            return {
                init: loadDataSource,

            };
        })();

        $(document).ready(function () {

            CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL.init();
            //start Binding
          //  $(document).bind("kendo:skinChange", CollectionChartBranchWiseFiscalYearFactoryDivision_HEPL.init);

        });
</script>