@using NeoErp.Core.Helpers
@using NeoErp.Core.Models.CustomModels
@using NeoErp.Core.Models;
@{
    var actionPageId = "MonthlyCompanyBankBalanceGroupChart";

}
<style>
    .slimScrollBar {
        border-radius: 5px !important;
        background-color: #333 !important;
    }

    .slimScrollDiv, #customerMultiSelect {
        height: auto !important;
    }

    ul.dropdown-menu.custom {
        margin-top: 8px !important;
        border: none;
        box-shadow: none !important;
    }

    .dropdown-menu.custom:before {
        left: 58px !important;
    }

    .download-btn {
        margin: 0px !important;
        padding-top: -2px !important;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -5px !important;
        margin-left: 5px !important;
    }

    .dropdown-menu.custom {
        left: -27px !important;
        top: 20px !important;
    }

    .dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 30px;
        right: auto;
        display: inline-block !important;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        border-left: 8px solid transparent;
        content: '';
    }

    i.icon-arrow-down {
        color: #acacac;
    }

    .btn-group-custom button.btn {
        padding: 7px 7px !important;
        float: left;
    }

    .dropdown-menu.custom {
        left: -55px !important;
    }

    a.monthlyCompanyBankBalanceDatagrid {
        color: #acacac !important;
    }
</style>
<div class="modal fade" id="Model_@actionPageId" tabindex="-1" role="dialog" aria-labelledby="CompanyBankBalanceModalGroupLabel" aria-hidden="true">
    <div class="modal-dialog custom-chart">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span class="fa fa-bar-chart"></span> Monthly company BankBalance chart</h4>
            </div>
            <div class="modal-body bottom-gappingtwo">
                <div class="row">
                    <div class="monthlybranch-sales clearfix">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="control-label"> As on Date</label>
                                <div class="">
                                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/DatePicker.cshtml", new DatePickerModel()
                               {
                                   ActionPageId = actionPageId
                               })
                                </div>
                            </div>
                            <div class="btn-group optionsCompanyBankBalance" data-toggle="buttons">
                                <button type="button" class="btn btn-sm default blue-stripe">
                                    <i class="fa fa-bar-chart"></i>
                                    <input id="typeColumnCompanyBankBalance" name="seriesTypeCompanyBankBalance"
                                           type="radio" value="column" checked="checked" autocomplete="off" /> column
                                </button>
                                <button type="button" class="btn btn-sm default blue-stripe">
                                    <i class="fa fa-bar-chart"></i>
                                    <input id="typeBarCompanyBankBalance" name="seriesTypeCompanyBankBalance"
                                           type="radio" value="bar" autocomplete="off" /> bar
                                </button>
                                <button type="button" class="btn btn-sm default blue-stripe">
                                    <i class="fa fa-line-chart"></i>
                                    <input id="typeLineCompanyBankBalance" name="seriesTypeCompanyBankBalance"
                                           type="radio" value="line" autocomplete="off" />Line
                                </button>
                            </div>
                        </div>
                        <div class="options">
                            <div class="col-sm-6 col-md-6 choose margin_bottom">
                                <div class="btn-group optionsCompanyBankBalance hidden" data-toggle="buttons">
                                    <h4> Choose Value Field</h4>
                                    <button type="button" class="btn btn-sm default red-stripe">
                                        <i class="fa fa-cart-arrow-down"></i>
                                        <input id="QuantityColumnCompanyBankBalance" name="fieldTypeCompanyBankBalance"
                                               type="radio" value="Quantity" checked="checked" autocomplete="off" /> Quantity
                                    </button>
                                    <button type="button" class="btn btn-sm default green-stripe">
                                        <i class="fa fa-rupee"></i>
                                        <input id="typeBarCompanyBankBalance" name="fieldTypeCompanyBankBalance"
                                               type="radio" value="Amount" autocomplete="off" /> Amount
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <!-- show label & Stack option-->
                                <div class="input-group chart-option">
                                    <div class="icheck-inline">
                                        <label>
                                            <input id="showlablesCompanyBankBalance" type="checkbox" autocomplete="off" /> Show Labels
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @*<div class="form-horizontal">
                    <div class="filter_title">
                        <div class="clearfix">
                            <label class="filter-label">Advance Filter</label>
                        </div>

                        @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                    {
                        ShowCustomerFilter = false,
                        ShowProductFilter = true,
                        ShowPartyTypeFilter = false,
                        ShowCategoryFilter = true,
                        ShowLocationFilter = false,
                        ShowDocumentFilter = false,
                        ShowCompanyFilter = false,
                        ShowBranchFilter = false,
                        IsPopUp = false,
                        ActionPageId = actionPageId
                    })
                    </div>
                </div>*@
            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn default" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-green applydp" data-dismiss="modal" id="apply_@actionPageId">Apply</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="portlet portlet-sortable  light bordered" id="MonthlyCompanyBankBalanceGroupChart">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green-haze"></i>
            <span class="caption-subject bold uppercase font-green-haze custom-modal">Company BankBalance Chart</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a class="btnGrid monthlyCompanyBankBalanceDatagrid" data-type="Chart" data-chart-name="company_sales_monthly" data-title="Grid">
                <i class="fa fa-table"></i>
            </a>

            <div class="btn-group">
                <a class="btn dropdown-toggle download-btn" title="Download" data-toggle="dropdown" href="#">
                    <i class="icon-arrow-down SecondcustomCompanyBankBalance"></i>

                </a>
                <ul class="dropdown-menu custom SecondslidetoggleCompanyBankBalance">
                    <div class="btn-group-custom">
                        <button type="button" data-id="CompanyBankBalanceChart" class="export-pdf btn default green-stripe"><i class="fa fa-file-pdf-o"></i> PDF</button>
                        <button type="button" data-id="CompanyBankBalanceChart" class="export-img btn default blue-stripe"><i class="fa fa-image-o"></i>Image</button>
                        <button type="button" data-id="CompanyBankBalanceChart" class="export-svg btn default red-stripe">SVG</button>
                    </div>
                </ul>
            </div>
            <a href="#Model_@actionPageId" data-toggle="modal" class="config">
            </a>
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="fullscreen">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <script type="text/x-kendo-template" id="toolbar-template">
            <div class="k-header k-grid-toolbar pull-right">

                <a class="k-button k-button-icontext k-grid-excel" href="javascript:">
                    <i class="fa fa-file-excel-o"></i>
                </a>
        </script>
        <div class="k-content wide">
            <div id="CompanyBankBalanceChart"></div>
            <div class="overlay"><div>No data available</div></div>
            <div class="AmountFigureType"></div>
            <div class="DisplayFilterContent"><a href="javascript:;" data-toggle="tooltip" title=""></a></div>
        </div>
    </div>


    <script>
        var defaultDateFormat_monthlyCompanyBankBalance = "";

        var dataBounded_MonthlyCompanyBankBalanceGroupChart = false;
        var dayWiseUrl_MonthlyCompanyBankBalanceGroupChart = "";
        var toggleFlag_MonthlyCompanyBankBalanceGroupChart = true;
        var _oldDate_MonthlyCompanyBankBalanceGroupChart = "";






        //*******************for Chart Create Start here


        //*******************for Chart Create End here

        //LoadDataGrid function for data-grid
        function LoadDataGrid_MonthlyCompanyBankBalanceGroupChart(dataSource, monthField) {
            $("#CompanyBankBalanceChart").html('');
            $('.monthlyCompanyBankBalanceDatagrid').data("type", "Grid");
            var monthTitle = "Month";
            var format = $("input[name=DateFormat_monthlyCompanyBankBalance]:checked").val();
            dataSource = dataSource == undefined ? $("#CompanyBankBalanceChart").data("kendoChart").dataSource : dataSource;
            if (format == "BS") {
                if (dataSource.data().length > 0 && dataSource.data()[0].day != null) {
                    monthField = "day";
                    monthTitle = "days [month : " + dataSource.data()[0].Nepalimonth + "]";
                }
                else {
                    monthField = "month";
                    monthTitle = "Month"
                }
            }
            if (monthField == undefined)
                if (dataSource.data().length > 0 && dataSource.data()[0].day != null) {
                    monthField = "day";
                    monthTitle = "days [month : " + dataSource.data()[0].Month + "]";
                }
                else {
                    monthField = "Month";
                    monthTitle = "Month"
                }
            //dataSource.query({
            //    group: { field: monthField, },
            //    sort: { field: "NepaliMonthInt", dir: "asc" },
            //});
            // dataSource.group({ field: "Month", title: "Month" });
            dataSource.group([]);
            $("#CompanyBankBalanceChart").kendoGrid({
                dataSource: dataSource,
                height: $("#MonthlyBranchchart").hasClass("portlet-fullscreen") ? 550 : 350,
                groupable: false,
                sortable: true,
                //selectable: "multiple",
                toolbar: [{ template: kendo.template($("#toolbar-template").html()) }],
                excel: {
                    fileName: "Company Bank Balance Report",
                    allPages: true
                },
                columns: [{
                    field: "Companyname",
                    title: "Company Name",
                    width: 240
                }, {
                    field: "Amount",
                    title: "Amount",
                    format: "{0:n}",
                    attributes: {
                        style: "text-align: right;"
                    },
                }],
                dataBound: function (e) {
                    var gird = e.sender;
                    flag = false;
                    gird.table.find(".k-grouping-row").each(function () {
                        if (flag == true) { gird.collapseGroup(this); }
                        else
                            flag = true;
                    });
                }
            });
        }


        function ThirdChartData_CompanyBankBalance() {
            $('.monthlyCompanyBankBalanceDatagrid').data("type", "Chart");
            var urlData = "";
            CreateMonthlyCompanyBankBalanceGroupChart(urlData);
            RefreshChartFilterControl('@actionPageId');
        }

        var checkedCompany = "";
        $(".monthlyCompanyBankBalanceDatagrid").click(function () {

            var type = $('.monthlyCompanyBankBalanceDatagrid').data("type");
            var name = $('.monthlyCompanyBankBalanceDatagrid').data("chart-name");
             

            if (type == "Chart" && name == "company_sales_monthly") {
                LoadDataGrid_MonthlyCompanyBankBalanceGroupChart()
                $('.monthlyCompanyBankBalanceDatagrid').data("type", "Grid");
            }
            else if (type == "Chart" && name == "branch_sales_monthly") {
                LoadDataGrid_MonthlyBranchSalesChartForCompanyBankBalance();
                $('.monthlyCompanyBankBalanceDatagrid').data("type", "Grid");
            }
            else if (type == "Grid" && name == "branch_sales_monthly") {
                $('.monthlyCompanyBankBalanceDatagrid').data("type", "Chart");
                var urldata = "?customerCode=&itemCode=&categoryCode=&companyCode=" + checkedCompany + "&branchCode=&partyTypeCode=&formCode=";
                LoadChart_MonthlyBranchSalesChartForCompanyBankBalance()
                $('.monthlyCompanyBankBalanceDatagrid').data("type", "Chart");
            }
            else if (type == "Grid") {
                ThirdChartData_CompanyBankBalance();
                $('.monthlyCompanyBankBalanceDatagrid').data("type", "Chart");
            }
            $("i", this).toggleClass("icon-bar-chart");
        });

        $("#CompanyBankBalanceChart").on('dblclick', ".k-state-selected", function (e) {

            var grid = $("#CompanyBankBalanceChart").data("kendoGrid");
            var dateformat = $("input[name=DateFormat_monthlyCompanyBankBalance]:checked").val();
            var selectedItem = grid.dataItem(grid.select());
            selectedItem.Month = selectedItem.Month == null ? selectedItem.Nepalimonth : selectedItem.Month;

            var clickedMonth = selectedItem.Month;
            var clickedCompany = selectedItem.Companycode;
            var urldata = "?customerCode=&itemCode=&categoryCode=&companyCode=" + clickedCompany + "&branchCode=&partyTypeCode=&formCode=";
            $('#MonthlyCompanyBankBalanceGroupChart .monthlyCompanyBankBalanceDatagrid').data("chart-name", "branch_sales_monthly");
            CreateMonthlyBranchSalesChartFormCompanyBankBalanceChart(urldata);
        })
        var tempcopanayselected = [];
        function CreateMonthlyCompanyBankBalanceGroupChart(urlData) {
            $('#MonthlyCompanyBankBalanceGroupChart').find('.caption-subject').html("Company BankBalance Chart");
            urlData = (urlData == undefined || urlData == "") ? "?customerCode=&itemCode=&categoryCode=&companyCode=&branchCode=" + branchCodes + "&partyTypeCode=&formCode=" : urlData;
            monthlyCompanyBankBalance = urlData.replace('?', '&');
            dayWiseUrl_MonthlyCompanyBankBalanceGroupChart = monthlyCompanyBankBalance;
            var dateformat = $("input[name=DateFormat_monthlyCompanyBankBalance]:checked").val();
            var catagoryAxisName_monthlyCompanyBankBalance = "Month", sortAxis_monthlySales = "Month";
            //if (dateformat == "BS") {
            //    catagoryAxisName_monthlyCompanyBankBalance = "Nepalimonth";
            //    sortAxis_monthlySales = "NepaliMonthInt";
            //}
            var mainUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetCompanyBankBalanceReport";
            var IsDataGrid = $('#MonthlyCompanyBankBalanceGroupChart .monthlyCompanyBankBalanceDatagrid').data("type");
            var DataGridChartName = $('#MonthlyCompanyBankBalanceGroupChart .monthlyCompanyBankBalanceDatagrid').data("chart-name");
            reportFilter = reportFilter == undefined ? ReportFilter.filterAdditionalData() : reportFilter;
            reportFilter.ReportFilters.BranchFilter = [];
            reportFilter.ReportFilters.FromDate = $("#datePickerAd_MonthlyCompanyBankBalanceGroupChart").val();
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: mainUrl + "?DateFormat=" + dateformat + urlData.replace('?', '&'),
                        dataType: "json", // <-- The default was "jsonp".
                        type: "POST",
                        contentType: "application/json; charset=utf-8"
                    },
                    parameterMap: function (options, type) {
                        var paramMap = JSON.stringify($.extend(options, reportFilter));
                        delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                        delete paramMap.$format; // <-- remove format parameter.
                        return paramMap;
                    }
                },
                requestStart: function () {
                    if (IsDataGrid != "Grid") {
                        kendo.ui.progress($("#MonthlyCompanyBankBalanceGroupChart"), true);
                    }
                },
                requestEnd: function () {
                    kendo.ui.progress($("#MonthlyCompanyBankBalanceGroupChart"), false);
                },
            });
            // data-grid set option on ceate funciton
            $("#MonthlyCompanyBankBalanceGroupChart .DisplayFilterContent a").text("");


            if (IsDataGrid == "Grid" && DataGridChartName == "company_sales_monthly") {
                LoadDataGrid_MonthlyCompanyBankBalanceGroupChart(dataSource);
                return;
            }
            else if (IsDataGrid == "Grid" && DataGridChartName == "branch_sales_monthly") {
                $('#MonthlyCompanyBankBalanceGroupChart .monthlyCompanyBankBalanceDatagrid').data("chart-name", "branch_sales_monthly");
                LoadDataGrid_MonthlyBranchSalesChartForCompanyBankBalance();
                return;
            }

            LoadChart_MonthlyBranchSalesChartForCompanyBankBalance(dataSource);


        }


        function LoadChart_MonthlyBranchSalesChartForCompanyBankBalance(dataSource) {
             
            dataSource = dataSource == undefined ? $("#CompanyBankBalanceChart").data("kendoChart").dataSource : dataSource;
            var monthField = 'Companyname';
            var seriesDyB = [{ field: "Amount", name: "Amount"}];
            var title = "";
            if (dataSource.data().length > 0) {
                if (dataSource.data()[0].MonthYear != null) {
                    monthField = 'MonthYear';
                    seriesDyB = [{ field: "Deposit", name: "Deposit" }, { field: "WithDrawn", name: "WithDrawn" }];
                    title = dataSource.data()[0].BranchName;
                    dataSource.group([]);

                }
                else if (dataSource.data()[0].BranchName != null) {
                    monthField = '';                   
                    dataSource.group({ field: "BankName" });
                    seriesDyB = [{ field: "Amount",categoryField: "BranchName", name: "#= group.value #"}];
                    

                }
                else {
                    monthField = 'Companyname';

                }

            }

            $("#CompanyBankBalanceChart").kendoChart({
                chartArea: {
                    height: ($("#MonthlyCompanyBankBalanceGroupChart").hasClass("portlet-fullscreen")) ? 550 : 350,
                },
                onDrag: function (e) {
                    var chart = e.sender;
                    var ds = chart.dataSource;
                    var options = chart.options;
                    var categoryRange = e.axisRanges.CategoryAxis;
                    if (categoryRange) {
                        var xMin = categoryRange.min;
                        var xMax = categoryRange.max;

                        options.categoryAxis.min = xMin;
                        options.categoryAxis.max = xMax;

                        ds.filter(viewModel.getFilter(xMin, xMax));
                    }
                },
                pannable: {
                    lock: "y"
                },
                zoomable: {
                    mousewheel: {
                        lock: "y"
                    },
                    selection: {
                        lock: "y"
                    }
                },
                dataSource: dataSource,
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    type: $("input[name=seriesTypeCompanyBankBalance]:checked").val(),
                    // style: "smooth",
                    labels: {
                        visible: $("#showlablesCompanyBankBalance").prop("checked"),
                        template: "#=FormatLabels(value)#",
                        rotation: '0',
                    },
                    overlay: {
                        gradient: "roundedBevel"
                    },
                },
                valueAxis: {
                    line: {
                        visible: true
                    },
                    labels: {
                        rotation: 'auto',
                        template: "#= FormatLabels(value)#"
                    },
                    rotation: '270',
                    padding: {
                        left: -5
                    },
                    title: { text: amountFigureType }
                },
                series: seriesDyB,
                //seriesColors: ["#428bca", "#da3b36", "#e67d4a", "#5bc0de", "#5cb85c", "#f2b661"],
                categoryAxis: [
                    {
                        visible:false
                    },
                  {

                      field: monthField,
                      visible: true,

                      labels: {
                          rotation: -45,
                      },
                      title: { text: title }
                  }],

                tooltip: {
                    visible: true,
                    format: "{0}",
                    template: "#= FormatLabels(value)#"
                },
                dataBound: function (e) {
                    var maxValue = getMaxValueFromDataSource(e);
                    var majorunit = Math.max(6, maxValue / 6);
                    e.sender.options.valueAxis.majorUnit = majorunit;
                    e.sender.options.valueAxis.max = maxValue + majorunit;
                    e.sender.options.valueAxis.axisCrossingValue = [0, -(maxValue + majorunit)];
                    $("#CompanyBankBalanceChart").next(".overlay").toggle(maxValue <= 0);
                     if (e.sender.options.series[0].name == "null") e.sender.options.series[0].name = "Amount";
                },
                seriesClick: function (e) {

                    if (e.dataItem.BankName == null) {
                        $('#MonthlyCompanyBankBalanceGroupChart .monthlyCompanyBankBalanceDatagrid').data("chart-name", "branch_sales_monthly");
                        CreateMonthlyBranchSalesChartFormCompanyBankBalanceChart(e);
                    }
                    else {
                        seriesClick_companyBank(e)
                    }

                },
            });

        }
    </script>
    <script>
        $("#showzerovalue_monthlyBranchSales").on("change", function () {
            CreateMonthlyCompanyBankBalanceGroupChart();
            RefreshChartFilterControl('@actionPageId');
        });
        $('#CompanyBankBalanceChart').closest('.portlet').find('.fullscreen').click(function () {
            if ($(this).hasClass("on")) {
                $("#CompanyBankBalanceChart").data("kendoChart").options.chartArea.height = 350;
            }
            else {
                $("#CompanyBankBalanceChart").data("kendoChart").options.chartArea.height = 550;
            }
            $("#CompanyBankBalanceChart").data("kendoChart").dataSource.read();
            $("#CompanyBankBalanceChart").data("kendoChart").refresh();
        });
        $('#CompanyBankBalanceChart').closest('.portlet').find('.config').click(function () {
            $(this).closest('.portlet').css('zIndex', 10040);
        });
        $('#CompanyBankBalanceChart').closest('.portlet').find('.icon-arrow-down').click(function () {
            $(this).closest('.portlet').css('zIndex', 10040);
        });
        $('#CompanyBankBalanceChart').closest('.portlet').find('.reload').click(function () {
            var urlData = "?customerCode=&itemCode=&categoryCode=&companyCode=&branchCode=" + branchCodes + "&partyTypeCode=&formCode=";
            $('#MonthlyCompanyBankBalanceGroupChart .monthlyCompanyBankBalanceDatagrid').data("chart-name", "company_sales_monthly");
            $('#MonthlyCompanyBankBalanceGroupChart .monthlyCompanyBankBalanceDatagrid').data("type", "Chart");
            CreateMonthlyCompanyBankBalanceGroupChart(urlData);
            RefreshChartFilterControl('@actionPageId'); // ??
        });

        function refreshCompanyBankBalance() {
            if ($(".monthlyCompanyBankBalanceDatagrid").attr("data-type") == "Grid")// data-grid toogle chart option in data-grid attribute in div
            {
                $(".monthlyCompanyBankBalanceDatagrid").attr("data-type", "Chart");
                CreateMonthlyBranchSalesChart();
                return;
            }

            var chart = $("#CompanyBankBalanceChart").data("kendoChart"),
                type = $("input[name=seriesTypeCompanyBankBalance]:checked").val(),
                fieldtype = $("input[name=fieldTypeCompanyBankBalance]:checked").val(),
                labels = $("#showlablesCompanyBankBalance").prop("checked");
            var dateformat = $("input[name=DateFormat_monthlyCompanyBankBalance]:checked").val();

            for (var i = 0, length = chart.options.series.length; i < length; i++) {
                chart.options.series[i].type = type;
                chart.options.series[i].labels.visible = labels;
            };

            if (fieldtype == "Quantity") {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].field = "Quantity";
                };
            }
            else {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].field = "Amount";
                };
            }


            if (type == "column") {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].labels.rotation = -90;
                }
            }
            if (type == "bar") {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].labels.rotation = 0;
                }
            }
            chart.refresh();
        }

        $('#apply_@actionPageId').click(function () {
            //check for filter changes
            var IsDateChanged = false;
            var newDate = $("#datePickerAd_MonthlyCompanyBankBalanceGroupChart").val();
            if (_oldDate_MonthlyCompanyBankBalanceGroupChart != newDate) {
                IsDateChanged = true;
                _oldDate_MonthlyCompanyBankBalanceGroupChart = $("#datePickerAd_MonthlyCompanyBankBalanceGroupChart").val();

            }



            ChartFilter('@actionPageId', "CreateMonthlyCompanyBankBalanceGroupChart", IsDateChanged);
        });

        $(document).ready(function () {
            defaultDateFormat_monthlyCompanyBankBalance = $('input[name=DateFormat_monthlyCompanyBankBalance]:checked').val();
            $('[title="Download"]').tooltip({
                trigger: 'hover'
            });

            $('.icon-arrow-down.SecondcustomCompanyBankBalance').click(function () {
                $('.dropdown-menu.custom.SecondslidetoggleCompanyBankBalance').slideToggle(200);
            });
            DatePicker.init('@actionPageId', "", "");
            _oldDate_MonthlyCompanyBankBalanceGroupChart = $("#datePickerAd_MonthlyCompanyBankBalanceGroupChart").val();
            CreateMonthlyCompanyBankBalanceGroupChart();

            $(".optionsCompanyBankBalance").bind("change", function () {
                if ($('.monthlyCompanyBankBalanceDatagrid').data("type") == "Chart")
                    refreshCompanyBankBalance();
                else
                    chart_grid_option_change("CompanyBankBalanceChart", "CreateMonthlyCompanyBankBalanceGroupChart");
            });
            $("#showlablesCompanyBankBalance").bind("change", function () {
                var temp = $('.monthlyCompanyBankBalanceDatagrid').data("type");
                $('.monthlyCompanyBankBalanceDatagrid').data("type", "temp");
                try {
                    var chart = $("#CompanyBankBalanceChart").data("kendoChart")
                    if (chart.dataSource.view()[0].Companyname == undefined)
                        refreshCompanyBankBalance();
                } catch (e) { }
                $('.monthlyCompanyBankBalanceDatagrid').data("type", temp);
            });


        });

    </script>
    <script>
        //$("input[name=DateFormat_monthlyBranchSales]").on('change', function () {
        //    CreateMonthlyCompanyBankBalanceGroupChart();
        //})
    </script>

    <!--Monthly Branch sales chart according to Company-->
    <script>
        //LoadDataGrid function for data-grid for company
        function LoadDataGrid_MonthlyBranchSalesChartForCompanyBankBalance(dataSource, monthField) {
            $("#CompanyBankBalanceChart").html('');
            //$('.monthlyCompanyBankBalanceDatagrid').data("type", "Grid");
            var monthTitle = "Month";
            var format = $("input[name=DateFormat_monthlyCompanyBankBalance]:checked").val();
            dataSource = dataSource == undefined ? $("#CompanyBankBalanceChart").data("kendoChart").dataSource : dataSource;
            if (format == "BS") {
                if (dataSource.data().length > 0 && dataSource.data()[0].day != null) {
                    monthField = "day";
                    monthTitle = "days [month : " + dataSource.data()[0].Nepalimonth + "]";
                }
                else {
                    monthField = "Nepalimonth";
                    monthTitle = "Month"
                }
            }
            if (monthField == undefined)
                if (dataSource.data().length > 0 && dataSource.data()[0].MonthYear != null) {
                    columns = [{
                        field: "MonthYear",
                        title: "Month [Cash : " + dataSource.data()[0].BankName + "]",
                        width: 240
                    }, {
                        field: "Deposit",
                        title: "Deposit",
                        format: "{0:n}",
                        attributes: {
                            style: "text-align: right;"
                        },
                    },
                              {
                                  field: "WithDrawn",
                                  title: "WithDrawn",
                                  format: "{0:n}",
                                  attributes: {
                                      style: "text-align: right;"
                                  },
                              }];
                }
                else {
                    columns = [{
                        field: "BankName",
                        title: "Bank",
                        width: 240
                    }, {
                        field: "Amount",
                        title: "Amount",
                        format: "{0:n}",
                        attributes: {
                            style: "text-align: right;"
                        },
                    }];

                }

            dataSource.group({ field: "BranchName", title: "Month" });
            $("#CompanyBankBalanceChart").kendoGrid({
                dataSource: dataSource,
                height: $("#MonthlyCompanyBankBalanceGroupChart").hasClass("portlet-fullscreen") ? 550 : 350,
                groupable: false,
                sortable: true,
                // selectable: "multiple",
                toolbar: [{ template: kendo.template($("#toolbar-template").html()) }],
                excel: {
                    fileName: "Company Bank Balance Report",
                    allPages: true
                },
                columns: columns,
                dataBound: function (e) {
                    var gird = e.sender;
                    flag = false;
                    gird.table.find(".k-grouping-row").each(function () {
                        if (flag == true) { gird.collapseGroup(this); }
                        else
                            flag = true;
                    });
                }
            });
        }
        function CreateMonthlyBranchSalesChartFormCompanyBankBalanceChart(e) {
            $('#MonthlyCompanyBankBalanceGroupChart').find('.caption-subject').html("BranchWise BankBalance Chart");
            var dateformat = $("input[name=DateFormat_monthlyCompanyBankBalance]:checked").val();
            var catagoryAxisName_monthlyBranchSales = "BranchName", sortAxis_monthlySales = "BRANCH_CODE";
            var mainUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetBranchBankBalanceReport";
            var IsDataGrid = $('#MonthlyCompanyBankBalanceGroupChart .monthlyCompanyBankBalanceDatagrid').data("type");
            reportFilter = reportFilter == undefined ? ReportFilter.filterAdditionalData() : reportFilter;
            reportFilter.ReportFilters.BranchFilter = [];
            reportFilter.ReportFilters.FromDate = $("#datePickerAd_MonthlyCompanyBankBalanceGroupChart").val();
            reportFilter.ReportFilters.CompanyFilter = [e.dataItem.Companycode];
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: mainUrl + "?DateFormat=" + dateformat,
                        dataType: "json", // <-- The default was "jsonp".
                        type: "POST",
                        contentType: "application/json; charset=utf-8"
                    },
                    parameterMap: function (options, type) {
                        var paramMap = JSON.stringify($.extend(options, reportFilter));
                        delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                        delete paramMap.$format; // <-- remove format parameter.
                        return paramMap;
                    }
                },
                requestStart: function () {
                    if (IsDataGrid != "Grid") {
                        kendo.ui.progress($("#CompanyBankBalanceChart"), true);
                    }
                },
                requestEnd: function () {
                    kendo.ui.progress($("#CompanyBankBalanceChart"), false);
                },
                group: {
                    field: "BankName"
                },

                sort: { field: "BRANCH_CODE", dir: "asc" },

            });
            // data-grid set option on ceate funciton
            $("#MonthlyCompanyBankBalanceGroupChart .DisplayFilterContentCompanyBankBalance a").text("");

            if (IsDataGrid == "Grid") {
                LoadDataGrid_MonthlyBranchSalesChartForCompanyBankBalance(dataSource);
                return;
            }

            $("#CompanyBankBalanceChart").kendoChart({
                chartArea: {
                    height: ($("#MonthlyCompanyBankBalanceGroupChart").hasClass("portlet-fullscreen")) ? 550 : 350,
                },
                onDrag: function (e) {
                    var chart = e.sender;
                    var ds = chart.dataSource;
                    var options = chart.options;
                    var categoryRange = e.axisRanges.CategoryAxis;
                    if (categoryRange) {
                        var xMin = categoryRange.min;
                        var xMax = categoryRange.max;

                        options.categoryAxis.min = xMin;
                        options.categoryAxis.max = xMax;

                        ds.filter(viewModel.getFilter(xMin, xMax));
                    }
                },
                pannable: {
                    lock: "y"
                },
                zoomable: {
                    mousewheel: {
                        lock: "y"
                    },
                    selection: {
                        lock: "y"
                    }
                },
                dataSource: dataSource,
                title: {
                },
                legend: {
                    position: "bottom"
                },
                group: {
                    field: "BankName"
                },
                seriesDefaults: {
                    type: $("input[name=seriesTypeCompanyBankBalance]:checked").val(),
                    style: "smooth",
                    labels: {
                        visible: $("#showlablesCompanyBankBalance").prop("checked"),
                        template: "#= FormatLabels(value)#"
                    },
                },
                valueAxis: {
                    axisCrossingValue: [0, -1e6, -1e6],
                    line: {
                        visible: true
                    },
                    labels: {
                        rotation: 'auto',
                        template: "#= FormatLabels(value)#"
                    },
                    title: { text: amountFigureType }
                },
                series: [{
                    field: "Amount",
                    categoryField: "BranchName",
                    name: "#= group.value #"
                }],
                seriesColors: ["#5bc0de", "#f2b661", "#da3b36", "#e67d4a", "#5cb85c"],
                categoryAxis: [
                    {
                        visible: false
                    },
                    {
                        labels: {
                            rotation: -45,
                        }
                    }],
                tooltip: {
                    visible: true,
                    format: "{0}",
                    template: "#= FormatLabels(value)#"
                },
                dataBound: function (e) {
                    var maxValue = getMaxValueFromDataSource(e);
                    var majorunit = Math.max(6, maxValue / 6);
                    e.sender.options.valueAxis.majorUnit = majorunit;
                    e.sender.options.valueAxis.max = maxValue + majorunit;
                    $("#CompanyBankBalanceChart").next(".overlay").toggle(maxValue <= 0);

                    e.sender.options.valueAxis.axisCrossingValue = [0, -(maxValue + majorunit)];
                },
                seriesClick: function (e) {
                    seriesClick_companyBank(e)
                }


            });
        }



        function seriesClick_companyBank(e) {
            var daywiseUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetBankBalanceMonthlyReport";
            $('#MonthlyCompanyBankBalanceGroupChart').find('.caption-subject').html("MonthWise BankBalance Chart");
            var dateformat = $("input[name=DateFormat_monthlyCompanyBankBalance]:checked").val();
            if (e.dataItem.BankName == undefined)
                return false;
            if (e.dataItem.WithDrawn != undefined)
                return false;
            reportFilter.ReportFilters.FromDate = $("#datePickerAd_MonthlyCompanyBankBalanceGroupChart").val();
            reportFilter.ReportFilters.BranchFilter = [e.dataItem.Branch_Code];
            var dataSourcetest = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: daywiseUrl + "?bankName=" + e.dataItem.BankName,
                        dataType: "json", // <-- The default was "jsonp".
                        type: "POST",
                        contentType: "application/json; charset=utf-8"
                    },
                    parameterMap: function (options, type) {
                        var paramMap = JSON.stringify($.extend(options, reportFilter));
                        delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                        delete paramMap.$format; // <-- remove format parameter.
                        return paramMap;
                    }
                },
                requestStart: function () {
                    kendo.ui.progress($("#MonthlyCompanyBankBalanceGroupChart"), true);
                },
                requestEnd: function () {
                    kendo.ui.progress($("#MonthlyCompanyBankBalanceGroupChart"), false);
                },
                sort: {
                    field: "MonthINT",
                    dir: "asc"
                },
            });

            var chart = $("#CompanyBankBalanceChart").data("kendoChart");
            //type = $("input[name=seriesTypeCompanyBankBalance]:checked").val(),
            for (var i = 0, length = chart.options.series.length; i < length; i++) {
                // chart.options.series[i].type = 'bar';
            };
            chart.setOptions({
                categoryAxis: [
                    {
                        visible: false
                    }, {
                        labels: {
                            rotation: -45,
                        },
                        title: { text: e.category }
                    }],
                series: [{
                    field: "Deposit",
                    categoryField: "MonthYear",
                    name: "Deposit"
                },
                {
                    field: "WithDrawn",
                    categoryField: "MonthYear",
                    name: "WithDrawn"
                }],
                tooltip: {
                    template: "#= FormatLabels(value)#"
                },
            });

            //chart.options.series[0].field = "Deposit";
            //chart.options.series[1].field = "WithDrawn";

            chart.setDataSource(dataSourcetest);
            chart.refresh();
        }
        //Export 
        $(".export-pdf").click(function () {
            var chartid = $(this).data("id");
            var chart = $("#" + chartid).getKendoChart();
            var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
            chart.exportPDF({ paperSize: "auto", margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" } }).done(function (data) {
                kendo.saveAs({

                    dataURI: data,
                    fileName: filename + ".pdf",
                    proxyURL: "//demos.telerik.com/kendo-ui/service/export"
                });
            });
        });

        $(".export-img").click(function () {
            var chartid = $(this).data("id");
            var chart = $("#" + chartid).getKendoChart();
            var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
            chart.exportImage().done(function (data) {
                kendo.saveAs({
                    dataURI: data,
                    fileName: filename + ".png",
                    proxyURL: "//demos.telerik.com/kendo-ui/service/export",

                });
            });
        });

        $(".export-svg").click(function () {
            var chartid = $(this).data("id");
            var chart = $("#" + chartid).getKendoChart();
            var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
            chart.exportSVG().done(function (data) {
                kendo.saveAs({
                    dataURI: data,
                    fileName: filename + ".svg",
                    proxyURL: "//demos.telerik.com/kendo-ui/service/export"
                });
            });
        });
    </script>
</div>
