@using NeoErp.Core.Models;
@{
    var actionPageId = "MonthlySalesVsTargetChart"; 
}

<div class="modal fade" id="Model_@actionPageId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-chart">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Monthly Sales Vs Target</h4>
            </div>
            <div class="modal-body bottom-gappingtwo form-horizontal">
                <div class="row">
                    <div class="branchwisesales-col clearfix">
                        <div class="btn-group options_MonthlySalesVsTargetChart responsivegap col-sm-12 col-md-12" data-toggle="buttons" data-type="chart">
                            <button type="button" class="btn btn-sm default red-stripe active">
                                <i class="fa fa-bar-chart"></i>
                                <input id="typeColumn" name="seriesType_MonthlySalesVsTargetChart"
                                       type="radio" checked="checked" value="column" autocomplete="off" />column
                            </button>
                            <button type="button" class="btn btn-sm default green-stripe">
                                <i class="fa fa-bar-chart"></i>
                                <input id="typeBar" name="seriesType_MonthlySalesVsTargetChart"
                                       type="radio" value="bar" autocomplete="off" />bar
                            </button>
                            <button type="button" class="btn btn-sm default purple-stripe">
                                <i class="fa fa-line-chart"></i>
                                <input id="typeLine" name="seriesType_MonthlySalesVsTargetChart"
                                       type="radio" value="line" autocomplete="off" />Line
                            </button>
                        </div>
                        <div class="col-xs-12 col-md-6 col-sm-6 margin-buttom">
                            <h5> Choose Value Field</h5>
                            <div class="btn-group" data-toggle="buttons">
                                <button type="button" class="btn btn-sm default red-stripe">
                                    <i class="fa fa-cart-arrow-down"></i>
                                    <input id="QuantityColumn" name="fieldType_@actionPageId"
                                           type="radio" value="Quantity" autocomplete="off" /> Quantity
                                </button>
                                <button type="button" class="btn btn-sm default green-stripe active">
                                    <i class=""></i>
                                    <input id="typeBar" name="fieldType_@actionPageId"
                                           type="radio" value="Amount" checked="checked" autocomplete="off" /> Amount
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="br"><div class="br"></div> </div>
                            <div class="clearfix" style="display:none;">
                                <div class="date-option">
                                    <label>
                                        <input type="radio" id="ADFormat" name="DateFormat_MonthlySalesVsTargetChart" value="AD" /> AD
                                    </label>
                                    <label>
                                        <input type="radio" id="BSFormat" name="DateFormat_MonthlySalesVsTargetChart" checked="checked" value="BS" /> BS
                                    </label>
                                </div>
                            </div>
                            <div>
                                <!-- show labels & inStack option-->
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            <input id="showLabel_MonthlySalesVsTargetChart" type="checkbox" autocomplete="off" /> Show Labels
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="br"></div>


                <div class="filter_title">
                    <label class="filter-label">Advance Filter</label>
                </div>

                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                {
                    ShowCustomerFilter = true,
                    ShowProductFilter = false,
                    ShowPartyTypeFilter = false,
                    ShowCategoryFilter = false,
                    ShowLocationFilter = false,
                    ShowDocumentFilter = false,
                    ShowCompanyFilter = false,
                    ShowFiscalYearFilter = false,
                    ShowBranchFilter = true,
                    ShowEmployeeFilter = true,
                    ShowAgentFilter = false,
                    ShowDivisionFilter = true,
                    IsPopUp = false,
                    ActionPageId = actionPageId
                })
            </div>


            <div class="modal-footer">
                @*<button type="button" class="btn default" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-green applydp" data-dismiss="modal" id="apply_@actionPageId">Apply</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="portlet portlet-sortable  light bordered" id="MonthlySalesVsTargetChart">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green-haze"></i>
            <span class="caption-subject bold uppercase font-green-haze custom-modal">Monthly Sales Vs Target</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            @*<a class="btnDatagrid" href="javascript:;" onclick="CreateGrid_MonthlySalesPlanChart();" data-grid="Chart" title="Data grid">*@
            <a class="btnGrid btnGrid_MonthlySalesVsTargetChart" data-type="Chart" data-title="Grid">
                <i class="fa fa-table"></i>
            </a>
            <a class="" id="btnBackMonthlySalesVsTarget" style="display:none">
                <i class="fa fa-angle-double-left"></i>
            </a>
            <div class="btn-group">
                <a class="btn dropdown-toggle download-btn" data-title="Download" data-toggle="dropdown" href="#">
                    <i class="icon-arrow-down Thirdcustom"></i>
                </a>
                <ul class="dropdown-menu custom">
                    <div class="btn-group-custom">
                        <button type="button" data-id="MonthlySalesVsTargetChartChart" class="export-pdf btn default red-stripe"><i class="fa fa-file-pdf-o"></i>PDF</button>
                        <button type="button" data-id="MonthlySalesVsTargetChartChart" class="export-img btn default blue-stripe"><i class="fa fa-image-o"></i>Image</button>
                        <button type="button" data-id="MonthlySalesVsTargetChartChart" class="export-svg btn default green-stripe">SVG</button>
                    </div>
                </ul>
            </div>
            <a href="#Model_@actionPageId" data-toggle="modal" class="config"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="fullscreen"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        <script type="text/x-kendo-template" id="toolbar-template">
            <div class="k-header k-grid-toolbar pull-right">

                <a class="k-button k-button-icontext k-grid-excel" href="javascript:">
                    <i class="fa fa-file-excel-o"></i>
                </a>
        </script>
        <div class="k-content wide">
            <div id="MonthlySalesVsTargetChartChart"></div>
            <div class="overlay"><div>No data available</div></div>
            <div class="AmountFigureType"></div>
            <div class="DisplayFilterContent"><a href="javascript:;" data-toggle="tooltip" title=""></a></div>
        </div>
    </div>

    <script>
        //initialize variables
        var config_MonthlySalesVsTargetChart = {
            url: window.location.protocol + "//" + window.location.host + "/api/PlanChartReportApi/GetSalesVsTargetMonthlyReport",
            childurl: window.location.protocol + "//" + window.location.host + "/api/PlanChartReportApi/GetSalesVsTargetMonthlyByProductReport",
            //dateFormat: $("input[name=DateFormat_EmployeeWiseSalesPlan]:checked").val(),
            dateFormat: $("input[name=DateFormat_MonthlySalesVsTargetChart]:checked").val(),
            fieldValue: $("input[name=fieldType_MonthlySalesVsTargetChart]:checked").val(),
            series: [{
                field: "PER_DAY_AMOUNT",
                name: "Sales",
                stack:false
            },
                {
                    field: "PER_DAY_SALES_AMOUNT",
                    name: "Target",
                    stack:false
                }],
            isStack: false,
            showLabel: $("#showLabel_MonthlySalesVsTargetChart").prop("checked"),
            color: ["#8A2BE2", "#5bc0de", "#5cb85c", "#f2b661"],
            seriesType: $("input[name=seriesType_MonthlySalesVsTargetChart]:checked").val(),
            categoryField: "MONTH",
            categoryTitle: '',
            group: { field: "COMPANY_CODE" },
            sortField: "MONTHINT",
            sortFields: [{
                field: "YEAR",
                dir: "asc"
            }, {
                field: "MONTHINT",
                dir: "asc"
            }],
            _oldData: {
                dateFormat: $("input[name=DateFormat_MonthlySalesVsTargetChart]:checked").val(),
                fieldValue: $("input[name=fieldType_MonthlySalesVsTargetChart]:checked").val()
            },

        };
        var _oldConfig_MonthlySalesVsTargetChart = JSON.stringify(config_MonthlySalesVsTargetChart);



        function loadDataSource_MonthlySalesVsTargetChart() {
            var url1;
            var param = {};
            if (isChild == undefined) {
                url1 = config_MonthlySalesVsTargetChart.url;
                param = {
                    DateFormat: config_MonthlySalesVsTargetChart.dateFormat
                };
            }
            else {
                url1 = config_MonthlySalesVsTargetChart.childurl;
                param = { DateFormat: config_MonthlySalesVsTargetChart.dateFormat, month: MonthCode };

            }

            reportFilter = reportFilter == undefined ? ReportFilter.filterAdditionalData() : reportFilter;
            var filter = $.extend(true, {}, reportFilter);
            config_MonthlySalesVsTargetChart.dateFormat = $("input[name=DateFormat_MonthlySalesVsTargetChart]:checked").val();
            config_MonthlySalesVsTargetChart.showLabel = $("#showLabel_MonthlySalesVsTargetChart").prop("checked");
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: Arg.url(url1, param), // url:Arg.url(config_MonthlySalesPlanChart.url, { DateFormat: config_MonthlySalesPlanChart.dateFormat }),
                        dataType: "json", // <-- The default was "jsonp".
                        type: "POST",
                        contentType: "application/json; charset=utf-8"
                    },
                    parameterMap: function (options, type) {
                        var paramMap = JSON.stringify($.extend(options, filter));
                        delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                        delete paramMap.$format; // <-- remove format parameter.
                        return paramMap;
                    }
                },
                requestStart: function () {
                    if (IsDataGrid != "Grid") {
                        kendo.ui.progress($("#MonthlySalesVsTargetChartChart"), true);
                    }
                },
                requestEnd: function () {
                    kendo.ui.progress($("#MonthlySalesVsTargetChartChart"), false);
                },
                schema: {
                    parse: function (items) {
                        var item,
                            result = [];
                        var showzerovalue = $("#showzerovalue_MonthlySalesVsTargetChart").prop("checked");

                        if (showzerovalue) {
                            for (var i = 0; i < items.length; i++) {
                                item = items[i];
                                result.push(item);
                            }
                        }
                        else {
                            for (var i = 0; i < items.length; i++) {
                                item = items[i];
                                if (item.Amount !== 0 && item.Quantity !== 0) {
                                    result.push(item);
                                }
                            }
                        }


                        return result;
                    }
                },
                group: config_MonthlySalesVsTargetChart.group,
                sort: config_MonthlySalesVsTargetChart.sortFields
                //{
                //    field: config_MonthlySalesPlanChart.sortField,
                //    dir: "asc"
                //}

            });
            testDataSource = dataSource;
            $("#MonthlySalesVsTargetChart .DisplayFilterContent a").text("");
            var IsDataGrid = $('.btnGrid_MonthlySalesVsTargetChart').data("type");
            if (IsDataGrid == "Grid") {
                CreateGrid_MonthlySalesVsTargetChart(dataSource);
                return;
            }

            $('.btnGrid_MonthlySalesVsTargetChart').data("type", "Chart");
            CreateChart_MonthlySalesVsTargetChart(dataSource);
            //CreateGrid_MonthlySalesPlanChart(dataSource);
        }
        function CreateChart_MonthlySalesVsTargetChart(dataSource) {
            type = $("input[name=seriesType_MonthlySalesVsTargetChart]:checked").val();
            $('.btnGrid_MonthlySalesVsTargetChart').data("type", "Chart");
            $("#MonthlySalesVsTargetChartChart").html('');
            $("#MonthlySalesVsTargetChartChart").removeAttr("style");
            $("#MonthlySalesVsTargetChartChart").removeAttr("class");
            dataSource.group(config_MonthlySalesVsTargetChart.group);
            var seriesFilter = [];
            if (type == "bar") {
                seriesFilter = config_MonthlySalesVsTargetChart.series;
            }
            else if (type == "column") {
                seriesFilter = config_MonthlySalesVsTargetChart.series;
            }
            else {
                seriesFilter = [
                    {
                        type: "line",
                        field: config_MonthlySalesVsTargetChart.series[0].field,
                        stack: true,
                        name: "Sales"
                    },
                    {
                        type: "column",
                        field: config_MonthlySalesVsTargetChart.series[1].field,
                        stack: true,
                        name: "Target"
                    }];
            }

            $("#MonthlySalesVsTargetChartChart").kendoChart({
              
                chartArea: {
                    height: ($("#MonthlySalesVsTargetChartChart").hasClass("portlet-fullscreen")) ? 550 : 350,
                },
                onDrag: function (e) {
                    var chart = e.sender;
                    var ds = chart.dataSource;
                    var options = chart.options;
                    var categoryRange = e.axisRanges.CategoryAxis;
                    if (categoryRange) {
                        var xMin = categoryRange.min;
                        var xMax = categoryRange.max;
                        options.categoryAxis.min = xMin;
                        options.categoryAxis.max = xMax;
                        ds.filter(viewModel.getFilter(xMin, xMax));
                    }
                },
                pannable: {
                    lock: "y"
                },
                zoomable: {
                    mousewheel: {
                        lock: "y"
                    },
                    selection: {
                        lock: "y"
                    }
                },
                dataSource: dataSource,
                legend: {
                    position: "bottom",
                    visible: true
                },

                seriesColors: config_MonthlySalesVsTargetChart.color,
                seriesDefaults: {
                    type: config_MonthlySalesVsTargetChart.seriesType,
                    labels: {
                        visible: config_MonthlySalesVsTargetChart.showLabel,
                        template: "#= FormatLabels(value)#",
                        rotation: '270',
                        padding: {
                            left: -5
                        },
                    },
                    //style: "smooth",
                    area: {
                        line: {
                            style: "smooth"
                        }
                    }
                },
                series: seriesFilter,
                categoryAxis: {
                    field: config_MonthlySalesVsTargetChart.categoryField,
                    labels: {
                        rotation: -45,
                    },
                    //title: { text: config_MonthlySalesVsTargetChart.categoryTitle },
                    axisCrossingValues: [0, 12]
                },
                valueAxis: {
                    line: {
                        visible: true
                    },
                    labels: {
                        rotation: 'auto',
                      //  template: "#= FormatLabels(value)#"
                        template: "#= GetFormatlongNumber(value) #"
                    },
                    title: { text: amountFigureType }
                },
                tooltip: {
                    visible: true,
                    format: "{0}",
                    template: "#= category #: \n #= FormatLabels(value)# \n #=drillDownToolTipMessage(category)#"
                },
                dataBound: function (e) {
                    var maxValue = getMaxValueFromDataSource(e);
                    var majorunit = Math.max(6, maxValue / 6);
                    e.sender.options.valueAxis.majorUnit = majorunit;
                    e.sender.options.valueAxis.max = maxValue + majorunit;
                    $("#MonthlySalesVsTargetChartChart").next(".overlay").toggle(maxValue <= 0);
                    e.sender.options.categoryAxis.categories = getCategoryFromDataSource(e);
                    //
                    //if (totalChartList.length > 0) {
                    //    var chart = totalChartList[0];
                    //    totalChartList = totalChartList.splice(1, totalChartList.length);
                    //    loadChartSync(chart);
                    //}

                },
                //added by chandra for series click
                seriesClick: function (e) {
                    var value = e.dataItem.MONTHINT;
                    if (value == null) {
                        kendo.ui.progress($("#MonthlySalesPlanChartChart"), false);
                        return false;
                    }
                    if (value == "NaN" || "") {
                        kendo.ui.progress($("#MonthlySalesPlanChartChart"), false);
                        return;
                    }
                    if (isNaN(value)) {
                        kendo.ui.progress($("#MonthlySalesPlanChartChart"), false);
                        return;
                    }
                    isChild = true;
                    testDataSource = null;
                    MonthCode = value;
                    $('#btnBackMonthlySalesVsTarget').show();
                    kendo.ui.progress($("#MonthlySalesVsTargetChartChart"), true);
                    //loadDataSource_EmployeeWiseSalesPlan();
                    loadDataSource_MonthlySalesVsTargetChart();
                    var chart = $("#MonthlySalesVsTargetChartChart").data("kendoChart");
                    chart.setOptions({
                        categoryAxis: {
                            title: { text: e.category }
                        },
                    });
                    kendo.ui.progress($("#MonthlySalesVsTargetChartChart"), false);
                },
                //end added by chandra
            });
        }
        function drillDownToolTipMessage(text) {
            if (isChild == undefined || isChild == 'undefined') {
                return '<br/><h6>click to show Item wise sales vs target  of month: ' + text+'</h6>';
            }
            return "";
        }
        function CreateGrid_MonthlySalesVsTargetChart(dataSource) {

            $("#MonthlySalesVsTargetChartChart").html('');
            $("#MonthlySalesVsTargetChartChart").removeAttr("style");
            $("#MonthlySalesVsTargetChartChart").removeAttr("class");
            $('.btnGrid_MonthlySalesVsTargetChart').data("type", "Grid");
            var format = $("input[name=DateFormat_MonthlySalesVsTargetChart]:checked").val();
            var monthTitle = "Month";
            dataSource = dataSource == undefined ? $("#MonthlySalesVsTargetChartChart").data("kendoChart").dataSource : dataSource;
            if (dataSource.data().length > 0 && dataSource.data()[0].Day != null) {
                monthField = "Day";
                monthTitle = "Days [month : " + dataSource.data()[0].DisplayMonth + "]";
            }
            else {
                monthField = config_MonthlySalesVsTargetChart.categoryField;
                monthTitle = "Month"
            }
            dataSource.group([]);
            $("#MonthlySalesVsTargetChartChart").kendoGrid({
                dataSource: dataSource,
                height: $("#MonthlySalesVsTargetChartChart").hasClass("portlet-fullscreen") ? 550 : 350,
                groupable: false,
                sortable: true,
                resizable: true,
                //selectable: "multiple",
                toolbar: [{ template: kendo.template($("#toolbar-template").html()) }],
                excel: {
                    fileName: "Monthly Sales vs target Report",
                    allPages: true
                },
                columns: [{
                    field: monthField,
                    title: isChild == undefined ? "Month" : "Item",
                    //title: monthTitle,
                    width: 200
                },
                    {
                        field: "PER_DAY_SALES_QUANTITY",
                        title: "Plan Quantity",
                        format: "{0:n0}",
                        attributes:
                        {
                            style: "text-align:left;"
                        },
                },

                {
                    field: "PER_DAY_QUANTITY",
                    title: "Sales Quantity",
                    format: "{0:n0}",
                    attributes:
                    {
                        style: "text-align:left;"
                    },

                }, {
                    field: "PER_DAY_SALES_AMOUNT",
                    title: "Plan Amount",
                    format: "{0:n}",
                    attributes:
                    {
                        style: "text-align:left;"
                    },
                   // width: 200
                },{
                    field: "PER_DAY_AMOUNT",
                    title: "Sales Amount",
                    format: "{0:n}",
                    attributes:
                    {
                        style: "text-align:left;"
                    },
                   // width: 200
                }, {
                        field: "MONTHINT",
                        title: "Month",
                        //width:  240,
                        hidden: isChild ? false : true
                }

                ],
                dataBound: function (e) {
                    var gird = e.sender;
                    gird.table.find(".k-grouping-row:not(:first-child)").each(function () {
                        gird.collapseGroup(this);
                    });
                }
            });
        }



        function refreshMonthlySalesVsTargetChart() {
            if ($(".btnGrid_MonthlySalesVsTargetChart").data("type") == "Grid")// data-grid toogle chart option in data-grid attribute in div
            {
                $(".btnGrid_MonthlySalesVsTargetChart").data("type", "Chart");
                loadDataSource_MonthlySalesVsTargetChart();
                return;
            }

            var chart = $("#MonthlySalesVsTargetChartChart").data("kendoChart"),
                type = $("input[name=seriesType_MonthlySalesVsTargetChart]:checked").val(),
                stack = $("#Stack_MonthlySalesVsTargetChart").prop("checked"),
                IsLebelShow = $("#showLabel_MonthlySalesVsTargetChart").prop("checked"),
                fieldValue = $("input[name=fieldType_MonthlySalesVsTargetChart]:checked").val();

           // for (var i = 0, length = config_MonthlySalesVsTargetChart.series.length; i < length; i++) {
                config_MonthlySalesVsTargetChart.series[0].stack = stack;
                config_MonthlySalesVsTargetChart.series[1].stack = stack;
                config_MonthlySalesVsTargetChart.series[0].type = type;
                config_MonthlySalesVsTargetChart.series[1].type = type;
                if (fieldValue == "Amount") {
                    config_MonthlySalesVsTargetChart.series[0].field = "PER_DAY_AMOUNT";
                    config_MonthlySalesVsTargetChart.series[1].field = "PER_DAY_SALES_AMOUNT";
                }

                else {
                    config_MonthlySalesVsTargetChart.series[0].field = "PER_DAY_QUANTITY";
                    config_MonthlySalesVsTargetChart.series[1].field = "PER_DAY_SALES_QUANTITY";
                }
                   

            //};

            chart.setOptions({
                series: config_MonthlySalesVsTargetChart.series,
            });

            for (var i = 0; i < chart.options.series.length; i++) {
                chart.options.series[i].labels.visible = IsLebelShow;
                if (type == "column") {
                    chart.options.series[i].labels.rotation = -90;
                }
                if (type == "bar") {
                    chart.options.series[i].labels.rotation = 0;
                }
            }

            chart.refresh();
        }
        $('#apply_MonthlySalesVsTargetChart').click(function () {
            var checkedDateFormat = $("input[name=DateFormat_MonthlySalesVsTargetChart]:checked").val();
            var checkedFieldValue = $("input[name=fieldType_MonthlySalesVsTargetChart]:checked").val();
            var IsChanged = false;
            if (config_MonthlySalesVsTargetChart._oldData.dateFormat != checkedDateFormat) {
                IsChanged = true;
                config_MonthlySalesVsTargetChart = JSON.parse(_oldConfig_MonthlySalesVsTargetChart);
                config_MonthlySalesVsTargetChart._oldData.dateFormat = checkedDateFormat;

            }
            if (config_MonthlySalesVsTargetChart._oldData.fieldValue != checkedFieldValue) {
                refreshMonthlySalesVsTargetChart();
                config_MonthlySalesVsTargetChart._oldData.fieldValue = checkedFieldValue;
            }
            $('.btnGrid_MonthlySalesVsTargetChart').data("type", "Chart");
            ChartFilter('MonthlySalesVsTargetChart', "loadDataSource_MonthlySalesVsTargetChart", IsChanged);
        });
        var isChild = undefined;
        var MonthCode = 0;
        $(document).ready(function () {
            loadDataSource_MonthlySalesVsTargetChart();

            //start Binding
            $(document).bind("kendo:skinChange", loadDataSource_MonthlySalesVsTargetChart);

            $('#MonthlySalesVsTargetChartChart').closest('.portlet').find('.reload').click(function () {
                RefreshChartFilterControl('MonthlySalesVsTargetChart');
                $('.btnGrid_MonthlySalesVsTargetChart').data("type", "Chart");
                config_MonthlySalesVsTargetChart = JSON.parse(_oldConfig_MonthlySalesVsTargetChart);
                loadDataSource_MonthlySalesVsTargetChart();
            });



            $(".btnGrid_MonthlySalesVsTargetChart").click(function () {
                //var datasource = $("#MonthlySalesVsTargetChartChart").data("kendoChart").dataSource;
               // $('.btnGrid_MonthlySalesVsTargetChart').data("type") == "Chart" ? CreateGrid_MonthlySalesVsTargetChart(datasource) : CreateChart_MonthlySalesVsTargetChart(datasource);
                //$("i", this).toggleClass("icon-bar-chart");
                if ($('.btnGrid_MonthlySalesVsTargetChart').data("type") == "Chart") {
                    $(this).find('i').removeClass().addClass('fa icon-bar-chart');
                    CreateGrid_MonthlySalesVsTargetChart(testDataSource);
                    //$('.btnGrid_MonthlySalesVsTargetChart').data('type', 'Grid');
                }
                else {
                    $(this).find('i').removeClass().addClass('fa fa-table');
                    //$('.btnGrid_MonthlySalesVsTargetChart').data('type', 'Chart')
                    CreateChart_MonthlySalesVsTargetChart(testDataSource)
                }
                //loadDataSource_MonthlySalesVsTargetChart();
            });
            $(".options_MonthlySalesVsTargetChart").bind("change", function () {  // data-grid toogle chart option in data-grid attribute in button
                if ($('.btnGrid_MonthlySalesVsTargetChart').data("type") == "Chart")
                    refreshMonthlySalesVsTargetChart();
                else
                    chart_grid_option_change("btnGrid_MonthlySalesVsTargetChart", "loadDataSource_MonthlySalesVsTargetChart");
            });
            $("#showLabel_MonthlySalesVsTargetChart").bind("change", function () {// data-grid toogle chart option in data-grid attribute in button
                var temp = $('.btnGrid_MonthlySalesVsTargetChart').data("type");
                $('.btnGrid_MonthlySalesVsTargetChart').data("type", "temp");
                refreshMonthlySalesVsTargetChart()
                $('.btnGrid_MonthlySalesVsTargetChart').data("type", temp);
            });
            $('#Stack_MonthlySalesVsTargetChart').on('click', function () {// data-grid toogle chart option in data-grid attribute in button
                var temp = $('.btnGrid_MonthlySalesVsTargetChart').data("type");
                $('.btnGrid_MonthlySalesVsTargetChart').data("type", "temp");
                refreshMonthlySalesVsTargetChart()
                $('.btnGrid_MonthlySalesVsTargetChart').data("type", temp);
            });

        });
        $('#btnBackMonthlySalesVsTarget').click(function () {
            debugger
            isChild = undefined;
            $('#btnBackMonthlySalesVsTarget').hide();
            var chart = $("#MonthlySalesVsTargetChartChart").data("kendoChart");
            chart.setOptions({
                categoryAxis: {
                    title: { text: "" }
                },
            });
            $(".btnGrid_MonthlySalesVsTargetChart").data("type", "Chart");
            $('.btnGrid_MonthlySalesVsTargetChart').children().removeClass().addClass('fa fa-table');
            loadDataSource_MonthlySalesVsTargetChart();

            // $('.btnGrid_EmployeeWiseSalesPlan').data('type') == 'Grid' ? refreshEmployeeWiseSalesPlan() : loadDataSource_EmployeeWiseSalesPlan();
        })


    </script>
</div>
