@using NeoErp.Core.Models;
@{
    var actionPageId = "MonthlyLongTermLoan";
}

<div class="modal fade" id="Model_@actionPageId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-chart">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Monthly Short Team loan</h4>
            </div>
            <div class="modal-body bottom-gappingtwo form-horizontal">
                <div class="row">
                    <div class="branchwisesales-col clearfix">
                        <div class="btn-group options_MonthlyLongTermLoan responsivegap col-sm-12 col-md-12" data-toggle="buttons" data-type="chart">
                            <button type="button" class="btn btn-sm default red-stripe active">
                                <i class="fa fa-bar-chart"></i>
                                <input id="typeColumn" name="seriesType_MonthlyLongTermLoan"
                                       type="radio" checked="checked" value="column" autocomplete="off" />column
                            </button>
                            <button type="button" class="btn btn-sm default green-stripe">
                                <i class="fa fa-bar-chart"></i>
                                <input id="typeBar" name="seriesType_MonthlyLongTermLoan"
                                       type="radio" value="bar" autocomplete="off" />bar
                            </button>
                            <button type="button" class="btn btn-sm default purple-stripe">
                                <i class="fa fa-line-chart"></i>
                                <input id="typeLine" name="seriesType_MonthlyLongTermLoan"
                                       type="radio" value="line" autocomplete="off" />Line
                            </button>
                        </div>
                        <div class="col-xs-12 col-md-6 col-sm-6 margin-buttom">
                            <h5> Choose Value Field</h5>
                            <div class="btn-group" data-toggle="buttons">
                                <button type="button" class="btn btn-sm default red-stripe">
                                    <i class="fa fa-cart-arrow-down"></i>
                                    <input id="QuantityColumn" name="fieldType_@actionPageId"
                                           type="radio" value="Quantity" autocomplete="off" /> Quantity
                                </button>
                                <button type="button" class="btn btn-sm default green-stripe active">
                                    <i class=""></i>
                                    <input id="typeBar" name="fieldType_@actionPageId"
                                           type="radio" value="Amount" checked="checked" autocomplete="off" /> Amount
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="br"><div class="br"></div> </div>
                            <div class="clearfix" style="display:none;">
                                <div class="date-option">
                                    <label>
                                        <input type="radio" id="ADFormat" name="DateFormat_MonthlyLongTermLoan" value="AD" /> AD
                                    </label>
                                    <label>
                                        <input type="radio" id="BSFormat" name="DateFormat_MonthlyLongTermLoan" checked="checked" value="BS" /> BS
                                    </label>
                                </div>
                            </div>
                            <div>
                                <!-- show labels & inStack option-->
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            <input id="showLabel_MonthlyLongTermLoan" type="checkbox" autocomplete="off" /> Show Labels
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="br"></div>


                <div class="filter_title">
                    <label class="filter-label">Advance Filter</label>
                </div>

                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                {
                    ShowCustomerFilter = false,
                    ShowProductFilter = false,
                    ShowPartyTypeFilter = false,
                    ShowCategoryFilter = false,
                    ShowLocationFilter = false,
                    ShowDocumentFilter = false,
                    ShowCompanyFilter = false,
                    ShowFiscalYearFilter = true,
                    ShowBranchFilter = true,
                    ShowEmployeeFilter = false,
                    ShowAgentFilter = false,
                    ShowDivisionFilter = false,
                    IsPopUp = false,
                    ActionPageId = actionPageId
                })
            </div>


            <div class="modal-footer">
                @*<button type="button" class="btn default" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-green applydp" data-dismiss="modal" id="apply_@actionPageId">Apply</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="portlet portlet-sortable  light bordered" id="MonthlyLongTermLoan">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green-haze"></i>
            <span class="caption-subject bold uppercase font-green-haze custom-modal">Long Team loan</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            @*<a class="btnDatagrid" href="javascript:;" onclick="CreateGrid_MonthlyLongTermLoan();" data-grid="Chart" title="Data grid">*@
            <a class="btnGrid btnGrid_MonthlyLongTermLoan" data-type="Chart" data-title="Grid">
                <i class="fa fa-table"></i>
            </a>
            <div class="btn-group">
                <a class="btn dropdown-toggle download-btn" data-title="Download" data-toggle="dropdown" href="#">
                    <i class="icon-arrow-down Thirdcustom"></i>
                </a>
                <ul class="dropdown-menu custom">
                    <div class="btn-group-custom">
                        <button type="button" data-id="MonthlyLongTermLoanChart" class="export-pdf btn default red-stripe"><i class="fa fa-file-pdf-o"></i>PDF</button>
                        <button type="button" data-id="MonthlyLongTermLoanChart" class="export-img btn default blue-stripe"><i class="fa fa-image-o"></i>Image</button>
                        <button type="button" data-id="MonthlyLongTermLoanChart" class="export-svg btn default green-stripe">SVG</button>
                    </div>
                </ul>
            </div>
            <a href="#Model_@actionPageId" data-toggle="modal" class="config"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="fullscreen"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        <script type="text/x-kendo-template" id="toolbar-template">
            <div class="k-header k-grid-toolbar pull-right">

                <a class="k-button k-button-icontext k-grid-excel" href="javascript:">
                    <i class="fa fa-file-excel-o"></i>
                </a>
        </script>
        <div class="k-content wide">
            <div id="MonthlyLongTermLoanChart"></div>
            <div class="overlay"><div>No data available</div></div>
            <div class="AmountFigureType"></div>
            <div class="DisplayFilterContent"><a href="javascript:;" data-toggle="tooltip" title=""></a></div>
        </div>
    </div>

    <script>
        //initialize variables
        var config_MonthlyLongTermLoan = {
            url: window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetMonthlyLongTeamLoanReport",
            dateFormat: $("input[name=DateFormat_MonthlyLongTermLoan]:checked").val(),
            fieldValue: $("input[name=fieldType_MonthlyLongTermLoan]:checked").val(),
            series: [{
                field: "BALANCE_AMOUNT",
                name: "Balance"//"#= group.value #"
            }],
            isStack: false,
            showLabel: $("#showLabel_MonthlyLongTermLoan").prop("checked"),
            color: ["#8A2BE2", "#ADFF2F", "#5bc0de", "#5cb85c", "#f2b661"],
            seriesType: $("input[name=seriesType_MonthlyLongTermLoan]:checked").val(),
            categoryField: "MONTH",
            categoryTitle: '',
            group: { field: "DBName" },
            _oldData: {
                dateFormat: $("input[name=DateFormat_MonthlyLongTermLoan]:checked").val(),
                fieldValue: $("input[name=fieldType_MonthlyLongTermLoan]:checked").val()
            },

        };
        var _oldConfig_MonthlyLongTermLoan = JSON.stringify(config_MonthlyLongTermLoan);



        function loadDataSource_MonthlyLongTermLoan() {

            reportFilter = reportFilter == undefined ? ReportFilter.filterAdditionalData() : reportFilter;
            var filter = $.extend(true, {}, reportFilter);
            config_MonthlyLongTermLoan.dateFormat = $("input[name=DateFormat_MonthlyLongTermLoan]:checked").val();
            config_MonthlyLongTermLoan.showLabel = $("#showLabel_MonthlyLongTermLoan").prop("checked");
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: Arg.url(config_MonthlyLongTermLoan.url, { DateFormat: config_MonthlyLongTermLoan.dateFormat }),
                        dataType: "json", // <-- The default was "jsonp".
                        type: "POST",
                        contentType: "application/json; charset=utf-8"
                    },
                    parameterMap: function (options, type) {
                        var paramMap = JSON.stringify($.extend(options, filter));
                        delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                        delete paramMap.$format; // <-- remove format parameter.
                        return paramMap;
                    }
                },
                requestStart: function () {
                    if (IsDataGrid != "Grid") {
                        kendo.ui.progress($("#MonthlyLongTermLoanChart"), true);
                    }
                },
                requestEnd: function () {
                    kendo.ui.progress($("#MonthlyLongTermLoanChart"), false);
                },
                schema: {
                    parse: function (items) {
                        var item,
                            result = [];
                        var showzerovalue = $("#showzerovalue_MonthlyLongTermLoan").prop("checked");

                        if (showzerovalue) {
                            for (var i = 0; i < items.length; i++) {
                                item = items[i];
                                result.push(item);
                            }
                        }
                        else {
                            for (var i = 0; i < items.length; i++) {
                                item = items[i];
                                if (item.Amount !== 0 && item.Quantity !== 0) {
                                    result.push(item);
                                }
                            }
                        }


                        return result;
                    }
                },
                group: config_MonthlyLongTermLoan.group,
                sort: config_MonthlyLongTermLoan.sortFields
                //{
                //    field: config_MonthlyLongTermLoan.sortField,
                //    dir: "asc"
                //}

            });

            $("#MonthlyLongTermLoan .DisplayFilterContent a").text("");
            var IsDataGrid = $('.btnGrid_MonthlyLongTermLoan').data("type");
            if (IsDataGrid == "Grid") {
                CreateGrid_MonthlyLongTermLoan(dataSource);
                return;
            }

            $('.btnGrid_MonthlyLongTermLoan').data("type", "Chart");
            CreateChart_MonthlyLongTermLoan(dataSource);
            //CreateGrid_MonthlyLongTermLoan(dataSource);
        }
        function CreateChart_MonthlyLongTermLoan(dataSource) {

            $('.btnGrid_MonthlyLongTermLoan').data("type", "Chart");
            $("#MonthlyLongTermLoanChart").html('');
            $("#MonthlyLongTermLoanChart").removeAttr("style");
            $("#MonthlyLongTermLoanChart").removeAttr("class");
            dataSource.group(config_MonthlyLongTermLoan.group);

            $("#MonthlyLongTermLoanChart").kendoChart({
                chartArea: {
                    height: ($("#MonthlyLongTermLoanChart").hasClass("portlet-fullscreen")) ? 550 : 350,
                },
                onDrag: function (e) {
                    var chart = e.sender;
                    var ds = chart.dataSource;
                    var options = chart.options;

                    var categoryRange = e.axisRanges.CategoryAxis;

                    if (categoryRange) {
                        var xMin = categoryRange.min;
                        var xMax = categoryRange.max;

                        options.categoryAxis.min = xMin;
                        options.categoryAxis.max = xMax;

                        ds.filter(viewModel.getFilter(xMin, xMax));
                    }
                },
                pannable: {
                    lock: "y"
                },
                zoomable: {
                    mousewheel: {
                        lock: "y"
                    },
                    selection: {
                        lock: "y"
                    }
                },
                dataSource: dataSource,
                legend: {
                    position: "bottom",
                
                },

                seriesColors: config_MonthlyLongTermLoan.color,
                seriesDefaults: {
                    type: config_MonthlyLongTermLoan.seriesType,
                    labels: {
                        visible: config_MonthlyLongTermLoan.showLabel,
                        template: "#= FormatLabels(value)#",
                        rotation: '270',
                        padding: {
                            left: -5
                        },
                    },
                    style: "smooth",
                },
                series: config_MonthlyLongTermLoan.series,
                categoryAxis: {
                    field: config_MonthlyLongTermLoan.categoryField,
                    labels: {
                        rotation: -45,
                    },
                    title: { text: config_MonthlyLongTermLoan.categoryTitle }
                },
                valueAxis: {
                    line: {
                        visible: true
                    },
                    labels: {
                        rotation: 'auto',
                      //  template: "#= FormatLabels(value)#"
                        template: "#= GetFormatlongNumber(value) #"
                    },
                    title: { text: amountFigureType }
                },
                tooltip: {
                    visible: true,
                    format: "{0}",
                    template: "#= category #: \n #= FormatLabels(value)#"
                },
                dataBound: function (e) {
                    var maxValue = getMaxValueFromDataSource(e);
                    var majorunit = Math.max(6, maxValue / 6);
                    e.sender.options.valueAxis.majorUnit = majorunit;
                    e.sender.options.valueAxis.max = maxValue + majorunit;
                    $("#MonthlyLongTermLoanChart").next(".overlay").toggle(maxValue <= 0);
                    e.sender.options.categoryAxis.categories = getCategoryFromDataSource(e);
                    //
                    //if (totalChartList.length > 0) {
                    //    var chart = totalChartList[0];
                    //    totalChartList = totalChartList.splice(1, totalChartList.length);
                    //    loadChartSync(chart);
                    //}

                },
                //seriesClick: function (e) {
                //    if (e.dataItem.Day == null) {
                //        var url = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetSalesDailyFiscalYearReport?month=" + e.dataItem.MonthInt + "&dbName=" + e.dataItem.DBName;
                //        config_MonthlyLongTermLoan.url = url;
                //        config_MonthlyLongTermLoan.categoryField = "Day";
                //        config_MonthlyLongTermLoan.categoryTitle = e.dataItem.DisplayMonth;
                //        loadDataSource_MonthlyLongTermLoan();
                //    }
                //},
            });
        }
        function CreateGrid_MonthlyLongTermLoan(dataSource) {

            $("#MonthlyLongTermLoanChart").html('');
            $("#MonthlyLongTermLoanChart").removeAttr("style");
            $("#MonthlyLongTermLoanChart").removeAttr("class");
            $('.btnGrid_MonthlyLongTermLoan').data("type", "Grid");
            var format = $("input[name=DateFormat_MonthlyLongTermLoan]:checked").val();
            var monthTitle = "Month";
            dataSource = dataSource == undefined ? $("#MonthlyLongTermLoanChart").data("kendoChart").dataSource : dataSource;
            if (dataSource.data().length > 0 && dataSource.data()[0].Day != null) {
                monthField = "Day";
                monthTitle = "Days [month : " + dataSource.data()[0].DisplayMonth + "]";
            }
            else {
                monthField = config_MonthlyLongTermLoan.categoryField;
                monthTitle = "Month"
            }
            dataSource.group([]);
            $("#MonthlyLongTermLoanChart").kendoGrid({
                dataSource: dataSource,
                height: $("#MonthlyLongTermLoanChart").hasClass("portlet-fullscreen") ? 550 : 350,
                groupable: false,
                sortable: true,
                //selectable: "multiple",
                toolbar: [{ template: kendo.template($("#toolbar-template").html()) }],
                excel: {
                    fileName: "Short team Loan Report",
                    allPages: true
                },
                columns: [{
                    field: monthField,
                    title: monthTitle,
                    width: 240
                }, {
                        field: "BALANCE_AMOUNT",
                    title: "Amount",
                    format: "{0:n0}",
                    attributes:
                    {
                        style: "text-align:right;"
                    },

                }],
                dataBound: function (e) {
                    var gird = e.sender;
                    gird.table.find(".k-grouping-row:not(:first-child)").each(function () {
                        gird.collapseGroup(this);
                    });
                }
            });
        }



        function refreshMonthlyLongTermLoan() {
            if ($(".btnGrid_MonthlyLongTermLoan").data("type") == "Grid")// data-grid toogle chart option in data-grid attribute in div
            {
                $(".btnGrid_MonthlyLongTermLoan").data("type", "Chart");
                loadDataSource_MonthlyLongTermLoan();
                return;
            }

            var chart = $("#MonthlyLongTermLoanChart").data("kendoChart"),
                type = $("input[name=seriesType_MonthlyLongTermLoan]:checked").val(),
                stack = $("#Stack_MonthlyLongTermLoan").prop("checked"),
                IsLebelShow = $("#showLabel_MonthlyLongTermLoan").prop("checked"),
                fieldValue = $("input[name=fieldType_MonthlyLongTermLoan]:checked").val();

            for (var i = 0, length = config_MonthlyLongTermLoan.series.length; i < length; i++) {
                config_MonthlyLongTermLoan.series[i].stack = stack;
                config_MonthlyLongTermLoan.series[i].type = type;
                if (fieldValue == "BALANCE_AMOUNT")
                    config_MonthlyLongTermLoan.series[i].field = "BALANCE_AMOUNT";
                else
                    config_MonthlyLongTermLoan.series[i].field = "BALANCE_AMOUNT";

            };

            chart.setOptions({
                series: config_MonthlyLongTermLoan.series,
            });

            for (var i = 0; i < chart.options.series.length; i++) {
                chart.options.series[i].labels.visible = IsLebelShow;
                if (type == "column") {
                    chart.options.series[i].labels.rotation = -90;
                }
                if (type == "bar") {
                    chart.options.series[i].labels.rotation = 0;
                }
            }

            chart.refresh();
        }
        $('#apply_MonthlyLongTermLoan').click(function () {
            var checkedDateFormat = $("input[name=DateFormat_MonthlyLongTermLoan]:checked").val();
            var checkedFieldValue = $("input[name=fieldType_MonthlyLongTermLoan]:checked").val();
            var IsChanged = false;
            if (config_MonthlyLongTermLoan._oldData.dateFormat != checkedDateFormat) {
                IsChanged = true;
                config_MonthlyLongTermLoan = JSON.parse(_oldConfig_MonthlyLongTermLoan);
                config_MonthlyLongTermLoan._oldData.dateFormat = checkedDateFormat;

            }
            if (config_MonthlyLongTermLoan._oldData.fieldValue != checkedFieldValue) {
                refreshMonthlyLongTermLoan();
                config_MonthlyLongTermLoan._oldData.fieldValue = checkedFieldValue;
            }
            $('.btnGrid_MonthlyLongTermLoan').data("type", "Chart");
            ChartFilter('MonthlyLongTermLoan', "loadDataSource_MonthlyLongTermLoan", IsChanged);
        });
        $(document).ready(function () {
            loadDataSource_MonthlyLongTermLoan();

            //start Binding
            $(document).bind("kendo:skinChange", loadDataSource_MonthlyLongTermLoan);

            $('#MonthlyLongTermLoanChart').closest('.portlet').find('.reload').click(function () {
                RefreshChartFilterControl('MonthlyLongTermLoan');
                $('.btnGrid_MonthlyLongTermLoan').data("type", "Chart");
                config_MonthlyLongTermLoan = JSON.parse(_oldConfig_MonthlyLongTermLoan);
                loadDataSource_MonthlyLongTermLoan();
            });



            $(".btnGrid_MonthlyLongTermLoan").click(function () {
                var datasource = $("#MonthlyLongTermLoanChart").data("kendoChart").dataSource;
                $('.btnGrid_MonthlyLongTermLoan').data("type") == "Chart" ? CreateGrid_MonthlyLongTermLoan(datasource) : CreateChart_MonthlyLongTermLoan(datasource);
                $("i", this).toggleClass("icon-bar-chart");
            });
            $(".options_MonthlyLongTermLoan").bind("change", function () {  // data-grid toogle chart option in data-grid attribute in button
                if ($('.btnGrid_MonthlyLongTermLoan').data("type") == "Chart")
                    refreshMonthlyLongTermLoan();
                else
                    chart_grid_option_change("btnGrid_MonthlyLongTermLoan", "loadDataSource_MonthlyLongTermLoan");
            });
            $("#showLabel_MonthlyLongTermLoan").bind("change", function () {// data-grid toogle chart option in data-grid attribute in button
                var temp = $('.btnGrid_MonthlyLongTermLoan').data("type");
                $('.btnGrid_MonthlyLongTermLoan').data("type", "temp");
                refreshMonthlyLongTermLoan()
                $('.btnGrid_MonthlyLongTermLoan').data("type", temp);
            });
            $('#Stack_MonthlyLongTermLoan').on('click', function () {// data-grid toogle chart option in data-grid attribute in button
                var temp = $('.btnGrid_MonthlyLongTermLoan').data("type");
                $('.btnGrid_MonthlyLongTermLoan').data("type", "temp");
                refreshMonthlyLongTermLoan()
                $('.btnGrid_MonthlyLongTermLoan').data("type", temp);
            });

        });

    </script>
</div>
