@using NeoErp.Core.Helpers
@using NeoErp.Core.Models.CustomModels
@using NeoErp.Core.Models;
@{
    var actionPageId = "MonthlyCompanyStockChart";

}
<style>
    .slimScrollBar {
        border-radius: 5px !important;
        background-color: #333 !important;
    }

    .slimScrollDiv, #customerMultiSelect {
        height: auto !important;
    }

    ul.dropdown-menu.custom {
        margin-top: 8px !important;
        border: none;
        box-shadow: none !important;
    }

    .dropdown-menu.custom:before {
        left: 58px !important;
    }

    .download-btn {
        margin: 0px !important;
        padding-top: -2px !important;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -5px !important;
        margin-left: 5px !important;
    }

    .dropdown-menu.custom {
        left: -27px !important;
        top: 20px !important;
    }

    .dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 30px;
        right: auto;
        display: inline-block !important;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        border-left: 8px solid transparent;
        content: '';
    }

    i.icon-arrow-down {
        color: #acacac;
    }

    .btn-group-custom button.btn {
        padding: 7px 7px !important;
        float: left;
    }

    .dropdown-menu.custom {
        left: -55px !important;
    }

    a.monthlyCompanyStockDatagrid {
        color: #acacac !important;
    }
</style>
<div class="modal fade" id="Model_@actionPageId" tabindex="-1" role="dialog" aria-labelledby="CompanyStockModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-chart">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span class="fa fa-bar-chart"></span> Monthly company Stock chart</h4>
            </div>
            <div class="modal-body bottom-gappingtwo form-horizontal">
                <div class="row">
                    <div class="monthlybranch-sales clearfix">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 col-md-3 control-label">As on Date</label>
                                <div class="col-xs-9 col-sm-9 col-md-9">
                                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/DatePicker.cshtml", new DatePickerModel()
                               {
                                   ActionPageId = actionPageId
                               })
                                </div>
                            </div>



                            <div class="btn-group optionsCompanyStock" data-toggle="buttons">
                                <button type="button" class="btn btn-sm default blue-stripe">
                                    <i class="fa fa-bar-chart"></i>
                                    <input id="typeColumnCompanyStock" name="seriesTypeCompanyStock"
                                           type="radio" value="column" checked="checked" autocomplete="off" /> column
                                </button>
                                <button type="button" class="btn btn-sm default blue-stripe">
                                    <i class="fa fa-bar-chart"></i>
                                    <input id="typeBarCompanyStock" name="seriesTypeCompanyStock"
                                           type="radio" value="bar" autocomplete="off" /> bar
                                </button>
                                <button type="button" class="btn btn-sm default blue-stripe">
                                    <i class="fa fa-line-chart"></i>
                                    <input id="typeLineCompanyStock" name="seriesTypeCompanyStock"
                                           type="radio" value="line" autocomplete="off" />Line
                                </button>
                            </div>
                        </div>



                        <div class="options">
                            <div class="col-sm-6 col-md-6 choose margin_bottom">
                                <div class="btn-group optionsCompanyStock hidden" data-toggle="buttons">
                                    <h5> Choose Value Field</h5>
                                    <button type="button" class="btn btn-sm default red-stripe">
                                        <i class="fa fa-cart-arrow-down"></i>
                                        <input id="QuantityColumnCompanyStock" name="fieldTypeCompanyStock"
                                               type="radio" value="Quantity" checked="checked" autocomplete="off" /> Quantity
                                    </button>
                                    <button type="button" class="btn btn-sm default green-stripe">
                                        <i class="fa fa-rupee"></i>
                                        <input id="typeBarCompanyStock" name="fieldTypeCompanyStock"
                                               type="radio" value="Amount" autocomplete="off" /> Amount
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <!-- show label & Stack option-->
                                <div class="input-group chart-option">
                                    <div class="icheck-inline">
                                        <label>
                                            <input id="showlablesCompanyStock" type="checkbox" autocomplete="off" /> Show Labels
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="advancefilterselection">
                    <div class="filter_title">
                        <label class="filter-label">Advance Filter</label>
                    </div>

                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
               {
                   ShowCustomerFilter = false,
                   ShowProductFilter = true,
                   ShowPartyTypeFilter = false,
                   ShowCategoryFilter = true,
                   ShowLocationFilter = false,
                   ShowDocumentFilter = false,
                   ShowCompanyFilter = false,
                   ShowBranchFilter = false,
                   IsPopUp = false,
                   ActionPageId = actionPageId
               })
                </div>
            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn default" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-green applydp" data-dismiss="modal" id="apply_@actionPageId">Apply</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="portlet portlet-sortable  light bordered" id="MonthlyCompanyStockChart">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green-haze"></i>
            <span class="caption-subject bold uppercase font-green-haze custom-modal">Company Stock Chart</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a class="btnGrid monthlyCompanyStockDatagrid" data-type="Chart" data-chart-name="company_sales_monthly" data-title="Grid">
                <i class="fa fa-table"></i>
            </a>

            <div class="btn-group">
                <a class="btn dropdown-toggle download-btn" title="Download" data-toggle="dropdown" href="#">
                    <i class="icon-arrow-down SecondcustomCompanyStock"></i>

                </a>
                <ul class="dropdown-menu custom SecondslidetoggleCompanyStock">
                    <div class="btn-group-custom">
                        <button type="button" data-id="CompanyStockChart" class="export-pdf btn default green-stripe"><i class="fa fa-file-pdf-o"></i> PDF</button>
                        <button type="button" data-id="CompanyStockChart" class="export-img btn default blue-stripe"><i class="fa fa-image-o"></i>Image</button>
                        <button type="button" data-id="CompanyStockChart" class="export-svg btn default red-stripe">SVG</button>
                    </div>
                </ul>
            </div>
            <a href="#Model_@actionPageId" data-toggle="modal" class="config">
            </a>
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="fullscreen">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <script type="text/x-kendo-template" id="toolbar-template">
            <div class="k-header k-grid-toolbar pull-right">

                <a class="k-button k-button-icontext k-grid-excel" href="javascript:">
                    <i class="fa fa-file-excel-o"></i>
                </a>
        </script>
        <div class="k-content wide">
            <div id="CompanyStockChart"></div>
            <div class="overlay"><div>No data available</div></div>
            <div class="AmountFigureType"></div>
            <div class="DisplayFilterContent"><a href="javascript:;" data-toggle="tooltip" title=""></a></div>
        </div>
    </div>


    <script>
        var defaultDateFormat_monthlyCompanyStock = "";

        var dataBounded_MonthlyCompanyStockChart = false;
        var dayWiseUrl_MonthlyCompanyStockChart = "";
        var toggleFlag_MonthlyCompanyStockChart = true;
        var _oldDate_MonthlyCompanyStockChart = "";

        //LoadDataGrid function for data-grid
        function LoadDataGrid_MonthlyCompanyStockChart(dataSource, monthField) {
            $("#CompanyStockChart").html('');
             ;
            $('.monthlyCompanyStockDatagrid').data("type", "Grid");
            var monthTitle = "Month";
            var format = $("input[name=DateFormat_monthlyCompanyStock]:checked").val();
            dataSource = dataSource == undefined ? $("#CompanyStockChart").data("kendoChart").dataSource : dataSource;
            if (format == "BS") {
                if (dataSource.data().length > 0 && dataSource.data()[0].day != null) {
                    monthField = "day";
                    monthTitle = "days [month : " + dataSource.data()[0].Nepalimonth + "]";
                }
                else {
                    monthField = "month";
                    monthTitle = "Month"
                }
            }
            if (monthField == undefined)
                if (dataSource.data().length > 0 && dataSource.data()[0].day != null) {
                    monthField = "day";
                    monthTitle = "days [month : " + dataSource.data()[0].Month + "]";
                }
                else {
                    monthField = "Month";
                    monthTitle = "Month"
                }
            //dataSource.query({
            //    group: { field: monthField, },
            //    sort: { field: "NepaliMonthInt", dir: "asc" },
            //});
            dataSource.group([]);
            // dataSource.group({ field: "Month", title: "Month" });
            $("#CompanyStockChart").kendoGrid({
                dataSource: dataSource,
                height: $("#MonthlyBranchchart").hasClass("portlet-fullscreen") ? 550 : 350,
                groupable: false,
                sortable: true,
                // selectable: "multiple",
                toolbar: [{ template: kendo.template($("#toolbar-template").html()) }],
                excel: {
                    fileName: "Monthly company Stock Report",
                    allPages: true
                },
                columns: [{
                    field: "Companyname",
                    title: "Company Name",
                    width: 240
                }, {
                    field: "Quantity",
                    title: "Quantity",
                    format: "{0:n0}",
                    attributes: {
                        style: "text-align: right;"
                    },
                }],
                dataBound: function (e) {
                    var gird = e.sender;
                    flag = false;
                    gird.table.find(".k-grouping-row").each(function () {
                        if (flag == true) { gird.collapseGroup(this); }
                        else
                            flag = true;
                    });
                }
            });
        }


        function ThirdChartData_CompanyStock() {
            $('.monthlyCompanyStockDatagrid').data("type", "Chart");
            var urlData = "?customerCode=&itemCode=&categoryCode=&companyCode=" + checkedCompany + "&branchCode=&partyTypeCode=&formCode=";
            CreateMonthlyCompanyStockChart(urlData);
            RefreshChartFilterControl('@actionPageId');
        }

        var checkedCompany = "";
        $(".monthlyCompanyStockDatagrid").click(function () {
             ;
            var type = $('.monthlyCompanyStockDatagrid').data("type");
            var name = $('.monthlyCompanyStockDatagrid').data("chart-name");

            if (type == "Chart" && name == "company_sales_monthly") {
                LoadDataGrid_MonthlyCompanyStockChart()
                $('.monthlyCompanyStockDatagrid').data("type", "Grid");
            }
            else if (type == "Chart" && name == "branch_sales_monthly") {
                LoadDataGrid_MonthlyBranchSalesChartForCompanyStock();
                $('.monthlyCompanyStockDatagrid').data("type", "Grid");
            }
            else if (type == "Grid") {
                $('.monthlyCompanyStockDatagrid').data("type", "Chart");
                var urldata = "?customerCode=&itemCode=&categoryCode=&companyCode=" + checkedCompany + "&branchCode=&partyTypeCode=&formCode=";
                LoadChart_MonthlyStockChart();
                $('.monthlyCompanyStockDatagrid').data("type", "Chart");
            }
            //else if (type == "Grid") {
            //    ThirdChartData_CompanyStock();
            //    $('.monthlyCompanyStockDatagrid').data("type", "Chart");
            //}
            $("i", this).toggleClass("icon-bar-chart");
        });

        $("#CompanyStockChart").on('dblclick', ".k-state-selected", function (e) {

            var grid = $("#CompanyStockChart").data("kendoGrid");
            var dateformat = $("input[name=DateFormat_monthlyCompanyStock]:checked").val();
            var selectedItem = grid.dataItem(grid.select());
            selectedItem.Month = selectedItem.Month == null ? selectedItem.Nepalimonth : selectedItem.Month;

            var clickedMonth = selectedItem.Month;
            var clickedCompany = selectedItem.Companycode;
            var urldata = "?customerCode=&itemCode=&categoryCode=&companyCode=" + clickedCompany + "&branchCode=&partyTypeCode=&formCode=";
            $('#MonthlyCompanyStockChart .monthlyCompanyStockDatagrid').data("chart-name", "branch_sales_monthly");
            CreateMonthlyBranchSalesChartFormCompanyStockChart(urldata);
        })
        var tempcopanayselected = [];
        function CreateMonthlyCompanyStockChart(urlData) {
            $('#MonthlyCompanyStockChart').find('.caption-subject').html("Company Stock Chart");
            urlData = (urlData == undefined || urlData == "") ? "?customerCode=&itemCode=&categoryCode=&companyCode=&branchCode=" + branchCodes + "&partyTypeCode=&formCode=" : urlData;
            monthlyCompanyStock = urlData.replace('?', '&');
            dayWiseUrl_MonthlyCompanyStockChart = monthlyCompanyStock;
            var dateformat = $("input[name=DateFormat_monthlyCompanyStock]:checked").val();
            var catagoryAxisName_monthlyCompanyStock = "Month", sortAxis_monthlySales = "Month";
            //if (dateformat == "BS") {
            //    catagoryAxisName_monthlyCompanyStock = "Nepalimonth";
            //    sortAxis_monthlySales = "NepaliMonthInt";
            //}
            var mainUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetCompanyStockMonthlyReport";
            var IsDataGrid = $('#MonthlyCompanyStockChart .monthlyCompanyStockDatagrid').data("type");
            var DataGridChartName = $('#MonthlyCompanyStockChart .monthlyCompanyStockDatagrid').data("chart-name");
            reportFilter = reportFilter == undefined ? ReportFilter.filterAdditionalData() : reportFilter;
            reportFilter.ReportFilters.BranchFilter = [];
            reportFilter.ReportFilters.FromDate = $("#datePickerAd_MonthlyCompanyStockChart").val();
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: mainUrl + "?DateFormat=" + dateformat + urlData.replace('?', '&'),
                        dataType: "json", // <-- The default was "jsonp".
                        type: "POST",
                        contentType: "application/json; charset=utf-8"
                    },
                    parameterMap: function (options, type) {
                        var paramMap = JSON.stringify($.extend(options, reportFilter));
                        delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                        delete paramMap.$format; // <-- remove format parameter.
                        return paramMap;
                    }
                },
                requestStart: function () {
                    if (IsDataGrid != "Grid") {
                        kendo.ui.progress($("#MonthlyCompanyStockChart"), true);
                    }
                },
                requestEnd: function () {
                    kendo.ui.progress($("#MonthlyCompanyStockChart"), false);
                },
            });
            // data-grid set option on ceate funciton
            $("#MonthlyCompanyStockChart .DisplayFilterContent a").text("");


            if (IsDataGrid == "Grid" && DataGridChartName == "company_sales_monthly") {
                LoadDataGrid_MonthlyCompanyStockChart(dataSource);
                return;
            }
            else if (IsDataGrid == "Grid" && DataGridChartName == "branch_sales_monthly") {
                $('#MonthlyCompanyStockChart .monthlyCompanyStockDatagrid').data("chart-name", "branch_sales_monthly");
                LoadDataGrid_MonthlyBranchSalesChartForCompanyStock();
                return;
            }

            LoadChart_MonthlyStockChart(dataSource);
        }


        function LoadChart_MonthlyStockChart(dataSource) {

            dataSource = dataSource == undefined ? $("#CompanyStockChart").data("kendoChart").dataSource : dataSource;
            var monthField = 'Companyname';
             ;
            var seriesStock = [{ field: "Quantity", categoryField: "Companyname", name: "Quantity" }];
            var title = "";
            if (dataSource.data().length > 0) {
                if (dataSource.data()[0].Item_Code != null) {
                    monthField = 'ItemName';
                    seriesStock = [{ field: "Quantity" }];
                    title = dataSource.data()[0].Companyname;
                    // dataSource.group([]);

                }
                else if (dataSource.data()[0].Category_Code != null) {
                    monthField = 'CategoryName';
                    seriesStock = [{ field: "Quantity" }];
                    title = dataSource.data()[0].Companyname;
                    // dataSource.group([]);

                }
                else if (dataSource.data()[0].BranchName != null) {
                    monthField = '';
                  //  dataSource.group({ field: "BranchName" });
                    dataSource.group([]);
                    seriesStock = [{ field: "Quantity", categoryField: "BranchName",name: dataSource.data()[0].Companyname }];


                }
                else {
                    monthField = 'Companyname';

                }

            }

            $("#CompanyStockChart").kendoChart({
                chartArea: {
                    height: ($("#MonthlyCompanyStockChart").hasClass("portlet-fullscreen")) ? 550 : 350,
                },
                onDrag: function (e) {
                    var chart = e.sender;
                    var ds = chart.dataSource;
                    var options = chart.options;
                    var categoryRange = e.axisRanges.CategoryAxis;
                    if (categoryRange) {
                        var xMin = categoryRange.min;
                        var xMax = categoryRange.max;

                        options.categoryAxis.min = xMin;
                        options.categoryAxis.max = xMax;

                        ds.filter(viewModel.getFilter(xMin, xMax));
                    }
                },
                pannable: {
                    lock: "y"
                },
                zoomable: {
                    mousewheel: {
                        lock: "y"
                    },
                    selection: {
                        lock: "y"
                    }
                },
                dataSource: dataSource,
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    type: $("input[name=seriesTypeCompanyStock]:checked").val(),
                    // style: "smooth",
                    labels: {
                        visible: true,// $("#showlablesCompanyStock").prop("checked"),
                        template: "#=FormatSeriesLabels(value)#",
                        rotation: '0',
                    },
                    overlay: {
                        gradient: "roundedBevel"
                    },
                },
                valueAxis: {
                    line: {
                        visible: true
                    },
                    labels: {
                        rotation: 'auto',
                        template: "#= FormatSeriesLabels(value)#"
                    },
                    rotation: '270',
                    padding: {
                        left: -5
                    },
                    title: { text: amountFigureType }
                },
                series: seriesStock,
                //seriesColors: ["#428bca", "#da3b36", "#e67d4a", "#5bc0de", "#5cb85c", "#f2b661"],
                categoryAxis: [
                    {
                        visible:false
                    },
                  {

                      field: monthField,
                      visible: true,

                      labels: {
                          rotation: -45,
                      }
                  }],

                tooltip: {
                    visible: true,
                    format: "{0}",
                    template: "#= FormatSeriesLabels(value)#"
                },
                dataBound: function (e) {
                    var maxValue = getMaxValueFromDataSource(e);
                    var majorunit = Math.max(6, maxValue / 6);
                    e.sender.options.valueAxis.majorUnit = majorunit;
                    e.sender.options.valueAxis.max = maxValue + majorunit;
                     e.sender.options.valueAxis.axisCrossingValue = [0, -(maxValue + majorunit)];
                    $("#CompanyStockChart").next(".overlay").toggle(maxValue <= 0);
                },
                seriesClick: function (e) {
                     ;
                    if (e.series.categoryField == "BranchName") {
                        branchStockSeriesClick(e);
                    }
                    else if (e.series.data[0].Category_Code != null) {                        
                        var categoryCode = $.grep(e.series.data, function (b) { return b.CategoryName == e.category; })[0].Category_Code;
                        e.dataItem = e.series.data[0];
                        e.dataItem.Category_Code = categoryCode;
                        branchStockSeriesClick(e);
                    }
                    else {
                        var clickedMonth = e.dataItem.Month;
                        var clickedCompany = e.dataItem.Companycode;
                        checkedCompany = e.dataItem.Companycode;
                        $('#MonthlyCompanyStockChart .monthlyCompanyStockDatagrid').data("chart-name", "branch_sales_monthly");
                        CreateMonthlyBranchSalesChartFormCompanyStockChart(e);
                    }

                },
            });
        }
    </script>
    <script>
        $("#showzerovalue_monthlyBranchSales").on("change", function () {
            CreateMonthlyCompanyStockChart();
            RefreshChartFilterControl('@actionPageId');
        });
        $('#CompanyStockChart').closest('.portlet').find('.fullscreen').click(function () {
            if ($(this).hasClass("on")) {
                $("#CompanyStockChart").data("kendoChart").options.chartArea.height = 350;
            }
            else {
                $("#CompanyStockChart").data("kendoChart").options.chartArea.height = 550;
            }
            $("#CompanyStockChart").data("kendoChart").dataSource.read();
            $("#CompanyStockChart").data("kendoChart").refresh();
        });
        $('#CompanyStockChart').closest('.portlet').find('.config').click(function () {
            $(this).closest('.portlet').css('zIndex', 10040);
        });
        $('#CompanyStockChart').closest('.portlet').find('.icon-arrow-down').click(function () {
            $(this).closest('.portlet').css('zIndex', 10040);
        });
        $('#CompanyStockChart').closest('.portlet').find('.reload').click(function () {
            var urlData = "?customerCode=&itemCode=&categoryCode=&companyCode=&branchCode=" + branchCodes + "&partyTypeCode=&formCode=";
            $('#MonthlyCompanyStockChart .monthlyCompanyStockDatagrid').data("chart-name", "company_sales_monthly");
            $('#MonthlyCompanyStockChart .monthlyCompanyStockDatagrid').data("type", "Chart");
            CreateMonthlyCompanyStockChart(urlData);
            RefreshChartFilterControl('@actionPageId'); // ??
        });

        function refreshCompanyStock() {
            if ($(".monthlyCompanyStockDatagrid").attr("data-type") == "Grid")// data-grid toogle chart option in data-grid attribute in div
            {
                $(".monthlyCompanyStockDatagrid").attr("data-type", "Chart");
                CreateMonthlyBranchSalesChart();
                return;
            }

            var chart = $("#CompanyStockChart").data("kendoChart"),
                type = $("input[name=seriesTypeCompanyStock]:checked").val(),
                fieldtype = $("input[name=fieldTypeCompanyStock]:checked").val(),
                labels = $("#showlablesCompanyStock").prop("checked");
            var dateformat = $("input[name=DateFormat_monthlyCompanyStock]:checked").val();
            var catagoryAxisName_monthlyCompanyStock = "Month", sortAxis_monthlySales = "Month";

            if (dateformat == "BS") {
                catagoryAxisName_monthlyCompanyStock = "Month";
                sortAxis_monthlySales = "MonthInt";
            }
            for (var i = 0, length = chart.options.series.length; i < length; i++) {
                chart.options.series[i].type = type;
                chart.options.series[i].labels.visible = labels;
            };

            if (fieldtype == "Quantity") {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].field = "Quantity";
                };
            }
            else {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].field = "Amount";
                };
            }


            if (type == "column") {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].labels.rotation = -90;
                }
            }
            if (type == "bar") {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].labels.rotation = 0;
                }
            }
            chart.refresh();
        }

        $('#apply_@actionPageId').click(function () {
            //check for filter changes
            var IsDateChanged = false;
            var newDate = $("#datePickerAd_MonthlyCompanyStockChart").val();
            if (_oldDate_MonthlyCompanyStockChart != newDate) {
                IsDateChanged = true;
                _oldDate_MonthlyCompanyStockChart = $("#datePickerAd_MonthlyCompanyStockChart").val();

            }



            ChartFilter('@actionPageId', "CreateMonthlyCompanyStockChart", IsDateChanged);
        });

        $(document).ready(function () {
            defaultDateFormat_monthlyCompanyStock = $('input[name=DateFormat_monthlyCompanyStock]:checked').val();
            $('[title="Download"]').tooltip({
                trigger: 'hover'
            });

            $('.icon-arrow-down.SecondcustomCompanyStock').click(function () {
                $('.dropdown-menu.custom.SecondslidetoggleCompanyStock').slideToggle(200);
            });
            DatePicker.init('@actionPageId', "", "");
            _oldDate_MonthlyCompanyStockChart = $("#datePickerAd_MonthlyCompanyStockChart").val();
            CreateMonthlyCompanyStockChart();

            $(".optionsCompanyStock").bind("change", function () {
                if ($('.monthlyCompanyStockDatagrid').data("type") == "Chart")
                    refreshCompanyStock();
                else
                    chart_grid_option_change("CompanyStockChart", "CreateMonthlyCompanyStockChart");
            });
            $("#showlablesCompanyStock").bind("change", function () {
                var temp = $('.monthlyCompanyStockDatagrid').data("type");
                $('.monthlyCompanyStockDatagrid').data("type", "temp");
                try {
                    var chart = $("#CompanyStockChart").data("kendoChart")
                    if (chart.dataSource.view()[0].Companyname == undefined)
                        refreshCompanyStock();
                } catch (e) { }
                $('.monthlyCompanyStockDatagrid').data("type", temp);
            });


        });

    </script>
    <script>
        //$("input[name=DateFormat_monthlyBranchSales]").on('change', function () {
        //    CreateMonthlyCompanyStockChart();
        //})
    </script>

    <!--Monthly Branch sales chart according to Company-->
    <script>
        //LoadDataGrid function for data-grid for company
        function LoadDataGrid_MonthlyBranchSalesChartForCompanyStock(dataSource, monthField) {
            $("#CompanyStockChart").html('');
            //$('.monthlyCompanyStockDatagrid').data("type", "Grid");
            var monthTitle = "Month";
            var format = $("input[name=DateFormat_monthlyCompanyStock]:checked").val();
            dataSource = dataSource == undefined ? $("#CompanyStockChart").data("kendoChart").dataSource : dataSource;
            if (format == "BS") {
                if (dataSource.data().length > 0 && dataSource.data()[0].day != null) {
                    monthField = "day";
                    monthTitle = "days [month : " + dataSource.data()[0].Nepalimonth + "]";
                }
                else {
                    monthField = "Nepalimonth";
                    monthTitle = "Month"
                }
            }
            if (monthField == undefined)
                if (dataSource.data().length > 0 && dataSource.data()[0].Item_Code != null) {
                    monthField = "ItemName";
                    monthTitle = "Product";
                    dataSource.group({ field: "CategoryName" });
                }
                else if (dataSource.data().length > 0 && dataSource.data()[0].Category_Code != null) {
                    monthField = "CategoryName";
                    monthTitle = "Category ";
                    dataSource.group({ field: "BranchName" });
                }
                else {
                    monthField = "BranchName";
                    monthTitle = "Branch Name"
                    dataSource.group({ field: "Companyname" });
                }
            //dataSource.query({
            //    group: { field: monthField, },
            //    sort: { field: "NepaliMonthInt", dir: "asc" },
            //});

            $("#CompanyStockChart").kendoGrid({
                dataSource: dataSource,
                height: $("#MonthlyCompanyStockChart").hasClass("portlet-fullscreen") ? 550 : 350,
                groupable: false,
                sortable: true,
                //selectable: "multiple",
                toolbar: [{ template: kendo.template($("#toolbar-template").html()) }],
                excel: {
                    fileName: "Monthly company Stock Report",
                    allPages: true
                },
                columns: [{
                    field: monthField,
                    title: monthTitle,
                    width: 240
                }, {
                    field: "Quantity",
                    title: "Quantity",
                    format: "{0:n0}"
                }],
                dataBound: function (e) {
                    var gird = e.sender;
                    flag = false;
                    gird.table.find(".k-grouping-row").each(function () {
                        if (flag == true) { gird.collapseGroup(this); }
                        else
                            flag = true;
                    });
                }
            });
        }
        function CreateMonthlyBranchSalesChartFormCompanyStockChart(e) {
            $('#MonthlyCompanyStockChart').find('.caption-subject').html("BranchWise Stock Chart");
            var dateformat = $("input[name=DateFormat_monthlyCompanyStock]:checked").val();
            var catagoryAxisName_monthlyBranchSales = "BranchName", sortAxis_monthlySales = "BRANCH_CODE";
            var mainUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetStockBranchMonthlyReport";
            var IsDataGrid = $('#MonthlyCompanyStockChart .monthlyCompanyStockDatagrid').data("type");
            reportFilter = reportFilter == undefined ? ReportFilter.filterAdditionalData() : reportFilter;
            reportFilter.ReportFilters.BranchFilter = [];
            reportFilter.ReportFilters.FromDate = $("#datePickerAd_MonthlyCompanyStockChart").val();
            reportFilter.ReportFilters.CompanyFilter = [e.dataItem.Companycode];
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: mainUrl + "?DateFormat=" + dateformat,
                        dataType: "json", // <-- The default was "jsonp".
                        type: "POST",
                        contentType: "application/json; charset=utf-8"
                    },
                    parameterMap: function (options, type) {
                        var paramMap = JSON.stringify($.extend(options, reportFilter));
                        delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                        delete paramMap.$format; // <-- remove format parameter.
                        return paramMap;
                    }
                },
                requestStart: function () {
                    if (IsDataGrid != "Grid") {
                        kendo.ui.progress($("#CompanyStockChart"), true);
                    }
                },
                requestEnd: function () {
                    kendo.ui.progress($("#CompanyStockChart"), false);
                },

                sort: { field: "NepaliMonthInt", dir: "asc" },

            });
            // data-grid set option on ceate funciton
            $("#MonthlyCompanyStockChart .DisplayFilterContentCompanyStock a").text("");

            if (IsDataGrid == "Grid") {
                LoadDataGrid_MonthlyBranchSalesChartForCompanyStock(dataSource);
                return;
            }
             ;

            $("#CompanyStockChart").kendoChart({
                chartArea: {
                    height: ($("#MonthlyCompanyStockChart").hasClass("portlet-fullscreen")) ? 550 : 350,
                },
                onDrag: function (e) {
                    var chart = e.sender;
                    var ds = chart.dataSource;
                    var options = chart.options;
                    var categoryRange = e.axisRanges.CategoryAxis;
                    if (categoryRange) {
                        var xMin = categoryRange.min;
                        var xMax = categoryRange.max;

                        options.categoryAxis.min = xMin;
                        options.categoryAxis.max = xMax;

                        ds.filter(viewModel.getFilter(xMin, xMax));
                    }
                },
                pannable: {
                    lock: "y"
                },
                zoomable: {
                    mousewheel: {
                        lock: "y"
                    },
                    selection: {
                        lock: "y"
                    }
                },
                dataSource: dataSource,
                title: {
                },
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    type: $("input[name=seriesTypeCompanyStock]:checked").val(),
                    style: "smooth",
                    labels: {
                        visible: $("#showlablesCompanyStock").prop("checked"),
                        template: "#= FormatSeriesLabels(value)#"
                    },
                },
                valueAxis: {
                    axisCrossingValue: [0, -1e6, -1e6],
                    line: {
                        visible: true
                    },
                    labels: {
                        rotation: 'auto',
                        template: "#= FormatSeriesLabels(value)#"
                    },
                    title: { text: amountFigureType }
                },
                series: [{
                    field: "Quantity",
                    name: e.dataItem.Companyname
                }],
                seriesColors: ["#428bca", "#da3b36", "#e67d4a", "#5bc0de", "#5cb85c", "#f2b661"],
                categoryAxis: [
                    {
                        visible: false
                    },
                    {
                        field: catagoryAxisName_monthlyBranchSales,
                        labels: {
                            rotation: -45,
                        }
                    }],
                tooltip: {
                    visible: true,
                    format: "{0}",
                    template: "#= FormatSeriesLabels(value)#"
                },
                dataBound: function (e) {
                    var maxValue = getMaxValueFromDataSource(e);
                    var majorunit = Math.max(6, maxValue / 6);
                    e.sender.options.valueAxis.majorUnit = majorunit;
                    e.sender.options.valueAxis.max = maxValue + majorunit;
                    $("#CompanyStockChart").next(".overlay").toggle(maxValue <= 0);
                    e.sender.options.valueAxis.axisCrossingValue = [0, -(maxValue + majorunit)];
                },
                seriesClick: function (e) {
                     ;
                    branchStockSeriesClick(e)

                }
            });
        }




        function branchStockSeriesClick(e) {
            if (e.dataItem.Category_Code != undefined) {
                var daywiseUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetStockItemWiseReport";
                $('#MonthlyCompanyStockChart').find('.caption-subject').html("ItemWise Stock Chart");
                var dateformat = $("input[name=DateFormat_monthlyCompanyStock]:checked").val();
                if (e.dataItem.day != undefined)
                    return false;

                reportFilter.ReportFilters.FromDate = $("#datePickerAd_MonthlyCompanyStockChart").val();
                reportFilter.ReportFilters.CategoryFilter = [e.dataItem.Category_Code];
                var dataSourcetest = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: daywiseUrl + "?DateFormat=" + dateformat,
                            dataType: "json", // <-- The default was "jsonp".
                            type: "POST",
                            contentType: "application/json; charset=utf-8"
                        },
                        parameterMap: function (options, type) {
                            var paramMap = JSON.stringify($.extend(options, reportFilter));
                            delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                            delete paramMap.$format; // <-- remove format parameter.
                            return paramMap;
                        }
                    },
                    requestStart: function () {
                        kendo.ui.progress($("#MonthlyCompanyStockChart"), true);
                    },
                    requestEnd: function () {
                        kendo.ui.progress($("#MonthlyCompanyStockChart"), false);
                    },
                    //sort: {
                    //    field: "day",
                    //    dir: "asc"
                    //},
                    //group: {
                    //    field: "BranchName"
                    //},
                });

                var chart = $("#CompanyStockChart").data("kendoChart");
                //type = $("input[name=seriesTypeCompanyStock]:checked").val(),
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    // chart.options.series[i].type = 'bar';
                };
                chart.setOptions({
                    categoryAxis: [
                        {
                            visible: false
                        }, {
                            field: "ItemName",
                            labels: {
                                rotation: -45,
                            },
                            title: { text: e.dataItem.BranchName }
                        }],
                    tooltip: {
                        template: "#= FormatSeriesLabels(value)#"
                    },
                });

                chart.options.series[0].field = "Quantity";
                chart.setDataSource(dataSourcetest);
                chart.refresh();
            }
            else if (e.dataItem.Branch_Code != undefined) {
                var daywiseUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetStockCategoryWiseReport";
                $('#MonthlyCompanyStockChart').find('.caption-subject').html("CategoryWise Stock Chart");
                var dateformat = $("input[name=DateFormat_monthlyCompanyStock]:checked").val();
                if (e.dataItem.day != undefined)
                    return false;

                reportFilter.ReportFilters.FromDate = $("#datePickerAd_MonthlyCompanyStockChart").val();
                reportFilter.ReportFilters.BranchFilter = [e.dataItem.Branch_Code];
                var dataSourcetest = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: daywiseUrl + "?DateFormat=" + dateformat,
                            dataType: "json", // <-- The default was "jsonp".
                            type: "POST",
                            contentType: "application/json; charset=utf-8"
                        },
                        parameterMap: function (options, type) {
                            var paramMap = JSON.stringify($.extend(options, reportFilter));
                            delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                            delete paramMap.$format; // <-- remove format parameter.
                            return paramMap;
                        }
                    },
                    requestStart: function () {
                        kendo.ui.progress($("#MonthlyCompanyStockChart"), true);
                    },
                    requestEnd: function () {
                        kendo.ui.progress($("#MonthlyCompanyStockChart"), false);
                    },
                    //sort: {
                    //    field: "day",
                    //    dir: "asc"
                    //},
                    //group: {
                    //    field: "BranchName"
                    //},
                });

                var chart = $("#CompanyStockChart").data("kendoChart");
                //type = $("input[name=seriesTypeCompanyStock]:checked").val(),
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    // chart.options.series[i].type = 'bar';
                };
                chart.setOptions({
                    categoryAxis: [
                        {
                            visible: false
                        }, {
                            field: "CategoryName",
                            labels: {
                                rotation: -45,
                            },
                            title: { text: e.dataItem.BranchName }
                        }],
                    tooltip: {
                        template: "#= FormatSeriesLabels(value)#"
                    },
                });

                chart.options.series[0].field = "Quantity";

                chart.setDataSource(dataSourcetest);
                chart.refresh();
            }
        }
        //Export 
        $(".export-pdf").click(function () {
            var chartid = $(this).data("id");
            var chart = $("#" + chartid).getKendoChart();
            var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
            chart.exportPDF({ paperSize: "auto", margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" } }).done(function (data) {
                kendo.saveAs({

                    dataURI: data,
                    fileName: filename + ".pdf",
                    proxyURL: "//demos.telerik.com/kendo-ui/service/export"
                });
            });
        });

        $(".export-img").click(function () {
            var chartid = $(this).data("id");
            var chart = $("#" + chartid).getKendoChart();
            var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
            chart.exportImage().done(function (data) {
                kendo.saveAs({
                    dataURI: data,
                    fileName: filename + ".png",
                    proxyURL: "//demos.telerik.com/kendo-ui/service/export",

                });
            });
        });

        $(".export-svg").click(function () {
            var chartid = $(this).data("id");
            var chart = $("#" + chartid).getKendoChart();
            var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
            chart.exportSVG().done(function (data) {
                kendo.saveAs({
                    dataURI: data,
                    fileName: filename + ".svg",
                    proxyURL: "//demos.telerik.com/kendo-ui/service/export"
                });
            });
        });

        function FormatSeriesLabels(value) {
            debugger
            fieldtype = $("input[name=fieldTypeCompanyStock]:checked").val();
            if (fieldtype == "Quantity") {
                return kendo.format("{0:n" + ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString() + "}", value);
            }
            if (isNaN(value))
                value = 0;
            var decimalPlaces = 2;
            if (ReportFilter.filterAdditionalData().ReportFilters.AmountRoundUpFilter != "" && ReportFilter.filterAdditionalData().ReportFilters.AmountRoundUpFilter != undefined) {
                if (ReportFilter.filterAdditionalData().ReportFilters.AmountRoundUpFilter.split(".").length > 1)
                    decimalPlaces = ReportFilter.filterAdditionalData().ReportFilters.AmountRoundUpFilter.split(".")[1].length;
                else
                    decimalPlaces = 0;
            }

            if (ReportFilter.filterAdditionalData().ReportFilters.AmountFigureFilter == "Lakh") {
                value = (value / 100000).toFixed(decimalPlaces) + " L";
            } else if (ReportFilter.filterAdditionalData().ReportFilters.AmountFigureFilter == "Thousand") {
                value = (value / 1000).toFixed(decimalPlaces) + " K";
            }
            else if (ReportFilter.filterAdditionalData().ReportFilters.AmountFigureFilter == "Crore") {
                value = (value / 10000000).toFixed(decimalPlaces) + " C";
            }
            else {
                value = (value / 100000).toFixed(decimalPlaces) + " L";
            }
            return kendo.format("{0:n" + ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString() + "}", value);
        }
    </script>
</div>
