@using NeoErp.Core.Models;
@{
    var actionPageId = "MonthlyCompanyExpenseChart";
}
<style>
    .slimScrollBar {
        border-radius: 5px !important;
        background-color: #333 !important;
    }

    .slimScrollDiv, #customerMultiSelect {
        height: auto !important;
    }

    ul.dropdown-menu.custom {
        margin-top: 8px !important;
        border: none;
        box-shadow: none !important;
    }

    .dropdown-menu.custom:before {
        left: 58px !important;
    }

    .download-btn {
        margin: 0px !important;
        padding-top: -2px !important;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -5px !important;
        margin-left: 5px !important;
    }

    .dropdown-menu.custom {
        left: -27px !important;
        top: 20px !important;
    }

    .dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 30px;
        right: auto;
        display: inline-block !important;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        border-left: 8px solid transparent;
        content: '';
    }

    i.icon-arrow-down {
        color: #acacac;
    }

    .btn-group-custom button.btn {
        padding: 7px 7px !important;
        float: left;
    }

    .dropdown-menu.custom {
        left: -55px !important;
    }

    a.monthlyCompanyExpenseDatagrid {
        color: #acacac !important;
    }
</style>
<div class="modal fade" id="Model_@actionPageId" tabindex="-1" role="dialog" aria-labelledby="CompanyExpenseModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-chart">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span class="fa fa-bar-chart"></span> Monthly company Expense chart</h4>
            </div>
            <div class="modal-body bottom-gappingtwo form-horizontal">
                <div class="row">
                    <div class="monthlybranch-sales clearfix">
                        <div class="col-md-6 col-sm-6 margin_bottom">
                            <div class="btn-group optionsCompanyExpense" data-toggle="buttons">
                                <button type="button" class="btn btn-sm default blue-stripe">
                                    <i class="fa fa-bar-chart"></i>
                                    <input id="typeColumnCompanyExpense" name="seriesTypeCompanyExpense"
                                           type="radio" value="column" checked="checked" autocomplete="off" /> column
                                </button>
                                <button type="button" class="btn  btn-sm default blue-stripe">
                                    <i class="fa fa-bar-chart"></i>
                                    <input id="typeBarCompanyExpense" name="seriesTypeCompanyExpense"
                                           type="radio" value="bar" autocomplete="off" /> bar
                                </button>
                                <button type="button" class="btn btn-sm default blue-stripe">
                                    <i class="fa fa-line-chart"></i>
                                    <input id="typeLineCompanyExpense" name="seriesTypeCompanyExpense"
                                           type="radio" value="line" autocomplete="off" />Line
                                </button>
                            </div>
                        </div>
                        <div class="options">
                            <div class="col-sm-6 col-md-6 choose">
                                <div class="btn-group optionsCompanyExpense hidden" data-toggle="buttons">
                                    <h5> Choose Value Field</h5>
                                    <button type="button" class="btn btn-sm default red-stripe">
                                        <i class="fa fa-cart-arrow-down"></i>
                                        <input id="QuantityColumnCompanyExpense" name="fieldTypeCompanyExpense"
                                               type="radio" value="Quantity" autocomplete="off" /> Quantity
                                    </button>
                                    <button type="button" class="btn btn-sm default green-stripe">
                                        <i class="fa fa-rupee"></i>
                                        <input id="typeBarCompanyExpense" name="fieldTypeCompanyExpense"
                                               type="radio" value="Amount" checked="checked" autocomplete="off" /> Amount
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 ">
                                <!-- show label & Stack option-->
                                <div class="input-group chart-option-inline">
                                    <div class="icheck-inline">
                                        <label>
                                            <input id="showlablesCompanyExpense" type="checkbox" autocomplete="off" /> Show Labels
                                        </label>
                                    </div>
                                    <div class="date-option">
                                        <label>
                                            <input type="radio" id="ADFormat" name="DateFormat_monthlyCompanyExpense" value="AD" /> AD
                                        </label>
                                        <label>
                                            <input type="radio" id="BSFormat" name="DateFormat_monthlyCompanyExpense" checked="checked" value="BS" /> BS
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @*
    <div class="filter_title">
        <label class="filter-label">Advance Filter</label>
    </div>

    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
    {
    ShowCustomerFilter = true,
    ShowProductFilter = true,
    ShowPartyTypeFilter = false,
    ShowCategoryFilter = false,
    ShowLocationFilter = false,
    ShowDocumentFilter = false,
    ShowCompanyFilter = false,
    ShowBranchFilter = false,
    IsPopUp = false,
    ActionPageId = actionPageId
    })
                *@
            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn default" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-green applydp" data-dismiss="modal" id="apply_@actionPageId">Apply</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="portlet portlet-sortable  light bordered" id="MonthlyCompanyExpenseChart">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green-haze"></i>
            <span class="caption-subject bold uppercase font-green-haze custom-modal">Company Expense (monthly)</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a class="btnGrid monthlyCompanyExpenseDatagrid" data-type="Chart" data-chart-name="company_sales_monthly" data-title="Grid">
                <i class="fa fa-table"></i>
            </a>

            <div class="btn-group">
                <a class="btn dropdown-toggle download-btn" title="Download" data-toggle="dropdown" href="#">
                    <i class="icon-arrow-down SecondcustomCompanyExpense"></i>

                </a>
                <ul class="dropdown-menu custom SecondslidetoggleCompanyExpense">
                    <div class="btn-group-custom">
                        <button type="button" data-id="CompanyExpenseChart" class="export-pdf btn default green-stripe"><i class="fa fa-file-pdf-o"></i> PDF</button>
                        <button type="button" data-id="CompanyExpenseChart" class="export-img btn default blue-stripe"><i class="fa fa-image-o"></i>Image</button>
                        <button type="button" data-id="CompanyExpenseChart" class="export-svg btn default red-stripe">SVG</button>
                    </div>
                </ul>
            </div>
            <a href="#Model_@actionPageId" data-toggle="modal" class="config">
            </a>
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="fullscreen">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <script type="text/x-kendo-template" id="toolbar-template">
            <div class="k-header k-grid-toolbar pull-right">

                <a class="k-button k-button-icontext k-grid-excel" href="javascript:">
                    <i class="fa fa-file-excel-o"></i>
                </a>
        </script>
        <div class="k-content wide">
            <div id="CompanyExpenseChart"></div>
            <div class="overlay"><div>No data available</div></div>
            <div class="AmountFigureType"></div>
            <div class="DisplayFilterContent"><a href="javascript:;" data-toggle="tooltip" title=""></a></div>
        </div>
    </div>


    <script>
        var defaultDateFormat_monthlyCompanyExpense = "";

        var dataBounded_MonthlyCompanyExpenseChart = false;
        var dayWiseUrl_MonthlyCompanyExpenseChart = "";
        var toggleFlag_MonthlyCompanyExpenseChart = true;

        //LoadDataGrid function for data-grid
        function LoadDataGrid_MonthlyCompanyExpenseChart(dataSource, monthField) {
            $("#CompanyExpenseChart").html('');
            $('.monthlyCompanyExpenseDatagrid').data("type", "Grid");
            var monthTitle = "Month";
            var format = $("input[name=DateFormat_monthlyCompanyExpense]:checked").val();
            dataSource = dataSource == undefined ? $("#CompanyExpenseChart").data("kendoChart").dataSource : dataSource;
            if (format == "BS") {
                if (dataSource.data().length > 0 && dataSource.data()[0].day != null) {
                    monthField = "day";
                    monthTitle = "days [month : " + dataSource.data()[0].Nepalimonth + "]";
                }
                else {
                    monthField = "Month";
                    monthTitle = "Month"
                }
            }
            if (monthField == undefined)
                if (dataSource.data().length > 0 && dataSource.data()[0].day != null) {
                    monthField = "day";
                    monthTitle = "days [month : " + dataSource.data()[0].Month + "]";
                }
                else {
                    monthField = "Month";
                    monthTitle = "Month"
                }
            //dataSource.query({
            //    group: { field: monthField, },
            //    sort: { field: "NepaliMonthInt", dir: "asc" },
            //});
            dataSource.group({ field: "CompanyName", title: "CompanyName" });
            $("#CompanyExpenseChart").kendoGrid({
                dataSource: dataSource,
                height: $("#MonthlyBranchchart").hasClass("portlet-fullscreen") ? 550 : 350,
                groupable: false,
                sortable: true,
                //selectable: "multiple",
                toolbar: [{ template: kendo.template($("#toolbar-template").html()) }],
                excel: {
                    fileName: "Monthly company Expense Report",
                    allPages: true
                },
                columns: [{
                    field: monthField,
                    title: monthTitle,
                    width: 240
                },
                //{
                //    field: "Quantity",
                //    title: "Quantity",
                //    format: "{0:n0}"
                //},
                {
                    field: "Amount",
                    title: "Amount",
                    format: "{0:n}",
                    attributes: {
                        style: "text-align: right;"
                    },
                }],
                dataBound: function (e) {
                    var gird = e.sender;
                    flag = false;
                    gird.table.find(".k-grouping-row").each(function () {
                        if (flag == true) { gird.collapseGroup(this); }
                        else
                            flag = true;
                    });
                }
            });
        }


        function ThirdChartData_CompanyExpense() {
            $('.monthlyCompanyExpenseDatagrid').data("type", "Chart");
            var urlData = "?customerCode=&itemCode=&categoryCode=&companyCode=&branchCode=" + branchCodes + "&partyTypeCode=&formCode=";
            CreateMonthlyCompanyExpenseChart(urlData);
            RefreshChartFilterControl('@actionPageId');
        }

        var checkedCompany = "";
        $(".monthlyCompanyExpenseDatagrid").click(function () {
             ;
            var type = $('.monthlyCompanyExpenseDatagrid').data("type");
            var name = $('.monthlyCompanyExpenseDatagrid').data("chart-name");

            if (type == "Chart" && name == "company_sales_monthly") {
                LoadDataGrid_MonthlyCompanyExpenseChart()
                $('.monthlyCompanyExpenseDatagrid').data("type", "Grid");
            }
            else if (type == "Chart" && name == "branch_sales_monthly") {
                LoadDataGrid_MonthlyBranchSalesChartForCompanyExpense();
                $('.monthlyCompanyExpenseDatagrid').data("type", "Grid");
            }
            else if (type == "Grid" && name == "branch_sales_monthly") {
               // $('.monthlyCompanyExpenseDatagrid').data("type", "Chart");
                var urldata = "?customerCode=&itemCode=&categoryCode=&companyCode=" + checkedCompany + "&branchCode=&partyTypeCode=&formCode=";
                CreateMonthlyBranchSalesChartFormCompanyExpenseChart(urldata);
                $('.monthlyCompanyExpenseDatagrid').data("type", "Chart");
            }
            else if (type == "Grid") {
                ThirdChartData_CompanyExpense();
                $('.monthlyCompanyExpenseDatagrid').data("type", "Chart");
            }
            $("i", this).toggleClass("icon-bar-chart");
        });

        $("#CompanyExpenseChart").on('dblclick', ".k-state-selected", function (e) {

            var grid = $("#CompanyExpenseChart").data("kendoGrid");
            var dateformat = $("input[name=DateFormat_monthlyCompanyExpense]:checked").val();
            var selectedItem = grid.dataItem(grid.select());
            selectedItem.Month = selectedItem.Month == null ? selectedItem.Nepalimonth : selectedItem.Month;

            var clickedMonth = selectedItem.Month;
            var clickedCompany = selectedItem.CompanyCode;
            if (clickedCompany == undefined)
                clickedCompany = selectedItem.Branch_Code.split('.')[0];
            var urldata = "?customerCode=&itemCode=&categoryCode=&companyCode=" + clickedCompany + "&branchCode=&partyTypeCode=&formCode=";
            $('#MonthlyCompanyExpenseChart .monthlyCompanyExpenseDatagrid').data("chart-name", "branch_sales_monthly");
            CreateMonthlyBranchSalesChartFormCompanyExpenseChart(urldata);
        })
        var tempcopanayselected = [];
        function CreateMonthlyCompanyExpenseChart(urlData) {
            $('#MonthlyCompanyExpenseChart').find('.caption-subject').html("Company Expense (monthly)");
            urlData = (urlData == undefined) ? "?customerCode=&itemCode=&categoryCode=&companyCode=&branchCode=" + branchCodes + "&partyTypeCode=&formCode=" : urlData;
            monthlyCompanyExpense = urlData.replace('?', '&');
            dayWiseUrl_MonthlyCompanyExpenseChart = monthlyCompanyExpense;
            var dateformat = $("input[name=DateFormat_monthlyCompanyExpense]:checked").val();
            var catagoryAxisName_monthlyCompanyExpense = "Month", sortAxis_monthlySales = "Month";
            //if (dateformat == "BS") {
            //    catagoryAxisName_monthlyCompanyExpense = "Nepalimonth";
            //    sortAxis_monthlySales = "NepaliMonthInt";
            //}

            var mainUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetCompanyExpenseMonthlyReport";
            var daywiseUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetCompanySalesDailyReport";
            var IsDataGrid = $('#MonthlyCompanyExpenseChart .monthlyCompanyExpenseDatagrid').data("type");
            var DataGridChartName = $('#MonthlyCompanyExpenseChart .monthlyCompanyExpenseDatagrid').data("chart-name");
            reportFilter = reportFilter == undefined ? ReportFilter.filterAdditionalData() : reportFilter;
            reportFilter.ReportFilters.BranchFilter = [];
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: mainUrl + "?DateFormat=" + dateformat + urlData.replace('?', '&'),
                        dataType: "json", // <-- The default was "jsonp".
                        type: "POST",
                        contentType: "application/json; charset=utf-8"
                    },
                    parameterMap: function (options, type) {
                        var paramMap = JSON.stringify($.extend(options, reportFilter));
                        delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                        delete paramMap.$format; // <-- remove format parameter.
                        return paramMap;
                    }
                },
                requestStart: function () {
                    if (IsDataGrid != "Grid") {
                        kendo.ui.progress($("#MonthlyCompanyExpenseChart"), true);
                    }
                },
                requestEnd: function () {
                    kendo.ui.progress($("#MonthlyCompanyExpenseChart"), false);
                },
                sort: {
                    field: "month",
                    dir: "asc"
                },
                group: {
                    field: "CompanyName"
                },
                schema: {
                    parse: function (items) {

                        var item,
                            result = [];
                        var showzerovalue = $("#showzerovalue_monthlyBranchSales").prop("checked");

                        if (showzerovalue) {
                            for (var i = 0; i < items.length; i++) {
                                item = items[i];
                                result.push(item);
                            }
                        }
                        else {
                            for (var i = 0; i < items.length; i++) {
                                item = items[i];
                                if (item.Collection !== 0 && item.Sales !== 0) {
                                    result.push(item);
                                }
                            }
                        }
                        return result;
                    },
                }
            });
            // data-grid set option on ceate funciton
            $("#MonthlyCompanyExpenseChart .DisplayFilterContentCompanyExpense a").text("");


            if (IsDataGrid == "Grid" && DataGridChartName == "company_sales_monthly") {
                LoadDataGrid_MonthlyCompanyExpenseChart(dataSource);
                return;
            }
            else if (IsDataGrid == "Grid" && DataGridChartName == "branch_sales_monthly") {
                $('#MonthlyCompanyExpenseChart .monthlyCompanyExpenseDatagrid').data("chart-name", "branch_sales_monthly");
                LoadDataGrid_MonthlyBranchSalesChartForCompanyExpense();
                return;
            }

            $("#CompanyExpenseChart").kendoChart({
                chartArea: {
                    height: ($("#MonthlyCompanyExpenseChart").hasClass("portlet-fullscreen")) ? 550 : 350,
                },
                onDrag: function (e) {
                    var chart = e.sender;
                    var ds = chart.dataSource;
                    var options = chart.options;
                    var categoryRange = e.axisRanges.CategoryAxis;
                    if (categoryRange) {
                        var xMin = categoryRange.min;
                        var xMax = categoryRange.max;

                        options.categoryAxis.min = xMin;
                        options.categoryAxis.max = xMax;

                        ds.filter(viewModel.getFilter(xMin, xMax));
                    }
                },
                pannable: {
                    lock: "y"
                },
                zoomable: {
                    mousewheel: {
                        lock: "y"
                    },
                    selection: {
                        lock: "y"
                    }
                },
                dataSource: dataSource,
                title: {
                },
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    type: $("input[name=seriesTypeCompanyExpense]:checked").val(),
                    style: "smooth",
                    labels: {
                        visible: $("#showlablesCompanyExpense").prop("checked"),
                        template: "#=FormatSeriesLabels(value)#"
                    },
                },
                valueAxis: {
                    line: {
                        visible: true
                    },
                    labels: {
                        rotation: 'auto',
                        template: "#= FormatSeriesLabels(value)#"
                    },
                    title: { text: amountFigureType }
                },
                series: [{
                    field: "Amount",
                    name: "#= group.value #"
                }],
                seriesColors: ["#f0f027", "#428bca", "#da3b36", "#e67d4a", "#5bc0de", "#5cb85c", "#f2b661"],
                categoryAxis: {
                    field: catagoryAxisName_monthlyCompanyExpense,
                    labels: {
                        rotation: -45,
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0}",
                    template: "#= category #: \n #= FormatSeriesLabels(value)#"
                },
                dataBound: function (e) {
                    var maxValue = getMaxValueFromDataSource(e);
                    var majorunit = Math.max(6, maxValue / 6);
                    e.sender.options.valueAxis.majorUnit = majorunit;
                    e.sender.options.valueAxis.max = maxValue + majorunit;
                    $("#CompanyExpenseChart").next(".overlay").toggle(maxValue <= 0);
                },
                seriesClick: function (e) {
                     ;
                    var clickedMonth = e.dataItem.Month;
                    var clickedCompany = e.dataItem.CompanyCode;
                    checkedCompany = e.dataItem.CompanyCode;
                    var urldata = "?customerCode=&itemCode=&categoryCode=&companyCode=" + clickedCompany + "&branchCode=&partyTypeCode=&formCode=";
                    $('#MonthlyCompanyExpenseChart .monthlyCompanyExpenseDatagrid').data("chart-name", "branch_sales_monthly");
                    CreateMonthlyBranchSalesChartFormCompanyExpenseChart(urldata);
                },
            });
        }
    </script>
    <script>
        $("#showzerovalue_monthlyBranchSales").on("change", function () {
            CreateMonthlyCompanyExpenseChart();
            RefreshChartFilterControl('@actionPageId');
        });
        $('#CompanyExpenseChart').closest('.portlet').find('.fullscreen').click(function () {
            if ($(this).hasClass("on")) {
                $("#CompanyExpenseChart").data("kendoChart").options.chartArea.height = 350;
            }
            else {
                $("#CompanyExpenseChart").data("kendoChart").options.chartArea.height = 550;
            }
            $("#CompanyExpenseChart").data("kendoChart").dataSource.read();
            $("#CompanyExpenseChart").data("kendoChart").refresh();
        });
        $('#CompanyExpenseChart').closest('.portlet').find('.config').click(function () {
            $(this).closest('.portlet').css('zIndex', 10040);
        });
        $('#CompanyExpenseChart').closest('.portlet').find('.icon-arrow-down').click(function () {
            $(this).closest('.portlet').css('zIndex', 10040);
        });
        $('#CompanyExpenseChart').closest('.portlet').find('.reload').click(function () {
            var urlData = "?customerCode=&itemCode=&categoryCode=&companyCode=&branchCode=" + branchCodes + "&partyTypeCode=&formCode=";
            $('#MonthlyCompanyExpenseChart .monthlyCompanyExpenseDatagrid').data("chart-name", "company_sales_monthly");
            $('#MonthlyCompanyExpenseChart .monthlyCompanyExpenseDatagrid').data("type", "Chart");
            CreateMonthlyCompanyExpenseChart(urlData);
            RefreshChartFilterControl('@actionPageId'); // ??
        });

        function refreshCompanyExpense() {
             
            if ($(".monthlyCompanyExpenseDatagrid").attr("data-type") == "Grid")// data-grid toogle chart option in data-grid attribute in div
            {
                $(".monthlyCompanyExpenseDatagrid").attr("data-type", "Chart");
                CreateMonthlyBranchSalesChart();
                return;
            }
            var chart = $("#CompanyExpenseChart").data("kendoChart"),
                type = $("input[name=seriesTypeCompanyExpense]:checked").val(),
                fieldtype = $("input[name=fieldTypeCompanyExpense]:checked").val(),
                labels = $("#showlablesCompanyExpense").prop("checked");


            for (var i = 0, length = chart.options.series.length; i < length; i++) {
                chart.options.series[i].type = type;
                chart.options.series[i].labels.visible = labels;
            };

            if (fieldtype == "Quantity") {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].field = "Quantity";
                };
            }
            else {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].field = "Amount";
                };
            }


            if (type == "column") {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].labels.rotation = -90;
                }
            }
            if (type == "bar") {
                for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    chart.options.series[i].labels.rotation = 0;
                }
            }
            chart.refresh();
        }

        $('#apply_@actionPageId').click(function () {

            //check for filter changes
            var checkedDateFormat = $('input[name=DateFormat_monthlyCompanyExpense]:checked').val();
            var IsDateChanged = false;
            if (defaultDateFormat_monthlyCompanyExpense != checkedDateFormat) {
                IsDateChanged = true;
                defaultDateFormat_monthlyCompanyExpense = checkedDateFormat;
            }
            ChartFilter('@actionPageId', "CreateMonthlyCompanyExpenseChart", IsDateChanged);
        });

        $(document).ready(function () {
            defaultDateFormat_monthlyCompanyExpense = $('input[name=DateFormat_monthlyCompanyExpense]:checked').val();
            $('[title="Download"]').tooltip({
                trigger: 'hover'
            });

            $('.icon-arrow-down.SecondcustomCompanyExpense').click(function () {
                $('.dropdown-menu.custom.SecondslidetoggleCompanyExpense').slideToggle(200);
            });
            CreateMonthlyCompanyExpenseChart();
            $(".optionsCompanyExpense").bind("change", function () {
                //if ($('.monthlyCompanyExpenseDatagrid').data("type") == "Chart")
                //    refreshCompanyExpense();
                //else
                //    chart_grid_option_change("CompanyExpenseChart", "CreateMonthlyCompanyExpenseChart");
                 var temp = $('.monthlyCompanyExpenseDatagrid').data("type");
                $('.monthlyCompanyExpenseDatagrid').data("type", "temp");
                refreshCompanyExpense();
                $('.monthlyCompanyExpenseDatagrid').data("type", temp);

            });
            $("#showlablesCompanyExpense").bind("change", function () {
                var temp = $('.monthlyCompanyExpenseDatagrid').data("type");
                $('.monthlyCompanyExpenseDatagrid').data("type", "temp");
                refreshCompanyExpense();
                $('.monthlyCompanyExpenseDatagrid').data("type", temp);
            });


        });

    </script>
    <script>
        //$("input[name=DateFormat_monthlyBranchSales]").on('change', function () {
        //    CreateMonthlyCompanyExpenseChart();
        //})
    </script>

    <!--Monthly Branch sales chart according to Company-->
    <script>
        //LoadDataGrid function for data-grid for company
        function LoadDataGrid_MonthlyBranchSalesChartForCompanyExpense(dataSource, monthField) {
            $("#CompanyExpenseChart").html('');
            //$('.monthlyCompanyExpenseDatagrid').data("type", "Grid");
            var monthTitle = "Month";
            var columnField = "BranchName";
            var columnTitle = "Branch Name";
            var format = $("input[name=DateFormat_monthlyCompanyExpense]:checked").val();
            dataSource = dataSource == undefined ? $("#CompanyExpenseChart").data("kendoChart").dataSource : dataSource;
             ;
            if (format == "BS") {
                if (dataSource.data().length > 0 && dataSource.data()[0].day != null) {
                    monthField = "day";
                    monthTitle = "days [month : " + dataSource.data()[0].Nepalimonth + "]";
                    columnField = "Acc_Edesc";
                    columnTitle = "Category [Branch : " + dataSource.data()[0].BranchName + "]";
                }
                else {
                    monthField = "Nepalimonth";
                    monthTitle = "Month"
                }
            }
            if (monthField == undefined)
                if (dataSource.data().length > 0 && dataSource.data()[0].day != null) {
                    monthField = "day";
                    monthTitle = "days [month : " + dataSource.data()[0].MonthEnglish + "]";
                    columnField = "Acc_Edesc";
                    columnTitle = "Category [Branch : " + dataSource.data()[0].BranchName + "]";
                }
                else {
                    monthField = "MonthYear";
                    monthTitle = "Month"
                }
            //dataSource.query({
            //    group: { field: monthField, },
            //    sort: { field: "NepaliMonthInt", dir: "asc" },
            //});
            dataSource.group({ field: monthField, title: monthTitle });
            $("#CompanyExpenseChart").kendoGrid({
                dataSource: dataSource,
                height: $("#MonthlyCompanyExpenseChart").hasClass("portlet-fullscreen") ? 550 : 350,
                groupable: false,
                sortable: true,
                //selectable: "multiple",
                toolbar: [{ template: kendo.template($("#toolbar-template").html()) }],
                excel: {
                    fileName: "Monthly company Expense Report",
                    allPages: true
                },
                columns: [{
                    field: columnField,
                    title: columnTitle,
                    width: 240
                },
                {
                    field: "Amount",
                    title: "Expense",
                    format: "{0:n}",
                    attributes: {
                        style: "text-align: right;"
                    },
                }],
                dataBound: function (e) {
                    var gird = e.sender;
                    flag = false;
                    gird.table.find(".k-grouping-row").each(function () {
                        if (flag == true) { gird.collapseGroup(this); }
                        else
                            flag = true;
                    });
                }
            });
        }
        function CreateMonthlyBranchSalesChartFormCompanyExpenseChart(urlData) {
             ;
            $('#MonthlyCompanyExpenseChart').find('.caption-subject').html("Branch Expense (monthly)");
            urlData = (urlData == undefined) ? "?customerCode=&itemCode=&categoryCode=&companyCode=&branchCode=" + branchCodes + "&partyTypeCode=&formCode=" : urlData;
            monthlyBranchSales = urlData.replace('?', '&');
            dayWiseUrl_monthlyBranchSales = monthlyBranchSales;
            var dateformat = $("input[name=DateFormat_monthlyCompanyExpense]:checked").val();
            var catagoryAxisName_monthlyBranchSales = "MonthYear", sortAxis_monthlySales = "Month";
            //if (dateformat == "BS") {
            //    catagoryAxisName_monthlyBranchSales = "Nepalimonth";
            //    sortAxis_monthlySales = "NepaliMonthInt";
            //}
            var mainUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetExpenseBranchMonthlyReport";
            var daywiseUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetExpenseBranchDailyReport";

            var IsDataGrid = $('#MonthlyCompanyExpenseChart .monthlyCompanyExpenseDatagrid').data("type");
            reportFilter = reportFilter == undefined ? ReportFilter.filterAdditionalData() : reportFilter;
            reportFilter.ReportFilters.BranchFilter = [];
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: mainUrl + "?DateFormat=" + dateformat + urlData.replace('?', '&'),
                        dataType: "json", // <-- The default was "jsonp".
                        type: "POST",
                        contentType: "application/json; charset=utf-8"
                    },
                    parameterMap: function (options, type) {
                        var paramMap = JSON.stringify($.extend(options, reportFilter));
                        delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                        delete paramMap.$format; // <-- remove format parameter.
                        return paramMap;
                    }
                },
                requestStart: function () {
                    if (IsDataGrid != "Grid") {
                        kendo.ui.progress($("#CompanyExpenseChart"), true);
                    }
                },
                requestEnd: function () {
                    kendo.ui.progress($("#CompanyExpenseChart"), false);
                },
                sort: {
                    field: "NepaliMonthInt",
                    dir: "asc"
                },
                group: {
                    field: "BranchName"
                },
                schema: {
                    parse: function (items) {
                        var item,
                            result = [];
                        var showzerovalue = $("#showzerovalue_monthlyBranchSales").prop("checked");

                        if (showzerovalue) {
                            for (var i = 0; i < items.length; i++) {
                                item = items[i];
                                result.push(item);
                            }
                        }
                        else {
                            for (var i = 0; i < items.length; i++) {
                                item = items[i];
                                if (item.Collection !== 0 && item.Sales !== 0) {
                                    result.push(item);
                                }
                            }
                        }
                        return result;
                    },
                }
            });
            // data-grid set option on ceate funciton
            $("#MonthlyCompanyExpenseChart .DisplayFilterContentCompanyExpense a").text("");

            //if (IsDataGrid == "Grid") {
            //    LoadDataGrid_MonthlyBranchSalesChartForCompanyExpense(dataSource);
            //    return;
            //}

            $("#CompanyExpenseChart").kendoChart({
                chartArea: {
                    height: ($("#MonthlyCompanyExpenseChart").hasClass("portlet-fullscreen")) ? 550 : 350,
                },
                onDrag: function (e) {
                    var chart = e.sender;
                    var ds = chart.dataSource;
                    var options = chart.options;
                    var categoryRange = e.axisRanges.CategoryAxis;
                    if (categoryRange) {
                        var xMin = categoryRange.min;
                        var xMax = categoryRange.max;

                        options.categoryAxis.min = xMin;
                        options.categoryAxis.max = xMax;

                        ds.filter(viewModel.getFilter(xMin, xMax));
                    }
                },
                pannable: {
                    lock: "y"
                },
                zoomable: {
                    mousewheel: {
                        lock: "y"
                    },
                    selection: {
                        lock: "y"
                    }
                },
                dataSource: dataSource,
                title: {
                },
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    type: $("input[name=seriesTypeCompanyExpense]:checked").val(),
                    style: "smooth",
                    labels: {
                        visible: $("#showlablesCompanyExpense").prop("checked"),
                        template: "#= FormatSeriesLabels(value)#"
                    },
                },
                valueAxis: {
                    line: {
                        visible: true
                    },
                    labels: {
                        rotation: 'auto',
                        template: "#= FormatSeriesLabels(value)#"
                    },
                    title: { text: amountFigureType }
                },
                series: [{
                    field: "Amount",
                    name: "#= group.value #"
                }],
                seriesColors: ["#f0f027","#428bca", "#da3b36", "#e67d4a", "#5bc0de", "#5cb85c", "#f2b661"],
                categoryAxis: {
                    field: catagoryAxisName_monthlyBranchSales,
                    labels: {
                        rotation: -45,
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0}",
                    template: "#= category #: \n #= FormatSeriesLabels(value)#"
                },
                dataBound: function (e) {
                     var maxValue = getMaxValueFromDataSource(e);
                    var majorunit = Math.max(6, maxValue / 6);
                    e.sender.options.valueAxis.majorUnit = majorunit;
                    e.sender.options.valueAxis.max = maxValue + majorunit;
                    e.sender.options.valueAxis.axisCrossingValue = [0, -(maxValue + majorunit)];
                    $("#CompanyExpenseChart").next(".overlay").toggle(maxValue <= 0);
                },
                seriesClick: function (e) {
                     ;
                    $('#MonthlyCompanyExpenseChart').find('.caption-subject').html("Branch Expense (daily)");
                    var dateformat = $("input[name=DateFormat_monthlyCompanyExpense]:checked").val();
                    if (e.dataItem.day != undefined)
                        return false;

                    //urlData = "?customerCode=&itemCode=&categoryCode=&companyCode=&branchCode=&partyTypeCode=&formCode="
                    var dataSourcetest = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: daywiseUrl + "?monthName=" + e.dataItem.NepaliMonthInt + "&branchName=" + e.dataItem.Branch_Code + urlData.replace('?', '&') + "&DateFormat=" + dateformat,
                                dataType: "json", // <-- The default was "jsonp".
                                type: "POST",
                                //contentType: "application/json; charset=utf-8"
                            },
                            parameterMap: function (options, type) {
                                var paramMap = JSON.stringify($.extend(options, reportFilter));
                                delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                                delete paramMap.$format; // <-- remove format parameter.
                                return paramMap;
                            }
                        },
                        requestStart: function () {
                            kendo.ui.progress($("#MonthlyCompanyExpenseChart"), true);
                        },
                        requestEnd: function () {
                            kendo.ui.progress($("#MonthlyCompanyExpenseChart"), false);
                        },
                        sort: {
                            field: "day",
                            dir: "asc"
                        },
                        group: {
                            field: "Acc_Edesc"
                        },
                    });

                    var chart = $("#CompanyExpenseChart").data("kendoChart");
                    //type = $("input[name=seriesTypeCompanyExpense]:checked").val(),

                    //for (var i = 0, length = chart.options.series.length; i < length; i++) {
                    //    chart.options.series[i].type = 'bar';
                    //};
                    chart.setOptions({
                        categoryAxis: {
                            field: "day",
                            labels: {
                                rotation: -45,
                            },
                            title: { text: e.category  }
                        },
                        tooltip: {
                            template: "day #= category #: \n #= FormatSeriesLabels(value)#"
                        },
                    });
                    // ;
                    //chart.options.categoryAxis = [{ visible: false }, { field: "day", labels: { rotation: -45, }, title: { text: e.category } }];
                    //chart.options.tooltip.template = "day #= category #: \n #= FormatLabels(value)#";

                  //  chart.options.series[0].field = "Quantity";
                    chart.setDataSource(dataSourcetest);
                    chart.refresh();
                },
            });
        }
        //Export 
        $(".export-pdf").click(function () {
            var chartid = $(this).data("id");
            var chart = $("#" + chartid).getKendoChart();
            var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
            chart.exportPDF({ paperSize: "auto", margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" } }).done(function (data) {
                kendo.saveAs({

                    dataURI: data,
                    fileName: filename + ".pdf",
                    proxyURL: "//demos.telerik.com/kendo-ui/service/export"
                });
            });
        });

        $(".export-img").click(function () {
            var chartid = $(this).data("id");
            var chart = $("#" + chartid).getKendoChart();
            var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
            chart.exportImage().done(function (data) {
                kendo.saveAs({
                    dataURI: data,
                    fileName: filename + ".png",
                    proxyURL: "//demos.telerik.com/kendo-ui/service/export",

                });
            });
        });

        $(".export-svg").click(function () {
            var chartid = $(this).data("id");
            var chart = $("#" + chartid).getKendoChart();
            var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
            chart.exportSVG().done(function (data) {
                kendo.saveAs({
                    dataURI: data,
                    fileName: filename + ".svg",
                    proxyURL: "//demos.telerik.com/kendo-ui/service/export"
                });
            });
        });

        function FormatSeriesLabels(value) {
            if (isNaN(value))
                value = 0;
            var decimalPlaces = 2;
            if (ReportFilter.filterAdditionalData().ReportFilters.AmountRoundUpFilter != "" && ReportFilter.filterAdditionalData().ReportFilters.AmountRoundUpFilter != undefined) {
                if (ReportFilter.filterAdditionalData().ReportFilters.AmountRoundUpFilter.split(".").length > 1)
                    decimalPlaces = ReportFilter.filterAdditionalData().ReportFilters.AmountRoundUpFilter.split(".")[1].length;
                else
                    decimalPlaces = 0;
            }

            if (ReportFilter.filterAdditionalData().ReportFilters.AmountFigureFilter == "Lakh") {
                value = (value / 100000).toFixed(decimalPlaces) + " L";
            } else if (ReportFilter.filterAdditionalData().ReportFilters.AmountFigureFilter == "Thousand") {
                value = (value / 1000).toFixed(decimalPlaces) + " K";
            }
            else if (ReportFilter.filterAdditionalData().ReportFilters.AmountFigureFilter == "Crore") {
                value = (value / 10000000).toFixed(decimalPlaces) + " C";
            }
            else {
                value = (value / 100000).toFixed(decimalPlaces) + " L";
            }
            return kendo.format("{0:n" + ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString() + "}", value);
        }
    </script>
</div>

