<style>
    .slimScrollBar {
        border-radius: 5px !important;
        background-color: #333 !important;
    }

    .slimScrollDiv, #customerMultiSelect {
        height: auto !important;
    }

    ul.dropdown-menu.custom {
        margin-top: 8px !important;
        border: none;
        box-shadow: none !important;
    }

    .dropdown-menu.custom:before {
        left: 58px !important;
    }

    .download-btn {
        margin: 0px !important;
        padding-top: -2px !important;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -5px !important;
        margin-left: 5px !important;
    }

    .dropdown-menu.custom {
        left: -27px !important;
        top: 20px !important;
    }

    .dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 30px;
        right: auto;
        display: inline-block !important;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        border-left: 8px solid transparent;
        content: '';
    }

    i.icon-arrow-down {
        color: #acacac;
    }

    .btn-group-custom button.btn {
        padding: 7px 7px !important;
        float: left;
    }

    .dropdown-menu.custom {
        left: -55px !important;
    }

    #topSalesDealer {
        font-size: 8px;
        /*margin: -15px;*/
    }

        #topSalesDealer thead, #SalesAnalysisgrid tbody {
            font-size: 8px !important;
        }

            #topSalesDealer thead th {
                text-align: center !important;
            }

        #topSalesDealer > tr {
            font-size: 8px;
        }

        #topSalesDealer > .k-grid-header, #topSalesDealer > .k-grid-content, #topSalesDealer > .k-grid-pager {
            border: 1px solid #c5c5c5;
        }
</style>

<div class="portlet portlet-sortable light bordered" id="topSalesDealer">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green-haze"></i>
            <span class="caption-subject bold uppercase font-green-haze custom-modal">Top Sales Dealer</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="collapse">
            </a>
            <a href="javascript:;" class="fullscreen">
            </a>
            <a href="javascript:;" class="remove">
            </a>          
</div>
    </div>
</div>

<script>    
    var url = window.location.protocol + "//" + window.location.host + "/Sales/SalesSummaryReport/topSalesDealer";   
    $.ajax({
        url: url,
        success: function (data) {            
             data = data.replace("fileMailSender.init();", "");
             data = data.replace("id=\"grid\"", "id=\"topSalesDealergrid\"");
             data = data.replace(/#grid/gi, "#topSalesDealergrid");
             data = data.replace("//height: window.innerHeight - 150,", "height: 380,");
             var node = $(data);            
             var html = node.find(".portlet > .portlet-body");
             html.find(".row").removeClass("row");
           
             $('#topSalesDealer').append(html);
             $('#topSalesDealer').append(node[8]);

             $("#topSalesDealer").find(".k-header.k-grid-toolbar").remove()
             $("#topSalesDealer").find(".k-grouping-header").remove();
         }
    });


   
</script>

