<div class="portlet portlet-sortable light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green-haze"></i>
            <span class="caption-subject bold uppercase font-green-haze">Category Charts</span>
            @*<span class="caption-helper">column and line mix</span>*@
        </div>
        <div class="tools">
            <a class="" data-toggle="collapse" data-target="#categoryCollapse" aria-expanded="false" aria-controls="monthlycollapse" href="javascript:;">
                <i class="icon-arrow-down"></i>
            </a>
            <a href="javascript:;" class="collapse">
            </a>
            <a href="#category-portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="javascript:;" class="reload" id="category-chart-reload" > @*data-url ="@Url.Action("CategoryChart", "SalesHome")"*@
            </a>
            <a href="javascript:;" class="fullscreen">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="modal fade" id="category-portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Category Chart Settings</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Select Chart</label>
                                    <div class="radio-list">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="charts.pieChart()"> pie chart
                                        </label>
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="charts.columnChart()"> column chart
                                        </label>
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="charts.barChart()"> bar chart
                                        </label>
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="charts.areaChart()"> area chart
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Select Graph Field</label>
                                    <select class="form-control" id="chart-type">
                                        <option value="Quantity">Quantity</option>
                                        <option value="Total" selected="selected">Total</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue">Save changes</button>
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div id="categoryCollapse">
            <div class="btn-group options" data-toggle="buttons">
                <button type="button" class="btn default yellow-stripe" onclick="charts.columnChart()">
                    <i class="fa fa-bar-chart"></i> <input id="typeColumn" name="seriesType"
                                                           type="radio" value="column" checked="checked" autocomplete="off" /> column
                </button>
                <button type="button" class="btn default blue-stripe" onclick="charts.pieChart()">
                    <i class="fa fa-bar-chart"></i> bar
                </button>

                <button type="button" class="btn default green-stripe" onclick="charts.pieChart()">
                    <i class="fa fa-pie-chart"></i>Pie
                </button>
                <button type="button" class="btn default yellow-stripe" onclick="charts.areaChart()">
                    <i class="fa fa-area-chart"></i>area
                </button>
            </div>
            <div class="pull-right options">
                <input id="showlables" type="checkbox" autocomplete="off" />
                <label for="showlables">Show Labels</label>
            </div>
        </div>
        <div id="chart_1" class="chart" style="width:100%">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        charts.init();
    });
</script>