@model NeoErp.sales.Module.Models.DashboardViewModel
    @{ 
        Layout = null;
    }

    @{

        var list = Model.chartList;
        var allchartlist = Model.AllchartList;
        if (list != null && list.Count > 0)
        {
            foreach (var item in list.Where(x=>x.EndsWith("FullScreen")))
            {
                string fullName = "_" + item;

                <div class="col-md-12 col-sm-12  column sortable">
                    @try
                    {
                        @Html.Partial(fullName)
                    }
                    catch { }
                    <div class="portlet portlet-sortable-empty"> </div>
                </div>
            }
            foreach (var item in list.Where(x => !x.EndsWith("FullScreen")))
            {
                string fullName = "_" + item;

                            <div class="col-md-6 col-sm-6  column sortable" > 
                                @try
                                {
                                    @Html.Partial(fullName)
                                }
                                catch { }
                                <div class="portlet portlet-sortable-empty"> </div>
                            </div>
            }

        }
        else if (allchartlist != null && allchartlist.Count > 0)
        {
            foreach (var item in allchartlist.Where(x => x.EndsWith("FullScreen")))
            {
                string fullName = "_" + item;

                <div class="col-md-12 col-sm-12  column sortable">
                    @try
                    {
                        @Html.Partial(fullName)
                    }
                    catch { }
                    <div class="portlet portlet-sortable-empty"> </div>
                </div>
            }
            foreach (string item in allchartlist.Where(x => !x.EndsWith("FullScreen")))
            {

                string fullName = "_" + item.Split('$')[0];
                <div class="col-md-6 col-sm-6  column sortable">
                    @try
                    {
                        @Html.Partial(fullName)
                    }
                    catch(Exception ex){
                       
                    }
                    <div class="portlet portlet-sortable-empty"> </div>
                </div>
            }
        }
        else
        {
            <script>
                $('div#divLoading').hide();
                $('#loadMore').hide();

            </script>
        }

    }








