
@using NeoErp.Core.Models;
@{
    var actionPageId = "ProfitAnalysisChartPartial";
}

<style>
    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
        margin-left: -10px !important;
    }

    ul.dropdown-menu.custom {
        margin-top: 8px !important;
        border: none;
        box-shadow: none !important;
    }

    .dropdown-menu.custom:before {
        left: 58px !important;
    }

    .download-btn {
        margin: 0px !important;
        padding-top: -2px !important;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -5px !important;
        margin-left: 5px !important;
    }

    .dropdown-menu.custom {
        left: -27px !important;
        top: 20px !important;
    }

    .dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 30px;
        right: auto;
        display: inline-block !important;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        border-left: 8px solid transparent;
        content: '';
    }

    i.icon-arrow-down {
        color: #acacac;
    }

    .btn-group-custom button.btn {
        padding: 7px 7px !important;
        float: left;
    }

    .dropdown-menu.custom {
        left: -55px !important;
    }

    .portlet.portlet-sortable {
        height: 600px;
    }
    /*#advance-filter{
        display:none;
        visibility:hidden;
    }*/
</style>
<div class="page-content">




    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row collapse in" id="demo">
        <div class="col-md-12">

            <div class="modal fade" id="monthly-ProfitAnalysisChart-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog custom-chart">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title"><span class="fa fa-bar-chart"></span> Monthly Profit Analysis</h4>
                        </div>
                        <div class="modal-body bottom-gappingtwo">

                            <div class="row">
                                <div class="monthlyProfit clearfix">
                                    <div class="col-md-12 btn-group monthly-profit-options responsivegap" data-toggle="buttons">
                                        <button type="button" class="btn btn-sm default red-stripe">
                                            <i class="fa fa-bar-chart"></i>
                                            <input id="typeColumn" name="seriesType_SalesCollection"
                                                   type="radio" value="column" checked="checked" autocomplete="off" />column
                                        </button>
                                        @*
                                            <button type="button" class="btn btn-sm default green-stripe ">
                                                <i class="fa fa-bar-chart"></i>
                                                <input id="typeBar" name="seriesType_SalesCollection"
                                                       type="radio" value="bar" autocomplete="off" />bar
                                            </button>*@
                                        @*<button type="button" class="btn btn-sm default purple-stripe">
                                                <i class="fa fa-line-chart"></i>
                                                <input id="typeLine" name="seriesType_SalesCollection"
                                                       type="radio" value="line" autocomplete="off" />Line
                                            </button>
                                            <button type="button" class="btn btn-sm default blue-stripe ">
                                                <i class="fa fa-area-chart"></i>
                                                <input id="typearea" name="seriesType_SalesCollection"
                                                       type="radio" value="area" autocomplete="off" />area
                                            </button>*@

                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <!-- show label & Stack option-->
                                        <div class="input-group gapspace">
                                            <div class="icheck-inline">
                                                <label>
                                                    <input id="showlables_ProfitAnalysisChart" type="checkbox" autocomplete="off" /> Show Labels
                                                </label>

                                                <label>
                                                    <input type="radio" id="ADFormat" name="DateFormat_ProfitAnalysisChart" checked="checked" value="AD" /> AD
                                                </label>
                                                <label>
                                                    <input type="radio" id="BSFormat" name="DateFormat_ProfitAnalysisChart" value="BS" /> BS
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="br"></div>
                            @*<div class="row">
                                    <div class="col-md-12">
                                        <div class="nogap">
                                            <h4>Advance Filter</h4>
                                        </div>
                                        @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                                   {
                                       ShowCustomerFilter = false,
                                       ShowProductFilter = false,
                                       ShowPartyTypeFilter = false,
                                       ShowCategoryFilter = false,
                                       ShowLocationFilter = false,
                                       ShowDocumentFilter = false,
                                       ShowCompanyFilter = false,
                                       ShowBranchFilter = true,
                                       IsPopUp = false,
                                       ActionPageId = actionPageId
                                   })
                                    </div>
                                </div>*@
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            @*<button type="button" class="btn green applydp" data-dismiss="modal" id="apply_@actionPageId">Apply</button>*@
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div id="advance-filter">
                <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
                    <div class="modal-dialog customwith">
                        <div class="modal-content">
                            <div class="modal-header">
                                @*<button id="loadAdvancedFilters2" onclick="$('#loadAdvancedFilters').trigger('click');" class="btn green left-btn-apply" data-dismiss="modal" type="button">Apply</button>*@
                                <button type="button" class="close right-dismis" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title" id="filterModalLabel">Item Search</h4>
                            </div>

                            <div class="modal-body sales-modal">
                                <div class="row form-inline">
                                    <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                        <select id="productMultiselect_ProfitAnalysisChart" multiple="multiple" style="width: 400px;"></select>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                <button type="button" class="btn green" id="loadAdvancedFilters" data-dismiss="modal">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet portlet-sortable  light bordered" id="ProfitAnalysisChartPartial">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-haze"></i>
                        <span class="caption-subject bold uppercase font-green-haze custom-modal">Monthly Profit Analysis</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle download-btn" title="Download" data-toggle="dropdown" href="#">
                                <i class="icon-arrow-down Firstcustom"></i>

                            </a>
                            <ul class="dropdown-menu custom Firstslidetoggle">
                                <div class="btn-group-custom">
                                    <button type="button" data-id="ProfitAnalysisChart" class="export-pdf btn default blue-stripe"><i class="fa fa-file-pdf-o"></i> PDF</button>
                                    <button type="button" data-id="ProfitAnalysisChart" class="export-img btn default red-stripe"><i class="fa fa-image-o"></i>Image</button>
                                    <button type="button" data-id="ProfitAnalysisChart" class="export-svg btn default green-stripe">SVG</button>
                                </div>
                            </ul>
                        </div>
                        <a href="#monthly-ProfitAnalysisChart-model" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="fullscreen">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="k-content wide">
                        <div id="ProfitAnalysisChart"></div>
                        <div class="AmountFigureType"></div>
                        <div class="DisplayFilterContent"><a href="#" data-toggle="tooltip" title=""></a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[title="Download"]').tooltip({
            trigger: 'hover'
        });
        $('.icon-arrow-down.Firstcustom').click(function () {
            $('.dropdown-menu.custom.Firstslidetoggle').slideToggle(200);
        });
    });
</script>
<script>
    function loadItemsByCategory(category) {
        var autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/SalesHome/GetSalesRegisterProductsByCategory?category=" + category;
        var autoCompletedataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: autoCompleteurl,
                    dataType: "json"
                }
            }
        });
        if ($("#productMultiselect_ProfitAnalysisChart").data("kendoMultiSelect") == null) //Create
        {
            $("#productMultiselect_ProfitAnalysisChart").kendoMultiSelect({
                dataSource: autoCompletedataSource,
                dataTextField: "ItemName",
                dataValueField: "ItemCode",
                height: 600,
                //scrollable: {
                //    virtual: true
                //},
                headerTemplate: '<div class="col-md-offset-4"><strong>Items...</strong></div>',
                //filter: "startswith",
                placeholder: "Select Items...",
                autoClose: false,
                //select: OnMultiSelect,
                dataBound: function () {
                    // var current = this.value();
                    // this._savedOld = current.slice(0);
                },
                // change: OnMultiSelectChange
            });
        }
        else // update
        {
            try { $("#productMultiselect_ProfitAnalysisChart").data("kendoMultiSelect").value([]); } catch (e) { }
            var multi = $("#productMultiselect_ProfitAnalysisChart").data("kendoMultiSelect");
            multi.setDataSource(autoCompletedataSource);
            // multi.dataSource.read();
            multi.refresh();
        }

    }
</script>
<script>
    var dataProvider = [];
    var a = {
        dataItem: {
            CategoryCode: "",
            MonthsName: "",
            category: ""
        }
    };
    var dataBounded_ProfitAnalysis = false;
    var series = [{
        field: "TotalProfitPer",
        name: "TotalProfit"
    }];
    var IsStack = true;
    var colors = ["#428bca", "#da3b36", "#e67d4a", "#5bc0de", "#5cb85c", "#f2b661"];

    $('#ProfitAnalysisChartPartial').closest('.portlet').find('.reload').click(function () {
        var urlData = "?customerCode=&itemCode=&categoryCode=&companyCode=&branchCode=" + branchCodes + "&partyTypeCode=&formCode=";
        createProfitAnalysisChart();
        // RefreshChartFilterControl('@actionPageId');
    });

    $('#ProfitAnalysisChartPartial').closest('.portlet').find('.fullscreen').click(function () {
        if ($(this).hasClass("on")) {
            $("#ProfitAnalysisChartPartial").data("kendoChart").options.chartArea.height = 350;
        }
        else {
            $("#ProfitAnalysisChartPartial").data("kendoChart").options.chartArea.height = 550;
        }
        $("#ProfitAnalysisChartPartial").data("kendoChart").dataSource.read();
        $("#ProfitAnalysisChartPartial").data("kendoChart").refresh();
    });
    $('#ProfitAnalysisChartPartial').closest('.portlet').find('.config').click(function () {
        $(this).closest('.portlet').css('zIndex', 10040);
    });

    $('#ProfitAnalysisChartPartial').closest('.portlet').find('.icon-arrow-down').click(function () {
        $(this).closest('.portlet').css('zIndex', 10040);
    });

    function shortLabels(value) {
        return kendo.toString((value / 100000000), "\\ #") + "k";
    }

    function createProfitAnalysisChart(urlData) {
        urlData = (urlData == undefined) ? "?customerCode=&itemCode=&categoryCode=&companyCode=&branchCode=" + branchCodes + "&partyTypeCode=&formCode=" : urlData;
        // var dateformat = $("input[name=DateFormat_SalesCollection]:checked").val();

        var mainUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetGPMonthWiseCategoryReport";
        //+ "?DateFormat=" + dateformat + urlData.replace('?', '&'),
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: mainUrl + "?format=" + $("input[name=DateFormat_ProfitAnalysisChart]:checked").val(),
                    dataType: "json", // <-- The default was "jsonp".
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                },
                parameterMap: function (options, type) {
                    var paramMap = JSON.stringify($.extend(options, ReportFilter.filterAdditionalData()));
                    delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                    delete paramMap.$format; // <-- remove format parameter.
                    return paramMap;
                }
            },
            group: {
                field: "CategoryName",
                dir: "asc"
            },
            sort: {
                field: "yearmonth",
                dir: "asc"
            }
        });
        dataProvider = dataSource;
        var chartSeries = [];
        $("#ProfitAnalysisChart .DisplayFilterContent a").text("");
        $("#ProfitAnalysisChart").kendoChart({
            chartArea: {
                height: 500
            },
            legend: {
                position: "bottom"
            },
            seriesDefaults: {
                type: $("input[name=seriesType_SalesCollection]:checked").val(),
                style: "smooth",
                labels: {
                    visible: $("#showlables_ProfitAnalysisChart").prop("checked"),
                    template: "#= FormatLabels(value)#",
                    rotation: '270',

                },
            },
            dataSource: dataSource,
            onDrag: function (e) {
                var chart = e.sender;
                var ds = chart.dataSource;
                var options = chart.options;

                var categoryRange = e.axisRanges.CategoryAxis;

                if (categoryRange) {
                    var xMin = categoryRange.min;
                    var xMax = categoryRange.max;
                    options.categoryAxis.min = xMin;
                    options.categoryAxis.max = xMax;
                    ds.filter(viewModel.getFilter(xMin, xMax));
                }
            },

            pannable: {
                lock: "y"
            },
            zoomable: {
                mousewheel: {
                    lock: "y"
                },
                selection: {
                    lock: "y"
                }
            },
            series: [{
                field: "TotalProfitPer",
                name: "#= group.value #"
            }],
            valueAxis: {
                majorUnit: 20,
                max: 100,
                min: -100,
                axisCrossingValue: [0, -1e6, -1e6],
                line: {
                    visible: true,
                },
                labels: {
                    template: "#= value #%"
                },
                title: { text: amountFigureType }
            },

            seriesColors: colors,
            categoryAxis: [
                {
                    visible: false
                }, {
                    field: "MonthsDisplayName",
                    labels: {
                        rotation: -45,
                    },

                }],
            tooltip: {
                visible: true,
                format: "{0}",
                template: "#= series.name #: \n #= FormatLabels(value) #",

            },
            seriesClick: function (e) {
                var isModalShow = true;
                if (e.dataItem.CategoryCode != null) {
                    a.dataItem.CategoryCode = e.dataItem.CategoryCode;
                    a.dataItem.MonthsName = e.dataItem.MonthsName;
                    a.dataItem.category = e.category == null ? e.dataItem.MonthsDisplayName : e.category;
                    if (isModalShow) {
                        loadItemsByCategory(e.dataItem.CategoryCode);
                        $("#filterModal").modal('show');
                        $('.k-list.k-reset').slimScroll({
                            railVisible: true,
                            alwaysVisible: true
                        });
                    } else {
                        var dayWiseUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetGPDayWiseItemReport";
                        var dataSourcetest = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: dayWiseUrl + "?categoryCode=" + a.dataItem.CategoryCode + "&month=" + a.dataItem.MonthsName,
                                    dataType: "json", // <-- The default was "jsonp".
                                    type: "POST",
                                    contentType: "application/json; charset=utf-8"
                                },
                                parameterMap: function (options, type) {
                                    var paramMap = JSON.stringify($.extend(options, reportFilter));
                                    delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                                    delete paramMap.$format; // <-- remove format parameter.
                                    return paramMap;
                                }
                            },
                            group: {
                                field: "ItemName",
                                dir: "asc"
                            },
                            sort: {
                                field: "Day",
                                dir: "asc"
                            }
                        });
                        var chart = $("#ProfitAnalysisChart").data("kendoChart");
                        chart.options.series[0].field = "Sales";
                        chart.setOptions({
                            seriesColors: ["#5cb85c", "#da3b36", "#e67d4a", "#5bc0de", "#428bca", "#f2b661"],
                            categoryAxis: [
                                {
                                    visible: false
                                }, {
                                    field: "Day",
                                    labels: {
                                        rotation: -45,
                                    },
                                    title: { text: a.dataItem.category }
                                }],
                            series: [{
                                field: "TotalProfitPer",
                                name: "#= group.value #"
                            }],
                            tooltip: {
                                template: "#= FormatLabels(value)#"
                            },
                        });
                        chart.setDataSource(dataSourcetest);
                        chart.refresh();
                    }

                }

            },

        });

    }



    $("#loadAdvancedFilters").on("click", function () {
        
        var reportFilter = ReportFilter.filterAdditionalData();
        reportFilter.ReportFilters.ProductFilter = $("#productMultiselect_ProfitAnalysisChart").data("kendoMultiSelect").value();
        var dayWiseUrl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetGPDayWiseItemReport";
        var dataSourcetest = new kendo.data.DataSource({
            transport: {
                read: {
                    url: dayWiseUrl + "?categoryCode=" + a.dataItem.CategoryCode + "&month=" + a.dataItem.MonthsName,
                    dataType: "json", // <-- The default was "jsonp".
                    type: "POST",
                    contentType: "application/json; charset=utf-8"
                },
                parameterMap: function (options, type) {
                    var paramMap = JSON.stringify($.extend(options, reportFilter));
                    delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                    delete paramMap.$format; // <-- remove format parameter.
                    return paramMap;
                }
            },
            group: {
                field: "ItemName",
                dir: "asc"
            },
            sort: {
                field: "Day",
                dir: "asc"
            }
        });
        var chart = $("#ProfitAnalysisChart").data("kendoChart");
        chart.options.series[0].field = "Sales";
        chart.setOptions({
            seriesColors: ["#5cb85c", "#da3b36", "#e67d4a", "#5bc0de", "#428bca", "#f2b661"],
            categoryAxis: [
                {
                    visible: false,
                },
                {
                    field: "Day",
                    labels: {
                        rotation: -45,
                    },
                    title: { text: a.dataItem.category }
                }],
            series: [{
                field: "TotalProfitPer",
                name: "#= group.value #"
            }],
            tooltip: {
                visible: true,
                template: "#= FormatLabels(value)#"
            },
        });
        chart.setDataSource(dataSourcetest);
        chart.refresh();
    });
    function refreshProfitAnalysisChart() {
        var chart = $("#ProfitAnalysisChart").data("kendoChart"),
            type = $("input[name=seriesType_SalesCollection]:checked").val(),
            IsShowLevel = $("#showlables_ProfitAnalysisChart").prop("checked");


        for (var i = 0, length = series.length; i < length; i++) {
            series[i].type = type;
        };

        if (type == "bar") {
            chart.setOptions({
                series: series,
                valueAxis: {
                    labels: {
                        rotation: -45
                    }
                },
            });
        }
        else {
            chart.setOptions({
                series: series,
            });
        }

        for (var i = 0, length = chart.options.series.length; i < length; i++) {
            chart.options.series[i].labels.visible = IsShowLevel;
            if (type == "column") {
                chart.options.series[i].labels.rotation = -90;
            }
            if (type == "bar") {
                chart.options.series[i].labels.rotation = 0;
            }
        };





        chart.refresh();
        //chart.tooltip.template = "#= category #: \n #= value#";
    }

    $('#apply_@actionPageId').click(function () {
        ChartFilter('@actionPageId', "createProfitAnalysisChart");
    });

    $(document).ready(function () {
        createProfitAnalysisChart();
        $(document).bind("kendo:skinChange", createProfitAnalysisChart);
        $(".monthly-profit-options").bind("change", refreshProfitAnalysisChart);
        $("#showlables_ProfitAnalysisChart").bind("change", refreshProfitAnalysisChart);


    });

    //$("#productMultiselect_ProfitAnalysisChart-list").slimScroll({
    //    //height: '140px',
    //    railVisible: true,
    //    railColor: '#c5c5c5',

    //});


</script>
<script>
    $("input[name=DateFormat_ProfitAnalysisChart]").on('change', function () {
        createProfitAnalysisChart();
    })

    $(".export-pdf").click(function () {
        var chartid = $(this).data("id");
        var chart = $("#" + chartid).getKendoChart();
        var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
        chart.exportPDF({ paperSize: "auto", margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" } }).done(function (data) {
            kendo.saveAs({

                dataURI: data,
                fileName: filename + ".pdf",
                proxyURL: "//demos.telerik.com/kendo-ui/service/export"
            });
        });
    });

    $(".export-img").click(function () {
        var chartid = $(this).data("id");
        var chart = $("#" + chartid).getKendoChart();
        var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
        chart.exportImage().done(function (data) {
            kendo.saveAs({
                dataURI: data,
                fileName: filename + ".png",
                proxyURL: "//demos.telerik.com/kendo-ui/service/export",

            });
        });
    });

    $(".export-svg").click(function () {
        var chartid = $(this).data("id");
        var chart = $("#" + chartid).getKendoChart();
        var filename = $(this).closest(".portlet-title").find(".custom-modal").html();
        chart.exportSVG().done(function (data) {
            kendo.saveAs({
                dataURI: data,
                fileName: filename + ".svg",
                proxyURL: "//demos.telerik.com/kendo-ui/service/export"
            });
        });
    });


</script>
