
<div class="page-content">





                    <div id="autorefreshDiv">

                    </div>
                    
    </div>
                   
                    <script>
                        $(document).ready(function () {
                            var $container = $("#autorefreshDiv");
                            $container.load("sales/SalesHome/SalesProcessingMoniter");

                        });

                        //var $container = $("#autorefreshDiv");
                        //var refreshId = setInterval(function () {
                        //    $container.load('sales/SalesHome/SalesProcessingMoniter');
                        //}, 9000);
                    </script>


