@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tab-panel">

    <!-- Nav tabs -->
    <ul class="nav">
        <li ><a href="#home" aria-controls="home" >Add</a></li>
        <li ><a href="#profile" aria-controls="profile" >Edit</a></li>
        <li ><a href="#messages" aria-controls="messages" >Delete</a></li>
        <li ><a href="#settings" aria-controls="settings" >Permissions</a></li>
    </ul>

</div>

<div class="col-md-4">
    <div class="tree">
        <ul>
            <li>
                <span><i class="fa fa-folder-open"></i></span> <p>Parent</p>
                <ul>
                    <li>
                        <span><i class="fa fa-minus"></i></span> <p>Parent</p>
                        <ul>
                            <li>
                                <p>Parent</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span><i class="fa fa-minus"></i> </span> <p>Parent</p>
                        <ul>
                            <li>
                                <p>Parent</p>
                            </li>
                            <li>
                                <span><i class="fa fa-minus"></i></span> <p>Parent</p>
                                <ul>
                                    <li>
                                        <span><i class="fa fa-minus"></i></span> <p>Children</p>
                                        <ul>
                                            <li>
                                                <p>Children</p>
                                            </li>
                                            <li>
                                                <p>Children</p>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p>Children</p>
                                    </li>
                                    <li>
                                        <p>Children</p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p>Children</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span><i class="fa fa-folder-open"></i> </span> <p>Parent 2</p>
                <ul>
                    <li>
                        <p>Children</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-8">
    <div class="tree-desc">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    Parent
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="tree-desc-content">
                        <ul>
                            <li>
                                <div class="sy-fix-title col-md-4">Short Name :</div>
                                <div class="sy-dyn-material col-md-8">Structure</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="panel panel-default">
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="tab-pane" id="home">...</div>
                    <div class="tab-pane" id="profile">...</div>
                    <div class="tab-pane" id="messages">...</div>
                    <div class="tab-pane" id="settings">...</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(".tree ul li p").click(function (e) {
        e.preventDefault();

        $(".tree-desc").toggle("active");
    });

    $(document).ready(function () {
        $('.tab-panel .nav li > a').on('click', function (e) {
            var children = $(this).parent('.tab-content').find(' div');
            $(".tab-content").show();
        });
    });

</script>

