
@{
    ViewBag.Title = "Consumption Issue";
    //Layout = "~/Views/Shared/_LayoutNew.cshtml";

}
<style>
    /*.page-content-wrapper .page-content {
        margin-left: 0px;
    }*/

    .k-list.k-reset {
        overflow: scroll;
    }

    .issueoption {
        height: 27.69px !important;
        padding: 0px 3px;
    }
</style>
<style>
    .k-state-hover, .k-state-hover:hover > .k-state-hover, ul li.k-state-hover, .k-link:hover, .k-state-focused > .k-state-focused, .k-state-focused {
        color: white !important;
        background-color: green !important;
        border-color: #bcb4b0;
    }

    .customeHeading span {
        /*// padding: 5px 119px 0px 0px;*/
        display: inline-block;
        /* margin-right: 10px !important; */
    }

    .width10 {
        width: 10%;
    }

    .width15 {
        width: 15%;
    }

    .width20 {
        width: 20%;
    }

    .width25 {
        width: 25%;
    }

    .customedata span {
        /*padding: 5px 119px 0px 0px;*/
        /*width:250px;*/
        display: inline-block;
        /* margin-right: 10px !important; */
    }

    #search, #searchUser, #searchDepartment, #searchLocation, #searchProduct, #searchCostcenter {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        /*background-color: rgba(192, 211, 111, 0.72);*/
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-transform: translate(0px, -100%) scale(0, 0);
        -moz-transform: translate(0px, -100%) scale(0, 0);
        -o-transform: translate(0px, -100%) scale(0, 0);
        -ms-transform: translate(0px, -100%) scale(0, 0);
        transform: translate(0px, -100%) scale(0, 0);
        opacity: 0;
    }

        #search.open, #searchUser.open, #searchDepartment.open, #searchLocation.open, #searchProduct.open, #searchCostcenter.open {
            -webkit-transform: translate(0px, 0px) scale(1, 1);
            -moz-transform: translate(0px, 0px) scale(1, 1);
            -o-transform: translate(0px, 0px) scale(1, 1);
            -ms-transform: translate(0px, 0px) scale(1, 1);
            transform: translate(0px, 0px) scale(1, 1);
            opacity: 1;
            z-index: 5000 !important;
            /*// transform: translate(0px, -100%) scale(0, 0);*/
        }

        #search input[type="search"], #searchUser input[type="search"], #searchDepartment input[type="search"], #searchLocation input[type="search"], #searchProduct input[type="search"], #searchCostcenter input[type="search"] {
            /*position: absolute;*/
            top: 50%;
            width: 100%;
            color: rgb(255, 255, 255);
            background: rgba(0, 0, 0, 0);
            font-size: 40px;
            font-weight: 300;
            text-align: center;
            border: 0px;
            margin: 0px auto;
            margin-top: -51px;
            padding-left: 30px;
            padding-right: 30px;
            outline: none;
        }

        #search .btn, #searchUser .btn, #searchDepartment .btn, #searchLocation .btn, #searchProduct .btn, #searchCostcenter .btn {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: 61px;
            margin-left: -45px;
        }

        #search .search-close, #searchUser .search-close, #searchDepartment .search-close, #searchLocation .search-close, #searchProduct .search-close, #searchCostcenter .search-close {
            background-color: green;
            border-color: green;
            font-size: 21px;
            /*opacity: 1;*/
            padding: 0px 8px;
            position: fixed;
            right: 15px;
            top: 54px;
            color: #fff;
            border: solid green;
        }

    .search-input a {
        display: inline-table;
    }

    .search-icon {
        color: #555555;
    }

    .autocompleteclass {
        /*// top:100px;*/
        /*position: absolute;*/
        top: 15%;
        width: 100%;
        color: rgb(255, 255, 255) !important;
        background: rgba(0, 0, 0, 0) !important;
        font-size: 40px;
        font-weight: 500 !important;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }

    .k-list.k-reset {
        /* max-height: 250px; */
        /* overflow: hidden; */
        max-height: 500px !important;
    }

    .k-item {
        /*// float:left;*/
        font-size: 13px;
    }

    .search-icon i:hover {
        color: forestgreen;
    }

    .highlight {
        background-color: #fff34d;
        -moz-border-radius: 5px; /* FF1+ */
        -webkit-border-radius: 5px; /* Saf3-4 */
        border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
    }

    .highlight {
        padding: 1px 4px;
        margin: 0 -4px;
    }

    #operationContent, input {
        height: 27.69px;
    }
    .has-error>input{
        border-color:#a94442;
    }
    input:active, input:focus{
        border-color:#ffd800;
    }
    .btn:active, .btn:focus, 
    .green.btn:active, .green.btn:focus,
    a.btn:active, a.btn:focus{
        border-color:#ffd800;
        background-color:#b4b645;
    }

    
</style>
<div class="col-md-12">
    <div ng-app="transactionModule">
        <div ng-controller="transactionCtrl">
            <div class="page-content-wrapper transaction" id="operationContent">
                <form name="consumptionForm" novalidate ng-submit="SaveConsumptionIssue(consumptionForm,consumptionForm.$valid)">
                    <div class="page-content1 consumpiton_issue" style="margin-left:0px;">
                        <div class="portlet light bordered clearfix">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject font-green bold uppercase text-center" style="text-align:center">
                                        <i class="fa fa-list-alt"></i>
                                        Consumption Issue
                                    </span>
                                </div>
                                <span class="pull-right">
                                    <button type="button" id="ResetComsumptionIssue" ng-click="ResetConsumptionIssue(consumptionForm)" class="btn btn-sm btn-default">Reset</button>
                                    <button type="submit" id="SaveComsumptionIssue" class="btn btn-sm green">Save</button>
                                </span>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="k-content" ng-class="{ 'has-error': consumptionForm.IssueNo.$touched && consumptionForm.IssueNo.$invalid}">
                                            <label for="IssueNo" class="col-md-4 control-label">Issue No.</label>
                                            <div class="col-md-8">
                                                <input type="text" id="IssueNo" name="IssueNo" data-ng-model="consumption.issueId" class="k-textbox" style="width:100%;margin-bottom:3px" required />
                                                <div class="help-block" ng-messages="consumptionForm.IssueNo.$error"
                                                     ng-if="consumptionForm.IssueNo.$touched">
                                                    <p ng-message="required">Issue No. is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-content">
                                            <label for="UserId" class="col-md-4 control-label">User Id</label>
                                            <div class="col-md-8" ng-class="{ 'has-error': consumptionForm.usertemptext.$touched && consumptionForm.usertemptext.$invalid}">
                                                <input id="usertemptext" name="usertemptext" value="" ng-model="usertemp" style="width:100%;" placeholder="User Search.." class="k-textbox" autofocus required />
                                                <div class="help-block" ng-messages="consumptionForm.usertemptext.$error"
                                                     ng-if="consumptionForm.usertemptext.$dirty">
                                                    <p ng-message="required">User Name is required.</p>
                                                </div>
                                            </div>
                                            <div id="searchUser">
                                                <input class="autocompleteclass usersearch" type="search" kendo-auto-complete k-on-select="CustomerChanged(kendoEvent)"
                                                       k-options="selectedCustomerOptions"
                                                       k-ng-modal="consumption.userId" style="width:100%" />
                                                <button type="button" class="search-close">×</button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="k-content">
                                            <label for="Department" class="col-md-4 control-label">Department</label>
                                            <div class="col-md-8" ng-class="{ 'has-error': consumptionForm.departmenttemptext.$touched && consumptionForm.departmenttemptext.$invalid}">
                                                <input id="departmenttemptext" value="" name="departmenttemptext" ng-model="departmenttemp" style="width:100%;" placeholder="Department Search.." class="k-textbox" required />
                                                <div class="help-block" ng-messages="consumptionForm.departmenttemptext.$error"
                                                     ng-if="consumptionForm.departmenttemptext.$touched">
                                                    <p ng-message="required">Department is required.</p>
                                                </div>
                                            </div>
                                            <div id="searchDepartment">
                                                <input class="autocompleteclass searchDepartment" type="search" kendo-auto-complete k-on-select="DepartmentChanged(kendoEvent)"
                                                       k-options="selectedDepartmentOptions"
                                                       k-ng-modal="consumption.departmentId" style="width:100%" />
                                                <button type="button" class="search-close">×</button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="k-content">
                                            <label for="MannualNo" class="col-md-4 control-label">Mannual No.</label>
                                            <div class="col-md-8" ng-class="{ 'has-error': consumptionForm.MannualNo.$touched && consumptionForm.MannualNo.$invalid}">
                                                <input type="text" id="MannualNo" name="MannualNo" data-ng-model="consumption.mannualNo" ng-keyup="validateMannualNo()" class="k-textbox" style="width:100%;margin-bottom:3px" required />
                                                <div class="help-block" ng-messages="consumptionForm.MannualNo.$error"
                                                     ng-if="consumptionForm.MannualNo.$touched">
                                                    <p ng-message="required">Mannual No. is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-content">
                                            <label for="Employee" class="col-md-4">Employee</label>
                                            <div class="col-md-8" ng-class="{ 'has-error': consumptionForm.txtEmployee.$touched && consumptionForm.txtEmployee.$invalid}">
                                                <input id="txtEmployee" name="txtEmployee" value="" ng-model="employeetemp" style="width:100%;" placeholder="Employee Search.." class="k-textbox" required />
                                                <div class="help-block" ng-messages="consumptionForm.txtEmployee.$error"
                                                     ng-if="consumptionForm.txtEmployee.$touched">
                                                    <p ng-message="required">Employee is required.</p>
                                                </div>
                                            </div>
                                            <div id="search">
                                                <input class="autocompleteclass employeesearch" type="search" kendo-auto-complete k-on-select="EmployeChanged(kendoEvent)"
                                                       k-options="selectedEmployeeOptions"
                                                       k-ng-modal="selectedEmployeeId" style="width:100%" />
                                                <button type="button" class="search-close">×</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="k-content">
                                            <label for="Date" class="col-md-3">Date</label>
                                            <div class="col-md-9" ng-class="{ 'has-error': consumptionForm.Date.$touched && consumptionForm.Date.$invalid}">
                                                <input type="text" id="Date" name="Date" class="k-textbox"
                                                       data-ng-model="consumption.date"
                                                       ng-change="refreshDate()"
                                                       style="width:100%; margin-bottom:3px;" required />
                                                <div class="help-block" ng-messages="consumptionForm.Date.$error"
                                                     ng-if="consumptionForm.Date.$touched">
                                                    <p ng-message="required">Date is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-content">
                                            <label for="Miti" class="col-md-3">Miti</label>
                                            <div class="col-md-9">
                                                <input type="text" id="Miti" name="Miti"
                                                       class="k-textbox"
                                                       data-ng-model="consumption.miti"
                                                       style="width:100%; margin-bottom:3px;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="table-responsive">
                                      <table class="table table-bordered ConsumptionIssueTable k-content  setuptable" id="ConsumptionIssueTable">
                                               
                                                <thead class="table-info font-green">
                                                    <tr>
                                                        <th width="70px;">S.No.</th>
                                                        <th width="100px;">From Location</th>
                                                        <th width="100px;">Product Description</th>
                                                        <th width="80px;">Unit</th>
                                                        <th width="135px;">Quantity</th>
                                                        <th width="100px;">Rate</th>
                                                        <th width="80px;">Amount</th>
                                                        <th width="100px;">Cost Center</th>
                                                        <th width="40px">Remark</th>
                                                        <th width="40px">
                                                            <a href="javascript:void(0)" ng:click="addIssue()" class="btn btn-xs btn-success pull-right">
                                                                [<i class="fa fa-plus"></i>] Add
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng:repeat="issue in consumption.issues">
                                                        <td><label ng:model="issue.sn" class="input-mini">{{issue.sn}}</label></td>
                                                        <td width="70px" ng-class="{ 'has-error': consumptionForm.locationtemptext.$touched && consumptionForm.locationtemptext.$invalid}">
                                                            <input id="locationtemptext" name="locationtemptext" class="locationtemptext k-textbox" value="" ng-model="issue.locationtemp" style="width:100%;" placeholder="Location Search.." required />
                                                            <div class="help-block" ng-messages="consumptionForm.locationtemptext.$error"
                                                                 ng-if="consumptionForm.locationtemptext.$touched">
                                                                <p ng-message="required">Location is required.</p>
                                                            </div>
                                                            <div id="searchLocation" class="searchLocation">
                                                                <input class="autocompleteclass locationSearch" type="search" kendo-auto-complete k-on-select="LocationChanged(kendoEvent,$index)"
                                                                       k-options="selectedLocationOptions"
                                                                       k-ng-modal="issue.fromLocation" style="width:100%" />
                                                                <button type="button" class="search-close">×</button>
                                                            </div>
                                                        </td>
                                                        <td width="100px" ng-class="{ 'has-error': consumptionForm.producttemptext.$touched && consumptionForm.producttemptext.$invalid}">
                                                            <input id="producttemptext" name="producttemptext" class="producttemptext k-textbox" value="" ng-model="issue.producttemp" style="width:100%;" placeholder="Product Search.." required />
                                                            <div class="help-block" ng-messages="consumptionForm.producttemptext.$error"
                                                                 ng-if="consumptionForm.producttemptext.$touched">
                                                                <p ng-message="required">Prduct/Item is required.</p>
                                                            </div>
                                                            <div id="searchProduct" class="searchProduct">
                                                                <input class="autocompleteclass searchProduct" type="search" kendo-auto-complete k-on-select="ProductsChanged(kendoEvent,$index)"
                                                                       k-options="selectedProductOptions"
                                                                       k-ng-modal="issue.productDescription" style="width:100%" />
                                                                <button type="button" class="search-close">×</button>
                                                            </div>
                                                        </td>
                                                        <td ng-class="{ 'has-error': consumptionForm.unit.$touched && consumptionForm.unit.$invalid}">
                                                            <input type="text" name="unit" ng:model="issue.unit" ng:required class="k-textbox" style="width:50px" required>
                                                            <div class="help-block" ng-messages="consumptionForm.unit.$error"
                                                                 ng-if="consumptionForm.unit.$touched">
                                                                <p ng-message="required">Unit is required.</p>
                                                            </div>
                                                        </td>
                                                        <td ng-class="{ 'has-error': consumptionForm.quantity.$touched && consumptionForm.quantity.$invalid}">
                                                            <input type="text" name="quantity" ng:model="issue.quantity" ng:required class="k-textbox" style="width:50px" required>
                                                            <div class="help-block" ng-messages="consumptionForm.quantity.$error"
                                                                 ng-if="consumptionForm.quantity.$touched">
                                                                <p ng-message="required">Quantity is required.</p>
                                                            </div>
                                                        </td>
                                                        <td ng-class="{ 'has-error': consumptionForm.rate.$touched && consumptionForm.rate.$invalid}">
                                                            <input type="text" name="rate" ng:model="issue.rate" ng:required class="k-textbox"
                                                                   style="width:50px" required>
                                                            <div class="help-block" ng-messages="consumptionForm.rate.$error"
                                                                 ng-if="consumptionForm.rate.$touched">
                                                                <p ng-message="required">Rate is required.</p>
                                                            </div>
                                                        </td>
                                                        <td width="135"><label data-ng-model="issue.amount">{{issue.amount = issue.quantity * issue.rate}}</label></td>
                                                        <td width="100px" ng-class="{ 'has-error': consumptionForm.costcentertemptext.$touched && consumptionForm.costcentertemptext.$invalid}">
                                                            <input id="costcentertemptext" name="costcentertemptext" class="costcentertemptext k-textbox" value="" ng-model="issue.costcentertemp" style="width:100%;" placeholder="Cost Center Search.." />
                                                            <div class="help-block" ng-messages="consumptionForm.costcentertemptext.$error"
                                                                 ng-if="consumptionForm.costcentertemptext.$touched">
                                                                <p ng-message="required">Cost Center is required.</p>
                                                            </div>
                                                            <div id="searchCostcenter" class="searchCostcenter">
                                                                <input class="autocompleteclass searchCostcenter" type="search" kendo-auto-complete k-on-select="CostCenterChanged(kendoEvent,$index)"
                                                                       k-options="selectedCostCenterOptions"
                                                                       k-ng-modal="issue.costCenter" style="width:100%" />
                                                                <button type="button" class="search-close">×</button>
                                                            </div>
                                                        </td>
                                                        <td width="135px"><input type="text" ng:model="issue.remark" ng:required class="k-textbox" style="width:100%"></td>
                                                        <td width="50px">
                                                            [<a href="javascript:void(0)" ng:click="removeIssue($index)">X</a>]
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <table class="table table-hover table-bordered">
                                            <thead class="font-green">
                                                <tr>
                                                    <td colspan="2">Stock Info..</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="2">
                                                        colsing stock
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <table class="table table-bordered detailsbox">
                                            <thead class="font-green">
                                                <tr>
                                                    <th colspan="2">Amount Summary</th>
                                                    <th colspan="2">Unit Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="2">Product Total</td>
                                                    <td>Total PCS</td>
                                                    <td>{{getTotalPCS()}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Additional</td>
                                                    <td>{{getAdditional()}}</td>
                                                    <td>Total KG</td>
                                                    <td>{{getTotalKGS()}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Deduction</td>
                                                    <td>{{getDeduction()}}</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Grand Total</td>
                                                    <td>{{granTotal()}}</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-footer pull-right">
                                <button type="button" id="ResetComsumptionIssue" ng-click="ResetConsumptionIssue(consumptionForm)" class="btn btn-sm btn-default">Reset</button>
                                <button type="submit" id="SaveComsumptionIssue" class="btn btn-sm green">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script id="employeetemplate" type="text/x-kendo-template">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Employee Code</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Email</td>
                    <td>PhoneNo</td>
                    <td>Citizen No</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        #: EMPLOYEE_CODE #
                    </td>
                    <td>
                        #: EMPLOYEE_EDESC #
                    </td>
                    <td>
                        #: EPERMANENT_ADDRESS1 #
                    </td>
                    <td>
                        #: EMAIL #
                    </td>
                    <td>
                        #: MOBILE #
                    </td>
                    <td>
                        #: CITIZENSHIP_NO #
                    </td>
                </tr>
            </tbody>
        </table>

    </script>
</div>
@section Scripts{
<script src="~/Scripts/angular-mocks.js"></script>
@*
<script src="~/Scripts/angular-messages.min.js"></script>*@
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
<script src="~/Content/Kendo/kendoAllNew.js"></script>
<script src="~/Areas/NeoErp.Transaction/scripts/mindmup-editabletable.js"></script>
<script src="~/Areas/NeoErp.Transaction/scripts/transaction.js?v12"></script>
<script>
    //$('#ConsumptionIssueTable').editableTableWidget();
    $(document).ready(function () {
        current_date = getNepaliDate();
        $("input[name=Miti]").val(current_date);
    })
    $("input[name=Date]").datepicker({
        dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        onSelect: function () {
            $("#Miti").val(AD2BS($('#Date').val()));
        }
    });
    $("input[name=Miti]").nepaliDatePicker({
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        onChange: function () {
            $("#Date").val(BS2AD($('#Miti').val()));
        }
    });

    $("input[name=Miti]").on('keydown', function () {
        $("div#ndp-nepali-box").hide();
    })

</script>


<script>

    $(function () {
        // for UserId search search usertemptext
        $('#usertemptext').on('click', function (event) {
            event.preventDefault();
            $('#searchUser').addClass('open');
            $(".autocompleteclass.usersearch").focus();
        });
        $('#usertemptext').on('keyup', function (event) {
            event.preventDefault();
            $('#searchUser').addClass('open');
            $(".autocompleteclass.usersearch").focus();
        });
        $('#searchUser, #searchUser button.search-close').on('click keyup', function (event) {
            if (event.target == this || event.target.className == 'search-close' || event.keyCode == 27) {
                $(this).removeClass('open');
            }
        });

        // for Department search
        $('#departmenttemptext').on('click', function (event) {
            event.preventDefault();
            $('#searchDepartment').addClass('open');
            $(".autocompleteclass.searchDepartment").focus();
        });
        $('#departmenttemptext').on('keyup', function (event) {
            event.preventDefault();
            $('#searchDepartment').addClass('open');
            $(".autocompleteclass.searchDepartment").focus();
        });
        $('#searchDepartment, #searchDepartment button.search-close').on('click keyup', function (event) {
            if (event.target == this || event.target.className == 'search-close' || event.keyCode == 27) {
                $(this).removeClass('open');
            }
        });

        // for employee search
        $('#txtEmployee').on('click', function (event) {
            event.preventDefault();
            $('#search').addClass('open');
            $(".autocompleteclass.employeesearch").focus();
        });
        $('#txtEmployee').on('keyup', function (event) {
            event.preventDefault();
            $('#search').addClass('open');
            $(".autocompleteclass.employeesearch").focus();
        });
        $('#search, #search button.search-close').on('click keyup', function (event) {
            if (event.target == this || event.target.className == 'search-close' || event.keyCode == 27) {
                $(this).removeClass('open');
            }
        });

        // for Location search
        $('.locationtemptext').live('click', function (event) {
            event.preventDefault();
            $(this).closest('td').find('div').addClass('open');
            $('.autocompleteclass.locationSearch').find('input').focus();
        });
        $('.locationtemptext').live('keyup', function (event) {
            event.preventDefault();
            $(this).closest('td').find('div').addClass('open');
            $('.autocompleteclass.locationSearch').focus();
        });
        $('.searchLocation, .locationSearch button.search-close').live('click keyup', function (event) {
            if (event.target == $(this).find('input') || event.target.className == 'search-close' || event.keyCode == 27) {
                $(this).removeClass('open');
            }
        });

        // for Product search
        $('.producttemptext').live('click', function (event) {
            event.preventDefault();
            $(this).closest('td').find('div').addClass('open');
            $(this).closest('td').find('div').find('input').focus();
        });
        $('.producttemptext').live('keyup', function (event) {
            event.preventDefault();
            $(this).closest('td').find('div').addClass('open');
            $(this).closest('td').find('div').find('input').focus();
        });
        $('#searchProduct, #searchProduct button.search-close').live('click keyup', function (event) {
            if (event.target == this || event.target.className == 'search-close' || event.keyCode == 27) {
                $(this).removeClass('open');
            }
        });

        // for Cost center search
        $('.costcentertemptext').live('click', function (event) {
            event.preventDefault();
            $(this).closest('td').find('div').addClass('open');
            $(this).closest('td').find('div').find('input').focus();
        });
        $('.costcentertemptext').live('keyup', function (event) {
            event.preventDefault();
            $(this).closest('td').find('div').addClass('open');
            $(this).closest('td').find('div').find('input').focus();
        });
        $('#searchCostcenter, #searchCostcenter button.search-close').live('click keyup', function (event) {
            if (event.target == this || event.target.className == 'search-close' || event.keyCode == 27) {
                $(this).removeClass('open');
            }
        });

        //---------------------------------------------------------------------
        $('.autocompleteclass').bind('keyup change', function (ev) {
            // pull in the new value
            var searchTerm = $(this).val();

            // disable highlighting if empty
            if (searchTerm) {
                // highlight the new term
                //   $('.customedata').highlight(searchTerm);
            }
        });


    });
    jQuery.fn.highlight = function (pat) {
        function innerHighlight(node, pat) {
            console.log(pat);
            var skip = 0;
            if (node.nodeType == 3) {
                var pos = node.data.toUpperCase().indexOf(pat);
                if (pos >= 0) {
                    var spannode = document.createElement('span');
                    spannode.className = 'highlight';
                    var middlebit = node.splitText(pos);
                    var endbit = middlebit.splitText(pat.length);
                    var middleclone = middlebit.cloneNode(true);
                    spannode.appendChild(middleclone);
                    middlebit.parentNode.replaceChild(spannode, middlebit);
                    skip = 1;
                }
            }
            else if (node.nodeType == 1 && node.childNodes && !/(script|style)/i.test(node.tagName)) {
                for (var i = 0; i < node.childNodes.length; ++i) {
                    i += innerHighlight(node.childNodes[i], pat);
                }
            }
            return skip;
        }
        return this.each(function () {
            innerHighlight(this, pat.toUpperCase());
        });
    };

    jQuery.fn.removeHighlight = function () {
        function newNormalize(node) {
            for (var i = 0, children = node.childNodes, nodeCount = children.length; i < nodeCount; i++) {
                var child = children[i];
                if (child.nodeType == 1) {
                    newNormalize(child);
                    continue;
                }
                if (child.nodeType != 3) { continue; }
                var next = child.nextSibling;
                if (next == null || next.nodeType != 3) { continue; }
                var combined_text = child.nodeValue + next.nodeValue;
                new_node = node.ownerDocument.createTextNode(combined_text);
                node.insertBefore(new_node, child);
                node.removeChild(child);
                node.removeChild(next);
                i--;
                nodeCount--;
            }
        }

        return this.find("span.highlight").each(function () {
            var thisParent = this.parentNode;
            thisParent.replaceChild(this.firstChild, this);
            newNormalize(thisParent);
        }).end();
    };

</script>
}

