
<div id="budgetCtrl" ng-controller="budgetCtrl">
    <label for="element">{{element.COLUMN_HEADER}}</label>
    <input id="budget" ng-model="masterModels[element.COLUMN_NAME]" name="budget" class="budget" style="width: 98%;" kendo-combo-box
           k-placeholder="'Select Budget Code'"
           k-data-text-field="'BUDGET_EDESC'"
           k-data-value-field="'BUDGET_CODE'"
           k-filter="'contains'"
           k-auto-bind="true"
           k-min-length="3"
            k-suggest="true"
           k-data-source="budgetCenterDataSource" />
</div>