<table id="reference" class="document_child_table dynamic-table dynamic_child_table refrence_table dynamic_child_table5">
    <thead class="child-table-head">
        <tr ng-if="ReferenceList.length >0">
            <th style="width:76px;">Form Code</th>
            <th style="width:106px;">Voucher Number</th>
            <th style="width:170px;">Description</th>
        </tr>
    </thead>
    <tbody class="table_body">

        <tr ng-repeat="x in ReferenceList">
            <td style="width:76px;">{{ x.reference_form_code }}</td>
            <td style="width:106px;">{{ x.voucher_no }}</td>
            <td style="width:170px;">{{ x.FORM_EDESC }}</td>
        </tr>

    </tbody>
</table>


