<style>
    .summarytable td {
        padding: 4px !important;
    }
</style>
@*<div class="row">*@
@*<div class="col-xs-6 col-sm-4 col-md-4">
        <table class="table table-bordered summarytable">
            <thead class="font-green">
                <tr>

                    <th width="5%">Amount Summary</th>
                    <th width="5%">Dr Amount</th>
                    <th width="5%">Cr Amount</th>
                    <th width="6%">Diff Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ng-binding">Total:</td>
                    <td ng-bind="accsummary.drTotal">0.00</td>
                    <td ng-bind="accsummary.crTotal">0.00</td>
                    <td ng-bind="accsummary.diffAmount">0.00</td>
                </tr>

            </tbody>
        </table>
    </div>*@

@*</div>*@
<div class="col-xs-6 col-sm-3 col-md-3">
    <table class="table table-bordered">
        <thead class="font-green">
            <tr>
                <th colspan="2">Amount Summary @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Amount Summary"></i>*@</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width:62%">Dr Amount</td>
                <td ng-bind="accsummary.drTotal">0.00</td>
            </tr>
            <tr>
                <td>Cr Amount</td>
                <td ng-bind="accsummary.crTotal">0.00</td>
            </tr>
            <tr>
                <td>Diff Amount</td>
                <td ng-bind="accsummary.diffAmount">0.00</td>
            </tr>
        </tbody>
    </table>
</div>



