<style>
    .refrence-modoal input.form-control {
        height: 24px;
        padding: 0 6px;
        font-size: 11px !important;
    }

    .radio_button {
        margin-left: 15px;
    }

    .refrence-modoal .form-horizontal label {
        margin-bottom: 5px;
    }

    .refrence-modoal .modal-header {
        margin-bottom: 10px 15px;
    }

    .refrence-modoal .modal-body {
        padding: 0px 15px !important;
    }

    /*.refrence-modoal .k-input {
        font-size: 13px !important;
        height: 24px !important;
    }*/

    /*.refrence-modoal .k-dropdown-wrap.k-state-default {
        height: 28px !important;
    }*/

    .refrence-modoal input.form-control, .refrence-modoal .k-multiselect.k-header {
        /*border: solid #ddd 1px;*/
    }

    .ref-search-field {
        padding-top: 8px;
    }

    .refrence-modoal select {
        height: 24px;
        /*border: solid #ddd 1px;*/
        padding: 0 3px;
        font-size: 11px !important;
    }

    .input-group-addon {
        padding: 0px 5px !important;
    }

    .refrence-modoal .k-widget {
        width: 100%;
    }

    .refrence-modoal .dynamic-column td, .refrence-modoal .dynamic-column th {
        padding: 3px;
    }

    #tableColumn_reference-list li {
        font-size: 12px;
    }

    .refrence-modoal .dynamic-column {
        overflow-y: auto;
        max-height: 139px;
    }

    .k-header a.k-button {
        margin: 2px !important;
        /*padding: 5px 8px 5px !important;*/
    }

    .search .grid-search {
        /*height: 26px;
        border: 1px solid hsl(0, 0%, 77%) !important;
        border-right: none !important;*/
    }

    .search-btn {
        height: 16px !important;
    }

    .search input {
        height: 25px !important;
        margin-left: 195px;
    }

    #custReferenceGrid .k-grid-content, #referenceGrid .k-grid-content {
        max-height: 400px !important;
        height: 400px !important;
    }

    .ref-search-field {
        background-color: #f5f5dc;
        /*margin-bottom: 10px;*/
    }

        .ref-search-field hr {
            margin: 10px 0;
            border: 0;
            border-top: 1px solid #eae1c5;
            border-bottom: 0;
        }

    .refrence-modoal form {
        margin-bottom: 0px !important;
    }

    .selectbox {
        cursor: pointer;
        color: #337ab7;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    .ui-datepicker {
        z-index: 10076 !important;
    }


    .input-medium {
        width: 100% !important;
    }

    .form-horizontal .control-label {
        padding-top: 0px !important;
        margin-bottom: 5px;
        text-align: right;
    }

    .gapline {
        margin-bottom: 10px;
    }

    .modal-dialog-box {
        width: 70%;
    }

    .pad_fix {
        padding: 0 !important;
    }

    .mar_fix {
        margin: 0 !important;
    }

    span.k-widget.k-dropdown.k-header.form-control.ng-pristine.ng-untouched.ng-valid.ng-empty {
        background: none;
        padding: 0;
    }

    input.ng-pristine.ng-untouched.ng-valid.ng-empty.ng-valid-min {
        background: none;
    }

    table#PurExpGrid {
        border: 2px solid #ddd;
    }

    input.ng-pristine.ng-valid.ng-empty.ng-valid-min.ng-touched {
        background: none;
    }

    span.k-widget.k-dropdown.k-header.form-control.ng-pristine.ng-valid.ng-empty.ng-touched {
        background: none;
        padding: 0;
    }

    input.ng-pristine.ng-untouched.ng-valid.ng-not-empty.ng-valid-min {
        background: none;
    }

    input.ng-valid.ng-valid-min.ng-not-empty.ng-dirty.ng-valid-number.ng-touched {
        background: none;
    }

    input.ng-pristine.ng-valid.ng-not-empty.ng-valid-min.ng-touched {
        background: none;
    }

    tr.bg-eee {
        background: #eee;
    }

    span.k-widget.k-dropdown.k-header.form-control.ng-untouched.ng-valid.ng-valid-parse.ng-touched.ng-not-empty.ng-dirty {
        background: none !important;
        padding: 0 !important;
    }

    span.k-widget.k-dropdown.k-header.form-control.ng-valid.ng-valid-parse.ng-not-empty.ng-dirty.ng-touched {
        background: none !important;
        padding: 0 !important;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .modal-lg {
        width: 95%;
    }

    .pt-23 {
        padding-top: 19px;
    }

    .form-group {
        margin-bottom: 5px;
    }
</style>
<link href="@Styles.Url(" ~ /Content/nepali.datepicker.v2.1.min.css")" rel="stylesheet" type="text/css" />
<div class="modal fade-out" ng-controller="PESCtrl" id="PurchaseExpSheet" data-backdrop="static" tabindex="-1" data-width="760">
    <div class="modal-dialog  modal-dialog-box refrence-modoal modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: white !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab="" title="Close" style="margin: -2px !important;"></button>
                <h4 class="modal-title" style="margin: -6px !important;font-size: 11px !important;">
                    <span class="fa fa-list-ul"></span>
                    Purchase Expense Sheet
                </h4>
            </div>
            <div class="modal-body modal-dialogbox-body1 form-horizontal ">
                <form name="documentRequired" novalidate>
                    <div class="row ref-search-field" style="background-color: #f6f6f6;padding-top: 3px !important;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PESDateField.cshtml", true)
                                </div>

                                <!--document-->
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="element" class="control-label col-md-12" style="padding-bottom: 0px !important;">
                                            Document
                                        </label>
                                        <div class="col-md-12">
                                            <select name="document" id="documentTypeMultiSelect" ng-model="PES.DOCUMENT"></select>
                                        </div>
                                    </div>
                                </div>
                                <!--document-->
                                <!--ppno-->
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="element" class="control-label col-md-12" style="padding-bottom: 0px !important;">
                                            PP No.
                                        </label>
                                        <div class="col-md-12">
                                            <select name="document" id="dropdownPP" class="form-control" ng-model="PES.PPNO" ng-change="BindInvoice()"></select>
                                        </div>
                                    </div>
                                </div>
                                <!--pp no end-->
                                <!--mannual no-->
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="element" class="control-label col-md-12" style="padding-bottom: 0px !important;">
                                            Manual No.
                                        </label>
                                        <div class="col-md-12">
                                            <select name="document" id="dropdownManual" class="form-control" ng-model="PES.MANUALNO" ng-change="BindInvoice()"></select>
                                        </div>
                                    </div>
                                </div>
                                <!--mannual no-->
                                <!--supplier-->
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="element" class="control-label col-md-12" style="padding-bottom: 0px !important;">
                                            Supplier.
                                        </label>
                                        <div class="col-md-12">
                                            <select name="Supplier" id="dropdownSupplier" class="form-control" ng-model="PES.SUPPLIER" ng-change="BindInvoice()"></select>
                                        </div>
                                    </div>
                                </div>
                                <!--supplier-->
                                <!--invoice no-->
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="element" class="control-label col-md-12" style="padding-bottom: 0px !important;">
                                            Invoice No.
                                        </label>
                                        <div class="col-md-12">
                                            <select name="document" class="form-control" id="dropdownInv" ng-model="PES.INVOICENO" kendo-drop-down-list k-data-text-field="'INVOICE_NO'" k-data-value-field="'INVOICE_NO'" k-data-source="optionInvoiceDataSource" k-options="optionInvoice"></select>
                                        </div>
                                    </div>
                                </div>
                                <!--invoice no end-->
                                <!-- search button-->
                                <div class="col-lg-1 pt-23">
                                    <button type="button" id="gridbindSearch" class="btn btn-sm btn-green pull-right" style="margin-bottom:2px;" ng-click="doall()" data-toggle="tooltip" title="Search list"><i class="fa fa-search"></i> Search</button>
                                </div>
                                <!-- search button end-->
                            </div>
                            <div class="row">


                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr style="margin:0;" />
                        <div class="row">
                            <div class="col-md-12">
                                <label for="element" class="control-label col-md-12"><b>Invoice Info</b></label>
                                <div class="col-lg-12">
                                    <table class="table mb-0">
                                        <tr>
                                            <td><label for="element"> Supplier:</label></td>
                                            <th><label for="element" id="lblSupplierName"></label></th>
                                            <td>
                                                <label for="element">
                                                    Invoice Date/Miti:
                                                </label>
                                            </td>
                                            <th>
                                                <label for="element" id="lblInvoiceDate">
                                                </label>
                                            </th>
                                            <td>
                                                <label for="element">
                                                    Currency:
                                                </label>
                                            </td>
                                            <th>
                                                <label for="element" id="lblCurrency">
                                                </label>
                                            </th>
                                            <td>
                                                <label for="element">
                                                    Exchange Rate:
                                                </label>
                                            </td>
                                            <th>
                                                <label for="element" id="lblExchangeRate">
                                                </label>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="row" style="overflow-x: auto;">
                            <div class="col-lg-12">
                                <div class="col-lg-12 table-responsive">
                                    <table id="PurExpGrid" class="document_child_table dynamic-table table-fixed dynamic_child_table dynamic_child_table6 mar_fix" style="width: fit-content; height:auto !important;">
                                        <thead class="child-table-head" style="background-color: #ddd;">
                                            <tr class="bg-eee">
                                                <td style="width:40px"></td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px"></td>
                                                <td ng-repeat="(keys,rows) in PIChargeList" style="width:110px">
                                                    <div ng-repeat="items in rows" style="width: 110px">
                                                        <input type="number" min="0" ng-model="PIChargetxt[keys][items]" ng-keyup="divideamount(keys,items)" style="width: 110px;" />
                                                    </div>
                                                </td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px"></td>
                                            </tr>
                                            <tr>
                                                <th style="width:40px">
                                                    S.No
                                                </th>
                                                <th style="width:110px">
                                                    Product Name
                                                </th>
                                                <th style="width: 110px">
                                                    Unit
                                                </th>
                                                <th style="width:110px">
                                                    Quantity
                                                </th>
                                                <th style="width:110px">
                                                    Rate
                                                </th>
                                                <th style="width:110px">
                                                    Amount
                                                </th>
                                                <th style="width:110px">
                                                    Cal Rate
                                                </th>
                                                <th style="width:110px">
                                                    Cal Quantity
                                                </th>
                                                <th style="width:110px">
                                                    Cal Amount
                                                </th>
                                                <th ng-repeat="p in PIChargeListTxt" style="width:110px">
                                                    {{p.CHARGE_EDESC}}
                                                </th>
                                                <th style="width:110px">
                                                    Total Charge
                                                </th>
                                                <th style="width:110px">
                                                    Landed Cost
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="table_body" style="height: auto !important;min-height: inherit !important;">
                                            <tr ng-repeat="(key,row) in childPIModels">
                                                <td style="width:40px">
                                                    {{key+1}}
                                                </td>
                                                <td ng-repeat="item in row" style="width:110px">
                                                    {{item}}
                                                </td>
                                                <td ng-repeat="(keys,rows) in PIChargeList" style="width:110px">
                                                    <div ng-repeat="items in rows">
                                                        <input type="number" min="0" ng-model="PICharge[key][items]" ng-keyup="indChargeCal(key,items)" ng-click="getval(key,items)" style="width:110px" />
                                                    </div>
                                                </td>
                                                <td id="RowWise_TotalCharge_{{key}}" style="width:110px"></td>
                                                <td id="RowWise_TotalLandedCost_{{key}}" style="width:110px"></td>
                                            </tr>
                                            <tr style="height: 20px;">
                                                <td style="width:40px"></td>
                                                <td style="width:110px">
                                                    Total
                                                </td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px">{{PiGrandtotal}}</td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px"></td>
                                                <td style="width:110px">{{PiCalcGrandtotal}}</td>
                                                <td ng-repeat="(keyssss,rowssss) in PIChargeList">
                                                    <div ng-repeat="itemssss in rowssss" style="width:110px">
                                                        <input type="number" min="0" ng-model="PIChargetxt[keyssss][itemssss]" readonly style="width:110px" />
                                                    </div>
                                                </td>
                                                <td style="width:110px">
                                                    {{TotalCharge}}
                                                </td>
                                                <td style="width:110px">
                                                    {{TotalLandedCost}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-green" ng-click="BindDataToTemplate()" data-toggle="tooltip" title="Search list">Ok</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-toggle="tooltip" title="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src='@Scripts.Url(" ~/JS/DateFilter.js?v5")' type="text/javascript"></script>
<script>
    $(document).ready(function () {
        DateFilter.init();
        var documentListUrl = window.location.protocol + "//" + window.location.host + "/api/ContraVoucherApi/DocumentList";
        var documentListUrlData = new kendo.data.DataSource({
            transport: {
                read: {
                    url: documentListUrl,
                    dataType: "json"
                }
            }
        });
        $("#documentTypeMultiSelect").kendoDropDownList({
            dataSource: documentListUrlData,
            optionLabel: '-- Select Template --',
            dataTextField: "FORM_EDESC",
            dataValueField: "FORM_CODE",
            height: 600,
            dataBound: function () { }
        });
        $("#documentTypeMultiSelect").change(function (e) {setDropDown();});        
        $("#ddlDateFilterVoucher").change(function (e) {setDropDown();});
        $("#FromDateVoucher").change(function (e) {setDropDown();});
        $("#ToDateVoucher").change(function (e) { setDropDown(); });
        $("#fromInputDateVoucher").change(function (e) {setDropDown();});
        $("#toInputDateVoucher").change(function (e) {setDropDown();});
        function setDropDown() {
            debugger;
            var formCode = $("#documentTypeMultiSelect").val();
            if (formCode == "" && formCode == undefined) {
                return;
            }
            else {                
            var fromdate = $("#FromDateVoucher").val();
            var todate = $("#ToDateVoucher").val();
            var dropdownUrl = window.location.protocol + "//" + window.location.host + "/api/ContraVoucherApi/DocumentListDropDown?tableName=" + null + "&formCode=" + formCode + "&fromdate=" + fromdate + "&todate=" + todate; 
            var documentListUrlData = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: dropdownUrl,
                        dataType: "json"
                    }
                }
            });
            $("#dropdownManual").kendoDropDownList({
                dataSource: documentListUrlData,
                optionLabel: '-- Select Template --',
                dataTextField: "MANUAL_NO",
                dataValueField: "MANUAL_NO",
                height: 600,
                dataBound: function () { }
            });
            $("#dropdownPP").kendoDropDownList({
                dataSource: documentListUrlData,
                optionLabel: '-- Select Template --',
                dataTextField: "PP_NO",
                dataValueField: "PP_NO",
                height: 600,
                dataBound: function () { }
            });
            $("#dropdownSupplier").kendoDropDownList({
                dataSource: documentListUrlData,
                optionLabel: '-- Select Template --',
                dataTextField: "SUPPLIER_EDESC",
                dataValueField: "SUPPLIER_CODE",
                height: 600,
                dataBound: function () { }
            });
            $("#dropdownInv").kendoDropDownList({
                dataSource: documentListUrlData,
                optionLabel: '-- Select Template --',
                dataTextField: "INVOICE_NO",
                dataValueField: "INVOICE_NO",
                height: 600,
                dataBound: function () { }
            });
            }
        }
    });
</script>