<div class="col-xs-6 col-sm-3 col-md-3">
    <table class="table table-bordered">
        <thead class="font-green">
            <tr>
                <th colspan="2">Amount Summary @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Amount Summary"></i>*@</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total:</td>
                <td ng-bind="summary.grandTotal">0</td>
            </tr>
            <tr>
                <td>Addition:</td>
                <td ng-bind="addition">0</td>
            </tr>
            <tr>
                <td>Deduction:</td>
                <td ng-bind="deduction">0</td>
            </tr>
            <tr>
                <td>Grand Total:</td>
                <td class="ng-binding" ng-bind="adtotal">0</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-6 col-sm-3 col-md-3">
    <table class="table table-bordered">
        <thead class="font-green">
            <tr>
                <th colspan="2">Unit Total @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Unit Total"></i>*@</th>              
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="unit in units">
                <td>Total {{unit.mu_name}}</td>
                <td class="ng-binding">{{unit.mu_code_value}}</td>
            </tr>
            <tr>
                <td>Grand Total</td>
                <td ng-bind="totalQty">0</td>
            </tr>
        </tbody>
    </table>
</div>