
@{
    ViewBag.Title = "Purchase Register Page";
}
<style>
    .page-bar {
        margin-bottom: 0px !important;
    }

    .orders table .k-grid-header {
        display: none;
    }

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    /*#grid thead{
         font-size:11px;
    }*/
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }
</style>
<div class="page-content">


    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="index.html">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Trial Balance</a>
                <i class="fa fa-angle-right"></i>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <a class="btn btn-circle btn-icon-only btn-default" data-toggle="collapse" href="#demo">
                    <i class="fa fa-angle-down"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row collapse in" id="demo">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-pin font-green"></i>
                        <span class="caption-subject bold uppercase">Trial Balance</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group" data-toggle="tooltip" title="Click to filter date range!" data-placement="bottom">
                            @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)
                        </div>
                        <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="javsascript:;">
                            <i class="icon-control-play"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-toggle="tooltip" title="Get FullScreen Mode!" data-placement="bottom">
                        </a>
                        <button id="test">test</button>

                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">


                        <div id="grid"></div>
                        <table id="tt" style="width:600px;height:400px"></table>
                        <table title="Products" class="easyui-treegrid" style="width:700px;height:300px"
                               url='http://localhost:22395/api/TrialBalance/GetTreeView'
                               rownumbers="true"
                               idField="MASTER_ACC_CODE" treeField="account_head">
                            <thead>
                                <tr>
                                    <th field="account_head" width="250">Name</th>
                                    <th field="quantity" width="100" align="right">Quantity</th>
                                    <th field="price" width="150" align="right">Price</th>
                                    <th field="total" width="150" align="right">Total</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<script>
    $(document).ready(function () {
        var serviceUrl = Arg.url(window.location.protocol + "//" + window.location.host + "/api/TrialBalance/GetTreeView", { uid: "@Model.uid", voucherNo: "@Model.VoucherNumber" });
        $('#tt').treegrid({
            url: 'http://localhost:22395/api/TrialBalance/GetTreeView',

            idField: 'MASTER_ACC_CODE',
            treeField: 'account_head',
            columns: [[
                { title: 'Task Name', field: 'account_head', width: 180 },
                { field: 'persons', title: 'Persons', width: 60, align: 'right' },
                { field: 'begin', title: 'Begin Date', width: 80 },
                { field: 'end', title: 'End Date', width: 80 }
            ]]
        });
    });
</script>
