<div ng-controller="agentCtrl" id="agentCtrl">
  
        <label for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i><span style="color:red">{{prorityerror}}</span></label>
    
    <input id="prority" ng-model="masterModels[element.COLUMN_NAME]" name="prority" class="prority mprority w-100" kendo-drop-down-list
           k-placeholder="'Select Agent'"
           k-data-text-field="'AGENT_EDESC'"
           k-data-value-field="'AGENT_CODE'"
           k-filter="'contains'"
           k-auto-bind="true"
           k-options="AgentCodeOption"
           k-option-label="'Select Agent'"
           k-suggest="false"
           k-on-change="agentCodeOnChange(kendoEvent)"
           k-min-length="3"
           @*k-data-source="prorityDataSource" *@ />
</div>



