<style>

    #areasetup_listbox li {
        border-bottom: solid #ded5d5 1px;
    }
</style>
<div id="areaSetupCtrl" ng-controller="areaSetupCtrl">
    
        <label for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i><span style="color:red">{{areasetuperror}}</span></label>
   
    <input id="areasetup" ng-model="masterModels[element.COLUMN_NAME]" name="areasetup" class="areasetup area mareasetup w-100" kendo-combo-box
           k-placeholder="'Enter Area'"
           k-data-text-field="'AREA_EDESC'"
           k-data-value-field="'AREA_CODE'"
           k-filter="'contains'"
           k-auto-bind="true"
           k-options="AreaSetupOption"
           k-suggest="false"
           k-on-change="areaSetupOnChange(kendoEvent)"
           k-data-source="areaSetupDataSource" />
</div>