<label for="element">{{element.COLUMN_HEADER}} <span style="color:red">{{customererror}}</span></label>
@*<input id="customers" ng-model="masterModels[element.COLUMN_NAME]" name="customer" class="cust" style="width: 98%;" />*@
<input id="customers"  ng-model="childModels[key][item.COLUMN_NAME]" name="customer" class="cust" style="width: 98%;" kendo-combo-box
 
       k-placeholder="'Select customer'"
       k-data-text-field="'CustomerName'"
       k-data-value-field="'CustomerCode'"
       k-filter="'contains'"
       k-auto-bind="true"
        k-on-change="customerCodeOnChange(kendoEvent)"
      
       k-data-source="customerDataSource" />

