<style>

    #issuetype_listbox li {
        border-bottom: solid #ded5d5 1px;
    }
</style>
<div id="issueTypeCtrl" ng-controller="issueTypeCtrl">
   
        <label for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i><span style="color:red">{{issuetypeerror}}</span></label>
   
    <input id="issuetype" ng-model="masterModels[element.COLUMN_NAME]" name="issuetype" class="issuetype issue missuetype w-100" kendo-combo-box
           k-placeholder="'Select Issue Type Code'"
           k-data-text-field="'ISSUE_TYPE_EDESC'"
           k-data-value-field="'ISSUE_TYPE_CODE'"
           k-filter="'contains'"
           k-auto-bind="true"
           k-options="IssueTypeOption"
           k-suggest="false"
           k-on-change="issueTypeCodeOnChange(kendoEvent)"
           k-data-source="issueTypeDataSource"
           k-min-length="3" />
</div>
@*<script>
    function formatValue(value, type, text) {
        
        if (type == null)
            type = "";
        if (text != undefined)
            if (text.indexOf("#") > -1)
                text = text.split("#")[1];
        var textMatcher = new RegExp(text, "ig");
        var val = value.replace(textMatcher, function (match) {
            return "<u><strong>" + match + "</strong></u>";
        });
        return "<span class='comboBoxedescName'>" + val + "</span> <span class='rightallign'>" + type + "</span> ";
    }
</script>*@
