<style>
    #issuetype_listbox li {
        border-bottom: solid #ded5d5 1px;
    }
</style>
<div>
   
        <label for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i><span style="color:red">{{partytypeerror}}</span></label>
    
    @*<input type="text" id="dealercode" name="dealercode" ng-model="masterModels[element.COLUMN_NAME]" placeholder="Enter dealer name" class="partytype party mpartytype w-100" />*@
    <input id="partytype" ng-model="masterModels[element.COLUMN_NAME]" name="partytype" class="partytype party mpartytype" style="width: 98%;" kendo-combo-box
        k-placeholder="'Enter Party Type'"
        k-data-text-field="'PARTY_TYPE_EDESC'"
        k-data-value-field="'PARTY_TYPE_CODE'"
        k-filter="'contains'"
        k-auto-bind="true"
        k-options="PartyTypeCodeOption"
        k-suggest="false"
        k-data-source="PartyTypeDataSource" />
</div>