<div ng-controller="prorityCtrl" id="prorityCtrl">
  
        <label for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i><span style="color:red">{{prorityerror}}</span></label>
    
    <input id="prority" ng-model="masterModels[element.COLUMN_NAME]" name="prority" class="prority mprority w-100" kendo-drop-down-list
           k-placeholder="'Select Prority Code'"
           k-data-text-field="'PRIORITY_EDESC'"
           k-data-value-field="'PRIORITY_CODE'"
           @*k-filter="'contains'"*@
           k-auto-bind="false"
           k-options="PriorityCodeOption"
           k-suggest="false"
           k-on-change="prorityCodeOnChange(kendoEvent)"
           k-option-label="'Select Prority'"
           @*k-min-length="3"*@
           @*k-data-source="prorityDataSource"*@ />
</div>


