<div ng-controller="refrenceCodeCtrl" id="refrenceCodeCtrl" class="refrence_div">
 
    <label for="element" class="lable-refrence"><span style="color:red;height:22px;">{{refrenceerror}}</span></label>
    
        <input id="refrencetype" name="refrencetype" ng-model="refrenceCode" class="crefrencetype refrence refrencetype r" style="height:auto;" kendo-combo-box
               k-placeholder="'Select Refernce (MM/DD/YYYY)'"
               k-suggest="false"
               k-filter="'contains'"
               refrence-index="{{key}}"
               k-on-change="refrenceCodeOnChange(kendoEvent)"
               k-options="refrenceCodeOption"  
               k-min-length="3"/>
  
</div>
 

<style>

    label.lable-refrence {
        display: inline-block;
        float: left;
        padding-top:5px;
        margin-right: 5px;
        font-size: 11px;
       
    }

    .refrence_div .k-widget {
        width: auto !important;
    }
    .refrence_div input {
        height: 20px !important;
        font-size: 10px !important;
        padding-right: 35px !important;
        background: none !important;
    }
    
    .k-combobox-clearable {
        height: auto;
        float: left;
    }
     .k-list li
    {
        font-size:10px !important;
    }
</style>