<style>
    .portlet > .portlet-title > .splitterfont {
        font-size: 15px;
    }


    .portlet > .portlet-title {
        min-height: 38px;
    }

    .horizontalline {
        margin: 2px;
    }


    ul {
        list-style-type: none;
        margin-left: -47px;
    }
</style>
<div class="portlet box green-box tab-box">
    <div class="portlet-title">
        <div class="caption splitterfont">
            <i class="fa fa-gift"></i>
            <span class="caption-subject bold uppercase">{{modulename}}</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-body" id="moduleList">
            <ul>
                <li ng-repeat="draft in draftList">
                    <a>
                        <span class="title" ng-click="BindDetailGrid(draft.FORM_CODE, draft.TABLE_NAME,draft.TEMPLATE_EDESC)">({{draft.FORM_CODE}}) {{draft.TEMPLATE_EDESC}}</span>
                        <span class="selected"></span>
                    </a>
                    <hr class="horizontalline" />
                </li>

            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>