<style>
    .portlet > .portlet-title > .splitterfont {
        font-size: 15px;
    }
    .portlet > .portlet-title {
        min-height: 38px;
    }

    .horizontalline {
        margin: 2px;
    }


    ul {
        list-style-type: none;
        margin-left: -47px;
    }

    .k-splitter .k-scrollable {
        overflow: hidden;
    }

    .tab-box .portlet-body {
        overflow: auto;
        max-height: 460px;
    }
</style>
<div class="portlet box green-box tab-box">
    <div class="portlet-title">
        <div class="caption splitterfont">
            <i class="fa fa-gift"></i>
            <span class="caption-subject bold uppercase">{{modulename}}</span>
        </div>
    </div>
    <div class="portlet-body" style="overflow: hidden;">
        <div class="row">
            <div class="topsearch">
                <input class="k-textbox txtSearchString" type="text"   id="categorySearchString" ng-model="query" data-toggle="tooltip" title="search" name="search" placeholder="Enter Search Text Here..." />
            </div>
        </div>
            <div class="form-body" id="moduleList">
                <ul>
                    <li ng-repeat="menu in subMenuList | filter:query">
                        <a>
                            <span class="title" ng-click="BindDetailGrid(menu.FORM_CODE, menu.TABLE_NAME,menu.FORM_EDESC,docVer)">({{menu.FORM_CODE}}) {{menu.FORM_EDESC}}</span>
                            <span class="selected"></span>
                        </a>
                        <hr class="horizontalline" />
                    </li>
                </ul>
            </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
