

<select id="DistEmployeeMultiSelect" data-bind="SP_CODE" style="width:100%;"></select>

<script>

    $(document).ready(function () {
        var autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/UserSetup/GetSalePerson";
        var autoCompletedataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: autoCompleteurl,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                }
            }
        });


        $('#DistEmployeeMultiSelect').kendoMultiSelect({
            dataSource: autoCompletedataSource,
            dataTextField: "EMPLOYEE_EDESC",
            dataValueField: "SP_CODE",
            height: 600,
            headerTemplate: '<div class="col-md-offset-4"><strong>..Employee..</strong></div>',
            placeholder: "Select Employee...",
            autoClose: false,
            dataBound: function () {
                var current = this.value();
                this._savedOld = current.slice(0);
            }
        });
    });
    $("#DistEmployeeMultiSelect").data("kendoMultiSelect").options.maxSelectedItems = 1;
</script>