 
    <div class="portlet portlet-sortable light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase font-green-haze custom-modal">Zone Wise Performance Report</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a data-toggle="modal" data-target="#topEffectiveCalls" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="" class="fullscreen" data-original-title="" title=""> </a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>






        <div class="row portlet-body clearfix" id="metric_sortable" style="display: block;">
            @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_widgets" id="metric_27">
                <a class="dashboard-stat dashboard-stat-v2 blue" style="background-color:#d96ab4" href="#">
                    <div class="visual">
                        <i class="fa fa-comments  "></i>
                    </div>
                    <div class="details">
                        <div class="number  ">
                            <span data-counter="counterup" class="counter" style="color:#f5f529" data-value="30,407,992.73">30,407,992.73</span>
                        </div>
                        <div class="desc" style="color:#f5f529"> BKU - MTD Sales </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_widgets" id="metric_28">
                <a class="dashboard-stat dashboard-stat-v2 blue" style="background-color:#d96ab4" href="#">
                    <div class="visual">
                        <i class="fa fa-comments  "></i>
                    </div>
                    <div class="details">
                        <div class="number  ">
                            <span data-counter="counterup" class="counter" style="color:#f5f529" data-value="9,630,699.64">9,630,699.64</span>
                        </div>
                        <div class="desc" style="color:#f5f529"> DCU - MTD Sales </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_widgets" id="metric_22">
                <a class="dashboard-stat dashboard-stat-v2 blue" style="background-color:#4fadf0" href="#">
                    <div class="visual">
                        <i class="fa fa-comments  "></i>
                    </div>
                    <div class="details">
                        <div class="number  ">
                            <span data-counter="counterup" class="counter" style="color:#fff" data-value="514,359.17">514,359.17</span>
                        </div>
                        <div class="desc" style="color:#fff"> LBD Cash B/L </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_widgets" id="metric_24">
                <a class="dashboard-stat dashboard-stat-v2 blue" style="background-color:#4fadf0" href="#">
                    <div class="visual">
                        <i class="fa fa-comments  "></i>
                    </div>
                    <div class="details">
                        <div class="number  ">
                            <span data-counter="counterup" class="counter" style="color:#fff" data-value="190,901.96">190,901.96</span>
                        </div>
                        <div class="desc" style="color:#fff"> BRT Cash B/L </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_widgets" id="metric_21">
                <a class="dashboard-stat dashboard-stat-v2 blue" style="background-color:#f0f027" href="#">
                    <div class="visual">
                        <i class="fa fa-comments  "></i>
                    </div>
                    <div class="details">
                        <div class="number  ">
                            <span data-counter="counterup" class="counter" style="color:#080808" data-value="40,038,692.37">40,038,692.37</span>
                        </div>
                        <div class="desc" style="color:#080808"> This Month Sales </div>
                    </div>
                </a>
            </div>*@









            <div class="row">
                <div class="portlet-body col-md-4">
                    <table class="table table-hover table-bordered datatable">

                        <tbody>
                            <tr>
                                <th>Zone1</th>
                                <th>Overall</th>
                            </tr>
                            <tr>
                                <td>effective calls</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <td>not visited</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>total order form</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>market</td>
                                <td>$80</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="portlet-body col-md-4">
                    <table class="table table-hover table-bordered datatable">

                        <tbody>
                            <tr>
                                <th>Zone1</th>
                                <th>Overall</th>
                            </tr>
                            <tr>
                                <td>effective calls</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <td>not visited</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>total order form</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>market</td>
                                <td>$80</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="portlet-body col-md-4">
                    <table class="table table-hover table-bordered datatable">

                        <tbody>
                            <tr>
                                <th>Zone1</th>
                                <th>Overall</th>
                            </tr>
                            <tr>
                                <td>effective calls</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <td>not visited</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>total order form</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>market</td>
                                <td>$80</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="portlet-body col-md-4">
                    <table class="table table-hover table-bordered datatable">

                        <tbody>
                            <tr>
                                <th>Zone1</th>
                                <th>Overall</th>
                            </tr>
                            <tr>
                                <td>effective calls</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <td>not visited</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>total order form</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>market</td>
                                <td>$80</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="portlet-body col-md-4">
                    <table class="table table-hover table-bordered datatable">

                        <tbody>
                            <tr>
                                <th>Zone1</th>
                                <th>Overall</th>
                            </tr>
                            <tr>
                                <td>effective calls</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <td>not visited</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>total order form</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>market</td>
                                <td>$80</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="portlet-body col-md-4">
                    <table class="table table-hover table-bordered datatable">

                        <tbody>
                            <tr>
                                <th>Zone1</th>
                                <th>Overall</th>
                            </tr>
                            <tr>
                                <td>effective calls</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <td>not visited</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>total order form</td>
                                <td>$80</td>
                            </tr>
                            <tr>
                                <td>market</td>
                                <td>$80</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 