<div class="row" style="border:1px solid black;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="border:1px solid black;background-color: red;">
        <div class="col-xs-3 col-sm-3 col-md-3">
            @*<div class="col-md-2 col-sm-2 col-xs-2">
                <img alt="logoHead" src="~/Areas/NeoERP.Distribution/Images/hulasFoodHead.png" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <img alt="logo" src="~/Areas/NeoERP.Distribution/Images/hulasFood.png">
            </div>*@
            <img alt="logoHead" src="~/Areas/NeoERP.Distribution/Images/hulasLogo.png" style="height:55px;width:55px;" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
            <p style="margin-left:1px;">COMPLAIN/ SUGGESTION / SALES RETURN SLIP</p>
            <p style="margin-left:50px;"><strong> #= COMPANY_EDESC # </strong></p>
        </div>
    </div>
    @*<div style="clear:both;"></div>*@
	<div class="col-md-12 col-sm-12 col-xs-12">
    <div>
        <p>Branch Name: #=BRANCH_EDESC # <span style="float:right;"> Date: #= kendo.toString(kendo.parseDate(CREATED_DATE), 'yyyy-MM-dd') #</span></p>
    </div>
	</div>
    <div style="clear:both;"></div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="border:1px solid black;background-color: lightgray;text-align:center;">
        <strong>Customer's / Outlets Details</strong>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        Customer/Outlet Name:  #= CUSTOMER_EDESC #
    </div>
	
	<div class="col-md-12 col-sm-12 col-xs-12">
    Address: #= ADDRESS # <span style="float:right;">Area: #= AREA #</span>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
        Contact Number: : #= CONTACT_NUMBER  ? CONTACT_NUMBER : 'N/A' #
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="border:1px solid black;background-color: lightgreen;text-align:center;">
        <strong> Items Details</strong>
    </div>
    <table class="table table-bordered" style="width:100%;border:1px solid black;">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">QTY</th>
                <th scope="col">Manufacturer Date</th>
                <th scope="col">Batch No</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            # for (var i = 0; i < data.ITEMS.length; i++) { #
            <tr>
                <td scope="col" style="text-align:center;">
                    #: data.ITEMS[i].ITEM_EDESC #
                </td>
                <td scope="col" style="text-align:center;">
                    #:kendo.toString(data.ITEMS[i].QUANTITY, "n")#
                </td>
                <td scope="col" style="text-align:center;">
                    #: data.ITEMS[i].MFD_DATE ? kendo.toString(kendo.parseDate(data.ITEMS[i].MFD_DATE), 'yyyy-MM-dd') : 'N/A' #
                </td>
                <td scope="col" style="text-align:center;">
                    #: data.ITEMS[i].BATCH_NO ? data.ITEMS[i].BATCH_NO : 'N/A' #
                </td>
                <td scope="col" style="text-align:center;">
                    #: data.ITEMS[i].EXP_DATE ? kendo.toString(kendo.parseDate(data.ITEMS[i].EXP_DATE), 'yyyy-MM-dd') : 'N/A' #
                </td>
                <td scope="col" style="text-align:center;">
                    @*<div class="imageContainer">
                        *@
                        <img src="~/Areas/NeoERP.Distribution/Images/DistSalesReturnImages/DSR_#:data.ITEMS[i].ITEM_CODE#_#:data.ITEMS[i].RETURN_NO#.jpg" class="img-rounded thumbnail" alt="#: data.ITEMS[i].ITEM_EDESC #" style="height:50px;width:50px;" id="itemImage">
                        @*
                    </div>*@
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                        <span class="close">&times;</span>
                    </div>
                </td>
            </tr>
            # } #

        </tbody>
    </table>
    @*<div class="col-md-12 col-sm-12 col-xs-12" style="border:1px solid black;background-color: green;color:whitesmoke;">
        <h5>
            Photo And Camera
        </h5>
    </div>*@
    <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="border:1px solid black;background-color:orange;text-align:center;">
        <strong><u>Complain Type</u></strong>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4">
        Complain: #if(COMPLAIN_TYPE=='Complain'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        Suggestion: #if(COMPLAIN_TYPE=='Suggestion'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        Sales Return: #if(COMPLAIN_TYPE=='Sales Return'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" style="border:1px solid black;background-color: whitesmoke;">
        <p>
            Remarks from Distributors:  <strong>#=REMARKS_DIST#</strong>
        </p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="border:1px solid black;background-color: whitesmoke;">
        
			
		Remarks from ASM:  <strong>#= REMARKS_ASM  #</strong> <span style="float:right;">ASM Name:  <strong>#= ASM_NAME  #</strong></span>
					
		<!-- <div class="col-md-6 col-sm-6 col-xs-6">
            <p>
                Remarks from ASM:  <strong>#= REMARKS_ASM  #</strong>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <p>
                ASM Name:  <strong>#= ASM_NAME  #</strong>
            </p>
        </div> -->
        
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="border:1px solid black;background-color:orange;text-align:center;">
        <strong><u>Complain Condition</u></strong>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        Partially Damage: #if(CONDITION=='Partially Damage'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        Full Refuneded: #if(CONDITION=='Full Refuneded'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        Expire Goods: #if(CONDITION=='Expire Goods'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        Packet Broken: #if(CONDITION=='Packet Broken'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        Quality Issue: #if(CONDITION=='Quality Issue'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        Others: #if(CONDITION=='Others'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="border:1px solid black;background-color:orange;text-align:center;">
        <strong><u>Customer Type</u></strong>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        Wholesaler: #if(ENTITY_TYPE=='D'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        Retailer :#if(ENTITY_TYPE=='R'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        Consumer: <input type="checkbox" />
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="border-top:1px solid black;background-color:yellow;text-align:center;">
        <strong><u>Seriousness of Complain</u></strong>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:yellow">
        <div class="col-md-3 col-sm-3 col-xs-3">
            High: #if(SERIOUSNESS=='High'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            Avg: #if(SERIOUSNESS=='AVG'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            Mid: #if(SERIOUSNESS=='Mid'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            Low: #if(SERIOUSNESS=='Low'){# <input type="checkbox" checked /> #}else{# <input type="checkbox" /> #}#
        </div>
    </div>
    <div id="top_part"></div>
    </div>
    <br />
    <br />
    <br />
    <div class="col-md-12 col-sm-12 printFooter">
        <div style="float:left;"><u>Complain Dealt By:</u></div>
        <div style="float:right;"><u>Authorized Signature:</u></div>
    </div>

