
.page-content-wrapper .page-content {
    padding: 7px 20px 10px 20px !important;
}

a.k-button.k-button-icontext.k-grid-excel {
    float: right;
}

a.k-button.k-button-icontext.k-grid-pdf {
    float: right;
}

.page-bar {
    margin-bottom: 0px !important;
    /* margin-left: -15px;*/
}

.k-grid table {
    table-layout: fixed;
}

.no-data {
    background-color: red;
}
/*#grid thead{
                   font-size:11px;
              }*/
.k-grid td {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.k-grid-content {
    font-size: 10px;
}

.k-grid-footer {
    font-size: 10px;
}

[data-toggle=buttons] > .btn .radio {
    display: none;
}


.AmountFigureType {
    position: absolute;
    bottom: 103px;
    right: 32px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 12px;
}

.DisplayFilterContent {
    position: absolute;
    bottom: 107px;
    right: 32px;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 11px;
}

.column {
    margin-bottom: -68px;
}

.chart-custom {
    max-width: 350px;
}

.k-center {
    text-align: center;
}

/*.portlet.portlet-sortable {
        min-height: 460px;
    }*/

.overlay div {
    position: relative;
    font-size: 34px;
    margin-top: -17px;
    top: 50%;
}

.overlay {
    display: none;
}





.erp-iconlist h4 {
    font-size: 18px;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid green;
    display: inline-block;
    font-size: 18px;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.erp-iconlist {
    margin-bottom: 10px;
}

    .erp-iconlist ul {
        list-style: none;
        padding-left: 0px;
    }

        .erp-iconlist ul li {
            /*border:solid #ddd 1px;*/
            /*width: 97px;*/
            height: 128px;
            display: inline-block;
            text-align: center;
            /*margin-left: 9px;
                margin-right: 9px;*/
            margin-bottom: 16px;
            /*height: 98px;*/
        }

    .erp-iconlist .col-md-2 {
        width: 9%;
    }

.page-sidebar-menu {
    list-style: none;
}

.erp-iconlist ul li:first-child {
    padding-left: 0px !important;
}

.erp-iconlist ul li a {
    display: inline-block;
    text-decoration:none;
}

/*.erp-iconlist ul li i {
        color: #fff;
        border-radius: 50%;
        height: 50px;
        padding-top: 16px;
        width: 50px;
        padding-top: 18px;
        font-size: 22px;
    }*/


.erp-iconlist ul li i {
    color: #fff;
    /*border-radius: 50%;
        height: 50px;*/
    /*padding-top: 16px;
        width: 50px;
        padding-top: 0px;
        padding-top: 28px;
        */
    font-size: 36px;
    margin-top: 16px;
    text-align: center;
}

.text-icon {
    font-size: 55px;
}

.circle {
    /*width: 50px;
        height: 50px;*/
    width: 70px;
    height: 70px;
    border-radius: 50% !important;
    font-size: 100%;
    color: #fff;
    line-height: 70px;
    text-align: center;
    background: #000;
    display: inline-block;
    border: solid;
}

input[type='search'] {
    height: 27px;
    border-radius: 5px !important;
    margin-top: 5px;
    margin-bottom: -15px;
    margin-left:-3px;
}

.search-icon {
    padding-top: 6px;
}

.custom-menu {
    z-index: 1000;
    position: absolute;
    background-color: #C0C0C0;
    border: 1px solid black;
    padding: 2px;
    display: none;
    color: red;
}

.circle {
    position: relative;
}


.icondescription {
    position: absolute;
    top: -12px;
    height: 30px;
    width: 30px;
    
    border-radius: 50% !important;
    left: 40px !important;
    text-align: center;
    line-height: 28px;
    color: #fff;
    font-size: 11px;
}

.erp-iconlist h6.title {
    color: #808080 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 15px;
}

    .erp-iconlist h6.title:hover {
        color: #43A12E !important;
        text-decoration: none !important;
    }



.erp-iconlist ul li {
    /*uncomment this for another design*/
    border: 1px solid #eee;
        box-shadow: 2px 1px 2px 1px #eeeeee;
    float: left;
    height: 128px;
    margin-bottom: 15px;
    margin-right: 10px;
    text-align: center;
    width: 11.7%;
}

.circle {
    margin-top: 16px;
}

.erp-iconlist ul li {
    height: 138px !important;
}

.circle span {
    position: absolute !important;
    top: -9px;
    right: -10px;
    z-index: 1555;
    z-index: 1555;
    color: rgba(243, 86, 93, 0.78);
}

.circle {
    position: relative;
}

.icondescription span {
    display: none;
}


.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
.page-sidebar .page-sidebar-menu > li > a > i {
    /*color: #AAAAAA;*/
    color: #848484;
}


/*.portlet.light {
   
    box-shadow: 0px 0px 1px 0px #fff !important;
    margin-top: 1px;
}*/



/*.page-bar {
    box-shadow: 0px 0px 1px 0px #808080 !important;
    margin-left: 0px !important;
}
    .page-bar ul.page-breadcrumb li a {
        color: #808080 !important;
    }
.portlet.light.bordered 
{
    border:none !important;
}
.portlet.bordered {
    border-left: none !important;
}*/


/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .erp-iconlist ul li {
        width: 18.7%;
    }
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .erp-iconlist ul li {
        width: 22.7%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .erp-iconlist ul li {
        width: 22.7%;
    }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
    .erp-iconlist ul li {
        width: 45% !important;
    }
}
