.navbar-brand img {
    max-width: 100%;
    width: 92px;
    float: left;
    padding: 0;
    margin: 0 -10px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px !important;
    font-size: 0px !important;
    line-height: 0px !important;
}

li.logout-user a:before {
    content: "\f08b";
    font-family: FontAwesome;
    padding-right: 4px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .custom-drop {
    margin-right: 3px !important;
    min-width: 171px !important;
    width: 171px !important;
}

span.k-item-k-wrap:before {
    content: "\f079";
    font-family: FontAwesome;
    padding-right: 11px;
    color: #6b605b !important;
    margin-left: -2px;
}

#header_inbox_bar a {
    padding: 17px 10px 9px !important;
}

li.k-item.k-state-default.k-last {
    border-width: 1px 0 0;
}

.k-list.k-reset {
    overflow-y: scroll !important;
}

.custom-drop {
    padding-left: 5px;
    padding-left: 5px;
}

    .custom-drop li {
        padding-bottom: 5px;
        padding-top: 10px;
    }

    .custom-drop span {
        display: block;
        margin-left: 24px;
        font-size: 13px !important;
        font-weight: normal;
        color: #555 !important;
        font-family: "Open Sans",sans-serif !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    .custom-drop li.logout-user a {
        font-family: "Open Sans",sans-serif !important;
        font-size: 13px !important;
        color: #555 !important;
        font-weight: normal !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    .custom-drop i {
        float: left;
    }

li.logout-user a::before {
    padding-right: 12px !important;
}

.border-buttom {
    border: solid;
    border-width: 1px 0px 0px !important;
    border-color: #f1f3f6;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a {
    font-size: 14px;
    font-weight: 300;
    padding-left: 3px;
}

.page-quick-sidebar-open .page-quick-sidebar-toggler {
    display: none !important;
}

.page-content-wrapper .page-content {
    padding: 7px 20px 10px 20px !important;
}

.sub-menu.CalendarReportSubMenu li > a {
    font-size: 12px !important;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
}

    #search.open {
        -webkit-transform: translate(0px, 0px) scale(1, 1);
        -moz-transform: translate(0px, 0px) scale(1, 1);
        -o-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1);
        opacity: 1;
        z-index: 5000 !important;
    }

    #search input[type="search"] {
        position: absolute;
        top: 50%;
        width: 100%;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0);
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }

    #search .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 61px;
        margin-left: -45px;
    }

    #search .search-close {
        background-color: green;
        border-color: green;
        font-size: 21px;
        opacity: 1;
        padding: 0px 8px;
        position: fixed;
        right: 15px;
        top: 54px;
        color: #fff;
        border: solid green;
    }

.search-input a {
    display: inline-table;
}

.search-icon {
    color: #555555;
}

    .search-icon i:hover {
        color: forestgreen;
    }


.form-wizard .steps {
    padding: 0px 0;
    margin-bottom: 5px;
}

    .form-wizard .steps, .form-wizard .steps > li > a.step {
        background-color: #fff;
        background-image: none;
        border: 0;
        box-shadow: none;
        filter: none;
    }
/* loader css*/
.busy-loader {
    height: 150%;
    width: 100%;
    display: none;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.41);
    z-index: 999;
}

.preloader {
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: rgba(0,0,0,0.81);
    width: 23px;
    height: 23px;
}

.loader {
    border: 10px solid #f2f2f2;
    border-radius: 50% !important;
    border-top: 10px solid #3d807c;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 25%;
    left: 50%;
}

.busy-loader > span {
    color: white;
    top: 30%;
    left: 45%;
    position: absolute;
}
/*modal loader*/
.modal-busy-loader {
    height: 150%;
    width: 100%;
    display: none;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.41);
    z-index: 999;
}

.modalpreloader {
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: rgba(0,0,0,0.81);
    width: 23px;
    height: 23px;
}

.modalloader {
    border: 10px solid #f2f2f2;
    border-radius: 50% !important;
    border-top: 10px solid #3d807c;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 25%;
    left: 50%;
}

.modal-busy-loader > span {
    color: white;
    top: 30%;
    left: 45%;
    position: absolute;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mulitiitem-select.k-multiselect-wrap.k-floatwrap {
    min-height: 23px !important;
    height: 23px !important;
}


/*#generateplan input, #planSetupForm .k-dropdown-wrap {
    height: 24px !important;
    font-size: 11px !important;
}*/
#generateplan input.form-control, #planSetupForm .k-dropdown-wrap, .common input.form-control, .customdesign select.dateFilterSelect {
    height: 24px;
    font-size: 11px !important;
    padding: 0px 6px !important;
    border:solid #ddd 1px;
}
fieldset {
    border:solid #ddd 1px !important;
    border-radius: 5px !important;
}
.customdesign input.form-control, .customdesign select.form-control, .customdesign select {
    height: 24px !important;
    font-size: 11px !important;
    padding: 0px 6px !important;
}
.customdesign .k-dropdown 
{
    height:22px;
}
.k-multiselect-wrap ul li.k-button {
    padding: 0px 6px !important;
    font-size: 11px !important;
}

/*#generateplan .k-multiselect-wrap, .common .k-multiselect-wrap {
    min-height: 22px !important;
}*/

#generateplan #productToggle {
    padding: 1.6px 14px !important;
}

#planSetupForm .k-dropdown-wrap {
}

#generateplan.input-group-addon {
    padding: 4px 12px !important;
}
.input-group-addon {
    padding:4px 12px !important;
}
.k-list-scroller ul li, .k-group.k-treeview-lines li {
    font-size: 11px !important;
}
.k-list-container 
{
    max-height:400px;
    height:auto !important;
}
.k-dropdown-wrap.k-state-default {
    height: 22px !important;
    font-size: 11px !important;
}

.custom-plantwizard .progress {
    height: 10px !important;
    margin-bottom: 5px !important;
}

.k-state-focused.k-state-selected, .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
    box-shadow: none !important;
}

/*.k-in.k-state-selected, .k-in {
    margin-top: 5px !important;
}*/



#subplanName, .cheight input {
    border: solid #c5c5c5 1px !important;
}

.custom-plantwizard .steps > li > a {
    height: 34px !important;
    margin: 0px;
    padding: 0px;
}

    .custom-plantwizard .steps > li > a.step > .number {
        height: 34px !important;
        width: 34px !important;
        margin-right: 10px;
        padding: 5px 13px 13px !important;
    }

.custom-plantwizard.steps {
    margin-bottom: 5px !important;
}

#PlanSetupTreeList td input {
    font-size: 12px !important;
    padding-right: 5px !important;
}

.title-text {
    display: inline-block;
    padding-top: 5px;
}

.SubPlanTreeView input {
    height: auto !important;
}
/*#SubPlanTreeView input
{

    width:100% !important;
     
}*/
#SubPlanTreeViewinput:focus {
}

#SubPlanTreeView.k-treelist .k-alt {
    background-color: #eee !important;
}

.custom-plantwizard .steps {
    margin-bottom: 0px !important;
}


/*.titleheading {
    padding-bottom: 5px !important;
    min-height: auto !important;
}

    .titleheading .caption-subject {
        padding-top: 6px !important;
        display: inline-block;
    }


.c-porlettitle {
    min-height: auto !important;
}

    .c-porlettitle .caption span {
      
        font-size: 13px !important;
    }

    .c-porlettitle .caption {
        padding-bottom: 10px !important;
        padding-top: 3px !important;
    }

        .c-porlettitle .caption i {
          
        }*/

.pform-box input {
    font-size: 11px !important;
    height: 24px !important;
    padding: 0px 6px !important;
}

.pform-box label, #planSetupForm label, #generateplan label {
    font-size: 12px;
}

#planSetupCtrl, .bordered {
    padding-bottom: 10px;
}

.top-gap {
    padding-top: 5px;
    padding-right: 15px;
}

.no-gapbottom {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0px !important;
}

    .no-gapbottom input {
        border: solid #ccc 1px;
    }

#frequency th, .common-tbl-cl th {
    font-size: 12px;
    border-left: none !important;
}

.dataTables_length select {
    border: 1px solid #ccc;
}

#frequency td, .common-tbl-cl td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: medium none !important;
    border-left: none !important;
    font-size: 11px;
    padding: 4px;
}

#frequency thead, .common-tbl-cl thead {
    background-color: #eee !important;
}

    #frequency thead th, .common-tbl-cl thead th {
        border-bottom: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        padding: 5px;
    }

        #frequency thead th:last-child, .common-tbl-cl thead th:last-child {
            border-right: none !important;
        }

    #frequency td:last-child, .common-tbl-cl thead td:last-child {
        border-right: none !important;
    }

#frequency.dataTable.no-footer, .common-tbl-cl.table.dataTable.no-footer {
    border-bottom: none !important;
}

.paginate_button.previous::before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 15px;
    padding-right: 5px;
}

.paginate_button.next::after {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 15px;
    padding-left: 5px;
}

.dataTables_paginate.paging_simple_numbers {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff 0%, #dcdcdc 100%) repeat scroll 0 0 !important;
    border: 1px solid #ddd !important;
    padding-top: 0 !important;
     margin-top: 5px;
}

.paginate_button {
    padding: 0px 5px !important;
}

#frequency .fa.fa-edit, #frequency .fa.fa-trash, .common-tbl-cl .fa.fa-edit, .common-tbl-cl .fa.fa-trash {
    color: #555;
}

#frequency .fa.fa-edit {
    padding-right: 5px;
}

    #frequency .fa.fa-edit:hover, #frequency .fa.fa-trash:hover {
        color: green;
    }

.mingap {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.bordered {
    padding-bottom: 10px !important;
}

/* hiding number type input arrow */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.k-widget.k-multiselect.k-header, .k-widget.k-multiselect.k-header.k-state-border-up, .k-multiselect-wrap.k-floatwrap {
    /*border: none;*/
    /*background-color: #f9f9f9;*/
}

.k-alt, .k-separator {
    background-color: none;
}

.k-grid-content {
    background-color: #fff;
}

#PlanSetupTreeList td, #SubPlanTreeView td {
    border-bottom: solid #c5c5c5 1px;
    padding: 0px !important;
    background-color: #fff !important;
    font-size: 12px !important;
}

    #SubPlanTreeView td input, #PlanSetupTreeList td input {
        width: 88% !important;
        height: 16px !important;
        background: none !important;
        font-size: 11px !important;
        border: solid #fff 2px !important;
    }

#SubPlanTreeView td, #SubPlanTreeView td {
    font-size: 12px;
}


    #SubPlanTreeView td input:focus, #PlanSetupTreeList td input:focus {
        border: solid rgba(0, 0, 0, 0.7) 2px !important;
        transition: all 0.4s ease 0s;
    }


#operationContent .slimScrollDiv {
    height: auto !important;
}

#operationContent .slimScrollBar {
    display: block;
    background: #26a69a !important;
    opacity: 0.7 !important;
}

#operationContent .k-widget.k-treeview {
    height: auto !important;
}

#operationContent td[role="gridcell"] {
    font-size: 11px;
}

.customdesign input, .customdesign select {
    font-size: 11px !important;
}

.customdesign .k-group.k-treeview-lines {
    max-height: 208px !important;
}

.customdesign input.form-control, .customdesign .k-multiselect, .customdesign select, .k-dropdown-wrap {
    border: solid #ddd 1px;
    /*height:22px;*/
    height:auto;
    font-size:11px !important;
}
.master_plan .k-multiselect-wrap.k-floatwrap {
    min-height: 22px !important;
    font-size: 11px !important;
}
#generateplan label.control-label, .common label.control-label {
    padding-right: 0px !important;
}

.common .input-group-addon {
    padding: 4px 2px !important;
    min-width: 19px !important;
}


.k-input {
    height: auto !important;
}

generateplan .k-multiselect {
    min-height: 22px !important;
}

.selectplan .k-dropdown-wrap {
    padding-bottom: 5px !important;
}

.no_gap {
    padding: 0px !important;
}
/*.common .k-dropdown
{
    margin-top:5px !important;

}*/

#SubPlanTreeView td input.deactive {
    border: dotted red 1px !important;
}

.modal-custom .k-multiselect.k-header, .customwith .k-multiselect.k-header {
    border: solid #ddd 1px !important;
}

.actions .btn-group {
    margin-right: 2px !important;
}

.pform-box .k-multiselect {
    border-color: #ddd !important;
}

.btn-green-light {
    background-color: #2EB872;
    color: #fff;
}

.k-grid-toolbar .k-button, .k-header .k-button {
    padding: 2px 7px !important;
}

legend.productMaster,
legend.planOption {
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: inherit;
    color: #725959;
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.k-column-menu.k-popup.k-group.k-reset.k-state-border-up {
    font-size: 11px !important;
}

.k-grid-header {
    font-size: 11px !important;
}

.portlet > .portlet-title > .caption {
    font-size: 13px !important;
}

.qtab .list-group-item {
    padding: 7px 10px !important;
}

.qtab.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 5px;
}



.portlet.box > .portlet-title > .caption {
    padding: 8px 0 !important;
}

.portlet > .portlet-title {
    min-height: auto !important;
}

    .portlet > .portlet-title > .tools {
        padding: 7px 0px 8px 0px !important;
    }


.portlet.light > .portlet-title > .caption {
    color: #666;
    padding: 8px 0 !important;
}

.portlet.light > .portlet-title > .actions {
    padding: 0px 0 4px !important;
}

.portlet.light > .portlet-title {
    min-height: auto !important;
}

.gaptopmin {
    margin-top: 0px !important;
}

.portlet > .portlet-title > .actions .btn-icon-only > i {
    vertical-align: middle;
}

.portlet.light > .portlet-title > .actions .btn-icon-only {
    height: 34px !important;
    width: 34px !important;
}

.portlet > .portlet-title {
    margin-bottom: 0px !important;
}
/*.k-grouping-header
{
    font-size:13px !important;
}*/
.k-grid-content table tr td {
    font-size: 10px !important;
}

/*.k-filter-menu .k-button {
    width: 48%;
    margin: 0.2em 4% 0 0 !important;
}*/
.treeViewField
{
    margin-top:6px;
}
legend.productMaster,
legend.planOption {
    display: block;
    width: auto;
    margin-bottom: 5px;
    font-size: 13px !important;
    line-height: inherit;
    color: #725959;
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
}


/*kendo table search*/
.search {
    padding: 5px 0;
    width: 230px;
    position: relative;
    top: -3px;
    left: -2px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 199px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 26px !important;
        line-height: 18px;
        padding: 0 2px 0 2px;
        background-color: transparent;
        color: black;
        border-radius: 1px;
        border: solid 1px #c5c5c5 !important;
        border-right: 0px !important;
    }

    .search:hover input {
        width: 200px;
        height: 26px;
        margin-left: -1px !important;
        width: 200px;
        font-size: 10px !important;
    }

.search-btn {
    background-color: transparent;
    height: 17px;
    position: absolute;
    right: 0;
    top: 4px;
    border-radius: 1px;
    padding: 4px 8px 5px !important;
}

    .search-btn:hover {
        background-color: transparent;
        color: black;
        border: solid 1px #c5c5c5;
        border-left: none;
    }

        .search-btn:hover .search-btn {
            border-left: solid #ddd 1px !important;
            padding: 4px 11px 5px !important;
        }

.k-header a.k-button {
    float: right;
    margin: 2px !important;
}

.search-btn:hover input .form-control, input .form-control:hover {
    border-color: #c5c5c5 !important;
}
/*kendo table search end*/

#txtMultiselectSearch
{
    padding-left:21px !important;
}
.hightlight_arrow:before {
    content: "\";
    font-family: fontawesome;
    position: absolute;
    font-size: 18px;
    color: #1717b3;
}

.hightlight_arrow_font_weight {
    font-weight: bold;
    color: #1717b3;
    /*color: #84c5bf;*/
    /*background-color: #84c5bf;*/
}











/* Large desktops and laptops */
@media (min-width:1367px) {
    #calendar {
        width: 81% !important;
        left: 16%;
    }
    .custom_col
    {
        width:20% !important;
    }
    .custom_col_two
    {
        width:80% !important;
    }
    .radio_btn_custom {
        width:11% !important;
    }
}

@media (min-width: 1200px) and (max-width: 1366px) {

    #calendar {
        /* width: 79% !important;
        left: 16% !important; */
        width: 98% !important;
        left: 0% !important;
    }
    .custom_col {
        width:30% !important;
    }

    .custom_col_two {
        width: 70% !important;
    }
    .radio_btn_custom .mt-radio-inline label {
        /*margin-right: 20px !important;*/
        margin-left:3px !important;
    }
}



/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    #calendar {
        float: left;
        width: 60% !important;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    #external-events {
        width: 20% !important;
    }

    #calendar {
        float: left;
        left: 23% !important;
        padding-left: 1%;
        position: absolute;
        width: 69% !important;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
    .mt-radio-inline label {
        float: left !important;
        margin-left: 10px; 
    }
}


/* STYLE SHEET FOR EDITABLE TABLE*/
.document_child_table .table_body, .document_child_table .child-table-head tr {
    display: table !important;
    width: 100% !important;
    table-layout: fixed !important;
}


.document_child_table .table_body {
    max-height: 150px !important;
    display: block !important;
    /*overflow: auto !important;*/
}

/*.document_child_table thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}*/

.document_child_table .input-group {
    width: 100%;
}

.document_child_table th {
    border: 1px solid #ddd;
    font-size: 10px;
}

    .document_child_table th label {
        font-size: 10px;
    }

.document_child_table {
    display: flex;
    flex-flow: column;
}

    .document_child_table thead.child-table-head {
        flex: 0 0 auto;
        width: calc(100% - 0.0em);
    }

    .document_child_table tbody.table_body {
        flex: 1 1 auto;
        display: block;
        overflow-y: auto;
        min-height: 150px;
    }

        .document_child_table tbody.table_body tr {
            width: 100%;
        }

    .document_child_table thead.child-table-head {
        display: table;
        table-layout: fixed;
    }


    .document_child_table th {
        padding: 5px;
    }

    .document_child_table td {
        border: 1px solid #ddd;
        font-size: 9px !important;
        border-top: none !important;
    }

    .document_child_table input[type="checkbox"] {
        height: auto !important;
    }

    .document_child_table .k-dropdown-wrap.k-state-default {
        min-height: auto !important;
        padding-right: 0px;
    }

    .document_child_table input.k-input {
        min-height: 21px !important;
    }


    .document_child_table .k-input {
        /*height:18px !important;*/
        text-overflow: ellipsis !important;
        padding: 0px !important;
        /*min-height:auto !important;*/
    }

.document_child_table {
    display: table !important;
}

    .document_child_table .table_body {
        overflow: auto !important;
    }
