<label for="element">{{element.COLUMN_HEADER}}</label>
<input id="item.COLUMN_NAME" kendo-combo-box ng-model="masterModels[element.COLUMN_NAME]" class="accMasterCodeAutoComplete" k-options="IssueTypeCodeOption" />
