
@{
    ViewBag.Title = "Index";
    Layout = null;

}
<div id="test">
    <!-- section of disp-->
    <h2>Dashboard</h2>
 
    @*<ul>
        <li ng-repeat="element in formSetupDetail" class="start active open">
            <a href="/DocumentTemplate/Home/Index#!DT/formtemplate/"22>
                <i class="icon-home"></i>
                <span class="title">{{element.FORM_EDESC}}</span>
                <span class="selected"></span>
            </a>
        </li>
    </ul>*@
</div>

@*<table class="table table-striped table-hover table-bordered" id="contacts">
    <thead>
        <tr>
           
            <th class="center">Form Code</th>
            <th class="center">Form Name</th>
         
           
        </tr>
    </thead>

    <tbody>
        <tr>
          
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>*@

@section scripts{
    <!-- angular scripts for Document Template-->
    @*<script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/module/DTModule.js")"></script>*@
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/services/FormTemplateService.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/FormTemplateCtrl.js")"></script>

    <script>
        // global javascript function here.
    </script>
}

<script>
    //$(document).ready(function () {
       
        //$.ajax({
        //    url: "/api/TemplateApi/GetFormSetup",
        //    type: "GET",
        //    dataType: "json",
        //    success: function (result) {            
        //      var itemLength = result.length;
        //      var tableBody = $('#contacts').find('tbody');
        //      tableBody.empty();
        //      $.each(result, function (index, contact) {                 
        //          var a = contact.FORM_CODE;
        //          var row = $('<tr />');
        //          var td1 = $('<td></td>').html(contact.FORM_CODE);
        //          var td2 = $('<td><a href="/DocumentTemplate/Home/Index#!DT/formtemplate/' + a + '">'+contact.FORM_EDESC+'</a></td>');
        //          row.append(td1);
        //          row.append(td2);
        //          tableBody.append(row);
        //      });
        //        if (result.success == true) {
                 
        //        }
        //        else {

        //        }
        //    },
        //    error: function (error) {
        //    }
        //})
        //});
</script>

