.card-container {
    margin-bottom: 15px; /* Add some margin between the cards */
}

/* CSS for the card */
.card {
    position: relative;
    transition: transform 0.3s; /* Add transition effect */
    border-radius: 10px !important;
}

    .card:hover {
        transform: translateY(-5px); /* Move the card slightly upwards on hover */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
    }

        .card:hover .card-body {
            background-color: black; /* Change background color of card body on hover */
            color: white; /* Change text color of card body on hover */
            border-radius: 10px !important;
        }

.font {
    font-size: 25px; /* Adjust the font size as needed */
    text-align: center; /* Center align the icon */
    line-height: 1;
    margin-top: 1rem;
    /* Ensure proper alignment */
}

.card-body {
    padding: 15px;
}


/* CSS for the card header */
.card-header {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.nav-tabs li.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333; /* Adjust border color as needed */
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-body {
    text-align: center; /* Center align the content horizontally */
}
/* CSS for the card count */
.count {
    font-size: 24px;
}

/* CSS for the card text */
.card-text {
    font-size: 14px;
}

/* CSS for the chart wrapper */
.chart-wrapper {
    margin-top: 15px;
}

.font i {
    font-size: 5rem !important; /* Adjust the font size as needed */
    text-align: center !important; /* Center align the icon */
    line-height: 1 !important;
    margin-top: 1rem !important; /* Ensure proper alignment */
}

.chart-container {
    text-align: center; /* Center align the charts */
    margin-top: 50px; /* Add some top margin */
}

.project-list {
    display: flex;
    overflow-x: auto;
}

.project-details {
    flex: 0 0 auto;
    width: 40%; /* Adjust as needed */
    padding: 0 10px; /* Adjust as needed */
}

.project-card {
    margin-bottom: 9rem;
    margin-top: 5rem;
    width: 20rem;
}

.scroller {
    overflow-y: auto;
}

.tab-content {
    overflow: hidden;
}

.portlet {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.chart {
    height: 400px !important;
    width: 600px !important;
}
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

.portlet {
    padding: 3px !important;
}

.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

.simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

    .simpleDemo ul[dnd-list] li.selected {
        background-color: #dff0d8;
        color: #3c763d;
    }


.rightallign {
    font-weight: bold;
    font-size: 8px !important;
    float: right;
}

.comboBoxedescName {
    width: 65% !important;
    display: inline-block !important;
}

.portlet.portlet-sortable {
    min-height: 0px !important;
}

.page-content {
    padding: 7px 20px 10px !important;
    min-height: 5000px !important;
    height: auto !important;
}

.icon-button a {
    height: auto !important;
    display: inline-block !important;
    margin-right: 3px;
}


    .icon-button a {
        display: none !important;
        color: #fff;
        border-radius: 3px !important;
    }

.erp-iconlist ul li:hover .icon-button a {
    display: inline-block !important;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    transition: all 2s;
    color: #fff !important;
    transform: translate(-50%, -50%);
}


.modal_dialog_custom {
    width: 195px;
}


.toggle {
    width: 81px !important;
    height: 28px !important;
    margin-top: 4px;
}

.toggle-handle {
    padding: 0px !important;
}

.toggle-off.btn, .toggle-on.btn {
    padding: 4px 0px 0px 0px !important;
}

.toggle-off {
    background-color: #3c763d !important;
    color: white !important;
}
.pieBarDiv {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25rem;
}
.pieBar {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#myChart{
    width: 400px;
    height: 400px;
}
#myPieChart {
    width: 400px;
    height: 400px;
}
@media screen and (max-width: 1200px) {
    .pieBarDiv {
        flex-direction: column;
    }
    .col-lg-3 {
        width: 24%;
    }
    #myChart {
        width:72rem !important;
    }
    #myPieChart {
        height:370px !important;
        width: 80rem !important;
    }
}
@media screen and (max-width: 1110px) {
    .card-body p {
        font-size:12px !important;
    }
}
@media screen and (max-width: 1065px) {
    .card-body p {
        font-size: 10px !important;
    }
}