@media print{
    #invoice-POS .fs {
        /*font-size: 14px !important;*/
        font-size: 10.5pt !important;
    }

    #invoice-POS .head1 {
        /*font-size: 13px !important;*/
        font-size: 10pt !important;
    }

    #invoice-POS #small-text {
        /*font-size: 12px !important;*/
        font-size: 9pt !important;
    }
    #invoice-POS p {
       line-height: 0.2px !important;
    }

    #invoice-POS #top {
        text-align: center;
       
    }

    #invoice-POS {
        /*box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);*/
        box-shadow: none;
        padding: 2mm;
        margin: 0;
        /* width: 4mm; */
        width: 64mm;
        /* margin: 0px !important; */
        background: #fff;
    }

        #invoice-POS ::selection {
            background: #f31544;
            color: #fff;
        }

        #invoice-POS ::moz-selection {
            background: #f31544;
            color: #fff;
        }

        #invoice-POS h1 {
            /*font-size: 1.5em;*/
            font-size: 18pt;
            color: #222;
            color: #000;
            margin-bottom: 0px !important;
        }

        #invoice-POS h2 {
            font-size: 1.4em;
            font-size: 16pt;
            color: #000;
            margin-bottom: 0px !important;
        }

        #invoice-POS h3 {
            /*font-size: 1.2em;*/
            font-size: 14pt;
            font-weight: 300
        }

        #invoice-POS p {
            /*font-size: .6em;*/
            font-size: 7.5pt;
            color: #000 !important;
            /*line-height: 1.2em;*/
            line-height: 0.2px;
        }

        #invoice-POS #top,
        #invoice-POS #mid,
        #invoice-POS #bot {
            /* Targets all id with 'col-' */
            /* border-bottom: 1px solid #eee; */
        }

        #invoice-POS #top {
            min-height: 30px;
            /* border-bottom: 1px dashed #999; */
        }

        #invoice-POS #mid {
            /*min-height: 80px;*/
        }

        #invoice-POS #bot {
            min-height: 50px;
        }

        #invoice-POS .info {
            display: block;
            margin-left: 0;
        }

        #invoice-POS .title {
            float: right;
        }

            #invoice-POS .title p {
                text-align: right;
                color: #000;
            }

        #invoice-POS table {
            width: 100%;
            border-collapse: collapse;
        }

        #invoice-POS .tabletitle {
                        /*background: #eee;*/
        }

        #invoice-POS .service {
            /* border-bottom: 1px solid #eee; */
        }

        #invoice-POS .services {
            /*border-bottom: 1px dashed #000;*/
        }

        #invoice-POS .item {
            /* width: 24mm; */
            width: 34mm;
        }

        #invoice-POS .itemtext {
            /*font-size: 0.5em;*/
        }

        #invoice-POS #legalcopy {
            margin-top: 15mm;
        }

        #invoice-POS .c1-text {
            float: left;
        }

        #invoice-POS .c1-num {
            float: right;
        }
}