@{
    Layout = null;
}
@using NeoERP.QuotationManagement.Service.Models
@model List<Company>

<link href="@Styles.Url("~/Areas/NeoERP.QuotationManagement/Content/quotationSetup.css")" rel="stylesheet" />


<div class="col-md-12 bodyController" ng-controller="quotationSetup">
    <div class="portlet light form-fit bordered bottomspance">
        <div class="portlet box green-box main">
            <div class="portlet-title">
                <div class="caption">
                    <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/QuotationManagement/Home/Dashboard">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                    <i class="fa fa-gift font-white-haze"></i>
                    <span class="caption-subject font-white-haze bold uppercase">Quotation Setup</span>
                </div>
            </div>
            <div class="portlet-body" ng-show="createPanel">
                <div class="row boxbg" style=" margin-top: 2rem;">
                    <form id="quotationForm" class="quotationform" ng-submit="saveData()" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="tenderId" id="" value="{{ID}}" ng-model="ID">
                        <div style="display:flex;margin-bottom:1rem;" class="col-md-12">
                            <div class="form-group">
                                <label for="address">Tender No </label>
                                <input type="text" id="tenderNo" placeholder="" ng-model="TENDER_NO" name="quoteNo" class="form-control" required readonly />
                            </div>
                            <div class="form-group" ng-show="createEdit">
                                <label>Date/Miti</label>
                                <div style="display:flex;">
                                    <input id="englishdatedocument" class="englishdate" onchange="setNepaliDateFromEnglish(this)" required ng-model="ISSUE_DATE" style="color: initial;border-color:red;" />
                                    <input type="text" id="nepaliDate" onchange="ConvertNepToEng()" style="width: 14rem;" class="nepali-calendar form-control" required />
                                </div>
                            </div>

                            <div class="form-group" ng-show="createEdit">
                                <label for="validDt">To be Deliver Date</label><br />
                                <input id="validDt" ng-model="VALID_DT" onchange="formatValidDate()" style="width: 27rem; font-size: 11px; " />
                            </div>

                            <div class="form-group" ng-if="panelMode === 'view'">
                                <label>Date/Miti</label>
                                <div style="display:flex;">
                                    <input type="text" class="form-control" readonly ng-model="ISSUE_DATE" style="width: 14rem;" />
                                    @*<input id="englishdatedocument" class="englishdate" onchange="setNepaliDateFromEnglish(this)" required ng-model="ISSUE_DATE" />*@
                                    <input type="text" id="nepaliDate" data-checkfor="englishdatedocument" ng-model="NEPALI_DATE" style="width: 14rem;" class="nepali-calendar form-control" readonly />
                                </div>
                            </div>

                            <div class="form-group" ng-if="panelMode === 'view'">
                                <label for="validDt">To be Delivery Date</label><br />
                                <input type="text" ng-model="VALID_DATE" class="form-control" id="validDt" readonly />
                            </div>
                            <div class="form-group" ng-if="panelMode === 'view'">
                                <label for="validDt">Status</label><br />
                                <input type="text" ng-model="APPROVED_STATUS" class="form-control" id="approvedStatus" readonly />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-container" ng-init="setInitialWidth()">
                                <div class="table-responsive">
                                    <table class="table-bordered table-striped modal-table">
                                        <tr>
                                            <td style="width: 49px;" class="table-head sticky">S.N</td>
                                            <td class="table-head sticky">Item Description</td>
                                            <td class="table-head">
                                                Specification
                                                <span class="arrow-wrapper" title="More Specification">
                                                    <span>
                                                        <i class="fa fa-arrow-circle-left" ng-click="toggleDetails()" ng-show="showSpecificationDetail" aria-hidden="true"></i>
                                                        <i class="fa fa-arrow-circle-right" ng-click="toggleDetails()" ng-hide="showSpecificationDetail" aria-hidden="true"></i>
                                                    </span>
                                                </span>
                                            </td>
                                            <td ng-show="showSpecificationDetail" class="table-head">Category</td>
                                            <td ng-show="showSpecificationDetail" class="table-head">Brand Name</td>
                                            <td ng-show="showSpecificationDetail" class="table-head">Interface</td>
                                            <td ng-show="showSpecificationDetail" class="table-head">Type</td>
                                            <td ng-show="showSpecificationDetail" class="table-head">Lamination</td>
                                            <td ng-show="showSpecificationDetail" class="table-head">Item Size</td>
                                            <td ng-show="showSpecificationDetail" class="table-head">Thickness</td>
                                            <td ng-show="showSpecificationDetail" class="table-head">Color</td>
                                            <td ng-show="showSpecificationDetail" class="table-head">Grade</td>
                                            <td ng-show="showSpecificationDetail" class="table-head">Size Length</td>
                                            <td ng-show="showSpecificationDetail" class="table-head">Size Width</td>
                                            <td class="table-head">Image</td>
                                            <td class="table-head">Unit</td>
                                            <td class="table-head">Quantity</td>
                                            <td class="btn-action" ng-show="createEdit">&nbsp;</td>
                                        </tr>
                                        <tr ng-repeat="product in productFormList">
                                            <td ng-show="idShowHide">
                                                <input type="hidden" name="product_ID" id="product_ID_{{product.ID}}" value="{{product.ID}}" ng-model="product.TID">
                                            </td>
                                            <td class="sticky">
                                                <input style="width:49px;" type="text" name="unit_{{product.ID}}" id="unit_{{product.ID}}" ng-model="product.ID" required="required" value="" readonly class="form-control">
                                            </td>
                                            <td class="sticky">
                                                <select id="itemSelected" name="item_{{product.ID}}" kendo-drop-down-list
                                                        k-options="{dataSource: ItemSelect.dataSource,dataTextField: 'ItemDescription', dataValueField: 'ItemCode',filter: 'contains', autoClose: true }"
                                                        slim-scroll ng-change="updateUnit(product)"
                                                        ng-model="product.ItemDescription"         ng-class="{'dropdown-view-mode': panelMode === 'view', 'dropdown-edit-mode': panelMode !== 'view'}"
                                                        ng-readonly="panelMode === 'view'">
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" name="specification_{{product.ID}}" id="specification_{{product.ID}}" ng-model="product.SPECIFICATION" required="required" class="form-control" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="showSpecificationDetail">
                                                <input type="text" name="category_{{product.ID}}" min="0" id="category_{{product.ID}}" ng-model="product.CATEGORY" class="form-control small-width" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="showSpecificationDetail">
                                                <input type="text" name="brandName_{{product.ID}}" id="brandName_{{product.ID}}" ng-model="product.BRAND_NAME" class="form-control small-width" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="showSpecificationDetail">
                                                <input type="text" name="interface_{{product.ID}}" id="interface_{{product.ID}}" ng-model="product.INTERFACE" class="form-control small-width" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="showSpecificationDetail">
                                                <input type="text" name="type_{{product.ID}}" id="type_{{product.ID}}" ng-model="product.TYPE" class="form-control small-width" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="showSpecificationDetail">
                                                <input type="text" name="lamination_{{product.ID}}" id="lamination_{{product.ID}}" ng-model="product.LAMINATION" class="form-control small-width right-align" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="showSpecificationDetail">
                                                <input type="text" name="itemSize_{{product.ID}}" min="0" id="itemSize_{{product.ID}}" ng-model="product.ITEM_SIZE" class="form-control small-width right-align" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="showSpecificationDetail">
                                                <input type="text" name="thickness_{{product.ID}}" min="0" id="thickness_{{product.ID}}" ng-model="product.THICKNESS" class="form-control small-width right-align" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="showSpecificationDetail">
                                                <input type="text" name="color_{{product.ID}}" id="color_{{product.ID}}" ng-model="product.COLOR" class="form-control small-width" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="showSpecificationDetail">
                                                <input type="text" name="lamination_{{product.ID}}" id="lamination_{{product.ID}}" ng-model="product.GRADE" class="form-control small-width right-align" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="showSpecificationDetail">
                                                <input type="number" name="sizeLength_{{product.ID}}" min="0" id="sizeLength_{{product.ID}}" ng-model="product.SIZE_LENGTH" class="form-control small-width right-align" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="showSpecificationDetail">
                                                <input type="number" name="sizeHeight_{{product.ID}}" min="0" id="sizeHeight_{{product.ID}}" ng-model="product.SIZE_WIDTH" class="form-control small-width right-align" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td ng-show="createEdit" style="display:flex;">
                                                <input type="file" name="image_{{product.ID}}" id="image_{{product.ID}}" ng-model="product.IMAGE" class="form-control large-width">
                                                <img ng-src="{{product.IMAGE_LINK}}" ng-if="product.IMAGE_NAME" style="max-width: 40px; max-height: 40px;">
                                                @*<input type="file" name="image_{{product.ID}}" id="image_{{product.ID}}" ng-model="product.IMAGE" required="required" class="form-control large-width" value="" readonly>*@
                                            </td>
                                            <td ng-if="panelMode === 'view'">
                                                <img name="image_{{product.ID}}" id="image_{{product.ID}}" ng-src="{{product.IMAGE_LINK}}" ng-model="product.IMAGE" class="form-control large-width" ng-click="openImage(product.IMAGE_LINK)" />
                                            </td>
                                            <td>
                                                <input type="text" name="unit_{{product.ID}}" id="unit_{{product.ID}}" ng-model="product.UNIT" readonly class="form-control small-width" value="">
                                            </td>
                                            <td>
                                                <input type="number" name="quantity_{{product.ID}}" min="0" id="quantity_{{product.ID}}" ng-model="product.QUANTITY" ng-change="updateAmount(product);updateTotal();updateQuantity()" class="form-control small-width right-align" ng-readonly="panelMode === 'view'">
                                            </td>
                                            <td class="btn-action" ng-show="createEdit">
                                                <a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="addRow()"><i class="fa fa-plus" data-toggle="tooltip" title="Add row"></i></a>
                                                <a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="deleteRow($index)"><i class="fa fa-trash" data-toggle="tooltip" title="Delete row"></i></a>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <div>
                                <label class="control-label">Remarks</label>
                                <textarea id="remarks" ng-model="TXT_REMARKS" class="form-control salestype" type="textarea" style="width:90%; height:29px;" ng-readonly="panelMode === 'view'"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="display:flex;">
                                <div class="col-md-8 text-right">
                                </div>
                                <div class="col-md-2" ng-if="panelMode === 'view'" ng-show="APPROVED_STATUS=='Approved'">
                                    <button type="button" class="btn btn-info" ng-click="generateLink()">Generate Link</button>
                                </div>
                                <div class="col-md-1 text-right">
                                    <button type="button" id="cancelTarget" name="cancelTarget" class="btn btn-default btn-sm" ng-click="Cancel();">Cancel</button>
                                </div>
                                <div class="col-md-1 text-right" ng-show="createEdit">
                                    <button type="submit" class="btn btn-success">{{saveAction}}</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="generatedLink"  ng-if="panelMode === 'view'" ng-show="APPROVED_STATUS=='Approved'">
                    Generated Link: <a href="{{ generatedUrl }}" target="_blank">{{ generatedUrl }}</a>
                </div>
            </div>
            
        </div>

        <div class="portlet-body light bg-inverse" ng-show="tablePanel">
            <div class="row" style="margin-top: 2rem; margin-bottom: 0.3rem;">
                <div class="col-md-3">
                    <div class="topsearch" style="display: block;">
                        <input class="k-textbox txtSearchString" type="text" id="itemtxtSearchString" ng-model="txtSearchString" name="search" placeholder="Search...." />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="actions text-right">
                        <a class="btn dark-green btn-sm addcolor" id="createbtn" ng-disabled="treenodeselected" ng-click="AddButtonClickEvent()" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Processing..." href="javascript:;" style="margin-left: 81rem;">
                            <i class="fa fa-plus"></i> NEW
                        </a>
                    </div>
                </div>
            </div>
            <div id="kGrid"></div>
        </div>
    </div>
</div>

<script>
    function dateSet(date) {
        var month = date.getMonth() + 1;
        var day = date.getDate();
        date = date.getFullYear() + '/' +
            (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day;
        return date;
    }
    function setNepaliDateFromEnglish() {
        var engDate = $("#englishdatedocument").val();
        var formattedDate = moment(engDate, 'M/D/YYYY').format('DD-MMM-YYYY');
        $("#englishdatedocument").val(formattedDate);
        var formattedEngDate = moment(engDate, 'M/D/YYYY').format('YYYY-MM-DD');
        var nepaliDate = AD2BS(formattedEngDate);
        $("#nepaliDate").val(nepaliDate);
    }
    function formatValidDate() {
        var engDate = $("#validDt").val();
        var formattedDate = moment(engDate, 'M/D/YYYY').format('DD-MMM-YYYY');
        $("#validDt").val(formattedDate);

        var issueDt = moment($("#englishdatedocument").val(), 'DD-MMM-YYYY');
        var validUntilDt = moment(engDate, 'M/D/YYYY');

        if (validUntilDt.isBefore(issueDt)) {
            displayPopupNotification("To be Deliver Date cannot be greater than  Date/Miti date.","error");
        }
    }
    //function showMessage(message) {
    //    var popMessageElement = $(".popContainer .popContent .popMessage");
    //    popMessageElement.text(message);
    //    $(".popContainer").show();
    //}

    function ConvertNepToEng(e) {
        var date = BS2AD($("#nepaliDate").val());
        var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
        $("#englishdatedocument").val(FormattedEngDate);
    }
    $(".nepali-calendar").nepaliDatePicker({
        //  ndpEnglishInput: 'englishdatedocument',
        npdMonth: true,
        onFocus: true,
        npdYear: true,
        npdYearCount: 10,
        altFormat: "dd-MMM-YYYY",
        dateFormat: "dd-MMM-YYYY",
        onChange: function (evt) {
            var nepaliDate = $("#nepaliDate").val(); // Get the Nepali date value
            var engDate = BS2AD(nepaliDate); // Convert Nepali date to English date
            var formattedEngDate = moment(engDate).format('DD-MMM-YYYY'); // Format the English date
            $("#englishdatedocument").val(formattedEngDate); // Update the English date input field
        }
    });
</script>
