@{ 
    ViewBag.Title = "Config Setup";
    Layout = "~/Areas/NeoERP.Planning/Views/Shared/_Layout.cshtml";
}
<div ng-controller="configCtrl">
    <div class="page-content1">
        <div class="page-bar">
            <ul class="page-breadcrumb"></ul>
        </div>
        <div class="portlet light" style="display: block;" stop-digest>
            <div class="portlet-body common_form customdesign">
                <fieldset class="fieldset_div">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">
                                User
                            </label>
                            <select id="users"
                                    kendo-multi-select style="width: 100%"
                                    k-options="userOptions"></select>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">
                                Plan Type
                            </label>
                            <select id="planType"
                                    kendo-multi-select style="width: 100%"
                                    k-options="planTypeOptions"></select>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">
                                Category
                            </label>
                            <select id="category"
                                    kendo-multi-select style="width: 100%"
                                    k-options="categoryOptions"></select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="SaveCategory" ng-click="saveCategoryInXml()" name="save" class="btn btn-green btn-circle btn-sm" style="margin-top:17px;">
                                <i class="fa fa-caret-right"></i> Save
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>