.form-elements.row.portlet-content {
    padding-left: 20px;
    padding-right: 20px;
}
.rightallign {
    font-weight: bold;
    font-size: 8px !important;
    float: right;
}

.comboBoxedescName {
    width: 65% !important;
    display: inline-block !important;
}

.nepali-calendar {
    max-width: 100% !important;
}



.nopaddinggap {
    padding-right: 0px;
}

.nopadding-left {
    padding-left: 5px;
}

.dynamic-table input {
    border: none;
    /*text-align: right;*/
}

.dynamic-table .autocompleteclass.searchProduct.k-input {
    text-align: left !important;
    height: 18px !important;
}

.bottomspance {
    padding: 2px 15px !important;
}

.portlet-title.mingap {
    min-height: auto !important;
}

.savebtn {
    margin-top: 10px;
    margin-left: 3px;
}

.dynamic-table input.form-control:focus {
    border: solid #43A12E 1px;
}

.dynamic-table .k-input.products.ng-pristine.ng-untouched.ng-valid.ng-empty:focus {
    border: none !important;
}

.dynamic-table .k-widget.k-autocomplete.k-header.autocompleteclass.searchProduct.k-state-default {
    background-color: none !important;
    box-shadow: none !important;
    border: none !important;
}

.dynamic-table td {
    /*padding: 3px !important;*/
}

.k-dropdown-wrap.k-state-default {
    background-color: #fff;
    box-shadow: none !important;
}

.title-header {
    text-align: left;
    display: inline-block;
}

    .title-header h4 {
        color: #093;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0;
        padding-top: 9px;
        padding-left: 23px;
    }

.current-info {
    border: 1px solid #ddd;
    margin-top: 5px;
    min-height: 152px;
    right: 20px;
    top: 104px;
    width: 26px !important;
    position: fixed;
}


.document-head {
    /*background-color: #eee;*/
    /*margin-top: 10px;*/
    /*margin-bottom:15px !important;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

    .document-head h6 {
        color: #2e2e2e !important;
        font-weight: 600;
        font-size: 10px !important;
        margin-top: 6px !important;
        margin-bottom: 6px !important;
    }

.user h6, .quotation h6, .date h6 {
    /*padding-top: 8px !important;*/
}

.boxbg {
    /*background-color: #ffffe1;*/
    padding-bottom: 15px;
}

.mingap {
    /*padding: 4px 20px 4px 20px !important;*/
    padding: 0 0 2px 0px !important;
}

.buttonlist {
    /*margin-top: 10px;*/
}

.value-summary {
    border: solid #ddd 1px;
    margin-top: 30px;
}

    .value-summary ul {
        margin-left: 0px;
        padding-left: 0px;
    }

    .current-info h6, .value-summary h6 {
        background-color: #eee;
        color: #2e2e2e !important;
        font-weight: 600;
        margin: 0;
        padding-bottom: 5px;
        padding-left: 12px;
        padding-top: 5px;
        width: 167px !important;
    }

.headtitle {
    transform: rotate(90deg);
}

.value-summary ul li {
    list-style: none;
    text-align: left;
    font-size: 11px;
    border-bottom: 1px solid #eee;
    padding: 5px;
}

    .value-summary ul li:last-child {
        border-bottom: none !important;
    }

.buttonadd i, .buttondelete i {
    /*display: table-cell !important;*/
    font-size: 12px !important;
}

.buttonadd {
    padding-right: 3px;
    padding-left: 3px;
    /*padding-top: 2px;*/
    margin-left: 5px !important;
    background-color: #ddd !important;
    color: forestgreen;
    border: solid #ccc 1px;
}

.buttondelete {
    padding-right: 2px;
    padding-left: 3px;
    /*padding-top: 2px;*/
    /*margin-left: 2px !important;*/
    background-color: #ddd !important;
    /*color: forestgreen;*/
    border: solid #ccc 1px;
}

    .buttonadd:hover, .buttondelete:hover {
        text-decoration: none !important;
        background-color: #fff !important;
    }

.text-danger {
    font-size: 16px !important;
}

.buttonlist i {
    padding-right: 5px !important;
}

.buttonlist a, .buttonlist button {
    font-size: 10px !important;
}

.buttonlist i {
    font-size: 10px !important;
}

.tabbox {
    border: solid #ddd 1px;
}

    .tabbox .nav-tabs {
        width: 100% !important;
    }

    .tabbox ul li.active a {
        background-color: mediumseagreen !important;
        color: #fff !important;
    }

        .tabbox ul li.active a:hover {
            background-color: mediumseagreen !important;
            color: #fff !important;
        }

.dynamic-table {
    margin: 10px;
}

.nogap_bottom {
    margin-bottom: 0px !important;
}

.summary-table {
    margin-top: 7px;
}

h1 {
    background-color: #dbc6d0;
    border: 1px solid rgba(255,255,255,0.9);
    border-bottom: none;
    border-radius: 0;
    box-shadow: 0 -1px 3px -1px rgba(0,0,0,0.25);
    color: #001f3f; /* navy */
    cursor: pointer;
    display: block;
    font: 200 170%/1.5 'Oswald', sans-serif;
    letter-spacing: 0.02em;
    margin: 0 1px;
    padding: 8px 12px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}

    h1:hover {
        background-color: #D1B3C2;
        color: #111;
    }



.dynamic-table input {
    font-size: 9px !important;
    height: 21px;
}

.documentmodule .k-dropdown-wrap.k-state-default {
    /*height: 22px !important;*/
    font-size: 11px !important;
}




.bottomspance .portlet-body {
    padding-top: 0px !important;
}

.documentmodule input .form-control, .dynamicform input {
    height: 21px;
    /*border: 1px solid #ddd;*/
    font-size: 10px !important;
    padding: 0 4px 0px 4px !important;
    position: relative;
}

#subledgermodal input.form-control {
    height: 21px !important;
}

.documentmodule label.control-label {
    font-size: 11px !important;
    padding-top: 4px !important;
    padding-bottom: 5px !important;
}

.documentmodule label {
    font-size: 11px !important;
    /*padding-top: 4px !important;
            padding-bottom:5px !important;*/
}


.nogap-left {
    padding-left: 0px !important;
}

.nogap-right {
    padding-right: 0px !important;
}

.column-gride-1 {
    width: 27%;
}

.column-gride-3 {
    width: 13%;
}


.documentform {
    margin-top: 5px !important;
}

.document-tab li a {
    padding: 8px 8px !important;
}

.dynamicform .form-group {
    margin-bottom: 3px !important;
}
/*
        .document-tab li.active a {
            color: mediumseagreen;
        }*/
.document-tab {
    margin-top: 10px;
}

.tabgaptop {
    margin-top: 5px !important;
}

.tab-content.d-tab-content label {
    font-size: 11px !important;
}


.backtolist, .savebutton, .resetbutton, .savebtn {
    color: #fff;
    font-size: 11px !important;
    padding: 5px 8px 4px 5px;
    position: relative;
    text-decoration: none;
    border-radius: 2px !important;
}

    .backtolist i {
        font-size: 15px !important;
        color: #666;
    }

.a_demo_four {
    background-color: #3bb3e0;
    background-image: linear-gradient(to top, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
}

.resetbutton {
}

    .a_demo_four:hover, .savebutton:hover, .resetbutton:hover {
        color: #fff !important;
    }

.gap {
    padding-top: 25px;
}



.nopadding-right {
    padding-right: 0px !important;
}

.dataTables_wrapper {
    border: solid #ddd 1px !important;
}

.custom-col-width {
    /*width: 96%;*/
    width: 100%;
}

.hideshow-infomation {
    width: 6% !important;
    padding-right: 0px;
    /*float:right;*/
}



.custom-width-2 {
    width: 4%;
    padding-right: 0px;
    padding-left: 10px;
    position: relative;
}

#style-switcher {
    margin-bottom: 15px;
}


#style-switcher, #style-switcher-2 {
    background: #fff none repeat scroll 0 0;
    z-index: 1000;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 180px;
    border: 1px solid #ddd;
}


#toggle-switcher, #toggle-switcher-2 {
    background: #999 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    /*font-weight: bold;*/
    /*height: 38px;*/
    /*  left: 9px;*/
    padding: 6px 5px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    top: 180px;
    transform: rotate(-90deg);
    transform-origin: 0 0 0;
    width: 180px;
}

.general-info, .general-info-2 {
    width: 100%;
    background: #fff;
    height: 100%;
    /*margin-left:35px;*/
    padding-left: 45px;
    padding-right: 5px;
    font-size: 10px;
    padding-top: 5px;
    left: 44px;
    position: absolute;
}


.calendar-icon {
    font-size: 11px;
    right: -9px;
    position: absolute;
    top: 3px;
    color: #666;
}


.calendar-icon-2 {
    font-size: 11px;
    right: 6px;
    position: absolute;
    top: 3px;
    color: #666;
}

.calendar-icon-3 {
    font-size: 11px;
    right: 8px;
    position: absolute;
    top: 3px;
    color: #666;
}


.tooltip {
    position: absolute !important;
    z-index: 800000 !important;
}

#customers-list li {
    font-size: 10px !important;
}

.modal-dialogbox-body label {
    font-size: 12px;
}

.modal-dialogbox-body .control-label {
    text-align: right;
}

.modal-dialogbox-body input.form-control {
    height: 20px;
    font-size: 11px;
    padding: 0px 5px;
}

.input-space {
    margin-left: 10px !important;
}

.autocompleteform .k-widget {
    border: solid 1px #e5e5e5 !important;
}

    .autocompleteform .k-widget input {
        height: 17px !important;
    }

.modal-table {
    margin-top: 15px;
    width: 100%;
}

    .modal-table th {
        padding: 3px;
        border-bottom: none !important;
    }

.k-widget.k-datepicker {
    width: 97%;
}

#subledgermodal.modal-dialog select {
    height: 21px;
}

#ledgermodal .modal-header {
    padding: 10px !important;
    background-color: #eee;
}

#ledgermodal .modal-body {
    padding: 10px !important;
}

#subledgermodal label {
    font-size: 11px;
}

fieldset legend {
    width: 14% !important;
}

.document_child_table .ACC_CODE {
    width: 27%;
}

.document_child_table .TRANSACTION_TYPE {
    width: 5%;
}

.document_child_table .AMOUNT {
    width: 10%;
}

.document_child_table .PARTICULARS {
    width: 23%;
}

.ACC_CODE_div {
    width: 27%;
}

.TRANSACTION_TYPE_div {
    width: 5%;
}

.AMOUNT_div {
    width: 10%;
}

.PARTICULARS_div {
    width: 23%;
}

.BUDGET_FLAG_div {
    width: 8%;
}

.select_option {
    width: 100%;
    height: 20px;
}

.documentform {
    position: relative;
}

.custom-btn {
    color: #fff;
    background-color: #60AA4E;
    border-color: #ccc;
}

.header-modal .modal-title {
    background-color: #eee;
}

.modal-table .k-dropdown-wrap {
    height: 20px !important;
    width: 100%;
    padding-right: 0px !important;
}

.modal-table .k-select {
    display: none !important;
}

.modal-table .k-input {
    height: 14px;
}

.modal-table .k-list ul li, .k-list.k-reset li {
    font-size: 11px !important;
}

.dynamic-table .k-dropdown-wrap {
    padding-right: 0px !important;
}


.modal-table input.k-input {
    font-size: 11px;
    overflow: auto !important;
    text-overflow: ellipsis !important;
}

.dropzone-download {
    font-size: 17px !important;
    position: absolute;
    top: 112px;
    right: 9px;
}

.actions .referenceCustomer input:hover, .actions .referenceCustomer input:focus, .ref_search_cus:hover input {
    width: 290px !important;
}

.ref_search_cus .referenceCustomer {
    width: 100% !important;
}

.ref_search_cus .k-dropdown-wrap .k-state-default {
    border-color: #ccc !important;
}

.menuDropdown .dropdown-menu {
    min-width: 175px;
    position: absolute;
    top: 67%;
    left: -87px;
    z-index: 5000;
}

    .menuDropdown .dropdown-menu:before, .menuDropdown .dropdown-menu:after {
        left: 151px;
    }

.modal_table_box input.k-input {
    border: none !important;
    height: 17px !important;
    font-size: 9px !important;
}

.modal_table_box .k-dropdown-wrap {
    border: 0px !important;
}

    .modal_table_box .k-dropdown-wrap.k-state-default {
        border: 0px !important;
        background-color: #fff !important;
    }

.modal_table_box input.form-control {
    border: 0px !important;
    font-size: 9px !important;
}

.documentform select, .documentform input {
    font-size: 9px !important;
    height: 21px;
}

.documentform select {
    padding: 0px 2px !important;
}

.dynamic-table .k-widget {
    width: 99.5%;
}

span.k-widget.k-combobox.k-header.referenceCustomer.ccustumer.cust.custumer.c.ng-pristine.ng-untouched.ng-valid.k-combobox-clearable.ng-empty {
    margin-top: -20px !important;
}

.col-xs-12.col-md-4.pr-0 {
    padding-right: 0;
}

.form-control {
    width: 27rem; /* Adjust the width as needed */
    padding: .375rem .75rem; /* Adjust the padding as needed */
    font-size: 12px; /* Adjust the font size as needed */
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-group {
    margin-right: 3rem;
    margin-bottom: 4px;
}

.form-control {
    padding: 0px 6px !important;
}

.k-widget.k-datepicker {
    width: 118%;
}

.small-width {
    width: 8.5rem;
}

.large-width {
    width: 14rem;
}

.table-head {
    font-weight: bold;
    padding: 6px 5px;
}

.right-align {
    text-align: right;
}

.table-container {
    overflow: auto; /* Add both horizontal and vertical scrollbars if content overflows */
    height: 20%; /* Set the height to 30% of its containing element */
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.table-responsive {
    /* Remove overflow-y property from .table-responsive to prevent double scrollbars */
    overflow-y: initial;
}

.modal-table {
    width: 100%; /* Ensure the table occupies 100% width of its container */
}

.btn-action {
    white-space: nowrap; /* Prevent button text from wrapping */
}

span.k-picker-wrap.k-state-default {
    height: 24px;
}

.popContainer {
    text-align: right;
}

.popContent {
    display: inline-block; /* Ensures the container only takes as much width as needed */
}

.popMessage {
    text-align: center;
    padding: 1px 5px;
    color: white;
    border-radius: 5px !important;
}

.arrow-wrapper {
    padding-left: 15rem;
}

.engNep {
    width: 13.5rem;
    border: solid #ddd 1px;
}

.logo-default {
    margin: 4px 0 0 !important;
    max-width: 70%;
}
ul li label {
    font-size: 10px !important; 
    font-weight:100;
    margin-bottom:0px !important;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
div[ng-show="showDiscountType"] {
    padding: 0;
    margin: 0;
    margin-left:5.5rem;
}
input[type=checkbox], input[type=radio] {
    margin: 0px 0 0;
    line-height: normal;
}
.discount-popup {
    position: absolute;
    left: calc(2% + 10px); /* Position it to the right of the Discount dropdown */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 4px !important; /* Curved border on the left side */
    top: 0.9rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Adjust the z-index value as needed */
}


.discount-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.discount-popup ul li {
        cursor: pointer;
        padding: 3px;
 }

.discount-popup ul li:hover {
    background-color: #f0f0f0;
}
.text-right {
    text-align: right;
}
.dropzone {
    min-height: 182px;
    width: 46rem;
}
.dropzone .dz-default.dz-message {
        width: 10px;
        height: 0px;
        margin-left: -15px;
        margin-top: -25.5px;
        position: absolute;
        transform: translate(-50%, -50%);
        background: none; /* Ensures no background image is shown */
    }
.upload-icon {
    font-size: 2em; /* Adjust the size of the icon as needed */
    color: #000; /* Adjust the color as needed */
}
.dropzone .dz-preview .dz-details .dz-size, .dropzone-previews .dz-preview .dz-details .dz-size {
    position: absolute;
    bottom: -28px;
    left: 3px;
    font-size: 11px;
    height: 31px;
    line-height: 22px;
}
.dropzone .dz-preview, .dropzone-previews .dz-preview {
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    display: inline-block;
    margin: -14px;
    width: 76px;
    vertical-align: top;
    border: 1px solid #acacac;
    padding: 4px 4px 4px 4px;
}
    .dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
        position: absolute;
        top: 0;
        left: 0;
        width: 67px;
        height: 67px;
    }

.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
    border-radius: 2px;
    border: 1px solid #eee;
    text-decoration: none;
    display: block;
    font-size: 10px;
    padding: 0px 21px;
    text-align: center;
    color: #aaa;
    margin-top: 4px;
}
.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
    width: 70px;
    height: 69px;
    position: relative;
    background: #ebebeb;
    padding: 5px;
    margin-bottom: 16px;
}
.sticky {
    position: sticky !important;
    left: 0 !important;
    background-color: white !important;
    z-index: 1 !important;
}