/*  Theme: Synergy
    Css:Nirmal Khadka
        
*/
body {
    background-color: #f8f8f8;
    display: block;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

/*navbar top*/
.navbar-brand img {
    max-width: 100%;
    width: 92px;
    float: left;
    padding: 0;
    margin: 0 -10px;
}

/* Login Page*/
.copy-neo > img {
    width: 64px;
    max-width: 100%;
    vertical-align: middle;
}


/*combobox*/
.ui-menu {
    width:280px !important;
    max-height:500px;
    overflow-y:auto;
    overflow-x:hidden;
}

    .ui-menu .ui-menu-item {
    padding:2px !important;
    border-bottom:1px solid #e1e1e1;
    }
/**/

.advOpt {
    text-decoration: underline;
    cursor: pointer;
    padding-top: 15px;
}

.extraBtn {
    position: absolute;
    margin-top: 2px;
    z-index: 999;
}

div#search form {
    margin-bottom: 5px;
}

select.dateFilterSelect, input.frmDataInput {
    margin-left: 8px;
    /* height: 20px; */
    padding: 2px 5px;
    border: 1px solid #ddd;
    max-width: 120px;
    font-size: 11px;
}

.filterDateOption {
    /* display: block; */
    float:left;
    margin-right:5px;
}

.frmCol, .ToCol {
    float: left;
    /* margin-right: -47px; */
    width: auto;
    position: relative;
    margin-right: 5px;
}

.copy-neo {
    background-color: #ddd;
    bottom: 0;
    color: #313131;
    font-size: 12px;
    line-height: 24px;
    min-height: 32px;
    padding: 10px 15px;
    position: absolute;
    text-align: right;
    text-transform: lowercase;
    width: 100%;
}

.login-panel {
    width: 300px;
    margin: 15% auto 0;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}

.login-container {
    height: 100%;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}

.login-panel .form-control {
    border-radius: 0;
    height: auto;
}

.login-title h3 {
    color: #179300;
    font-size: 16px;
    font-weight: 100;
    margin: 0;
}

.btn-login {
    background: #0094ff;
    width: 30%;
    color: #fff;
    margin-top: 10px;
}

a#menu-toggle {
    max-width: 51px;
}

.navbar-header {
    width: 100%;
}

.sidebar-search {
    float: left;
    max-width: 300px;
    margin-top: 1.5%;
    margin-right: 5px;
}

.ui-synright {
    float: right;
    margin-top: 0;
}

/*Dropdown menu right side*/
ul.dropdown-menu {
    position: absolute;
    right: 0px;
}


/*Tree trial balance jqgrid Css*/
tr.HeaderAccount td, tr.SubHeaderAccount td {
    border: 1px solid #e1e1e1 !important;
    background: #5a8bd9 !important;
    font-weight: 100 !important;
    color: #fff !important;
    font-size: 14px !important;
    font-family: arial;
}

/*search tab*/
#search label {
    font-weight: 200;
    padding-top: 8px;
    font-size: 12px;
}

#search .form-group {
    margin-top: 10px;
    margin-bottom: 0px;
}

    #search .form-group:last-child {
        margin-bottom: 10px;
    }

#search .form-control {
    padding: 0 12px;
    height: 25px;
    border-radius: 0;
    font-size: 12px;
    line-height: 24px;
}

#search ul li {
    display: inline-block;
    padding-right: 6px;
    list-style: none;
}

#search input[type="checkbox"], #search input[type="radio"] {
    margin-right: 8px;
    float: left;
}

.btn-group button.fa {
    border: 1px outset buttonface;
    border-radius: 4px;
    padding: 5px;
    color: #333;
}

.btn-group button.active {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

#search .col-sm2 {
    float: left;
    margin-right: 10px;
    margin-left: 15px;
    line-height:22px;
}

#search .btn {
    line-height: 1px;
    background-color: #f7f7f7;
    border-color: #e1e1e1;
    color: #808080;
    margin-top: 5px;
    padding: 3px 7px;
    font-size: 14px;
}

#search h5, #export h5 {
    padding-left: 15px;
    border-bottom: 1px dotted #ddd;
    padding-bottom: 5px;
}

.fa-file-excel-o:before {
    color: #2e821f;
}

.fa-file-pdf-o:before {
    color: #a90c0c;
}

.fa-file-code-o:before {
    color: #357ebd;
}

a.fa:hover {
    text-decoration: none;
}


/*export*/
div#export {
    position: absolute;
    right: 0;
    background-color: #fff;
}

#export i {
    font-size: 10px;
    font-style: normal;
}

#export ul {
    padding: 0;
    margin: 0;
}

    #export ul li {
        display: inline-block;
        list-style: none;
        padding: 10px;
        border-right: 1px dotted #ddd;
    }

        #export ul li a {
            color: #333;
            font-size: 24px;
            padding-right: 10px;
        }

        #export ul li:last-child {
            border-right: none;
        }

/*table*/
div#table {
    position: absolute;
    right: 58px;
    background-color: #fff;
}

#table ul {
    margin: 0;
    padding: 0;
}

    #table ul li {
        display: inline-block;
        list-style: none;
        padding: 10px;
        border-right: 1px dotted #ddd;
    }

        #table ul li a {
            font-size: 24px;
            padding-right: 10px;
        }

        #table ul li i {
            font-size: 10px;
            font-style: normal;
            color: #333;
        }

        #table ul li a:hover {
            text-decoration: none;
        }

        #table ul li:last-child {
            border-right: none;
        }

/*chart*/
div#chart {
    position: absolute;
    right: 0;
    background-color: #fff;
}

#chart ul {
    margin: 0;
    padding: 0;
}

    #chart ul li {
        display: inline-block;
        list-style: none;
        padding: 10px;
        border-right: 1px dotted #ddd;
    }

        #chart ul li a {
            font-size: 24px;
            padding-right: 10px;
        }

        #chart ul li i {
            font-size: 10px;
            font-style: normal;
            color: #333;
        }

        #chart ul li a:hover {
            text-decoration: none;
        }

        #chart ul li:last-child {
            border-right: none;
        }





.tree {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: 100%;
    overflow-y: auto;
    margin-top: 20px;
    float: left;
}

    .tree > ul {
        padding: 10px;
    }

    .tree p {
        display: inline;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
        cursor: pointer;
        padding-left: 5px;
    }

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 4px 0 0 2px;
        position: relative;
    }

        .tree li::before, .tree li::after {
            content: '';
            left: -28px;
            position: absolute;
            right: auto;
        }

        .tree li::before {
            border-left: 1px solid #ddd;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
            -webkit-transition: "border-color 0.1s ease 0.1s";
            -moz-transition: "border-color 0.1s ease 0.1s";
            -o-transition: "border-color 0.1s ease 0.1s";
            transition: "border-color 0.1s ease 0.1s";
        }

        .tree li::after {
            border-top: 1px solid #ddd;
            height: 20px;
            top: 13px;
            width: 30px;
            -webkit-transition: "border-color 0.1s ease 0.1s";
            -moz-transition: "border-color 0.1s ease 0.1s";
            -o-transition: "border-color 0.1s ease 0.1s";
            transition: "border-color 0.1s ease 0.1s";
        }

        .tree li span {
            border: 1px solid #ddd;
            display: inline-block;
            line-height: 16px;
            padding: 5px;
            text-decoration: none;
            -webkit-transition: color .2s ease .1s, background-color .2s ease .1s, border-color .3s ease .2s;
            -moz-transition: color .2s ease .1s, background-color .2s ease .1s, border-color .3s ease .2s;
            -o-transition: color .2s ease .1s, background-color .2s ease .1s, border-color .3s ease .2s;
            transition: color .2s ease .1s, background-color .2s ease .1s, border-color .3s ease .2s;
        }

        .tree li.parent_li > span {
            cursor: pointer;
        }

            .tree li.parent_li > span:hover {
                background-color: #179300;
                border: 1px solid #ebebeb;
                color: #fff;
            }

                .tree li.parent_li > span:hover + ul li::after {
                    border-top-color: #f89406;
                }

                .tree li.parent_li > span:hover + ul li::before {
                    border-left-color: #f89406;
                }

                .tree li.parent_li > span:hover + ul li span {
                    background: #fddfb3;
                    border: 1px solid #faa937;
                    color: #000;
                }

        .tree li:last-child::before {
            height: 14px;
        }

    .tree > ul > li::before, .tree > ul > li::after {
        border: 0;
    }

.tree-desc {
    margin-bottom: 10px;
    width: 100%;
    margin-top: 20px;
}

.tree-desc-content ul {
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}

    .tree-desc-content ul li {
        border-bottom: 1px dashed #ebebeb;
        display: block;
        float: left;
        margin-bottom: 8px;
        padding-bottom: 8px;
        width: 100%;
    }

.tree-desc {
    display: none;
}

.tab-panel {
    float: left;
    width: 100%;
    margin-top: 10px;
}

    .tab-panel .nav {
        float: right;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 0;
    }

        .tab-panel .nav li {
            float: right;
            border-color: #ebebeb;
            border-radius: 4px;
            border-top-width: 1px;
            border-left-width: 1px;
            border-style: solid;
            border-right-width: 0;
            border-bottom-width: 0;
        }

            .tab-panel .nav li:first-child {
                border-right-width: 1px;
            }

            .tab-panel .nav li.active {
                border: none;
                background: none;
                border-left: 1px solid #ebebeb;
            }

.tab-content {
    display: none;
}

.ui-jqgrid .ui-jqgrid-ftable {
    width: 100% !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none !important;
}

.ui-helper-hidden-accessible {
    display: none;
    visibility: hidden;
}

.ui-front {
    z-index: 99999;
}

#divBalanceSheetReport .fa-minus::before {
    content: '\f0dd';
    transform: rotate(325deg);
    -webkit-transform: rotate(325deg);
    -moz-transform: rotate(325deg);
    display: block;
}

#divBalanceSheetReport .fa-plus::before {
    content: '\f0da';
    display: block;
}

#divBalanceSheetReport a.fa {
    color: #808080;
}

    #divBalanceSheetReport a.fa:hover {
        color: #000;
    }

#divBalanceSheetReport a.fa-minus {
    color: #0a0a0a;
}


a:visited, a:focus, a:checked {
    border-color: transparent;
    text-decoration: none;
}

.filterizeDate label {
    font-size: 11px;
    font-weight: 100;
}

.filterizeDate select.dateFilterSelect, .filterizeDate input.frmDataInput {
    max-width: 112px;
}


.btn-preference {
    float: right;
    padding: 2px 6px;
    -webkit-appearance: none;
    background: #598AD8;
    border: 0;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
    border-radius: 2px;
}

    .btn-preference:hover {
        background: #87ACE5;
    }

.btn-pref-rem {
    background: rgba(182,52,38,1);
}

    .btn-pref-rem:hover {
        background: rgba(182,52,38,0.7);
    }

.adddiv div {
    float: left;
    width: 100%;
}

.adddiv input {
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    margin-bottom: 2px;
    padding: 0 5px;
    /* clear: both; */
    float: left;
    margin-right: 5px;
}

.pref-slide {
    float: left;
}

#roundSlider, #slider {
    clear: left;
    width: 144px;
    margin: 15px 0;
    height: 2px;
}

#slider1, #slider {
    clear: left;
    width: 140px;
    margin: 15px 0 0 8px;
    height: 2px;
}

#roundSlider1, #roundSlider {
    clear: left;
    width: 70px;
    margin: 15px 0 0 8px;
    height: 2px;
}

#periodSlider {
    clear: left;
    width: 214px;
    margin: 15px 0 0 8px;
    height: 2px;
}

span.ui-slider-handle.ui-state-default.ui-corner-all, a.ui-slider-handle.ui-state-default.ui-corner-all  {
    border-color: #99ff99;
    background-color: #2e6e9e !important;
}
/*.ui-slider-handle, .ui-state-default, .ui-corner-all {
    color: black;
    }*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: 100 !important;
    color: #000;
    font-size: 14px !important;
    font-family: Helvetica;
}

#slider .ui-slider-range {
    background: #729fcf;
}

#slider .ui-slider-handle {
    background: #99ff99;
    height: 8px;
    width: 8px;
    border-radius: 8px !important;
}

#roundSlider .ui-slider-range {
    background: #729fcf;
    border-radius: 8px !important;
}

#roundSlider .ui-slider-handle {
    border-color: #99ff99;
    height: 8px;
    width: 8px;
    border-radius: 8px !important;
}

#slider1 .ui-slider-range {
    background: #729fcf;
}

#slider1 .ui-slider-handle {
    background: #99ff99;
    height: 8px;
    width: 8px;
    border-radius: 8px !important;
}

#roundSlider1 .ui-slider-range {
    background: #729fcf;
}

#roundSlider1 .ui-slider-handle {
    border-color: #99ff99;
    height: 8px;
    width: 8px;
    border-radius: 8px !important;
}

#periodSlider .ui-slider-range {
    background: #729fcf;
}

#periodSlider .ui-slider-handle {
    border-color: #99ff99;
    height: 8px;
    width: 8px;
    background-color: blue;
    border-radius: 8px !important;
}

/*jqGrid*/

.ui-jqgrid .ui-jqgrid-caption {
    padding: 8px !important;
    background: #5a8bd9;
    color: #fff;
    border-radius: 0 !important;
}

.ui-corner-all {
    border-radius: 0 !important;
}



/*----Custom Css----*/
.btn-dropdown-custom {
    top: 6px;
    position: absolute !important;
    right: 0px;
}

.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr > td,.ui-widget-content {
    border:1px solid #e1e1e1 !important;
}
.modal-body {
    min-height:300px;
}

.modal-inner-popup .modal-body {
    min-height:100%;
    display:table;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    width: 130px;
    border-radius: 4px !important;
    height: 25px;
    font-size:11px !important;
}

.modal-inner-popup {
    width: 80%;
    margin: 6% auto 0;
    max-width: 600px;
    left: 100px;
}

.modal-body .form-group {
    display: table;
    width:100%;
}

.pref-input-div {
    float: left;
}

    .pref-input-div label {
        font-size: 12px;
        font-weight: 100;
    }

    .pref-input-div input {
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        padding: 2px 8px;
    }

.custom-combobox {
    position: relative;
    display: inline-block;
    background: #f7f7f7 !important;
    margin-right:5px;
}

.filterizeDate {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 2px;
}

span.space-cell {
    padding-left: 30px;
}

.window-load {
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    padding: 12% 0 0 50%;
    height: 100vh;
}

    .window-load img {
        width: 92px;
        margin: 0 auto;
        position: absolute;
    }

#wrapper {
    width: 100%;
    background-size: cover;
}

#page-wrapper {
    height: 94.75vh;
    overflow-y: auto;
}

#sidebar-wrapper {
    height: 100%;
}

.ui-neo-title {
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 18px;    
}
span.company {
    color: #66b255;
    margin-right: 5px;
}

span.branch {
    margin-left: 5px;
    font-size: 14px;
}

@media (min-width:768px) {
}
/*new one*/
select#comboboxP {
    font-size: 12px;
    height: auto;
    padding: 5px;
} 

/*new added*/

.left {
    float: left;
}
div#ExpanCollapse {
    padding: 5px 0;
    margin-bottom: 6px;
    margin-top: -5px;    
}

#ExpanCollapse span {
    margin-right:8px
}

    #ExpanCollapse input {
        max-width: 120px;
        height: auto;
        padding: 2px 6px;
        font-size: 12px;
        border: 1px solid #e1e1e1;
        margin-left: 5px;
        border-radius: 4px;
    }

input[name=minAmt], input[name=maxAmt] {
    text-align:right;
    max-width:150px;
}


.panel-default {
    border-radius:0;
}

.saleTarget .form-control {
    height: 28px;
    padding: 5px;
    font-size: 13px;
    border-radius: 0;
}

.neoHeadTitle span {
    width: 100%;
    float: left;
    text-align: center;
}

.neoHeadTitle {
    width: 100%;
}

.neoHeadTitle div {
    margin-top:2px;
    width: 100%;
    float: left;
}

#dvNiration span {
width:100%;
background:#fafafa;
border:1px solid #e1e1e1;
padding:2px 5px;
float:left;
}

 #DetailScreen {
        background: rgb(245, 245, 245) none repeat scroll 0 0;
        border: 5px solid #cccccc;
        display: none;
        height: 530px;
        position: absolute;
        top: 86px;
        width: 900px;
        z-index: 1000;
        padding:5px 0;
    }

    #VoucherScreen {
        background: rgb(245, 245, 245) none repeat scroll 0 0;
        border: 5px solid #cccccc;
        display: none;
        height: 530px;
        position: absolute;
        top: 120px;
        width: 800px;
        z-index: 1000;
        padding:5px 0;
    }



/*.ui-jqgrid .ui-jqgrid-htable {
    width:100% !important;
}
.ui-jqgrid .ui-jqgrid-btable {
    width:100% !important;
}*/


td {
    font-family:arial;
}


input.readOnlyInput {
    max-width: 72px !important;
    font-size: 11px;
    border: 1px solid #ddd;
}