
<style>

    input:invalid, textarea:invalid {
        background-color: #f0dddd;
    }

    .name {
        color: #3F51B5;
        font-weight: bold;
    }

    .document-tab {
        width: 100% !important;
    }

    .w-100 {
        width: 100% !important;
    }



    .d-tab-content {
        border: solid #ddd 1px;
        border-top: none !important;
        margin-top: -10px !important;
    }



    .no_gap input {
        margin-top: 1px !important;
    }


    .document-tab li {
        float: left !important;
        border-right: solid #ddd 1px;
    }

    .document-tab {
        background-color: #eee;
        border-bottom: solid #ddd 1px;
    }

        .document-tab li a {
            color: #333;
            font-size: 11px;
            margin-right: 0px !important;
        }


        .document-tab li.active a {
            color: forestgreen;
            Background-color: #fff;
            margin-right: 0px !important;
            border-top: solid #43A12E 2px;
            border-bottom: none !important;
            border-right: none;
        }

        .document-tab li a:hover {
            background-color: #fff;
            border-top: solid #43A12E 2px;
            border-bottom: none !important;
            border-right: none;
        }

        .document-tab li.active a:hover {
            background-color: #fff;
            border-top: solid #43A12E 2px;
            border-right: none;
        }



    .form-control.ng-pristine {
        /*text-align:left !important;*/
    }

    .dynamicform .k-dropdown-wrap.k-state-default input {
        border: none !important;
        /*height:22px !important;*/
    }

    .dynamic-table .k-dropdown-wrap, .dynamic-table .k-input.products {
        border: none !important;
        box-shadow: none !important;
    }

        .dynamic-table .k-dropdown-wrap .k-state-focused, .dynamic-table .k-dropdown-wrap.k-state-default.k-state-focused {
            border: solid green 1px;
        }

    .dynamic-table .k-icon, .dynamicform .k-icon {
        display: none;
    }

    .autocomplete-text, .mutextbox {
        text-align: left !important;
    }

    .textbox {
        text-align: right !important;
    }

    .texttextbox {
        text-align: left !important;
    }
    /*.d-tab-content .tab-pane.active
    {
        max-height:171px;
        overflow-y:auto;
    }*/
    .documentform .tabbable {
        width: 101.5%;
    }

    .dynamic-table tbody {
        /*display: block;*/
        max-height: 140px !important;
        /*overflow:auto !important;*/
    }

        .dynamic-table thead, .dynamic-table tbody tr {
            /*display: table;
            width: 100% ;
            table-layout: fixed;*/
        }

   

    .autocomplete-text, .mutextbox {
        width: 100%;
    }

    .dynamic-table td {
        border-top: none !important;
    }

    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .dynamicform .k-dropdown-wrap.k-state-default input {
        border: none !important;
    }

    .dynamic-table .k-dropdown-wrap, .dynamic-table .k-input.productItemCodeOption {
        border: none !important;
        box-shadow: none !important;
    }

        .dynamic-table .k-dropdown-wrap .k-state-focused, .dynamic-table .k-dropdown-wrap.k-state-default.k-state-focused {
            border: solid green 1px;
        }

    .dynamic-table .k-widget {
        width: 100%;
    }

    .dropzone {
        width: 100%;
        height: 300px;
        max-height: 500px !important;
    }
</style>



<div class="tabbable">

  

    <div>
        <button ng-click="SaveAddedPrice()" style="float:right !important;margin-top: -20px;"  class="btn green btn-success">{{ActionButton}}</button>
    </div>

    <ul id="myTab" class="document-tab nav nav-tabs ">
        <li class="active">
            <a href="javascript:void" data-toggle="tab">
                Item Price List
            </a>
        </li>
    </ul>

    <div class="tab-content d-tab-content">

        <div ng-if="isEdit">

            <div class="tab-pane active" id="tab_15_1">
                @*contextMenu: ['row_above', 'row_below', 'remove_row']*@
                <hot-table id="hot" hot-id="priceSetupTable" settings="{colHeaders: colHeaders, afterChange:afterChange}"
                           row-headers="false"
                           min-spare-rows="minSpareRows"
                           datarows="db.items"
                           class="htLeft">
                    <hot-column data="ITEM_CODE" title="'ITEM ID'" read-only width="80"></hot-column>
                    <hot-column data="ITEM_EDESC" title="'Item Name'" type="grayedOut" read-only width="400">
                        <template data-hot-role="renderer" is="dom-template">
                            <bold-renderer value="ITEM_EDESC" width="8-"></bold-renderer>
                        </template>
                    </hot-column>
                    <hot-column data="MU_EDESC" title="'Unit'" read-only width="100"></hot-column>
                    <hot-column data="NEW_PRICE" title="'New Price (Rs.)'" type="'numeric'" format="'0.00'" width="150"></hot-column>
                    <hot-column data="OLD_PRICE" title="'Old Price (Rs.)'" type="'numeric'" format="'0.00'" width="150" read-only></hot-column>
                    @*<hot-column data="STATUS" title="'Is Active'" type="'checkbox'" width="80" read-only checked-template="'Yes'" unchecked-template="'No'"></hot-column>*@
                </hot-table>
            </div>
        </div>

        <div ng-if="!isEdit">
            <div class="tab-pane active" id="tab_15_1">
                @*,contextMenu: ['row_above', 'row_below', 'remove_row']*@
                <hot-table hot-id="priceSetupTable" settings="{colHeaders: colHeaders, afterChange:afterChange}"
                           row-headers="false"
                           min-spare-rows="minSpareRows"
                           max-rows="db.items.length"
                           datarows="db.items"
                           class="htLeft handsontable">
                    <hot-column data="ITEM_CODE" title="'ITEM ID'" read-only width="80"></hot-column>
                    <hot-column data="ITEM_EDESC" title="'Item Name'" type="grayedOut" read-only width="400">
                        <template data-hot-role="renderer" is="dom-template">
                            <bold-renderer value="ITEM_EDESC" width="8-"></bold-renderer>
                        </template>
                    </hot-column>
                    <hot-column data="MU_EDESC" title="'Unit'" read-only width="100"></hot-column>
                    <hot-column data="NEW_PRICE" title="'New Price (Rs.)'" type="'numeric'" format="'0.00'" width="300" style=""></hot-column>
                    @*<hot-column data="STATUS" title="'Is Active'" type="'checkbox'" width="80" read-only checked-template="'Yes'" unchecked-template="'No'"></hot-column>*@
                </hot-table>
            </div>
        </div>
    </div>
</div>








