
   
    <div ng-repeat="element in CustomFormElement" class="dynamicform">
       
        <div class="form-group clearfix">
            <div class="col-md-3 col-xs-12 col-sm-3 nogap-right column-gride-3">

                <label for="element">{{element.FIELD_NAME}}</label>
            </div>
            <div class="col-md-5 col-xs-12 col-sm-5">
                <input type="text" id="element__{{element.FIELD_NAME}}" ng-model="customModels[element.FIELD_NAME]" class="form-control" />
            </div>
        </div>
      


    </div>

