<div class="col-xs-1 col-sm-1 col-md-1 custom-width-2">
    <div id="style-switcher">
        <div id="toggle-switcher" style="cursor:pointer;" class="">
            General Info
        </div>

        <table class="general-info" ng-repeat="item in ItemInfo">
            <tr>
                <td>Item Code : </td>
                <td>{{item.ItemCode}}</td>
            </tr>
            <tr>
                <td>Item Desc : </td>
                <td>{{item.ItemDescription}}</td>
            </tr>
            <tr>
                <td>Unit : </td>
                <td>{{item.ItemUnit}}</td>
            </tr>
            <tr>
                <td>Category : </td>
                <td>{{item.Category}}</td>
            </tr>
            <tr>
                <td>Created By : </td>
                <td>{{item.CreatedBy}}</td>
            </tr>
            <tr>
                <td>Created Date : </td>
                <td>{{item.CreatedDate}}</td>
            </tr>
        </table>

    </div>
    <div id="style-switcher-3">
        @*<div id="toggle-switcher-3" style="cursor:pointer;" class="">
            Quick Setup
        </div>*@
        <p class="general-info-3">
            <a class="btn btn-circle btn-icon-only btn-default" id="custBtn" ng-click="quickSetupModal('Customer')" href="javascript:void(0);" title="Customer Setup">
                <i class="fa fa-users" aria-hidden="true"></i>
            </a>
            <a class="btn btn-circle btn-icon-only btn-default" id="itemBtn" ng-click="quickSetupModal('Item')" href="javascript:void(0);" title="Item Setup">
                <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            </a>
            <a class="btn btn-circle btn-icon-only btn-default" id="suppBtn" ng-click="quickSetupModal('Supplier')" href="javascript:void(0);" title="Supplier Setup">
                <i class="fa fa-users" aria-hidden="true"></i>
            </a>

        </p>
    </div>
    @*<div id="style-switcher-2">
        <div id="toggle-switcher-2" style="cursor:pointer;" class="">
            General Info
        </div>
        <p class="general-info-2">
            Simply fill out the form below, and we'll contact you shortly.
        </p>
    </div>*@
</div>
