<style>
    span.k-picker-wrap.k-state-default {
        height: 19px;
    }

    .documentform .k-select {
        border: none !important;
        width: 18px;
        margin-top: 1px;
    }

    span.k-icon.k-i-calendar {
        display: inline-block;
        margin-bottom: 5px !important;
        /* width: 17px; */
    }

    .borderRed {
        border: 1px solid rgb(255, 0, 0);
    }

    .w-254 {
        width: 254px !important;
    }
</style>

<div class="col-md-12 form-group nopadding-right dynamicform">

    <div class="col-md-4">
        <label for="element">Price Name</label>
        <div>
            <input type="text" id="priceNameList" class="form-control" ng-model="MasterField.PriceListName" />
        </div>

    </div>

    <div class="col-md-6">
        <label for="element">Date/Miti</label>
    </div>

    <div>
        <div>
            <div class="col-xs-3 col-sm-3 col-md-3 nopaddinggap pr-1">
                <input id="englishdatedocument" class="englishdate" kendo-date-picker
                       ng-model="MasterField.DateEnglish"
                       k-options="monthSelectorOptions" />
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 pl-1">
                <input type="text" id="nepaliDate5" ng-model="MasterField.DateNepali" data-checkfor="englishdatedocument" onchange="ConvertNepToEng(this)" @*ng-blur="ConvertNepToEng($event.keyCode);"*@ @*onfocusout="showNdpCalendarBox('nepaliDate5');"*@ class="nepali-calendar" next-on-tab />
                <i class="fa fa-calendar form-control-feedback calendar-icon-2"></i>
            </div>
        </div>

    </div>


    <div class="col-md-2" style="margin-top:-25px !important;">
        <label for="element">Status</label>
        <div>
            <input type="checkbox" id="status" ng-model="MasterField.Status" />
        </div>
    </div>


</div>

<div class="col-md-12 form-group nopadding-right dynamicform">

    <div class="col-md-4">
            <label for="element">Company Name</label>
            <select ui-select2 class="form-control input-medium select2me" @*ng-change="FetchItemBasedOnCompany()"*@ ng-model="selectedCompany">
                <option value="">---Select Company---</option>
                <option value="{{cnl.CompanyCode}}" ng-repeat="cnl in CompanyNameList">{{cnl.CompanyName}}</option>
            </select>
    </div>

    <div class="col-md-4" style="margin-top:25px !important;">

        <div class="btn-group">
            <div ng-if="isEdit">
                <button ng-click="FetchItemBasedOnCompany()" class="btn green btn-success" disabled>Search</button>
            </div>
            <div ng-if="!isEdit">
                <button ng-click="FetchItemBasedOnCompany()" class="btn green btn-success">Search</button>
            </div>
        </div>
    </div>

</div>
