
<div id="tableColReference">
    <input id="tableColumn_reference" ng-model="col.COLUMN_NAME" name="tableCol" class="columnReference" style="width: 98%;" kendo-drop-down-list
           k-option-label="'--Select Column--'"
           k-data-text-field="'columnheader'"
           k-data-value-field="'columnsName'"
           @*k-filter="'contains'"
           k-auto-bind="true"
           k-suggest="false"*@
           k-options="tableColumnOption"
           @*K-on-change="checkValidation(kendoEvent)"
           k-min-length="3" *@/>
</div>
