/*date picker css*/
.pull-right.tooltips.btn.btn-sm.positon-down {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 8px #ddd;
    margin-bottom: 5px;
    padding-bottom: 12px;
    margin-top: 5px;
}

#spandate {
    position: relative;
}

.rightside {
    color: green;
    font-size: 10px;
    left: 0;
    position: absolute;
    top: 15px;
}

.leftside {
    color: green;
    font-size: 10px;
    position: absolute;
    right: 4px;
    top: 15px;
}

.br {
    min-height: 8px;
}

.spaceing a {
    margin: 2px !important;
}

/*date picker css end here*/
.accountname:hover {
    color: #096 !important;
}
/*.close
{
 margin-top: -6px;
 position: absolute;
}*/

.k-footer-template div {
    border-bottom: 1px dashed #666;
}

/*.btn.green {
    margin-left: 10px !important;
}*/
.k-multiselect-wrap {
    min-height: 2.47em !important;
}

    .k-multiselect-wrap .k-input {
        /*margin-top:0px !important;*/
        margin-top: 0px !important;
    }

    .k-multiselect-wrap li {
        /*margin: 2px 2px 1px 4px !important;*/
    }
/*.nav-tabs > li {
    display: inline-block !important;
     
}
.form-body {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.form-body label
{
	padding-top:5px !important;
	
}

.portlet.light.bordered {
    border: 1px solid #e1e1e1 !important;
    box-shadow: 0 0 5px 1px #ddd;
}
.k-list-container.k-popup.k-group.k-reset
{
  min-height: 285px !important;	
}

.k-list-container.k-popup.k-group.k-reset.k-state-border-up
{
	max-width:300px !important;
	 overflow-x: auto !important;
	
}
.k-widget.k-treeview
{
	max-height:300px !important;
	  padding-bottom: 10px !important;
	
}

 #customerTab > h3 {
    padding-left: 5px;
    padding-top: 10px;
}

.nav-tabs > li > a
{
	margin-right:0px !important;
	
}*/


.portlet.box.green {
    border: none !important;
}

.icon-play {
    color: #fff;
}

.ledgericon i:hover {
    color: green;
}

.k-widget {
    /*margin-bottom:8px;*/
}
/*.modal-body.sales-modal
{
    margin-bottom:0px !important;
}*/
.modal-custom, .modal-Preference, .modal-AgeingReport, .customwith {
    max-width: 500px;
}
/*.modal-header
{
    padding:0!important;

}*/
.modal-title {
    padding-top: 4px !important;
}

.custom-modal-footer {
    padding-bottom: 0px;
}

.modal-title {
    /*padding-left:15px;
    padding-bottom:10px;*/
}

.modal .modal-header .close {
    font-size: 102px;
    margin-right: 3px !important;
    margin-top: 3px !important;
}

.actions {
    padding: 0px;
}

.datepicker-gap {
    /*margin-bottom: 5px !important;
    margin-right: 2px !important;
    margin-top: 5px !important;*/
}
/*,.tooltips-date*/
#RunQuery {
    /*margin-right:5px;*/
}

.btn-group {
    margin-right: 0px !important;
}

.gap-right {
    /*margin-right:5px;*/
    margin-left: 2px !important;
    margin-right: 2px !important;
}


.dropdown-menu li > a {
    font-size: 12px;
    line-height: 16px;
}

.md-checkbox label > .box {
    border: 1px solid #999 !important;
    height: 17px;
    width: 17px;
}

.left-btn-apply {
    margin-bottom: 5px;
    margin-left: 15px !important;
    margin-top: 5px;
}

#customerMultiSelect-list, #purchaseDocumentMultiSelect-list, #supplierMultiSelect-list, #productMultiselect-list, #documentMultiSelect-list, #partyTypeMultiSelect-list, #categoryMultiSelect-list, #locationMultiSelect-list, #companyMultiSelect-list, #BranchMultiSelect-list, #BranchMultiSelect_MonthlySalesCollectionPartial_listbox {
    /*max-height:250px;*/
    /*overflow-x:auto;*/
}

#customerMultiSelect-list {
}

#customerTreeView {
    /*height: 150px !important;*/
    max-height: 400px !important;
    overflow: hidden !important;
    width: auto !important;
    /*padding-top:8px;*/
}

#ageingFilterTreeTabs {
    margin-bottom: 0px !important;
}

#supplierTreeView {
    /*height:234px !important;*/
    margin-bottom: 0px !important;
}

.k-list.k-reset {
    overflow: hidden;
    max-height: 400px !important;
}

.slimScrollDiv {
    height: auto !important;
}

.btngap {
    margin-right: 0px !important;
}

.sales-modal {
    padding-bottom: 0px;
}

    .sales-modal .md-checkbox-inline.md-checkbox {
        margin-right: 15px !important;
    }

.md-checkbox label {
    padding-left: 26px !important;
}

.k-link input {
    margin-right: 5px !important;
}

.dropdown-menu li > a, .dropdown-menu {
    /*padding: 8px 11px !important;
   white-space: nowrap !important;
  width: 100%;                   
  overflow: hidden !important;              
  text-overflow: ellipsis !important*/
}

    .dropdown-menu li > a span {
        right: 5px !important;
    }

.dropdownlist .dropdown.open > .dropdown-toggle {
    background-color: #ccc !important;
}

.dropdownlist li ul.dropdown-menu {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px 1px #eee;
    border-radius: 0 0 6px 6px !important;
    max-height: 300px;
    overflow-x: auto;
    overflow-y: scroll;
}

.page-content.full-width {
    margin-left: 0px;
}

img.img-responsive.mix-width-full {
    width: 100%;
}

.chart-full-height {
    height: 550px !important;
}

.chart-portlet-height {
    height: 336px !important;
}

/*.dropdown > .dropdown-menu::before, .dropdown-toggle > .dropdown-menu::before, .btn-group > .dropdown-menu::before
  {
border-bottom: 8px solid #ccc !important;


  }*/


/*caledar report filter css*/
.calendarreport-filter {
    max-width: 500px !important;
}

.bt-apply {
    background: #57ab44 !important;
    border: medium none !important;
    color: #fff;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 5px;
    padding: 8px 14px;
    margin-bottom: 10px;
}

    .bt-apply:hover {
        background-color: #57ab44 !important;
    }
/*#customerToggle, #supplierToggle, #customerToggle_BranchWiseSalesCollectionPartial, .chartbtn, #locationToggle {
    padding: 5px 16px !important;
}*/
.expand-collapse {
    padding: 5px 16px;
}

.bt-dismiss {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: gray;
}

.demo-section.k-content .form-group {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.modal-footer.gapline {
    padding-bottom: 0px;
}

.ReportTitleWiseTreeListView {
    /*margin-top: 15px;*/
}

.k-multiselect-wrap {
    min-height: 2.04em !important;
}

.sales-modal .k-group.k-treeview-lines, #ConsolidateModal .k-group.k-treeview-lines, .custom-chart .k-group.k-treeview-lines {
    max-height: 200px !important;
}

/*#productToggle
{
padding:5px 16px !important;

}*/
#ddlReportList_listbox {
    max-height: 182px;
}


/*new tab css style start here*/
.tabbable-line > .nav-tabs > li.active,
.tabbable-line > .nav-tabs > li:hover {
    border-bottom: none !important;
}

.tab2 ul li span.lclose {
    content: "\f00d";
    font-family: FontAwesome;
    color: #8b0000;
    font-size: 23px !important;
    position: absolute;
    font-size: 20px;
    top: -3px;
    font-weight: bold !important;
}
/*.nav.nav-tabs.dropdownlist
 .content-menutab {
    background-color:#ddd;
     margin-left:240px !important;
}*/
.dropdownlist li {
    margin-left: 0px !important;
    margin-right: 0px !important;
}



.dropdownlist li.active a, .dropdownlist li.active a:hover {
    background: #46a930 !important;
    background: -moz-linear-gradient(220deg, transparent 10px, #46a930 10px) !important;
    background: -webkit-linear-gradient(220deg, transparent 10px, #46a930 10px) !important;
    background: -ms-linear-gradient(220deg, transparent 10px, #46a930 10px) !important;
    background: -o-linear-gradient(220deg, transparent 10px, #46a930 10px) !important;
    background: linear-gradient(220deg, transparent 10px, #46a930 10px) !important;
    color: #fff !important;
    float: left;
    padding: 10px 15px !important;
    text-decoration: none;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.close {
    margin-top: 5px !important;
    margin-right: 1px !important;
}

.content-menutab {
    padding: 5px 0 0px !important;
}

.dropdownlist li a:hover {
    background: #c93434;
    background: -moz-linear-gradient(220deg, transparent 10px, #fff 10px);
    background: -webkit-linear-gradient(220deg, transparent 10px, #fff 10px);
    background: -ms-linear-gradient(220deg, transparent 10px, #fff 10px);
    background: -o-linear-gradient(220deg, transparent 10px, #fff 10px);
    background: linear-gradient(220deg, transparent 10px, #fff 10px);
    color: #333 !important;
}


#menutabs a:focus, .dropdownlist li a:focus {
    outline: 0;
}

.dropdownlist li, li.dropdown.pull-right.tabdrop.active.open ul li.active {
    background: #eee;
    background: -moz-linear-gradient(220deg, transparent 10px, #eee 10px) !important;
    background: -webkit-linear-gradient(220deg, transparent 10px, #eee 10px);
    background: -ms-linear-gradient(220deg, transparent 10px, #eee 10px);
    background: -o-linear-gradient(220deg, transparent 10px, #eee 10px);
    background: linear-gradient(220deg, transparent 10px, #eee 10px);
    text-shadow: none;
    color: #000 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}


/*new tab css style end here*/

.form-control {
    /*border-radius:4px !important;*/
    /*height: 35px !important;*/
}

.btn-circle {
    border-radius: 20px !important;
}
/*#reportFilterShow_ChartDashboard
{
   margin:3px 2px !important;
}*/
.button_space a {
    margin-right: 4px !important;
}

.page-toolbar .btn-icon-only {
    margin: 2px 1px !important
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 1em;
    border: 2px groove;
}

.k-widget.k-multiselect.k-header1, .k-widget.k-multiselect.k-header.k-state-border-up, .k-multiselect-wrap.k-floatwrap {
    max-height: 100px;
    overflow-y: auto;
}

.slimScrollRail {
    height: 93% !important;
}

#ddlReportList_listbox {
    max-height: 107px;
}

.k-floatwrap {
    /*max-height:100px;*/
    /*overflow-y:auto;*/
}

.pull-right.tooltips-date.btn.btn-sm.datepicker-gap {
    box-shadow: 1px 1px 2px 1px #ddd;
    -moz-box-shadow: 1px 1px 2px 1px #ddd;
    -o-box-shadow: 1px 1px 2px 1px #ddd;
    -webkit-box-shadow: 1px 1px 2px 1px #ddd;
}

.media img {
    border-radius: 50% !important;
    float: left;
    height: 45px !important;
    margin-right: 10px;
    opacity: 0.8;
    width: 45px !important;
}

.unstall.btn.btn-danger, .btn.btn-success.install {
    margin-top: 10px;
    /*border-radius:2px 13px !important;*/
}

    .unstall.btn.btn-danger:hover, .btn.btn-success.install:hover {
        border-radius: 5px !important;
        transition: all 0.1s ease 0.1s;
    }

.media-heading-sub {
    padding-top: 5px;
}

    .media-heading-sub a {
        border-radius: 5px !important;
    }


hr {
    border-color: #576d87 -moz-use-text-color -moz-use-text-color !important;
}

.btn.btn-success.install {
    margin-top: 8px;
    color: #fff !important;
}

#customerToggle_MonthlySalesChart, #productToggle_MonthlySalesChart, #customerToggle_MonthlyBranchSalesChart, #productToggle_MonthlyBranchSalesChart, #customerToggle_WeeklyCollectionChartPartial, #productToggle_WeeklyCollectionChartPartial, #customerToggle_DivisionSalesChartPartial, #productToggle_DivisionSalesChartPartial, #customerToggle_CategoryChart, #productToggle_monthlySalesChart {
    /*padding-bottom:1px !important;*/
}

.btn-group.weeklyCollection_options {
    /*margin-bottom:10px;*/
}

.icheck-inline {
    /*margin-top:10px;*/
}

.slimScrollDi {
    height: auto !important;
}

.k-list-container.k-popup.k-group.k-reset.k-state-border-up {
    /*max-height:100px;*/
}

.export-pdf i {
    margin-right: 5px !important;
}

#accountMultiSelect-list
/*#accountMultiSelect_listbox,*/
.custom-chart, .modal-dialog.custom-chart {
    max-width: 500px !important;
}

.bottom-gapping {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.choosefield {
    float: right;
}

.bottom-gappingtwo {
    padding-bottom: 0px !important;
    padding-top: 5px !important;
}

.inputgap {
    margin-top: 8px;
}

.chart-option {
    display: inline-flex;
    /*margin:10px 0px 10px 0px;*/
    margin-top: 18px;
}

.monthlysaleschart {
    float: left;
}


/*.chartbtn
{
    padding-bottom:2px !important;
}*/
.note-editable {
    max-height: 150px;
}


.buttons {
    margin-top: 15px !important;
}

.rightalign {
    text-align: left !important;
}

.dashboard-stat {
    margin: 10px 0 10px 0 !important;
}

.margin-buttom, .margin_bottom {
    margin-bottom: 5px !important;
}

.btn.default:hover, .btn.default:focus, .btn.default:active, .btn.default.active {
    background-color: #1BBC9B !important;
    color: #fff !important;
}

.btn.default.active, .btn.default:hover, .btn.default:focus {
}

.gapspace {
    margin-top: 10px !important;
}

.nogap h4 {
    margin-bottom: 0px !important;
}

.modal-footer {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}
/*.modal-body
{
    padding-bottom:0px;
}*/
.red.btn:hover, .red.btn:focus, .red.btn:active, .red.btn.active, .green.btn:hover, .green.btn:focus, .green.btn:active, .green.btn.active {
}

.weeklyCollection_options button.active {
    background-color: hsl(120, 100%, 25%) !important;
}
/*.lcolor
{
    color:#aaaaaa !important;

}*/
.page-sidebar .page-sidebar-menu > li.open > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
}

    .page-sidebar .page-sidebar-menu > li.open > a i,
    .page-sidebar .page-sidebar-menu > li:hover > a i,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a i,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a i {
        color: #fff !important;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open::before, .page-sidebar .page-sidebar-menu > li:hover > a > .arrow::before, .page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open::before, .page-sidebar .page-sidebar-menu > li.open > a > .arrow::before, .page-sidebar .page-sidebar-menu > li.open > a > .arrow.open::before {
        color: #fff !important;
    }

.responsivegap button, .dgride button {
    /*padding:7px 11px !important;*/
}

.k-button.k-button-icontext.k-grid-excel, .k-button.k-button-icontext.k-grid-pdf {
    /*margin-top: 2px !important;
    padding: 2px 7px !important;*/
}

.icon-calendar {
    padding: 0px;
}

.ui-widget-header {
    color: #666 !important;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 13px !important;
}


/*.page-sidebar-menu.page-sidebar-menu-light li a{
    font-size:12px !important;
}
.sub-menu li a{
    font-size:11px !important;
}*/
.page-bar {
    margin-bottom: 5px !important;
    margin-top: 5px;
}

.k-filter-menu .k-button {
    margin-top: .2em !important;
}

.k-multiselect-wrap li {
    float: left !important;
}

.portlet.light > .portlet-title > .caption > .caption-subject {
    font-size: 14px !important;
}

.portlet.light > .portlet-title > .caption > i {
    font-size: 14px !important;
    /*margin-top:0px !important;*/
}

.sales_monitor {
    padding-top: 10px !important;
}

.main-contain-box {
    /*height:1575px;*/
}

.tools a {
    color: #acacac !important;
}

.download-btn {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: -5px 0 0 5px !important;
}

.btn-group-custom button.btn {
    float: left;
    padding: 7px !important;
}

.dropdown-menu.custom::before {
    left: 58px !important;
}

ul.dropdown-menu.custom {
    margin-top: 8px !important;
    border: none;
    box-shadow: none !important;
}

.dropdown-menu.custom:before {
    left: 58px !important;
}


.dropdown-menu.custom {
    left: -27px !important;
    top: 20px !important;
}

.icon-arrow-down.Elvcustom {
    color: #acacac;
}

.btn-group-custom button.btn {
    padding: 7px 7px !important;
    float: left;
}

.dropdown-menu.custom {
    left: -55px !important;
    background-color: none !important;
    background: none !important;
}

.modal-footer .btn + .btn {
    margin-left: 10px !important;
}

.fontgreen, .font-green-haze {
    color: #43A32E !important;
}

/*.main-contain-box .caption .caption-subject 
{
    font-size: 13px !important;
}*/

.portlet.light > .portlet-title > .caption > .caption-subject, .portlet.light > .portlet-title > .caption > i {
    font-size: 13px !important;
}

.search-btn {
    background-color: hsl(0, 0%, 89%);
    border-color: hsl(0, 0%, 77%);
    color: hsl(0, 0%, 18%);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: hsla(0, 0%, 0%, 0);
    border-color: hsl(0, 0%, 77%) hsl(0, 0%, 77%) hsl(0, 0%, 77%) currentcolor;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    right: 2px !important;
    border-left: 0px !important
}

.search .grid-search {
    border: solid hsl(0, 0%, 77%) 1px;
    /*height:26px !important;*/
    border-right: none;
}

.search-btn:hover .search .grid-search {
    border-right: solid hsl(0, 0%, 77%) 1px !important;
}

.search {
    left: 0 !important
}







.modal-header {
    padding: 10px 15px !important;
}

.modal-title {
    padding-top: 0px !important;
}

.modal-title {
}

.modal-header h4 {
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(67, 163, 46);
    font-weight: normal !important;
    margin: 0px !important;
}

    .modal-header h4 span {
        font-size: 15px !important;
    }

label, select, .form-control, .btn {
    font-size: 13px !important;
}






.form-horizontal .control-label {
    text-align: left !important;
}

input .form-control {
    text-align: left !important;
}

.modal-custom input.form-control, .modal-Preference input.form-control,
.chart_setting input.form-control, .modal-AgeingReport select,
.modal-AgeingReport input.form-control, .custom-modal-large input.form-control {
    height: 24px !important;
    /*border: solid #ddd 1px;*/
    padding: 0px 6px !important;
}

.chart_setting .k-multiselect.k-header, .customwith .k-multiselect.k-header {
    border-color: #ddd;
}

.input-group .form-control {
    text-align: left;
}

.modal-footer {
    padding: 10px 15px !important;
}

.modal-content .k-dropdown-wrap, .modal-content select.form-control {
    /*border: solid #ddd 1px ;*/
}

.btn-green {
    background-color: rgb(67, 163, 46);
    color: #fff;
}

    .btn-green:hover {
        background-color: rgb(103, 183, 85);
        color: #fff;
    }

.btndarked-green .btn-green:hover {
    background-color: rgba(67, 163, 46,1);
}

.btnsoft-green {
    background-color: #5C8D89;
    color: #fff;
}

    .btnsoft-green:hover {
        background-color: #7fa9a5;
        color: #fff;
    }

.dark-green {
    background-color: #246f14 !important;
    Color: #fff;
    /*margin-top:2px;*/
}

    .dark-green:hover {
        background-color: #5faf4d !important;
        color: #fff;
    }

    .dark-green i {
        color: #fff;
    }


.form-horizontal .control-label {
    padding-top: 0px !important;
    padding-bottom: 5px;
}

.favouriteone {
    color: #ffbf00 !important;
}

.search-input input {
    border: none !important;
}

.modal-custom .k-multiselect.k-header, .customwith .k-multiselect.k-header {
    /*border: solid #ddd 1px !important;
    padding: 4px 6px !important;*/
}

.modal-custom .k-dropdown-wrap.k-state-default {
    height: 28px !important;
    border-color: #ddd;
}

.modal-custom .k-input, .modal-custom select, .modal-custom input, .customwith .k-input, .customwith select {
    padding: 4px 3px !important;
}





.k-hidden, .k-clear-value {
    display: none !important;
}

.custom-chart h5 {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.custom-chart .filter-label {
    font-size: 14px !important;
    font-weight: 400 !important;
}

/*.modal-custom select {
    height: 30px !important;
}*/
.ms-container.ChartSelection {
    margin-top: 5px;
}

.form-body .ms-selection, .form-body .ms-selectable {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
}

.green {
    background-color: #43a32e !important;
}

.chart_button {
    margin-bottom: 5px !important;
}

/*.k-group.k-treeview-lines {
    margin-top: 5px !important;
}*/

.dateOption_DivisionSalesChart label, .dateOption_MonthlyBranchSales label, .dateOption_MonthlySalesChart label {
    padding-right: 10px;
}

.top_margin {
    margin-top: 25px;
}

.chart_selectoption #deselect-all {
    float: right
}

.chart_selectoption a {
    font-weight: 600 !important;
    color: rgb(51, 51, 51) !important;
}

.date-option label {
    margin-right: 10px;
}

.check_labels {
    margin-right: 15px;
    float: left;
    margin-top: 9px;
}

.chart-option-inline {
    display: inline-flex;
}

    .chart-option-inline .icheck-inline {
        margin-right: 10px;
    }

.option_gap {
    margin-top: 20px;
}

.custom-chart select, .custom-chart input.form-control {
    height: 24px !important;
    /*border:solid #ddd 1px;*/
    padding: 0px 6px !important;
}
/*.custom-chart .form-inline {
    margin-bottom:15px !important;
}*/
.custom-chart .k-multiselect {
    width: 400px;
}

.filter-label {
    padding-bottom: 1px;
}

.custom-chart .form-horizontal .icheck-inline {
    margin-top: 0px !important;
}

.modal-custom .form-horizontal .input-group {
    /*padding-left: 15px !important;
    padding-right: 15px !important;*/
}

.page-portlet-fullscreen .modal-backdrop {
    z-index: 1000;
}

.custom-chart .form-horizontal .radio {
    padding-top: 0px !important;
}

.k-current-page {
    display: none !important;
}

.grid {
    height: 600px !important;
}

.ajax-busy {
    position: absolute;
    top: 15px;
    z-index: 999999;
}

#demo .k-grid-toolbar {
    padding: 0px !important;
}

/*.k-header a.k-button {
    float: right;
    margin: 2px !important;
}*/

.search-input {
    width: 100% !important;
}

.treeview #consolidateTreeView_DivisionSalesChart, .treeview #consolidateTreeView_CategoryChart, .treeview #consolidateTreeView_EmployeeWiseSalesChartPartial, .treeview #consolidateTreeView_MonthlySalesChart, .treeview #consolidateTreeView_WeeklyCollectionChartPartial {
    background-color: rgba(238, 238, 238, 0.933);
    box-shadow: 2px 3px 0 5px #ddd;
    margin-top: 5px;
}

.k-i-arrow-60-right {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    float: right;
    padding-top: 2px;
}


.k-i-sort-desc-sm {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.k-link-decrease .k-i-arrow-60-down {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    margin-top: 3px;
}

.k-i-arrow-60-down {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}


.k-i-arrow-60-left {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    float: right;
    padding-top: 2px;
}

.k-i-more-vertical {
    background-position: 10% 25% !important;
}

.k-i-filter {
    background-position: 10% 25%;
}

.k-menu .k-item > .k-link > .k-icon, .k-menu .k-image, .k-menu .k-sprite {
    margin: -2px 4px 0 -4px !important;
}

.table-grid thead tr {
    height: 38px !important;
}

    .table-grid thead tr[role="row"] {
        height: auto !important;
    }


.table-grid .k-grid-header th.k-header, .k-filter-row th {
    padding: 1px 5px !important;
}


#consolidateTreeView_SalesChartBranchWiseFiscalYear {
    background-color: #eee;
}

.portlet.light > .portlet-title {
    min-height: auto !important;
}

    .portlet.light > .portlet-title > .caption {
        color: #666;
        padding: 8px 0 !important;
    }

    .portlet.light > .portlet-title > .tools {
        padding: 5px 0 3px 0 !important;
        margin-top: 2px;
    }

#date-filter-value {
    width: 55%;
    float: left;
    color: #6CA249;
    font-size: 12px;
    padding-top: 14px;
    padding-left: 2px;
}

.date-filter-icon:before {
    content: "\f073";
    font-family: FontAwesome;
    color: #199919;
    padding-right: 3px;
    font-size: 11px !important;
}

.btnlight-green {
    background-color: #2EB872;
    color: #fff;
}

/*new updated css*/
label, .btn {
    font-size: 12px !important;
}

.form-control, select {
    font-size: 11px !important;
}

.modal-header h4, .modal-header h4 span {
    font-size: 14px !important;
}

.k-treeview-lines li, .k-list-scroller ul li {
    font-size: 11px;
}

.customwith .k-widget.k-multiselect.k-header, .customwith .k-widget.k-multiselect.k-header.k-state-border-up, .customwith .k-multiselect-wrap.k-floatwrap,
.custom-modal-large .k-multiselect-wrap, .custom-chart .k-multiselect-wrap {
    max-height: 100px;
    /*overflow-y: auto;*/
    min-height: 22px !important;
    font-size: 11px;
}

.expand-collapse {
    padding: 3px 16px !important;
}

.modal-custom input.form-control, .modal-Preference input.form-control, .chart_setting input.form-control,
.modal-AgeingReport select, .modal-AgeingReport input.form-control, .custom-modal-large input.form-control, .custom-modal-large select, .customwith input.form-control {
    height: 24px !important;
    /*border: solid #ddd 1px;*/
    padding: 0px 6px !important;
}

.modal-custom select, .customwith select, .custom-modal-large select, .custom-chart select, .modal-custom select {
    height: 24px !important;
    padding: 0px 3px !important;
}

.modal-custom .k-dropdown-wrap.k-state-default {
    height: 23px !important;
}

.modal-custom .k-input, .modal-custom select, .modal-custom input, .customwith .k-input, .customwith select {
    font-size: 11px;
}

.modal-custom .k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
    line-height: 20px !important;
}

.input-group-addon, .btn-sm > [class^="glyphicon-"], .btn-sm > [class*=" glyphicon-"], .btn-sm > i {
    font-size: 12px !important;
}

.portlet.light > .portlet-title > .actions {
    padding: 0px 0 4px !important;
}

.sales-modal .k-multiselect-wrap ul li, .custom-modal-large .k-multiselect-wrap ul li, .custom-chart .k-multiselect-wrap ul li {
    padding: 0px 7px !important;
    margin-right: 2px;
}

#quick_sidebar_tab_1 ul.list-items li a {
    font-size: 12px !important;
}


.btn-icon-only:focus, .btn-icon-only:hover {
    text-decoration: none !important;
}

.customwith .k-treeview .k-treeview-lines, .custom-modal-large .k-treeview .k-treeview-lines, #ConsolidateModal .k-treeview .k-treeview-lines, .custom-chart .k-treeview .k-treeview-lines {
    margin-left: -15px;
    padding-bottom: 5px;
}

.search-input a {
    display: inline-table;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li {
    padding: 15px 10px !important;
}

/*BI style*/

.main_div input.form-control {
    height: 24px !important;
    padding: 0px 6px !important;
    /*border:solid #ddd 1px;*/
}

.main_div select.form-control {
    padding: 0px 3px !important;
    /*border: solid #ddd 1px;*/
    height: 24px !important;
}

.main_div input.form-control:focus, .main textarea.form-control:focus {
    /*border-color:#ddd;*/
}

.main_div textarea {
    padding: 0px 6px !important;
}

.gap_bottom {
    padding-bottom: 40px !important;
}

.main_div .minicolors-theme-default .minicolors-input {
    padding-left: 26px !important;
}

.main_div .minicolors-theme-default .minicolors-swatch {
    top: 3px !important;
}

.main_div .k-widget.k-multiselect.k-header, .main .k-multiselect-wrap {
    max-height: 100px;
    overflow-y: auto;
    min-height: 22px !important;
    font-size: 11px;
    border-color: #ddd;
}

.main_div .k-multiselect-wrap ul li {
    padding: 0px 7px !important;
    margin-right: 2px;
}

p.help {
    font-size: 12px !important;
    padding-top: 5px;
}

/*table.dataTable thead .sorting, table.dataTable thead .sorting_desc {
    
    background: none  !important;
}*/
.tbldiv table th {
    font-size: 12px !important;
}

.tbldiv table td {
    font-size: 11px !important;
    vertical-align: middle !important;
    padding: 4px !important;
}

.tbldiv table thead {
    background-color: #eee;
}


.tbldiv .portlet-title .caption {
    font-size: 15px !important;
}


table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after {
    content: "" !important;
}
/*BI style end*/




/*new updated css end*/
/* Large desktops and laptops */
@media (min-width:1200px) {
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .tblresponsive {
        max-width: 100%;
        overflow-x: auto !important;
    }

    #date-filter-value {
        width: 46% !important;
    }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .erp-iconlist .col-md-2 {
        width: 25%;
    }

    .k-input.k-readonly {
        width: 100% !important;
    }

    .k-widget.k-multiselect.k-header ul input {
        width: 100% !important;
    }

    .tblresponsive {
        max-width: 100%;
        overflow-x: auto !important;
    }

    #date-filter-value {
        width: 42% !important;
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .buttons {
        text-align: left;
    }

    .chartoption {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .chart-option {
        margin-top: 10px;
    }

    .dgride, .col-sm-2.col-md-2.dgrid {
        display: inline-flex !important;
    }


    .responsivegap button {
        margin-bottom: 5px;
    }

    .form-inline .form-group {
        margin-bottom: 0px !important;
    }

    .tblresponsive {
        max-width: 100%;
        overflow-x: auto !important;
    }

    .erp-iconlist .col-md-2 {
        width: 25% !important;
    }

    #date-filter-value {
        width: 43% !important;
    }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
    .erp-iconlist .col-md-2 {
        width: 43% !important;
    }

    .customwith {
        margin: 43px 10px !important;
        max-width: 505px !important;
    }

    .k-widget.k-multiselect.k-header {
        width: 100% !important;
    }

    .btn-group.weeklyCollection_options.col-md-12 button {
        padding: 8px 8px !important;
    }

    .responsivegap button {
        /*padding: 4px 4px !important;*/
        margin-bottom: 5px;
    }

    .dgride, .col-sm-2.col-md-2.dgrid {
        display: inline-flex !important;
    }

    .btn-group.options button, .optionsbranch button {
        margin-bottom: 5px;
    }

    .buttons {
        text-align: left;
    }

    .chartoption {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .chart-option {
        margin-top: 10px;
    }

    .choosefield {
        float: left !important;
    }

    .form-inline .form-group {
        margin-bottom: 0px !important;
    }

    .spedo-mete {
        margin-bottom: 32px !important;
    }

    .tblresponsive {
        max-width: 100%;
        overflow-x: auto !important;
    }

    #date-filter-value {
        width: 66%;
        padding-left: 10px;
    }

    .page-quick-sidebar-wrapper {
        width: 320px !important;
    }

        /*.page-quick-sidebar-open .page-quick-sidebar-wrapper {
        top: 121px;
    }*/

        .page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li > a {
            padding: 15px 5px;
        }
}

.TriSea-technologies-Switch > input[type="checkbox"] {
    display: none;
}

.TriSea-technologies-Switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

    .TriSea-technologies-Switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .TriSea-technologies-Switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

.TriSea-technologies-Switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.TriSea-technologies-Switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.btn.dropdown-toggle {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}


.ms-selectable .ms-list li span, .ms-selection .ms-list li span {
    font-size: 12px !important;
}

.table > thead > tr > th, .table-hover th {
    font-size: 10px !important;
    font-weight: 600 !important;
}

.table > thead > tr > td, table td, .table > thead > tr > td input, table input.form-control {
    /*border-bottom-width:1px !important;*/
    font-size: 10px !important;
}

.table > tr > td .k-dropdown-wrap.k-state-default,
table tr > td .k-dropdown-wrap.k-state-default,
.table > tr > td select.form-control, table > tr > td select.form-control, table tr td select.form-control {
    font-size: 10px !important;
}


.table > thead > tr > td, table td {
    vertical-align: middle !important;
}

.table-hover tr td {
    font-size: 10px !important;
}

.portlet > .portlet-title > .caption {
    font-size: 13px;
}

.portlet.box > .portlet-title > .caption {
    padding: 8px 0px !important;
}

.portlet > .portlet-title > .caption > i {
    margin-top: 3px !important;
}

.portlet > .portlet-title {
    min-height: auto !important;
}

table.table-bordered.dataTable {
    border-collapse: collapse !important;
}

input.form-control, textarea, select.form-control, .textarea.form-control, fieldset, .filterText, .iconpicker-container input.form-control, select {
    border: solid #ddd 1px;
    outline-style: none;
    box-shadow: none;
}

.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: auto !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important;
    -webkit-text-fill-color: #333 !important;
}


.portlet.box.green > .portlet-title {
    background-color: #43a32e;
}


/*.modal input.form-control, .modal select.form-control {
    height: 24px;
}*/


.maindiv select.form-control, .maindiv input.form-control {
    height: 24px;
    padding: 0px 3px;
}

.maindiv .k-dropdown-wrap.k-state-default {
    min-height: 22px !important;
    background-image: none;
    padding: 0px 3px;
}


.calendarreport-filter .k-multiselect-wrap.k-floatwrap {
    min-height: 24px !important;
}
