@model bool
<style>
    .selectbox {
        cursor: pointer;
        color: #337ab7;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    .ui-datepicker {
        z-index: 10076 !important;
    }


    .input-medium {
        width: 100% !important;
    }

    .form-horizontal .control-label {
        padding-top: 0px !important;
        margin-bottom: 5px;
        text-align: right;
    }

    .gapline {
        margin-bottom: 10px;
    }
</style>
<link href="~/Areas/NeoErp.Planning/Content/nepali.datepicker.v2.1.min.css" rel="stylesheet" />
@*@if (NeoErp.Core.Integration._Settings._S.setting.PrimaryDateType == HRM.Enums.PrimaryDateType.EnglishDate)*@
@{
    {
        // Model==True means display date fields in same line with floating left
        // Model == False means display date fields in seperate line
        if (Model == true)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label class="control-label">Date Filter &nbsp;&nbsp;</label>
                    <select class="dateFilterSelect form-control" id="ddlDateFilterVoucher" name="DateStep" ngSelected="onDateChange()"></select>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label class="control-label">BS Date Range</label>
                    <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                        <input type="text" id="fromInputDateVoucher" ng-model="startdate" name="startdate" class="frmDataInput form-control" placeholder="From Date" autocomplete="off"/>
                        <span class="input-group-addon"> to </span>
                        <input type="text" class="frmDataInput form-control" id="toInputDateVoucher" placeholder="To Date" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label class="control-label">AD Date Range</label>
                    <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                        <input type="text" name="FromDateVoucher" id="FromDateVoucher" class="form-control frmDataInput" readonly="readonly" placeholder="From Date" autocomplete="off"/>
                        <span class="input-group-addon"> to </span>
                        <input type="text" name="ToDateVoucher" class="form-control frmDataInput" readonly="readonly" id="ToDateVoucher" placeholder="To Date" autocomplete="off">
                    </div>
                </div>
            </div>
            @*<div class="col-md-6">
                <div class="form-horizontal" style="margin-top: 15px;">
                    <label class="control-label">
                        Date Format :
                    </label>

                    <input type="radio" id="dateFormatAD" name="dateFormat" value="AD"
                           ng-model="dateFormat" ng-change="DateFormatChange()" class="">
                    <label for="dateFormatAD"> AD</label>
                    <input type="radio" id="dateFormatBS" name="dateFormat" value="BS"
                           ng-model="dateFormat" ng-change="DateFormatChange()" class="">
                    <label for="dateFormatBS"> BS </label>
                </div>
            </div>*@
        }
    }
}


<script>

    $('#myModal').on('show.bs.modal', function () {
        $(this).find('.modal-body').css({
            'max-height': '100%'
        });
    });

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
