@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Common/Master.cshtml";
    ViewBag.DemoSettings = true;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="~/Content/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet" />


</head>
<body>
    <div>
        <table id="tree">
        </table>
    </div>
</body>
</html>
<script>
    jQuery('#tree').jqGrid({
        "url": "../Report/TreeData",
        "datatype": "json",
        "styleUI": 'Bootstrap',
        "colModel": [
        {
            "name": "CUSTOMER_CODE",
            "index": "CUSTOMER_CODE",
            "sorttype": "int",
            "key": true,
            "hidden": true,
        }, {
            "name": "PARRENT_CODE",
            "index": "PARRENT_CODE",
            "sorttype": "int",
            "hidden": true
        },
        {
            "name": "CUSTOMER_EDESC",
            "index": "CUSTOMER_EDESC",
            "sorttype": "string",
            "label": "Customers",
            "width": 200,
        },
        {
            "name": "JUL2015",
            "index": "JUL2015",
            "sorttype": "int",
            "label": "JUL-2015",
            "width": 200,

        },
        {
            "name": "AUG2015",
            "index": "AUG2015",
            "sorttype": "int",
            "label": "AUG-2015",
            "width": 200,
        },
        {
            "name": "SEP2015",
            "index": "SEP2015",
            "sorttype": "int",
            "label": "SEP-2015",
            "width": 200,
        },
        {
            "name": "OCT2015",
            "index": "OCT2015",
            "sorttype": "int",
            "label": "OCT-2015",
            "width": 200,
        }
        ],
        "width": "100%",
        "autowidth": true,
        "hoverrows": true,
        "viewrecords": false,
        "gridview": true,
        // "height": 300,
        "autoencode": true,
        "sortname": "CUSTOMER_CODE",
        "scrollrows": true,
        "treeGrid": true,
        "ExpandColumn": "CUSTOMER_EDESC",
        "treedatatype": "json",
        "treeGridModel": "adjacency",
        "loadonce": true,
        "rowNum": 10000,
        "treeReader": {
            "parent_id_field": "PARRENT_CODE",
            "level_field": "LEVEL",
            "leaf_field": "ISLEAF",
            "expanded_field": "EXPANDED",
            "loaded": "LOADED",
            "icon_field": "icon"
        },
        "ExpandColClick": true,
        "treeIcons": { leaf: 'ui-icon-blank' },
        "jsonReader": { repeatitems: false, root: "data" },
        "pager": "#pager",
    });


</script>
