
@{
    ViewBag.Title = "TrySalesReport";
}
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<link href="~/Content/Vs/dist/vis.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">

        </div>
    </div>

<script src="~/OldContent/Theme/plugins/daterangepicker/moment.js"></script>
<script src="~/Content/Vs/dist/vis.js"></script>
<script src="~/Content/Vs/dist/googleAnalytics.js"></script>