@*https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js
    https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js*@


@*sparkline chart js*@
<script type="text/javascript">
    $(function () {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline();

        /* Sparklines can also take their values from the first argument
        passed to the sparkline() function */
        var myvalues = [10, 8, 5, 7, 4, 4, 1];
        $('.dynamicsparkline').sparkline(myvalues);

        /* The second argument gives options such as chart type */
        $('.dynamicbar').sparkline(myvalues, { type: 'bar', barColor: 'green' });

        /* Use 'html' instead of an array of values to pass options
        to a sparkline with data in the tag */
        $('.inlinebar').sparkline('html', { type: 'bar', barColor: 'red' });
    });
</script>
@*sparkline chart js end*@


<style>
    /*.demo_dashboard h5 {
        font-size: 16px;
        background-color: #ddd;
        padding: 5px 15px;
        margin-bottom: 0px;

        color: #fff;
        font-weight: 600;
        border-radius: 5px 5px 0px 0px;
    }*/

    .demo_dashboard .f-details {
        border-radius: 0px 0px 5px 5px !important;
    }

    .demo_dashboard {
        border-radius: 5px 5px 0px 0px;
    }


        .demo_dashboard h6 {
            padding: 7px 15px;
            margin-bottom: 0px;
            font-size: 15px;
            color: #fff
        }



    .o-details {
        background-color: #ddd;
    }

        .o-details div {
            /*background-color: #b9b2b2;*/
            text-align: center;
            font-size: 25px;
            padding: 20px;
            color: #fff;
        }

    .dboard_one h5 {
        background-color: #aab8b9;
    }

    .dboard_one .o-details {
        background-color: #95a5a5;
    }

    .dboard_one .f-details {
        background-color: #aab8b9;
    }



    .dboard_two h5 {
        background-color: #51ce9e;
    }




    .dboard_two .o-details {
        background-color: #37bf8d;
    }

    .dboard_two .f-details {
        background-color: #2eb37e;
    }




    .dboard_three h5 {
        background-color: #75a6cf;
    }

    .dboard_three .o-details {
        background-color: #6c9ac1;
    }


    .dboard_three .f-details {
        background-color: #5394ca;
    }


    .dboard_four h5 {
        background-color: #445c78;
    }

    .dboard_four .o-details {
        background-color: #34495e;
    }

    .dboard_four .f-details {
        background-color: #323d51;
    }

    .f-details h6 {
        margin-top: 0px;
    }

    .topdashboard span {
        float: right;
    }

    .dashboard_charts {
        margin-top: 15px;
        margin-bottom: 15px;
    }





    .dlist i {
        font-size: 32px;
        color: #fff;
        float: left;
        padding-right: 20px;
        margin-top: 36px;
    }


    h3.dlist_title {
        color: #fff;
        font-weight: 600;
        display: inline-grid;
        font-size: 24px;
    }



    .dlist_title span {
        font-size: 11px !important;
        display: inline-grid;
        padding-top: 4px;
    }

    .dicon {
        width: 20%;
    }

    .bgbox {
        background-color: #66b155;
    }

    .dlist {
        border-bottom: solid #45a131 1px;
    }

        .dlist:last-child {
            border-bottom: none;
        }

    .headtitle {
        color: #fff;
        font-weight: 600;
        display: inline-block;
        font-size: 24px;
        text-align: center;
    }

        .headtitle span {
            font-size: 11px !important;
            display: block;
            padding-top: 4px;
        }

    .bgbox_center {
        min-height: 220px;
        box-shadow: 2px 0px 2px #4c923c;
        text-align: center
    }

    .bgbox_right {
        min-height: 220px;
        text-align: center
    }

    .boxicon {
        font-size: 8em;
        color: #fff;
        text-align: center;
        display: block;
        margin-top: 60px;
        opacity: 0.1;
    }

    .dahboard_row {
        margin-left: 0px;
        margin-right: 0px;
        background-color: #43a12e;
        box-shadow: 1px 3px 3px 0px #43a12e;
        -moz-box-shadow: 1px 3px 3px 0px #43a12e;
        -o-box-shadow: 1px 3px 3px 0px #43a12e;
        -webkit-box-shadow: 1px 3px 3px 0px #43a12e;
    }

    .dashboard_charts .portlet.light.bordered > .portlet-title {
        border-bottom: 1px solid #eee;
        background-color: #f6f6f6;
        padding: 0px 16px !important;
    }

    .dashboard_charts .portlet.light.bordered {
        padding: 0px 0px !important;
        border-bottom: solid #ddd 3px !important;
        box-shadow: 5px 5px 8px -5px #ddd;
        -moz-box-shadow: 5px 5px 8px -5px #ddd;
        -webkit-box-shadow: 5px 5px 8px -5px #ddd;
        -o-box-shadow: 5px 5px 8px -5px #ddd;
    }

    .dashboard_charts .portlet-body {
        padding: 0px 16px !important;
    }

    .dashboard_charts img {
        margin-top: 80px;
    }


    .dynamicbar, .lineinbar, .line {
        display: table;
        text-align: center;
        margin: 20px auto;
    }

    .spd, .spd_title {
        text-align: center;
    }

    .second_db {
        background-color: #eee;
        border: solid #ddd 1px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }





    .spd_title span {
        background-color: #43a12e;
        color: #fff;
        padding: 2px 14px;
        border-radius: 10px !important;
        font-size: 11px;
    }

    .spd:hover {
        transform: translateY(-50px);
        transition: 0.2s ease-in-out;
        box-shadow: 0 0.3em 0.3em -0.4em var(--hover);
        -webkit-transform: translateY(-0.3em);
        transform: translateY(-0.3em);
    }
</style>


<div class="demo_dashboard">
    <div class="row dahboard_row">
        <div class="col-sm-3 col-md-3 bgbox">

            <div class="dlist">
                <div class="dicon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="dicon_title">
                    <h3 class="dlist_title">1145888 <span>demo kjdsf dfkdsjfkdsj</span></h3>
                </div>

            </div>
            <div class="dlist">
                <div class="dicon">
                    <i class="fa fa-bar-chart"></i>
                </div>
                <div class="dicon_title">
                    <h3 class="dlist_title">358 <span>demo kjdsf dfkdsjfkdsj</span></h3>
                </div>

            </div>
            <div class="dlist">
                <div class="dicon">
                    <i class="fa fa-area-chart"></i>
                </div>
                <div class="dicon_title">
                    <h3 class="dlist_title">35801222 <span>demo kjdsf dfkdsjfkdsj</span></h3>
                </div>

            </div>
        </div>
        <div class="col-sm-3 col-md-3 bgbox_center">
            <h3 class="headtitle">1145888 <span>Average Weekly Sales target</span></h3>

            @*<i class="fa fa-bar-chart boxicon"></i>*@

            <span class="dynamicbar">Loading..</span>






        </div>
        <div class="col-sm-3 col-md-3 bgbox_center">
            <h3 class="headtitle">1145888 <span>Above 1145888 Sales Target</span></h3>

            @*<i class="fa fa-pie-chart boxicon"></i>*@
            <span class="lineinbar">Loading..</span>

        </div>
        <div class="col-sm-3 col-md-3 bgbox_center">
            <h3 class="headtitle">1145888 <span>Above 1145888 Sales Target</span></h3>

            @*<i class="fa fa-line-chart boxicon"></i>*@
            <span class="line">Loading..</span>



        </div>

    </div>

    <div class="row second_db">
        <div class="col-sm-3 col-md-2 col-lg-2">
            <img src="http://localhost:22395/Pictures/spedometer.png" />
            <div class="spd_title"> <span>Sales Target 2017</span></div>

        </div>
        <div class="col-sm-3 col-md-2 col-lg-2">
            <img src="http://localhost:22395/Pictures/spedometer.png" />
            <div class="spd_title"> <span>Sales Target 2017</span></div>

        </div>
        <div class="col-sm-3 col-md-2 col-lg-2">
            <img src="http://localhost:22395/Pictures/spedometer.png" />
            <div class="spd_title"> <span>Sales Target 2017</span></div>

        </div>
        <div class="col-sm-3 col-md-2 col-lg-2">
            <img src="http://localhost:22395/Pictures/spedometer.png" />
            <div class="spd_title"> <span>Sales Target 2017</span></div>

        </div>
        <div class="col-sm-3 col-md-2 col-lg-2">
            <img src="http://localhost:22395/Pictures/spedometer.png" />
            <div class="spd_title"> <span>Sales Target 2017</span></div>

        </div>
        <div class="col-sm-3 col-md-2 col-lg-2">
            <img src="http://localhost:22395/Pictures/spedometer.png" />
            <div class="spd_title"> <span>Sales Target 2017</span></div>

        </div>


    </div>

</div>



<div class="dashboard_charts">
    <div class="row">
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-haze"></i>
                        <span class="caption-subject bold uppercase font-green-haze"> Bar Charts</span>
                        <span class="caption-helper">column and line mix</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="fullscreen">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chart_1" class="chart" style="height: 500px;">
                        <img style="max-width:100%;" src="http://localhost:22395/Pictures/chart.png" />
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-haze"></i>
                        <span class="caption-subject bold uppercase font-green-haze"> Bar Charts</span>
                        <span class="caption-helper">column and line mix</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="fullscreen">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chart_1" class="chart" style="height: 500px;">
                        <img style="max-width:100%;" src="http://localhost:22395/Pictures/chart2.png" />
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-haze"></i>
                        <span class="caption-subject bold uppercase font-green-haze"> Bar Charts</span>
                        <span class="caption-helper">column and line mix</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="fullscreen">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chart_1" class="chart" style="height: 500px;">
                        <img style="max-width:100%;" src="http://localhost:22395/Pictures/chart3.png" />
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-haze"></i>
                        <span class="caption-subject bold uppercase font-green-haze"> Bar Charts</span>
                        <span class="caption-helper">column and line mix</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="fullscreen">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chart_1" class="chart" style="height: 500px;">
                        <img style="max-width:100%;" src="http://localhost:22395/Pictures/chart4.png" />
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-haze"></i>
                        <span class="caption-subject bold uppercase font-green-haze"> Bar Charts</span>
                        <span class="caption-helper">column and line mix</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="fullscreen">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chart_1" class="chart" style="height: 500px;">
                        <img style="max-width:100%;" src="http://localhost:22395/Pictures/chart5.png" />
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-haze"></i>
                        <span class="caption-subject bold uppercase font-green-haze"> Bar Charts</span>
                        <span class="caption-helper">column and line mix</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                        <a href="javascript:;" class="fullscreen">
                        </a>
                        <a href="javascript:;" class="remove">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chart_1" class="chart" style="height: 500px;">
                        <img style="max-width:100%;" src="http://localhost:22395/Pictures/chart6.png" />
                    </div>
                </div>
            </div>


        </div>

    </div>



</div>


@*<div class="main-view-port">
        <div class=" ">
            <div id="dashboardWidget">

            </div>

        </div>
        <div class="col-md-12 margin-top-10">
            <div class="row" id="sortable_portlets">


            </div>
        </div>

        <div class="row">
            <div class="col-md-12 margin-top-10">
                <a href="#" id="loadMore" class="btn default btn-block">Load More</a>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <!-- END PAGE CONTENT-->
    </div>*@



<script>

    $(".dynamicbar").sparkline([1, 2, 3, 5, 4, 3, 2, 6, 7, 5, 3, 5, 7, 3, 3, 2, 5, 7, 4, 3, 2, 4], {
        type: 'bar',
        height: '100',
        barWidth: 7,
        barColor: '#007f00'
    });



    $(".lineinbar").sparkline([1, 2, 3, 5, 4, 3, 2, 6, 4, 5, 3, 3, 4, 3, 3, 2, 5, 5, 4, 3, 2, 3], {
        type: 'bar',
        height: '100',
        barWidth: 7,
        barColor: '#007f00'
    });



    $(".line").sparkline([3, 6, 7, 9, 9, 5, 3, 2, 2, 4, 6, 7], {
        type: 'line',
        width: '200',
        height: '100',
        lineColor: '#075907',
        fillColor: '#007f00',
        spotColor: '#1fad1f',
        minSpotColor: '#056305',
        maxSpotColor: '#31e031',
        highlightLineColor: '#1fdd1f'
    });



</script>