@{
    string masterPlanCode = ViewBag.masterPlanCode;
}

<div id="masterPlanDetail" class="portlet light form-fit1 bordered common">
    <div class="portlet-title">
        <div class="caption">
            <span class="title-caption caption-subject font-green bold uppercase text-center title-text" style="text-align:center">
                <i class="fa fa-list-alt"></i>
                Master Plan Detail
            </span>
            @*<span class="pull-right">
                    <button type="button" id="addplan" name="addplan" ng-click="masterPlanListShow=false" class="btn btn-circle btn-primary btn-sm">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </span>*@
        </div>
    </div>
    <div class="portlet-body wrapper">
        <p>master sales plan detail for @masterPlanCode</p>
    </div>
</div>

<script>
    var masterPlanCode = '@masterPlanCode';
</script>