<style>

</style>
<div class="col-md-12">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-speech font-green-haze"></i>
                <span class="caption-subject font-green-haze bold uppercase"> Sub Plans</span>
                <span class="caption-helper"></span>
            </div>
            <div class="actions no_gap">
                <!--<a href="/Planning/Home/Index#!Planning/CreatePlan" class="btn btn-circle btn-primary btn-sm">
                        <i class="fa fa-plus-circle"></i> Plan
                    </a>
                    <a href="/Planning/Home/Setup#!Planning/SubplanList" class="btn btn-circle btn-success btn-sm">
                        <i class="fa fa-plus-circle"></i> Subplan
                    </a>-->
                <a href="/Planning/Home/SubPlan#!Planning/SubPlan" class="btn btn-circle btn-success btn-sm">
                    <i class="fa fa-plus-circle"></i> New Sub Plan
                </a>
                <!--<a href="/Planning/Home/Index#!Planning/" class="btn btn-circle btn-warning btn-sm">
                        <i class="fa fa-plus-circle"></i> Master Plan
                    </a>-->
            </div>
        </div>
        <div class="portlet-body">
            <kendo-grid options="planlistGridOptions">
                <div k-detail-template>
                    <div>
                        <div kendo-grid k-options="subplanGridOptions(dataItem)"></div>
                    </div>
                </div>
            </kendo-grid>
        </div>
    </div>
</div>
