@model  List<NeoErp.Distribution.Service.Model.DashBoardWidgets>

@{
    Layout = null;
}
@if (Model.Count > 0)
{


    <div id="widgetDistributorDashboard">
       
            <div class="col-md-12">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Metric
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                            <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                            <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                            <a href="" class="fullscreen" data-original-title="" title=""> </a>
                            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="row portlet-body clearfix" id="metric_sortable">
                        @foreach (var item in Model)
                        {


                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_widgets">
                                        <a class="dashboard-stat dashboard-stat-v2 blue" style="background-color: @String.Format("#{0:X6}", new Random((int)DateTime.Now.Ticks).Next(0x1000000));" href="javascript:">
                                            <div class="visual">
                                                <i class="fa fa-comments "></i>
                                            </div>
                                            <div class="details">
                                                <div class="number">
                                                    <span data-counter="counterup" class="counter" data-value="@item.Valueamout">@item.Valueamout</span>
                                                </div>
                                                <div class="desc"> @item.Title </div>
                                            </div>
                                        </a>
                                    </div>
                        }
                    </div>
                </div>
                <!-- END Portlet PORTLET-->
            </div>
       
     
    </div>

}

