@{
    Layout = null;
}
<div class="row">
    <div id="distributorDashboardDistributor"></div>
    @Html.Partial("~/Areas/NeoErp.Distribution/Views/Distributor/_ItemTraget.cshtml")

    @Html.Partial("~/Areas/NeoErp.Distribution/Views/Distributor/BranchWiseSalesVsTarget.cshtml")

    @Html.Partial("~/Areas/NeoErp.Distribution/Views/Distributor/DivisionWiseCreditLismit.cshtml")
</div>

<script>
      var widgetsUrl = '@Url.Content("~/Distribution/Distributor/DistWidgets")';
    $(document).ready(function () {
        $.ajax({
            type: 'POST',
            url: widgetsUrl,
            success: function (data) {
                $('#distributorDashboardDistributor').html(data);
            }
        });
    })
</script>

