<style>
    .k-grid-content, .k-grid-header {
        font-size: 10px;
    }

    tr.k-group-footer {
        text-align: right !important;
    }
</style>
<div class="caption">
    <i class="fa fa-file-o font-green-haze"></i>
    <span class="caption-subject bold uppercase font-green-haze custom-modal">Division Credit Detail</span>
</div>
<br />
<div id="example11" ng-controller="DivisionLimitCtrl">
        <div id="DivisionGrid"></div>
    </div>


