@{
    ViewBag.Title = "SchemeReport";
    Layout = null;
}
<style>
    table {
        border: 2px dashed solid;
    }
</style>
<div ng-controller="SchemeReportCtrl">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/sales/SalesHome/Dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Scheme Report</a>
                <i class="fa fa-angle-right"></i>
            </li>
        </ul>
        @*<div class="actions pull-right actionbutton" ng-hide="createPanel">
                <div class="btn-group">
                    <a class="btn btn-circle btn-icon-only btn-default" ng-click="AddButtonClickEvent()">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>*@

    </div>

    <div class="container">
        <div class="row">

            <table class="table table-bordered" style="max-width: 38%;">
                <thead>
                    <tr>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ruslan Vodka</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered" style="max-width: 38%;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3-24</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>25-99</td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td>100-500</td>
                        <td>5000</td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="row">
            <table class="table table-bordered" style="max-width: 38%;">
                <thead>
                    <tr>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Blue Diamond</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered" style="max-width: 38%;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3-25</td>
                        <td>350</td>
                    </tr>
                    <tr>
                        <td>26-50</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>51-100</td>
                        <td>450</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row">
            <table class="table table-bordered" style="max-width: 38%;">
                <thead>
                    <tr>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Golden Oak</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered" style="max-width: 38%;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1-150</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <td>151-400</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>401-650</td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td>651-1000</td>
                        <td>500</td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="row">
            <table class="table table-bordered" style="max-width: 38%;">
                <thead>
                    <tr>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Black Oak</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered" style="max-width: 38%;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1-24</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <td>25-40</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>41-100</td>
                        <td>450</td>
                    </tr>
                    <tr>
                        <td>101-500</td>
                        <td>500</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <table class="table table-bordered" style="max-width: 38%;">
                <thead>
                    <tr>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Blue Oak</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered" style="max-width: 38%;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1-3</td>
                        <td>350</td>
                    </tr>
                    <tr>
                        <td>4-6</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>7-10</td>
                        <td>550</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>


<script src="@Scripts.Url("~/JS/reportFilter.js")"></script>

