@media print {
    .dynamicforms {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .dynamicforms td, .dynamicforms th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .dynamicforms tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .dynamicforms tr:hover {
            background-color: #ddd;
        }

        .dynamicforms th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    .company_div {
        width: 56%;
        float: left
    }

    .print_div {
        width: 44%;
        float: left
    }

    .logo_box {
        width: 30% !important;
        float: left !important;
    }

    .company_head {
        width: 70%;
        float: left;
    }



    .printable-modal h1 {
        font-size: 18px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 40px;
        text-align: center;
        margin-top: 20px;
    }

    .company_head h3, .company_head h4 {
        font-weight: 600;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .company_details p {
        line-height: 23px;
    }

    img.img-responsive {
        max-width: 71%;
    }

    .table {
        /*width: 100%;
        max-width: 100%;*/
        margin-bottom: 20px;
    }

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid #ddd;
    }

    .print_table > tbody > tr > td, .print_table > tbody > tr > th, .print_table > tfoot > tr > td, .print_table > tfoot > tr > th, .print_table > thead > tr > td, .print_table > thead > tr > th {
        border: 1px solid #999;
    }

    .print_table th {
        font-size: 12px;
        padding: 4px !important;
    }

    .print_table td {
        font-size: 11px;
        padding: 4px !important;
    }

        .print_table td span {
            display: block !important;
            min-height: 15px;
        }

    #saveAndPrintModal .modal-dialog {
        width: 1240px !important;
        height: 1754px !important;
    }



    .document_child_table {
        width: 99% !important;
    }

    .dynamic-table {
        margin: 10px;
    }

    .document_child_table {
        display: flex;
        flex-flow: column;
    }

        .document_child_table th {
            padding: 5px;
        }

        .document_child_table th {
            padding: 5px;
        }



        .document_child_table thead.child-table-head {
            display: table;
            table-layout: fixed;
        }

        .document_child_table thead.child-table-head {
            flex: 0 0 auto;
            width: calc(100% - 0.0em);
        }

        .document_child_table .table_body, .document_child_table .child-table-head tr {
            display: table !important;
            width: 100% !important;
            table-layout: fixed !important;
        }

    .printable-modal .document_child_table th {
        border: 1px solid #999;
        font-size: 10px;
        color: #000;
    }

    .printable-modal .document_child_table td {
        border: 1px solid #999;
        font-size:9px !important;
        border-top: none !important;
        color: #000;
        vertical-align: top !important;
        border-bottom:none !important;
        border-bottom:none !important;
    }
    .printable-modal .document_child_table tr:last-child {
        border-bottom: solid #999 1px !important;
    }
    .table-bordered {
        border: 1px solid #ddd;
    }

    .summary-table th {
        font-size: 10px !important;
    }

    .summary-table td, .summary-table td label {
        font-size: 10px !important;
    }

    .summary-table .col-md-3 {
        width: 25%;
        float: left;
        padding-right: 15px;
        padding-left:0px;
    }

    .summary-table .col-md-6 {
        width: 50%;
    }








    .print_table {
        width: 49%;
        float: left;
        margin-right: 1px;
    }

    .summary-table .table {
        width: 100%;
        max-width: 100%;
    }
    .declare
    {
        width:50%;
    }
}





/*print pop modal view*/
.print_table {
    width: 49%;
    float: left;
    margin-right: 1px;
}

.logo_box {
    width: 30% !important;
    float: left !important;
}

.company_head {
    width: 70%;
    float: left;
}

.consigneetable {
    width: 98%
}

.print_div {
    /*width: 43%;*/
    float: left;
}

.printable-modal h1 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}

.company_head h3, .company_head h4 {
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.company_details p {
    line-height: 23px;
}

img.img-responsive {
    max-width: 71%;
}

.table {
    /*width: 100%;
    max-width: 100%;*/
    margin-bottom: 20px;
}

.print_table > tbody > tr > td, .print_table > tbody > tr > th, .print_table > tfoot > tr > td, .print_table > tfoot > tr > th, .print_table > thead > tr > td, .print_table > thead > tr > th {
    border: 1px solid #999;
}

.print_table th {
    font-size: 12px;
    padding: 4px !important;
}

.print_table td {
    font-size: 11px;
    padding:4px !important;
}

    .print_table td span {
        display: block !important;
        min-height: 15px;
    }

#saveAndPrintModal .modal-dialog {
    width: 1000px !important;
    height: 1754px !important;
}


.document_child_table {
    width: 99% !important;
}

.dynamic-table {
    margin: 10px;
}

.document_child_table {
    display: flex;
    flex-flow: column;
}

    .document_child_table th {
        padding: 5px;
    }

    .document_child_table th {
        padding: 5px;
    }

.printable-modal .document_child_table th {
    border:1px solid #999;
    font-size: 10px;
    color: #000;
}

.printable-modal .document_child_table td {
    border: 1px solid #999;
    font-size:9px !important;
    border-top: none !important;
    color: #000;
    vertical-align: top !important;
    border-bottom: none !important;
    border-bottom: none !important;
    padding:4px;
}

.printable-modal .document_child_table tr:last-child {
    border-bottom: solid #999 1px !important;
}

.document_child_table thead.child-table-head {
    display: table;
    table-layout: fixed;
}

.document_child_table thead.child-table-head {
    flex: 0 0 auto;
    width: calc(100% - 0.0em);
}

.document_child_table .table_body, .document_child_table .child-table-head tr {
    display: table !important;
    width: 100% !important;
    table-layout: fixed !important;
}



.summary-table {
    margin-top: 7px;
}

.table-bordered {
    border: 1px solid #ddd;
}

.summary-table th {
    font-size: 10px !important;
}

.summary-table td, .summary-table td label {
    font-size: 10px !important;
}

.summary-table .col-md-3 {
    width: 25%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.summary-table .col-md-6 {
   width:50%;
}


.summary-table .table {
    width: 100%;
    max-width: 100%;
}

.company_div {
    width: 56%;
    float: left
}

.print_div {
    width: 44%;
    float: left
}

.printable-modal .document_child_table {
    width: 99.4% !important;
    margin: 10px 0px !important;
}
.declare {
    width: 50%;
}

/*print pop modal view end*/
