.navbar-brand img {
    max-width: 100%;
    width:134px;
    float: left;
    padding: 0;
    margin: 0 -10px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px !important;
    font-size: 0px !important;
    line-height: 0px !important;
}

li.logout-user a:before {
    content: "\f08b";
    font-family: FontAwesome;
    padding-right: 4px;
}

li.logout-user-log a:before {
    content: "\f02d";
    font-family: FontAwesome;
    padding-right: 4px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .custom-drop {
    margin-right: 3px !important;
    min-width: 171px !important;
    width: 171px !important;
}

span.k-item-k-wrap:before {
    content: "\f079";
    font-family: FontAwesome;
    padding-right: 11px;
    color: #6b605b !important;
    margin-left: -2px;
}

#header_inbox_bar a {
    padding: 17px 10px 9px !important;
}

li.k-item.k-state-default.k-last {
    border-width: 1px 0 0;
}

.custom-drop {
    padding-left: 5px;
    padding-left: 5px;
}

    .custom-drop li {
        padding-bottom: 5px;
        padding-top: 10px;
    }

    .custom-drop span {
        display: block;
        margin-left: 24px;
        font-size: 13px !important;
        font-weight: normal;
        color: #555 !important;
        font-family: "Open Sans",sans-serif !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    .pr-1{
        padding-right:1px !important;
    }

    .pl-1{
        padding-left:1px;
    }

    .custom-drop li.logout-user a {
        font-family: "Open Sans",sans-serif !important;
        font-size: 13px !important;
        color: #555 !important;
        font-weight: normal !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    .custom-drop li.logout-user-log a {
        font-family: "Open Sans",sans-serif !important;
        font-size: 13px !important;
        color: #555 !important;
        font-weight: normal !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    .custom-drop i {
        float: left;
    }

li.logout-user a::before {
    padding-right: 12px !important;
}

li.logout-user-log a::before {
    padding-right: 12px !important;
}

.border-buttom {
    border: solid;
    border-width: 1px 0px 0px !important;
    border-color: #f1f3f6;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a {
    font-size: 14px;
    font-weight: 300;
    padding-left: 3px;
}

.page-quick-sidebar-open .page-quick-sidebar-toggler {
    display: none !important;
}

.page-content-wrapper .page-content {
    padding: 7px 20px 10px 20px !important;
}

.sub-menu.CalendarReportSubMenu li > a {
    font-size: 12px !important;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
}

    #search.open {
        -webkit-transform: translate(0px, 0px) scale(1, 1);
        -moz-transform: translate(0px, 0px) scale(1, 1);
        -o-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1);
        opacity: 1;
        z-index: 5000 !important;
    }

    #search input[type="search"] {
        position: absolute;
        top: 50%;
        width: 100%;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0);
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }

    #search .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 61px;
        margin-left: -45px;
    }

    #search .search-close {
        background-color: green;
        border-color: green;
        font-size: 21px;
        opacity: 1;
        padding: 0px 8px;
        position: fixed;
        right: 15px;
        top: 54px;
        color: #fff;
        border: solid green;
    }

.search-input a {
    display: inline-table;
}

.search-icon {
    color: #555555;
}

    .search-icon i:hover {
        color: forestgreen;
    }


.form-wizard .steps {
    padding: 10px 0;
    margin-bottom: 15px;
}

    .form-wizard .steps, .form-wizard .steps > li > a.step {
        background-color: #fff;
        background-image: none;
        border: 0;
        box-shadow: none;
        filter: none;
    }


.tblbox .dataTables_wrapper {
    border: solid #eee 1px !important;
    padding: 10px 0 3px 0px !important;
}

.tblbox table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
}

.tblbox .dataTables_length, .tblbox .dataTables_info {
    padding-left: 5px !important;
}

.tblbox .dataTables_filter {
    padding-right: 5px !important;
}

.tblbox .dataTables_length select {
    border: solid #ddd 1px !important;
}

.tblbox .fa.fa-edit.btn-edit {
    color: #999 !important;
}

    .tblbox .fa.fa-edit.btn-edit:hover {
        color: forestgreen !important;
    }

.dynamicform label {
    font-size: 10px !important;
    color: #333;
}

.title-header {
    display: inline-block;
}


.documentform .k-input.customers.ng-pristine.ng-untouched.ng-valid.ng-empty {
    /*height: 22px !important;*/
    border: none !important;
}

.documentform .k-input {
    height: 18px !important;
    text-overflow: ellipsis !important;
    padding: 0px !important;
    border:none !important;
}

.documentform .k-select {
    border: none !important;
}

.gridebox .dataTables_wrapper th, .tblbox .dataTables_wrapper input[type="search"] {
    font-size: 11px !important;
}

.gridebox .k-grid td {
    font-size: 10px !important;
    padding: 2px 0 2px 4px !important;
}

.gridebox .c-porlettitle {
    min-height: auto !important;
    margin-bottom: 0px !important;
}

#contacts tr td, .customers_listbox li {
    font-size: 11px !important;
}

#contacts tr th {
    font-size: 12px !important;
}

.dynamicform .k-dropdown-wrap.k-state-default {
    height: 20px !important;
    border-color:#ddd;
    padding-right:0px !important;
}


.documentform .k-dropdown-wrap.k-state-default .k-input {
    font-size: 10px !important;
    border-color:#ddd;
}
/*.k-textbox
{
    float:right;
    margin-bottom:5px;
}*/
/* loader css*/
.busy-loader {
    height: 150%;
    width: 100%;
    display: none;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.41);
    z-index: 999;
}

.preloader {
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: rgba(0,0,0,0.81);
    width: 23px;
    height: 23px;
}

.loader {
    border: 10px solid #f2f2f2;
    border-radius: 50% !important;
    border-top: 10px solid #3d807c;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 25%;
    left: 50%;
}

.busy-loader > span {
    color: white;
    top: 30%;
    left: 45%;
    position: absolute;
}

.btn + .btn {
    margin-left: 0px !important;
}

/*modal design start here*/

.modal-body,.popup .modal-body {
    padding: 10px 15px 15px 15px !important;
}

.columnbg {
    background-color: #eee;
}

.customcolumn-one {
    width: 27%;
}

.mingapright, .mingapleft {
    padding-right: 0px !important;
    padding-left: 0px !important;
}



.topsearch {
    margin-right:42px !important;
}

.btn-linkicon, .btn-link {
    position: absolute !important;
    top: -1px;
    background-color: #ddd;
    padding: 4px 6px !important;
    right: 29px !important;
    color: #666;
    border:solid #ddd 1px;
}

    .btn-linkicon:hover, .btn-link:hover {
        background-color: #ccc;
    }

.txtSearchString {
    margin: 3px;
    height: 27px !important;
    margin-top: 0px;
}

.search_box {
    margin-top: 5px;
}

.expand .k-widget {
    width: 99.7%;
}

.expand {
    height: 370px;
    padding-left: 10px;
}

.modal-header b {
    font-size: 13px;
}


.expand .k-icon {
    display:inline-block !important;
}

.expand .search-grid {
    width: 98% !important;
}

.expand tbody {
    max-height: 500px !important;
}

.modal-header b {
    font-size: 13px;
}

.modal-dialogbox-body {
    min-height: 370px;
    max-height: 370px;
    padding-top: 0px !important;
}

.k-treeview-lines li span {
    display: inline-block !important;
    /*font-size: 11px;*/
}

.search-grid th {
    font-size: 12px !important;
}

.input-group .addon-iconbox {
    min-width: 23px;
    padding: 0px;
}

.search-grid td {
    font-size: 11px !important;
}

.modal-dialog-box {
    width: 70%;
}

.refrence-modoal {
    width: 95%;
}

.search-grid .k-grid-content {
    /*max-height: 278px;
    min-height: 278px;*/
    max-height: 277px;
    min-height: 277px;
}

.childmodalsubledgerbudger .modal-dialogbox-body {
    min-height: 155px;
    max-height: 250px !important;
}


/*.dynamic-table thead, .dynamic-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}*/

.subledger-table thead, .subledger-table tbody tr {
    /*display:table !important;*/
    width: 100% !important;
    table-layout: fixed !important;
}
/*.dynamic-table tbody {
    display: block !important;
}*/

.buttonadd i, .buttondelete i, .buttonedit i, buttoncancel i {
    font-size: 12px !important;
}

.buttonadd {
    color: rgb(67, 163, 46);
    margin-left: 3px !important;
}

.buttonedit {
    color: #2e7bbb;
}

.buttoncancel {
    color: #428ab5;
}

.buttondelete {
    color: #F3565D !important;
}

.buttonedit {
    /*padding-right: 3px;
        padding-left: 2px;
        margin-left: 3px !important;*/
    background-color: #ddd !important;
    border: solid #ccc 1px;
}

.buttonadd:hover i {
    color: #006400;
}

.buttonedit:hover i {
    color: #1495CE;
}

.buttondelete:hover i {
    color: #990000;
}

.buttoncancel:hover i {
    color: #17425d;
}

.budgetCenterAutoComplete {
    width: 99% !important;
}



/*modal design end here*/



.calendar-icon-2 {
    font-size: 14px !important;
    right: 9px !important;
    top: 2px !important;
}


.k-calendar .k-content .k-link {
    font-size: 11px !important;
}

.k-calendar .k-content {
    font-size: 11px !important;
}






.document_child_table .table_body, .document_child_table .child-table-head tr {
    display: table !important;
    width: 100% !important;
    table-layout: fixed !important;
}


.document_child_table .table_body {
    max-height: 150px !important;
    display: block !important;
    /*overflow: auto !important;*/
}

/*.document_child_table thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}*/




.FROM_LOCATION_CODE-child, .FROM_LOCATION_CODE_div {
    width: 14%;
}
/*.ITEM_CODE_div 
{
    width:11.65%;
}
.QUANTITY_div 
{
width:11.65%;
    
}
 */

.MU_CODE, .MU_CODE_div {
    width: 4%;
}


.document_child_table .input-group {
    width: 100%;
}

.ITEM_CODE-child, .ITEM_CODE_div {
    width: 14%;
}

/*.QUANTITY, .QUANTITY_div, .UNIT_PRICE-child,.UNIT_PRICE_div {
    width: 12%;
}
.TOTAL_PRICE-child, .TOTAL_PRICE_div {
    width: 12%;
}
.CALC_QUANTITY-child, .CALC_QUANTITY_div {
    width: 12%;
}
.CALC_UNIT_PRICE-child, .CALC_UNIT_PRICE_div {
    width: 12%;
}

.CALC_TOTAL_PRICE-child,.CALC_TOTAL_PRICE_div {
    width: 12%;
}*/

.btn-action {
    width: 8%;
}


.calendar-icon-2 {
    font-size: 14px !important;
    right: 9px !important;
    top: 2px !important;
}


.k-calendar .k-content .k-link {
    font-size: 11px !important;
}

.k-calendar .k-content {
    font-size: 11px !important;
}

.customcolumn-one .k-widget.k-treeview {
    min-height: 346px !important;
    max-height: 346px !important;
}

.modal-header {
    background-color: #eee !important;
    padding: 10px 15px !important;
}


.filterText {
    /*border: 1px solid #ddd;*/
    height: 24px !important;
    margin-left: 3px !important;
    width: 98% !important;
}

.customcolumn-one {
    width: 27%;
}

.customcolumn-two {
    width: 73%;
}


.k-list-scroller, .k-list-container {
    height: auto !important;
}

.portlet.light > .portlet-title > .actions {
    padding: 3px 0 4px !important;
}

.green-box .portlet-title {
    background-color: #44A12F;
    color: #fff;
}

.portlet.box > .portlet-title > .caption {
    padding: 8px 0 !important;
}

.portlet > .portlet-title {
    min-height: auto !important;
}

    .portlet > .portlet-title > .caption {
        font-size: 13px !important;
        min-height: auto !important;
        padding: 8px 0px !important;
    }

.green-box.portlet.box > .portlet-title > .caption i {
    color:#fff;
}

#moduleList ul li a {
    font-size: 11px;
    display: block;
    padding: 5px;
}

.green-box .btn-theme {
    background-color: forestgreen;
    color: #fff;
    margin: 3px 0px 0px 0px !important;
}

#moduleList ul li a:hover {
    background-color: #eee;
    text-decoration: none !important;
}

.k-grid-content table tr td {
    font-size: 10px !important;
}

.k-grid-header th {
    font-size: 11px !important;
}

.dataserarch-input .k-textbox {
    float: right !important;
    font-size: 11px;
}

.portlet > .portlet-title > .caption > i {
    margin-top: 3px;
}

.portlet.light > .portlet-title > .caption {
    color: #666;
    padding: 8px 0 !important;
}

.portlet > .portlet-title > .actions {
    float: right;
    display: inline-block;
    padding: 2px 0 4px !important;
}

.font-green {
    color: #44A12F !important;
}

.green-box .portlet-title {
    min-height: 33px !important;
}

.green-haze.btn {
    color: #FFFFFF;
    background-color: #2f9690 !important;
}

.btn-green-light {
    background-color: rgb(55, 192, 28);
    color: #fff;
}

    .btn-green-light:hover {
        background-color: rgba(55, 192, 28,0.9);
        color: #fff !important;
    }

.document_child_table th {
    border: 1px solid #ddd;
    font-size: 10px;
}
    .document_child_table th label
    {
        font-size:10px;
    }
    
    .expand .k-grid-content table tr td {
        border-right: none;
    }

.expand tabel tr th {
    font-size: 11px !important;
}

textarea.salestype {
    font-size: 10px !important;
}

.k-widget.referenceCustomer .k-dropdown-wrap {
    /*font-size: 10px !important;
    height: 25px !important;
    font-size: 10px !important;
    padding-right: 35px !important;*/
}

.refrence_div .k-widget {
    margin-right: 3px;
}

.actions .referenceCustomer {
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    /*padding-top: 4px;*/
    font-size: 10px !important;
    min-height: 22px;
    text-overflow: ellipsis;
    
}
.refrence_div input 
{
    min-height:22px;
}

.k-datepicker .k-input {
    border: none;
}

span.k-picker-wrap.k-state-default {
    background-color: #fff;
    border-color: #ddd;
    padding:0px;
}

    span.k-picker-wrap.k-state-default k-state-focused {
        box-shadow: none !important;
        border: none !important;
    }

        span.k-picker-wrap.k-state-default k-state-focused input {
            box-shadow: none !important;
            border: none !important;
        }

.k-list-optionlabel {
    font-size: 12px !important;
}

.refrence-modoal .k-dropdown-wrap.k-state-default {
    height: 22px !important;
    font-size: 11px !important;
    /*padding: 0px 6px !important;*/
    /*padding-right:0px !important;*/
}

.charge-table .k-widget.k-combobox.k-header {
    width: 97%;
}

.charge-table .k-dropdown-wrap.k-state-default 
{
    /*padding-right:0px !important;*/
    border-color:#ddd !important;
    background-color:#fff;
}
 
.treelist-gap {
    margin-top: 30px !important;
}

.radio_select {
    height: 24px;
}

    .radio_select span {
        margin-right: 20px;
        font-size:12px;
    }

.group {
    width: 24% !important;
}

.gridecustom {
    width: 24% !important;
}

.dynamic-table .k-dropdown-wrap, .dynamic-table .k-input.productItemCodeOption {
    border: none !important;
    box-shadow: none !important;
}

.dynamic-table .k-combobox span.k-select {
    display: none;
}

.dynamic-table .k-picker-wrap.k-state-default {
    border: none;
}
/*#splitter, .k-splitter {
    border-color:#e1e1e1;
}*/

.document_child_table {
    display: flex;
    flex-flow: column;
}

    .document_child_table thead.child-table-head {
        flex: 0 0 auto;
        width: calc(100% - 0.0em);
    }

    .document_child_table tbody.table_body {
        flex: 1 1 auto;
        display: block;
        overflow-y: auto;
        min-height: 150px;
    }

        .document_child_table tbody.table_body tr {
            width: 100%;
        }

    .document_child_table thead.child-table-head {
        display: table;
        table-layout: fixed;
    }

.table_body tr {
  display: table;
    table-layout: fixed;
}
/*#accounttree .k-group.k-treeview-lines,#producttree .k-group.k-treeview-lines {
    max-height:487px !important;
}
.k-group.k-treeview-lines {
    max-height: 487px !important;
}*/

.main input.form-control, .main select {
    height:24px;
    padding:0px 6px;
    /*border:solid #ddd 1px;*/
    font-size:11px;
}
.sdinput  {
    width:57.5%
}
.inCustomFormElement {
    width: 48%
}
.main textarea {
    padding: 0px 6px !important;
}
.portletspace {
    margin-top: 10px !important;
}






.responsive_tab {
    /*background-color: #eee !important;*/
    border-bottom: solid #ddd 1px;
}

.responsive_tab {
    width: 100% !important;
}

.responsive_tab {
    margin-top: 10px;
}

    .responsive_tab li {
        float: left !important;
        /*border-right: solid #ddd 1px;*/
    }
        /*.responsive_tab li.active a:hover {
            background-color: #fff !important;
            border-top: solid #43A12E 2px;
         
        }*/

        .responsive_tab li.active a {
            color: forestgreen !important;
            Background-color: #f8f6f6 !important;
            margin-right: 0px !important;
            border-top: solid #43A12E 2px !important;
        }

        .responsive_tab li a {
            color: #333;
            font-size: 12px;
            padding: 7px 5px !important;
        }

.responsive_tab_content {
    border: solid #ddd 1px !important;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221, 221, 221);
    border-top: none !important;
    margin-top: -10px !important;
    padding: 10px;
    background-color: #f8f6f6;
}

.radio_btn {
    width: 50%;
    display: inline-block;
}
/*.radiobox
{
  border:solid #ddd 1px;
}*/
/*.popup .modal-body {
    padding:0px 15px 0px 15px !important
}*/

.fieldset-box {
    border: solid #ddd 1px;
}

    .fieldset-box legend {
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 12px;
        border-bottom: none;
        font-weight: 600;
        margin: 0px;
    }

.radiobox span {
    font-size: 12px;
}

.popuptbl thead th {
    /*font-size: 11px !important;
    padding: 4px !important;*/
}

.popuptbl tr td {
    font-size: 10px !important;
    padding: 4px !important;
}

.fieldset-space {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.modal-medium-large {
    width: 800px;
}

.percent {
    position: absolute;
    right: 0;
    top: 0;
}

.debitcredit {
    position: absolute;
    right: -4px !important;
    top: 0;
}

.bootstraps_tbl thead th {
    font-size: 12px !important;
}

.bootstraps_tbl tbody td {
    font-size: 11px !important;
}


.add_btn {
    color: green;
    border: solid #ddd 1px;
    padding: 2px 3px;
    background-color: #eee;
    display: inline-block;
    margin-right: 5px;
    background-color: #eee;
}

.edit_btn {
    color: #5C8D89;
    border: solid #ddd 1px;
    padding: 2px 3px;
    background-color: #eee;
    display: inline-block;
    background-color: #eee;
}

.table-max {
    max-height: 147px;
    overflow: auto;
}

.minpaddding {
    padding-right: 0px !important;
}

.checkboxlist label {
    width: 49%;
}

.sectiongap {
    margin-top: 15px;
}

.dynamic-table input {
    font-size: 10px !important;
    height: 21px;
    padding: 0px 3px;
}


.dynamic-table input {
    border:none;
}
.filterText {
    width: 98% !important;
    margin-left: 3px;
    height: 24px !important;
    /*border: 1px solid #ddd !important;*/
}


.topmargin {
    margin-top: 10px !important;
}

.input_radio span {
    width: 35% !important;
    display: inline-block;
}

.align-right {
    text-align: right;
}

.input_radio_group span {
    width: 19% !important;
    display: inline-block;
}

.document_child_table th {
    padding: 5px;
}

.document_child_table td {
    border:1px solid #ddd;
    font-size:9px !important;
    border-top:none !important;
}
.document_child_table input[type="checkbox"] 
{
    height:auto !important;
}

.btn-action a, .buttonadd, .buttondelete {
    border: solid #ddd 1px !important;
    background-color: #ddd !important;
    padding: 0px 3px 0px 3px !important;
    display: inline-block;
    font-size: 11px !important;
    margin-left: 2px !important;
    vertical-align: middle !important;
    vertical-align: -webkit-baseline-middle;
    /*margin-right:1px;*/
}
 input.form-control {
    border: solid #ddd 1px;
    /*height: 24px !important;
    padding:0px 6px;*/
}
.modal-dialog-box select {
    border: solid #ddd 1px;
    height: 24px !important;
    padding: 0px 6px;
}
.main .k-dropdown-wrap, .main .k-dropdown-wrap.k-state-default {
    min-height: 24px;
    background-color: #fff;
    font-size: 11px;
    border:solid #ddd 1px;
   
   
}

.document_child_table .k-dropdown-wrap.k-state-default 
{
    min-height:auto !important;
    padding-right:0px;
}
.document_child_table input.k-input {
    min-height:21px !important;
  
}

/*.document_child_table input.form-control:focus, .document_child_table .k-widget.k-combobox:focus {
    border: solid #43A12E 1px !important;
}*/

  .k-list-filter .k-textbox {
    width: 100% !important;
}

.dynamic-table input.form-control {
    font-size: 10px !important;
    height:21px;
    /*height: 22px !important;*/
    padding: 0px 3px;
    border:none;
}
    .dynamic-table input.form-control:focus{
        border: solid #43A32E 1px !important;
    }

.dynamic-table .k-dropdown-wrap .k-state-focused, .dynamic-table .k-dropdown-wrap.k-state-default.k-state-focused {
    border: solid green 1px !important;
}

.ref_search_cus .referenceCustomer .k-dropdown-wrap.k-state-default {
    border-color:#ddd;
    background-color:#fff;
}
.documentform .k-widget.k-combobox {
    border:none;
}

.topsearch input.form-control, .topsearch input {
    margin: 1px;
    height: 24px !important;
    margin-top: 0px;
    border: solid 1px #ddd !important;
    width: 50%;
}
.titile_head {
    border-bottom: solid #c5c5c5 1px;
    display: inline-block;
    padding-bottom: 5px;
}

.input-discount {
    position: absolute !important;
    top: 0;
    right: -58px !important;
}

.input-days {
    position: absolute;
    right: -21px;
    top: 0px;
}

.setup-title {
    border-bottom: solid #c5c5c5 1px;
    display: inline-block;
    padding-bottom: 5px;
}

p.bottom_note {
    font-size: 12px !important;
}

.main textarea {
    width: 100%;
    font-size:10px;
}

.main .englishdate {
    width: 100%;
    min-height: 22px;
    font-size: 11px;
}

    .main .englishdate .k-i-warning {
        display: none;
    }

    .main .englishdate .k-select {
        border: none;
        /*top: 3px;*/
        top:-1px;
    }

.responsive_tab_content .input-group-addon {
    padding: 4px 12px !important;
}
/*.k-grid-header-wrap thead tr[role="row"], .k-grid-content tbody tr {
    display: table-row !important;
}*/

.editAction {
    color: rgb(67, 163, 46);
    text-decoration: none;
    padding-right:5px;
}
.deleteAction {
    color: rgb(226, 106, 106);

}
.editAction:hover {
    color: #006400;
}
.deleteAction:hover {
    color: #BF0000;
}
.k-grid-pager
{
    font-size:10px !important;
}
.bottomspance .portlet-body {
    padding-top:2px !important;
}

.document_child_table .k-input {
    /*height:18px !important;*/
    text-overflow:ellipsis !important;
    padding:0px !important;
    /*min-height:auto !important;*/
}
.tabbable-line .tab-content {
    border: solid #ddd 1px;
}
.general-info-3 .btn {
    margin-bottom: 3px;
}
.Tree_search {
    border-radius: 5px !important;
    margin-top: 3px !important;
}

.btnadd {
    margin-top:5px !important;
    float:right;
    margin-right:5px !important;
}
/*.portlet > .portlet-title > .actions .btn-icon-only.btn-default {
    padding:6px !important;
}*/

.k-grid-content table td
{
    text-overflow:ellipsis !important;
    white-space:nowrap !important;
}


.d-tab-content .dynamic-table {
    margin: 0px !important;
}
.d-tab-content {
    padding: 10px;
}
.btn-back {
    margin-right: 20px !important;
    display: block;
    padding: 0px;
    color: #428aca;
    margin-top: 1px !important;
}

    .btn-back i {
        font-size: 20px !important;
    }

.dynamic_child_table .k-datepicker 
{
    width:100% !important;
}
.summary-table label.control-label {
    font-size:10px !important;
}
.customcolumn-one .k-widget.k-treeview {
    min-height: 336px !important;
    max-height: 340px !important;
}

#products-list, #location-list, #ctolocation-list {
    width: 290px !important;
}

.tbl_table {
    margin-top: 5px;
    width: 100%;
}

    .tbl_table th, .tbl_table td {
        padding: 5px;
        font-size: 11px;
    }

#reference th, #reference td {
    border-right: none !important;
}

    #reference th:last-child, #reference td:last-child {
        border-right: solid #ddd 1px !important
    }

.documentmodule input.form-control, .dynamicform input, .filterText {
    border: solid #ddd 1px;
}

.filterText {
    height: 24px;
}

.k-combobox .k-select {
    display: none;
}

.table > thead > tr > td, table td input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filterText {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 9px !important;
    width: 92% !important;
    border: solid #ddd 1px !important;
}

.nepali-calendar {
    width: 100%;
}

.search_box {
    float: right;
}

input.form-control, textarea, select.form-control, textarea.form-control {
    padding: 0px 4px !important;
}

.k-pager-wrap > .k-link {
    height: auto !important;
}

.k-grid td .k-checkbox-label {
    display: table-cell !important;
}

.refrence_table th, .refrence_table td {
    padding: 5px !important;
}

.refrence_table
{
    width:50%;
}

.ref_search_cus i {
    color: #999;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    font-size: 17px;
}

.actions .referenceCustomer input {
    width: 2px !important;
    transition: .55s ease;
    padding: 2px 2px !important;
}

.modal-dialog .k-dropdown-wrap.k-state-default
{
    background-image:none !important;
}
.modal-dialog .k-dropdown-wrap.k-state-default {
    background-image: none !important;
    background-color: #fff;
    border-color: #ddd;
}

#moduleList ul li a {
    color:#333;
}


.shortcut_table
{
    width:850px !important;
}
.shorcutbuttons {
    border: solid green 1px;
    padding: 4px 10px 5px 10px;
    font-size: 12px;
    border-radius: 5px !important;
    background-color: #469a46;
    color: #fff;
    line-height: 25px;
}
.custom_table {
    max-height: 500px;
    overflow: auto;
}

.cfp-hotkeys-close {
    font-size: 21px !important;
    padding: 0px 8px !important;
    background-color: #eee !important;
    min-height: auto !important;
    min-width: auto !important;
}

.cfp-hotkeys-container {
    background-color:#fff !important;
}

/*document modal responsive media css start here*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .modal-dialog.modal-dialog-box.popup {
        width:80% !important;
    }
    .page-sidebar-closed .page-sidebar {
        width: 0px !important;
    }
    .page-sidebar-closed .page-content-wrapper .page-content {
        margin-left: 0px !important;
    }
    .page-sidebar-closed .page-sidebar .container-2 .icon {
        display:none !important;
        position:static !important;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .ITEM_CODE-child, .ITEM_CODE_div {
        width: 170px !important
    }

    .MU_CODE, .MU_CODE_div {
        width: 50px !important;
    }

    th.QUANTITY.QUANTITY-child, .QUANTITY_div {
        width: 80px !important;
    }

    .UNIT_PRICE-child, .UNIT_PRICE_div {
        width: 150px !important;
    }

    .TOTAL_PRICE-child, .TOTAL_PRICE_div {
        width: 150px !important;
    }


    .STOCK_BLOCK_FLAG-child, .STOCK_BLOCK_FLAG_div {
        width: 150px !important;
    }

    .CALC_QUANTITY-child, .CALC_QUANTITY_div {
        width: 150px !important;
    }

    .CALC_UNIT_PRICE-child, .CALC_UNIT_PRICE_div {
        width: 150px !important;
    }

    .CALC_TOTAL_PRICE-child, .CALC_TOTAL_PRICE_div {
        width: 150px !important;
    }

    .COMPLETED_QUANTITY-child, .COMPLETED_QUANTITY_div {
        width: 180px;
    }

    .FROM_LOCATION_CODE-child, .FROM_LOCATION_CODE_div {
        width: 250px;
    }
    .CHEQUE_NO-child, .CHEQUE_NO_div {
        width: 90px !important;
    }

    .REQ_QUANTITY-child, .REQ_QUANTITY_div {
        width: 100px;
    }

    .TO_BUDGET_FLAG-child, .TO_BUDGET_FLAG_div {
        width: 100px;
    }

    .SPECIFICATION-child, .SPECIFICATION_div {
        width: 100px !important;
    }

    .TRANSACTION_TYPE-child, .TRANSACTION_TYPE_div {
        width:60px !important;
    }
    .BUDGET_FLAG, .BUDGET_FLAG_div {
        width: 90px !important;
    }
    .TO_LOCATION_CODE-child, .TO_LOCATION_CODE_div {
        width: 170px !important
    }
    .REMARKS-child, .REMARKS_div {
        width: 190px !important;
    }
    .BRAND_NAME-child, .BRAND_NAME_div {
        width: 150px !important;
    }
    
    .document_child_table {
        display: table !important;
    }
    .btn-action {
        width:100px !important;
    }
    .responsive_tab li {
        min-height: 36px;
    }
    .modal-dialog.modal-dialog-box.popup {
        width: 80% !important;
    }
 .page-sidebar-closed .page-sidebar {
        width:0px !important;
    }

    .page-sidebar-closed .page-sidebar .container-2 .icon
    {
        display:none !important;
    }
    
     .page-sidebar-closed .page-sidebar .container-2 .icon {
        display:none !important;
        position:static !important;
    }
    .column-gride-3 {
        width: 25% !important;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .customcolumn-one {
        width: 42% !important;
        float: left !important;
    }

    .customcolumn-two {
        float: left !important;
        width: 57% !important;
    }

    #customerModal .modal-dialog, .modal-dialog {
        width: 100% !important;
    }

    .customcolumn-one .k-widget.k-treeview {
        /*min-height: 345px !important;
        max-height: 345px !important;*/
        min-height:336px !important;
        max-height:340px !important;
    }
    /*.modal-dialog-box {
        width: auto;
    }*/






    .ITEM_CODE-child, .ITEM_CODE_div {
        width: 170px !important
    }

    .MU_CODE, .MU_CODE_div {
        width: 50px !important;
    }

    th.QUANTITY.QUANTITY-child, .QUANTITY_div {
        width: 80px !important;
    }

    .UNIT_PRICE-child, .UNIT_PRICE_div {
        width: 150px !important;
    }

    .TOTAL_PRICE-child, .TOTAL_PRICE_div {
        width: 150px !important;
    }


    .STOCK_BLOCK_FLAG-child, .STOCK_BLOCK_FLAG_div {
        width: 150px !important;
    }

    .CALC_QUANTITY-child, .CALC_QUANTITY_div {
        width: 150px !important;
    }

    .CALC_UNIT_PRICE-child, .CALC_UNIT_PRICE_div {
        width: 150px !important;
    }

    .CALC_TOTAL_PRICE-child, .CALC_TOTAL_PRICE_div {
        width: 150px !important;
    }

    .BUDGET_FLAG, .BUDGET_FLAG_div {
        width: 90px !important;
    }

    .PARTICULARS-child, .PARTICULARS_div {
        width: 90px !important;
    }

    .ACC_CODE-child, .ACC_CODE_div {
        width: 180px !important;
    }

    .TRANSACTION_TYPE-child, .TRANSACTION_TYPE_div {
        width: 150px !important;
    }

    .AMOUNT-child, .AMOUNT_div {
        width: 100px !important;
    }

    .COMPLETED_QUANTITY-child, .COMPLETED_QUANTITY_div {
        width: 180px;
    }

    .CHEQUE_NO-child, .CHEQUE_NO_div {
        width: 90px !important;
    }

    .REQ_QUANTITY-child, .REQ_QUANTITY_div {
        width: 100px;
    }

    .TO_BUDGET_FLAG-child, .TO_BUDGET_FLAG_div {
        width: 100px;
    }

    .TO_LOCATION_CODE-child, .TO_LOCATION_CODE_div {
        width: 170px !important
    }
    .SPECIFICATION-child, .SPECIFICATION_div {
        width: 100px !important;
    }
    .REMARKS-child, .REMARKS_div {
        width: 190px !important;
    }
    .BRAND_NAME-child, .BRAND_NAME_div {
        width: 150px !important;
    }
    

    .document_child_table {
        display: table !important;
    }

    .btn-action {
        width:100px !important;
    }

    .FROM_LOCATION_CODE-child, .FROM_LOCATION_CODE_div {
        width: 200px;
    }
    .responsive_tab li {
        min-height: 36px;
    }
    .d-tab-content .table-responsive, .summary-table .table-responsive1 {
        border: none !important;
    }
    .column-gride-3 {
        width:25% !important;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    #productModal .modal-dialog, .modal-dialog {
        /*width:100% !important;*/
        width: auto !important;
    }


    .customcolumn-one {
        width: 100% !important;
    }

    .customcolumn-two {
        width: 100% !important;
        float: left !important;
    }
    /*.modal-footer button
 {
     margin-top:10px;
     margin-right:5px;
 }*/
    .actions .btn {
        margin-top: 3px;
    }

    .input-group.date-picker {
        padding-left: 15px !important;
    }

    .page-content {
        height: auto !important;
    }

    .ITEM_CODE-child, .ITEM_CODE_div {
        width: 250px !important
    }

    .MU_CODE-child, .MU_CODE_div {
        width:150px !important;
    }

    th.QUANTITY.QUANTITY-child, .QUANTITY_div {
        width:150px !important;
    }

    .UNIT_PRICE-child, .UNIT_PRICE_div {
        width:150px !important;
    }

    .TOTAL_PRICE-child, .TOTAL_PRICE_div {
        width:150px !important;
    }


    .STOCK_BLOCK_FLAG-child, .STOCK_BLOCK_FLAG_div {
        width:150px !important;
    }

    .CALC_QUANTITY-child, .CALC_QUANTITY_div {
        width:150px !important;
    }

    .CALC_UNIT_PRICE-child, .CALC_UNIT_PRICE_div {
        width:150px !important;
    }

    .CALC_TOTAL_PRICE-child, .CALC_TOTAL_PRICE_div {
        width:150px !important;
    }


    .BUDGET_FLAG, .BUDGET_FLAG_div {
        width: 90px !important;
    }

    .PARTICULARS-child, .PARTICULARS_div {
        width: 131px !important;
    }

    .ACC_CODE-child, .ACC_CODE_div {
        width: 180px !important;
    }

    .TRANSACTION_TYPE-child, .TRANSACTION_TYPE_div {
        width: 150px !important;
    }

    .AMOUNT-child, .AMOUNT_div {
        width: 100px !important;
    }
    .COMPLETED_QUANTITY-child, .COMPLETED_QUANTITY_div {
        width: 180px;
    }
    .CHEQUE_NO-child, .CHEQUE_NO_div {
        width: 90px !important;
    }
 
    .REQ_QUANTITY-child, .REQ_QUANTITY_div {
        width: 100px;
    }

    .TO_BUDGET_FLAG-child, .TO_BUDGET_FLAG_div {
        width: 100px;
    }

    .TO_LOCATION_CODE-child, .TO_LOCATION_CODE_div {
        width: 170px !important
    }
    .SPECIFICATION-child, .SPECIFICATION_div {
        width: 100px !important;
    }
    .REMARKS-child, .REMARKS_div {
        width: 190px !important;
    }
    .BRAND_NAME-child, .BRAND_NAME_div {
        width: 150px !important;
    }
    
    .btn-action {
        width:100px !important;
    }

    .document_child_table {
        display:table !important;
    }
        .document_child_table .table_body
        {
            overflow:auto !important;
        }
    .responsive_tab li {
        min-height: 36px;
    }
    .d-tab-content .table-responsive, .summary-table .table-responsive1 {
        border: none !important;
    }
    .column-gride-3 {
        width: 100% !important;
    }
    .refrence_table {
        width: 100%;
    }
        .refrence_table .table_body {
            overflow-y: hidden !important;
        }
    .table-responsive {
       border:solid #4276a4 1px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    *#productModal .modal-dialog, .modal-dialog {
        width: auto !important;
    }

    .modal-dialog-box {
        width: auto;
    }

    .customcolumn-one {
        width: 100% !important;
    }

    .customcolumn-two {
        width: 100% !important;
        float: left !important;
    }

    .expand .search-grid {
        width: 95% !important;
    }

    .nopadding-left {
        padding-left: 15px !important;
        /*margin-top:15px;*/
    }

    .actions .btn {
        margin-top: 3px;
    }

    .dropzone .dz-default.dz-message {
        width: 327px;
        height: 123px;
        margin-left: -220px;
        margin-top: -61.5px;
        top: 51%;
        left: 50%;
    }

    .input-group.date-picker {
        padding-left: 15px !important;
    }

    .page-content {
        height: auto !important;
    }

    .ITEM_CODE-child, .ITEM_CODE_div, .FROM_LOCATION_CODE-child {
        width: 250px !important
    }

    .MU_CODE-child, .MU_CODE_div {
        width:150px !important;
      
    }

    th.QUANTITY.QUANTITY-child, .QUANTITY_div {
        width: 150px !important;
    }

    .UNIT_PRICE-child, .UNIT_PRICE_div {
        width: 150px !important;
    }

    .TOTAL_PRICE-child, .TOTAL_PRICE_div {
        width: 150px !important;
    }


    .STOCK_BLOCK_FLAG-child, .STOCK_BLOCK_FLAG_div {
        width: 150px !important;
    }

    .CALC_QUANTITY-child, .CALC_QUANTITY_div {
        width: 150px !important;
    }

    .CALC_UNIT_PRICE-child, .CALC_UNIT_PRICE_div {
        width: 150px !important;
    }

    .CALC_TOTAL_PRICE-child, .CALC_TOTAL_PRICE_div {
        width: 150px !important;
    }
    .FROM_LOCATION_CODE-child, .FROM_LOCATION_CODE_div {
        width: 250px;
    }

    .BUDGET_FLAG,.BUDGET_FLAG_div {
        width:90px !important;
    }
    .PARTICULARS-child,.PARTICULARS_div {
        width:131px !important;
    }
    .ACC_CODE-child, .ACC_CODE_div
    {
        width:180px !important;
    }
    .TRANSACTION_TYPE-child, .TRANSACTION_TYPE_div {
        width: 150px !important;
    }
    .AMOUNT-child,.AMOUNT_div 
    {
        width:100px !important;
    }

    .COMPLETED_QUANTITY-child, .COMPLETED_QUANTITY_div {
        width: 180px !important;
    }

    .CHEQUE_NO-child, .CHEQUE_NO_div {
        width: 90px !important;
    }
    .REQ_QUANTITY-child, .REQ_QUANTITY_div {
        width: 100px !important;
    }

    .TO_BUDGET_FLAG-child, .TO_BUDGET_FLAG_div {
        width: 100px !important;
    }
    .TO_LOCATION_CODE-child, .TO_LOCATION_CODE_div {
        width: 170px !important
    }
    .SPECIFICATION-child, .SPECIFICATION_div {
        width: 100px !important;
    }
    .REMARKS-child, .REMARKS_div {
        width: 190px !important;
    }

    .BRAND_NAME-child,.BRAND_NAME_div 
    {
        width:150px !important;
    }
    
    
    .btn-action {
        width:100px !important;
    }

    .document_child_table {
        display: table !important;
    }
        .document_child_table .table_body {
            overflow: auto !important;
        }
    .responsive_tab li {
        min-height: 36px;
    }
    .d-tab-content .table-responsive, .summary-table .table-responsive1 {
        border: none !important;
    }
    .column-gride-3
    {
        width:100% !important;
    }
    .refrence_table
    {
        width:100%;
    }
        .refrence_table .table_body {
            overflow-y:hidden !important;
        }
}

/*document modal responsive media css end here*/


/*New Css Start Here*/
.w-100{
    width: 100% !important;
}

.w-900 {
    width: 900px !important;
}


.ref_search_cus i {
    color: #999;
    position: absolute;
    top: 3px !important;
    right: 8px !important;
    z-index: 100;
    font-size: 17px;
}

span.k-widget.k-combobox.k-header.referenceCustomer.ccustumer.cust.custumer.c.ng-pristine.ng-untouched.ng-valid.k-combobox-clearable.ng-empty {
    margin-top: -20px;
}