
.print_table {
    border-spacing: 0px !important;
}

.brdnone {
    border-bottom: none;
}

.company_div {
    width: 35%;
    float: left;
    margin-right: 2px;
}

.modal_customized {
    width: 595px;
}

.print_document_title {
    display: flex;
}

.abc {
    border-right: 1px solid black;
}

.bdrfull {
    border: 1px solid black !important;
}
.bdrfull1 {
    border: 1px solid black !important;
    width: 50px !important;
    height: 127px !important;
}
.bdrfull2 {
    border: 1px solid black !important;
    width: 55px !important;
}


.brdtop {
    border-top: 1px solid;
}

.brdbuttom {
    border-bottom: 1px solid !important;
}

.print_document_title h3 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 8px auto 9px;
    padding-bottom: 5px;
    letter-spacing: 10px;
    text-transform: uppercase;
}


.print_table.meta div {
    font-weight: 600;
}


.print_table.meta td div label {
    font-weight: 600 !important;
    font-size: 11px !important;
}

.fnce thead th {
    text-align: center !important;
}

.invoice_footer_details {
    /*border: solid #000 1px;*/
    /*padding-top: 40px;*/
}

.print_table.meta {
    width: 100%;
}


#printTemplateModal h1 {
    font: bold 100% sans-serif;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
}

.print_table th, .print_table td {
    padding: 4px;
    text-align: left;
    /*border: solid #000 1px;*/
    font-weight: 600;
}




#printTemplateModal td div {
    font-weight: normal !important;
}

#printTemplateModal html {
    font: 16px/1 "Open Sans", sans-serif;
    overflow: auto;
    padding: 0.5in;
}

#printTemplateModal html {
    background: #999;
    cursor: default;
}

#printTemplateModal body {
    box-sizing: border-box;
    height: 11in;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.5in;
    width: 8.5in;
}

#printTemplateModal body {
    background: #FFF;
    border-radius: 1px;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}



#printTemplateModal header {
    margin: 0 0 15px;
}

    #printTemplateModal header:after {
        clear: both;
        content: "";
        display: table;
    }

    #printTemplateModal header h1 {
        background: #000;
        border-radius: 0.25em;
        color: #FFF;
        margin: 0 0 1em;
        padding: 0.5em 0;
    }

    #printTemplateModal header address {
        float: left;
        font-size: 75%;
        font-style: normal;
        line-height: 1.25;
        margin: 0 1em 1em 0;
    }

        #printTemplateModal header address p {
            margin: 0 0 0.25em;
        }



    #printTemplateModal header span {
        margin: 0 0 1em 1em;
        max-height: 25%;
        max-width: 60%;
        position: relative;
    }



    #printTemplateModal header input {
        cursor: pointer;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

/* article */

#printTemplateModal article, #printTemplateModal article address, #printTemplateModal table.meta, #printTemplateModal table.inventory {
    margin: 0 0 15px;
}

    #printTemplateModal article:after {
        clear: both;
        content: "";
        display: table;
    }

    #printTemplateModal article h1 {
        clip: rect(0 0 0 0);
        position: absolute;
    }

    #printTemplateModal article address {
        float: left;
        font-size: 125%;
        font-weight: bold;
    }



    #printTemplateModal table.meta:after, #printTemplateModal table.balance:after {
        clear: both;
        content: "";
        display: table;
    }



    #printTemplateModal table.meta th {
        width: 40%;
    }

    #printTemplateModal table.meta td {
        /*width: 60%;*/
        font-size: 11px !important;
    }



#printTemplateModal table.inventory {
    clear: both;
    width: 100%;
}

    #printTemplateModal table.inventory th {
        font-weight: bold;
        text-align: center;
    }

    #printTemplateModal table.inventory td:nth-child(1) {
        width: 26%;
    }

    #printTemplateModal table.inventory td:nth-child(2) {
        width: 38%;
    }

    #printTemplateModal table.inventory td:nth-child(3) {
        text-align: right;
        width: 12%;
    }

    #printTemplateModal table.inventory td:nth-child(4) {
        text-align: right;
        width: 12%;
    }

    #printTemplateModal table.inventory td:nth-child(5) {
        text-align: right;
        width: 12%;
    }

/* table balance */

#printTemplateModal table.balance th, #printTemplateModal table.balance td {
    width: 50%;
}

#printTemplateModal table.balance td {
    /*text-align: right;*/
}

/* aside */

#printTemplateModal aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
}

#printTemplateModal aside h1 {
    border-color: #999;
    border-bottom-style: solid;
}

#printTemplateModal fieldset legend {
    width: auto !important;
    font-size: 13px;
    border-bottom: none;
    margin-bottom: 5px !important;
    font-weight: 600;
}

.printable-modal .print_table th, .printable-modal .print_table td {
    padding: 5px;
    font-size: 11px !important;
}

.print_table {
    margin-bottom: -1px;
}

.printable-modal address {
    font-weight: 900;
    text-align: center;
}


address {
    width: 500px;
}

.info {
    text-align: center;
    margin-right: 10px;
}

    .info h4 {
        margin-top: 0px !important;
        font-weight: 600;
        font-size: 21px !important;
        line-height: 15px;
        padding-top: 10px;
    }

    .info p {
        margin: 0 0 3px !important;
        font-size: 13px;
        /*font-weight: bold;*/
    }

.companylogo {
    width: 57%;
    float: left;
    margin-right: 10px;
    margin-top: 1px;
    margin-bottom: 13px;
}

    .companylogo img {
        max-width: 100%;
        max-height: 50px;
        margin-right: 20px;
    }

.p_header {
    min-height: 80px;
}

.condition_fieldset {
    border: solid #ddd 1px;
}

    .condition_fieldset legend {
        width: auto !important;
        font-size: 14px;
        font-weight: 600;
        padding: 5px;
        margin-bottom: 0px;
        border-bottom: none;
    }

.invoice_title h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.invoice_footer_details ul {
    text-align: center;
    padding-left: 0px;
}


    .invoice_footer_details ul li {
        display: inline-block;
        font-weight: 600;
        padding-top: 31px;
        padding-right: 31px;
        font-size: 12px;
    
    }

        .invoice_footer_details ul li:last-child {
            padding-right: 0px;
        }

/*.narration {
    padding-top: 20px;
}*/

.narration p {
    font-size: 12px;
}


.narration strong {
    color: #333;
}

.condition_fieldset ol {
    padding-left: 20px;
}

    .condition_fieldset ol li {
        padding-bottom: 7px;
        font-size: 13px;
    }

.print_table.fnce td {
    /*border-width: 0 1px 0 !important;*/
    vertical-align: top;
}


.meta {
    margin-bottom: 0px;
}

.by {
    font-weight: normal !important;
    padding-bottom: 5px;
}




print_table.fnce {
    margin-bottom: -1px !important;
    height: auto;
    background-color: #ff0000;
}

.print_table.fnce th {
    /*background-color: #ddd;*/
}



.print_table.fnce td {
    /*border-width: 0 1px 0 !important;*/
    vertical-align: top;
}





.meta {
    margin-bottom: 0px;
}

.by {
    font-weight: normal !important;
    padding-bottom: 5px;
}

.narration {
    margin-bottom: 10px;
}

.print_table {
    /*border: solid #000 1px;*/
    border-collapse: collapse;
}

    .print_table > tr:first-child > td,
    .print_table > tr:first-child > th,
    .print_table thead > tr:first-child > td,
    .print_table thead > tr:first-child > th,
    .print_table > thead:first-child > tr:first-child > td,
    .print_table > thead:first-child > tr:first-child > th {
        border-top: 0;
    }

    .print_table > thead > tr > td, .print_table > thead > tr > th {
        border-bottom-width: 1px;
    }

.fnce > thead {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}


.print_table > tbody > tr > td,
.print_table > tbody > tr > th,
.print_table > tfoot > tr > td,
.print_table > tfoot > tr > th,
.print_table > thead > tr > td,
.print_table > thead > tr > th {
    border-width: 0px 1px 0px 0px !important;
    /*border:solid 1px;*/
}


.print_document_title h3 {
    text-align: center;
}

.left-side {
    width: 45%;
    float: left
}
.left-side1 {
    width: 50%;
    float: left;
    height: 127px;
}
.right-side {
    width: 50%;
    float: left
}
.right-side1 {
    width: 50%;
    float: left
}


.print_table.consignee th, .print_table.consignee td {
    border: none !important;
}

.print_table.consignee, .print_table.meta, .print_table.meta th, .print_table.meta td {
    border: none !important;
}

.border-top-bottom {
    /*border-top:solid #000 1px !important;
 border-bottom:solid #000 1px !important;*/
}

strong {
    color: #000 !important;
}

.bottom-footer {
    /*border-top: solid #ddd 1px;*/
    padding-top: 10px;
}


.page {
    page-break-after: always;
}

@page {
    margin: 20mm;
    height: 250px;
}

/**/
#background {
    position: fixed;
    top: 30%;
    z-index: 0;
    display: block;
    min-height: 50%;
    min-width: 50%;
}

#content {
    position: absolute;
    left: 75%;
    z-index: 1;
}

#bg-text {
    color: lightgrey;
    font-size: 60px;
    opacity: .4;
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
}
/**/

@media print {


    /**/
    #background {
        position: fixed;
        top: 30%;
        z-index: 0;
        display: block;
        min-height: 50%;
        min-width: 50%;
    }

    #content {
        position: absolute;
        left: 75%;
        z-index: 1;
    }

    #bg-text {
        color: lightgrey;
        font-size: 60px;
        opacity: .4;
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
    }
    /**/



    .header, .header-space,
    .footer, .footer-space {
        height: 400px;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }


    html, body {
        min-height: 20mm;
        max-height: 290mm;
        width: 210mm;
    }


    .header, header-space {
        position: fixed;
        display: block;
        top: 0;
    }

    .footer, footer-space {
        /*position: fixed !important;
        display: block;
        bottom: 0;*/
        position: fixed !important;
        bottom: 0;
        width: 100%;
        /*border-top: 1px solid black; for demo
        background: yellow;  for demo */
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    .footer, .footer-space {
        padding-right: 20px;
    }

    .signature {
        margin-right: 60px;
    }

    .f1 {
        margin-right: 80px;
    }

    .ff {
        margin-right: 60px;
    }











    strong {
        color: #000 !important;
    }

    .print_table {
        border-spacing: 0px !important;
    }

    .company_div {
        width: 35%;
        float: left;
        margin-right: 2px;
    }

    .modal_customized {
        width: 595px;
    }

    .print_document_title {
        display: flex;
    }

        .print_document_title h3 {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            margin: 8px auto 9px;
            padding-bottom: 5px;
            letter-spacing: 10px;
            text-transform: uppercase;
        }


    .print_table.meta div {
        font-weight: 600;
    }


    .print_table.meta td div label {
        font-weight: 600 !important;
        font-size: 11px !important;
    }

    .fnce thead th {
        text-align: center !important;
    }

    .invoice_footer_details {
        /*border: solid #000 1px;*/
        padding-top: 40px;
    }

    .print_table.meta {
        width: 100%;
    }


    #printTemplateModal h1 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
    }

    .print_table th, .print_table td {
        padding: 4px;
        text-align: left;
        /*border: solid #000 1px;*/
        font-weight: 600;
    }




    #printTemplateModal td div {
        font-weight: normal !important;
    }

    #printTemplateModal html {
        font: 16px/1 "Open Sans", sans-serif;
        overflow: auto;
        padding: 0.5in;
    }

    #printTemplateModal html {
        background: #999;
        cursor: default;
    }

    #printTemplateModal body {
        box-sizing: border-box;
        height: 11in;
        margin: 0 auto;
        overflow: hidden;
        padding: 0.5in;
        width: 8.5in;
    }

    #printTemplateModal body {
        background: #FFF;
        border-radius: 1px;
        box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    }



    #printTemplateModal header {
        margin: 0 0 15px;
    }

        #printTemplateModal header:after {
            clear: both;
            content: "";
            display: table;
        }

        #printTemplateModal header h1 {
            background: #000;
            border-radius: 0.25em;
            color: #FFF;
            margin: 0 0 1em;
            padding: 0.5em 0;
        }

        #printTemplateModal header address {
            float: left;
            font-size: 75%;
            font-style: normal;
            line-height: 1.25;
            margin: 0 1em 1em 0;
        }

            #printTemplateModal header address p {
                margin: 0 0 0.25em;
            }



        #printTemplateModal header span {
            margin: 0 0 1em 1em;
            max-height: 25%;
            max-width: 60%;
            position: relative;
        }



        #printTemplateModal header input {
            cursor: pointer;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

    /* article */

    #printTemplateModal article, #printTemplateModal article address, #printTemplateModal table.meta, #printTemplateModal table.inventory {
        margin: 0 0 15px;
    }

        #printTemplateModal article:after {
            clear: both;
            content: "";
            display: table;
        }

        #printTemplateModal article h1 {
            clip: rect(0 0 0 0);
            position: absolute;
        }

        #printTemplateModal article address {
            float: left;
            font-size: 125%;
            font-weight: bold;
        }



        #printTemplateModal table.meta:after, #printTemplateModal table.balance:after {
            clear: both;
            content: "";
            display: table;
        }



        #printTemplateModal table.meta th {
            width: 40%;
        }

        #printTemplateModal table.meta td {
            /*width: 60%;*/
            font-size: 11px !important;
        }



    #printTemplateModal table.inventory {
        clear: both;
        width: 100%;
    }

        #printTemplateModal table.inventory th {
            font-weight: bold;
            text-align: center;
        }

        #printTemplateModal table.inventory td:nth-child(1) {
            width: 26%;
        }

        #printTemplateModal table.inventory td:nth-child(2) {
            width: 38%;
        }

        #printTemplateModal table.inventory td:nth-child(3) {
            text-align: right;
            width: 12%;
        }

        #printTemplateModal table.inventory td:nth-child(4) {
            text-align: right;
            width: 12%;
        }

        #printTemplateModal table.inventory td:nth-child(5) {
            text-align: right;
            width: 12%;
        }

    /* table balance */

    #printTemplateModal table.balance th, #printTemplateModal table.balance td {
        width: 50%;
    }

    #printTemplateModal table.balance td {
        /*text-align: right;*/
    }

    /* aside */

    #printTemplateModal aside h1 {
        border: none;
        border-width: 0 0 1px;
        margin: 0 0 1em;
    }

    #printTemplateModal aside h1 {
        border-color: #999;
        border-bottom-style: solid;
    }

    #printTemplateModal fieldset legend {
        width: auto !important;
        font-size: 13px;
        border-bottom: none;
        margin-bottom: 5px !important;
        font-weight: 600;
    }

    .printable-modal .print_table th, .printable-modal .print_table td {
        padding: 5px;
        font-size: 11px !important;
    }

    .print_table {
        margin-bottom: -1px;
    }

    .printable-modal address {
        font-weight: 900;
        text-align: center;
    }


    address {
        width: 500px;
    }

    .info {
        text-align: center;
        margin-right: 10px;
    }

        .info h4 {
            margin-top: 0px !important;
            font-weight: 600;
            font-size: 21px !important;
            line-height: 15px;
            padding-top: 10px;
        }

        .info p {
            margin: 0 0 3px !important;
            font-size: 13px;
            /*font-weight: bold;*/
        }

    .companylogo {
        width: 57%;
        float: left;
        margin-right: 10px;
        margin-bottom: 13px;
    }

        .companylogo img {
            max-width: 100%;
            max-height: 50px;
            margin-right: 20px;
        }

    .p_header {
        min-height: 80px;
    }

    .condition_fieldset {
        border: solid #ddd 1px;
    }

        .condition_fieldset legend {
            width: auto !important;
            font-size: 14px;
            font-weight: 600;
            padding: 5px;
            margin-bottom: 0px;
            border-bottom: none;
        }

    .invoice_title h2 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    .invoice_footer_details ul {
        text-align: center;
        padding-left: 0px;
    }


        .invoice_footer_details ul li {
            display: inline-block;
            font-weight: 600;
            padding-top: 50px;
            padding-right: 29px;
            font-size: 12px;
        }

            .invoice_footer_details ul li:last-child {
                padding-right: 0px;
            }

    /*.narration {
    padding-top: 20px;
}*/

    .narration p {
        font-size: 12px;
    }


    .narration strong {
        color: #333;
    }

    .condition_fieldset ol {
        padding-left: 20px;
    }

        .condition_fieldset ol li {
            padding-bottom: 7px;
            font-size: 13px;
        }

    .print_table.fnce td {
        /*border-width: 0 1px 0 !important;*/
        vertical-align: top;
    }


    .meta {
        margin-bottom: 0px;
    }

    .by {
        font-weight: normal !important;
        padding-bottom: 5px;
    }




    print_table.fnce {
        margin-bottom: -1px !important;
        height: 250px;
    }

    .print_table.fnce th {
        background-color: #ddd;
    }



    .print_table.fnce td {
        /*border-width: 0 1px 0 !important;*/
        vertical-align: top;
    }





    .meta {
        margin-bottom: 0px;
    }

    .by {
        font-weight: normal !important;
        padding-bottom: 5px;
    }

    .narration {
        margin-bottom: 10px;
    }

    .print_table {
        /*border: solid #000 1px;*/
        border-collapse: collapse;
    }

        .print_table > tr:first-child > td,
        .print_table > tr:first-child > th,
        .print_table thead > tr:first-child > td,
        .print_table thead > tr:first-child > th,
        .print_table > thead:first-child > tr:first-child > td,
        .print_table > thead:first-child > tr:first-child > th {
            border-top: 0;
        }

        .print_table > thead > tr > td, .print_table > thead > tr > th {
            border-bottom-width: 1px;
        }


        .print_table > tbody > tr > td,
        .print_table > tbody > tr > th,
        .print_table > tfoot > tr > td,
        .print_table > tfoot > tr > th,
        .print_table > thead > tr > td,
        .print_table > thead > tr > th {
            /*border: 1px solid #000;*/
        }


    .print_document_title h3 {
        text-align: center;
    }

    .left-side {
        width: 40%;
        float: left
    }

    .right-side {
        width: 50%;
        float: left
    }


    .print_table.consignee th, .print_table.consignee td {
        border: none !important;
    }

    .print_table.consignee, .print_table.meta, .print_table.meta th, .print_table.meta td {
        border: none !important;
    }

    .bottom-footer {
        /*border-top: solid #ddd 1px;*/
        padding-top: 10px;
    }
}

body {
}
