


#printTemplateModal h1 {
    font: bold 100% sans-serif;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
}

/* table */

#printTemplateModal table {
    font-size: 75%;
    table-layout: fixed;
    width: 100%;
}

#printTemplateModal table {
    border-collapse: separate;
    border-spacing: 2px;
}

#printTemplateModal th, #printTemplateModal td {
    /*border-width: 1px;*/
    padding: 0.5em;
    position: relative;
    text-align: left;
    border: solid #999 1px;
}

#printTemplateModal th, #printTemplateModal td {
    border-radius: 0.25em;
    /*border-style: solid;*/

}

#printTemplateModal th {
    background: #EEE;
    border-color: #BBB;
}

#printTemplateModal td {
    border-color: #DDD;
}

/* page */

#printTemplateModal html {
    font: 16px/1 "Open Sans", sans-serif;
    overflow: auto;
    padding: 0.5in;
}

#printTemplateModal html {
    background: #999;
    cursor: default;
}

#printTemplateModal body {
    box-sizing: border-box;
    height: 11in;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.5in;
    width: 8.5in;
}

#printTemplateModal body {
    background: #FFF;
    border-radius: 1px;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}

/* header */

#printTemplateModal header {
    margin: 0 0 3em;
}

    #printTemplateModal header:after {
        clear: both;
        content: "";
        display: table;
    }

    #printTemplateModal header h1 {
        background: #000;
        border-radius: 0.25em;
        color: #FFF;
        margin: 0 0 1em;
        padding: 0.5em 0;
    }

    #printTemplateModal header address {
        float: left;
        font-size: 75%;
        font-style: normal;
        line-height: 1.25;
        margin: 0 1em 1em 0;
    }

        #printTemplateModal header address p {
            margin: 0 0 0.25em;
        }

    #printTemplateModal header span, #printTemplateModal header img {
        display: block;
        float: right;
    }

    #printTemplateModal header span {
        margin: 0 0 1em 1em;
        max-height: 25%;
        max-width: 60%;
        position: relative;
    }

    #printTemplateModal header img {
        max-height: 100%;
        max-width: 100%;
    }

    #printTemplateModal header input {
        cursor: pointer;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

/* article */

#printTemplateModal article, #printTemplateModal article address, #printTemplateModal table.meta, #printTemplateModal table.inventory {
    margin: 0 0 3em;
}

    #printTemplateModal article:after {
        clear: both;
        content: "";
        display: table;
    }

    #printTemplateModal article h1 {
        clip: rect(0 0 0 0);
        position: absolute;
    }

    #printTemplateModal article address {
        float: left;
        font-size: 125%;
        font-weight: bold;
    }

/* table meta & balance */

#printTemplateModal table.meta, #printTemplateModal table.balance {
    float: right;
    width: 36%;
}

    #printTemplateModal table.meta:after, #printTemplateModal table.balance:after {
        clear: both;
        content: "";
        display: table;
    }

    /* table meta */

    #printTemplateModal table.meta th {
        width: 40%;
    }

    #printTemplateModal table.meta td {
        width: 60%;
    }

/* table items */

#printTemplateModal table.inventory {
    clear: both;
    width: 100%;
}

    #printTemplateModal table.inventory th {
        font-weight: bold;
        text-align: center;
    }

    #printTemplateModal table.inventory td:nth-child(1) {
        width: 26%;
    }

    #printTemplateModal table.inventory td:nth-child(2) {
        width: 38%;
    }

    #printTemplateModal table.inventory td:nth-child(3) {
        text-align: right;
        width: 12%;
    }

    #printTemplateModal table.inventory td:nth-child(4) {
        text-align: right;
        width: 12%;
    }

    #printTemplateModal table.inventory td:nth-child(5) {
        text-align: right;
        width: 12%;
    }

/* table balance */

#printTemplateModal table.balance th, #printTemplateModal table.balance td {
    width: 50%;
}

#printTemplateModal table.balance td {
    text-align: right;
}

/* aside */

#printTemplateModal aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
}

#printTemplateModal aside h1 {
    border-color: #999;
    border-bottom-style: solid;
}

#printTemplateModal fieldset legend {
    width: auto !important;
    font-size: 13px;
    border-bottom: none;
    margin-bottom: 5px !important;
    font-weight: 600;
}

.printable-modal .print_table th, .printable-modal .print_table td {
    padding: 5px;
    font-size:12px !important;
}
.print_table 
{
    margin-bottom:10px;
}
.printable-modal address {
    font-weight: 900;
    text-align: center;
}

 
address
{
    width:500px;
}
.info {
    text-align: center;
    float: left;
    width: 42%;
    margin-top: 7px;
    margin-right: 5px;
}
    .info h4 {
        margin-top: 0px !important;
        margin-top: 0px !important;
        font-weight: 900;
        font-size: 15px !important;
    }
.info p {
    margin: 0 0 5px !important;
    font-size: 14px;
    font-weight: bold;
}
.companylogo {
    width:28%;
    float: left;
    margin-top: 10px;
}
.companylogo img {
    max-width: 100%;
    max-height: 31px;
}
.p_header {
    min-height: 80px;
}
.condition_fieldset 
{
    border:solid #ddd 1px;
}
.condition_fieldset legend {
    width: auto !important;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 0px;
    border-bottom: none;
}
.invoice_title h2 {
    font-size: 24px;
    font-weight: 600;
    text-align:center;
}
.invoice_footer_details ul{
    text-align:center;
    padding-left:0px;
}


.invoice_footer_details ul li {
    display: inline-block;
    font-weight: 600;
    padding-top: 40px;
    padding-right: 29px;
}
    .invoice_footer_details ul li:last-child {
        padding-right: 0px;
    }
.narration
{
    padding-top:20px;
}
.narration p
{
font-size:13px;
}


.narration strong {
    color: #333;
}
.condition_fieldset ol
{
    padding-left:20px;
}
.condition_fieldset ol li
{
    padding-bottom:7px;
    font-size:13px;
}









@media print {
    #printTemplateModal .modal-dialog {
        width: 1240px !important;
        height: 1754px !important;
    }

    #printTemplateModal h1 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
    }

    /* table */

    #printTemplateModal table {
        font-size: 75%;
        table-layout: fixed;
        width: 100%;
    }

    #printTemplateModal table {
        border-collapse: separate;
        border-spacing: 2px;
    }

    #printTemplateModal th, #printTemplateModal td {
        /*border-width: 1px;*/
        padding: 0.5em;
        position: relative;
        text-align: left;
        border: solid #999 1px;
    }

    #printTemplateModal th, #printTemplateModal td {
        border-radius: 0.25em;
        /*border-style: solid;*/
    }

    #printTemplateModal th {
        background: #EEE;
        border-color: #BBB;
    }

    #printTemplateModal td {
        border-color: #DDD;
    }

    /* page */

    #printTemplateModal html {
        font: 16px/1 "Open Sans", sans-serif;
        overflow: auto;
        padding: 0.5in;
    }

    #printTemplateModal html {
        background: #999;
        cursor: default;
    }

    #printTemplateModal body {
        box-sizing: border-box;
        height: 11in;
        margin: 0 auto;
        overflow: hidden;
        padding: 0.5in;
        width: 8.5in;
    }

    #printTemplateModal body {
        background: #FFF;
        border-radius: 1px;
        box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    }

    /* header */

    #printTemplateModal header {
        margin: 0 0 3em;
    }

        #printTemplateModal header:after {
            clear: both;
            content: "";
            display: table;
        }

        #printTemplateModal header h1 {
            background: #000;
            border-radius: 0.25em;
            color: #FFF;
            margin: 0 0 1em;
            padding: 0.5em 0;
        }

        #printTemplateModal header address {
            float: left;
            font-size: 75%;
            font-style: normal;
            line-height: 1.25;
            margin: 0 1em 1em 0;
        }

            #printTemplateModal header address p {
                margin: 0 0 0.25em;
            }

        #printTemplateModal header span, #printTemplateModal header img {
            display: block;
            float: right;
        }

        #printTemplateModal header span {
            margin: 0 0 1em 1em;
            max-height: 25%;
            max-width: 60%;
            position: relative;
        }

        #printTemplateModal header img {
            max-height: 100%;
            max-width: 100%;
        }

        #printTemplateModal header input {
            cursor: pointer;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

    /* article */

    #printTemplateModal article, #printTemplateModal article address, #printTemplateModal table.meta, #printTemplateModal table.inventory {
        margin: 0 0 3em;
    }

        #printTemplateModal article:after {
            clear: both;
            content: "";
            display: table;
        }

        #printTemplateModal article h1 {
            clip: rect(0 0 0 0);
            position: absolute;
        }

        #printTemplateModal article address {
            float: left;
            font-size: 125%;
            font-weight: bold;
        }

    /* table meta & balance */

    #printTemplateModal table.meta, #printTemplateModal table.balance {
        float: right;
        width: 36%;
    }

        #printTemplateModal table.meta:after, #printTemplateModal table.balance:after {
            clear: both;
            content: "";
            display: table;
        }

        /* table meta */

        #printTemplateModal table.meta th {
            width: 40%;
        }

        #printTemplateModal table.meta td {
            width: 60%;
        }

    /* table items */

    #printTemplateModal table.inventory {
        clear: both;
        width: 100%;
    }

        #printTemplateModal table.inventory th {
            font-weight: bold;
            text-align: center;
        }

        #printTemplateModal table.inventory td:nth-child(1) {
            width: 26%;
        }

        #printTemplateModal table.inventory td:nth-child(2) {
            width: 38%;
        }

        #printTemplateModal table.inventory td:nth-child(3) {
            text-align: right;
            width: 12%;
        }

        #printTemplateModal table.inventory td:nth-child(4) {
            text-align: right;
            width: 12%;
        }

        #printTemplateModal table.inventory td:nth-child(5) {
            text-align: right;
            width: 12%;
        }

    /* table balance */

    #printTemplateModal table.balance th, #printTemplateModal table.balance td {
        width: 50%;
    }

    #printTemplateModal table.balance td {
        text-align: right;
    }

    /* aside */

    #printTemplateModal aside h1 {
        border: none;
        border-width: 0 0 1px;
        margin: 0 0 1em;
    }

    #printTemplateModal aside h1 {
        border-color: #999;
        border-bottom-style: solid;
    }

    #printTemplateModal fieldset legend {
        width: auto !important;
        font-size: 13px;
        border-bottom: none;
        margin-bottom: 5px !important;
        font-weight: 600;
    }

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid #ddd;
    }

    /*.print_table > tbody > tr > td, .print_table > tbody > tr > th, .print_table > tfoot > tr > td, .print_table > tfoot > tr > th, .print_table > thead > tr > td, .print_table > thead > tr > th {
        border: 1px solid #999;
    }*/

    .table-bordered {
        border: 1px solid #ddd;
    }

    .printable-modal .print_table th, .printable-modal .print_table td {
        padding: 5px;
        font-size: 12px !important;
    }

    .print_table {
        margin-bottom: 10px;
    }

    .printable-modal address {
        font-weight: 900;
        text-align: center;
    }


    address {
        width: 500px;
    }

    .info {
        text-align: center;
        float: left;
        width: 42%;
        margin-top: 7px;
        margin-right: 5px;
    }

        .info h4 {
            margin-top: 0px !important;
            font-weight: 900;
            font-size: 15px !important;
            margin-bottom:10px !important;
        }

        .info p {
            margin: 0 0 5px !important;
            font-size: 14px;
            font-weight: bold;
        }

    .companylogo {
        width: 28%;
        float: left;
        margin-top: 10px;
    }

        .companylogo img {
            max-width: 100%;
            max-height: 31px;
        }

    .p_header {
        min-height: 80px;
    }

    .condition_fieldset {
        border: solid #000 1px;
    }

        .condition_fieldset legend {
            width: auto !important;
            font-size: 14px;
            font-weight: 600;
            padding: 5px;
            margin-bottom: 0px;
            border-bottom: none;
        }

    .invoice_title h2 {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    .invoice_footer_details ul {
        text-align: center;
        padding-left: 0px;
    }


        .invoice_footer_details ul li {
            display: inline-block;
            font-weight: 600;
            padding-top: 40px;
            padding-right: 29px;
        }

            .invoice_footer_details ul li:last-child {
                padding-right: 0px;
            }

    .narration {
        padding-top: 20px;
    }
        .narration p {
            font-size: 13px !important;
        }


        .narration strong {
            color: #333;
        }

    .condition_fieldset ol {
        padding-left: 20px;
    }

        .condition_fieldset ol li {
            padding-bottom: 7px;
            font-size: 13px !important;
        }
}