@{
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
}

   

<div ng-controller="dynamicCtrl">

    <div class="page-sidebar-wrapper">


        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu page-sidebar-menu-light" data-keep-expanded="true" data-auto-scroll="true" data-slide-speed="200">
                <li class="sidebar-search-wrapper">
                    <!-- NEW SEARCH TEXTBOX FOR MENU SEARCH -->
                    <form class="sidebar-search" action="" method="POST">
                        <a href="javascript:;" class="remove">
                            <i class="icon-close"></i>
                        </a>
                        <div class="input-group search-input">
                            <a href="javascript:;">
                                <input id="hehe" type="search" class="search form-control swith" ng-model="searchBox" placeholder="Search...">
                                <span class="input-group-btn search-icon">
                                    <i class="icon-magnifier"></i>
                                </span>
                            </a>
                        </div>
                    </form>
                    @*<li class="start">
                <a href="/Distribution/Home/Dashboard#!Distribution/">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>*@
                <li class="start">
                    <a href="/Distribution/Home/dashboardlayout#!Distribution/">
                        <i class="icon-home"></i>
                        <span class="title">Organiser</span>
                        <span class="selected"></span>
                    </a>
                </li>
                @*<li class="start">
            <a href="/Distribution/Home/Dashboard#!Distribution/MrVisitTracking">
                <i class="icon-home"></i>
                <span class="title">Mr Tracking</span>
                <span class="selected"></span>
            </a>
        </li>*@

                @*<li class="start">
            <a href="/Distribution/Home/Dashboard#!Distribution/PurchaseReport">
                <i class="icon-home"></i>
                <span class="title">Purchase Order</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="start">
            <a href="/Distribution/Home/Dashboard#!Distribution/ApprovePurchaseReport">
                <i class="icon-home"></i>
                <span class="title">Approve Purchase Order</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="start">
            <a href="/Distribution/Home/Dashboard#!Distribution/ResellerPOSummaryStatus">
                <i class="icon-home"></i>
                <span class="title">Summary Purchase Order</span>
                <span class="selected"></span>
            </a>
        </li>*@
                @*<li class="start">
            <a href="/Distribution/Home/Dashboard#!Distribution/EmployeeWisePerformance">
                <i class="icon-home"></i>
                <span class="title">Employee Wise Performance</span>
                <span class="selected"></span>
            </a>
        </li>*@

                <li ng-repeat="menu in dynamicMenu">
                    <a ng-if="menu.GROUP_SKU_FLAG === 'I'" href="{{menu.VIRTUAL_PATH}}">
                        <i class="{{menu.ICON_PATH}}"></i>

                        <span class="title">{{menu.MENU_EDESC}}</span>
                    </a>
                    <a ng-if="menu.GROUP_SKU_FLAG === 'G'" href="javascript:;">
                        <i class="{{menu.ICON_PATH}}"></i>
                        <span class="title">{{menu.MENU_EDESC}}</span>
                        <span class="arrow"></span>
                    </a>
                    <ul ng-if="menu.GROUP_SKU_FLAG === 'G'" class="sub-menu">
                        <li ng-repeat="item in menu.Items | filter:  { MENU_EDESC: searchBox }">
                            <a ng-href="{{item.FULL_PATH}}" data-abbr="{{item.MODULE_ABBR}}">
                                <i class="{{item.ICON_PATH}}"></i>
                                <span class="title">{{item.MENU_EDESC}}</span>
                            </a>
                        </li>

                    </ul>
                </li>
                @*<li class="start">
                    <a href="/Distribution/Home/Dashboard#!Distribution/SchemeSetup">
                        <i class="icon-home"></i>
                        <span class="title">Scheme Setup</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="start">
                    <a href="/Distribution/Home/Dashboard#!Distribution/SchemeReport">
                        <i class="icon-home"></i>
                        <span class="title">Scheme Report</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="start">
                    <a href="/Distribution/Home/Dashboard#!Distribution/SchemeWiseReport">
                        <i class="icon-home"></i>
                        <span class="title">Scheme Wise Report</span>
                        <span class="selected"></span>
                    </a>
                </li><li class="start">
                    <a href="/Distribution/Home/Dashboard#!Distribution/SchemeChecker">
                        <i class="icon-home"></i>
                        <span class="title">Scheme Checker</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="start">
                    <a href="/Distribution/Home/Dashboard#!Distribution/SchemeApprovalSetup">
                        <i class="icon-home"></i>
                        <span class="title">Scheme Approval</span>
                        <span class="selected"></span>
                    </a>
                </li>*@
            </ul>
        </div>
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        @*@Html.Partial("_distMenu")*@
    </div>
</div>

<script>
    $(function () {
        $(".sub-menu > li").on('click', function () {
            $('.page-sidebar-menu').find('li').removeClass('active');
            $(this).parent().parent().addClass('active')
            $(this).addClass('active');
        })

        $(".page-sidebar-menu > li").on('click', function () {
            if (!$(this).hasClass('nav-item')) {
                $('.page-sidebar-menu').find('li').removeClass('active');
                $(this).addClass('active');
            }
        })

        $('a[href="#search"]').on('click', function (event) {
            event.preventDefault();
            $('#search').addClass('open');
            $('#search > form > input[type="search"]').focus();
        });

        $('#search, #search button.search-close').on('click keyup', function (event) {
            if (event.target == this || event.target.className == 'search-close' || event.keyCode == 27) {
                $(this).removeClass('open');
            }
        });
        $('form').submit(function (event) {
            event.preventDefault();
            return false;
        })
    });
</script>

<script>
    $(".search").on("input", function () {
        if (this.value.length > 0)
            $(".sub-menu:hidden").slideDown("slow");
        else
            $(".sub-menu").slideUp("slow");
    });

</script>

@*<script>

        $("#hehe").keyup(function () {

         var dd=   $("#hehe").text();

            setTimeout(function () {
                location.href = "/Distribution/Home/Dashboard#!Distribution/AreaSetup"

            }, 3000);
        });
    </script>*@
