
<style>
    .sub-menu.CalendarReportSubMenu li > a {
        font-size: 12px !important;
    }
</style>
<div ng-controller="dynamicCtrl" class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu page-sidebar-menu-light" data-keep-expanded="true" data-auto-scroll="true" data-slide-speed="200">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
            @*<form class="sidebar-search" action="" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group search-input">
                        <a href="#search"><input type="text" class="form-control swith" placeholder="Search...">
                        <span class="input-group-btn search-icon">
                            <i class="icon-magnifier"></i>
                        </span>
                        </a>
                    </div>
                </form>
                <div id="search">
                    <button type="button" class="search-close">×</button>
                    <form>
                        <input type="search" value="" placeholder="type here to Search" />
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>*@
            <!-- NEW SEARCH TEXTBOX FOR MENU SEARCH -->
            <form class="sidebar-search" action="" method="POST">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group search-input">
                    <a href="javascript:;">
                        <input type="search" class="search form-control swith" ng-model="searchBox" placeholder="Search...">
                        <span class="input-group-btn search-icon">
                            <i class="icon-magnifier"></i>
                        </span>
                    </a>
                </div>
            </form>


            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="start active open">
            <a href="/Distribution/Home/dashboardlayout">
                <i class="icon-home"></i>
                <span class="title">Organizer</span>
                <span class="selected"></span>
            </a>
        </li>
        <!-- Favourite Menu Start from here-->
        <li ng-show="favroiteMenuList.length > 0">
            <a href="javascript:;">
                <i class="fa fa-bookmark font-red-sunglo"></i>
                <span class="title">Favourite</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li ng-init="randomColor(0,0,$last)" ng-repeat="item in favroiteMenuList | filter:  { Report:{RName: searchBox} }">
                    <a ng-href="{{ getMenuLink(item.Report.RName,item.Report.virtualPath,item.Report.RName) }}" data-abbr="{{item.MODULE_ABBR}}">
                        <i class="{{item.Report.icon}}"></i>
                        <span class="title">{{item.Report.RName}}</span>
                    </a>
                </li>
            </ul>

        </li>
        <!-- Favourite Menu End from here-->
        <!-- Dynamic Menu Start from here-->
        <li ng-repeat="menu in dynamicMenus">
            <a ng-if="menu.GROUP_SKU_FLAG === 'I'" href="/{{menu.VIRTUAL_PATH}}">
                <i class="{{menu.ICON_PATH}}"></i>

                <span class="title">{{menu.MENU_EDESC}}</span>
            </a>
            <a ng-if="menu.GROUP_SKU_FLAG === 'G'" href="javascript:;">
                <i class="{{menu.ICON_PATH}}"></i>
                <span class="title">{{menu.MENU_EDESC}}</span>
                <span class="arrow"></span>
            </a>
            <ul ng-if="menu.GROUP_SKU_FLAG === 'G'" class="sub-menu">
                <li ng-init="randomColor(0,0,$last)" ng-repeat="item in menu.Items | filter:  { MENU_EDESC: searchBox }">
                    <a ng-href="{{item.FULL_PATH}}" data-abbr="{{item.MODULE_ABBR}}">
                        <i class="{{item.ICON_PATH}}"></i>
                        <span class="title">{{item.MENU_EDESC}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-show="dynamicMenus.length>0">
            <a href="javascript:;">
                <i class="icon-calendar" aria-hidden="false"></i>
                <span class="title">Calender Report</span>
                <span class="selected"></span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu CalendarReportSubMenu" id="CalendarReportSubMenu"></ul>

        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
@{
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }

}


<script>
    //<!-- elixir -->
    $(document).ready(function () {
        var reportListURL = window.location.protocol + "//" + window.location.host + "/api/CalendarReport/GetReportTitle";
        $.ajax({
            url: reportListURL,
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (data, textStatus, XMLHttpRequest) {
                $.each(data, function (index, value) {
                    var link = "<a href='/#/Calendar/CalendarReportParam/" + value.ReportCode + "'>" +
                        "<i class=icon-calendar></i>" +
                        "<span class=title> " + value.ReportName + "</span>" +
                        "<span class=selected></span>" +
                        "<span class=arrow open></span>" +
                        "</a>";
                    $("#CalendarReportSubMenu").append("<li class=''>" + link + "</li>");
                })
            }
        });
    })

</script>

@*<script src="~/Scripts/angular.min.js"></script>*@
@*<script>
        (function () {
            angular.
                module('mydashboardApp', ['kendo.directives']).
              controller('dynamicCtrl', ['$scope', 'menuService', function ($scope, menuService) {
                  var dynamicMenu = menuService.getData();
                  dynamicMenu.then(function (response) {
                      $scope.dynamicMenus = response.data;
                  })
              }]).
              service('menuService', ['$http', '$q', '$timeout', function ($http, $q, $timeout) {
                  return {
                      GetDynamicMenu: function () {
                          //// This could be $http or any other promise returning service.
                          //// Use a deferred and $timeout to simulate a network request.
                          var deferred = $q.defer()
                          $timeout(function () {
                              $http.get('/api/SalesHome/GetDynamicMenu?ModuleCode='+@ModuleCode)
                                   .success(function (result) {
                                       defer.resolve(result);
                                   });
                          }, 2000);
                          return deferred.promise;
                      },
                      getData: function () {
                          // This could be $http or any other promise returning service.
                          // Use a deferred and $timeout to simulate a network request.
                          var deferred = $q.defer()

                          $timeout(function () {
                              var results = $http.get('/api/SalesHome/GetDynamicMenu?ModuleCode='+@ModuleCode)
                              .success(function (data) {
                                  return data.data;
                              });
                              deferred.resolve(results);
                          }, 2000);

                          return deferred.promise;
                      },
                  };
                }]);





        })();
        //<!-- elixir -->
        $(document).ready(function () {
            var reportListURL = window.location.protocol + "//" + window.location.host + "/api/CalendarReport/GetReportTitle";
            $.ajax({
                url: reportListURL,
                cache: false,
                type: "GET",
                dataType: "json",
                success: function (data, textStatus, XMLHttpRequest) {
                    $.each(data, function (index, value) {
                        var link = "<a href='/#/Calendar/CalendarReportParam/" + value.ReportCode + "'>" +
                                        "<i class=icon-calendar></i>" +
                                        "<span class=title> " + value.ReportName + "</span>" +
                                        "<span class=selected></span>" +
                                        //"<span class=arrow open></span>" +
                                    "</a>";
                        $("#CalendarReportSubMenu").append("<li class=''>" + link + "</li>");
                    })
                }
            });
        })

    </script>*@

@*search css start here*@
<style>
    #search {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-transform: translate(0px, -100%) scale(0, 0);
        -moz-transform: translate(0px, -100%) scale(0, 0);
        -o-transform: translate(0px, -100%) scale(0, 0);
        -ms-transform: translate(0px, -100%) scale(0, 0);
        transform: translate(0px, -100%) scale(0, 0);
        opacity: 0;
    }

        #search.open {
            -webkit-transform: translate(0px, 0px) scale(1, 1);
            -moz-transform: translate(0px, 0px) scale(1, 1);
            -o-transform: translate(0px, 0px) scale(1, 1);
            -ms-transform: translate(0px, 0px) scale(1, 1);
            transform: translate(0px, 0px) scale(1, 1);
            opacity: 1;
            z-index: 5000 !important;
        }

        #search input[type="search"] {
            position: absolute;
            top: 50%;
            width: 100%;
            color: rgb(255, 255, 255);
            background: rgba(0, 0, 0, 0);
            font-size: 40px;
            font-weight: 300;
            text-align: center;
            border: 0px;
            margin: 0px auto;
            margin-top: -51px;
            padding-left: 30px;
            padding-right: 30px;
            outline: none;
        }

        #search .btn {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: 61px;
            margin-left: -45px;
        }

        #search .search-close {
            background-color: green;
            border-color: green;
            font-size: 21px;
            opacity: 1;
            padding: 0px 8px;
            position: fixed;
            right: 15px;
            top: 54px;
            color: #fff;
            border: solid green;
        }

    .search-input a {
        display: inline-table;
    }

    .search-icon {
        color: #555555;
    }

        .search-icon i:hover {
            color: forestgreen;
        }
</style>


@*search css end here*@



@*search js start here*@
<script>

    $(function () {
        //$('a[href="#search"]').on('click', function (event) {
        //    event.preventDefault();
        //    $('#search').addClass('open');
        //    $('#search > form > input[type="search"]').focus();
        //});

        //$('#search, #search button.search-close').on('click keyup', function (event) {
        //    if (event.target == this || event.target.className == 'search-close' || event.keyCode == 27) {
        //        $(this).removeClass('open');
        //    }
        //});


        //Do not include! This prevents the form from submitting for DEMO purposes only!
        $('form').submit(function (event) {
            event.preventDefault();
            return false;
        })










    });

</script>
@*search js end here*@