@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>(); 
}

<link href="@Styles.Url(" ~/Areas/NeoERP.ProjectManagement/Content/salesreturnPra.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url(" ~/Areas/NeoERP.ProjectManagement/Content/salesreturnPra.css")" rel="stylesheet" />
@DateTime.Now

<div class="printable-modal">

    <header class="p_header">
        <div class="print_document_title">
            <h3>
                {{DocumentName}}<br />

                <small style="letter-spacing: 8px;text-align:center;">Kathari-4,Morang,Biratnagar,Nepal</small>
                <small style="letter-spacing:6px;text-align:center;">Tel.No: +977-5-123456</small>
            </h3>
        </div>
    </header>

    <div style="text-decoration:underline; width:100%"> <h4 class="text-center text-uppercase"><strong>{{FormName}}</strong></h4></div>

    <div class="left-side1 bdrfull" style="height:155px !important; width:49% !important">

        <table class="print_table consignee" style="width:100%;margin-bottom:10px;">
            <thead>

                <tr>

                    <td style=" text-align:left;">
                        LS No.
                    </td>
                    <td style="text-align:left;">
                        : {{$scope.lccode}} 
                        @*{{TaggedInformation.LS_NO}}*@
                    </td>

                </tr>

                <tr>
                    <td style=" text-align:left;">
                        Vehicle Owner Name:
                    </td>
                    <td style="text-align:left;">
                        : {{loadingVehicleObj.VEHICLE_OWNER_NAME}}
                    </td>

                </tr>

                <tr>
                    <td style=" text-align:left;">
                        Vehicle No.
                    </td>
                    <td style="text-align:left;">
                        : {{loadingVehicleObj.VEHICLE_NAME}}
                    </td>

                </tr>

                <tr>
                    <td style=" text-align:left;">
                        Driver Name
                    </td>
                    <td style="text-align:left;">
                        : {{loadingVehicleObj.DRIVER_NAME}}
                    </td>

                </tr>

                <tr>
                    <td style=" text-align:left;">
                        Driver Licence No
                    </td>
                    <td style="text-align:left;">
                        : {{loadingVehicleObj.DRIVER_LICENCE_NO}}
                    </td>

                </tr>

                <tr>
                    <td style=" text-align:left;">
                        Driver Mobile No
                    </td>
                    <td style="text-align:left;">
                        : {{loadingVehicleObj.DRIVER_MOBILE_NO}}
                    </td>

                </tr>

            </thead>
        </table>

    </div>

    <div class="right-side1 bdrfull" style="height:155px !important; width:49% !important">
        <table class="print_table meta" align="right">
            <thead>
                <tr>
                    <td style=" text-align:left;">
                        MITI.
                    </td>
                    <td style="text-align:left;">
                        : {{TaggedInformation.MITI}}
                    </td>
                </tr>

                <tr>

                    <td style=" text-align:left;">
                        Time
                    </td>
                    <td style="text-align:left;">
                        : {{TaggedInformation.IN_TIME}}
                    </td>

                </tr>

                <tr>


                    <td style=" text-align:left;">
                        Loading Qty.
                    </td>
                    <td style="text-align:left;">
                        : {{TaggedInformation.QUANTITY}}
                    </td>
                </tr>

                <tr>


                    <td style=" text-align:left;">
                        Destination
                    </td>
                    <td style="text-align:left;">
                        : {{TaggedInformation.DESTINATION ? TaggedInformation.DESTINATION : TaggedInformation.TO_LOCATION}}
                    </td>
                </tr>

                <tr>


                    <td style=" text-align:left;">
                        Order No.
                    </td>
                    <td style="text-align:left;">

                        : {{TaggedInformation.ORDER_NO ? TaggedInformation.ORDER_NO : TaggedInformation.REFERENCE_NO}}
                    </td>
                </tr>

                <tr>

                    <td style=" text-align:left;">
                        Transported Name
                    </td>
                    <td style="text-align:left;">
                        : {{loadingVehicleObj.TRANSPORTER_NAME}}
                    </td>
                </tr>

            </thead>
        </table>
    </div>

    <table class="print_table fnce" style="width:98%;border:1px solid black;">
        <thead>
            <tr class="bdrfull">

                <th class="abc" style="width:5%;">S.N.</th>
                <th class="abc" style="width:25%;">Order No</th>
                <th class="abc" style="width:25%;">Party Name</th>
                <th class="abc" style="width:25%;">Commodity</th>
                <th class="abc" style="width:10%;">Unit</th>
                <th class="abc" style="width:10%;"> Qty.</th>
            </tr>
        </thead>
        <tbody>

            <tr class="border-top-bottom bdrfull" ng-repeat="abc in loadingSlipDetail" style="height:20px;">
                <td class="abc">{{$index + 1}}</td>
                <td class="abc">{{abc.REFERENCE_NO}}</td>
                <td class="abc">{{abc.CUSTOMER_EDESC}}</td>
                <td class="abc">{{abc.ITEM_EDESC}}</td>
                <td class="abc">{{abc.MU_CODE}}</td>
                <td class="abc">{{abc.QUANTITY}}</td>
            </tr>
        </tbody>
    </table>

    <hr />

    @*<table class="print_table" style="width:100%;">
        <thead>
            <tr class="">
                <th class="">1st Weight <input type="text" /></th>
                <th class="">2nd Weight <input type="text" /></th>
                <th class="">3rd Weight <input type="text" /></th>

            </tr>
        </thead>
    </table>*@
    

    <hr />
    <table class="print_table" style="width:100%;">
        <thead>
            <tr class="">
                <th class="">Prepared By  @workingContent.CurrentUserinformation.login_code </th>
                <th class="">Dispatch Load By</th>
                <th class="">Weight Bridge Approval</th>
                <th class="">Approved By</th>

            </tr>
        </thead>
    </table>

</div>
