

<link href="@Styles.Url(" ~/Areas/NeoERP.ProjectManagement/Content/salesinvoice.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url(" ~/Areas/NeoERP.ProjectManagement/Content/salesinvoice.css")" rel="stylesheet" />


<div class="printable-modal">

    <header class="p_header">

        <div class="info">
            <h4> {{printCompanyInfo.companyName}}<br>{{printCompanyInfo.form_edesc}}</h4>
            <p>{{printCompanyInfo.address}}</p>
            <p>Ph.No. : {{printComnayInfo.TELEPHONE}}</p>
            <p>Mobile : 9854035126,9854035122</p>
            <p>E-Mail : {{printCompanyInfo.email}}</p>
            <p>TPIN No.: {{printCompanyInfo.tPinVatNo}}</p>

        </div>
        <div class="print_document_title">
            <h3>Invoice</h3>

        </div>

    </header>

    <div class="left-side">

        <table class="print_table consignee" style="width:100%;margin-bottom:10px;">
            <thead>
                <tr>
                    <td style=" text-align:left;">
                        Consignee
                    </td>
                    <td style="text-align:left;">
                        : {{masterModels.CUSTOMER_CODE}}
                    </td>

                </tr>
                <tr>
                    <td style=" text-align:left;">
                        Address
                    </td>
                    <td style="text-align:left;">
                        : {{masterModels.REGD_OFFICE_EADDRESS}}
                    </td>

                </tr>

                <tr>
                    <td style=" text-align:left;">
                        Buyers Name
                    </td>
                    <td style="text-align:left;">
                        : {{masterModels.BUYERS_NAME}}
                    </td>

                </tr>
                <tr>
                    <td style="text-align:left">
                        Address
                    </td>
                    <td style="text-align:left;">
                        : {{masterModels.BUYERS_ADDRESS
                        }}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        Arrival Date
                    </td>
                    <td style="text-align:left;">
                        :

                    </td>
                    <td style="text-align:left">
                        Depature Date

                    </td>
                    <td style="text-align:left;"> : </td>
                </tr>



            </thead>
        </table>

    </div>

    <div class="right-side">
        <table class="print_table meta">

            <tr>
                <td style="width:35%;text-align:right;">Invoice No :</td>
                <td style="width:20%;text-align:left;">012121</td>
            </tr>
            <tr>
                <td style="width:35%;text-align:right;">Date : </td>
                <td style="width:20%;text-align:left;">30-Nov-2018 </td>
            </tr>
            <tr>
                <td style="width:35%;text-align:right;">No of Pax :</td>
                <td style="width:20%;text-align:left;">0</td>
            </tr>
            <tr>
                <td style="width:35%;text-align:right;">Currency : </td>
                <td style="width:20%;text-align:left;">Nrs 100 </td>
            </tr>

            <tr>
                <td style="width:35%;text-align:right;">Currency : </td>
                <td style="width:20%;text-align:left;">Nrs 100 </td>
            </tr>










            @*
                <tr>
                    <td style="width:50%">
                        <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') == -1">
                            <div ng-if="element.COLUMN_NAME.indexOf('NO') !== -1">
                                <div ng-if="element.COLUMN_NAME.indexOf('MRR_NO') !== -1">
                                    <label for="element">{{element.COLUMN_HEADER}}</label>
                                    <div><span>{{dzvouchernumber}}</span></div>
                                </div>
                                <div ng-if="element.COLUMN_NAME.indexOf('ORDER_NO') !== -1">
                                    <label for="element">{{element.COLUMN_HEADER}}</label>
                                    <div><span>{{dzvouchernumber}}</span></div>
                                </div>
                                <div ng-if="element.COLUMN_NAME.indexOf('SUPPLIER_INV_NO') !== -1">
                                    <label for="element">{{element.COLUMN_HEADER}}</label>
                                    <div><span>{{dzvouchernumber}}</span></div>
                                </div>
                                <div ng-if="element.COLUMN_NAME.indexOf('RETURN_NO') !== -1">
                                    <label for="element">{{element.COLUMN_HEADER}}</label>
                                    <div><span>{{dzvouchernumber}}</span></div>
                                </div>
                                <div ng-if="element.COLUMN_NAME.indexOf('INVOICE_NO') !== -1">
                                    <label for="element">{{element.COLUMN_HEADER}}</label>
                                    <div><span>{{dzvouchernumber}}</span></div>
                                </div>
                                <div ng-if="element.COLUMN_NAME.indexOf('VOUCHER_NO') !== -1">
                                    <label for="element">{{element.COLUMN_HEADER}}</label>
                                    <div><span>{{dzvouchernumber}}</span></div>
                                </div>
                                <div ng-if="element.COLUMN_NAME.indexOf('REQUISITION_NO') !== -1">
                                    <label for="element">{{element.COLUMN_HEADER}}</label>
                                    <div><span>{{dzvouchernumber}}</span></div>
                                </div>
                                <div ng-if="element.COLUMN_NAME.indexOf('ISSUE_NO') !== -1">
                                    <label for="element">{{element.COLUMN_HEADER}}</label>
                                    <div><span>{{dzvouchernumber}}</span></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_HEADER.indexOf('Date') != -1">

                            <label for="element">{{element.COLUMN_HEADER}}</label>
                            <div>
                                <span>{{masterModels[element.COLUMN_NAME]}}</span>
                                <span>[{{getNepaliDate(masterModels[element.COLUMN_NAME])}}]</span>
                            </div>

                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%">
                        Ref. Document No.
                        <div></div>
                    </td>
                    <td>
                        Date [ Miti ]
                        <div></div>
                    </td>


                </tr>

                <tr>
                    <td style="width:50%">
                        <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') == -1">
                            <div ng-if="element.COLUMN_NAME.indexOf('CODE') !== -1">
                                <div ng-if="element.COLUMN_NAME.indexOf('FROM_LOCATION_CODE') !== -1">
                                    <label for="element">{{element.COLUMN_HEADER}}</label>
                                    <div><span>{{masterModels[element.COLUMN_NAME]}}</span></div>
                                </div>

                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') == -1">
                            <div ng-if="element.COLUMN_NAME.indexOf('CODE') !== -1">
                                <div ng-if="element.COLUMN_NAME.indexOf('TO_LOCATION_CODE') !== -1">
                                    <label for="element">{{element.COLUMN_HEADER}}</label>
                                    <div><span>{{masterModels[element.COLUMN_NAME]}}</span></div>
                                </div>
                            </div>
                        </div>
                    </td>


                </tr>



                <tr>
                    <td style="width:50%">
                        <div ng-repeat="(key, value) in customModels">
                            <div ng-if="key==='DESPATCH THROUGH'">
                                <label for="element">{{key}}</label>
                                <div><span>{{value}}</span></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-repeat="(key, value) in customModels">
                            <div ng-if="key==='TRUCK NO.'">
                                <label for="element">{{key}}</label>
                                <div><span>{{value}}</span></div>
                            </div>
                        </div>

                    </td>


                </tr>
                <tr>
                    <td style="width:50%">
                        <div ng-repeat="(key, value) in customModels">
                            <div ng-if="key==='DRIVER NAME'">
                                <label for="element">{{key}}</label>
                                <div><span>{{value}}</span></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-repeat="(key, value) in customModels">
                            <div ng-if="key==='DRIVER MOBILE'">
                                <label for="element">{{key}}</label>
                                <div><span>{{value}}</span></div>
                            </div>
                        </div>
                    </td>


                </tr>
                <tr>
                    <td style="width:50%">
                        <div ng-repeat="(key, value) in customModels">
                            <div ng-if="key==='TERMS OF DELIVERY'">
                                <label for="element">{{key}}</label>
                                <div><span>{{value}}</span></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        D1
                        <div>9861</div>
                    </td>


                </tr>*@



        </table>
    </div>




    @*<table class="print_table meta table-bordered1">
            <thead>
                <tr ng-repeat="element in MasterFormElement | orderBy:'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('NO') !== -1">
                    <th ng-if="element.COLUMN_NAME.indexOf('INVOICE_NO') !== -1" style="width:100%"><span>Invoice No#</span></th>
                    <th ng-if="element.COLUMN_NAME.indexOf('INVOICE_NO') === -1" style="width:100%"><span>{{element.COLUMN_HEADER}}</span></th>
                    <td>
                        <span>{{masterModels[element.COLUMN_NAME]}}</span>
                    </td>
                </tr>
            </thead>
        </table>*@

    @*<table class="print_table buyer" style="width:100%;margin-bottom:10px;">
            <thead>
                <tr>
                    <th style="width:25%;">
                        Buyers Name :
                    </th>
                    <td>
                        {{masterModels.BUYERS_NAME}}
                    </td>

                </tr>
                <tr>
                    <th style="width:25%;">
                        Address :
                    </th>
                    <td>
                        {{masterModels.BUYERS_ADDRESS
                        }}
                    </td>

                </tr>

            </thead>
        </table>*@





    <table class="print_table fnce" style="width:100%;">
        <thead>
            <tr>
                @*
                    <th>S.N.</th>*@
                <th style="width:48.5%;">Description of Goods</th>

                <th style="width:7%;">Per</th>
                <th style="width:10%;">Quantity</th>
                <th style="width:10%;">Rate</th>
                <th style="width:10%;">Amount</th>
                @*<th style="width:10%;">Taxable Amount</th>*@
            </tr>
        </thead>
        <tbody>
            @*
                <tr ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:20px">
                    <td ng-repeat="item in row.element | orderBy: 'SERIAL_NO'" ng-hide="item.COLUMN_NAME==='PARTICULARS' || item.COLUMN_NAME==='TRANSACTION_TYPE' || item.COLUMN_NAME==='CALC_TOTAL_PRICE' || item.COLUMN_NAME==='CALC_UNIT_PRICE'|| item.COLUMN_NAME==='COMPLETED_QUANTITY'|| item.COLUMN_NAME==='CALC_QUANTITY'">*@
            <tr class="border-top-bottom" ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:20px">
                @*
                    <td>{{$index+1}}</td>*@
                <td ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                    <div ng-if="item.COLUMN_NAME==='ITEM_CODE'">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                    <div ng-if="item.COLUMN_NAME==='MU_CODE'">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                    @*<div ng-if="item.COLUMN_NAME==='PRODUCT_CODE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>*@
                    <div ng-if="item.COLUMN_NAME==='QUANTITY'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                    <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>

                    <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>

                </td>
                @*<td></td>*@
            </tr>
            <tr class="border-top-bottom">
                <td style="text-align:right" width:50px>Sub Total</td>
                @*
                    <td style="text-align:right" width:50px></td>*@
                <td style="text-align:right"></td>
                <td style="text-align:right">{{totalQty}}</td>
                <td></td>
                <td style="text-align:right">{{summary.grandTotal}}</td>
                @*<td></td>*@
            </tr>



            @*
                <tr>
                    <td style="text-align:right" width:50px></td>
                    <td></td>
                    <td style="width:28%;" colspan="2">Discount Allowed(-)</td>
                    <td style="width:100px;text-align:right;">0.00</td>
                </tr>
                <tr>
                    <td style="text-align:right" width:50px></td>
                    <td></td>
                    <td style="width:28%;" colspan="2">Taxable Amount</td>
                    <td style="width:100px;text-align:right;">6,763,754.00</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="text-align:right" width:50px></td>
                    <td></td>
                    <td style="width:28%;" colspan="2">0 % VAT</td>
                    <td style="width:100px;text-align:right;">879,288.02</td>
                </tr>*@


            @* Discount *@
            <tr ng-show="PrintDiscountShow">
                <td style="text-align:right;border-right:0px;" colspan="2"></td>

                <td style="width:28%;border-right:0px;">
                    <div>
                        <div><span>Discount</span></div>
                    </div>
                </td>
                <td style="width:100px;text-align:right;border-right:0px;">
                    <div>
                        <div><span>{{PrintDiscount}}</span></div>
                    </div>
                </td>
                <td style="border-right:0px;"></td>
                @*<td></td>*@
            </tr>

            @* For VAT *@
            <tr ng-repeat="(key, value) in ChargeList">
                <td style="text-align:right;border-right:0px;" colspan="2"></td>

                <td style="border-right:0px;">
                    <div ng-if="ChargeList[key]['CHARGE_EDESC']!=''">
                        <div><span>{{value.CHARGE_EDESC}}</span></div>
                    </div>
                </td>

                <td style="width:100px;text-align:right;border-right:0px;">
                    <div ng-if="ChargeList[key]['CHARGE_AMOUNT']!=''">
                        <div><span>{{value.CHARGE_AMOUNT}}</span></div>
                    </div>
                </td>
                <td style="border-right:0px;"></td>
                @*<td></td>*@
            </tr>
            <tr>
                <td style="text-align:right;border-right:0px;" colspan="2"></td>



                <td style="border-right:0px;">Net Total</td>
                <td style="border-right:0px;"></td>
                <td style="width:100px; text-align:right;border-right:0px;">{{adtotal}}</td>
                @*<td style="border-right:0px;"></td>*@
            </tr>



        </tbody>
    </table>

    <p style="padding-top:8px;"><span><strong>Amount in words :</strong></span> {{amountinword}} Only.</p>
    <p><span><strong>Amount in NRS : </strong></span> 10101101 </p>
    <p><span><strong>Amount in NRS : </strong></span> 10101101 </p>

    @*<table class="print_table balance_table" style="width:100%;">     </table>*@


    @*  *@
    <p style="padding-top:10px;"> Through: Cash In Hand -Factory</p>
    <div class="invoice_footer">
        <div class="narration">
            @*<table class="print_table Narration" style="width:100%;">
                    <tbody>
                        <tr ng-repeat="element in MasterFormElement | orderBy:'SERIAL_NO'">
                            <td ng-if="element.COLUMN_NAME.indexOf('REMARKS') !== -1">
                                <p><strong>Narration :</strong>{{masterModels[element.COLUMN_NAME]}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>*@
            <p></p>
        </div>

        <div class="invoice_footer_details">
            @*<ul>
                    <li>
                        <div class="by">Rajesh</div>
                        Prepared By:
                    </li>
                    <li>
                        <div class="by">Hira</div>
                        Receiver Signature :
                    </li>
                    <li>
                        <div class="by">Dinesh</div>
                        Checked By :
                    </li>
                    <li>
                        <div class="by">Laxhman</div>
                        Authorised Signatory :
                    </li>
                </ul>*@



            <div class="oe" style="text-align:left;width:30%;float:left;">

                <p>E. & O.E</p>
            </div>


            <div style="text-align:right;">

                <p style="text-transform:uppercase;"><strong>for natraj tours and travels pvt.ltd</strong></p>
                <div class="signature">

                    <span>------------------------------</span>
                    <p>Authorized Signature</p>

                </div>

            </div>

        </div>

        <div class="bottom-footer">
            <div class="printed_date">
                <p>
                    Printed on 12/14/2018 3:48:56 PM
                    <span>Printed by ADMIN</span>

                </p>

            </div>

        </div>

    </div>
</div>