@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}

<link href="@Styles.Url(" ~/Areas/NeoERP.ProjectManagement/Content/salesreturnPra.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url(" ~/Areas/NeoERP.ProjectManagement/Content/salesreturnPra.css")" rel="stylesheet" />


<div class="printable-modal">

    <header class="p_header">


        <div class="print_document_title">
            <h3>{{DocumentName}}</h3>

        </div>

    </header>

    <div style="border:1px solid black; width:100%"> <h4 class="text-center">{{DocumentName}}</h4></div>
    <div class="left-side1 bdrfull">

        <table class="print_table consignee" style="width:100%;margin-bottom:10px;">
            <thead>

                <tr>

                    <td style=" text-align:left;">
                        Customer
                    </td>
                    <td style="text-align:left;">
                        : {{masterModels.CUSTOMER_CODE}}
                    </td>

                </tr>
                <tr>
                    <td style=" text-align:left;">
                        Address
                    </td>
                    <td style="text-align:left;">
                        : {{masterModels.REGD_OFFICE_EADDRESS}}
                    </td>

                </tr>

                <tr>
                    <td style=" text-align:left;">
                        pan No
                    </td>
                    <td style="text-align:left;">
                        : {{TPIN_VAT_NO}}
                    </td>

                </tr>


            </thead>
        </table>

    </div>
    <div class="right-side1 bdrfull">
        <table class="print_table meta">
            <tr>
                <td style="text-align:right;">Invoice No :</td>
                <td style="text-align:left;">{{OrderNo}}</td>
            </tr>
            <tr>
                <td style="text-align:right;">Invoice Date : </td>
                <td style="text-align:left;">{{TodayDate}}</td>
            </tr>
            <tr>
                <td style="text-align:right;">Order No :</td>
                <td style="text-align:left;">{{refordernoP}}</td>
            </tr>
            <tr>
                <td style="text-align:right;">Order Date : </td>
                <td style="text-align:left;">{{reforderdateP}}</td>
            </tr>
            <tr>
                <td style="text-align:right;">Vehicle No. : </td>
                <td style="text-align:left;"></td>
            </tr>




        </table>
    </div>


    @*<div class="left-side">

            <table class="print_table consignee" style="width:100%;margin-bottom:10px;">
                <thead>
                    <tr>
                        <td>
                            Ship To:
                        </td>
                    </tr>
                    <tr>

                        <td style=" text-align:left;">
                            Destination
                        </td>
                        <td style="text-align:left;">
                            : 0
                        </td>

                    </tr>
                    <tr>
                        <td style=" text-align:left;">
                            Vehcile No
                        </td>
                        <td style="text-align:left;">
                            :
                        </td>

                    </tr>
                </thead>
            </table>

        </div>*@











    <table class="print_table fnce" style="width:100%;border:1px solid black;">
        <thead>
            <tr>
                <td colspan="6" class="brdbuttom">
                    Mode of Payment : Through Account payee cheque or Swift only.
                </td>
            </tr>
            <tr class="bdrfull">

                <th class="abc">S.N.</th>
                <th class="abc" style="width:48.5%;">Description of Goods</th>

                <th class="abc" style="width:7%;">Unit</th>
                <th class="abc" style="width:10%;">Quantity</th>
                <th class="abc" style="width:10%;">Rate/Unit</th>
                <th class="abc" style="width:10%;"> Value NRs.</th>
                @*
                    <th style="width:10%;">Taxable Amount</th>*@
            </tr>
        </thead>
        <tbody>

            <tr class="border-top-bottom bdrfull" ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:20px">

                <td class="abc">{{$index+1}}</td>
                <td class="abc" ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                    <div ng-if="item.COLUMN_NAME==='ITEM_CODE'">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                    <div ng-if="item.COLUMN_NAME==='MU_CODE'">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                    @*<div ng-if="item.COLUMN_NAME==='PRODUCT_CODE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>*@
                    <div ng-if="item.COLUMN_NAME==='QUANTITY'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                    <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>

                    <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>

                </td>
                @*
                    <td></td>*@
            </tr>

            <tr class="border-top-bottom bdrfull">
                <td class="abc" colspan="3 "></td>

                <td class="abc" style="text-align:right">{{TOTAL_QUANTITY}}{{childModels[0].MU_CODE}}</td>
                <td class="abc" style="text-align:right" width:50px>Sub Total</td>
                <td style="text-align:right">{{totalQty}}</td>

                @*<td></td>*@
                @*
                    <td style="text-align:right">{{summary.grandTotal}}</td>*@

            </tr>






            @* Discount *@
            <tr ng-show="PrintDiscountShow">
                <td style="text-align:right;border-right:1px solid black !important;" colspan="3"></td>

                <td style="width:28%; border:1px solid black;">
                    <div>
                        <div><span>Discount</span></div>
                    </div>
                </td>
                <td class="abc"></td>
                <td style="width:100px;text-align:right; border:1px solid black;">
                    <div>
                        <div><span>{{PrintDiscount}}</span></div>
                    </div>
                </td>
                @*<td style="border-right:0px;"></td>*@


            </tr>

            @* For VAT *@
            <tr ng-repeat="(key, value) in ChargeList">
                <td style="text-align:right;border-right:1px solid black" colspan="3"></td>

                <td style="border:1px solid black !important">
                    <div ng-if="ChargeList[key]['CHARGE_EDESC']!=''">
                        <div><span>{{value.CHARGE_EDESC}}</span></div>
                    </div>
                </td>
                <td class="abc"></td>
                <td class="abc" style="width:100px;border:1px solid black !important; text-align:right;">
                    <div ng-if="ChargeList[key]['CHARGE_AMOUNT']!=''">
                        <div><span>{{value.CHARGE_AMOUNT}}</span></div>
                    </div>
                </td>

                @*
                    <td></td>*@
            </tr>
            <tr>
                <td style="text-align:right;border-right:0px;" colspan="2"></td>


                <td style="border-right:0px;"></td>
                <td colspan="2" style="border-left:1px solid black !important;">Grand Total</td>

                <td style="width:100px; text-align:right;border:1px solid black !important;">{{adtotal}}</td>
                @*
                    <td style="border-right:0px;"></td>*@
            </tr>
            <tr style="border:1px solid black !important">
                <td style="border-right:1px solid black !important" colspan="6">
                    <p style="padding-top:8px;"><span><strong>Amount in words :</strong></span> {{amountinword}} Only.</p>
                </td>
            </tr>



        </tbody>
    </table>





    @*  *@

    <div style="border:1px solid black; height:30px">
        <h4><strong>E. & O.E.</strong></h4>
    </div>
    <div style="border:1px solid black; height:70px">
        <strong>Declaration:</strong><p>  Declaration : We declare that this invoice show the actual price of the goods described and that all particulars are true and correct.</p>
    </div>





    <div class="invoice_footer" style="border:1px solid black; height:72px;">
        <div class="narration">
        </div>

        <div class="invoice_footer_details">
            
            <ul style="margin-top:-21px">
                <li style="border-right:1px solid black !important">
                    <div class="by">@workingContent.CurrentUserinformation.login_code</div>
                    Prepared By:
                </li>
                <li style="border-right:1px solid black !important">
                    <div class="by"> </div>
                    Receiver's Signature and Seal
                </li>

                <li>
                    <div class="by"> </div>
                    ( Authorised Signatory )
                </li>
            </ul>
        </div>
        <div>
            <center>Thank You For Your Business!</center>
        </div>
    </div>
</div>
