
@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>
    ();
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="@Styles.Url(" ~/Areas/NeoERP.ProjectManagement/Content/SymphonyPOS.css")" rel="stylesheet" media="print" />
    <link href="@Styles.Url(" ~/Areas/NeoERP.ProjectManagement/Content/SymphonyPOS.css")" rel="stylesheet" />
    <title>Bill</title>
</head>
<body>
    <style type="text/css">

        #invoice-POS .foot {
            /*font-size: 14px !important;*/
            font-size: 10.5pt !important;
        }

        #invoice-POS .head1 {
            /*font-size: 13px !important;*/
            font-size: 10pt !important;
        }

        #invoice-POS #small-text {
            /*font-size: 12px !important;*/
            font-size: 9pt !important;
        }

        #invoice-POS #top {
            text-align: center;
        }

        #invoice-POS {
            /*box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);*/
            box-shadow: none;
            padding: 2mm;
            margin: 0;
            /* width: 4mm; */
            width: 64mm;
            /* margin: 0px !important; */
            background: #fff;
        }

            #invoice-POS ::selection {
                background: #f31544;
                color: #fff;
            }

            #invoice-POS ::moz-selection {
                background: #f31544;
                color: #fff;
            }

            #invoice-POS h1 {
                /*font-size: 1.5em;*/
                font-size: 18pt;
                color: #222;
                color: #000;
                margin-bottom: 0px !important;
            }

            #invoice-POS h2 {
                /*font-size: 1.2em;*/
                font-size: 16pt;
                color: #000;
                margin-bottom: 0px !important;
            }

            #invoice-POS h3 {
                /*font-size: 1.2em;*/
                font-size: 14pt;
                font-weight: 300
            }

            #invoice-POS p {
                /*font-size: 0.6em;*/
                font-size: 7.5pt;
                color: #000 !important;
                /*line-height: 1.2em;*/
                line-height: 0.2px;
            }

            #invoice-POS #top,
            #invoice-POS #mid,
            #invoice-POS #bot {
                /* Targets all id with 'col-' */
                /* border-bottom: 1px solid #eee; */
            }

            #invoice-POS #top {
                min-height: 30px;
                /* border-bottom: 1px dashed #999; */
            }

            #invoice-POS #mid {
                /*min-height: 80px;*/
            }

            #invoice-POS #bot {
                min-height: 50px;
            }

            #invoice-POS .info {
                display: block;
                margin-left: 0;
            }

            #invoice-POS .title {
                float: right;
            }

                #invoice-POS .title p {
                    text-align: right;
                    color: #000;
                }

            #invoice-POS table {
                width: 100%;
                border-collapse: collapse;
            }

            #invoice-POS .tabletitle {
                /*background: #eee;*/
            }

            #invoice-POS .service {
                /* border-bottom: 1px solid #eee; */
            }

            #invoice-POS .services {
                /*border-bottom: 1px dashed #000;*/
            }

            #invoice-POS .item {
                /* width: 24mm; */
                width: 34mm;
            }

            #invoice-POS .itemtext {
                /*font-size: 0.5em;*/
            }

            #invoice-POS #legalcopy {
                margin-top: 15mm;
            }

            #invoice-POS .c1-text {
                float: left;
            }

            #invoice-POS .c1-num {
                float: right;
            }
    </style>
    <div id="invoice-POS">
        <div id="top">
            <div class="info">
                <h2 style="color: #000;">Kathmandu Marriott Hotel</h2>
                <span class="head1">Everest Hospitality &Aacute; Hotel Pvt. Ltd</span>
                <span class="head1">{{masterModels.CUSTOMER_CODE}}</span>
                <h2 style="color:#000;"></h2>
            </div>

        </div>

        <div id="mid">
            @*<table>

                    <tr class="services">
                        <td class="tableitem"><p class="itemtext" style="line-height: 0em !important;">90001 MICROS</p></td>
                        <td class="tableitem"><p class="itemtext" style="line-height: 0em !important;"></p></td>

                        <td class="tableitem" style="float:right;line-height: 0em !important;"><p class="itemtext">1</p></td>
                    </tr>
                    <tr class="services">
                        <td class="tableitem"><p class="itemtext">Pan No.</p></td>
                        <td class="tableitem"><p class="itemtext"></p></td>
                        <td class="tableitem" style="float:right;"><p class="itemtext">601091593</p></td>
                    </tr>
                    <tr class="services">
                        <td class="tableitem"><p class="itemtext">Voucher No.</p></td>
                        <td class="tableitem"><p class="itemtext"></p></td>
                        <td class="tableitem" style="float:right;"><p class="itemtext">{{OrderNo}}</p></td>
                    </tr>
                    <tr class="services">
                        <td class="tableitem"><p class="itemtext">Buyer Name</p></td>
                        <td class="tableitem"><p class="itemtext"></p></td>
                        <td class="tableitem" style="float:right;"><p class="itemtext">1</p></td>
                    </tr>
                    <tr class="services">
                        <td class="tableitem"><p class="itemtext">Buyer Pan</p></td>
                        <td class="tableitem"><p class="itemtext"></p></td>
                        <td class="tableitem" style="float:right;">
                            <p class="itemtext">
                                {{masterModels.TPIN_VAT_NO
                                }}
                            </p>
                        </td>
                    </tr>

                </table>*@

            <table>

                <tr class="tabletitle">
                    <td class="fs">90001 MICROS</td>
                    <td class=""></td>

                    <td class="fs" style="float:right;line-height: 0em !important;">1</td>
                </tr>
                <tr class="tabletitle">
                    <td class="fs">Pan No.</td>
                    <td class=""></td>
                    <td class="fs" style="float:right;">601091593</td>
                </tr>
                <tr class="tabletitle">
                    <td class="fs">Voucher No.</td>
                    <td class=""></td>
                    <td class="fs" id="small-text" style="float:right;">{{OrderNo}}</td>
                </tr>
                @*<tr class="tabletitle">
                        <td class="fs">Buyer Name</td>
                        <td class=""></td>
                        <td class="fs" style="float:right;"> {{masterModels.CUSTOMER_CODE}}</td>
                    </tr>*@
                <tr class="tabletitle">
                    <td class="fs">Buyer Name</td>
                    <td class=""></td>
                    <td class="fs" style="float:right;"> {{masterModels.GuestName}}</td>
                </tr>

                <tr class="tabletitle">
                    <td class="fs">Buyer Pan </td>
                    <td class=""></td>
                    <td class="fs" style="float:right;">
                        {{masterModels.TPIN_VAT_NO}}

                    </td>
                </tr>
                @*<tr class="tabletitle">
                    <td class="fs">TBL </td>
                    <td class=""></td>
                    <td class="fs" style="float:right;">
                        {{masterModels.BATCH_NO}}

                    </td>
                </tr>*@

            </table>
        </div>






        <div id="bot" style="border-top: 1px dashed #000;">
            <div id="table">
                <table>
                    <tr class="services tabletitle" ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'">

                        <td class="tableitem" ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                            <div ng-if="item.COLUMN_NAME==='QUANTITY'">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>
                            <div ng-if="item.COLUMN_NAME==='ITEM_CODE'">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>



                            <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>

                        </td>
                    </tr>
                    @*<tr class="service">
                            <td class="tableitem"><p class="itemtext">momo</p></td>
                            <td class="tableitem"><p class="itemtext">5</p></td>
                            <td class="tableitem"><p class="itemtext">$375.00</p></td>
                        </tr>
                        <tr class="service">
                            <td class="tableitem"><p class="itemtext">pakoda</p></td>
                            <td class="tableitem"><p class="itemtext">3</p></td>
                            <td class="tableitem"><p class="itemtext">$225.00</p></td>
                        </tr>
                        <tr class="service">
                            <td class="tableitem">
                                <p class="itemtext">choila</p>
                            </td>
                            <td class="tableitem"><p class="itemtext">5</p></td>
                            <td class="tableitem"><p class="itemtext">$375.00</p></td>
                        </tr>
                        <tr class="service">
                            <td class="tableitem"><p class="itemtext">slizzer</p></td>
                            <td class="tableitem"><p class="itemtext">20</p></td>
                            <td class="tableitem"><p class="itemtext">$1500.00</p></td>
                        </tr>*@

                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="tabletitle">

                        <td>Subtotal</td>

                        <td>{{summary.grandTotal}}</td>
                    </tr>

                    <tr class="tabletitle" ng-repeat="(key, value) in ChargeList">

                        <td>
                            <div ng-if="ChargeList[key]['CHARGE_EDESC']!=''">
                                <div><span>{{value.CHARGE_EDESC}}</span></div>
                            </div>
                        </td>


                        <td>
                            <div ng-if="ChargeList[key]['CHARGE_AMOUNT']!=''">
                                <div><span>{{value.CHARGE_AMOUNT}}</span></div>
                            </div>
                            <div ng-if="ChargeList[key]['CHARGE_AMOUNT']===0 || ChargeList[key]['CHARGE_AMOUNT']<0">
                                <div><span>0.00</span></div>
                            </div>

                        </td>
                        <td></td>

                    </tr>

                    <tr class="tabletitle">
                        <td class="">Payment</td>
                        <td class="">{{adtotal}}</td>
                    </tr>
                    @*<tr class="tabletitle">
                            <td>Subtotal</td>
                            <td></td>
                            <td class="payment"><h2>$419.25</h2></td>
                        </tr>
                        <tr class="tabletitle">
                            <td>Service Charge</td>
                            <td></td>
                            <td class="payment"><h2>$3,644.25</h2></td>
                        </tr>
                        <tr class="tabletitle">
                            <td>VAT 13%</td>
                            <td></td>
                            <td class="payment"><h2>$3,644.25</h2></td>
                        </tr>
                        <tr class="tabletitle">
                            <td>Payment</td>
                            <td></td>
                            <td class="payment"><h2>$3,644.25</h2></td>
                        </tr>
                        <tr class="tabletitle">
                            <td><strong>Change Due</strong></td>
                            <td></td>
                            <td class="payment"><h2>$00000</h2></td>
                        </tr>
                        <tr class="tabletitle">
                            <td>Vise Card</td></td>
                            <td></td>
                            <td class="payment"><h2>$00000</h2></td>
                        </tr>
                        <tr class="tabletitle">
                            <td>***************sa</td>
                            <td></td>
                            <td></td>
                        </tr>*@
                </table>
            </div>
            <!--End Table-->
            <div id="legalcopy" style="text-align: center;">
                <p class="legal">
                    <strong class="foot">------ Check Closed ------ </strong>
                </p>
                <p>
                    <span class="foot">{{printTodayDateTime|date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    <span class="foot">[{{getNepaliDate(masterModels[element.COLUMN_NAME])}}]</span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
