@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>
    ();
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="@Styles.Url(" ~/Areas/NeoERP.ProjectManagement/Content/SymphonyPOS.css")" rel="stylesheet" media="print" />
    <link href="@Styles.Url(" ~/Areas/NeoERP.ProjectManagement/Content/SymphonyPOS.css")" rel="stylesheet" />
    <title>Bill</title>
</head>
<body>
    <style type="text/css">
        #invoice-POS {
            font-family: sans-serif;
        }

            #invoice-POS .foot {
                /*font-size: 14px !important;*/
                font-size: 10.5pt !important;
            }

            #invoice-POS .head1 {
                /*font-size: 13px !important;*/
                font-size: 13pt !important;
            }

            #invoice-POS #small-text {
                /*font-size: 12px !important;*/
                font-size: 11pt !important;
            }

            #invoice-POS #top {
                text-align: center;
            }

        #invoice-POS {
            /*box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);*/
            box-shadow: none;
            padding: 2mm;
            margin: 0;
            /* width: 4mm; */
            width: 76mm;
            /* margin: 0px !important; */
            background: #fff;
        }

            #invoice-POS ::selection {
                background: #f31544;
                color: #fff;
            }

            #invoice-POS ::moz-selection {
                background: #f31544;
                color: #fff;
            }

            #invoice-POS h1 {
                /*font-size: 1.5em;*/
                font-size: 18pt;
                color: #222;
                color: #000;
                margin-bottom: 0px !important;
            }

            #invoice-POS h2 {
                /*font-size: 1.2em;*/
                font-size: 16pt;
                color: #000;
                margin-bottom: 0px !important;
            }

            #invoice-POS h3 {
                /*font-size: 1.2em;*/
                font-size: 14pt;
                font-weight: 300
            }

            #invoice-POS p {
                /*font-size: 0.6em;*/
                font-size: 7.5pt;
                color: #000 !important;
                /*line-height: 1.2em;*/
                line-height: 0.2px;
            }

            #invoice-POS #top,
            #invoice-POS #mid,
            #invoice-POS #bot {
                /* Targets all id with 'col-' */
                /* border-bottom: 1px solid #eee; */
            }

            #invoice-POS #top {
                min-height: 30px;
                /* border-bottom: 1px dashed #999; */
            }

            #invoice-POS #mid {
                /*min-height: 80px;*/
                margin-bottom: 11px;
            }

            #invoice-POS #bot {
                min-height: 50px;
            }

            #invoice-POS .info {
                display: block;
                margin-left: 0;
            }

            #invoice-POS .title {
                float: right;
            }

                #invoice-POS .title p {
                    text-align: right;
                    color: #000;
                }

            #invoice-POS table {
                width: 100%;
                border-collapse: collapse;
            }

            #invoice-POS .tabletitle {
                /*background: #eee;*/
            }

            #invoice-POS .service {
                /* border-bottom: 1px solid #eee; */
            }

            #invoice-POS .services {
                /*border-bottom: 1px dashed #000;*/
            }

            #invoice-POS .item {
                /* width: 24mm; */
                width: 34mm;
            }

            #invoice-POS .itemtext {
                /*font-size: 0.5em;*/
            }

            #invoice-POS #legalcopy {
                margin-top: 15mm;
            }

            #invoice-POS .c1-text {
                float: left;
            }

            #invoice-POS .c1-num {
                float: right;
            }

        h6.tpin {
            font-size: 14px;
        }

            h6.tpin span:not(first-child) {
                border-left: 1px solid #000;
                padding: 3px;
            }

            h6.tpin span:last-child {
                border-right: 1px solid #000;
            }

            h6.tpin span {
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }

        .text-right {
            text-align: right;
        }

        .list-table td, .list-table th {
            /*font-size: 13px;
             border-bottom: 1px dashed;
             text-transform: uppercase;
             padding: 8px 0;*/
        }

        .list-table th {
            /*  border-bottom: */ 0;
        }

        tr.noBorder td {
            border: 0;
        }
    </style>
    <div id="invoice-POS">
        <div id="top">
            <div class="info">
                @* <h4 style="color: #000; margin-top: 0; font-weight: normal;">CASH/CREDIT/MEMO</h4> *@
                <h2 style="color: #000;">City Hotel Ltd.</h2>
                <span class="head1">Tahachal,Kathmandu</span>
                @*<span class="head1">{{masterModels.CUSTOMER_CODE}}</span>*@
                <h2 style="color:#000;"></h2>
            </div>
            <div class="col-lg-12">
                <h6 class="tpin">
                    PAN:<span>3</span><span>0</span><span>2</span><span>7</span><span>3</span><span>8</span><span>7</span><span>8</span><span>4</span>

                    @*<span>
                            609808238
                        </span>*@
                </h6>
            </div>
            <div class="col-lg-12 text-center">
                <h5 class="bg-black" id="TaxINvoiceTest"> {{taxinvoice}}</h5>
            </div>
            <div class="clearfix"></div>

        </div>

        <div id="mid">


            <table>
                <tr class="tabletitle">
                    <td class="fs">M/s.: </td>
                    <td class=""></td>
                    <td class="fs" style="float:right;">{{masterModels.CUSTOMER_CODE}}</td>

                </tr>
                @*<tr class="tabletitle">
                        <td class="fs">Address: </td>
                        <td class=""></td>
                        <td class="fs" style="float:right;">Kathmandu, Nepal</td>
                    </tr>*@

                <tr class="tabletitle">
                    <td class="fs">Buyer Name: </td>
                    <td class=""></td>
                    <td class="fs" style="float:right;"> {{masterModels.GuestName}}</td>
                </tr>

                <tr class="tabletitle">
                    <td class="fs">Buyer's PAN: </td>
                    <td class=""></td>
                    <td class="fs" style="float:right;">
                        {{masterModels.TPIN_VAT_NO
                        }}

                    </td>
                </tr>
            </table>



            <table>
                <tr class="tabletitle">
                    <td class="fs">Invoice Number: </td>
                    <td class=""></td>
                    <td class="fs" id="small-text" style="float:right;">
                        <div class="inv-data" ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') == -1">
                            <div ng-if="element.COLUMN_NAME.indexOf('NO') !== -1">
                                <div ng-if="element.COLUMN_NAME.indexOf('SALES_NO') !== -1">
                                    <div><span>{{masterModels[element.COLUMN_NAME]}}</span></div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr class="tabletitle">
                    <td class="fs">Transaction Date: </td>
                    <td class=""></td>
                    <td class="fs" id="small-text" style="float:right;">
                        <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_HEADER.indexOf('Date') != -1">
                            <div style="text-align: right;">
                                <span>{{masterModels[element.COLUMN_NAME]|date:'yyyy-MM-dd'}}</span><br>
                                <span>[{{getNepaliDate(masterModels[element.COLUMN_NAME])}}]</span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class="tabletitle">
                    <td class="fs">Invoice Issue Date: </td>
                    <td class=""></td>
                    <td class="fs" style="float:right;">{{todayDateOpera|date:'yyyy-MM-dd'}}</td>
                </tr>

                <tr class="tabletitle">
                    <td class="fs">Payment Mode:</td>
                    <td class=""></td>
                    <td class="fs" style="float:right;">{{masterModels.PAYMENT_MODE}}</td>
                </tr>

                @*<div class="col-sm-6 float-left" style="float:left; text-align:right">

                    </div>*@
                @* <tr class="tabletitle">
                        <td class="fs"></td>
                        <td class=""></td>
                        <td class="fs" style="float:right;">{{printcounttext}}</td>
                    </tr>       *@


                <tr class="tabletitle">
                    <td class="fs"></td>
                    <td class=""></td>
                    <td class="fs" style="float:right;">
                        <span id="TaxInvoiceCopy">
                            {{taxinvoice1}}
                        </span>
                        <span>{{printcounttext}}</span>

                    </td>
                </tr>

                @*<tr class="tabletitle">
                        <td class="fs">Buyer's TPIN: </td>
                        <td class=""></td>
                        <td class="fs" style="float:right;">
                            {{masterModels.TPIN_VAT_NO
                            }}

                        </td>
                    </tr> *@



            </table>
        </div>

        <div id="bot" style="border-top: 1px dashed #000;">
            <div id="table">
                <table class="list-table">
                    <tr>

                        <th>Description</th>
                        <th></th>
                        <th>Qty</th>
                        <th style="padding-left: 6px">Rate</th>
                        <th style="text-align: right">Amount</th>
                    </tr>
                    <tr class="noBorder" ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'">
                        <!-- <td><div><span>{{$index+1}}</span></div></td> -->
                        <td ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">

                            <div ng-if="item.COLUMN_NAME==='ITEM_CODE'">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>
                            <!-- <div ng-if="item.COLUMN_NAME=='MU_CODE'">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div> -->
                            <div ng-if="item.COLUMN_NAME==='QUANTITY'" style="text-align:-webkit-center;">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>
                            <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'" style="text-align:-webkit-center;">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>

                            <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'" style="text-align:right;">
                                <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                            </div>


                        </td>

                    </tr>




                    <tr class="noBorder" style="border-top: 1px dashed">
                        <td style="text-align: left; text-transform:capitalize">Sub total&emsp;</td>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right;">{{SUB_TOTAL}}</td>
                    </tr>



                    <tr class="noBorder" ng-repeat="(key, value) in ChargeList">

                        <td style="text-align: left; text-transform:capitalize">
                            <div ng-if="ChargeList[key]['CHARGE_EDESC']!=''">
                                <div><span>{{value.CHARGE_EDESC}}</span></div>
                            </div>
                        </td>


                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right; ">
                            <div ng-if="ChargeList[key]['CHARGE_AMOUNT']!=''">
                                <div><span>{{value.CHARGE_AMOUNT}}</span></div>
                            </div>
                            <div ng-if="ChargeList[key]['CHARGE_AMOUNT']===0 || ChargeList[key]['CHARGE_AMOUNT']<0">
                                <div><span>0.00</span></div>
                            </div>

                        </td>
                        <td></td>

                    </tr>

                    <tr class="noBorder" style="border-top:1px dashed">
                        <td style="text-align: left; text-transform:capitalize">Grand Total</td>

                        <td></td>
                        <td></td>
                        <td></td>
                        @*<td style="text-align: right;">{{adtotal |  number:0}}</td>*@
                        <td style="text-align: right;">
                            {{adtotal}}
                        </td>
                    </tr>

                    <!-- <tr > -->
                    <!-- <td style="text-align: left;"> Amount in words:</td> -->
                    <!-- <td></td> -->
                    <!-- <td colspan="6">Rs. {{amountinword}} Only.</td> -->
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <!-- <td style="text-align: right;"></td> -->
                    <!-- </tr> -->
                    <!-- <tr>
                        <td>&nbsp;</td>
                    </tr> -->
                    <!--  <tr>
                         <td colspan="6">Amount in words: <span>Rs. {{amountinword}} Only.</span></td>
                    </tr> -->


                </table>
                <div style="width:274px; border-bottom:1px dashed">In words: Rs. {{amountinword}} Only.</div>
            </div>
            <!--End Table-->

        </div>
        <div id="top">
            <div>&nbsp;</div>
            <div class="col-sm-12">
                Thank You. Visit Again.
            </div>
            <div class="col-sm-12">
                Sold by:{{guestDetails.CREATED_BY}}<br />
                <span style="border-bottom:1px dotted #000;"></span>
            </div>

            @*<div class="col-sm-12">
                    User Name: @workingContent.CurrentUserinformation.login_code
                </div>*@
            <div class="col-sm-12">
                HYATT PLACE KATHMANDU
            </div>
            <div class="col-sm-12">
                Print Date and Time: {{printTodayDateTime|date:'yyyy-MM-dd HH:mm:ss'}} @*[{{getNepaliDate(printTodayDateTime)}}]*@
            </div>
            <div class="col-sm-12">
                www.hyattplacekathmandu.com
            </div>
        </div>
    </div>
</body>
</html>
