@using NeoErp.Models.ReportBuilder
@model ReportBuilderModel
<div id="previewGrid">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        ReportBuilderPreview.init({
                reportName: "@Model.ReportName",
            query: "@Model.Query",
                settings: "@Model.Settings"});

    });
</script>
