
<link href="@Styles.Url("~/Areas/NeoERP.ProjectManagement/Content/inventory.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url("~/Areas/NeoERP.ProjectManagement/Content/inventory.css")" rel="stylesheet" />

<div class="printable-modal">
    <div class="print_document_title">
        <h3>   {{printCompanyInfo.formName}}</h3>
    </div>
    <header class="p_header">
        <div class="company_div">
            <div class="companylogo">
                <img alt="" src="~/Images/logo.png">
            </div>
        
   
            <div class="info">
                <h4> {{printCompanyInfo.companyName}}<br>{{printCompanyInfo.form_edesc}}</h4>
                <p>{{printCompanyInfo.address}}</p>
                <p>Ph.No. : {{printComnayInfo.TELEPHONE}}</p>
                <p>Mobile : 9854035126,9854035122</p>
                <p>E-Mail : {{printCompanyInfo.email}}</p>
                <p>TPIN No.: {{printCompanyInfo.tPinVatNo}}</p>


            </div>
            <table class="print_table consignee" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:50%;">
                           Consignee
                        </th>
                        <td>
                          {{masterModels.SUPPLIER_CODE}}
                        </td>

                    </tr>
                    <tr>
                        <th style="width:50%;">
                            Address :
                        </th>
                        <td>
                            {{masterModels.REGD_OFFICE_EADDRESS}}
                        </td>

                    </tr>

                </thead>
            </table>
         </div>
          
                <table class="print_table meta">
                    <tr>
                        <td style="width:50%">
                            <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') == -1">
                                <div ng-if="element.COLUMN_NAME.indexOf('NO') !== -1">
                                    <div ng-if="element.COLUMN_NAME.indexOf('MRR_NO') !== -1">
                                        <label for="element">{{element.COLUMN_HEADER}}</label>
                                        <div><span>{{dzvouchernumber}}</span></div>
                                    </div>
                                    <div ng-if="element.COLUMN_NAME.indexOf('ORDER_NO') !== -1">
                                        <label for="element">{{element.COLUMN_HEADER}}</label>
                                        <div><span>{{dzvouchernumber}}</span></div>
                                    </div>
                                    <div ng-if="element.COLUMN_NAME.indexOf('SUPPLIER_INV_NO') !== -1">
                                        <label for="element">{{element.COLUMN_HEADER}}</label>
                                        <div><span>{{dzvouchernumber}}</span></div>
                                    </div>
                                    <div ng-if="element.COLUMN_NAME.indexOf('RETURN_NO') !== -1">
                                        <label for="element">{{element.COLUMN_HEADER}}</label>
                                        <div><span>{{dzvouchernumber}}</span></div>
                                    </div>
                                    <div ng-if="element.COLUMN_NAME.indexOf('INVOICE_NO') !== -1">
                                        <label for="element">{{element.COLUMN_HEADER}}</label>
                                        <div><span>{{dzvouchernumber}}</span></div>
                                    </div>
                                    <div ng-if="element.COLUMN_NAME.indexOf('VOUCHER_NO') !== -1">
                                        <label for="element">{{element.COLUMN_HEADER}}</label>
                                        <div><span>{{dzvouchernumber}}</span></div>
                                    </div>
                                    <div ng-if="element.COLUMN_NAME.indexOf('REQUISITION_NO') !== -1">
                                        <label for="element">{{element.COLUMN_HEADER}}</label>
                                        <div><span>{{dzvouchernumber}}</span></div>
                                    </div>
                                    <div ng-if="element.COLUMN_NAME.indexOf('ISSUE_NO') !== -1">
                                        <label for="element">{{element.COLUMN_HEADER}}</label>
                                        <div><span>{{dzvouchernumber}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_HEADER.indexOf('Date') != -1">

                                <label for="element">{{element.COLUMN_HEADER}}</label>
                                <div>
                                    <span>{{masterModels[element.COLUMN_NAME]}}</span>
                                    <span>[{{getNepaliDate(masterModels[element.COLUMN_NAME])}}]</span>
                                </div>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:50%">
                            Ref. Document No.
                            <div></div>
                        </td>
                        <td>
                            Date [ Miti ]
                            <div></div>
                        </td>


                    </tr>

                    <tr>
                        <td style="width:50%">
                            <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') == -1">
                                <div ng-if="element.COLUMN_NAME.indexOf('CODE') !== -1">
                                    <div ng-if="element.COLUMN_NAME.indexOf('FROM_LOCATION_CODE') !== -1">
                                        <label for="element">{{element.COLUMN_HEADER}}</label>
                                        <div><span>{{masterModels[element.COLUMN_NAME]}}</span></div>
                                    </div>

                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') == -1">
                                <div ng-if="element.COLUMN_NAME.indexOf('CODE') !== -1">
                                    <div ng-if="element.COLUMN_NAME.indexOf('TO_LOCATION_CODE') !== -1">
                                        <label for="element">{{element.COLUMN_HEADER}}</label>
                                        <div><span>{{masterModels[element.COLUMN_NAME]}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </td>


                    </tr>



                    <tr>
                        <td style="width:50%">
                            <div ng-repeat="(key, value) in customModels">
                                <div ng-if="key==='DESPATCH THROUGH'">
                                    <label for="element">{{key}}</label>
                                    <div><span>{{value}}</span></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="(key, value) in customModels">
                                <div ng-if="key==='TRUCK NO.'">
                                    <label for="element">{{key}}</label>
                                    <div><span>{{value}}</span></div>
                                </div>
                            </div>

                        </td>


                    </tr>
                    <tr>
                        <td style="width:50%">
                            <div ng-repeat="(key, value) in customModels">
                                <div ng-if="key==='DRIVER NAME'">
                                    <label for="element">{{key}}</label>
                                    <div><span>{{value}}</span></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="(key, value) in customModels">
                                <div ng-if="key==='DRIVER MOBILE'">
                                    <label for="element">{{key}}</label>
                                    <div><span>{{value}}</span></div>
                                </div>
                            </div>
                        </td>


                    </tr>
                    <tr>
                        <td style="width:50%">
                            <div ng-repeat="(key, value) in customModels">
                                <div ng-if="key==='TERMS OF DELIVERY'">
                                    <label for="element">{{key}}</label>
                                    <div><span>{{value}}</span></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            D1
                            <div>9861</div>
                        </td>


                    </tr>



                </table>

                @*<table class="print_table meta table-bordered1">
                    <thead>
                        <tr ng-repeat="element in MasterFormElement | orderBy:'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('NO') !== -1">
                            <th ng-if="element.COLUMN_NAME.indexOf('INVOICE_NO') !== -1" style="width:100%"><span>Invoice No#</span></th>
                            <th ng-if="element.COLUMN_NAME.indexOf('INVOICE_NO') === -1" style="width:100%"><span>{{element.COLUMN_HEADER}}</span></th>
                            <td>
                                <span>{{masterModels[element.COLUMN_NAME]}}</span>
                            </td>
                        </tr>
                    </thead>
                </table>*@
        <table class="print_table buyer"style="width:100%">
            <thead>
                <tr>
                    <th style="width:25%;">
                        Buyers Name :
                    </th>
                    <td>
                        {{masterModels.BUYERS_NAME}}
                    </td>

                </tr>
                <tr>
                    <th style="width:25%;">
                        Address :
                    </th>
                    <td>
                        {{masterModels.BUYERS_ADDRESS
                        }}
                    </td>

                </tr>

            </thead>
        </table>
             
</header>

    @*<div class="invoice_title">
        <h2>{{printCompanyInfo.formName}}</h2>
    </div>*@

    <table class="print_table fnce" style="width:100%;">
        <thead>
            <tr>
                <th style="width:48.5%;">Description of Goods</th>              
                <th style="width:7%;">Per</th>
                <th style="width:10%;">Quantity</th>
                <th style="width:10%;">Rate</th>
                <th style="width:10%;">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:20px">
                <td ng-repeat="item in row.element | orderBy: 'SERIAL_NO'" ng-hide="item.COLUMN_NAME==='PARTICULARS' || item.COLUMN_NAME==='TRANSACTION_TYPE' || item.COLUMN_NAME==='CALC_TOTAL_PRICE' || item.COLUMN_NAME==='CALC_UNIT_PRICE'|| item.COLUMN_NAME==='COMPLETED_QUANTITY'|| item.COLUMN_NAME==='CALC_QUANTITY'">
                    <div ng-if="item.COLUMN_NAME.indexOf('CODE') !== -1">
                        <div ng-if="item.COLUMN_NAME==='ITEM_CODE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                           
                        </div>
                        <div ng-if="item.COLUMN_NAME==='PRODUCT_CODE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>

                        </div>
                    </div>

                    <div ng-if="item.COLUMN_NAME==='QUANTITY'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                    <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('CODE') !== -1">
                        <div ng-if="item.COLUMN_NAME==='MU_CODE'">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>

                        </div>

                    </div>
                    <div ng-if="item.COLUMN_NAME==='TOTAL_PRICE'" style="text-align:right;">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="print_table balance_table" style="width:100%;">
        <tr>
            <td style="width:56.7%;"></td>
            <td style="width:8.2%;"></td>
            <td style="width:12%; text-align:right">{{totalQty}}</td>
            <td style="width:11.7%;text-align:right">Net Total</td>
            <td style="text-align:right">{{summary.grandTotal}}</td>
         
        </tr>
        <tr>
            <td style="width:993px;" colspan="5"><span>Amount in words :</span> {{amountinword}} Only.</td>
        </tr>

      
    </table>

    <p style="padding-top:10px;"> Through: Cash In Hand -Factory</p>

    <div class="invoice_footer">
        <div class="narration">
            <table class="print_table Narration" style="width:100%;">
                <tbody>
                    <tr ng-repeat="element in MasterFormElement | orderBy:'SERIAL_NO'">
                        <td ng-if="element.COLUMN_NAME.indexOf('REMARKS') !== -1">
                            <p><strong>Narration :</strong>{{masterModels[element.COLUMN_NAME]}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="invoice_footer_details">
            <ul>
                <li>
                    <div class="by">Rajesh</div>
                    Prepared By:
                </li>
                <li>
                    <div class="by">Hira</div>
                    Receiver Signature :
                </li>
                <li>
                    <div class="by">Dinesh</div>
                    Checked By :
                </li>
                <li>
                    <div class="by">Rajesh</div>
                    Authorised Signatory :
                </li>
            </ul>
        </div>

    </div>
</div>