
@{
    Layout = null;
}

<div class="row">
    @*<div class="col-md-6 col-sm-6">
        @Html.Partial("~/Areas/NeoERP.LOC/Views/PurchaseOrder/_PurchaseOrder.cshtml")
    </div>
    <div class="col-md-6 col-sm-6">
        @Html.Partial("~/Areas/NeoERP.LOC/Views/ProformaInvoice/_PerfomaInvoice.cshtml")
    </div>*@
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        @Html.Partial("~/Areas/NeoERP.LOC/Views/Home/_TotalPendingItems.cshtml")
    </div>

</div>
<script>
    $('.nav-tabs a').on('click', function (e) {

        e.preventDefault();

    });
</script>