<style type="text/css">
    .dynamicforms label {
        font-size: 13px !important;
        color: #333;
    }
</style>
@*<link href="@Styles.Url("~/Areas/NeoERP.DocumentTemplate/Content/printSample.css")" rel="stylesheet" media="print" />
    <link href="@Styles.Url("~/Areas/NeoERP.DocumentTemplate/Content/printSample.css")" rel="stylesheet" />*@
<link href="@Styles.Url("~/Areas/NeoERP.DocumentTemplate/Content/Site.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url("~/Areas/NeoERP.DocumentTemplate/Content/Site.css")" rel="stylesheet" />
<div class="printable-modal">
    <header class="p_header">
        <h1>{{printCompanyInfo.form_edesc}}</h1>
        <address>
            <p>{{printCompanyInfo.address}}</p>
            <p>101 E. Chapman Ave<br>Orange, CA 92866</p>
            <p>Tel: {{printComnayInfo.TELEPHONE}}</p>
        </address>
        <span><img alt="" src="~/Images/logo.png" style="height:20px"></span>
    </header>
    <article class="article">
        <h1>Recipient</h1>
        <address class="address">
            <p>{{printCompanyInfo.companyName}}<br>{{printCompanyInfo.form_edesc}}</p>
        </address>
        <table class="meta">
            <tr ng-repeat="element in MasterFormElement | orderBy:'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('NO') !== -1">
                <th ng-if="element.COLUMN_NAME.indexOf('INVOICE_NO') !== -1"><span>Invoice No#</span></th>
                <th ng-if="element.COLUMN_NAME.indexOf('INVOICE_NO') === -1"><span>{{element.COLUMN_HEADER}}</span></th>
                <td>
                    <span>{{masterModels[element.COLUMN_NAME]}}</span>
                </td>
            </tr>
        </table>
        <table class="meta">
            <tr ng-repeat="element in MasterFormElement" ng-if="element.COLUMN_HEADER.indexOf('Date') != -1">
                <th><span>{{element.COLUMN_HEADER}}</span></th>
                <td>
                    <span>{{masterModels[element.COLUMN_NAME]}}</span>
                    <span>[{{getNepaliDate(masterModels[element.COLUMN_NAME])}}]</span>
                </td>
            </tr>
        </table>

        <table class="inventory">
            <thead>
                <tr>
                    <th ng-repeat="item in print_header | orderBy: 'SERIAL_NO'"><span>{{item.COLUMN_HEADER}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'">
                    <td ng-repeat="item in row.element | orderBy: 'SERIAL_NO'">
                        <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="balance">
            <tr>
                <th><span>Grand Total</span></th>
                <td><span>{{summary.grandTotal}}</span></td>
            </tr>
            <tr>
                <th><span>Deduction</span></th>
                <td><span>0.00</span></td>
            </tr>
            <tr>
                <th><span>Total</span></th>
                <td><span>{{summary.grandTotal}}</span></td>
            </tr>
        </table>
        <table id="reference" class="print_view_table">
            <thead>
                <tr ng-if="ReferenceList.length >0">
                    <th>Form Code</th>
                    <th>Voucher Number</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in ReferenceList">
                    <td>{{ x.reference_form_code }}</td>
                    <td>{{ x.voucher_no }}</td>
                    <td>{{ x.FORM_EDESC }}</td>
                </tr>
            </tbody>
        </table>
    </article>
    <aside class="aside">
        <h1><span>Additional Notes</span></h1>
    </aside>
    <fieldset>
        <legend>Terms & Conditions:</legend>
        01	:   The above price is exclusive of VAT.<br />
        02	:   The dispatch is to be made within week. <br />
        03	:   Rates of product is Ex-Factory-rates. <br />
        04	:   Payment will be made after 30 days of delivery by Account Payee Cheque. <br />
        05	:   Please indicate our purchase order No on your Bill.<br />
        06	:   -<br />
        07	:   -<br />

        For  Shivam Cements Ltd.<br />
        Prepared By: ..............<br />
        ( Authorised Signatory )
    </fieldset>
</div>

