
 <style type="text/css">
    .dynamicforms label {
        font-size: 13px !important;
        color: #333;
    }
</style>
 
<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/journal.css")" rel="stylesheet" media="print" />
<link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/journal.css")" rel="stylesheet" />
<div class="printable-modal">
    <header class="p_header">
        <div> {{printCompanyInfo.form_edesc}}</div>
        <div class="companylogo">
            <img alt="" src="~/Images/logo.png">
        </div>
        <div class="info">
            <h4> {{printCompanyInfo.companyName}}<br>{{printCompanyInfo.form_edesc}}</h4>
            <p>{{printCompanyInfo.address}}</p>
            @*<p>101 E. Chapman Ave<br>Orange, CA 92866</p>*@
            <p>Tel: {{printComnayInfo.TELEPHONE}}</p>
        </div>
        <div class="date">
            <table class="print_table meta">
                <thead>
                    <tr ng-repeat="element in MasterFormElement" ng-if="element.COLUMN_HEADER.indexOf('Date') != -1">
                        <th><span>{{element.COLUMN_HEADER}}</span></th>
                        <td>
                            <span>{{masterModels[element.COLUMN_NAME]}}</span>
                            <span>[{{getNepaliDate(masterModels[element.COLUMN_NAME])}}]</span>
                        </td>
                    </tr>
                </thead>
            </table>
            <table class="print_table meta table-bordered1">
                <thead>
                    <tr ng-repeat="element in MasterFormElement | orderBy:'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('NO') !== -1">
                        <th ng-if="element.COLUMN_NAME.indexOf('INVOICE_NO') !== -1" style="width:100%"><span>Invoice No#</span></th>
                        <th ng-if="element.COLUMN_NAME.indexOf('INVOICE_NO') === -1" style="width:100%"><span>{{element.COLUMN_HEADER}}</span></th>
                        <td>
                            <span>{{masterModels[element.COLUMN_NAME]}}</span>
                        </td>
                    </tr>
                </thead>
            </table>

        </div>

    </header>
    <div class="invoice_title">
        <h2>Journal Voucher</h2>
    </div>
    <article class="article">
        @*<h3>Recipient</h3>*@
        <address class="address">
            <p></p>
        </address>



        <table class="print_table fnce table-bordered">
            <thead>
                <tr>

                    <th style="width:90%;text-align:center;">particulars</th>
                    <th style="width:5%;text-align:center;">DR/CR</th>
                    <th>Amounts</th>
                    @*
                    <th ng-repeat="item in print_header | orderBy: 'SERIAL_NO'"><span>{{item.COLUMN_HEADER}}</span></th>*@
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key,row) in print_body_col | orderBy: 'SERIAL_NO'" style="height:20px">
                    <td ng-repeat="item in row.element | orderBy: 'SERIAL_NO'" ng-hide="item.COLUMN_NAME==='PARTICULARS' || item.COLUMN_NAME==='TRANSACTION_TYPE'">
                        <div ng-if="item.COLUMN_NAME.indexOf('CODE') !== -1">
                            <div ng-if="item.COLUMN_NAME.indexOf('ACC') !== -1">
                                <span>{{childModels[key].ACC_EDESC}}</span>
                                <div ng-if="childModels[key].ACC_CODE=== dynamicSubLedgerModalData[key].ACC_CODE">
                                    <table>
                                        <tbody>
                                            <tr ng-repeat="(k,row) in dynamicSubLedgerModalData[key].SUBLEDGER">
                                                <td style="border-right:none !important;">
                                                    <span>{{dynamicSubLedgerModalData[key].SUBLEDGER[k].SUB_EDESC}} {{dynamicSubLedgerModalData[key].SUBLEDGER[k].AMOUNT}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div ng-if="item.COLUMN_NAME==='AMOUNT'" style="text-align:right;">
                            <span>{{childModels[key][item.COLUMN_NAME]}}</span>
                        </div>
                    </td>
                </tr>





            </tbody>
        </table>
        <table class="print_table balance table-bordered">
            <tr>
                <th style="width:993px; text-align:right"><span> Total </span></th>
                <td style="width:99px;text-align:right"><span>{{summary.grandTotal}}</span></td>
            </tr>
            <tr>
                <th style="width:993px;"><span>Amount in words :</span> Rupees Six Hunderd Only.</th>
                <td style="width:99px;text-align:right"><span>0.00</span></td>
            </tr>
            @*
            <tr>
                <th><span>Total</span></th>
                <td><span>{{summary.grandTotal}}</span></td>
            </tr>*@
        </table>
        <table id="reference" class="print_table print_view_table table-bordered">
            <thead>
                <tr ng-if="ReferenceList.length >0">
                    <th>Form Code</th>
                    <th>Voucher Number</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in ReferenceList">
                    <td>{{ x.reference_form_code }}</td>
                    <td>{{ x.voucher_no }}</td>
                    <td>{{ x.FORM_EDESC }}</td>
                </tr>
            </tbody>
        </table>
    </article>
    @*<aside class="aside">
        <h1><span>Additional Notes</span></h1>
    </aside>*@
    @*<fieldset class="condition_fieldset">
        <legend>Terms & Conditions:</legend>
        <ol>
            <li>
                The above price is exclusive of VAT.
            </li>
            <li>
                The dispatch is to be made within week.
            </li>
            <li>
                Rates of product is Ex-Factory-rates.
            </li>
            <li>
                Payment will be made after 30 days of delivery by Account Payee Cheque.
            </li>
            <li>
                Please indicate our purchase order No on your Bill.
            </li>

        </ol>

    </fieldset>*@
    <div class="invoice_footer">
        <div class="narration">
            <p><strong>Narration :</strong>Being Cash Paid</p>
        </div>
        <div class="invoice_footer_details">
            <ul>
                <li>
                    <div class="by">Rajesh</div>
                    Prepared By:
                </li>
                <li>
                    <div class="by">Hira</div>
                    Receiver Signature :
                </li>
                <li>
                    <div class="by">Dinesh</div>
                    Checked By :
                </li>
                <li>
                    <div class="by">Rajesh</div>
                    Authorised Signatory :
                </li>








            </ul>
        </div>

    </div>
</div>


