
<style>
    .page-sidebar .page-sidebar-menu > li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li {
        display: none !important;
    }

    .page-content-wrapper .page-content {
        margin-left: 0px !important;
    }
</style>


    <div class="page-content clearfix">

    <div class="page-bar">
        <ul class="page-breadcrumb custom-breadcrum">
            <li>
                <i class="fa fa-home"></i>
                <a href="/main/GlobalDashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/sales/salesHome/dashboard">Organizer</a>
            </li>
        </ul>

        <div class="row">
            <div class="col-md-3 pull-right">
                <div class="form-group has-feedback">
                    <input type="search" placeholder="Search..." ng-model="searchBox" class="form-control BiMenuSearch">
                    <span class="search-icon glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="main-contain-box clearfix">
        <div class="col-md-12">

            <div class="collapse in" id="demo">
                <div class="margin-top-10">
                    @* For Favroite *@
                    <div class="custom-menu">
                        <a href="javascript:;"><span class="fa fa-times text-danger"></span></a>
                    </div>
                    <div class="sortable" id="sortable_portlets">
                        <div class="portlet portlet-sortable favourite-portlet" ng-show="favroiteMenuList.length > 0">
                            <div class="portlet-title ui-sortable-handle">
                                <div class="caption">
                                    <i class="fa fa-bookmark fontgreen"></i>
                                    <span class="caption-subject bold uppercase fontgreen"> Favourite</span>
                                    <span class="caption-helper"></span>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                </div>
                            </div>
                            <div class="portlet-body erp-iconlist modulebg1 page-sidebar-menu page-sidebar-menu-light">
                                <ul class="menu-icon-ui sub-menu">
                                    <li class="col-md-2" ng-init="randomColor(0,$index)" ng-repeat="item in favroiteMenuList | filter:  { Report:{RName: searchBox} }" ng-repeat-directive>
                                        <a href="{{ getMenuLink(item.Report.RName,item.Report.virtualPath,item.Report.RName)}}" data-name="{{item.Report.RName}}" data-toggle="tooltip" title="{{item.Report.description}}">
                                            <div class="circle" style="background-color:{{item.Report.color}}">
                                                <i class="{{item.Report.icon}}" aria-hidden="true"></i>
                                                <div class="icondescription" style="background-color:{{modelABBRColor(item.Report.modelABBR)}}">
                                                    {{item.Report.modelABBR}}
                                                    <span class="fa fa-times" title="remove"></span>
                                                </div>
                                            </div>
                                            <h6 class="title ">{{item.Report.RName}}</h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="portlet portlet-sortable-empty"></div>
                        </div>
                        <div class="clear-both clearfix"></div>
                        <div class="portlet portlet-sortable" style="display: block;" stop-digest ng-repeat="menu in dynamicDashboardMenus">
                            <div ng-show="menu.Items.length > 0">
                                <div class="portlet-title ui-sortable-handle" ng-if="menu.GROUP_SKU_FLAG === 'G'" >
                                    <div class="caption">
                                        <i class="{{menu.ICON_PATH}} fontgreen"></i>
                                        <span class="caption-subject bold uppercase fontgreen"> {{menu.MENU_EDESC}}</span>
                                        <span class="caption-helper"></span>
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"></a>
                                    </div>
                                </div>




                                <div class="portlet-body erp-iconlist modulebg1 page-sidebar-menu page-sidebar-menu-light">
                                    <ul ng-if="menu.GROUP_SKU_FLAG === 'G'" class="menu-icon-ui sub-menu">
                                        <li class="bordericon" ng-init="randomColor($parent.$index +1,$index,$parent.$last, $last)" ng-repeat="item in menu.Items | filter:  { MENU_EDESC: searchBox }">

                                            <a href="{{getMenuLink(item.MENU_EDESC,item.VIRTUAL_PATH,null)}}" data-toggle="tooltip" data-original-title="{{item.DESCRIPTION}}">
                                                <div class="circle" style="background-color:{{item.COLOR}}">
                                                    <i class="{{item.ICON_PATH}}" aria-hidden="true"></i>
                                                    <div class="icondescription" style="background-color:{{modelABBRColor(item.MODULE_ABBR)}}">
                                                        {{item.MODULE_ABBR}}
                                                        <span class="fa fa-times"></span>
                                                    </div>
                                                </div>
                                                <h6 class="title ">{{item.MENU_EDESC}}</h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portlet portlet-sortable-empty"> </div>
                                <div class="clear-both clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
 
<script>
    $(function () {
        $(document).on("click", function () {
            $(".icondescription span").hide();
        });
        $(".search").on("input", function () {
            if (this.value.length > 0)
                $(".sub-menu:hidden").slideDown("slow");
            else
                $(".sub-menu").slideUp("slow");
        });

      
        $('body').on('click', '.portlet .portlet-title > .tools > .expand', function (e) {           
            setTimeout(function () {                
                $(".portlet").attr('style', 'min-height : 0px');
            }, 0);
           
        });




        
    });

</script>
