
<header id="header">
    <div id="wrapper">
        <div id="first">           
            <div style="padding-left:10px;padding-top:2px;"><img src="/Content/Images/Logo.png" height="70" /></div>       
           
        </div>
        <div id="second">

            @Html.Partial("_LoginPartial")
            @{
                 @*<text>
                    <h4><span class="infosys">Integrated Management System</span></h4>
                        Logged in as   <a href="#">
                        @AppSecurity.loginDetail.EmpName (@AppSecurity.loginDetail.EmpCode)
                    </a>  Fiscal Year (<a href="#">@_Settings.FiscalYear</a>)
                    <br />
                </text>*@
            }
        </div>
    </div>
</header>
    <!-- end of header bar -->
