@{   


}

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" ng-app="menumanager" ng-controller="MenuManagerController">
        <!-- Sidebar user panel (optional) -->
        @*<div class="user-panel">
            <div class="pull-left image">
                <img src="/Content/Theme/dist/img/user2-160x160.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@AppSecurity.loginDetail.EmpName</p>
                 Status 
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>*@
        <!-- search form (Optional) -->
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- Sidebar Menu -->
       

        @*<ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>           
            <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>

            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
        </ul>*@
        <!-- /.sidebar-menu -->
    </section>
<script src="@Url.Content("~/Content/js/angular.js")"></script>
<script>

    angular.module('menumanager', []).controller('MenuManagerController', function (
    $http, $scope, $compile) {

        $scope.showpage = function (event) {
            if (typeof (event) == "undefined" || event === null) {
                return false;
            }
            var url = $(event.target).closest('a').data("url");
            $('#ajaxBusy').show();
            $http({
                method: 'GET',
                url: url,
            }).then(function (obj) {
                $('#operationmanager').html(obj.data);
                $compile($('#operationmanager'))( $scope)
                $("#baseUrl").val(url);
                $('#ajaxBusy').hide();
                //jQuery code to load the content
            });
        };
    });
</script>
    <!-- /.sidebar -->

