@{    
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />


    @Html.Partial("_LayoutHeader")


</head>

<body class="hold-transition login-page">
   
    @RenderBody()

    @Html.Partial("_LayoutFooter")

</body>
</html>
