@{
    //success messages
    var successMessages = new List<string>();
    var tmpID = string.Format("neo.notifications.{0}", NimNotificationTypes.Success);
    if (TempData[tmpID] != null && TempData[tmpID].ToString() != string.Empty)
    {
        successMessages.AddRange(TempData[tmpID] as IList<string>);
    }
    if (ViewData[tmpID] != null && ViewData[tmpID].ToString() != string.Empty)
    {
        successMessages.AddRange(ViewData[tmpID] as IList<string>);
    }

    //warning messages
    tmpID = string.Format("neo.notifications.{0}", NimNotificationTypes.Warning);
    var warningMessages = new List<string>();
    if (TempData[tmpID] != null && TempData[tmpID].ToString().Trim() != string.Empty)
    {
        warningMessages.AddRange(TempData[tmpID] as IList<string>);
    }
    if (ViewData[tmpID] != null && ViewData[tmpID].ToString().Trim() != string.Empty)
    {
        warningMessages.AddRange(ViewData[tmpID] as IList<string>);
    }


    //error messages
    tmpID = string.Format("neo.notifications.{0}", NimNotificationTypes.Error);
    var errorMessages = new List<string>();
    if (TempData[tmpID] != null && TempData[tmpID].ToString().Trim() != string.Empty)
    {
        errorMessages.AddRange(TempData[tmpID] as IList<string>);
    }
    if (ViewData[tmpID] != null && ViewData[tmpID].ToString() != string.Empty)
    {
        errorMessages.AddRange(ViewData[tmpID] as IList<string>);
    }
}
@foreach (var message in successMessages)
{
    if (message.Trim() == string.Empty) { continue; }
    <div class="alert alert-message alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(message)
    </div>
}

@foreach (var message in warningMessages)
{
    if (message.Trim() == string.Empty) { continue; }
    <div class="alert alert-message alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(message)
    </div>
}

@foreach (var message in errorMessages)
{
    if (message.Trim() == string.Empty) { continue; }
    <div class="alert alert-message alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.Raw(message)
    </div>
}
<div class="ajax-loading-block-window" style="display: none">
</div>
<div id="dialog-notifications-success" title="Success" style="display:none;">
</div>
<div id="dialog-notifications-error" title="Error" style="display:none;">
</div>

