@model string

@{
    ViewBag.Title = "Error";
   
}


<article class="module width_full">
    <header>
        <h3>Security Alert</h3>
    </header>
    <div class="module_content">
       @* <h1 class="error">Error:</h1>*@<br />
        <h2 class="error">You have no permission to access this page</h2><br />
        @{
            string url;
            if (@Request.UrlReferrer != null)
            {
                url = @Request.UrlReferrer.AbsolutePath;
            }
            else
            {
                url = "/Main/DashBoard";
            }
        
            <a href="@url">Click Here to go Back</a>
        }
    </div>
</article>
