@model string
@{
    Layout = null;
    ViewBag.Title = "Success";
}

<div id="main">
<h4 class ="alert_success">
    @ViewBag.Message <br /> @Model
</h4>
    </div>


@{
    string url;
    if (@Request.UrlReferrer != null)
    {     
        url = @Request.UrlReferrer.AbsolutePath;
    }
    else
    {
        url = "/Home/DashBoard";
    }
        
    <a href="@url">Click Here to go Back</a>
}
