@using NeoErp.Sales.Modules.Services.Models.CalendarReport
@model CalendarColumnRange
@{
    var dynamicRow = Model.SecondColumnlist;
}

@for (int i = 0; i <= 2; i++)
{
    if (i == 0)
    {
        <tr role='rowgroup' class='extrarow'>
            <th class='k-header'></th>
            @foreach (var secondRow in dynamicRow)
            {
                var itemsCount = secondRow.ThirdHorizontalColumn.Count;

                <th class='k-header' colspan='@(itemsCount*2)'>
                    <h6><span class="pull-left">@Model.ReportName</span></h6> @secondRow.HeaderName
                </th>
            }
            <th class='k-header'></th>
        </tr>
    }
    else 
    if (i == 1)
    {
        <tr role='rowgroup' class="extrarow">
            <th class='k-header'></th>
            @foreach (var secondRow in dynamicRow)
            {
                foreach (var second in secondRow.ThirdHorizontalColumn)
                {
                    var intcolspan = second.forthHorizontalColumn.Count;
                    <th class='k-header' colspan='@intcolspan'>
                        @second.HeaderName
                    </th>
                }
            }
            <th class='k-header'></th>
        </tr>
    }
}
