@{
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
}
<style>
    .btnCustom {
        border-width: 0;
        font-size: 14px;
        outline: none !important;
        background-image: none !important;
        filter: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-shadow: none;
        color: #FFFFFF;
        background-color: #26a69a;
        padding: 7px 11px 7px 11px;
    }

    /*.modal-header {
        padding-top: 0px !important;
    }*/
</style>

<a class="btn btn-circle btn-icon-only btn-default filteroption" href="#filterModal" data-toggle="modal">
    <i class="fa fa-filter"></i>
</a>


<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
    <div class="modal-dialog calendarreport-filter modal-custom">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-inline">
                     <button type="button" class="btn btn-green" id="loadByFilterCalendarReport2" style="margin-bottom:5px;" onclick="$('#RunQuery').trigger('click');" data-dismiss="modal">Apply</button>
                    <button type="button" class="bt-dismiss close pull-right" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <h4 class="modal-title" id="filterModalLabel"><span class="fa fa-calendar"></span> Calendar Filter</h4>
            </div>
            <div class="modal-body">
                <div class="row form-inline">
                    <div class="form-group col-md-12">
                        @Html.Partial("~/areas/" + myAreaName + "/Views/Shared/_reportListFilter.cshtml")
                    </div>


                    @*<div class="form-group col-md-5">*@
                        @*Vertical Table Treeview goes here...*@
                        @*<div class="ReportTitleWiseTreeListView"></div>*@
                    @*</div>*@
                    @*<div class="form-group">
                        <label class="col-md-3">As on Date</label>
                        <div class="col-md-9">*@
                            @*@Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)*@
                        @*</div>
                    </div>*@
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-green" id="applyFilters" data-dismiss="modal">Apply</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
 

