@using NeoErp.Core.Models;
@{
    ViewBag.Title = "CalendarReport";
}

@{
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
}

<style>
    .btn-group {
        margin-right: 7px;
    }

    a#RunQuery {
        margin-right: 5px;
    }

    div.k-grid-header th.k-header, tr.k-filter-row > th {
        text-align: center;
    }

    .page-bar {
        margin-bottom: 0px !important;
    }

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    /*#grid thead{
         font-size:11px;
    }*/
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }
</style>
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="index.html">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Calendar Report</a>
                <i class="fa fa-angle-right"></i>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">

                <div class="actions">
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)
                    </div>
                    <div class="btn-group">
                        @Html.Partial("~/areas/" + myAreaName + "/Views/CalendarReport/_CalendarReportFilter.cshtml")
                    </div>
                    <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="#">
                        <i class="icon-control-play"></i>
                    </a>


                </div>

            </div>
        </div>
    </div>
    <div class="row collapse in" id="calendar-content">
    </div>
</div>


<script type="text/javascript" src="@Url.Content("~/areas/"+myAreaName+"/Scripts/calendar.js?v"+@DateTime.Now.ToString())"></script>
<script type="text/javascript">
    $(document).ready(function () {
        calendar.init(window.location.protocol + "//" + window.location.host + "/sales/CalendarReport/CalendarDynamicColumnView");
    });
</script>