
@using NeoErp.Core.Models;
@{
    ViewBag.Title = "CalendarReport";
}

@{
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
}

<style>
    .btn-group {
        margin-right: 7px;
    }

    a#RunQuery {
        margin-right: 5px;
    }

    div.k-grid-header th.k-header, tr.k-filter-row > th {
        text-align: center;
    }

    .page-bar {
        margin-bottom: 0px !important;
    }

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    /*#grid thead{
         font-size:11px;
    }*/
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }
</style>
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="index.html">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Calendar Report</a>
                <i class="fa fa-angle-right"></i>
            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">

                <div class="actions">
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)
                    </div>
                    <div class="btn-group">
                        @Html.Partial("~/areas/" + myAreaName + "/Views/CalendarReport/_CalendarReportFilter.cshtml")
                    </div>
                    <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="#">
                        <i class="icon-control-play"></i>
                    </a>


                </div>

            </div>
        </div>
    </div>
    <div class="row collapse in" id="calendar-content">
    </div>
</div>


<script type="text/javascript" src="@Url.Content("~/areas/"+myAreaName+"/Scripts/calendar.js?v1")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        calendar.init(window.location.protocol + "//" + window.location.host + "/sales/CalendarReport/CalendarWeekDynamicColumn");
    });
</script>




<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
@*<div class="row collapse in" id="demo">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body form">
                    <div class="row">
                        <div id="grid">
                            <div id="example">
                                <div id="grid"></div>

                                <script>
                                    $(document).ready(function () {
                                        $("#grid").kendoGrid({
                                            dataSource: {
                                                type: "odata",
                                                transport: {
                                                    read: "//demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                                                },
                                                pageSize: 20
                                            },
                                            height: 550,
                                            groupable: true,
                                            sortable: true,
                                            resizable: true,
                                            reorderable: true,
                                            pageable: true,
                                            columnMenu: true,
                                            columns: [
                                                {
                                                    title: "Report for XYZ Company",
                                                    attributes: {
                                                        style: "text-align: center;"
                                                    },
                                                    columns: [
                                                        {
                                                            title: "Description",
                                                            width: 100
                                                        },
                                                        {
                                                            title: "Year1",
                                                            width: 600,
                                                            columns: [
                                                                {
                                                                    title: "Month1",
                                                                    width: 50,
                                                                    columns: [
                                                                        {
                                                                            title: "Item",
                                                                            width: 25
                                                                        },
                                                                        {
                                                                            title: "Qty.",
                                                                            width: 25
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    title: "Month2",
                                                                    width: 50,
                                                                    columns: [
                                                                        {
                                                                            title: "Item",
                                                                            width: 25
                                                                        },
                                                                        {
                                                                            title: "Qty.",
                                                                            width: 25
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    title: "Month3",
                                                                    width: 50,
                                                                    columns: [
                                                                        {
                                                                            title: "Item",
                                                                            width: 25
                                                                        },
                                                                        {
                                                                            title: "Qty.",
                                                                            width: 25
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    title: "Month4",
                                                                    width: 50,
                                                                    columns: [
                                                                        {
                                                                            title: "Item",
                                                                            width: 25
                                                                        },
                                                                        {
                                                                            title: "Qty.",
                                                                            width: 25
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                            //columns: [{
                                            //             field: "CompanyName",
                                            //             title: "Company Name",
                                            //            width: 420
                                            //           },
                                            //           {
                                            //    title: "Contact Info",
                                            //    columns: [{
                                            //        field: "ContactTitle",
                                            //        title: "Contact Title",
                                            //        width: 200
                                            //    }, {
                                            //        field: "ContactName",
                                            //        title: "Contact Name",
                                            //        width: 200
                                            //    }, {
                                            //        title: "Location",
                                            //        columns: [{
                                            //            field: "Country",
                                            //            width: 200
                                            //        }, {
                                            //            field: "City",
                                            //            width: 200
                                            //        }]
                                            //    }, {
                                            //        field: "Phone",
                                            //        title: "Phone"
                                            //    }]
                                            //}
                                            //        ]
                                        });
                                    });
                                </script>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- END PAGE CONTENT-->