
@{
    ViewBag.Title = "BranchSetup";
    Layout = null;
}



<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }

    .main input.form-control, .main select {
        /*height: 24px !important;
        padding: 0px 6px !important;
        border: solid #ddd 1px;
        font-size: 11px !important;*/
    }

    .main .k-widget.k-dropdown.k-header {
        min-height: 22px !important;
    }

    .main .k-dropdown-wrap.k-state-default {
        min-height: 24px !important;
        font-size: 11px;
    }

    /*.main .k-widget.k-treeview {
        min-height: 490px !important;
    }*/

    .k-splitter .k-scrollable {
        overflow-y: hidden !important;
    }

    .k-scrollable .k-widget.k-treeview {
        max-height: 444px;
        overflow: auto !important;
    }
</style>


<div class="col-md-12">
    <div id="splitter" ng-controller="BranchSetupCtrl">
        <div id="pane1">
            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_BranchSetupTreePartial .cshtml")
        </div>
        <div>
            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_BranchSetupPartial.cshtml")
        </div>
    </div>
</div>

<script>
                $("#splitter").kendoSplitter()
                var splitter = $("#splitter").data("kendoSplitter");
                splitter.size(".k-pane:first", "29%");
                //new
                splitter.max("#pane1", "500px");
                //old
                // splitter.max("#pane1", "550px");
                // splitter.min("#pane1", "200px");

                $('.tblresponsive').slimScroll({
                    height: '150px',
                });

                setTimeout(function () {

                    $('.k-list').slimScroll({
                        height: '250px'
                    });
                }, 100)


</script>


































