@{
    ViewBag.Title = "Category Setup";
    Layout = null;
}
<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }

    .green-box .k-grid-header {
        display: none;
    }

    table.k-selectable tbody td {
        font-size: 11px;
    }

    .green-box .k-grid {
        height: 447px !important;
        border: none !important;
    }

    .k-splitter .k-scrollable {
        overflow: hidden !important;
    }


    /*.k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }*/


    /*.k-splitter .k-scrollable {
        overflow: hidden !important;
    }

    .k-grid-content .k-auto-scrollable {
        height: 455px !important;
    }*/
    .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }

    .k-virtual-scrollable-wrap {
        height: 454px !important;
        /*abc*/
        .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget *:before, .k-animation-container *:after, .k-block .k-header, .k-list-container

    {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #customerType_listbox {
        height: 80px !important;
    }

    .fieldset-box {
        margin-bottom: 8px;
    }

    /*.englishdate {
        width: 117px !important;
    }

    .k-i-warning {
        display: none;
    }*/
    .document_child_table tbody.table_body {
        min-height: 86px !important;
    }

    div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    div#ndp-nepali-box {
        font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
        border: 1px solid #CCC;
        background-color: #FFF;
        position: absolute;
        z-index: 9999;
        padding: 1px;
        margin-top: 1px;
    }

    .k-select {
        display: none;
    }

    .requiredAsterik {
        position: absolute;
        top: 0px;
        right: 5px;
    }

    .k-list-container {
        width: 250px !important;
    }

    table {
        table-layout: fixed;
    }

        table th, table td {
            overflow: hidden;
        }

    .k-grid-content {
        height: 367px !important;
    }

    #kGrid {
        height: 427px !important;
    }

    .borderRed {
        border: solid red 1px !important;
    }

    .addcolor {
        color: #ffffff;
    }
</style>
<div class="col-md-12">
    <div class="portlet light form-fit bordered bottomspance">
        <div class="portlet-title" style="height:50px;">
            <div class="caption caption-title ng-binding">
                <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                    <i class="fa fa-arrow-circle-left"></i>
                </a>
                <i class="fa fa-gift font-green-haze"></i>
                <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
            </div>
        </div>
    </div>
    <div id="splitter" ng-controller="categorySetupCtrl">
        <div id="pane1">
            <div class="portlet box green-box">
                <div class="portlet-title">
                    <transportsetup></transportsetup>
                    <div class="caption">
                        <i class="icon-pin"></i>
                        <span class="caption-subject bold uppercase">Category List</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="topsearch">
                            <input class="k-textbox txtSearchString" type="text" id="categorySearchString" ng-model="txtSearchString" name="search" placeholder="Enter Search Text Here..." />
                        </div>
                    </div>
                    <kendo-grid id="grid" options="grid" k-rebind="grid"></kendo-grid>
                </div>
            </div>
        </div>
        <div>
            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_categorySetupPartial.cshtml")
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#categorySearchString").keyup(function () {
            var val = $('#categorySearchString').val();
            $("#grid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "CATEGORY_EDESC",
                        operator: "contains",
                        value: val
                    }
                ]
            });
        });
    });
    $("#splitter").kendoSplitter()
    var splitter = $("#splitter").data("kendoSplitter");
    splitter.size(".k-pane:first", "29%");
    splitter.max("#pane1", "500px");
    $('.tblresponsive').slimScroll({
        height: '150px',
    });
</script>