
@{
    ViewBag.Title = "Customer Setup";
    Layout = null;
}

<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }
    #customerSetupTreeCtrl .modal-backdrop.in {
        margin-right: 20px !important;
    }

    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }
  

    .treeviewspliter .k-widget.k-treeview {
        /*min-height: 530px !important;*/
        max-height: 444px;
        /*overflow:auto !important;*/
    }

    .k-splitter .k-scrollable
    {
        overflow-y:hidden !important;
    }

</style>
<div class="col-md-12">   
            <div id="splitter" ng-controller="customerSetupTreeCtrl">

                <div id="pane1" class="treeviewspliter">
                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_customerSetupTreePartial.cshtml")
                </div>
                <div> @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_customerSetupPartial.cshtml")</div>
        
    </div>
</div>

<script>
    $("#splitter").kendoSplitter()
    var splitter = $("#splitter").data("kendoSplitter");
    splitter.size(".k-pane:first", "29%");
    //new
    splitter.max("#pane1", "500px");
    //old
    // splitter.max("#pane1", "550px");
    // splitter.min("#pane1", "200px");

    $('.tblresponsive').slimScroll({
        height: '150px',
    });

    $(function () {
        $('.k-widget.k-treeview').slimScroll({
            //height: '250px'
        });
    });

   setTimeout(function () {

       $('.k-list.k-reset').slimScroll({
                        //height: '250px'
                    });
                }, 100)



</script>

