
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IssueTypeSetup</title>
    <style>
            .k-splitbar.k-splitbar-horizontal {
                width: 5px; /*specify the width of the horizontal splitbar*/
            }


            .k-splitter {
                height: 490px !important;
            }

            .portlet-title.mingap {
                min-height: auto !important;
            }

            .bottomspance {
                padding: 2px 15px !important;
            }

            .portlet-title.mingap {
                min-height: auto !important;
            }

            .bottomspance .portlet-body {
                padding-top: 2px !important;
            }

            .portlet {
                margin-top: 0px;
                margin-bottom: 7px !important;
            }

          
            .bodyController {
                margin-top: 4px;
            }

            .green-box .k-grid-header {
                display: none;
            }

            table.k-selectable tbody td {
                font-size: 11px;
            }

            .green-box .k-grid {
                height: 447px !important;
                border: none !important;
            }

            .k-splitter .k-scrollable {
                overflow: hidden !important;
            }


         
            .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
                height: auto !important;
            }

        .k-virtual-scrollable-wrap {
            height: 454px !important;
        }
                /*abc*/
                .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget *:before, .k-animation-container *:after, .k-block .k-header, .k-list-container
            {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            #customerType_listbox {
                height: 80px !important;
            }

            .fieldset-box {
                margin-bottom: 8px;
            }

          
            .document_child_table tbody.table_body {
                min-height: 86px !important;
            }

            div#ndp-nepali-box {
                z-index: 10076 !important;
            }

            div#ndp-nepali-box {
                font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
                border: 1px solid #CCC;
                background-color: #FFF;
                position: absolute;
                z-index: 9999;
                padding: 1px;
                margin-top: 1px;
            }

            .k-select {
                display: none;
            }

            .requiredAsterik {
                position: absolute;
                top: 0px;
                right: 5px;
            }

            .k-list-container {
                width: 250px !important;
            }

            table {
                table-layout: fixed;
            }

                table th, table td {
                    overflow: hidden;
                }

            .k-grid-content {
                height: 367px !important;
            }

            #kGrid {
                height: 427px !important;
            }

            .borderRed {
                border: solid red 1px !important;
            }

            .addcolor {
                color: #ffffff;
            }

        .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
      
        .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
            height: auto !important;
        }

        .k-virtual-scrollable-wrap {
            height: 454px !important;
        }

        #createContractForm .k-multiselect-wrap ul li {
            font-size: 10px !important;
        }

        #createContractForm .k-multiselect-wrap .k-input {
            color: hsl(0, 0%, 80%);
        }

        #multiselect-wrap.k-floatwrap {
            max-height: 101px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div class="row">


        <div class="col-md-12" ng-controller="issueTypeSetupCtrl">
            <div class="portlet light form-fit bordered bottomspance">
                <div class="portlet mingap">

                    <div class="portlet-title">
                        <div class="caption caption-title ng-binding">
                            <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                                <i class="fa fa-arrow-circle-left"></i>
                            </a>
                            <i class="fa fa-gift font-green-haze"></i>
                            <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
                        </div>
                    </div>

                    <div class="portlet-body">

                        <div class="row">

                            <div id="splitter">
                                <div id="pane1">
                                    <div class="portlet box green-box">
                                        <div class="portlet-title">

                                            <div class="caption">
                                                <i class="icon-pin"></i>
                                                <span class="caption-subject bold uppercase">Issue Type List</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">

                                                <div class="topsearch">

                                                    <input class="k-textbox txtSearchString" type="text" id="issueSearchString" ng-model="txtSearchString" name="search" placeholder="Enter Search Text Here..." />

                                                </div>

                                            </div>
                                            <kendo-grid id="iGrid" options="iGrid" k-rebind="iGrid"></kendo-grid>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    @*@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_vehicleSetupPartial.cshtml")*@

                                    <form id="IssueTypeForm" name="IssueTypeForm" novalidate>


                                        <div class="portlet box green-box main">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list-alt"></i>
                                                    <span class="caption-subject  bold uppercase">
                                                        Issue Type Information
                                                    </span>
                                                </div>
                                                <div class="actions pull-right">

                                                    <button type="button" id="deleteTransporter" name="deleteTransporter" ng-model="btnDelete" ng-disabled="!btnDelete" ng-click="deleteIssueType(IssueTypeForm.$valid)" class="btn btn-danger btn-sm">Delete</button>
                                                    <button type="button" id="saveTransporter" name="saveTransporter" ng-click="SaveIssueType(IssueTypeForm.$valid)" class="btn dark-green btn-sm">{{saveAction}}</button>
                                                    <button type="button" id="cancelTransporter" name="cancelTransporter" ng-click="Cancel()" class="btn btn-default btn-sm">New</button>

                                                </div>
                                            </div>

                                            <div class="portlet-body form-horizontal">

                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                                                Shortcut<span style="color:red" ng-show="IssueTypeForm.short_cut.$invalid">
                                                                    <span ng-show="IssueTypeForm.short_cut.$error.required">*</span>
                                                                </span>
                                                            </label>
                                                            <div class="col-sm-9 col-md-8 col-lg-7">
                                                                <input class="form-control" type="text" name="short_cut" ng-model="IssueTypeSetupObj.SHORT_CUT" id="short_cut" placeholder="type shortcut" required>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                                                In English<span style="color:red" ng-show="IssueTypeForm.in_english.$invalid">
                                                                    <span ng-show="IssueTypeForm.in_english.$error.required">*</span>
                                                                </span>
                                                            </label>
                                                            <div class="col-sm-9 col-md-8 col-lg-7">
                                                                <input class="form-control" type="text" name="in_english" ng-model="IssueTypeSetupObj.IN_ENGLISH" id="in_english" placeholder="name in english" required>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-3 col-md-4 col-lg-5">
                                                                In Nepali
                                                            </label>
                                                            <div class="col-sm-9 col-md-8 col-lg-7">
                                                                <input class="form-control" type="text" name="in_nepali" ng-model="IssueTypeSetupObj.IN_NEPALI" id="in_nepali" placeholder="name in nepali">
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4 col-md-4 col-lg-5">
                                                                Remarks
                                                            </label>
                                                            <div class="col-sm-9 col-md-8 col-lg-7">
                                                                <textarea class="form-control" type="text" rows="4" name="remarks" ng-model="IssueTypeSetupObj.REMARKS" id="remarks" placeholder="remarks"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>


                                    </form>


                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </div>

    </div>




    <script>


        $("#splitter").kendoSplitter()
        var splitter = $("#splitter").data("kendoSplitter");
        splitter.size(".k-pane:first", "29%");
        //new
        splitter.max("#pane1", "700px");
        //old
        // splitter.max("#pane1", "550px");
        // splitter.min("#pane1", "200px");


        $('.tblresponsive').slimScroll({
            height: '150px',
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#issueSearchString").keyup(function () {
                var val = $('#issueSearchString').val();
                $("#iGrid").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "ISSUE_TYPE_EDESC",
                            operator: "contains",
                            value: val
                        },

                    ]
                });


            });
        });

    </script>



</body>
</html>
