@{
    ViewBag.Title = "Location Setup";
    Layout = null;
}

<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }

    .k-splitter .k-scrollable {
        overflow: hidden !important;
    }

    .k-widget.k-treeview {
        max-height: 442px !important;
        overflow: auto !important;
    }
</style>
<div class="col-md-12">
    <div id="customerSetupTreeCtrl">

        <div id="splitter" ng-controller="locationSetupTreeCtrl">
            <div id="pane1">
                @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_locationSetupTreePartial.cshtml")
            </div>
            <div> @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_locationSetupPartial.cshtml")</div>
        </div>

    </div>
</div>


<script>
    $("#splitter").kendoSplitter()
    var splitter = $("#splitter").data("kendoSplitter");
    splitter.size(".k-pane:first", "29%");
    //new
    splitter.max("#pane1", "500px");
    //old
    // splitter.max("#pane1", "550px");
    // splitter.min("#pane1", "200px");

    $('.tblresponsive').slimScroll({
        height: '150px',
    });

</script>


