
@{
    ViewBag.Title = " PartyType Setup";
    Layout = null;
}

<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }

    .green-box .k-grid-header {
        display: none;
    }

    table.k-selectable tbody td {
        font-size: 11px;
    }

    .green-box .k-grid {
        height: 447px !important;
        border: none !important;
    }

    .k-splitter .k-scrollable {
        overflow: hidden !important;
    }


    /*.k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }*/


    /*.k-splitter .k-scrollable {
        overflow: hidden !important;
    }

    .k-grid-content .k-auto-scrollable {
        height: 455px !important;
    }*/
    .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }

    .k-virtual-scrollable-wrap {
        height: 454px !important;
    }
</style>
<div class="col-md-12">
    <div id="customerSetupTreeCtrl">
        <div id="splitter" ng-controller="PartyTypeSetupCtrl">
            <div id="pane1">
                <div class="portlet box green-box">
                    <div class="portlet-title">
                        <transportsetup></transportsetup>
                        <div class="caption">
                            <i class="icon-pin"></i>
                            <span class="caption-subject bold uppercase">Party Type  List</span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="topsearch">

                            <input class="k-textbox txtSearchString" type="text" id="tdsSearchString" ng-model="txtSearchString" name="search" placeholder="Enter Search Text Here..." />

                        </div>

                    </div>
                    <kendo-grid id="grid" options="grid" k-rebind="grid"></kendo-grid>
                </div>
            </div>

            <div> @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_partyTypeSetupPaertial.cshtml")</div>
        </div>
    </div>
</div>


<script>
                $("#splitter").kendoSplitter()
                var splitter = $("#splitter").data("kendoSplitter");
                splitter.size(".k-pane:first", "29%");
                //new
                splitter.max("#pane1", "500px");
                //old
                // splitter.max("#pane1", "550px");
                // splitter.min("#pane1", "200px");


                $('.tblresponsive').slimScroll({
                    height: '150px',
                });

</script>




<script type="text/javascript">
        //$(document).ready(function () {

        //    $("#tdsSearchString").keyup(function () {
        //        var val = $('#tdsSearchString').val();
        //        $("#grid").data("kendoGrid").dataSource.filter({
        //            logic: "or",
        //            filters: [
        //                {
        //                    field: "TDS_EDESC",
        //                    operator: "contains",
        //                    value: val
        //                },

        //            ]
        //        });


        //    });
        //});
     $(document).ready(function () {
        $("#tdsSearchString").keyup(function () {
            var val = $('#tdsSearchString').val();
            $("#grid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    {
                        field: "PARTY_TYPE_EDESC",
                        operator: "contains",
                        value: val
                    }
                ]
            });
        });
     });

</script>


