
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProcessSetupBom</title>

    <style>

        fieldset.scheduler-border {
            /*border: 1px groove #ddd !important;*/
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        legend.scheduler-border {
            font-size: 0.9em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }

        .k-splitbar.k-splitbar-horizontal {
            width: 5px; /*specify the width of the horizontal splitbar*/
        }


        .k-splitter {
            height: 490px !important;
        }

        .portlet-title.mingap {
            min-height: auto !important;
        }

        .bottomspance {
            padding: 2px 15px !important;
        }

        .portlet-title.mingap {
            min-height: auto !important;
        }

        .bottomspance .portlet-body {
            padding-top: 2px !important;
        }

        .portlet {
            margin-top: 0px;
            margin-bottom: 7px !important;
        }


        .bodyController {
            margin-top: 4px;
        }

        /*.green-box .k-grid-header {
            display: none;
        }*/

        table.k-selectable tbody td {
            font-size: 11px;
        }

        .green-box .k-grid {
            height: 447px !important;
            border: none !important;
        }

        .k-splitter .k-scrollable {
            overflow: hidden !important;
        }



        .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
            height: auto !important;
        }

        .k-virtual-scrollable-wrap {
            height: 454px !important;
        }
        /*abc*/
        .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget *:before, .k-animation-container *:after, .k-block .k-header, .k-list-container {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        #customerType_listbox {
            height: 80px !important;
        }

        .fieldset-box {
            margin-bottom: 8px;
        }


        .document_child_table tbody.table_body {
            min-height: 86px !important;
        }

        div#ndp-nepali-box {
            z-index: 10076 !important;
        }

        div#ndp-nepali-box {
            font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
            border: 1px solid #CCC;
            background-color: #FFF;
            position: absolute;
            z-index: 9999;
            padding: 1px;
            margin-top: 1px;
        }

        .k-select {
            display: none;
        }

        .requiredAsterik {
            position: absolute;
            top: 0px;
            right: 5px;
        }

        .k-list-container {
            width: 250px !important;
        }

        table {
            table-layout: fixed;
        }

            table th, table td {
                overflow: hidden;
            }

        .k-grid-content {
            height: 367px !important;
        }


        .borderRed {
            border: solid red 1px !important;
        }

        .addcolor {
            color: #ffffff;
        }

        .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
            height: auto !important;
        }

        .k-virtual-scrollable-wrap {
            height: 454px !important;
        }

        #createContractForm .k-multiselect-wrap ul li {
            font-size: 10px !important;
        }

        #createContractForm .k-multiselect-wrap .k-input {
            color: hsl(0, 0%, 80%);
        }

        #multiselect-wrap.k-floatwrap {
            max-height: 101px;
            overflow-y: auto;
        }
    </style>

</head>
<body>
    <div class="row">

        <div class="col-md-12 col-sm-12" id="processSetupBomCtrl">

            <div class="portlet light form-fit bordered bottomspance">

                <div class="portlet mingap">

                    <div class="portlet-title">

                        <div class="caption caption-title ng-binding">
                            <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                                <i class="fa fa-arrow-circle-left"></i>
                            </a>
                            <i class="fa fa-gift font-green-haze"></i>
                            <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
                        </div>

                        <div class="actions">

                            <a class="btn btn-success" data-toggle="tooltip" data-placement="top" id="newProcessSetupBtn" title="(Alt + P)" ng-click="newProcessSetup()" href="javascript:;">
                                <i class="fa fa-plus-circle"></i> New
                            </a>
                            <a class="btn btn-success" data-toggle="tooltip" data-placement="top" id="editRoutine" title="(Alt + P)" ng-click="editProcessRoutineSetup()" href="javascript:;" disabled>
                                <i class="fa fa-check-circle"></i> Edit
                            </a>

                            <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="(Alt + P)" href="/DocumentTemplate/Home/Dashboard">
                                <i class="fa fa-close"></i> Cancel
                            </a>

                            <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="(Alt + P)" ng-click="printProcessSetup()" href="javascript:;">
                                <i class="fa fa-print"></i> Print
                            </a>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="row">

                            <div id="splitter">
                                <div id="pane1">
                                    <div class="portlet box green-box">
                                        <div class="portlet-title">

                                            <div class="caption">
                                                <i class="icon-pin"></i>
                                                <span class="caption-subject bold uppercase">Process</span>
                                                <span style="margin-left:181px;"><i class="fa fa-refresh" title="Remove selection" ng-click="removeNodeSelection()"></i></span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">

                                                <div class="topsearch">

                                                    @*<input class="k-textbox txtSearchString" type="text" id="processSearchString" ng-model="txtSearchString" name="search" placeholder="Enter Search Text Here..." />*@
                                                    <input class="k-textbox" placeholder="Search here..." id="processSearchString" />
                                                </div>

                                            </div>
                                            <div id="categoryTreeGrid"></div>
                                            <ul id="menu">
                                                <li>Add</li>
                                                <li>Update</li>
                                                <li>Delete</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="portlet box green-box main">

                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-list-alt"></i>
                                                <span class="caption-subject  bold uppercase">
                                                    Routine
                                                </span>
                                            </div>
                                        </div>

                                        <div class="portlet-body">

                                            <div class="tabbable">
                                                <kendo-grid id="routineResultGrid" options="routineResultOptions" k-rebind="routineResultOptions" class="kendo_gride_table" style="width:100%;">
                                                </kendo-grid>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="modal fade-out" id="addNewProcessCategoryModel" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="close()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Process Setup
                            </h4>

                        </div>

                        <div id="addNewProcessCategoryDiv" class="modal-body OperaPrintModal main">

                            <div class="portlet box green-box main">

                                <div class="portlet-body form-horizontal">

                                    <div class="row">

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Under:<span style="color:red" ng-show="processCategoryForm.processType.$invalid">
                                                        <span ng-show="processCategoryForm.processType.$error.required">*</span>
                                                    </span>
                                                </label>
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <select id="processType" ng-model="selectedProcessForDDL" k-value-primitive="true" k-ng-model="selectedProcessForDDL" name="processTypeForDDL" kendo-drop-down-list
                                                            k-options="processTypeDDLOptions" ng-change="onDDLChange()"
                                                            style="width: 100%"></select>
                                                </div>
                                            </div>

                                        </div>
                                        <div ng-show="fillPrimaryProcessName">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                        Primary Process Name:<span style="color:red" ng-show="processCategoryForm.primaryProcessName.$invalid">
                                                            <span ng-show="processCategoryForm.primaryProcessName.$error.required">*</span>
                                                        </span>
                                                    </label>
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <input class="form-control" type="text" name="primaryProcessName" ng-model="processCategoryRoutineObj.PRIMARY_PROCESS_NAME" id="primaryProcessName" placeholder="Primary Process Name" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Process Code:<span style="color:red" ng-show="processCategoryForm.processCode.$invalid">
                                                        <span ng-show="processCategoryForm.processCode.$error.required">*</span>
                                                    </span>
                                                </label>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <input class="form-control" type="text" name="processCode" ng-model="processCategoryRoutineObj.PROCESS_CODE" id="processCode" placeholder="Process Code" required>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-lg-6" id="cprradio">
                                                    Category:<input type="radio" name="processFlag" id="catRadio" ng-model="selectedProcessFlag" ng-change='ChangeFlag(selectedProcessFlag)' value="CATEGORY" />
                                                    Process:<input type="radio" name="processFlag" id="proccessRadio" ng-model="selectedProcessFlag" ng-change='ChangeFlag(selectedProcessFlag)' value="PROCESS" />
                                                    Routine:<input type="radio" name="processFlag" id="routineRadio"  ng-model="selectedProcessFlag" ng-change='ChangeFlag(selectedProcessFlag)' value="ROUTINE" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    In English:<span style="color:red">*</span>
                                                </label>
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="in_english" ng-model="processCategoryRoutineObj.IN_ENGLISH" id="in_english" placeholder="name in english" required>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    In Nepali:
                                                </label>
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="in_nepali" ng-model="processCategoryRoutineObj.IN_NEPALI" id="in_nepali" placeholder="name in nepali">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Process Type:<span style="color:red">*</span>
                                                </label>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <select id="processType" ng-model="selectedProcessType" k-value-primitive="true" k-ng-model="selectedProcessType" name="processType" kendo-drop-down-list
                                                            k-options="processTypeOptions"
                                                            style="width: 100%"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Priority Number:<span style="color:red">*</span>
                                                </label>
                                                <div class="col-sm-6 col-md-6 col-lg-6">

                                                    <input class="form-control" type="text" name="priorityNumber" ng-model="processCategoryRoutineObj.PRIORITY_NUMBER" id="priorityNumber" placeholder="Priority Number" required>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Remarks:
                                                </label>
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <textarea class="form-control" type="text" rows="4" name="remarks" ng-model="processCategoryRoutineObj.REMARK" id="remarks" placeholder="remarks"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">

                            <a class="btn btn-sm btn-green" ng-click="close()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green" ng-click="SaveProcessCategorySetup()">Finish</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade-out" id="addNewProcessModel" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="closeProcessModel()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Process Setup
                            </h4>

                        </div>

                        <div id="addNewProcessDiv" class="modal-body OperaPrintModal main">

                            <div class="portlet box green-box main">

                                <div class="portlet-body form-horizontal">

                                    <div class="row">

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Under:<span style="color:red" ng-show="processCategoryForm.dropdowntree.$invalid">
                                                        <span ng-show="processCategoryForm.dropdowntree.$error.required">*</span>
                                                    </span>
                                                </label>
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <select id="processType" ng-model="selectedProcessForDDL" k-value-primitive="true" k-ng-model="selectedProcessForDDL" name="processTypeForDDL" kendo-drop-down-list
                                                            k-options="processTypeDDLOptions" ng-change="onDDLChange()"
                                                            style="width: 100%" disabled></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Process Code:<span style="color:red" ng-show="processCategoryForm.processCode.$invalid">
                                                        <span ng-show="processCategoryForm.processCode.$error.required">*</span>
                                                    </span>
                                                </label>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <input class="form-control" type="text" name="processCode" ng-model="processCategoryRoutineObj.PROCESS_CODE" id="processCode" placeholder="Process Code" required>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    Category:<input type="radio" name="processFlag" id="catRadio" ng-model="selectedProcessFlag" ng-change='ChangeFlag(selectedProcessFlag)' value="CATEGORY" />
                                                    Process:<input type="radio" name="processFlag" id="proccessRadio" ng-model="selectedProcessFlag" ng-change='ChangeFlag(selectedProcessFlag)' value="PROCESS" />
                                                    Routine:<input type="radio" name="processFlag" id="routineRadio" ng-model="selectedProcessFlag" ng-change='ChangeFlag(selectedProcessFlag)' value="ROUTINE" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    In English:<span style="color:red">*</span>
                                                </label>
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="in_english" ng-model="processCategoryRoutineObj.IN_ENGLISH" id="in_english" placeholder="name in english" required>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    In Nepali:
                                                </label>
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="in_nepali" ng-model="processCategoryRoutineObj.IN_NEPALI" id="in_nepali" placeholder="name in nepali">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Process Type:<span style="color:red">*</span>
                                                </label>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <select id="processType" ng-model="selectedProcessType" k-value-primitive="true" k-ng-model="selectedProcessType" name="processType" kendo-drop-down-list
                                                            k-options="processTypeOptions"
                                                            style="width: 100%"></select>
                                                </div>
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Location Under:<span style="color:red" ng-show="processCategoryForm.selectedLocation.$invalid">
                                                        <span ng-show="processCategoryForm.selectedProcessType.$error.required">*</span>
                                                    </span>
                                                </label>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <select id="selectedLocation" ng-model="selectedLocation" k-value-primitive="true" k-ng-model="selectedLocation" name="selectedLocation" kendo-drop-down-list
                                                            k-options="locationOptions"
                                                            style="width: 100%"></select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Priority Number:<span style="color:red">*</span>
                                                </label>
                                                <div class="col-sm-6 col-md-6 col-lg-6">

                                                    <input class="form-control" type="text" name="priorityNumber" ng-model="processCategoryRoutineObj.PRIORITY_NUMBER" id="priorityNumber" placeholder="Priority Number" required>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Remarks:
                                                </label>
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <textarea class="form-control" type="text" rows="4" name="remarks" ng-model="processCategoryRoutineObj.REMARK" id="remarks" placeholder="remarks"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">

                            <a class="btn btn-sm btn-green" ng-click="closeProcessModel()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green" ng-click="SaveProcessCategorySetup()">Finish</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade-out" id="routineDetailSetup" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog" style="width:900px !important;">
                    <div class="modal-content">

                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="closeRoutineDetailSetup()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Routine Detail Setup
                            </h4>

                        </div>

                        <div id="routineDetailDiv" class="modal-body OperaPrintModal main">

                            <div class="portlet light form-fit bordered bottomspance">
                                <div class="portlet mingap">

                                    <div class="portlet-title">
                                        <div class="actions">

                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="col-md-6">

                                                        <div class="col-md-3">
                                                            <label for="element">
                                                                Routine Name:
                                                            </label>
                                                        </div>

                                                        <div class="input-group">
                                                            <input id="routine_name" ng-model="routineDetailsSetupObj.ROUTINE_NAME" name="routine_name" class="cust customer mcustomer  c w-100" />
                                                            <span class="input-group-addon addon-iconbox" style="cursor:pointer" ng-click="BrowseRoutineTreeList()">
                                                                <i class="fa fa-search" data-toggle="tooltip" title="Search Routine"></i>
                                                            </span>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="col-md-3">
                                                            <label for="element">
                                                                Belongs:
                                                            </label>
                                                        </div>

                                                        <div class="input-group">
                                                            <input id="belongs_name" ng-model="routineDetailsSetupObj.BELONGS" name="belongs_name" class="cust customer mcustomer  c w-100" />
                                                            <span class="input-group-addon addon-iconbox" style="cursor:pointer" ng-click="BrowseBelongsTreeList()">
                                                                <i class="fa fa-search" data-toggle="tooltip" title="Search Customers"></i>
                                                            </span>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="portlet-body">

                                        <div class="tabbable">

                                            <ul id="myTab" class="document-tab nav nav-tabs" style="width:900px !important;">

                                                <li class="active">
                                                    <a href="#tab_15_1" data-toggle="tab">
                                                        Materials
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#tab_15_2" data-toggle="tab">
                                                        Consumables
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#tab_15_3" data-toggle="tab">
                                                        Human Resource
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#tab_15_4" data-toggle="tab">
                                                        Resource
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#tab_15_5" data-toggle="tab">
                                                        Info Service
                                                    </a>
                                                </li>

                                            </ul>

                                            <div class="tab-content d-tab-content">
                                                <div class="tab-pane active" id="tab_15_1">

                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            <div class="col-md-6">
                                                                <fieldset class="scheduler-border">
                                                                    <legend class="scheduler-border">Bill of Material</legend>
                                                                    <div class="control-group">
                                                                        <kendo-grid id="billOfMatGrid" options="billOfMatGridOptions" k-rebind="billOfMatGridOptions">
                                                                        </kendo-grid>
                                                                    </div>
                                                                    <div style="float:right;margin-top:5px;">
                                                                        <button class="btn btn-sm btn-green" ng-click="openNewInputMaterialSetup()">New</button>
                                                                        <button class="btn btn-sm btn-green" id="inputMatEdit" disabled ng-click="editInputMaterialSetup()">Edit</button>
                                                                        <button class="btn btn-sm btn-green" id="inputMatDelete" disabled ng-click="deleteInputMaterialSetup()">Delete</button>
                                                                    </div>
                                                                </fieldset>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <fieldset class="scheduler-border">
                                                                    <legend class="scheduler-border">Output Material</legend>
                                                                    <div class="control-group">
                                                                        <kendo-grid id="outputMatGrid" options="outputMatGridOptions" k-rebind="outputMatGridOptions">
                                                                        </kendo-grid>
                                                                    </div>
                                                                    <div style="float:right;margin-top:5px;">
                                                                        <button class="btn btn-sm btn-green" ng-click="openNewOutputMaterialSetup()">New</button>
                                                                        <button class="btn btn-sm btn-green" id="outPutMatEdit" disabled ng-click="editOutputMaterialSetup()">Edit</button>
                                                                        <button class="btn btn-sm btn-green" id="outputMatDelete" disabled ng-click="deleteOutputMaterialSetup()">Delete</button>
                                                                    </div>
                                                                </fieldset>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-12">
                                                            <div class="col-md-6">

                                                                <div class="col-md-3">
                                                                    <label for="element">
                                                                        Index Item:
                                                                    </label>
                                                                </div>

                                                                <div class="input-group">
                                                                    @*ng-model="routineDetailsSetupObj.INPUT_INDEX_ITEM"*@
                                                                    <input id="input_index_item" ng-model="routineDetailsSetupObj.INPUT_INDEX_ITEM" name="input_index_item" placeholder="Select input item" class="cust customer mcustomer  c w-100" />
                                                                    @*<input id="input_index_item" placeholder="Select Item..." />*@  @*style="width: 100%;"*@
                                                                    <span class="input-group-addon addon-iconbox" style="cursor:pointer" ng-click="BrowseInputIndexItem()">
                                                                        <i class="fa fa-search" data-toggle="tooltip" title="Search Item"></i>
                                                                    </span>
                                                                </div>

                                                            </div>

                                                            <div class="col-md-6">

                                                                <div class="col-md-3">
                                                                    <label for="element">
                                                                        Index Item:
                                                                    </label>
                                                                </div>

                                                                <div class="input-group">
                                                                    <input id="output_index_item" ng-model="routineDetailsSetupObj.OUTPUT_INDEX_ITEM" name="output_index_item" placeholder="Select output Item.." class="cust customer mcustomer  c w-100" />
                                                                    <span class="input-group-addon addon-iconbox" style="cursor:pointer" ng-click="BrowseOutputIndexItem()">
                                                                        <i class="fa fa-search" data-toggle="tooltip" title="Search Item"></i>
                                                                    </span>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <hr />

                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            <div class="col-md-6">
                                                                <fieldset class="scheduler-border">
                                                                    <legend class="scheduler-border">Production Capacity</legend>
                                                                    <div class="control-group">
                                                                        <div class="row">
                                                                            <div>
                                                                                <label>Capacity:</label>
                                                                                <input type="text" ng-model="routineDetailsSetupObj.INPUT_CAPACITY" />
                                                                            </div>
                                                                            <div>
                                                                                <label>Unit:</label>
                                                                                <div class="input-group">
                                                                                    <input id="production_unit" ng-model="routineDetailsSetupObj.INPUT_UNIT" name="input_unit" class="cust customer mcustomer  c w-100" />
                                                                                    <span class="input-group-addon addon-iconbox" style="cursor:pointer" ng-click="BrowseProductionUnit()">
                                                                                        <i class="fa fa-search" data-toggle="tooltip" title="Search Input Unit"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                            <div>
                                                                                <label>In Period:</label>
                                                                                <div class="input-group">
                                                                                    <input id="product_in_period" ng-model="routineDetailsSetupObj.INPUT_IN_PERIOD" name="product_in_period" class="cust customer mcustomer  c w-100" />
                                                                                    <span class="input-group-addon addon-iconbox" style="cursor:pointer" ng-click="BrowseProductionInPeriod()">
                                                                                        <i class="fa fa-search" data-toggle="tooltip" title="Search Input Period"></i>
                                                                                    </span>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </fieldset>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <fieldset class="scheduler-border">
                                                                    <legend class="scheduler-border">Time Take For Production 1 Sku</legend>
                                                                    <div class="control-group">
                                                                        <div class="row">
                                                                            <div>
                                                                                <label>Time:</label>
                                                                                <input type="text" ng-model="routineDetailsSetupObj.OUTPUT_CAPACITY" id="output_capacity" />
                                                                            </div>
                                                                            <div>
                                                                                <label>Unit:</label>
                                                                                <div class="input-group">
                                                                                    <input id="time_taken_unit" ng-model="routineDetailsSetupObj.OUTPUT_UNIT" name="time_taken_unit" class="cust customer mcustomer  c w-100" />
                                                                                    <span class="input-group-addon addon-iconbox" style="cursor:pointer" ng-click="BrowseTimeTakenUnit()">
                                                                                        <i class="fa fa-search" data-toggle="tooltip" title="Search Output Unit"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                            <div>
                                                                                <label>In Period:</label>
                                                                                <div class="input-group">
                                                                                    <input id="time_taken_in_period" ng-model="routineDetailsSetupObj.OUTPUT_IN_PERIOD" name="time_taken_in_period" class="cust customer mcustomer  c w-100" />
                                                                                    <span class="input-group-addon addon-iconbox" style="cursor:pointer" ng-click="BrowseTimeTakenInPeriod()">
                                                                                        <i class="fa fa-search" data-toggle="tooltip" title="Search Customers"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </fieldset>
                                                            </div>

                                                        </div>


                                                    </div>

                                                </div>

                                                <div class="tab-pane" id="tab_15_2">
                                                    <div class="table-responsive">
                                                        Consumables Tab Details
                                                    </div>
                                                </div>

                                                <div class="tab-pane" id="tab_15_3">
                                                    <div class="table-responsive">
                                                        Human Resource Tab Details
                                                    </div>
                                                </div>

                                                <div class="tab-pane" id="tab_15_4">
                                                    <div class="table-responsive">
                                                        Resource Tab Details
                                                    </div>

                                                </div>

                                                <div class="tab-pane" id="tab_15_5">
                                                    <div class="table-responsive">
                                                        Info Service Tab Details
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="divider"></div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">

                            <a class="btn btn-sm btn-green" ng-click="closeRoutineDetailSetup()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green" id="btnSaveRoutineDetail" ng-click="SaveRoutineDetailSetup()" style="display:none;">Finish</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade-out" id="inputMaterialSetupModel" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            @*<div type="button" class="close"  aria-hidden="true" ng-click="closeInputMaterialSetupModel()">&times;</div>*@
                            <a class="close" aria-hidden="true" ng-click="closeInputMaterialSetupModel()">&times;</a>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Input Material Setup
                            </h4>

                        </div>

                        <div id="inputMaterialSetupDiv" class="modal-body OperaPrintModal main">

                            <div class="portlet box green-box main">

                                <div class="portlet-body form-horizontal">

                                    <div class="row">

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Process:
                                                </label>
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="inputMaterialsProcess" ng-model="inputMaterialSetupObj.PROCESS" id="inputMaterialsProcess">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Item Name:
                                                </label>
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <input id="inputMaterialsItem" style="width: 100%;" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Quantity:
                                                </label>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <input class="form-control" type="text" name="inputMaterialsQty" ng-model="inputMaterialSetupObj.QUANTITY" id="inputMaterialsQty">
                                                </div>

                                                <div>
                                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                        Unit:
                                                    </label>
                                                    <div class="col-sm-2 col-md-2 col-lg-2 input-group">
                                                        <input id="inputMaterialsUnit" ng-model="inputMaterialSetupObj.UNIT" name="inputMaterialsUnit" class="cust customer mcustomer  c w-100" />
                                                        <span class="input-group-addon addon-iconbox" style="cursor:pointer" ng-click="BrowseInputUnitTreeList('input')">
                                                            <i class="fa fa-search" data-toggle="tooltip" title="Search Unit"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Remarks:
                                                </label>
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <textarea class="form-control" type="text" rows="4" name="inputMaterialsRemarks" ng-model="inputMaterialSetupObj.REMARK" id="inputMaterialsRemarks"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">

                            <a class="btn btn-sm btn-green" ng-click="closeInputMaterialSetupModel()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green" ng-click="SaveInputMaterialSetup()">{{inputDialogAction}}</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade-out" id="outputMaterialSetupModel" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="closeOutputMaterialSetupModel()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Output Material Setup
                            </h4>

                        </div>

                        <div id="outputMaterialSetupDiv" class="modal-body OperaPrintModal main">

                            <div class="portlet box green-box main">

                                <div class="portlet-body form-horizontal">

                                    <div class="row">

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Process:
                                                </label>
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <input class="form-control" type="text" name="inputMaterialsProcess" ng-model="outPutMaterialSetupObj.PROCESS" id="inputMaterialsProcess">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">

                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Item Name:
                                                </label>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <input id="outPutMaterialsItem" style="width: 100%;" />
                                                </div>

                                                <div>
                                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                        Valuation Flag:
                                                    </label>
                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                        <input class="form-control" type="checkbox" name="valuationFlag" ng-model="outPutMaterialSetupObj.VALUATION_FLAG" id="valuationFlag">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Quantity:
                                                </label>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <input class="form-control" type="text" name="inputMaterialsQty" ng-model="outPutMaterialSetupObj.QUANTITY" id="inputMaterialsQty">
                                                </div>

                                                <div>
                                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                        Unit:
                                                    </label>
                                                    <div class="col-sm-3 col-md-3 col-lg-3 input-group">
                                                        <input id="outputMaterialsUnit" ng-model="outPutMaterialSetupObj.UNIT" name="outputMaterialsUnit" class="cust customer mcustomer  c w-100" />
                                                        <span class="input-group-addon addon-iconbox" style="cursor:pointer" ng-click="BrowseOutputUnitTreeList('output')">
                                                            <i class="fa fa-search" data-toggle="tooltip" title="Search Unit"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                                    Output %:
                                                </label>
                                                <div class="col-sm-2 col-md-2 col-lg-2">
                                                    <input id="outputMaterialsOutputPer" ng-model="outPutMaterialSetupObj.OUTPUT" name="outputMaterialsOutputPer" class="cust customer mcustomer  c w-100" />
                                                </div>
                                                <div>
                                                    <label class="control-label col-sm-2 col-md-2 col-lg-2">
                                                        Remarks:
                                                    </label>
                                                    <div class="col-sm-5 col-md-5 col-lg-5">
                                                        <textarea class="form-control" type="text" rows="4" name="outputMaterialsRemarks" ng-model="outPutMaterialSetupObj.REMARK" id="outputMaterialsRemarks"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">

                            <a class="btn btn-sm btn-green" ng-click="closeOutputMaterialSetupModel()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green" ng-click="SaveOutputMaterialSetup()">{{outPutDialogAction}}</a>
                        </div>

                    </div>
                </div>
            </div>

            <div id="inputUnitModal" class="modal fade-out" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="closeProcessMuUnit()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Available Mu Unit For Process
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="control-group">
                                <kendo-grid id="inputMuGrid" options="inputMuGridOptions" k-rebind="inputMuGridOptions">
                                </kendo-grid>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-sm btn-green" ng-click="closeProcessMuUnit()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="outputUnitModal" class="modal fade-out" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="closeProcessMuUnit()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Available Mu Unit For Process
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="control-group">
                                <kendo-grid id="outPutMuGrid" options="outPutMuGridOptions" k-rebind="outPutMuGridOptions">
                                </kendo-grid>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-sm btn-green" ng-click="closeProcessMuUnit()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="inputIndexItemModal" class="modal fade-out" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="closeInputIndexItemModal()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Available Item Routine
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="control-group">
                                <kendo-grid id="inputIndexItemGrid" options="inputIndexItemGridOptions" k-rebind="inputIndexItemGridOptions">
                                </kendo-grid>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-sm btn-green" ng-click="closeInputIndexItemModal()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green" id="btnChooseInputItem">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="outPutIndexItemModal" class="modal fade-out" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="closeOutPutIndexItemModal()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Available Item Routine
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="control-group">
                                <kendo-grid id="outPutIndexItemGrid" options="outPutIndexItemGridOptions" k-rebind="outPutIndexItemGridOptions">
                                </kendo-grid>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-sm btn-green" ng-click="closeOutPutIndexItemModal()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="productionUnitModal" class="modal fade-out" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="closeProductionUnitModal()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Production Unit
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="control-group">
                                <kendo-grid id="productionUnitGrid" options="productionUnitGridOptions" k-rebind="productionUnitGridOptions">
                                </kendo-grid>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-sm btn-green" ng-click="closeProductionUnitModal()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="productionInPeriodModal" class="modal fade-out" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="closeProductionInPeriodModal()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Production In Period
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="control-group">
                                <kendo-grid id="productionInPeriodGrid" options="productionInPeriodGridOptions" k-rebind="productionInPeriodGridOptions">
                                </kendo-grid>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-sm btn-green" ng-click="closeProductionInPeriodModal()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="timeTakenUnitModal" class="modal fade-out" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="closeTimeTakenUnitModal()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Time Taken Unit
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="control-group">
                                <kendo-grid id="timeTakenUnitGrid" options="timeTakenUnitGridOptions" k-rebind="timeTakenUnitGridOptions">
                                </kendo-grid>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-sm btn-green" ng-click="closeTimeTakenUnitModal()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="timeTakenInPeriodModal" class="modal fade-out" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div type="button" class="close" aria-hidden="true" ng-click="closeTimeTakenInPeriodModal()">&times;</div>
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Time Taken In Period
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="control-group">
                                <kendo-grid id="timeTakenInPeriodGrid" options="timeTakenInPeriodGridOptions" k-rebind="timeTakenInPeriodGridOptions">
                                </kendo-grid>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-sm btn-green" ng-click="closeTimeTakenInPeriodModal()" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Cancel
                            </a>
                            <a class="btn btn-sm btn-green">Ok</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>




    <script>

        $(document).ready(function () {
            window.scrollTo(0, 0);
        });

        $("#splitter").kendoSplitter()
        var splitter = $("#splitter").data("kendoSplitter");
        splitter.size(".k-pane:first", "29%");
        //new
        splitter.max("#pane1", "700px");
        //old
        // splitter.max("#pane1", "550px");
        // splitter.min("#pane1", "200px");

        $('.tblresponsive').slimScroll({
            height: '150px',
        });

        $(document).ready(function () {

            //$("#processSearchString").keyup(function () {
            //    var val = $('#processSearchString').val();
            //    $("#uGrid").data("kendoGrid").dataSource.filter({
            //        logic: "or",
            //        filters: [
            //            {
            //                field: "MU_EDESC",
            //                operator: "contains",
            //                value: val
            //            },

            //        ]
            //    });


            //});


            $('.nav-tabs a').on('click', function (e) {
                e.preventDefault();
                if ($(this).attr('href') == '#tab_15_2') {
                    $('#tab_15_2').tab('show')
                }
                if ($(this).attr('href') == '#tab_15_3') {
                    $('#tab_15_3').tab('show')
                }
                if ($(this).attr('href') == '#tab_15_4') {
                    $('#tab_15_4').tab('show')
                }
                if ($(this).attr('href') == '#tab_15_5') {
                    $('#tab_15_5').tab('show')
                }
                //if ($(this).attr('href') == '#tab_15_6') {
                //    $('#tab_15_6').tab('show')
                //}
            });


            //$("#dropdowntree").kendoDropDownTree({
            //    placeholder: "Select ...",
            //    height: "auto",
            //    dataSource: [
            //        {
            //            text: "Furniture", expanded: true, items: [
            //                { text: "Tables & Chairs" },
            //                { text: "Sofas" },
            //                { text: "Occasional Furniture" }
            //            ]
            //        },
            //        {
            //            text: "Decor", items: [
            //                { text: "Bed Linen" },
            //                { text: "Curtains & Blinds" },
            //                { text: "Carpets" }
            //            ]
            //        }
            //    ]
            //});

        });

    </script>
    <script>
        $("#menu").kendoContextMenu({
            target: "#categoryTreeGrid",
            filter: ".k-in",
            select: function (e) {
              
                var node = $("#categoryTreeGrid").getKendoTreeView().dataItem($(e.target).closest(".k-item"));
                if (e.item.innerText.trim() == "Add") {
                    angular.element(document.getElementById('processSetupBomCtrl')).scope().onContextAdd(node);
                }
                if (e.item.innerText.trim() == "Update") {
                    angular.element(document.getElementById('processSetupBomCtrl')).scope().onContextUpdate(node);
                }
                if (e.item.innerText.trim() == "Delete") {
                    angular.element(document.getElementById('processSetupBomCtrl')).scope().onContextDelete(node);
                }
               

                //setTimeout(function () {
                //angular.element(document.getElementById('processSetupBomCtrl')).scope().onContextAdd(e);
                //}, 1000)
                //// create and open Window
                //$("<div />")
                //    .html(editTemplate({ node: node }))
                //    .appendTo("body")
                //    .kendoWindow({
                //        modal: true,
                //        visible: false,
                //        deactivate: function () {
                //            this.destroy();
                //        }
                //    })
                //    // bind the Save button's click handler
                //    .on("click", ".k-primary", function (e) {
                //        debugger;
                //        e.preventDefault();
                       
                //        var dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                //        var textbox = dialog.element.find(".k-textbox");
                //        debugger;
                //        node.set("text", textbox.val());

                //        dialog.close();
                //    })
                //    .getKendoWindow().center().open();
            }
        });
    </script>

</body>
</html>
