@{
    ViewBag.Title = "Regional Setup";
    Layout = null;
}

<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    .bodyController {
        margin-top: 4px;
    }

    .k-splitter .k-scrollable {
        overflow-y: hidden !important;
    }

    .k-scrollable .k-widget.k-treeview {
        max-height: 444px;
        overflow: auto !important;
    }

    .k-grid-content.k-auto-scrollable {
    }

    .k-grid-content.k-auto-scrollable {
        height: 375px !important;
    }

    #kGrid {
        height: 435px !important;
    }
</style>
<div class="col-md-12">
    <div id="customerSetupTreeCtrl">
        <div id="splitter" ng-controller="regionalSetupTreeCtrl">
            <div id="pane1">
                @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_regionalSetupTreePartial.cshtml")
            </div>
            <div> @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_regionalSetupPartial.cshtml")</div>
        </div>
    </div>
</div>



<script>
    $("#splitter").kendoSplitter()
    var splitter = $("#splitter").data("kendoSplitter");
    splitter.size(".k-pane:first", "29%");
    splitter.max("#pane1", "500px");
    $('.tblresponsive').slimScroll({
        height: '150px',
    });

</script>


