
@{
    ViewBag.Title = "Rejectable Item Setup";
    Layout = null;
}

<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }

    .green-box .k-grid-header {
        display: none;
    }

    table.k-selectable tbody td {
        font-size: 11px;
    }

    .green-box .k-grid {
        height: 447px !important;
        border: none !important;
    }

    .k-splitter .k-scrollable {
        overflow: hidden !important;
    }


    /*.k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }*/


    /*.k-splitter .k-scrollable {
        overflow: hidden !important;
    }

    .k-grid-content .k-auto-scrollable {
        height: 455px !important;
    }*/
    .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }

    .k-virtual-scrollable-wrap {
        height: 454px !important;
    }
</style>
<div class="col-md-12">
    <div class="portlet light form-fit bordered bottomspance">
        <div class="portlet-title" style="height:50px;">
            <div class="caption caption-title ng-binding">
                <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                    <i class="fa fa-arrow-circle-left"></i>
                </a>
                <i class="fa fa-gift font-green-haze"></i>
                <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
            </div>
        </div>
    </div>
    <div id="splitter" ng-controller="rejectableItemSetupCtrl">
        <div id="pane1">
            <div class="portlet box green-box">
                <div class="portlet-title">
                    <transportsetup></transportsetup>
                    <div class="caption">
                        <i class="icon-pin"></i>
                        <span class="caption-subject bold uppercase">Rejectable  Item</span>
                    </div>
                </div>
                <kendo-grid id="grid" options="grid" k-rebind="grid"></kendo-grid>
            </div>
        </div>

        <div> @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_rejetableItemSetup.cshtml")</div>
    </div>

</div>

<script>
                $("#splitter").kendoSplitter()
                var splitter = $("#splitter").data("kendoSplitter");
                splitter.size(".k-pane:first", "29%");
                splitter.max("#pane1", "500px");
                $('.tblresponsive').slimScroll({
                    height: '150px',
                });

</script>



