@{
    ViewBag.Title = "Scheme Setup";
    Layout = null;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }


    .k-splitter {
        height: 790px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }

    .green-box .k-grid-header {
        display: none;
    }

    table.k-selectable tbody td {
        font-size: 11px;
    }

    .green-box .k-grid {
        height: 332px !important;
        border: none !important;
    }

    .k-splitter .k-scrollable {
        overflow: hidden !important;
    }

    .k-grid-content .k-auto-scrollable {
        height: 455px !important;
    }
</style>
<style>
    .fieldset-box {
        border: solid #ddd 1px;
        width: 96%;
        margin-left: 17px;
        margin-bottom: 10px;
    }

        .fieldset-box legend {
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
            padding-left: 5px;
            font-size: 12px;
            border-bottom: none;
            font-weight: 600;
            margin: 0px;
        }
</style>
<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }

    .k-virtual-scrollable-wrap {
        height: 454px !important;
    }
</style>
@*<div class="content">
        <div class="page-bar">
            <ul class="page-breadcrumb"></ul>
        </div>
    </div>*@
<div class="col-md-12">
    <div id="schemeSetupTreeCtrl">
        <div id="splitter" ng-controller="schemeSetupTreeCtrl">
            <form id="SchemeDetailRunForm" name="SchemeDetailRunForm" novalidate>
                <div class="portlet box green-box main">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-plus-square"></i>
                            <span class="caption-subject bold uppercase">
                                {{SchemeHeaderRun}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form-horizontal">

                    <div class="row">
                        <fieldset class="fieldset-box">
                            <legend>Status</legend>
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="form-group">
                                    @*<label class="control-label col-sm-4 col-md-4 col-lg-4">
                            Scheme Name
                        </label>*@
                                    <div class="col-sm-8 col-md-8 col-lg-8">


                                        <input type="radio" id="auto" name="schemestatus" ng-model="GENERATEDSTATUS" ng-click="Statusclicked('P')"  value="P"> Pending

                                        <input type="radio" id="manual" name="schemestatus" ng-model="GENERATEDSTATUS" ng-click="Statusclicked('G')" value="G"> Already Generated
                                        <input type="radio" id="manual" name="schemestatus" ng-model="GENERATEDSTATUS" ng-click="Statusclicked('A')" value="A"> All

                                    </div>
                                </div>

                            </div>
                        </fieldset>

                    </div>
                    <div ng-if="GENERATEDSTATUS=='G'" class="row">
                        <fieldset class="fieldset-box">
                            <legend>Effective</legend>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                        From:@*<span style="color:red" ng-show="SchemeForm.Status.$invalid">
                                <span ng-show="SchemeForm.Status.$error.required">*</span>
                            </span>*@
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="englishdatedocument5" class="englishdate" kendo-date-picker
                                               ng-model="FROMDATE"
                                               k-options="monthSelectorOptions" @*ng-change="OnOpeningDateChange()"*@ />
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                        To:@*<span style="color:red" ng-show="SchemeForm.Status.$invalid">
                                <span ng-show="SchemeForm.Status.$error.required">*</span>
                            </span>*@
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="englishdatedocument6" class="englishdate" kendo-date-picker
                                               ng-model="TODATE"
                                               k-options="monthSelectorOptions" />
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            @*<button type="button" id="gridbindSearch" class="btn btn-sm btn-green pull-right" style="margin-bottom:5px;" ng-click="bindReferenceGrid(documentRequired.$valid)" data-toggle="tooltip" title="Search list"><i class="fa fa-search"></i> Search</button>*@
                            <button type="button" id="gridbindSearch" class="btn btn-sm btn-green pull-right" style="margin-bottom:5px;" ng-click="bindSchemeimpelmentGrid()" data-toggle="tooltip" title="Search list"><i class="fa fa-search"></i> Search</button>


                        </div>
                    </div>
                    <div class="row">
                        <div @*ng-if="userRole.indexOf('Admin') !== -1 || userRole.indexOf('Administrator') !== -1"*@ class="col-sm-12 col-md-12 col-lg-12">
                            <kendo-grid id="kGrid" options="implementgrid" k-rebind="implementgrid">
                            </kendo-grid>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@*<script src="@Scripts.Url(" ~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>*@
<script>
                    //$("#splitter").kendoSplitter()
                    //var splitter = $("#splitter").data("kendoSplitter");
                    //splitter.size(".k-pane:first", "29%");
                    //new
                    //splitter.max("#pane1", "500px");
                    //old
                    // splitter.max("#pane1", "550px");
                    // splitter.min("#pane1", "200px");


                    $('.tblresponsive').slimScroll({
                        height: '150px',
                    });

</script>

