@{
    ViewBag.Title = "Scheme Setup";
    Layout = null;
}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }


    .k-splitter {
        height: 790px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }

    .green-box .k-grid-header {
        display: none;
    }

    table.k-selectable tbody td {
        font-size: 11px;
    }

    .green-box .k-grid {
        height: 332px !important;
        border: none !important;
    }

    .k-splitter .k-scrollable {
        overflow: hidden !important;
    }

    .k-grid-content .k-auto-scrollable {
        height: 455px !important;
    }
</style>
<style>
    .k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget ::before, .k-animation-container ::after, .k-block .k-header, .k-list-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .k-grid-content .k-auto-scrollable, .k-auto-scrollable {
        height: auto !important;
    }

    .k-virtual-scrollable-wrap {
        height: 454px !important;
    }
</style>
@*<div class="content">
        <div class="page-bar">
            <ul class="page-breadcrumb"></ul>
        </div>
    </div>*@
<div class="col-md-12">
    <div id="schemeSetupDetailCtrl">
        <div id="splitter" ng-controller="schemeSetupDetailCtrl">
            <form id="SchemeDetailForm" name="SchemeDetailForm" novalidate>
                <div class="portlet box green-box main">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-plus-square"></i>
                            <span class="caption-subject bold uppercase">
                                {{SchemeDetailHeader}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form-horizontal">

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-4 col-lg-4">
                    Scheme Name
                </label>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    @*<input class="form-control" type="text" name="SchemeName" ng-model="SchemeDetail.SCHEME_EDESC" id="SchemeName" placeholder="Scheme Name">*@
                    <input id="scheme" ng-model="SchemeDetail.SCHEME_CODE" name="scheme" class="acccode accmaster macccode c w-100" kendo-combo-box
                           k-placeholder="'Select Scheme'"
                           k-data-text-field="'SCHEME_EDESC'"
                           k-data-value-field="'SCHEME_CODE'"
                           k-filter="'contains'"
                           k-auto-bind="true"
                           k-suggest="false"
                           k-options="shemeOptions"
                           k-min-length="3" required />
                </div>
            </div>

        </div>
                        
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Customer@*<span style="color:red" ng-show="SchemeForm.customer.$invalid">
                        <span ng-show="SchemeForm.customer.$error.required">*</span>
                    </span>*@
                                </label>

                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    @*@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/ddl/customerSchemePartial.cshtml")*@

                                    <input id="customer" ng-model="SchemeDetail.CUSTOMER_CODE" name="customer" class="acccode accmaster macccode c w-100" kendo-combo-box
                                           k-placeholder="'Select Customer'"
                                           k-data-text-field="'CUSTOMER_EDESC'"
                                           k-data-value-field="'CUSTOMER_CODE'"
                                           k-filter="'contains'"
                                           k-auto-bind="true"
                                           k-suggest="false"
                                           k-options="customerOptions"
                                           k-min-length="3" required />
                                    @*<select id="customer" kendo-multi-select name="customer" k-ng-model="bulkCustomerModel" class="acccode accmaster macccode c w-100" k-options="customerOptions"></select>*@
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Scheme Type
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <select ng-model="SchemeDetail.SCHEME_TYPE" id="SchemeType" class="form-control" name="SchemeType" style="width:100%">
                                        <option value="">-- Select Scheme Type--</option>
                                        <option value="CD">Cash On Discount</option>
                                        <option value="BS">Bonous</option>
                                        <option value="SC">Scheme</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Type
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <select ng-model="SchemeDetail.TYPE" id="Type" class="form-control" name="Type" style="width:100%">
                                        <option value="">-- Select Type--</option>
                                        <option value="V">Value</option>
                                        <option value="I">Item</option>
                                        @*<option value="SC">Scheme</option>*@
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Item
                                </label>

                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <input id="item" ng-model="SchemeDetail.ITEM_CODE" name="item" class="acccode accmaster macccode c w-100" kendo-combo-box
                                           k-placeholder="'Select item'"
                                           k-data-text-field="'ITEM_EDESC'"
                                           k-data-value-field="'ITEM_CODE'"
                                           k-filter="'contains'"
                                           k-auto-bind="true"
                                           k-suggest="false"
                                           k-options="itemOptions"
                                           k-min-length="3" />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Dealer
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <input id="dealer" ng-model="SchemeDetail.PARTY_TYPE_CODE" name="dealer" class="acccode accmaster macccode c w-100" kendo-combo-box
                                           k-placeholder="'Select Dealer'"
                                           k-data-text-field="'PARTY_TYPE_EDESC'"
                                           k-data-value-field="'PARTY_TYPE_CODE'"
                                           k-filter="'contains'"
                                           k-auto-bind="true"
                                           k-suggest="false"
                                           k-options="dealerOptions"
                                           k-min-length="3" />

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Branch
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <input id="branch" ng-model="SchemeDetail.BRANCH_CODE" name="branch" class="branch area mareasetup w-100" kendo-combo-box
                                           k-placeholder="'Enter Branch'"
                                           k-data-text-field="'BRANCH_EDESC'"
                                           k-data-value-field="'BRANCH_CODE'"
                                           k-filter="'contains'"
                                           k-auto-bind="true"
                                           k-options="branchOptions"
                                           k-suggest="false"
                                           k-data-source="branchDataSource" />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Area
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <input id="areasetup" ng-model="SchemeDetail.AREA_CODE" name="areasetup" class="areasetup area mareasetup w-100" kendo-combo-box
                                           k-placeholder="'Enter Area'"
                                           k-data-text-field="'AREA_EDESC'"
                                           k-data-value-field="'AREA_CODE'"
                                           k-filter="'contains'"
                                           k-auto-bind="true"
                                           k-options="AreaSetupOption"
                                           k-suggest="false"
                                           k-data-source="areaSetupDataSource" />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Effective From:
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <input style="width:100%;" id="englishdatedocument5" class="englishdate" kendo-date-picker
                                           ng-model="SchemeDetail.EFFECTIVE_FROM"
                                           k-options="monthSelectorOptions" @*ng-change="OnOpeningDateChange()"*@ />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4  col-lg-4">
                                    Effective To:
                                </label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <input style="width:100%;" id="englishdatedocument5" class="englishdate" kendo-date-picker
                                           ng-model="SchemeDetail.EFFECTIVE_TO"
                                           k-options="monthSelectorOptions" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            @*<button type="button" id="gridbindSearch" class="btn btn-sm btn-green pull-right" style="margin-bottom:5px;" ng-click="bindReferenceGrid(documentRequired.$valid)" data-toggle="tooltip" title="Search list"><i class="fa fa-search"></i> Search</button>*@
                            <button type="button" id="gridbindSearch" class="btn btn-sm btn-green pull-right" style="margin-bottom:5px;" ng-click="bindSchemeDetailGrid()" data-toggle="tooltip" title="Search list"><i class="fa fa-search"></i> Search</button>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <kendo-grid id="kGrid" options="schemeGridOptions" k-rebind="schemeGridOptions">
                            </kendo-grid>
                        </div>
                        @*<div class="col-sm-12 col-md-12 col-lg-12" ng-if="SchemeDetailCount=='Y'">
                            <button type="button" id="gridbindSearch" class="btn btn-sm btn-green pull-right" style="margin-bottom:5px;" ng-click="processAllScheme()" data-toggle="tooltip" title="Search list"><i class="fa fa-search"></i>Process All</button>
                        </div>*@
                    </div>
                 </div>
            </form>
        </div>
    </div>
 </div>



@*<script src="@Scripts.Url(" ~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>*@
<script>
                    //$("#splitter").kendoSplitter()
                    //var splitter = $("#splitter").data("kendoSplitter");
                    //splitter.size(".k-pane:first", "29%");
                    //new
                    //splitter.max("#pane1", "500px");
                    //old
                    // splitter.max("#pane1", "550px");
                    // splitter.min("#pane1", "200px");


                    $('.tblresponsive').slimScroll({
                        height: '150px',
                    });

</script>

