
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script>
        $('#uploadExcel').click(function () {
            debugger;
            if (window.FormData !== undefined) {
                //showloader();
                var file_data = $("#avatar").prop("files")[0];   // Getting the properties of file from file field
                if (!file_data) {
                    displayPopupNotification("Please select a file", "error");
                    setTimeout(function () {
                        $("#avatar").trigger("click");
                    }, 500);
                    return;
                }
                var format = file_data.name.substr(file_data.name.lastIndexOf('.'), file_data.name.length)
                if (![".xls", ".xlsx"].includes(format)) {
                    displayPopupNotification("Invalid file format", "error");
                    return;
                }
                var form_data = new FormData();                  // Creating object of FormData class
                form_data.append("file", file_data);

                $.ajax({
                    url: '/ExcelUpload/Upload',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: form_data,
                    success: function (result) {
                        displayPopupNotification(result.MESSAGE, result.TYPE);
                        if (result.TYPE == "success") {
                            $('#avatar').val("");
                            $('#treelist').data("kendoTreeList").dataSource.read();
                        }
                    },
                    error: function (err) {
                        displayPopupNotification(err.statusText, "error");
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    </script>
</head>
<body>
    <div>
        <h1>Excel Upload</h1>

        <div class="btn-group" style="margin-top:10px;">
            <input id="avatar" type="file" name="avatar" style="width:185px;" />
        </div>
        <div class="btn-group">
            <a href="javascript:void(0)" id="uploadExcel" class="pull-right btn btn-circle btn-icon-only btn-default">
                <i class="fa fa-upload"></i>
            </a>
        </div>
    </div>
</body>

</html>
