<button type="button" id="btnPreference" class="fa fa-cog fa fa-click" data-toggle="modal" data-target="#myModal"></button>
<button type="button" class="fa fa-table fa fa-click" data-target="#table" data-toggle="collapse"></button>
<button type="button" class="fa fa-download fa-click" data-target="#export" data-toggle="collapse"></button> 
@*<button type="button" class="fa fa-arrow-down fa-click" data-target="#search" data-toggle="collapse"></button>*@
<button type="button" class="fa fa-arrow-down fa-click" data-target="#search" data-toggle="collapse"></button>
<button type="button" class="fa fa-bar-chart-o fa-click" data-target="#chart" data-toggle="collapse"></button>
<script type="text/javascript">
    var btn_click = function () {
        $(".fa-click").click(function () {
            if ($(this).attr('class').indexOf('arrow-down') >= 0) {
                $('#export').removeClass('in');
                $('#table').removeClass('in');
                $('#chart').removeClass('in');
            }
            else if ($(this).attr('class').indexOf('download') >= 0) {
                $('#search').removeClass('in');
                $('#table').removeClass('in');
                $('#chart').removeClass('in');
            }
            else if ($(this).attr('class').indexOf('table') >= 0) {
                $('#search').removeClass('in');
                $('#export').removeClass('in');
                $('#chart').removeClass('in');
            }
            else if ($(this).attr('class').indexOf('chart') >= 0) {
                $('#search').removeClass('in');
                $('#export').removeClass('in');
                $('#table').removeClass('in');
            }
            else {
                $('#search').removeClass('in');
                $('#export').removeClass('in');
                $('#table').removeClass('in');
                $('#chart').removeClass('in');
            }
            if ($(this).attr('class').indexOf('active') >= 0)
                $('.fa-click').removeClass('active');
            else {
                $('.fa-click').removeClass('active');
                $(this).addClass('active');
            }
        });
    };
    $(document).ready(btn_click);
</script>