
@{
    ViewBag.Title = "TryTestTrialBalance";
    var level = 3;
}
<style>
    .tabstrip {
    margin-left: -37px;
    margin-top: -4px;
}
    .orders table .k-grid-header
    {
        display:none;
    }
  
</style>
<link href="~/Content/Kendo/src/styles/web/kendo.common.css" rel="stylesheet" />
<link href="~/Content/Kendo/src/styles/web/kendo.default.css" rel="stylesheet" />
<link href="~/Content/Kendo/styles/kendo.dataviz.min.css" rel="stylesheet" />
<link href="~/Content/Kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
<link href="~/Content/JqueryDateRange/jquery-ui-daterangepicker-0.4.3/jquery.comiseo.daterangepicker.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12" style="background-color: #f5f5f5; height: 38px;">
        <div style="float: left">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("Index", "Home")">Home </a><i class="fa fa-angle-double-right"></i>
                    <a href="@Url.Action("Consolidated", "TrialBalance")">Trail Balance </a><i class="fa fa-angle-double-right"></i>
                </li>
            </ol>
        </div>
        <div class="btn-group" role="group" style="float: right; padding-top: 6px;">
            <input id="e4" name="e4">
        </div>
        <div style="clear: both"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul id="context-menu" style="display:none;">
            <li>
                Item 1
                <ul>
                    <li>Sub Item 1</li>
                    <li>Sub Item 2</li>
                    <li>Sub Item 3</li>
                </ul>
            </li>
            <li>
                Item 2
                <ul>
                    <li>Sub Item 1</li>
                    <li>Sub Item 2</li>
                    <li>Sub Item 3</li>
                </ul>
            </li>
        </ul>
        <div id="window" style="display:none;">
            <div class="armchair"><img src="../content/web/window/armchair-402.png" alt="Artek Alvar Aalto - Armchair 402" /> Artek Alvar Aalto - Armchair 402</div>
            <p>Alvar Aalto is one of the greatest names in modern architecture and design. Glassblowers at the iittala factory still meticulously handcraft the legendary vases that are variations on one theme, fluid organic shapes that let the end user decide the use. Interpretations of the shape in new colors and materials add to the growing Alvar Aalto Collection that remains true to his original design.</p>

            <p>Born Hugo Alvar Henrik Aalto (February 3, 1898 - May 11, 1976) in Kuortane, Finland, was noted for his humanistic approach to modernism. He studied architecture at the Helsinki University of Technology from 1916 to 1921. In 1924 he married architect Aino Marsio.</p>

            <p>Alvar Aalto was one of the first and most influential architects of the Scandinavian modern movement, and a member of the Congres Internationaux d'Architecture Moderne. Major architectural works include the Finlandia Hall in Helsinki, Finland, and the campus of Helsinki University of Technology.</p>

            <p class="testss">Source: <a href="http://www.aalto.com/about-alvar-aalto.html" title="About Alvar Aalto">www.aalto.com</a></p>
        </div>

        <div id="grid"></div>
        <script type="text/x-kendo-template" id="template">
            <div class="tabstrip">

                <div>
                    <div class="orders"></div>
                </div>

            </div>

        </script>
        <div id="example">
            @*<table id="grid">
                <colgroup>
                    <col class="" />
                    <col class="" />
                    <col class="" />
                    <col />
                    <col class="" />
                    <col class="" />
                    <col />
                    @*<col />
                </colgroup>
                <thead>
                    <tr class='HeaderAccount'>

                        @*<th style="display:none">
                            Account Head
                        </th>
                        <th rowspan='2'>
                            Account Head
                        </th>
                        <th colspan='2'>
                            Opening Balance
                        </th>
                        <th colspan='2'>
                            Transaction
                        </th>
                        <th colspan='2'>
                            Closing Balance
                        </th>
                    </tr>
                    <tr>

                        <td>
                            Dr Amount
                        </td>
                        <td>

                            Cr Amount
                        </td>
                        <td>Dr Amount</td>
                        <td>Cr Amount</td>
                        <td>Dr Amount</td>
                        <td>Cr Amount</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6"></td>
                    </tr>


                </tbody>
            </table>*@

            <script src="../content/shared/js/console.js"></script>
            <script src="~/Content/Kendo/src/js/kendo.all.js"></script>
            <script src="~/OldContent/Theme/plugins/daterangepicker/moment.min.js"></script>
            <script src="~/Content/JqueryDateRange/jquery-ui-daterangepicker-0.4.3/jquery.comiseo.daterangepicker.js"></script>
            <script id="rowTemplate" type="text/x-kendo-tmpl">
                <tr data-uid="#: ACC_CODE #">
                    <td>
                        test
                    </td>
                    @*<td style='display:none;'>
                        <a href='javascript:void(0)'></a>
                        <span style='cursor: pointer;'>#: ACC_CODE# </span>
                    </td>*@
                    <td>
                        <a href='javascript:void(0)'></a>
                        <span style='cursor: pointer;'>#: ACC_EDESC# </span>
                    </td>
                    <td>#: DR_AMOUNT#  </td>
                    <td>#: CR_AMOUNT# </td>
                    <td>#: DRAMOUNT# </td>
                    <td>#: CRAMOUNT# </td>
                    <td>#: DRAMOUNT# </td>
                    <td>#: CRAMOUNT# </td>
                </tr>

            </script>

            <script>
                function onDataBound(arg) {
                    var myElem = document.getElementById('trParentHeader');
                    if (myElem == null) {
                        $("#grid").find("th.k-header").parent().before("<tr id='trParentHeader'><th></th><th></th>  <th colspan='2' class='k-header'><strong>Opening Balance</strong></th>  <th colspan='2' class='k-header'><strong>Trasaction Balance</strong></th>  <th scope='col' colspan='2' class='k-header'><strong>Closing Balance</strong></th></tr>");
                    }
                }
                function onDataBoundtest(arg) {
                    this.pager.element.hide();
                    if (this.dataSource.data().length === 0) {
                        var masterRow = this.element.closest("tr.k-detail-row").prev();
                        $("#grid").data("kendoGrid").collapseRow(masterRow);
                        masterRow.find("td.k-hierarchy-cell .k-icon").removeClass();
                    }
                    var myElem = document.getElementById('trParentDetail');
                    if (myElem == null) {
                        $(".orders").find("th.k-header").parent().before("<tr id='trParentDetail'><th></th><th></th>  <th colspan='2' class='k-header'><strong>Opening Balance</strong></th> <th colspan='2' class='k-header'><strong>Opening Balance</strong></th>   <th scope='col' colspan='2' class='k-header'><strong>Closing Balance</strong></th></tr>");
                    }
                }

                $(document).ready(function () {
                    $("#e4").daterangepicker({
                        presetRanges: [{
                            text: 'Today',
                            dateStart: function () { return moment() },
                            dateEnd: function () { return moment() }
                        }, {
                            text: 'Tomorrow',
                            dateStart: function () { return moment().add('days', 1) },
                            dateEnd: function () { return moment().add('days', 1) }
                        },
                         {
                             text: 'This Month',
                             dateStart: function () { return moment().add('days', 1) },
                             dateEnd: function () { return moment().add('days', 1) }
                         }, {
                            text: 'Next 7 Days',
                            dateStart: function () { return moment() },
                            dateEnd: function () { return moment().add('days', 6) }
                        }, {
                            text: 'Next Week',
                            dateStart: function () { return moment().add('weeks', 1).startOf('week') },
                            dateEnd: function () { return moment().add('weeks', 1).endOf('week') }
                        }],
                        applyOnMenuSelect: false,
                        datepickerOptions: {
                            minDate: 0,
                            maxDate: null
                        },
                        onChange: function (data) {
                        }
                    });
                    var windowtest = $("#window");

                    $(document).on("click", ".undo", function (event) {
                        event.preventDefault();
                        //alert("test");
                        windowtest.data("kendoWindow").open();
                        //undo.hide();
                    });

                    if (!windowtest.data("kendoWindow")) {
                        windowtest.kendoWindow({
                            width: "500px",
                            actions: ["Custom", "Minimize", "Maximize", "Close"],
                            title: "About Josef Hoffmann",
                            close: function () {

                            }
                        });
                    }

                    windowtest.data("kendoWindow").wrapper.find(".k-i-custom").click(function (e) {
                        alert("Custom action button clicked");
                        e.preventDefault();
                    });
                    var element = $("#grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: window.location.protocol + "//" + window.location.host + "/" + "TrialBalance/GetTrialBalanceBarMasterGrid"
                            },
                            pageSize: 20,
                            serverPaging: true,
                            serverSorting: true,
                            aggregate:[
         { field: "DR_OPENING", aggregate: "sum" },
         { field: "DR_OPENING", aggregate: "sum" }],
                        },
                        //height: 550,
                        sortable: true,
                        pageable: false,

                        dataBound: onDataBound,
                        detailTemplate: kendo.template($("#template").html()),
                        detailInit: detailInit,
                        //dataBound: function() {
                        //    this.expandRow(this.tbody.find("tr.k-master-row").first());
                        //},

                        columns: [
                              {
                                  field: "master_acc_code",
                                  title: "Account CODE",
                                  width: "120px",
                                  hidden: true,
                              },
                            {
                                field: "account_head",
                                title: "Account Name",
                                width: "120px"
                            },
                            {
                                field: "DR_OPENING ",
                                title: "Dr Amount",
                                width: "120px",
                                template: '<span style="float:right">#= kendo.toString(DR_OPENING, "n") #</span>'
                                //aggregates: "sum",
                                //footerTemplate: "<div style='float: right'>#= sum #</div>"
                            },
                            {
                                field: "CR_OPENING ",
                                title: "Cr Amount",
                                width: "120px", 
                                template: '<span style="float:right">#= kendo.toString(CR_OPENING, "n") #</span>'
                            },
                            {
                                field: "DR_AMT",
                                title: "Dr Amount",
                                width: "120px",
                                template: '<span style="float:right">#= kendo.toString(DR_AMT, "n") #</span>'
                               
                            },
                            {
                                field: "CR_AMT",
                                title: "Cr Amount",
                                width: "120px",
                                template: '<span style="float:right">#= kendo.toString(CR_AMT, "n") #</span>'
                              
                            },
                             {
                                 field: "DR_CLOSING ",
                                title: "Dr Amount",
                                width: "120px",
                              
                                template: '<span style="float:right">#= kendo.toString(DR_CLOSING, "n") #</span>'

                            },
                            {
                                field: "CR_CLOSING",
                                title: "Cr Amount",
                                width: "120px",
                                template: '<span style="float:right">#= CR_CLOSING #</span>'
                            }
                        ]
                    });

                });

                function detailInit(e) {
                    var detailRow = e.detailRow;
                    var testdata = e.data;
                    var id = testdata.MASTER_ACC_CODE;
                    var hasChild = true;
                    var childnumbher = testdata.CHILD_REC;
                    if (childnumbher <= 0)
                    {
                        hasChild = false;
                    }
                    //var gridOptions = {};
                    //if (hasChild) {
                    //    gridOptions = $.extend({}, gridBaseOptions, { detailInit: detailInit });
                    //} else {
                    //    gridOptions = gridBaseOptions;
                    //};
                    //$("<div/>").appendTo(e.detailCell).kendoGrid(gridOptions);
                    //detailRow.find(".tabstrip").kendoTabStrip({
                    //    animation: {
                    //        open: { effects: "fadeIn" }
                    //    }
                    //});

                    detailRow.find(".orders").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: window.location.protocol + "//" + window.location.host + "/" + "TrialBalance/GetTrialBalanceBarGroup?id=" + id
                            },
                            serverPaging: true,
                            serverSorting: true,
                            serverFiltering: true,
                            pageSize: 7,
                            aggregate: [
                { field: "CR_OPENING", aggregate: "sum" },
                { field: "DR_OPENING", aggregate: "sum" }]
                        },
                        scrollable: false,
                        dataBound: onDataBoundtest,
                        sortable: true,
                        pageable: true,

                        detailTemplate: kendo.template($("#template").html()),
                        detailInit:detailInit,
                       
                        columns: [
                            {
                                field: "account_head",
                                title: "Account Name",
                                width: "120px",
                                template: '<a href="#=account_head#" class="undo">#=account_head#</a>'
                            },
                            {
                                field: "DR_OPENING ",
                                title: "Dr Amount",
                                width: "120px",
                                template: '<span style="float:right">#= DR_OPENING #</span>'
                                
                            },
                            {
                                field: "CR_OPENING ",
                                title: "Cr Amount",
                                width: "120px",
                                template: '<span style="float:right">#= CR_OPENING #</span>'
                               
                            },
                            {
                                field: "DR_AMT",
                                title: "Dr Amount",
                                width: "120px",
                                template: '<span style="float:right">#= DR_AMT #</span>'
                            },
                            {
                                field: "CR_AMT",
                                title: "Cr Amount",
                                width: "120px",
                                template: '<span style="float:right">#= CR_AMT #</span>'
                            },
                             {
                                 field: "DR_CLOSING ",
                                 title: "Dr Amount",
                                 width: "120px",
                                 template: '<span style="float:right">#= DR_CLOSING #</span>'
                             },
                            {
                                field: "CR_CLOSING",
                                title: "Cr Amount",
                                width: "120px",
                                template: '<span style="float:right">#= CR_CLOSING #</span>'
                            }
                             
                        ]
                    });
                    //if (hasChild) {
                        //var grid = $(".orders").data("kendoGrid");
                        //grid.bind("detailInit", detailInit);
                  //  }
                  
                    //$("#contextmenu").css({ "top": event.pageY + "px", "left": event.pageX + "px" })
                    $("#context-menu").kendoContextMenu({
                        filter: 'td[role="gridcell"]',
                        target: ".orders",
                        orientation: "horizontal",
                        alignToAnchor: true
                    });
                }
            </script>
            <style scoped>
                .k-detail-cell .k-tabstrip .k-content {
                    padding: 0.2em;
                }

                .employee-details ul {
                    list-style: none;
                    font-style: italic;
                    margin: 15px;
                    padding: 0;
                }

                    .employee-details ul li {
                        margin: 0;
                        line-height: 1.7em;
                    }

                .employee-details label {
                    display: inline-block;
                    width: 90px;
                    padding-right: 10px;
                    text-align: right;
                    font-style: normal;
                    font-weight: bold;
                }
            </style>
        </div>





    </div>

</div>

