<style>
    .portlet-body {
        height: 450px;
    }
    .feeds li .col1 > .cont {
        float: left;
         margin-right: 0px; 
        overflow: hidden;
    }
   .mulitiitem-select.k-multiselect-wrap.k-floatwrap {
    min-height: 23px !important;
    height: 23px !important;
}

</style>
 
<div kendo-window="dlgWindow" k-visible="false" k-modal="true">
    <p>Are you sure?</p>

    <div>
        <button id="btn-cancel" style="margin-left:5px;" class="btn btn-default pull-right">Cancel</button>
        <button id="btn-okay" value="ok" class="btn btn-primary pull-right">OK</button>
    </div>
</div>

 <div class="col-md-12">
    <div class="transaction">
        <div class="page-content-wrapper" id="operationContent">
            <form name="bankSetupForm" novalidate ng-submit="SaveBank(bankSetupForm,bankSetupForm.$valid)">
                <div class="portlet light bordered clearfix">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green bold uppercase text-center" style="text-align:center">
                                <i class="fa fa-university"></i>
                                Bank Setup
                            </span>
                        </div>
                        <span class="pull-right">
                            <button type="button" ng-show="BankSetup.BankCode" ng-click="DeleteBank(BankSetup.BankCode,bankSetupForm)" class="btn btn-sm btn-danger">Delete</button>
                            <button type="button" id="ResetComsumptionIssue" ng-click="ResetBankSetup(bankSetupForm)" class="btn btn-sm btn-default">Add</button>
                            <button type="submit" id="SaveComsumptionIssue" class="btn btn-sm green">Save</button>
                        </span>
                    </div>
                    <div class="portlet-body" id="horizontalPane">
                        <div>
                            <h3 class="text-center">Bank List</h3>
                            <ul class="feeds" style="margin-left:5px;">

                                <li ng-repeat="bank in AllBanks">
                                    <a href="javascript:;" ng-click="GetBank(bank.BankCode)">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-university"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">{{bank.BankName}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                </ul>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="bankCode" class="col-md-4 control-label">Bank Code</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="number" ng-disabled="true" id="bankCode" name="bankCode" ng-model="BankSetup.BankCode" style="width:100%;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-class="{ 'has-error': bankSetupForm.bankName.$touched && bankSetupForm.bankName.$invalid}">
                                    <div class="form-group">
                                        <label for="bankName" class="col-md-4 control-label">Bank Name</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="bankName" name="bankName" ng-model="BankSetup.BankName" style="width:100%;" required />
                                            <div class="help-block" ng-messages="bankSetupForm.bankName.$error"
                                                 ng-if="bankSetupForm.bankName.$touched">
                                                <p ng-message="required">Bank Name is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-class="{ 'has-error': bankSetupForm.bankAccountNumber.$touched && bankSetupForm.bankAccountNumber.$invalid}">
                                    <div class="form-group">
                                        <label for="bankAccountNumber" class="col-md-4 control-label">A/C Number</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" id="bankAccountNumber" value="" name="bankAccountNumber" ng-model="BankSetup.AccountNumber" style="width:100%;" required />
                                            <div class="help-block" ng-messages="bankSetupForm.bankAccountNumber.$error"
                                                 ng-if="bankSetupForm.bankAccountNumber.$touched">
                                                <p ng-message="required">Account Number is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" ng-class="{ 'has-error': bankSetupForm.bankSwiftCode.$touched && bankSetupForm.bankSwiftCode.$invalid}">
                                    <div class="form-group">
                                        <label for="bankSwiftCode" class="col-md-4 control-label">Swift Code</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="bankSwiftCode" value="" name="bankSwiftCode" ng-model="BankSetup.SwiftCode" style="width:100%;" required />
                                            <div class="help-block" ng-messages="bankSetupForm.bankSwiftCode.$error"
                                                 ng-if="bankSetupForm.bankSwiftCode.$touched">
                                                <p ng-message="required">Swift Code is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-class="{ 'has-error': bankSetupForm.bankAddress.$touched && bankSetupForm.bankAddress.$invalid}">
                                    <div class="form-group">
                                        <label for="bankAddress" class="col-md-4 control-label">Address</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="bankAddress" name="bankAddress" ng-model="BankSetup.Address" style="width:100%;" required />
                                            <div class="help-block" ng-messages="bankSetupForm.bankAddress.$error"
                                                 ng-if="bankSetupForm.bankAddress.$touched">
                                                <p ng-message="required">Address is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-class="{ 'has-error': bankSetupForm.bankBranch.$touched && bankSetupForm.bankBranch.$invalid}">
                                    <div class="form-group">
                                        <label for="bankBranch" class="col-md-4 control-label">Branch</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="bankBranch" value="" name="bankBranch" ng-model="BankSetup.Branch" style="width:100%;" required />
                                            <div class="help-block" ng-messages="bankSetupForm.bankBranch.$error"
                                                 ng-if="bankSetupForm.bankBranch.$touched">
                                                <p ng-message="required">Branch is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" ng-class="{ 'has-error': bankSetupForm.bankPhoneNumber.$touched && bankSetupForm.bankPhoneNumber.$invalid}">
                                    <div class="form-group">
                                        <label for="bankPhoneNumber" class="col-md-4 control-label">Phone Number</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="bankPhoneNumber" class="phoneNumber" value="" name="bankPhoneNumber" ng-model="BankSetup.PhoneNumber" style="width:100%;" required />
                                            <div class="help-block" ng-messages="bankSetupForm.bankPhoneNumber.$error"
                                                 ng-if="bankSetupForm.bankPhoneNumber.$touched">
                                                <p ng-message="required">Phone Number is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="clearfix"></div>
                                    </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table ContactTable k-content setuptable transactionsetup" id="ContactTable" style="margin-left:15px;">
                                        <thead class="table-info font-green">
                                            <tr>
                                                <th class="serial_no">S.N.</th>
                                                <th class="contact_person">Contact Person</th>
                                                <th class="mobile_no">Mobile Number</th>
                                                <th class="telephone_no">Telephone Number</th>
                                                <th class="desination">Designation</th>
                                                <th class="remark">Remarks</th>
                                                <th class="button_add">
                                                    <a href="javascript:void(0)" ng-click="addContact()" class="btn btn-xs btn-success pull-right">
                                                        [<i class="fa fa-plus"></i>] Add
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="contact in BankSetup.Contacts">
                                                <td class="serial_no">
                                                    <span>{{contact.Sn}}</span>
                                                </td>
                                                <td class="contact_person">
                                                    <input  type="text" ng-model="contact.ContactPerson" placeholder="Contact Person">
                                                </td>

                                                <td class="mobile_no">
                                                    <input type="text" class="phoneNumber" ng-model="contact.MobileNumber" placeholder="Mobile">
                                                </td>

                                                <td class="telephone_no">
                                                    <input type="text" class="phoneNumber " ng-model="contact.TelephoneNumber" placeholder="Phone">
                                                </td>

                                                <td  class="desination">
                                                    <input type="text" ng-model="contact.Designation" placeholder="Designation">
                                                </td>

                                                <td class="remark">
                                                    <input type="text" ng-model="contact.Remarks" placeholder="Remarks">
                                                </td>
                                                <td class="button_add">
                                                    <a href="javascript:void(0)" ng-click="removeContact($index)"><i class="fa fa-trash delete_icon"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-footer pull-right">
                        <button type="button" id="ResetComsumptionIssue" ng-click="ResetBankSetup(bankSetupForm)" class="btn btn-sm btn-default">Add</button>
                        <button type="submit" id="SaveComsumptionIssue" class="btn btn-sm green">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).on('keypress', '.phoneNumber', function (e) {
        debugger;
        var filter = /^[0-9-+]+$/;
        if (!(filter.test(e.key))) {
            e.preventDefault();
        }
    });

    $(document).ready(function () {
        $("#horizontalPane").kendoSplitter({
            panes: [
                { resizable: true, size: "20%", scrollable: true },
                { resizable: true, size: "80%" },
            ]
        });
    });
</script>