 
    <div class="col-md-12">
        <div class="transaction">
            <div class="page-content-wrapper" id="operationContent">
                <form name="BankLimitSetupForm" novalidate ng-submit="SaveBankLimit(BankLimitSetupForm)">
                    <div class="portlet light bordered clearfix">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green bold uppercase text-center" style="text-align:center">
                                    <i class="fa fa-list-alt"></i>
                                    Transaction Setup
                                </span>
                            </div>
                            <span class="pull-right">
                                <button type="button" id="ResetTransaction" ng-click="ResetBankTransactionSetup(BankLimitSetupForm)" class="btn btn-sm btn-default">Reset</button>
                                <button type="submit" id="SaveTransaction" class="btn btn-sm green">Save</button>
                            </span>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-4" ng-class="{ 'has-error': BankLimitSetupForm.bankName.$touched && BankLimitSetupForm.bankName.$invalid}">
                                    <label for="bankName" class="col-md-4 control-label">Bank Name</label>
                                    <div class="col-md-8">
                                        <select name="bankName" id="bankName" k-ng-model="LoanInfo.BankCode"
                                                 k-value-primitive="true" kendo-drop-down-list style="width:100%;" k-options="BankDDL" required>
                                        </select>
                                        <div class="help-block" ng-messages="BankLimitSetupForm.bankName.$error"
                                             ng-if="BankLimitSetupForm.bankName.$touched">
                                            <p ng-message="required">Bank Name is required.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4" ng-class="{ 'has-error': BankLimitSetupForm.limitType.$touched && BankLimitSetupForm.limitType.$invalid}">
                                    <label for="limitType" class="col-md-5 control-label">CR. Limit Type</label>
                                    <div class="col-md-7">
                                        <select name="limitType" id="limitType" k-ng-model="LoanInfo.Type"
                                                k-value-primitive="true" kendo-drop-down-list style="width:100%;" k-options="TypeDDL" required></select>
                                        <div class="help-block" ng-messages="BankLimitSetupForm.limitType.$error"
                                             ng-if="BankLimitSetupForm.limitType.$touched">
                                            <p ng-message="required">Select Limit type</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--From-->
                            <div ng-show="LoanInfo.Type">
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table LoanDetailTable k-content setuptable transactionsetup" id="LoanDetailTable">
                                                <thead class="table-info font-green">
                                                    <tr>
                                                        <th class="sn">S.N.</th>
                                                        <th class="category">Loan Category</th>
                                                        <th class="l_amout">Limit Amount</th>
                                                        <th class="e_date">Effective Date</th>
                                                        <th class="expirey_date">Expiry Date</th>
                                                        <th class="remarks">Remarks</th>
                                                        <th class="add_btn">
                                                            <a href="javascript:void(0)" ng-click="addLoan()" class="btn btn-xs btn-success pull-right">
                                                                [<i class="fa fa-plus"></i>] Add
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="loan in LoanDetail">
                                                        <td class="sn">
                                                            <span>{{loan.Sn}}</span>
                                                        </td>
                                                        <td class="category">
                                                            <select ng-show="LoanInfo.Type=='F'" name="loancategory" class="loancategory" k-ng-model="loan.LoanCategory" k-value-primitive="true"
                                                                    kendo-drop-down-list k-options="FCatagoriesDDL"
                                                                    style="width:100%;"></select>
                                                            <select ng-show="LoanInfo.Type=='N'" name="loancategory" class="loancategory" k-ng-model="loan.LoanCategory" k-value-primitive="true"
                                                                    kendo-drop-down-list k-options="NCatagoriesDDL"
                                                                    style="width:100%;"></select>
                                                        </td>
                                                        <td class="l_amout">
                                                            <input type="number" ng-model="loan.LimitAmount" placeholder="Limit Amount" style="width:100%;" />
                                                        </td>

                                                        <td class="e_date">
                                                            <input type="text" ng-model="loan.EffectiveDate" class="maskdate" placeholder="Effective Date" style="width:100%;" />
                                                        </td>

                                                        <td class="expirey_date">
                                                            <input type="text" ng-model="loan.ExpiryDate" class="maskdate" placeholder="Expiry Date" style="width:100%;" />
                                                        </td>

                                                        <td class="remarks">
                                                            <input type="text" ng-model="loan.Remarks" placeholder="Remarks" style="width:100%;" />
                                                        </td>
                                                        <td class="add_btn">
                                                            <a href="javascript:void(0)" ng-click="removeLoan($index)"><i class="fa fa-trash delete_icon"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="portlet-footer pull-right">
                            <button type="button" id="ResetComsumptionIssue" ng-click="ResetBankTransactionSetup(BankLimitSetupForm)" class="btn btn-sm btn-default">Reset</button>
                            <button type="submit" id="SaveComsumptionIssue" class="btn btn-sm green">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
 
<script>
    $(document).on('click', '.maskdate', function () {
        var me = $(this);
        me.datepicker({
            showOn: 'focus',
            altFormat: "mm/dd/yy",
            dateFormat: "mm/dd/yy",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true

        }).focus();
    }).on('focus', '.maskdate', function () {
        var me = $(this);
        me.mask('99/99/9999');
    }).on('change', '.maskdate', function () {
        var date = $(this).val();
        var arr = date.split('/');
        var month = (arr[0]);
        var day = (arr[1]);
        if (month > 12 || day > 32) {
            $(this).val(new Date('mm/dd/yy'));
        }
    });
</script>
@*<script>
 
    $('.transactionsetup tbody').slimScroll({
        height: '120px'
    });
</script>*@