
<style>
    .portlet.light .portlet-body {
        padding-top: 0px;
    }
    .form-group {
        padding-top: 20px;
    }
    .control-label {
        margin-top: 3px;
    }
    .form-control-static {
        padding-top: 3px;
        padding-bottom: 3px;
    }
</style>

<div kendo-window="dlgWindow" k-visible="false" k-modal="true">
    <p>Are you sure?</p>

    <div>
        <button id="btn-cancel" style="margin-left:5px;" class="btn btn-default pull-right">Cancel</button>
        <button id="btn-okay" value="ok" class="btn btn-primary pull-right">OK</button>
    </div>
</div>
 
    <div class="col-md-12">
        <div class="transaction">
            <div class="page-content-wrapper" id="operationContent">
                <div class="portlet light  bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green bold uppercase text-center" style="text-align:center">
                                <i class="fa fa-list-alt"></i>
                                Loan Category Setup
                            </span>
                        </div>
                        <span class="pull-right">
                            <button type="button" ng-show="CategorySetup.CategoryId" ng-click="DeleteCategory(CategorySetup.CategoryId,categoryForm)" class="btn btn-sm btn-danger">Delete</button>
                            <button type="button" id="ResetForm" class="btn btn-sm btn-default" ng-click="ResetCategory(categoryForm)">Reset</button>
                            <button type="button" id="SaveForm" class="btn btn-sm green" ng-click="SaveCategory(categoryForm,categoryForm.$valid)">Save</button>
                        </span>
                    </div>
                    <div class="portlet-body">
                        <div id="horizontal">
                            <div>

                                <h3 class="text-center">Category List</h3>
                                <ul class="feeds" style="margin-left:5px;">

                                    <li ng-repeat="cat in AllCategories">
                                        <a href="javascript:;" ng-click="GetCategory(cat)">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-university"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">{{cat.CategoryName}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    </ul>
                            </div>
                            <div>
                                <h4 ng-hide="CategorySetup.CategoryId" class="text-center">Add New Loan Category</h4>
                                <h4 ng-show="CategorySetup.CategoryId" class="text-center">Update Loan Category</h4>
                                <form name="categoryForm" novalidate>
                                    <input type="text" ng-model="CategorySetup.CategoryId" style="display:none" />
                                    <div class="row">
                                        <div class="col-md-10 form-group text-center" ng-class="{ 'has-error': categoryForm.categoryName.$touched && categoryForm.categoryName.$invalid}">
                                            <label for="categoryName" class="col-md-3 control-label">Loan Category</label>
                                            <div class="col-md-4">
                                                <input id="categoryName" class="form-control form-control-static" name="categoryName" ng-model="CategorySetup.CategoryName" style="width:100%;" required />
                                                <div class="help-block" ng-messages="categoryForm.categoryName.$error"
                                                     ng-if="categoryForm.categoryName.$touched">
                                                    <p ng-message="required">Loan Category Name is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 form-group text-center" ng-class="{ 'has-error': categoryForm.categoryType.$touched && categoryForm.categoryType.$invalid}">
                                            <label for="categoryName" class="col-md-3 control-label">Category Type</label>
                                            <div class="col-md-4">
                                                <select k-ng-model="CategorySetup.CategoryType" k-value-primitive="true" name="limitType" id="limitType"
                                                        kendo-drop-down-list style="width:100%;" required>
                                                    <option value="" ng-selected="CategorySetup.CategoryType==''">--Select--</option>
                                                    <option ng-selected="CategorySetup.CategoryType=='F'" value="F">FUNDED</option>
                                                    <option ng-selected="CategorySetup.CategoryType=='N'" value="N">NON FUNDED</option>
                                                </select>
                                                <div class="help-block" ng-messages="categoryForm.categoryType.$error"
                                                     ng-if="categoryForm.categoryType.$touched">
                                                    <p ng-message="required">Limit type is required</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

<script>
    $(document).ready(function () {
        $("#horizontal").kendoSplitter({
            panes: [
                { resizable: true, size: "30%", scrollable: true },
                { resizable: true, size: "70%", scrollable: false },
            ]
        });
    });
    $("#limitType").kendoDropDownList();
</script>