<div class="modal fade-out" id="saveAsDraftModal" data-backdrop="static" tabindex="-1" data-width="760">
    <div class="modal-dialog  modal-theme-bg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>
                <h4 class="modal-title">
                    <span class="fa fa-file"></span>
                    Save As Draft
                </h4>
            </div>

            <div class="modal-body draftmodal main">
                <form name="saveasdraft" id="saveasdraft" class="form-horizontal">

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3">Template No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Template No"></i>*@</label>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <input type="text" id="TEMPLATE_NO" name="TEMPLATE_NO" ng-model="saveAsDraft.TEMPLATE_NO" class="form-control fixedsize" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3" style="width:152px;">
                                    Template Name (E) @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Template Name (E)"></i>*@
                                    <span style="color:red" class="ng-show" ng-show="saveasdraft.TEMPLATE_EDESC.$invalid">
                                        <span ng-show="!saveasdraft.TEMPLATE_EDESC.$valid">*</span>
                                    </span>
                                </label>
                                <div class="col-sm-9 col-md-9 col-lg-9"  style="width:446px;">
                                    <input type="text" id="TEMPLATE_EDESC" name="TEMPLATE_EDESC" ng-model="saveAsDraft.TEMPLATE_EDESC" class="form-control fixedsize" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3 col-md-3 col-lg-3" style="width:154px;">Template Name (N) @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Template Name (N)"></i>*@</label>
                                <div class="col-sm-9 col-md-9 col-lg-9" style="width:444px;">
                                    <input type="text" id="TEMPLATE_NDESC" name="TEMPLATE_NDESC" class="form-control" ng-model="saveAsDraft.TEMPLATE_NDESC" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/_appUserPartial.cshtml")
                                @*<label class="control-label col-sm-3 col-md-3 col-lg-3">Template Name (N)</label>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <input type="text" id="TEMPLATE_NDESC" name="TEMPLATE_NDESC" class="form-control" ng-model="saveAsDraft.TEMPLATE_NDESC" />
                                </div>*@
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <a class="btn btn-sm btn-green" id="savedocumentformdata" data-toggle="tooltip" title="Save data" ng-click="saveTemplateInDraft(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                    <i class="fa fa-print"></i> {{draftsave}}
                </a>
                <a class="btn btn-sm btn-default" @*ng-click="reset()"*@ data-dismiss="modal" data-toggle="tooltip" title="Cancel">Cancel</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade-out" id="getDraftModal" data-backdrop="static" tabindex="-1" data-width="760">
    <div class="modal-dialog modal-theme-bg">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button"  class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>*@
                <h4 class="modal-title">
                    <span class="fa fa-file"></span>
                    Get From Draft
                </h4>
            </div>

            <div class="modal-body draftmodal main">
                <form name="saveasdraft" class="form-horizontal">

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="control-label col-sm-4 col-md-4 col-lg-4">Draft Template List @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Draft Template List"></i>*@</label>

                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <select id="formDraftTemplate" name="draft"
                                            k-options="drafOptions" kendo-combo-box
                                            style="width:100%"></select>
                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <a class="btn btn-sm btn-green" id="getdraftvalue" data-toggle="tooltip" title="Get Draft" ng-click="getDraftDetails(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                    <i class="fa fa-floppy-o"></i> Get Draft
                </a>
                <a class="btn btn-sm btn-default" @*ng-click="reset()"*@ data-dismiss="modal" data-toggle="tooltip" title="Cancel" >Cancel</a>
            </div>
        </div>
    </div>
</div>
