<style>
    .document-tab {
        width: 100% !important;
    }



    .d-tab-content {
        border: solid #ddd 1px;
        border-top: none !important;
        margin-top: -10px !important;
    }



    .no_gap input {
        margin-top: 1px !important;
    }


    .document-tab li {
        float: left !important;
        border-right: solid #ddd 1px;
        margin-right: 0px !important;
    }

    .document-tab {
        background-color: #eee;
        border-bottom: solid #ddd 1px;
    }

        .document-tab li a {
            color: #333;
            font-size: 11px;
            margin-right: 0px !important;
        }


        .document-tab li.active a {
            color: forestgreen;
            Background-color: #fff;
            margin-right: 0px !important;
            border-top: solid #43A12E 2px;
            border-bottom: none !important;
            border-right: none;
        }

        .document-tab li:first-child.active a {
            border-left: solid #ddd 1px;
            border-right: none;
        }

        .document-tab li a:hover {
            background-color: #fff;
            border-top: solid #43A12E 2px;
            border-bottom: none !important;
            border-right: none;
        }

        .document-tab li.active a:hover {
            background-color: #fff;
            border-top: solid #43A12E 2px;
            border-right: none;
        }



    .form-control.ng-pristine {
        /*text-align:left !important;*/
    }

    .dynamicform .k-dropdown-wrap.k-state-default input {
        border: none !important;
        /*height:22px !important;*/
    }

    .dynamic-table .k-dropdown-wrap, .dynamic-table .k-input.products {
        border: none !important;
        box-shadow: none !important;
    }

        .dynamic-table .k-dropdown-wrap .k-state-focused, .dynamic-table .k-dropdown-wrap.k-state-default.k-state-focused {
            border: solid green 1px;
        }

    .dynamic-table .k-icon, .dynamicform .k-icon {
        display: none;
    }

    .autocomplete-text, .mutextbox {
        text-align: left !important;
    }

    .textbox {
        text-align: right !important;
    }

    .texttextbox {
        text-align: left !important;
    }
    /*.d-tab-content .tab-pane.active
    {
        max-height:171px;
        overflow-y:auto;
    }*/
    .documentform .tabbable {
        width: 101.5%;
    }





    .autocomplete-text, .mutextbox {
        width: 100%;
    }

    .dynamic-table td {
        border-top: none;
    }

    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .dynamicform .k-dropdown-wrap.k-state-default input {
        border: none !important;
    }

    .dropzone {
        width: 100%;
        height: 300px;
        max-height: 500px !important;
    }

    .MU_CODE, .MU_CODE_div {
        width: 55px;
    }

    .CALC_TOTAL_PRICE, .CALC_TOTAL_PRICE_div {
        width: 98px;
    }

    .ALT1_MU_CODE, .ALT1_MU_CODE_div {
        width: 92px;
    }

    .ALT1_QUANTITY, .ALT1_QUANTITY_div {
        width: 93px;
    }
</style>
<div class="tabbable-line1 tabbox1" style="margin-top:7px;">
    <ul id="myTab" class="document-tab nav nav-tabs ">
        <li class="active">
            <a href="#tab_15_1" data-toggle="tab">
                Transaction
            </a>
        </li>
        <li>
            <a href="#tab_15_2" data-toggle="tab">
                Reference
            </a>
        </li>
        <li>
            <a href="#tab_15_3" data-toggle="tab">
                Custom
            </a>
        </li>
        <li>
            <a href="#tab_15_4" data-toggle="tab">
                Document
            </a>
        </li>
        <li>
            <a href="#tab_15_5" data-toggle="tab">
                Charge
            </a>
        </li>
        <li>
            <a href="#tab_15_6" data-toggle="tab">
                Shipping Details
            </a>
        </li>
    </ul>
    <div class="tab-content d-tab-content">
        <div class="tab-pane active" id="tab_15_1">

            <div class="table-responsive">
                @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/PartialView/_Consumption_childFieldPartial.cshtml")
            </div>

        </div>
        <div class="tab-pane" id="tab_15_2">
            <div class="table-responsive">
                @*@Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/PartialView/_financeVoucherReferencePartial.cshtml")*@
                <kendo-grid id="grid" options="refBGridOptions" k-rebind="grid"></kendo-grid>
            </div>
        </div>
        <div class="tab-pane" id="tab_15_3">
            @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/PartialView/_customTabPartial.cshtml")
        </div>
        <div class="tab-pane" id="tab_15_4">
            <div id="dInventoryUpload" class="dropzone">
                <div class="dz-default dz-message"></div>
            </div>
        </div>
        <div class="tab-pane" id="tab_15_5">

        </div>
        <div class="tab-pane" id="tab_15_6">
            <div class="gap">
                <div class="form-horizontal">
                    <div class="dynamicform row">

                        <div class="form-group col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right">Vehicle No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Vehicle No"></i>*@<span style="color:red">*</span></label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                @*<input type="text" id="VehicleNo" ng-model="SDModel.VEHICLE_CODE" class="form-control" />*@
                                <input kendo-combo-box ng-model="SDModel.VEHICLE_CODE" class="vechCodeAutoComplete cvechcode w-100" k-options="vechOption" k-placeholder="'Select Vechile Code'" required />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Vehicle Owner Name @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Vehicle Owner Name"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="VehicleOwnerName" ng-model="SDModel.VEHICLE_OWNER_NO" class="  form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Vehicle Owner No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Vehicle Owner No"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="VehicleOwnerNo" ng-model="SDModel.VEHICLE_OWNER_NO" class=" form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Driver Name @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Driver Name"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="DriverName" ng-model="SDModel.DRIVER_NAME" class="t form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Driver License No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Driver License No"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="DriverLicenseNo" ng-model="SDModel.DRIVER_LICENCE_NO" class=" form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Driver Mobile No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Driver Mobile No"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="Driver_Mobile_No" ng-model="SDModel.DRIVER_MOBILE_NO" class=" form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Transporter Name @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Transporter Name"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride h-20">
                                @*<input type="text" id="TransporterName" ng-model="SDModel.TRANSPORTER_CODE" class="form-control" />*@
                                <input kendo-combo-box ng-model="SDModel.TRANSPORTER_CODE" class="transCodeAutoComplete ctranscode w-100" k-options="transporterOption" k-placeholder="'Select Transporter Code'" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Terms of Shipment @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Terms of Shipment"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                @*<input type="text" id="TermsofShipment" ng-model="SDModel.SHIPPING_TERMS" class="form-control" />*@
                                <select ng-model="SDModel.SHIPPING_TERMS" id="shippingterms" class="w-100">
                                    <option value="">Select Shipment Terms</option>
                                    <option value="FOB">FOB</option>
                                    <option value="CNF">CNF</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group  col-md-6" id="freghtrate">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Freight Rate @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Freight Rate"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="number" id="FreightRatetxt" ng-model="SDModel.FREIGHT_RATE" class=" form-control" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6" id="freghtamount">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Freight Amount @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Freight Amount"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="number" id="FreightAmounttxt" ng-model="SDModel.FREGHT_AMOUNT" class=" form-control" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Start From @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Start From"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="StartFrom" ng-model="SDModel.START_FORM" class="form-control" />
                                @*<input kendo-combo-box ng-model="SDModel.START_FORM" class="citysodeAutoComplete ccitycode w-100" k-options="cityOption" k-placeholder="'Select Start From'" />*@
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Destination @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Destination"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="Destination" ng-model="SDModel.DESTINATION" class="form-control" />
                                @*<input kendo-combo-box ng-model="SDModel.DESTINATION" class="cityCodeAutoComplete ccitydescode w-100" k-options="cityOption" k-placeholder="'Select Destination'" />*@
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">CN No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="CN No"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="CNNo" ng-model="SDModel.CN_NO" class=" form-control" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Transport Invoice No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Transport Invoice No."></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="TransportInvoiceNo" ng-model="SDModel.TRANSPORT_INVOICE_NO" class=" form-control" maxlength="20" onkeypress="return checkSpcialChar(event)" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Transport Invoice Date @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Transport Invoice Date"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="TransportInvoiceDate" ng-model="SDModel.TRANSPORT_INVOICE_DATE" kendo-date-picker k-options="monthSOshipingdetails" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Delivery Date @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Delivery Date"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="DeliveryDate" ng-model="SDModel.DELIVERY_INVOICE_DATE" kendo-date-picker k-options="monthSOshipingdetails" onchange="CompareWithOrderDate(this)" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Weigh Bridge Weight @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Weigh Bridge Weight"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="WeighBridgeWeight" ng-model="SDModel.WB_WEIGHT" class=" form-control" maxlength="20" onkeypress="return checkSpcialChar(event)" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Weigh Bridge No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Weigh Bridge No."></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="WeighBridgeNo " ng-model="SDModel.WB_NO " class=" form-control" maxlength="20" onkeypress="return checkSpcialChar(event)" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Weigh Bridge Date @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Weigh Bridge Date"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="WeighBridgeDate" ng-model="SDModel.WB_DATE" kendo-date-picker k-options="monthSOshipingdetails" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Gate Entry No. @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Gate Entry No."></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="GateEntryNo" ng-model="SDModel.GATE_ENTRY_NO" class=" form-control" maxlength="20" onkeypress="return checkSpcialChar(event)" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Gate Entry Date @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Gate Entry Date"></i>*@</label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="GateEntryDate" ng-model="SDModel.GATE_ENTRY_DATE" kendo-date-picker k-options="monthSOshipingdetails" />
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label for="element" class="col-md-4 col-xs-12 col-sm-3 nogap-right ">Loading Slip No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Loading Slip No"></i>*@ </label>
                            <div class="col-md-8 col-xs-12 col-sm-3 col-input-gride">
                                <input type="text" id="LoadingSlipNo " ng-model="SDModel.LOADING_SLIP_NO" class=" form-control" maxlength="20" onkeypress="return checkSpcialChar(event)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var myInventoryDropzone;
        $(document).ready(function () {
            $('.nav-tabs a').on('click', function (e) {
                e.preventDefault();
                if ($(this).attr('href') == '#tab_15_2') {
                    $('#tab_15_2').tab('show')
                }
                if ($(this).attr('href') == '#tab_15_3') {
                    $('#tab_15_3').tab('show')
                }
                if ($(this).attr('href') == '#tab_15_4') {
                    $('#tab_15_4').tab('show')
                }
                if ($(this).attr('href') == '#tab_15_5') {
                    $('#tab_15_5').tab('show')
                }
                if ($(this).attr('href') == '#tab_15_6') {
                    $('#tab_15_6').tab('show')
                }

            });
            myInventoryDropzone = new Dropzone('#dInventoryUpload', { // Make the whole body a dropzone
                url: "/Inventory/InventoryFileUpload/",
                thumbnailWidth: 200,
                thumbnailHeight: 75,
                autoDiscover: false,
                autoProcessQueue: false,
                addRemoveLinks: true,
                paramName: "inputFiles",
                uploadMultiple: true,
                parallelUploads: 100,
                maxFiles: 100,
                maxFileSize: 10,
            });
            myInventoryDropzone.on('sending', function (file, xhr, formData) {

                var voucherno = angular.element('#InventoryCtrl').scope().dzvouchernumber;
                var voucherdate = angular.element('#InventoryCtrl').scope().dzvoucherdate;
                var formcode = angular.element('#InventoryCtrl').scope().dzformcode;

                formData.append('VoucherNo', voucherno);
                formData.append('VoucherDate', voucherdate);
                formData.append('FormCode', formcode);

            });
            myInventoryDropzone.on("success", function (file, responseText) {

                if (responseText.status == "Error") {
                    displayPopupNotification("File upload does not success. Please update.", "error");
                }
                else {
                    myInventoryDropzone.removeFile(file);
                }
            });
            myInventoryDropzone.on("removedfile", function (file, xhr, formData) {

                //alert('File will be permanently deleted.');
                var filename = file.name;
                var voucherno = angular.element('#InventoryCtrl').scope().OrderNo;
                var formcode = angular.element('#InventoryCtrl').scope().formcode;
                var model = {
                    FILE_NAME: filename,
                    FORM_CODE: formcode,
                    VOUCHER_NO: voucherno
                };
                var staturl = window.location.protocol + "//" + window.location.host + "/api/TemplateApi/deleteUploadedFile";
                $.ajax({
                    type: 'POST',
                    url: staturl,
                    data: model,
                    dataType: "json",
                    success: function (data) {


                    }
                });

            });
            $('#shippingterms').on('change', function () {
                // if (this.value == '1'); { No semicolon and I used === instead of ==
                if (this.value === 'FOB') {
                    $("#freghtrate").show();
                    $("#freghtamount").show();
                } else {
                    $("#freghtrate").hide();
                    $("#freghtamount").hide();
                    $("#FreightRatetxt").val("");
                    $("#FreightAmounttxt").val("");
                }
            });

            $("#CNNo").keyup(function (e) {
                if (/\D/g.test(this.value)) {
                    // Filter non-digits from input value.
                    this.value = this.value.replace(/\D/g, '');
                }
            });
            function CompareWithOrderDate(e) {

                var orderDate = $("#englishdatedocument").val();
                var deliverydate = $("#DeliveryDate").val();
                if (deliverydate < orderDate) {
                    alert("Delivery date should not be prior to order date.");
                    $("#DeliveryDate").focus();
                    $("#DeliveryDate").val('');
                }
            }
        });
    </script>
</div>
   
