
<style>
    .document-tab {
        width: 100% !important;
    }



    .d-tab-content {
        border: solid #ddd 1px;
        border-top: none !important;
        margin-top: -10px !important;
    }



    .no_gap input {
        margin-top: 1px !important;
    }


    .document-tab li {
        float: left !important;
        border-right: solid #ddd 1px;
        margin-right: 0px !important;
    }

    .document-tab {
        background-color: #eee;
        border-bottom: solid #ddd 1px;
    }

        .document-tab li a {
            color: #333;
            font-size: 11px;
            margin-right: 0px !important;
        }


        .document-tab li.active a {
            color: forestgreen;
            Background-color: #fff;
            margin-right: 0px !important;
            border-top: solid #43A12E 2px;
            border-bottom: none !important;
            border-right: none;
        }

        .document-tab li:first-child.active a {
            border-left: solid #ddd 1px;
            border-right: none;
        }

        .document-tab li a:hover {
            background-color: #fff;
            border-top: solid #43A12E 2px;
            border-bottom: none !important;
            border-right: none;
        }

        .document-tab li.active a:hover {
            background-color: #fff;
            border-top: solid #43A12E 2px;
            border-right: none !important;
        }



    .form-control.ng-pristine {
        /*text-align:left !important;*/
    }

    .dynamicform .k-dropdown-wrap.k-state-default input {
        border: none !important;
    }

    .dynamic-table .k-dropdown-wrap, .dynamic-table .k-input.products {
        border: none !important;
        box-shadow: none !important;
    }

        .dynamic-table .k-dropdown-wrap .k-state-focused, .dynamic-table .k-dropdown-wrap.k-state-default.k-state-focused {
            border: solid green 1px;
        }

    .dynamic-table .k-icon, .dynamicform .k-icon {
        display: none;
    }

    .autocomplete-text, .mutextbox {
        text-align: left !important;
    }

    .textbox {
        text-align: right !important;
    }

    .texttextbox {
        text-align: left !important;
    }
    /*.d-tab-content .tab-pane.active
    {
        max-height:171px;
        overflow-y:auto;
    }*/
    .documentform .tabbable {
        width: 101.5%;
    }

    .dynamic-table tbody {
        /*display: block !important;
        max-height: 140px !important;
        overflow: auto !important;*/
    }

    /*.dynamic-table thead, .dynamic-table tbody tr {
            display: table !important;
            width: 100% !important;
            table-layout: fixed !important;
        }*/

    .autocomplete-text, .mutextbox {
        width: 100%;
    }

    .dynamic-table td {
        border-top: none;
    }

    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .dropzone {
        width: 100%;
        height: 300px;
        max-height: 500px !important;
    }
</style>
<div class="tabbable-line1 tabbox1" style="margin-top:7px;">

    <ul id="myTab" class="document-tab nav nav-tabs ">
        <li class="active">
            <a href="#tab_15_1" data-toggle="tab">
                Transaction @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Transaction"></i>*@
            </a>
        </li>
        <li>
            <a href="#tab_15_2" data-toggle="tab">
                Reference @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Reference"></i>*@
            </a>
        </li>
        <li>
            <a href="#tab_15_3" data-toggle="tab">
                Custom @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Custom"></i>*@
            </a>
        </li>
        <li>
            <a href="#tab_15_4" data-toggle="tab">
                Document @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Document"></i>*@
            </a>
        </li>
    </ul>

    <div class="tab-content d-tab-content">
        <div class="tab-pane active" id="tab_15_1">

            <div class="table-responsive">
                @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/PartialView/_childFieldPartial.cshtml")
            </div>

        </div>
        <div ng-if="OrderNo!= 'undefined'" class="tab-pane" id="tab_15_2">
            <div class="table-responsive">
                @*@Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/PartialView/_financeVoucherReferencePartial.cshtml")*@
                <kendo-grid id="grid" options="refPESGridOptions" k-rebind="grid"></kendo-grid>
            </div>
        </div>
        <div ng-if="OrderNo == 'undefined'" class="tab-pane" id="tab_15_2">
            <div class="table-responsive">
                @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/PartialView/_financeVoucherReferencePartial.cshtml")
                @*<kendo-grid id="grid" options="refPESGridOptions" k-rebind="grid"></kendo-grid>*@
            </div>
        </div>
        <div class="tab-pane" id="tab_15_3">
            @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/PartialView/_customTabPartial.cshtml")
        </div>
        <div class="tab-pane" id="tab_15_4">
            <div id="dfinanceUpload" class="dropzone">
                <div class="dz-default dz-message"></div>
            </div>
        </div>


    </div>
</div>

    <script>
        var myFinanceDropzone;
        $(document).ready(function () {
            $('.nav-tabs a').on('click', function (e) {
                e.preventDefault();
                if ($(this).attr('href') == '#tab_15_2') {

                    $('#tab_15_2').tab('show')
                }
                if ($(this).attr('href') == '#tab_15_3') {
                    $('#tab_15_3').tab('show')
                }
                if ($(this).attr('href') == '#tab_15_4') {
                    $('#tab_15_4').tab('show')
                }

            });

            debugger;
            myFinanceDropzone = new Dropzone('#dfinanceUpload', { // Make the whole body
                url: "/FinanceVoucher/FinanceFileUpload/",
                thumbnailWidth: 200,
                thumbnailHeight: 75,
                autoDiscover: false,
                autoProcessQueue: false,
                addRemoveLinks: true,
                paramName: "inputFiles",
                uploadMultiple: true,
                parallelUploads: 100,
                maxFiles: 100,
                maxFileSize: 10,
            });

            myFinanceDropzone.on('sending', function (file, xhr, formData) {
                var voucherno = angular.element('#ContraVoucherCtrl').scope().dzvouchernumber;
                var voucherdate = angular.element('#ContraVoucherCtrl').scope().dzvoucherdate;
                var formcode = angular.element('#ContraVoucherCtrl').scope().dzformcode;
                var SessionNo = angular.element('#ContraVoucherCtrl').scope().dzSessionCode;
                formData.append('VoucherNo', voucherno);
                formData.append('VoucherDate', voucherdate);
                formData.append('FormCode', formcode);
                formData.append('SessionNo', SessionNo);
            });
            myFinanceDropzone.on("success", function (file, responseText) {

                if (responseText.status == "Error") {
                    displayPopupNotification("File upload does not success. Please update.", "error");
                }
                else {
                    myFinanceDropzone.removeFile(file);
                }
            });
            myFinanceDropzone.on("addedFile", function (file, responseText) {
                //alert('hit');
                if (responseText.status == "Error") {
                    displayPopupNotification("File upload does not success. Please update.", "error");
                }
                else {
                    mySalesDropzone.removeFile(file);
                }

            });
            myFinanceDropzone.on("removedfile", function (file, xhr, formData) {

                //alert('File will be permanently deleted.');
                var filename = file.name;
                var voucherno = angular.element('#ContraVoucherCtrl').scope().OrderNo;
                var formcode = angular.element('#ContraVoucherCtrl').scope().formcode;
                var model = {
                    FILE_NAME: filename,
                    FORM_CODE: formcode,
                    VOUCHER_NO: voucherno
                };
                var staturl = window.location.protocol + "//" + window.location.host + "/api/TemplateApi/deleteUploadedFile";
                $.ajax({
                    type: 'POST',
                    url: staturl,
                    data: model,
                    dataType: "json",
                    success: function (data) {


                    }
                });

            });

        });
    </script>

