@{
    var pageid = ViewData["ActionPageId"];
}

<div>
    <div id="customerTreeView_@pageid" class="customerTreeView" style="max-height:400px;"></div>
</div>

<script>

    var _oldCustomerData = undefined;
    var _oldCustomerTreeData = undefined;
   
    $(document).ready(function () {        
        var autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/SalesHome/GetSalesRegisterCustomers";
        var autoCompletedataSource = new kendo.data.DataSource({
            transport: {
                read: function (options) {
                   if (_oldCustomerData == undefined) {                       
                        $.ajax({
                            url: autoCompleteurl,
                            type: "GET",
                           // async: false,
                            success: function (result) {
                                options.success(result);
                                _oldCustomerData = result;                               
                            },
                            error: function (result) {
                                options.error(result);                                 
                            }
                        });
                    }
                        else {                           
                        options.success(_oldCustomerData);
                    }
                }
            }
            //serverFiltering: true
        });

        function OnMultiSelect(e) {
            var dataItem = this.dataItem(e.item.index());
            //Make the selected customer checked in treeView here...
            var treeView = $("#customerTreeView_@pageid").data('kendoTreeView');
            var dataSource = treeView.dataSource;
            var treeViewItem = dataSource.get(dataItem.CustomerCode);
            if (typeof treeViewItem != 'undefined') {
                $("#_" + treeViewItem.uid).attr('checked', true);
            }
        };

        $("#customerMultiSelect_@pageid").kendoMultiSelect({
            dataSource: autoCompletedataSource,
            dataTextField: "CustomerName",
            dataValueField: "CustomerCode",
            height: 600,
            //scrollable: {
            //    virtual: true
            //},
            headerTemplate: '<div class="col-md-offset-4"><strong>Customers...</strong></div>',
            //filter: "startswith",
            placeholder: "Select Customers...",
            autoClose: false,
            autoBind: false,
            minLength:1,
            select: OnMultiSelect,
            dataBound: function () {
                var current = this.value();
                this._savedOld = current.slice(0);
            },
            change: OnMultiSelectChange
        });

        function OnMultiSelectChange(e) {
            var previous = this._savedOld;
            var current = this.value();
            var diff = [];
            if (previous) {
                diff = $(previous).not(current).get();
            }
            this._savedOld = current.slice(0);
            if (diff.length > 0) {
                //Make the removed customer unChecked in treeView here...
                var treeView = $("#customerTreeView_@pageid").data('kendoTreeView');
                var dataSource = treeView.dataSource;
                var mydataItem = dataSource.get(diff);
                $("#_" + mydataItem.uid).attr('checked', false);
            }
            loadCustomFilterTreeList();
        }

        var loadAllCustomersUrl = window.location.protocol + "//" + window.location.host + "/api/SalesHome/GetAllCustomerNodes";
        var loadCustomerByNodeUrl = window.location.protocol + "//" + window.location.host + "/api/SalesHome/GetAllCustomersByCustId";

        var localData;     
        var customerTreeDataSource = new kendo.data.HierarchicalDataSource({
            transport: {
                read: function (options) {                    
                    if (typeof options.data.customerId != 'undefined') {
                        var id = options.data.customerId;
                        var data = getNextLevel(localData, id);
                        if (data) {
                            options.success(data);
                        } else {
                            var currentnode = get(localData, id);
                            $.ajax({
                                url: loadCustomerByNodeUrl,
                                data: {
                                    custId: currentnode.customerId,
                                    level: currentnode.Level,
                                    masterCode: currentnode.masterCustomerCode
                                },
                                type: "GET",
                                success: function (result) {
                                    setTimeout(function () {
                                        var res = result;
                                        addToLocalData(localData, res, currentnode.customerId);
                                        options.success(res);
                                    }, 1000);

                                },
                                error: function (result) {
                                    options.error(result);
                                }
                            });
                        }
                    }
                    else {
                        if (_oldCustomerTreeData == undefined) {
                            $.ajax({
                                url: loadAllCustomersUrl,
                                type: "GET",
                                async: false,
                                success: function (result) {
                                    options.success(result);
                                    localData = result;
                                    _oldCustomerTreeData = result;
                                },
                                error: function (result) {
                                    options.error(result);
                                }
                            });
                        } else {
                            options.success(_oldCustomerTreeData);
                            localData = _oldCustomerTreeData;
                        }

                    }
                }
            },
            schema: {
                model: {
                    id: "customerId",
                    hasChildren: "hasCustomers",
                    masterCustCode: "masterCustomerCode"
                }
            }
        });

        $("#customerTreeView_@pageid").kendoTreeView({
            checkboxes: {
                checkChildren: true
            },
            autoScroll: true,
            autoBind: false,
            dataSource: customerTreeDataSource,
            dataTextField: "customerName",
            height: 400,
            scrollable: {
                virtual: true
            },
            check: onCheck,
        });

        $("#customerTreeView_@pageid").data("kendoTreeView").expand(".treeNode");

        function onCheck(e) {
            // get the customerMultiSelect values.
            var customerMultiSelect = $("#customerMultiSelect_@pageid").data("kendoMultiSelect");
            var mvalue = customerMultiSelect.value();
            //get the customerId of the checked node
            var dataItemCustomerID = this.dataItem(e.node).customerId;
            if (this.dataItem(e.node).checked == true) {
                //append the selected node value in customerMultiSelect when checked
                var res = [];
                res.push(dataItemCustomerID);
                res.forEach(function (dataItem) {
                    var temp = $.merge($.merge([], mvalue), [dataItem]);
                    temp = $.unique(temp);
                    customerMultiSelect.value(temp);
                    customerMultiSelect._savedOld = temp.slice(0)
                });

            }
            if (this.dataItem(e.node).checked == false) {
                // $("#txtSelectedCustomer").val('');
                //remove value from customerMultiSelect if the node is unchecked
                mvalue.forEach(function (dataItem) {
                    //var temp = $.grep($.grep(mvalue,[]), [dataItem]);
                    var temp = $.grep(mvalue, function (a) { return a != dataItem });
                    temp = $.unique(temp);
                    customerMultiSelect.value(temp);
                });

            }
        }


        //Checks if nodes are already in the tree and returns it if it does
        function getNextLevel(data, id) {
            if (!id) {
                return data;
            } else {
                for (var i = 0; i < data.length; i++) {
                    if (data[i].customerId == id) {
                        return data[i].Items;
                    } else if (data[i].Items) {
                        for (var j = 0; j < data[i].Items.length; j++) {
                            if (data[i].Items[j].customerId == id) {
                                return data[i].Items[j].Items;
                            }
                        }
                    }
                }
            }
        }

        //Get Tree object for a given customerId
       

        function get(data, id) {
            if (id) {
                var grepObject = $.grep(data, function (item, index) {
                    return item.customerId == id;

                });

                if (grepObject != null && grepObject != undefined && grepObject.length > 0) {
                    return grepObject[0];
                }
                else {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].Items) {
                            var childGrepObject = get(data[i].Items, id);
                            if (childGrepObject != null && childGrepObject != undefined) {
                                return childGrepObject;
                            }

                        }
                    }
                }

            }

            return null;

        }
        //Add newly read nodes to cached tree
        function addToLocalData(localdata, data, id) {
            if (!id) {
                return localdata;
            } else {
                for (var i = 0; i < localdata.length; i++) {
                    if (localdata[i].customerId == id) {
                        localdata[i].Items = data;
                        return;
                    } else {
                        if (localdata[i].Items) {
                            for (var j = 0; j < localdata[i].Items.length; j++) {
                                if (localdata[i].Items[j].customerId == id) {
                                    localdata[i].Items[j].Items = data;
                                    return;
                                }
                            }
                        }
                    }
                }
            }
        }

    });
    $(function () {
        $('#customerTreeView_@pageid').slimScroll({
            // height: '20px'
        });
    });

    var loadCustomFilterTreeList = function () {
        $("#customerSlidebox_@pageid").slideToggle();
        activateTab('customerTab');
        $("#customerTreeView_@pageid").data("kendoTreeView").dataSource.bind("change",
        $("#customerTreeView_@pageid").data("kendoTreeView").dataSource.read()
        );
    }
    function activateTab(tab) {
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
</script>