@using NeoErp.Core.Models;
@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@using NeoERP.ProjectManagement.Service.Interface;
@using NeoERP.ProjectManagement.Service.Models;
@*@using NeoERP.ProjectManagement.Service.Services;*@
@using System.Configuration;
@{
    //ViewBag.Title = "Dist Sales Return";
    //Layout = null;
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
    var fiscalYear = ConfigurationManager.AppSettings["FiscalYear"];

    //var _FormTemplateRepo = EngineContext.Current.Resolve<IFormTemplateRepo>();

    //var templatename = _FormTemplateRepo.GetCustomerDetail(z);
}



<div class="row" style="border: 1px solid black;padding-right: 20px;padding-left: 20px">
    <div class="col-md-12 col-sm-12 col-xs-12" @*style="border:1px solid black;background-color: red;"*@>
        <div class="col-xs-3 col-sm-3 col-md-3">
            @*<div class="col-md-2 col-sm-2 col-xs-2">
                    <img alt="logoHead" src="~/Areas/NeoERP.Distribution/Images/hulasFoodHead.png" />
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <img alt="logo" src="~/Areas/NeoERP.Distribution/Images/hulasFood.png">
                </div>*@
            <img alt="logoHead" src="~/Areas/NeoERP.Distribution/Images/hulasLogo.png" style="height:70px;width:70px;" />
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7">
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: 50px; text-align: center; font-weight:600;" id="strcompanyCode"> </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: 50px; text-align: center;" font-weight:600; id="strbranchCode"> </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: 50px; text-align: center; font-weight:600;">Address:  #=data.B_ADDRESS # </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: 50px; text-align: center; font-weight:600;">Vat No:  #=data.C_TPIN_VAT_NO #</div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: 50px; text-align: center; font-weight:600;">Telephone No:  #=data.B_TELEPHONE_NO #</div>
            <div class="col-md-12 col-sm-12 col-xs-12" style=" margin-left: 50px;text-align: center;font-weight: 600;">Email:  #=data.B_EMAIL #</div>

            @*<p style="margin-left:50px; text-align:center;"><strong id="strcompanyCode"></strong></p>
        <p style="margin-left:50px; text-align:center;"><strong id="strbranchCode"> </strong></p>
        <p style="margin-left:50px; text-align:center;"><strong>Address:  #=data.B_ADDRESS #</strong></p>
        <p style="margin-left:50px; text-align:center;"><strong>Vat No:  #=data.C_TPIN_VAT_NO #</strong></p>
        <p style="margin-left:50px; text-align:center;"><strong>Telephone No:  #=data.B_TELEPHONE_NO #</strong></p>

        <p style="margin-left:50px; text-align:center;"><strong>Email:  #=data.B_EMAIL #</strong></p>*@
        </div>
        </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:50px;margin-bottom:50px">
        <p style="text-align:center;font-weight:700;"><u>Interest Calculation of Over Due Bills</u></p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        Customer Name:  #= CUSTOMER_EDESC #
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:5px">
        Address:  #=data.REGD_OFFICE_EADDRESS #
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:5px">
        Telephone No: #= data.TEL_MOBILE_NO1 #
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:5px">
        Pan No: #= data.TPIN_VAT_NO#
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:5px">
        Email Id: #= data.EMAIL#
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:50px">

        <div class="col-md-6 col-sm-6 col-xs-6" id="idapplydate">

        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">

            <p><span style="float:right;">Fiscal Year: @fiscalYear.ToString()</span></p>


        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" id="idinterestrate" style="margin-top: 5px;margin-left: 380px;margin-bottom: 7px;">
        </div>
    </div>
    <table class="table table-bordered" style="width:100%;border:1px solid black; border-spacing:0px">
        <thead>
            <tr>
                <th scope="col">Voucher No</th>
                <th scope="col">Credit Days</th>
                <th scope="col">Due Date (Expiry Date of Bill)</th>
                <th scope="col">Overdue Days</th>
                <th scope="col">Due Amount</th>
                <th scope="col">Interest</th>
            </tr>
        </thead>
        <tbody>
            # for (var i = 0; i < data.DetailList.length; i++) { #
            <tr>
                <td scope="col" style="text-align:center;">
                    #: data.DetailList[i].VOUCHER_NO #
                </td>
                <td scope="col" style="text-align:center;">
                    #:kendo.toString(data.DetailList[i].CREDIT_DAYS, "n0")#
                </td>
                <td scope="col" style="text-align:center;">
                    #: data.DetailList[i].DUE_DATE ? kendo.toString(kendo.parseDate(data.DetailList[i].DUE_DATE), 'yyyy-MM-dd') : 'N/A' #
                </td>
                <td scope="col" style="text-align:center;">
                    #:kendo.toString(data.DetailList[i].DUE_DAYS, "n0")#
                </td>
                <td scope="col" style="text-align:center;">
                    #:kendo.toString(data.DetailList[i].BALANCE, "n")#
                </td>
                <td scope="col" style="text-align:center;">
                    #:kendo.toString(data.DetailList[i].INTEREST, "n")#
                </td>
            </tr>
            # } #
        <tbody>
        </tbody>
    </table>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p>
            <strong style="color:black">Total Outstanding Before Interest:</strong> #= kendo.toString@*(data.DetailList[0].TOTAL_OUTSTANDING_BEF, "n")#</p>*@
            (data.BALANCE, "n")#
        </p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p><strong style="color:black">Total Outstanding Including Interest:</strong> #= kendo.toString(data.BALANCE + data.DetailList[0].TOTAL_INTEREST, "n")#</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;margin-bottom:80px">
        <p><span style="float:right;">Total Interest Amt: #= kendo.toString(data.DetailList[0].TOTAL_INTEREST, "n")#</span></p>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 printFooter" style="margin-top:20px;margin-bottom:40px">
        <p><span style="float:left;">Printed Date: #=data.TODAY_DATE# #=data.TODAY_TIME#</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span style="text-align: center;">Printed By:</span><span style="float:right;float:right; margin-right:150px">Authorized By:</span></p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p><i><b>Note:</b> Interest amount will be debited in your account if the dues bills over 60+ days, are not cleared within 7 days after receiving this report.</i></p>
    </div>
</div>
