
@{
    Layout = null;
}

<style>

    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }

    .k-splitbar.k-splitbar-horizontal {
        width: 5px;
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }


    .bodyController {
        margin-top: 4px;
    }



    .main .k-widget.k-dropdown.k-header {
        min-height: 22px !important;
    }

    .main .k-dropdown-wrap.k-state-default {
        min-height: 24px !important;
        font-size: 11px;
    }



    .k-splitter .k-scrollable {
        overflow-y: hidden !important;
    }

    .k-scrollable .k-widget.k-treeview {
        max-height: 444px;
        overflow: auto !important;
    }

    .k-i-calendar {
        margin-top: -10px;
    }

    span.k-icon.k-i-warning {
        display: none;
    }

    .calendar-icon-2 {
        top: 24px !important;
    }
</style>

<div class="row" id="SalesOrderAdjustmentCtrl" ng-controller="SalesOrderAdjustmentCtrl">

    <div class="col-md-12">

        <div class="portlet light form-fit bordered bottomspance">
            <div class="portlet mingap">

                <div class="portlet-title">

                    <div class="caption caption-title ng-binding">
                        <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        <i class="fa fa-gift font-green-haze"></i>
                        <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
                    </div>

                    <div class="actions">

                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top"  ng-click="findNewSalesOrderAdjustment()" href="javascript:;">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top"  ng-click="saveSalesOrderAdjustment()" href="javascript:;">
                            <i class="fa fa-check-circle"></i> Ok
                        </a>

                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top"  ng-click="viewPlannedReport()" href="javascript:;">
                            <i class="fa fa-close"></i> Cancel
                        </a>

                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top"  ng-click="viewPlannedReport()" href="javascript:;">
                            <i class="fa fa-print"></i> Print
                        </a>

                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top"  ng-click="viewPlannedReport()" href="javascript:;">
                            <i class="fa fa-maxcdn"></i>
                        </a>

                    </div>

                </div>

                <div class="portlet-body">

                    <div class="row">

                        <div class="col-md-12 col-sm-12 form-group">

                            <div class="col-md-5">

                                @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)

                            </div>
                            <div class="col-md-2 col-sm-2">
                                <label for="element">Document:</label>
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <select class="form-control input-small" ng-model="salesOrderAdjustDoc" name="document" id="document"
                                                ng-options="id.FORM_EDESC for id in SalesOrderAdjustmentDoc">
                                            <option value="">Select Document</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="radio">Cancel/Adjust Indent Details</label>
                                <div>
                                    <input type="radio" name="indentFilter" ng-change='FilterSalesOrder(SalesOrderFilter)' ng-model="SalesOrderFilter" value="CAID" />
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="radio">All Indent Detail</label>
                                <div>
                                    <input type="radio" name="indentFilter" ng-change='FilterSalesOrder(SalesOrderFilter)' ng-model="SalesOrderFilter" value="AID" />
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="divider"></div>


                    <div class="row">

                        <div class="tabbable">
                            <br />
                            <hr />
                            <div class="" style="overflow:auto">
                                @*@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_GridToolbar.cshtml")*@
                                <kendo-grid id="sOrderAdjustmentGrid" options="sOrderAdjustmentGrid" k-rebind="sOrderAdjustmentOptions" class="kendo_gride_table" style="width:180%;">
                                </kendo-grid>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>
</div>
<script src="@Scripts.Url("~/JS/DateFilter.js?V9")" type="text/javascript"></script>
<script>

    function validateCAQuantity(event, txtInfo) {

        var row = event.closest("tr"),
            grid = $("#sOrderAdjustmentGrid").data("kendoGrid"),
            dataItem = grid.dataItem(row);

        if (dataItem.QUANTITY < event.value) {
            alert("Cancel/Adjust QTY is greater then Actual QTY");
            $(event).closest("tr").removeClass();
            $('#txtCancelQuantity_' + dataItem.ROW_NO).hide();
            $('#txtCancelQuantity_' + dataItem.ROW_NO).val('');
            $('#txtAdjustQuantity_' + dataItem.ROW_NO).hide();
            $('#txtAdjustQuantity_' + dataItem.ROW_NO).val('');
            document.getElementById("intendReq" + dataItem.ROW_NO).checked = false;
        } else {

            $('#txtCancelQuantity_' + dataItem.ROW_NO).show();
            $('#txtAdjustQuantity_' + dataItem.ROW_NO).show();
            if (txtInfo == true) {

                $('#txtCancelQuantity_' + dataItem.ROW_NO).val(event.value);
                angular.element(document.getElementById("SalesOrderAdjustmentCtrl")).scope().CANCEL_QUANTITY = event.value;

            } else {

                $('#txtAdjustQuantity_' + dataItem.ROW_NO).val(event.value);
                angular.element(document.getElementById("SalesOrderAdjustmentCtrl")).scope().ADJUST_QUANTITY = event.value;

            }

            console.log("Event: " + $(event));


        }
    }
            
        function showloader() {
            $(".busy-loader").css("display", "block");
        }
        function hideloader() {
            $(".busy-loader").css("display", "none");
        }


        $(".nepali-calendar").nepaliDatePicker({
            npdMonth: true,
            onFocus: true,
            npdYear: true,
            npdYearCount: 10,
            altFormat: "dd-MMM-YYYY",
            dateFormat: "dd-MMM-YYYY",
            onChange: function (evt) {
                var nepalidate = $("#nepaliDate5").val();
                var nepalidate1 = $("#nepaliDate51").val();
                var Engdate = BS2AD(nepalidate);
                var Engdate1 = BS2AD(nepalidate1);
                var FormattedEngDate = moment(Engdate).format('DD-MMM-YYYY');
                var FormattedEngDate1 = moment(Engdate1).format('DD-MMM-YYYY');
                $("#englishdatedocument").val(FormattedEngDate);
                $("#englishdatedocument1").val(FormattedEngDate1);
            }
        });

        function ConvertNepToEng(e) {
            var date = BS2AD($("#nepaliDate5").val());
            var date1 = BS2AD($("#nepaliDate51").val());
            var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
            var FormattedEngDate1 = moment(date1).format('DD-MMM-YYYY');
            $("#englishdatedocument").val(FormattedEngDate);
            $("#englishdatedocument1").val(FormattedEngDate1);
        }

        $('a').tooltip();

        function ConvertEngDateToNep(eng) {

            if (eng === undefined)
                return;
            var engmonthreq = "";
            var arr = eng.split('-');
            var day = (arr[0]);
            var month = (arr[1]);
            var year = (arr[2]);
            if (month == "Jan") { engmonthreq = "01" }
            else if (month == "Feb") { engmonthreq = "02" }
            else if (month == "Mar") { engmonthreq = "03" }
            else if (month == "Apr") { engmonthreq = "04" }
            else if (month == "May") { engmonthreq = "05" }
            else if (month == "Jun") { engmonthreq = "06" }
            else if (month == "Jul") { engmonthreq = "07" }
            else if (month == "Aug") { engmonthreq = "08" }
            else if (month == "Sep") { engmonthreq = "09" }
            else if (month == "Oct") { engmonthreq = "10" }
            else if (month == "Nov") { engmonthreq = "11" }
            else if (month == "Dec") { engmonthreq = "12" }
            engdatereq = year + '-' + engmonthreq + '-' + day;
            return convertednepdate = AD2BS(engdatereq);
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
           // consolidate.init();
            DateFilter.init();
            window.scrollTo(0, 0);
        })
</script>

<script type="text/javascript">
        function loadFavouriteMenu() {
            //load parentMenu
            $("#parentMenu").kendoDropDownList({
                index: 0,
                dataTextField: "MENU_EDESC",
                dataValueField: "MENU_EDESC",
                dataSource: {
                    transport: {
                        read: {
                            url: "/api/SalesHome/GetDynamicMenu?ModuleCode=" + moduleCode,
                        }
                    },
                    requestEnd: function (e) {
                        e.response.unshift({ MENU_EDESC: "Favourite", GROUP_SKU_FLAG: "G", ICON_PATH: "", MENU_NO: "01", MODULE_CODE: "01" });

                    }
                }
            });
            var fav = Arg("fav");

            if (fav != undefined && reportConfig != undefined && fav == reportConfig.reportName) {
                //reportConfig
                $("#favTitle").val(reportConfig.reportName);
                $('#color').val(reportConfig.color);
                $('#favColor').val(reportConfig.color);
                try { $("#favIcon").val(reportConfig.icon.replace('fa ', '')); } catch (e) { }
                $("#favIconClass").removeAttr("class").addClass(reportConfig.icon);
                $("#favDescription").val(reportConfig.description);
                $("#favSave").text("Update");
                $("#parentMenu").data("kendoDropDownList").value(reportConfig.parentMenu);
            }
            else {
                if ($("#favTitle").val().length > 0) {
                    $("#favform")[0].reset();
                    $("#favSave").text("Save");
                    setTimeout(function () { $("#parentMenu").data("kendoDropDownList").select(0); }, 2000)
                }


            }


            $('.iconpicker-container').iconpicker();

            //init validator
            $("#favform").validate({
                rules: {
                    favTitle: "required"
                },
                messages: {
                    favTitle: "Please specify your name"

                }
            });
            $("#favModal").modal("show");
        }
        function saveFavouriteMenu() {

            var valid = $("#favform").valid();
            if (!valid) {
                displayPopupNotification("Invalid Field", "warning");
                return;
            }


            var title = $("#favTitle").val();
            var param = location.hash.indexOf('?') != -1 ? location.hash.substring(0, location.hash.indexOf('?')) : location.hash;

            SaveReportConfigSetting({
                gridName: "grid",
                reportName: title,
                parentReportName: "",
                isFavroite: true,
                virtualPath: param,
                icon: "fa " + $("#favIcon").val(),
                color: $("#favColor").val() == "" ? $('#color').val() : $("#favColor").val(),
                parentMenu: $("#parentMenu").data("kendoDropDownList").value(),
                description: $("#favDescription").val(),
                defaultPageSize: $("#defaultPageSize").val() == "" ? 100 : $("#defaultPageSize").val(),
                itemPerPage: $("#itemsPerPage").val(),
                moduleCode: "01",
                HideOption: $("#facHideOption").prop("checked") == true ? "Hide" : "show",
                dateFormat: $("#dateFormat option:selected").val()
            });
        }
        function favTitleChange() {
            if (Arg("fav") != undefined && Arg("fav").trim() == $("#favTitle").val().trim())
                $('#favSave').text('Update');
            else
                $('#favSave').text('Save');
        }
        function CollapseAll() {

            var elementsA = document.querySelectorAll("#grid a.k-icon.k-minus");
            if (elementsA.length > 0) {

                for (var i = 0; i < elementsA.length; i++) {
                    $(elementsA[i]).trigger("click");
                }
                return;
            }
            var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-collapse");
            for (var i = 0; i < elementsB.length; i++) {
                $(elementsB[i]).trigger("click");
            }
        }
        function ExpandAll() {
            debugger;
            var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-expand");
            if (elementsB.length > 0) {

                for (var i = 0; i < elementsB.length; i++) {
                    $(elementsB[i]).trigger("click");
                }
                return;
            }
            var elementsA = document.querySelectorAll("#grid a.k-icon.k-plus");
            for (var i = 0; i < elementsA.length; i++) {
                $(elementsA[i]).trigger("click");
            }
        }
        function GridSearch() {
            debugger;
            if ($.trim($('.grid-search').val()) != '') {
                $('.search input').css('margin-left', '-9px !important')
            }
            else {
                $('.search input').css('margin-left', '0px')
            }

            var grid = $("#dispatchGrid").data("kendoGrid");
            var tempServerFilter = grid.dataSource.options.serverFiltering;
            grid.dataSource.options.serverFiltering = false;
            var filter = [];
            $.each(grid.columns, function (i, v) {
                if (v.field != undefined) {
                    var searchText = $.trim($('.grid-search').val());
                    var model = grid.dataSource.options.schema.model.fields[v.field];
                    var type = "string";
                    if (model != undefined)
                        type = model.type;
                    if (type === "string")
                        filter.push({ field: v.field, operator: "contains", value: searchText });
                    else if (type === "number")
                        filter.push({ field: v.field, operator: "eq", value: searchText });
                    else if (type === "date") {
                        var dateValue = new Date(searchText);
                        searchText = dateValue == "Invalid Date" ? searchText : dateValue;
                        filter.push({ field: v.field, operator: "eq", value: searchText });
                    }
                }

            });
            var filter = {
                logic: "or",
                filters: filter,
            }

            grid.dataSource.filter(filter);
            if ($(".grid-search").val().length == 0)
                grid.dataSource.filter([]);
            grid.bind("dataBound", function () {
                grid.dataSource.options.serverFiltering = tempServerFilter;
            });


        }

        $("#applyConsolidate").click(function () {
            var doc = $("#document").val();
            if (doc=="") {
                alert("Please selected document");
            } else {
                var selCom = $("#consolidateTreeView").data("kendoTreeView");
                var items = getCheckedItems(selCom);
                console.log("SelCom=========================>>>" + JSON.stringify(items));

                angular.element(document.getElementById('OrderDispatchCtrl')).scope().findOrderDispatchForDocument(items);
            }
        });


        function getCheckedItems(treeview) {
            var nodes = treeview.dataSource.view();
            return getCheckedNodes(nodes);
        }


        function getCheckedNodes(nodes) {
            var node, childCheckedNodes;
            var checkedNodes = [];

            for (var i = 0; i < nodes.length; i++) {
                node = nodes[i];
                if (node.checked) {
                    checkedNodes.push(node);
                }

                // to understand recursion, first
                // you must understand recursion
                if (node.hasChildren) {
                    childCheckedNodes = getCheckedNodes_consolidate(node.children.view());
                    if (childCheckedNodes.length > 0) {
                        checkedNodes = checkedNodes.concat(childCheckedNodes);
                    }
                }

            }

            return checkedNodes;
        }

</script>

