@{
    Layout = null;
}
<style>

    .multiselect-parent .dropdown-toggle {
        width: 150px;
    }

    .multiselect-parent .dropdown-menu {
        width: 200px;
    }

    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }

    .k-splitbar.k-splitbar-horizontal {
        width: 5px;
    }


    .k-splitter {
        height: 490px !important;
    }
    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }


    .bodyController {
        margin-top: 4px;
    }



    .main .k-widget.k-dropdown.k-header {
        min-height: 22px !important;
    }

    .main .k-dropdown-wrap.k-state-default {
        min-height: 24px !important;
        font-size: 11px;
    }



    .k-splitter .k-scrollable {
        overflow-y: hidden !important;
    }

    .k-scrollable .k-widget.k-treeview {
        max-height: 444px;
        overflow: auto !important;
    }

    .k-i-calendar {
        margin-top: -10px;
    }

    span.k-icon.k-i-warning {
        display: none;
    }

    .calendar-icon-2 {
        top: 24px !important;
    }


    #grid .k-grid-toolbar {
        padding: .6em 1.3em .6em .4em;
    }

    .category-label {
        vertical-align: middle;
        padding-right: .5em;
    }

    #category {
        vertical-align: middle;
    }

    .refreshBtnContainer {
        display: inline-block;
    }

    .toolbar {
        float: right;
    }
</style>
<form id="InterestCalcForm" name="InterestCalcForm" novalidate>
    <div class="row" id="interestCalcCtrl">

        <div class="col-md-12">

            <div class="portlet light form-fit bordered bottomspance">
                <div class="portlet mingap">

                    <div class="portlet-title">

                        <div class="caption caption-title ng-binding">
                            <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                                <i class="fa fa-arrow-circle-left"></i>
                            </a>
                            <i class="fa fa-gift font-green-haze"></i>
                            <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
                        </div>

                        @*<div class="actions">

                                <a class="btn btn-green" data-toggle="tooltip" data-placement="top" ng-click="createNewPDCForm()" href="javascript:;">
                                    <i class="fa fa-plus-circle"></i> New
                                </a>

                                <a class="btn btn-green" data-toggle="tooltip" data-placement="top" ng-click="printNewPDCForm()" href="javascript:;">
                                    <i class="fa fa-print"></i> Print
                                </a>

                            </div>*@

                    </div>

                    <div class="portlet-body">

                        <div class="row" ng-if="InterestPageStart=='Y'">

                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                        Rate<span style="color:red" ng-show="InterestCalcForm.rate.$invalid">
                                            <span ng-show="InterestCalcForm.rate.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input class="form-control" type="number" name="rate" ng-model="InterestCalculate.RATE" id="rate" placeholder="Rate" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row" ng-if="InterestPageStart=='Y'">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                        Group<span style="color:red" ng-show="InterestCalcForm.acc.$invalid">
                                            <span ng-show="InterestCalcForm.acc.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <select id="accIdGroup" name="accIdGroup" kendo-multi-select k-options="groupAccOptions" k-ng-model="InterestCalculate.GROUP_CODES" class="acccode accmaster macccode c w-100"></select>
                                    </div>
                                </div>

                            </div>


                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                        Customer<span style="color:red" ng-show="InterestCalcForm.customer.$invalid">
                                            <span ng-show="InterestCalcForm.customer.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="customer" ng-model="InterestCalculate.CUSTOMER_CODE" name="customer" class="charge area mareasetup w-100" kendo-combo-box
                                               k-placeholder="'Enter Customer'"
                                               k-data-text-field="'CUSTOMER_EDESC'"
                                               k-data-value-field="'CUSTOMER_CODE'"
                                               k-filter="'contains'"
                                               k-auto-bind="true"
                                               k-options="customerOptions"
                                               k-suggest="false"
                                               k-data-source="customerDataSource"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row" ng-if="InterestPageStart=='Y'">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                        Company<span style="color:red" ng-show="InterestCalcForm.company.$invalid">
                                            <span ng-show="InterestCalcForm.company.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="companyCode" ng-model="InterestCalculate.COMPANY_CODE" name="company" class="acccode accmaster macccode c w-100" kendo-combo-box
                                               k-placeholder="'Select Company'"
                                               k-data-text-field="'COMPANY_EDESC'"
                                               k-data-value-field="'COMPANY_CODE'"
                                               k-filter="'contains'"
                                               k-auto-bind="true"
                                               k-suggest="false"
                                               k-options="companyOptions" required />
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                        Branch<span style="color:red" ng-show="InterestCalcForm.branch.$invalid">
                                            <span ng-show="InterestCalcForm.branch.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="branchCode" ng-model="InterestCalculate.BRANCH_CODE" name="branch" class="acccode accmaster macccode c w-100" kendo-combo-box
                                               k-placeholder="'Select Branch'"
                                               k-data-text-field="'BRANCH_EDESC'"
                                               k-data-value-field="'BRANCH_CODE'"
                                               k-filter="'contains'"
                                               k-auto-bind="true"
                                               k-suggest="false"
                                               k-options="branchOptions" required />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row" ng-if="InterestPageStart=='Y'">


                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    @*changed from col-lg4 to 3
                                        adding two date picker*@
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                        Apply Upto Date<span style="color:red" ng-show="InterestCalcForm.englishdate.$invalid">
                                            <span ng-show="InterestCalcForm.englishdate.$error.required">*</span>
                                        </span>
                                    </label>
                                    @* AA Change made to add  another date filter*@
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    @*<div class="row" >*@
                                    <input style="width:40%;" type="text" id="englishdatedocument6" class="englishdate" name="englishdate" ng-model="InterestCalculate.FROM_DATE" placeholder="From" kendo-date-picker k-options="uptodateSelectorOptions" required />
                                    &nbsp;
                                    <input style="width:40%;" type="text" id="englishdatedocument6" class="englishdate" name="englishdate" ng-model="InterestCalculate.TO_DATE" placeholder="To" kendo-date-picker k-options="uptodateSelectorOptions" required />

                                    @*</div>*@


                                </div>
                                </div>

                            </div>



                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <div class="col-sm-11 col-md-11 col-lg-11">
                                        <button type="button" id="calculateInterest" class="btn btn-sm btn-green pull-right" ng-click="calculateInterest()" data-toggle="tooltip" title="Calculate Intreset"><i class="fa fa-calculator"></i>Calculate</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <br />
                        <div class="row" ng-if="InterestCount=='Y'">

                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <kendo-grid id="kGrid" options="InterestGridOptions" k-rebind="InterestGridOptions">
                                    <div k-detail-template>
                                        <kendo-tabstrip>
                                            <ul>
                                                <li class="k-state-active">Detail information</li>

                                            </ul>
                                            <div>
                                                <div class="orders" kendo-grid k-options="detailGridOptions(dataItem)"></div>
                                            </div>

                                        </kendo-tabstrip>
                                    </div>
                                </kendo-grid>
                            </div>


                        </div>
                        <br />
                        <div class="row" ng-if="InterestCount=='Y'">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                        Document<span style="color:red" ng-show="InterestCalcForm.document.$invalid">
                                            <span ng-show="InterestCalcForm.document.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="document" ng-model="InterestImpactCalc.FORM_CODE" name="document" class="acccode accmaster macccode c w-100" kendo-combo-box
                                               k-placeholder="'Select Document'"
                                               k-data-text-field="'FORM_EDESC'"
                                               k-data-value-field="'FORM_CODE'"
                                               k-filter="'contains'"
                                               k-auto-bind="true"
                                               k-suggest="false"
                                               k-options="docCodeOption"
                                               k-min-length="2" required />
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                        Interest Ledger<span style="color:red" ng-show="InterestCalcForm.ledger.$invalid">
                                            <span ng-show="InterestCalcForm.ledger.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="account" ng-model="InterestImpactCalc.LEDGER_CODE" name="ledger" class="acccode accmaster macccode c w-100" kendo-combo-box
                                               k-placeholder="'Select Account'"
                                               k-data-text-field="'ACC_EDESC'"
                                               k-data-value-field="'ACC_CODE'"
                                               k-filter="'contains'"
                                               k-auto-bind="true"
                                               k-suggest="false"
                                               k-options="accOptions" required />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row" ng-if="InterestCount=='Y'">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                        Account<span style="color:red" ng-show="InterestCalcForm.account.$invalid">
                                            <span ng-show="InterestCalcForm.account.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="account" ng-model="InterestImpactCalc.ACCOUNT_CODE" name="account" class="acccode accmaster macccode c w-100" kendo-combo-box
                                               k-placeholder="'Select Account'"
                                               k-data-text-field="'ACC_EDESC'"
                                               k-data-value-field="'ACC_CODE'"
                                               k-filter="'contains'"
                                               k-auto-bind="true"
                                               k-suggest="false"
                                               k-options="accOptions" required />
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 col-md-4 col-lg-4">
                                        Voucher Date<span style="color:red" ng-show="InterestCalcForm.voucherdate.$invalid">
                                            <span ng-show="InterestCalcForm.voucherdate.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-7 col-md-7 col-lg-7">
                                        <input style="width:100%;" type="text" id="englishdatedocument6" class="voucherdate" name="voucherdate" ng-model="InterestCalculate.UPTO_DATE" kendo-date-picker k-options="voucherdateSelectorOptions" required disabled />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row" ng-if="InterestCount=='Y'">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                        Company<span style="color:red" ng-show="InterestCalcForm.company.$invalid">
                                            <span ng-show="InterestCalcForm.company.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="account" ng-model="InterestCalculate.COMPANY_CODE" name="company" class="acccode accmaster macccode c w-100" kendo-combo-box
                                               k-placeholder="'Select Company'"
                                               k-data-text-field="'COMPANY_EDESC'"
                                               k-data-value-field="'COMPANY_CODE'"
                                               k-filter="'contains'"
                                               k-auto-bind="true"
                                               k-suggest="false"
                                               k-options="companyOptions"  />
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                        Branch<span style="color:red" ng-show="InterestCalcForm.branch.$invalid">
                                            <span ng-show="InterestCalcForm.branch.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="account" ng-model="InterestCalculate.BRANCH_CODE" name="branch" class="acccode accmaster macccode c w-100" kendo-combo-box
                                               k-placeholder="'Select Branch'"
                                               k-data-text-field="'BRANCH_EDESC'"
                                               k-data-value-field="'BRANCH_CODE'"
                                               k-filter="'contains'"
                                               k-auto-bind="true"
                                               k-suggest="false"
                                               k-options="branchOptions"  />
                                    </div>
                                </div>

                            </div>
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="row" ng-if="InterestCount=='Y'">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3 col-lg-3">
                                        TDS<span style="color:red" ng-show="InterestCalcForm.branch.$invalid">
                                            <span ng-show="InterestCalcForm.branch.$error.required">*</span>
                                        </span>
                                    </label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="chargeledger" ng-model="InterestImpactCalc.CHARGE_ACCOUNT_CODE" name="chargeledger" class="acccode accmaster macccode c w-100" kendo-combo-box
                                               k-placeholder="'Select Account'"
                                               k-data-text-field="'ACC_EDESC'"
                                               k-data-value-field="'ACC_CODE'"
                                               k-filter="'contains'"
                                               k-auto-bind="true"
                                               k-suggest="false"
                                               k-options="ChargeAccOptions"
                                               @*k-min-length="3" required*@ />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12" ng-if="InterestCount=='Y'">
                                <button type="button" id="gridbindSearch" class="btn btn-sm btn-green pull-right" style="margin-bottom:5px;" ng-click="interestImpact()" data-toggle="tooltip" title="Search list"><i class="fa fa-search"></i>Impact</button>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12 col-sm-12 col-lg-12" ng-if="InterestLogCount=='Y'">
                                <kendo-grid id="kLogGrid" options="InterestLogGridOptions" k-rebind="InterestLogGridOptions">
                                </kendo-grid>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12" ng-if="InterestLogCount=='Y'">
                                <div class="form-group">
                                    <div class="col-sm-11 col-md-11 col-lg-11">
                                        <button type="button" id="ReloadPage" class="btn btn-sm btn-green pull-right" ng-click="reloadPage()" data-toggle="tooltip" title="Reload Page"><i class="fa fa-refresh"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="@Scripts.Url("~/JS/reportFilter.js?V1")"></script>
    <script src="@Scripts.Url("~/JS/DateFilter.js?V9")" type="text/javascript"></script>
</form>
<div id="SalesPrintWindow" class="modal prettyprint" tabindex="-1" aria-labelledby="SalesPrintWindow" role="dialog">
    <div class="modal-dialog" id="SalesPrintWindow-dialog">
        <div class="modal-content">
            <form name="SalesReturnPrintForm" id="SalesReturnPrintForm" novalidate>
                <div class="modal-body" id="SalesPrintFormBody">

                </div>
                <div class="modal-footer">
                    <a onclick="printDiv('SalesPrintFormBody')" class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> Print
                    </a>
                    <a class="btn btn-sm btn-default" id="cancelPrint" @*ng-click="cancelPrint(event)*@ @*onclick="cnlPrint()"*@ data-dismiss="modal">Cancel Print</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script id="InterestCalcPrintTemplate" type="text/x-kendo-template">
    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PrintTemplate/InterestCalcPT/_interestCalcPrintTemplate.cshtml")
</script>
<script>
    function printDiv(divName) {

        var printContents = document.getElementById(divName).innerHTML;
        //  alert(printContents);

        var popupWin = window.open('', '_blank', 'width=750,height=650,top=0,left=10,toolbars=no,scrollbars=yes,status=no,resizable=yes');
        popupWin.document.open();

        popupWin.document.write('<html><head><title>Print Interest Calculation</title>');
        popupWin.document.write('<style type="text/css">' + 'table th, table td {' + 'border:1px solid #000;' + '}' + '</style>');
        popupWin.document.write('<link rel="stylesheet" type="text/css" href="/Content/printInterestCalc.css" />');
        popupWin.document.write('</head><body onload="window.print()"><div class="container">' + printContents + '</div></body></html>');
        popupWin.document.close();

    }
</script>
