@{
    Layout = null;
}
<style>

    .multiselect-parent .dropdown-toggle {
        width: 150px;
    }

    .multiselect-parent .dropdown-menu {
        width: 200px;
    }

    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }

    .k-splitbar.k-splitbar-horizontal {
        width: 5px;
    }
    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }


    .bodyController {
        margin-top: 4px;
    }



    .main .k-widget.k-dropdown.k-header {
        min-height: 22px !important;
    }

    .main .k-dropdown-wrap.k-state-default {
        min-height: 24px !important;
        font-size: 11px;
    }



    .k-splitter .k-scrollable {
        overflow-y: hidden !important;
    }

    .k-scrollable .k-widget.k-treeview {
        max-height: 444px;
        overflow: auto !important;
    }

    .k-i-calendar {
        margin-top: -10px;
    }

    span.k-icon.k-i-warning {
        display: none;
    }

    .calendar-icon-2 {
        top: 24px !important;
    }


    #grid .k-grid-toolbar {
        padding: .6em 1.3em .6em .4em;
    }

    .category-label {
        vertical-align: middle;
        padding-right: .5em;
    }

    #category {
        vertical-align: middle;
    }

    .refreshBtnContainer {
        display: inline-block;
    }

    .toolbar {
        float: right;
    }
</style>
<form id="InterestCalcForm" name="InterestCalcForm" novalidate>
    <div class="row" id="interestCalcCtrl">

        <div class="col-md-12">

            <div class="portlet light form-fit bordered bottomspance">
                <div class="portlet mingap">

                    <div class="portlet-title">

                        <div class="caption caption-title ng-binding">
                            <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Home/Dashboard">
                                <i class="fa fa-arrow-circle-left"></i>
                            </a>
                            <i class="fa fa-gift font-green-haze"></i>
                            <span class="caption-subject font-green-haze bold uppercase">Interest Calculation Log</span>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-offset-8 col-md-3 search_box">
                                <div>

                                    <input class="k-textbox txtSearchString" type="text" id="itemtxtSearchString" ng-model="txtSearchString" name="search" placeholder="enter search text..." style="margin-left: 13px;" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">

                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <kendo-grid id="kLogGrid" options="InterestLogGridOptions" k-rebind="InterestLogGridOptions">
                                </kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $(".topsearch").hide();
        $("#itemtxtSearchString").keyup(function () {
            var val = $('#itemtxtSearchString').val();
            $("#kLogGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    //{
                    //    field: "INTEREST_LOG_CODE",
                    //    operator: "contains",
                    //    value: val
                    //},
                    {
                        field: "CUSTOMER_EDESC",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "GENERATED_DATE",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "CREATED_DATE",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "VOUCHER_NO",
                        operator: "contains",
                        value: val
                    },
                    {
                        field: "VOUCHER_DATE",
                        operator: "contains",
                        value: val
                    }
                ]
            });


        });
    });

</script>
