.navbar-brand img {
    max-width: 100%;
    width: 92px;
    float: left;
    padding: 0;
    margin: 0 -10px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px !important;
    font-size: 0px !important;
    line-height: 0px !important;
}

li.logout-user a:before {
    content: "\f08b";
    font-family: FontAwesome;
    padding-right: 4px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .custom-drop {
    margin-right: 3px !important;
    min-width: 171px !important;
    width: 171px !important;
}

span.k-item-k-wrap:before {
    content: "\f079";
    font-family: FontAwesome;
    padding-right: 11px;
    color: #6b605b !important;
    margin-left: -2px;
}

#header_inbox_bar a {
    padding: 17px 10px 9px !important;
}

li.k-item.k-state-default.k-last {
    border-width: 1px 0 0;
}

.custom-drop {
    padding-left: 5px;
    padding-left: 5px;
}

    .custom-drop li {
        padding-bottom: 5px;
        padding-top: 10px;
    }

    .custom-drop span {
        display: block;
        margin-left: 24px;
        font-size: 13px !important;
        font-weight: normal;
        color: #555 !important;
        font-family: "Open Sans",sans-serif !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    .custom-drop li.logout-user a {
        font-family: "Open Sans",sans-serif !important;
        font-size: 13px !important;
        color: #555 !important;
        font-weight: normal !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    .custom-drop i {
        float: left;
    }

li.logout-user a::before {
    padding-right: 12px !important;
}

.border-buttom {
    border: solid;
    border-width: 1px 0px 0px !important;
    border-color: #f1f3f6;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a {
    font-size: 14px;
    font-weight: 300;
    padding-left: 3px;
}

.page-quick-sidebar-open .page-quick-sidebar-toggler {
    display: none !important;
}

.page-content-wrapper .page-content {
    padding: 7px 20px 10px 20px !important;
}

.sub-menu.CalendarReportSubMenu li > a {
    font-size: 12px !important;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
}

    #search.open {
        -webkit-transform: translate(0px, 0px) scale(1, 1);
        -moz-transform: translate(0px, 0px) scale(1, 1);
        -o-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1);
        opacity: 1;
        z-index: 5000 !important;
    }

    #search input[type="search"] {
        position: absolute;
        top: 50%;
        width: 100%;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0);
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }

    #search .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 61px;
        margin-left: -45px;
    }

    #search .search-close {
        background-color: green;
        border-color: green;
        font-size: 21px;
        opacity: 1;
        padding: 0px 8px;
        position: fixed;
        right: 15px;
        top: 54px;
        color: #fff;
        border: solid green;
    }

.search-input a {
    display: inline-table;
}

.search-icon {
    color: #555555;
}

    .search-icon i:hover {
        color: forestgreen;
    }


.form-wizard .steps {
    padding: 10px 0;
    margin-bottom: 15px;
}

    .form-wizard .steps, .form-wizard .steps > li > a.step {
        background-color: #fff;
        background-image: none;
        border: 0;
        box-shadow: none;
        filter: none;
    }
/* loader css*/
.busy-loader {
    height: 150%;
    width: 100%;
    display: none;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.41);
    z-index: 999;
}

.preloader {
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: rgba(0,0,0,0.81);
    width: 23px;
    height: 23px;
}

.loader {
    border: 10px solid #f2f2f2;
    border-radius: 50% !important;
    border-top: 10px solid #3d807c;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 25%;
    left: 50%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




 .transaction input.form-control
    {
        height:14px;
        padding:4px !important;
        font-size:11px;

    }  
    .transaction label
       {
  font-size:12px;
       }
       .transaction .k-pane h3
       {
           padding:0px !important;
           margin-top:5px;
           margin-bottom:5px;
       }
       .setuptable th
       {
           font-size:12px !important; 
           padding:4px !important;
       }
          .setuptable td{
              padding:0px !important;
          }
      .setuptable input{
          
          border:1px solid #fff !important;
          font-size:11px;
          width:auto !important;
          padding:0 4px !important;
          height:23px;
         }
      .transactionsetup input
      {
          width:100% !important;
      }

     .setuptable input:focus
       {
           border:solid #333 1px !important;
       }
       .delete_icon
       {
           padding-left:10px;
       }
           .transaction .k-splitter 
           {
               margin-bottom:10px;
           }
           .transaction .k-pane
           {
               margin-top:10px;
           }

         .transaction .portlet.light > .portlet-title
         {
             min-height:auto !important;
         }
     
       .transaction .k-dropdown-wrap.k-state-default {
    height: 21px;
    padding: 0px 4px !important;
    font-size: 11px;
}

   /*.setuptable thead, .setuptable tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}*/
 .setuptable tbody tr 
 {
     border-bottom:none !important;
 }

 .setuptable th{
     border:solid #ddd 1px;
     border-top:1px solid #ddd !important;
   
     border-bottom:1px !important;
 }
  .setuptable thead
  {
      border-bottom:solid #ddd 1px !important;
  }
  .transactionsetup td
  {
      border-top:none !important;
      border:solid #ddd 1px;
  }
 
.sn
{
    width:1.7%;
}
td.sn,td.serial_no,.setuptable .input-mini{
    padding-left:4px !important;
}
  .category
  {
width:5%;
  }
     .l_amout
     {
width:5%;
     }
   .e_date
   {
width:3%;
   }
      .expirey_date
      {
width:3%;
      }
       .remarks
       {
width:5%;
       }
  .add_btn
  {
width:0.2%;
  }

  .setuptable .k-dropdown-wrap.k-state-default {
    background-color: #ffffff;
    background-image: none;
    border: medium none;
}
   .setuptable  .k-icon
   {
       display:none;
   }
      .setuptable k-state-focused
      {
          border:solid #333 1px;
      }
 .mt-radio-inline label.mt-radio
    {
        margin-right:15px !important;
    }

.serial_no
{
width:1%;
}
  .contact_person
  {
      width:3%;
  }
  .mobile_no
  {
      width:2.6%;
  }
 .telephone_no
 {
     width:3%;
 }
 .desination
 {
     width:3%;
 }
.remark
{
    width:3%;

}
.button_add
{
    width:0.3%;
}
 
.ContactTable input {
    width: 97.8% !important;
    /*padding-left:4px !important;
    padding-right:0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;*/
    padding:0px 0px 0px 1px !important
}
.detailsbox th{
    font-size:12px !important;
}
.detailsbox td{
   font-size:12px !important;
}
.consumpiton_issue input
{
    height:24px !important;
    font-size:11px;
}