<div ng-controller="appuserCtrl" id="appuserCtrl">
    <label for="element" class="control-label col-sm-3 col-md-3 col-lg-3">User: @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Select User"></i>*@</label>
    <div class="col-sm-9 col-md-9 col-lg-9">
        <input id="appuser" ng-model="saveAsDraft.TEMPLATE_ASSIGNEE" name="appuser" class="appuser"  kendo-drop-down-list
               k-placeholder="'Select User'"
               k-data-text-field="'LOGIN_EDESC'"
               k-data-value-field="'USER_NO'"
               k-option-label="'Select User'"
               k-data-source="userDataSource" />
    </div>
    </div>
