<style>
    #productModal .modal-header {
        padding: 10px !important;
        background-color: #eee;
    }


    #productModal .k-icon {
        display: inline-block;
    }



    #productTreeViewdocument {
        width: 40%;
        float: left;
        margin-right: 20px;
    }



    .verticalLine {
        border-left: solid #ddd 1px;
    }

    .k-group.k-treeview-lines {
        max-height: 230px !important;
    }


    #productGrid {
        font-size: 9px;
        /*height: 345px !important;*/
    }



    #topsearch input {
        margin: 3px;
        height: 27px !important;
        margin-top: 0px;
    }

    .show-displaygrid {
        display: none;
    }


    .btn-linkicon:hover {
        background-color: #ccc;
    }



    .customcolumn-one {
        width: 27%;
    }

    .columnbg {
        background-color: #eee;
    }

    .customcolumn-two {
        width: 73%;
    }

    .topsearch {
        margin-right: 51px;
    }



    #products-list li {
        /*border-bottom: solid #ded5d5 1px;*/
    }


    input #filterText.form-control {
        border: solid #ddd 1px !important;
    }

    #producttree ul li {
        font-size: 12px;
    }


    .search-grid table tr {
        display: table-row !important;
    }

    .topsearch1 {
        margin-right: 42px !important;
        display: block;
    }

    #topsearch1 input {
        margin: 3px;
        height: 27px !important;
        margin-top: 0px;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: red;
        opacity: 0.5;
    }

    div.k-treeview {
        overflow-y: scroll !important;
    }
</style>

<div ng-controller="itemCtrl" id="itemCtrl">
    <div class="input-group">
        <input id="products_{{key}}" ng-model="childModels[key][item.COLUMN_NAME]" name="products" class="cproducts  products c cproduct_{{key}} " kendo-combo-box
               k-placeholder="'Select Product Code'"
               k-data-text-field="'ItemDescription'"
               k-data-value-field="'ItemCode'"
               k-filter="'contains'"
               k-auto-bind="false"
               k-on-change="SetMuCode(key,kendoEvent)"
               k-suggest="false"
               product-index="{{key}}"
               k-options="ItemCodeOption"
               k-min-length="3" />
        <span class="input-group-addon addon-iconbox" style="cursor:pointer" ng-click="BrowseTreeListForProducts(key)">
            <i class="fa fa-search" data-toggle="tooltip" title="Search product"></i>
            @*<i class="fa fa-cart-arrow-down"></i>*@

        </span>
    </div>
    <div class="modal fade-out" id="productModal_{{key}}" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog  modal-dialog-box w-900">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab title="Close"></button>
                    <h4 class="modal-title">
                        <span class="fa fa-list-ul"></span>
                        Product TreeView
                    </h4>
                </div>

                <div class="modal-body modal-dialogbox-body">
                    <div class="row">
                        <div class="col-md-5 mingapright customcolumn-one columnbg">
                            <input id="productfilterText_{{key}}" name="search" class="form-control productfilterText filterText" type="text" placeholder="Search categories" />
                            <div id="producttree_{{key}}" kendo-tree-view="tree"
                                 k-data-source="treeData"
                                 k-options="options"
                                 k-data-bound="onDataBound">
                                <span k-template>
                                    {{dataItem.itemName}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-7 customcolumn-two mingapleft">
                            <div class="expand verticalLine">
                                <div class="row">
                                    <div class="col-md-offset-8 col-md-4 search_box">
                                        <div class="topsearch1">
                                            <a class="btn-linkicon fa fa-search" ng-click="BindSearchGrid()" title="Search list"></a>
                                            <input class="form-control k-textbox productSearchString txtSearchString" type="text" id="productSearchString_{{key}}" ng-model="txtSearchString" name="search" placeholder="enter search text..." />

                                        </div>
                                    </div>
                                </div>
                                <kendo-grid id="productGrid_{{key}}" options="productGridOptions" k-rebind="productGridOptions" class="search-grid">

                                </kendo-grid>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" title="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".k-list").slimScroll({
                position: 'right',
                //alwaysVisible: false,
                //height: '350',
            });
        }, 100)
    });

    $(".productfilterText").keyup(function (e) {
        var mi = document.popupindex;
        var filterText = $(this).val();
        var value = filterText.substring(0, 1).toUpperCase() + filterText.substring(1);
        if (value !== "") {
            $(".selectAll").css("visibility", "hidden");

            $("#producttree_" + mi + " .k-group .k-group .k-in").closest("li").hide();
            $("#producttree_" + mi + " .k-group").closest("li").hide();
            $("#producttree_" + mi + " .k-group .k-group .k-in:contains(" + value + ")").each(function () {
                $(this).parents("ul, li").each(function () {
                    var treeView = $("#producttree_" + mi).data("kendoTreeView");
                    treeView.expand($(this).parents("li"));
                    $(this).show();
                });
            });
            $("#producttree_" + mi + " .k-group .k-in:contains(" + value + ")").each(function () {
                $(this).parents("ul, li").each(function () {
                    $(this).show();
                });
            });
        }
        else {
            $("#producttree_" + mi + " .k-group").find("li").show();
            var nodes = $("#producttree_" + mi + " > .k-group > li");

            $.each(nodes, function (i, val) {
                if (nodes[i].getAttribute("data-expanded") == null) {
                    $(nodes[i]).find("li").hide();
                }
            });
            $(".selectAll").css("visibility", "visible");
        }
    });

    $(".productSearchString").keyup(function () {

        var mi = document.popupindex;
        var val = $(this).val();
        var grid = $("#productGrid_" + mi).data("kendoGrid");
        if (grid != undefined) {
            var tempServerFilter = grid.dataSource.options.serverFiltering;
            grid.dataSource.options.serverFiltering = false;
            var filter = [];
            $.each(grid.columns, function (i, v) {

                if (v.field != undefined) {
                    var searchText = $.trim($("#productSearchString_" + mi).val());
                    var model = grid.dataSource.options.schema.model.fields[v.field];
                    var type = "string";
                    if (model != undefined)
                        type = model.type;
                    if (type === "string")
                        filter.push({ field: v.field, operator: "contains", value: searchText });
                    else if (type === "string")
                        filter.push({ field: v.field, operator: "eq", value: searchText });
                    else if (type === "string") {
                        var dateValue = new Date(searchText);
                        searchText = dateValue == "Invalid Date" ? searchText : dateValue;
                        filter.push({ field: v.field, operator: "eq", value: searchText });
                    }
                }

            });
            var filter = {
                logic: "or",
                filters: filter,
            }

            grid.dataSource.filter(filter);

            if ($("#productSearchString_" + mi).val().length == 0)
                grid.dataSource.filter([]);
            grid.bind("dataBound", function () {
                grid.dataSource.options.serverFiltering = tempServerFilter;
            });
        }
    });
</script>
