<style>
    .k-multiselect-wrap.k-floatwrap {
        height: auto !important;
    }
</style>

<div class="content">
    <div class="portlet light bordered">
        <div class="portlet-title titleheading">
            <span class="caption-subject font-green bold uppercase pull-left">
                <i class="fa fa-list-alt"></i>
                Edit Purchase Order
            </span>
            <span class="pull-right">
                <button type="submit" id="savePO" name="saveAreaCreate" ng-click="SavePO()" class="btn btn-success btn-sm">Update</button>
            </span>
        </div>
        <div class="portlet-body form">
            <div class="row">
                <form name="POForm" id="POForm" novalidate>
                    <div class="col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="orderNumber">
                                        Order Number
                                    </label>
                                    <input id="orderNumber" name="orderNumber"ng-model="PO.ORDER_NO" class="form-control input-sm" placeholder="Order Number" disabled />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="customerName">
                                        Customer
                                    </label>
                                    <input id="customerName" name="customerName" ng-model="PO.CUSTOMER_EDESC" class="form-control input-sm" placeholder="Customer" disabled />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="salesPerson">
                                        Sales Person
                                    </label>
                                    <input id="salesPerson" name="salesPerson"ng-model="PO.EMPLOYEE_EDESC" class="form-control input-sm" placeholder="Sales Person" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-bordered table-hover">
                                <thead class="table-info font-green">
                                    <tr>
                                        <td class="col-md-5">Item</td>
                                        <td class="col-md-2">Req. Unit</td>
                                        <td class="col-md-1">Req. Qty</td>
                                        <td class="col-md-1">Unit Price</td>
                                        <td class="col-md-1">Total Price</td>
                                        <td class="col-md-1">
                                            <button ng-click="AddItem()" class="btn btn-xs btn-success pull-right">
                                                [<i class="fa fa-plus"></i>] Add
                                            </button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in PO.ITEMS">
                                        <td>
                                            <select name="itemCode" id="itemCode" k-ng-model="item.ITEM_CODE" class="itemList"
                                                    k-value-primitive="true" kendo-multi-select style="width:100%;"
                                                    k-on-change="ChangeItem($index)" slim-scroll
                                                    k-options="ItemsDDL" required></select>
                                        </td>
                                        <td>{{item.MU_CODE}}</td>
                                        <td>
                                            <input type="text" ng-model="item.QUANTITY" ng-change="Calculate($index)" class="form-control input-sm" />
                                        </td>
                                        <td>
                                            <input type="number" ng-model="item.UNIT_PRICE" ng-disabled="item.disabled" ng-change="Calculate($index)" class="form-control input-sm" />
                                        </td>
                                        <td>{{item.TOTAL_PRICE}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>