
<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function () {
            var urltest = window.location.protocol + "//" + window.location.host + "/Api/MainControl/AllMailList";
            
            $("#grid").kendoGrid({

                dataSource: {
                    dataType: "json",
                    type: "POST",
                    transport: {
                        read: urltest
                    },
                    pageSize: 20
                },

                height: 550,
                sortable: true,
                filterable: {
                    extra: false,
                    operators: {
                        string: {
                            contains: "Contains",     
                        },
                    }
                },
                resizable: true,
                pageable: true,
                groupable:true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    //template: "<div class='customer-photo'" +
                    //                "style='background-image: url(../content/web/Customers/#:data.CustomerID#.jpg);'></div>" +
                    //            "<div class='customer-name'>#: ContactName #</div>",
                    field: "MESSAGE_QUEUE_CODE",
                    title: "Massage Code",
                    width: "90px"
                },
                {
                    field: "GUID",
                    title: "Guid",
                    width: "150px"
                },
                {
                    field: "EMAIL_TO",
                    title: "Email ID",
                    width:"150px"
                },
                {
                    field: "EMAIL_BCC",
                    title: "Email BCC",
                    width:"90px",
                },
                {
                    field: "EMAIL_CC",
                    title: "Email CC",
                    width:"90px",
                },
                  {
                      field: "ATTACHMENT_FLAG",
                      title: "Attachment Flag",
                      width: "90px"
                  },
                   {
                       field: "MESSAGE_FLAG",
                       title: "Message Flag",
                       width: "90px"
                   },
                   {
                       field: "CREATED_BY",
                       title: "Created By",
                       width:"90px",
                   },
                    {
                        field: "CREATED_DATE",
                        title: "Created Date",
                        width: "90px"
                    },
                     {
                         field: "MODIFY_BY",
                         title: "Modify By",
                         width: "90px"
                     },
                      {
                          field: "MODIFY_DATE",
                          title: "Modify Date",
                          width: "90px",
                      },
                       {
                           field: "MESSAGE",
                           title: "Message",
                           width: "90px",
                       },

                {
                    field: "SUBJECT",
                    title:"Subject",
                    width: "90px",
                }]
            });
        });
    </script>
</div>