@model string
<div class="form_header">
    <header>
        <h3>@Html.Raw(ViewBag.Title)</h3>
    </header>
</div>
@{
    string repName = ViewBag.ReportName;
    if (repName == null)
    {
        repName = ViewContext.RouteData.Values["action"].ToString();
    }
}


<div class=" clear seperator"></div>
<div class="">
    <span class="btn-toolbar" style="float:left">
        @if (ViewBag.Create != null && ViewBag.Create != string.Empty)
        {
            <a href="@Url.Action(ViewBag.Create, new { id = Model })" class="btn btn-primary1"><i class='fa fa-plus'></i> Add New</a>
        }
    </span>
    <span style="float:left; margin-left:1px; margin-bottom:0px;background-color:#EEE;">
        @Html.Raw(@Html.ActionLink("[replacetext]", "Export", ViewContext.GetCombinedRouteValues(new { }), new Dictionary<string, object> { { "class", "btn btn-primary1" } }).ToHtmlString().Replace("[replacetext]", "<i class='fa fa-file-excel-o'></i> Export"))
    </span>
    <div class="clear"></div>
</div>

<div class="seperator"></div>