<input type="hidden" id="ViewBagID" value="@ViewBag.id" />
<a id="dlink" style="display:none;"></a>
<input type="hidden" id="id" name="id" />
<input type="hidden" id="Sel" name="Sel" />

@Scripts.Render("~/bundles/js")

<script>

    function SetGridHeight() {
        var div_print = $("#div_print").length;
        if (div_print == 1) {
            var profile = $("#profileheader").height();
            profile = profile != null ? profile + 15 : 0;
            $('.scroll').height($(window).height() - $('.header-cont').height() - profile - 115);
        }
    }
    SetGridHeight();
    AddThead();

</script>
