@{
    if (TempData["message"] != null || TempData["error"] != null)
    {
        <div id="successMessage">
            <div class="alert-success">
               
                @ViewBag.Result
                @TempData["message"]
            </div>

            <div class="error">
                @if(TempData["error"]!=null)
                { 
                    <strong>Errors:<br /></strong>
                    @TempData["error"]
                }
            </div>
        </div>
    }
}