@{
    Layout = null;
}
<style>
    .btnadd {
        margin-top: 2px;
        float: right;
        margin-right: 5px !important;
    }

    div.k-treeview {
        overflow: unset !important;
    }

    .addcolor {
        color: #ffffff;
    }
</style>

<div class="portlet box green-box main"  ng-controller="purchaseReport">
    <item></item>
    <div class="portlet-title">
        <div class="caption">
            <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/ProjectManagement/Home/Dashboard">
                <i class="fa fa-arrow-circle-left"></i>
            </a>
            <i class="icon-pin"></i>
            <span class="caption-subject bold uppercase">Purchase Report</span>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <div class="col-md-2">
                <!-- Take up 8 columns for the search box -->
                <div class="search_box">
                    <div class="topsearch" style="display:block;">
                        @*<a class="btn-linkicon fa fa-search" style="margin-right: -13px;" ng-click="BindGrid('All')"></a>*@
                        <input class="k-textbox txtSearchString" type="text" id="itemtxtSearchString" ng-model="txtSearchString" name="search" placeholder="Search" style="width: 100%;" />
                    </div>
                </div>
            </div>
        </div>

        <div id="kGrid"></div>

    </div>
</div>
