
@{
    ViewBag.Title = "Configuration";
    Layout = "~/Areas/NeoERP.ProjectManagement/Views/Shared/_Layout.cshtml";
}

<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }

    .green-box .k-grid-header {
        display: none;
    }

    table.k-selectable tbody td {
        font-size: 11px;
    }

    .green-box .k-grid {
        height: 447px !important;
        border: none !important;
    }

    .k-grid-content.k-auto-scrollable {
        height: 453px !important;
    }
</style>
<script src="@Scripts.Url("~/Areas/NeoERP.ProjectManagement/js/controller/Configuraton.js")"></script>
@*<div class="content">
        <div class="page-bar">
            <ul class="page-breadcrumb"></ul>
        </div>
    </div>*@
<div class="col-md-12">

    <div id="splitter" ng-app="configuration" ng-controller="Configuraton">
        <div id="pane1">
            <div class="portlet box green-box">
                <div class="portlet-title">
                    preference
                </div>

                <div class="portlet-body">
                    <label>Show Advance Search</label>


                    <input type="checkbox" name="name" ng-model="Configuration.ShowAdvanceSearch"> Yes <br>
                    <label>Show Advance Auto Complete</label>

                    @*<input type="text" name="address" ng-model="Configuration.ShowAdvanceAutoComplete" />*@

                    <input type="checkbox" name="address" ng-model="Configuration.ShowAdvanceAutoComplete"> Yes <br>

                    <input type="button" value="Save" ng-click="SaveConfiguration()" class="btn btn-primary" />

                    <br />


                </div>
            </div>
        </div>


    </div>

</div>
<script src="@Scripts.Url(" ~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>


