
@{
    ViewBag.Title = "FrequencySetup";
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
    var appurl = string.Format("~/areas /{0}/js/module/planningModule.js", myAreaName);

}
<style>


    div.dataTables_length select {
        width: 45px;
    }

    div.dataTables_filter input {
        width: 15em;
        height: 1.5em;
    }

    .size {
        padding: 20px;
    }
</style>
<div class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                    <i class="fa fa-home"></i>
                    <a href="/Distribution/Home/Dashboard#!Distribution/">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Group Setup</a>
                    <i class="fa fa-angle-right"></i>
                </li>*@
        </ul>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
      
        <div class="portlet light bordered mingap">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">Frequency SETUP: {{pageName}}</span>

                </div>
                <div class="actions pull-right">
                    <button type="button" class="btn default btn-sm btn-circle" ng-click="cancel()"><i class="fa fa-times"></i> Cancel</button>
                    <button ng-click="addfreq(freqform.$valid)" type="button" class="btn btn-green btn-sm btn-circle">
                        <i class="fa fa-check"></i> Save
                    </button>
                </div>

            </div>
            <div class="portlet-body form pform-box">
                <!-- BEGIN FORM-->
                <form action="#" class="horizontal-form" name="freqform" novalidate>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="freqname" class="control-label">
                                        <input type="hidden" ng-model="TIME_FRAME_CODE" name="TIME_FRAME_CODE" />
                                        Frequency Name<span style="color:red" ng-show="freqform.freqname.$invalid">
                                            <span ng-show="freqform.freqname.$error.required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" id="freqname" name="TIME_FRAME_EDESC" ng-model="TIME_FRAME_EDESC" class="form-control" required>
                                    <span style="color:red" ng-show="freqform.freqname.$touched">
                                        <span ng-show="freqform.freqname.$error.required">This field is required.</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->

                <div class="row">
                    <div class="col-md-12">
 
                            <div class="tblresponsive">
                              
                                    <table class="table table-striped table-bordered table-hover" datatable="ng" dt-options="dtOptions" id="frequency">
                                        <thead>
                                            <tr>
                                                <th>S.N.</th>
                                                <th>Frequency Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="items in frequencies">
                                                <td>{{$index +1}}</td>
                                                <td>{{items.TIME_FRAME_EDESC}}</td>
                                                <td>
                                                    <a ng-click="getfreqByCode(items);"><i class="fa fa-edit text-warning"></i></a>
                                                    <a ng-click="deletefreqByCode(items.TIME_FRAME_CODE)"><i class="fa fa-trash danger"></i> </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            
                            </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Scripts.Url(" ~/Areas/NeoERP.Planning/js/controller/PlanningMenuNavigation.js")"></script>