@{
    ViewBag.Title = "SubPlan";
    Layout = null;
    string planCode = ViewBag.planCode;
}
<style>
    .deactive {
        border: 1px dashed red !important;
    }

    #SubPlanTreeView td input, #PlanSetupTreeList td input {
        width: 96% !important;
        height: auto !important;
        /* border: none !important; */
        background: none !important;
        font-size: 11px !important;
    }

    .k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default {
        background-color: #fafafa;
    }

    #GenerateSubPlan {
        margin: 2px;
    }

    .form-md-radios > label {
        color: #101010;
    }
    tr.amountRow {
        /*font-size: 9px;*/
        font-style: normal;
        font-weight: 100 !important;
    }

    th {
        font-weight: normal;
    }
</style>
<div class="col-md-12">
    <div class="portlet light form-fit bordered">
        <div class="portlet-title titleheading">
            <span class="caption-subject font-green bold uppercase text-center" style="text-align:center">
                <i class="fa fa-list-alt"></i>
                {{pageName}}
            </span>
            <span class="pull-right">
                <button type="button" id="cancelSubplan" ng-click="Cancel()" class="btn btn-default btn-sm">Cancel</button>
                <button type="button" id="ViewGrid" ng-click="ViewGrid()" class="btn btn-primary btn-sm">View</button>
            </span>
        </div>
        <div class="customdesign row portlet-body" id="operationContent" ng-cloak>
            <form id="generateplan" name="generateplan">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Choose Product Plan Name
                            </label>
                            <input id="planName" name="planName" style="width: 100%;" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Sub Plan Name
                            </label>
                            <input type="text" id="subplanName" class="form-control input-sm" name="subplanName" required />
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="form-group form-md-radios">
                            <label class="control-label">Choose Header</label>
                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    <input type="radio" id="frequencyradio" name="radio" class="sm-radiobtn" checked="">
                                    <label for="frequencyradio">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Frequency
                                    </label>
                                </div>
                                <div class="md-radio">
                                    <input type="radio" id="productradio" name="radio" class="sm-radiobtn">
                                    <label for="productradio">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Product Name
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">
                                Choose Sub Group
                            </label>
                            <input id="subgroup" name="subgroup" style="width: 100%;" required />
                        </div>
                    </div>

                    <input id="ChoosedSubGroup" name="ChoosedSubGroup" type="hidden" />
                    <input id="FrequencyLabel" name="FrequencyLabel" type="hidden" />
                    <input id="productPlanName" name="productPlanName" type="hidden" />
                    <input id="headertype" name="headertype" type="hidden" />
                    <div class="col-md-6">
                        <div class="form-group form-md-radios">
                            @*<div class="md-radio-inline" id="radiobutton" style="display:none">
                                    <div class="md-radio">
                                        <input type="radio" id="visibleradio" name="radios" class="sm-radiobtn" checked="">
                                        <label for="visibleradio">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            Visible Only
                                        </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="visiblewithnodesradio" name="radios" class="sm-radiobtn">
                                        <label for="visiblewithnodesradio">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            All Nodes
                                        </label>
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <div id="customerTreeView" style="max-height:400px;"></div>
                            </div>
                            <div class="form-group">
                                <div id="divisionTreeView" style="max-height:400px;"></div>
                            </div>
                            <div class="form-group">
                                <div id="employeeTreeView" style="max-height:400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="clearfix"><br /></div>
                        <div id="SubPlanTreeView"></div>
                        <button type="button" id="GenerateSubPlan" class="btn btn-primary pull-right">Generate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var code = '@planCode';
</script>
<script src="@Scripts.Url(" ~/Areas/NeoERP.Planning/js/SubPlan.js")" type="text/javascript"></script>
