
<style>
    .btnCustom {
        border-width: 0;
        font-size: 14px;
        outline: none !important;
        background-image: none !important;
        filter: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-shadow: none;
        color: #FFFFFF;
        background-color: #26a69a;
        padding: 7px 11px 7px 11px;
    }

    .modal-header {
        padding-top: 0px !important;
    }
</style>

<a class="btn btn-circle btn-icon-only btn-default" href="#filterModal" data-toggle="modal">
    <i class="fa fa-filter"></i>
</a>


<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row form-inline">
                    <div class="form-group col-md-10"></div>
                    <div class="form-group col-md-1">
                        <button type="button" class="btnCustom green fa fa-check" id="loadByFilterCalendarReport2" onclick="$('#RunQuery').trigger('click');" data-dismiss="modal"></button>
                    </div>
                    <div class="form-group col-md-1">
                        <button type="button" class="btnCustom green fa fa-times" data-dismiss="modal" aria-hidden="true"></button>
                    </div>
                </div>
                <h4 class="modal-title" id="filterModalLabel">Calendar Filter</h4>
            </div>
            <div class="modal-body">
                <div class="row form-inline">
                    <div class="form-group col-md-7">
                        @Html.Partial("~/Views/Shared/Controls/CalendarReportControls/_reportListFilter.cshtml")
                    </div>
                    <div class="form-group col-md-5">
                        Vertical Table Treeview goes here...
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">As on Date</label>
                        <div class="col-md-9">
                            @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" id="loadByFilterCalendarReport" data-dismiss="modal">Apply</button>
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function () {

            $("#reportListFilterButton").click(function () {
                //$("#filterTreeTabs").show();
                //activateTab('customerTab');
                $("#reportListTreeview").data("kendoTreeView").dataSource.bind("change",
                    $("#reportListTreeview").data("kendoTreeView").dataSource.read()
                );
            });

        });

    </script>

