
    <select id="agentMultiSelect" multiple="multiple" style="width:400px;"></select>

<script>

    $(document).ready(function () {
        var autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetAgentList";
        var autoCompletedataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: autoCompleteurl,
                    dataType: "json",                   
                    contentType: "application/json; charset=utf-8"
                }
            }            
        });

    
        $('#agentMultiSelect').kendoMultiSelect({
            dataSource: autoCompletedataSource,
            dataTextField: "AgentName",
            dataValueField: "AgentCode",
            height: 600,          
            headerTemplate: '<div class="col-md-offset-4"><strong>Agent...</strong></div>',           
            placeholder: "Select Agent...",
            autoClose: false,           
            dataBound: function () {               
                var current = this.value();
                this._savedOld = current.slice(0);
            }            
        });        
    });    
</script>