


<select id="BranchMultiSelect" multiple="multiple" style="width: 400px;"></select>


<script>


    $(document).ready(function () {

        var autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/SalesHome/GetSalesRegisterBranch";
        var autoCompletedataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: autoCompleteurl,
                    dataType: "json"
                }
            }
            //serverFiltering: true
        });

        $("#BranchMultiSelect").kendoMultiSelect({
            dataSource: autoCompletedataSource,
            dataTextField: "BranchName",
            dataValueField: "BranchCode",
            height: 600,
            //scrollable: {
            //    virtual: true
            //},
            headerTemplate: '<div class="col-md-offset-4"><strong>Branch List...</strong></div>',
            filter: "contains",
            placeholder: "Find Branch List...",
            autoClose: false,
            //select: OnMultiSelect,
            dataBound: function () {
                var current = this.value();
                this._savedOld = current.slice(0);
            },
            change: OnMultiSelectChange
        });

        function OnMultiSelectChange(e) {
            var previous = this._savedOld;
            var current = this.value();
            var diff = [];
            if (previous) {
                diff = $(previous).not(current).get();
            }
            this._savedOld = current.slice(0);
        }
    });
</script>


