<a href="#mailSender" data-toggle="modal">
    <div class="btn btn-circle btn-icon-only btn-default" data-placement="left" data-html="true" data-container="body" data-toggle="tooltip" title="Send Mail">
        <i class="fa fa-envelope"></i>
    </div>
</a>

<div id="mailSender" class="modal fade " role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-Preference popup_filter-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span class="fa fa-envelope"></span> Send Mail</h4>
            </div>
            <div class="modal-body">
              @Html.Partial("~/Views/Shared/Controls/ComposeMailForm.cshtml")
                </div>
                <div class="modal-footer custom-modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-green" id="sendMail" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Mail">Send</button>
                </div>
            </div>
        </div>
    </div>
 

