<div>
    <select id="selectContactStatusFilter" multiple="multiple" data-placeholder="Select Status Type...">
        <option value="Active" selected>Active</option>
        <option value="InActive">InActive</option>
        <option value="Pending">Pending</option>
        <option value="Uninstall">Uninstall</option>
    </select>
</div>

<script>

    $(document).ready(function () {
        var optional = $("#selectContactStatusFilter").kendoMultiSelect({
            autoClose: false,
            dataBound: function () {
                var current = this.value();
                this._savedOld = current.slice(0);
            },
            change: OnMultiSelectChange
        }).data("kendoMultiSelect");
        function OnMultiSelectChange(e) {
            var previous = this._savedOld;
            var current = this.value();
            var diff = [];
            if (previous) {
                diff = $(previous).not(current).get();
            }
            this._savedOld = current.slice(0);
        }

    });
</script>