<div>
    <select id="distAreaMultiSelect" multiple="multiple" style="max-height:400px;"></select>
</div>

<script>

    $(document).ready(function () {
        var autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/SalesDashboard/GetDistAreaList";
        var autoCompletedataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: autoCompleteurl,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                }
            }
        });

        $('#distAreaMultiSelect').kendoMultiSelect({
            dataSource: autoCompletedataSource,
            dataTextField: "AREA_NAME",
            dataValueField: "AREA_CODE",
            height: 600,
            filter: "contains",
            headerTemplate: '<div class="col-md-offset-4"><strong>Area...</strong></div>',
            placeholder: "Select Area...",
            autoClose: false,
            dataBound: function () {
                var current = this.value();
                this._savedOld = current.slice(0);
            },
        });
    });
</script>
