@model bool
<style>
    .selectbox {
        cursor: pointer;
        color: #337ab7;
    }

    /*div#ndp-nepali-box {
        z-index: 10076 !important;
    }

    .ui-datepicker {
        z-index: 10076 !important;
    }*/


    .input-medium {
        width: 90% !important;
    }
</style>


@*@if (NeoErp.Core.Integration._Settings._S.setting.PrimaryDateType == HRM.Enums.PrimaryDateType.EnglishDate)*@
@{
    {
        // Model==True means display date fields in same line with floating left
        // Model == False means display date fields in seperate line
        if (Model == true)
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4">Exchange Rate</label>
                    <div class="col-md-8">
                        <div class="input-group input-medium">
                            <input type="text" id="exchangeRate" class="exchange_rate form-control" placeholder="Enter Exchange Rate" />
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <span id="spandates" class="thin uppercase hidden-xs color-view bg-default bg-font-default bold uppercase sr-only" style="display:none"></span>
            <a data-toggle="modal" data-target="#form_modal23">
                <div class="pull-right btn btn-circle btn-icon-only btn-default" data-placement="left" data-html="true" data-container="body" data-toggle="tooltip" title="Exchange Rate">
                    <i class="icon-eye"></i>
                </div>
            </a>
            <div id="form_modal23" class="modal fade" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-custom">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title"><span class="fa fa-exchange"></span></h4>
                        </div>
                        <div class="modal-body">
                         
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Exchange Rate</label>
                                    <div class="col-md-8">
                                        <div class="input-group input-medium">
                                            <input type="text" id="exchangeRate" class="exchange_rate form-control" placeholder="Enter Exchange Rate" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-green applydp" id="applydp" data-dismiss="modal">Apply</button>
                        </div>
                    </div>
                </div>
            </div>


        }
    }


}


<script>
    $('#myModal').on('show.bs.modal', function () {
        $(this).find('.modal-body').css({
            'max-height': '100%'
        });
    });

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();


    });
</script>