

<div>
    <select id="menuNameMultiSelect" multiple="multiple" style="width: 400px;"></select>
</div>


<script>


    $(document).ready(function () {

        var autoCompleteurl = window.location.protocol + "//" + window.location.host + "/MenuControl/GetAllMenuByFilter?filter" + "";
        var autoCompletedataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: autoCompleteurl,
                    dataType: "json"
                }
            }
            //serverFiltering: true
        });

        $("#menuNameMultiSelect").kendoMultiSelect({

            dataSource: autoCompletedataSource,
            dataTextField: "menu_name",
            dataValueField: "menu_id",
            height: 600,
 
            headerTemplate: '<div class="col-md-offset-4"><strong>Menu Name...</strong></div>',
            placeholder: "Search Menu Name...",
            autoClose: false,
            //dataBound: function () {
            //    var current = this.value();
            //    this._savedOld = current.slice(0);
            //},
            change: OnMultiSelectChange
        });

        function OnMultiSelectChange(e) {
            var previous = this._savedOld;
            var current = this.value();
            var diff = [];
            if (previous) {
                diff = $(previous).not(current).get();
            }
            this._savedOld = current.slice(0);
        }
    });
</script>

