

<div>
    <select id="PostedGenericMultiSelect" multiple="multiple" style="width: 400px;"></select>
</div>




<script type="text/javascript">
    var postedgenericstaticdata = [
        { text: "Generic", value: "DG" },
        { text: "Posted", value: "DP" },
    ]
  
    $("#PostedGenericMultiSelect").kendoMultiSelect({
        dataSource: postedgenericstaticdata,
        dataTextField: "text",
        dataValueField: "value",
        height: 300,
        //scrollable: {
        //    virtual: true
        //},
        //headerTemplate: '<div class="col-md-offset-4"><strong>Posted/Generic...</strong></div>',
        filter: "contains",
        placeholder: "Find Posted/Generic...",
        autoClose: false,
        //select: OnMultiSelect,
        dataBound: function () {
            var current = this.value();
            this._savedOld = current.slice(0);
            $("#PostedGenericMultiSelect").data("kendoMultiSelect").options.maxSelectedItems = 1;
            $("#PostedGenericMultiSelect").data("kendoMultiSelect").value("DG");
        },
        change: OnMultiSelectChange
    });

    function OnMultiSelectChange(e) {
        var previous = this._savedOld;
        var current = this.value();
        var diff = [];
        if (previous) {
            diff = $(previous).not(current).get();
        }
        this._savedOld = current.slice(0);
    }
</script>