<div id="refcustomerCtrl" ng-controller="refrenceCodeCtrl" style="margin-top:15px;">
    <label for="element">{{element.COLUMN_HEADER}} @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.COLUMN_HEADER}}"></i>*@ <span style="color:red">{{branchcodeerror}}</span></label>
    <input id="referenceCustomer" ng-model="DocumentReference.NAME" name="customer" class="referenceCustomer ccustumer cust custumer c" style="width: 98%;" kendo-combo-box
           k-placeholder="'Select Name'"
           k-data-text-field="'CustomerName'"
           k-data-value-field="'CustomerCode'"
           k-filter="'contains'"
           k-auto-bind="true"
           k-suggest="false"
           k-options="refCustomerCodeOption"
           k-min-length="3" />
    <i class="fa fa-user"></i>
</div>