<div >
    <label for="element">Voucher No @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Voucher No"></i>*@</label>
    <input id="refrencetype" name="refrencetype" ng-model="DocumentReference.VOUCHER_NO" class="crefrencetype refrence refrencetype r" style="height:auto;"  kendo-combo-box
           k-placeholder="'Select Voucher No'"
           k-data-text-field="'ORDER_EDESC'"
           k-data-value-field="'ORDER_CODE'"
           k-data-source="refrenceCodeDataSource"
           k-option-label="'--Select Voucher No--'"
           k-auto-bind="false"
           k-min-length="3"
           k-filter="'contains'"
           />
</div>


